Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

remove popup update snapshots
  .github/workflows/run-tests-popup.yml
Due: none

fix some remote fail
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-2.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts
Due: prettier --write

fix: show “Save to SDF” on Salts and Solvents tab
  packages/ketcher-react/src/script/ui/dialog/template/TemplateDialog.tsx
Due: prettier --write

test: update snapshots
  ketcher-autotests/tests/specs/Templates/Custom-Templates/custom-templates.spec.ts-snapshots/Open-Ketcher-Custom-Templates---Window-UI-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Custom-Templates/custom-templates.spec.ts-snapshots/Open-Ketcher-When-switching-between-tabs-the-focus-is-active-1-chromium-linux.png
Due: none

Fix
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-4-Load-from-file--01520-200-and-not-shift-molecule-to-top-left-angle-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Bond-Tool/all-bonds.spec.ts
  ketcher-autotests/tests/test-data/Molfiles-V3000/Chromium-popup/monomers-connected-to-microstructures-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Chromium-popup/reaction-saved-to-MOL-V3000-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Chromium-popup/snake-mode-peptides-on-canvas-expected.mol
  ketcher-autotests/tests/test-data/RDF-V3000/Chromium-popup/ket-cascade-reaction-tails-5-with-pluses (1)-expected.rdf
  ketcher-autotests/tests/test-data/RDF-V3000/Chromium-popup/ket-issue-2-expected.rdf
  ketcher-autotests/tests/test-data/Rxn-V2000/Chromium-popup/ket-issue-2-expected.rxn
  ketcher-autotests/tests/test-data/Rxn-V3000/Chromium-popup/elements-too-close-to-single-arrow-expected.rxn
  ketcher-autotests/tests/test-data/Rxn-V3000/Chromium-popup/reaction-cant-save-to-MDL-RXN-V3000-expected.rxn
  ketcher-autotests/tests/test-data/SDF/Chromium-popup/one-attachment-point-added-in-micro-mode-expected.sdf
Due: prettier --write

Backmerge: #7606 – Pasting text into Symbol or Name fields in Monomer Wizard triggers unrelated "Convert error" (#7680)
  packages/ketcher-core/src/application/editor/modes/BaseMode.ts
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.jsx
Due: prettier --write

#7684 – Only selected atoms connected with bonds should be taken into account on monomer creation
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#7571 fix: ctrl+m or command+m open monomer creation wizard
  packages/ketcher-react/src/script/ui/state/hotkeys.ts
Due: prettier --write

shard3 pack of updates
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-for-chems-monomers.spec.ts-snapshots/Connection-rules-for-chems-Case-12-Connect--4471e-3-gap-to-atom-of-MicroMolecule-Benzene-ring-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-for-chems-monomers.spec.ts-snapshots/Connection-rules-for-chems-Case-12-Connect--92b60--only-to-atom-of-MicroMolecule-Benzene-ring-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-for-chems-monomers.spec.ts-snapshots/Connection-rules-for-chems-Case-12-Connect--a4c0d--only-to-atom-of-MicroMolecule-Benzene-ring-1-chromium-linux.png
Due: none

shard4 pack of updates
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-layout.spec.ts-snapshots/RNA-layout-Each-panel-is-collapsed-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-layout.spec.ts-snapshots/RNA-layout-RNA-Builder-panel-is-collapsed-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Ambiguous-Bases-section-checks-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Ambiguous-Bases-section-checks-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-CHEM-tab-check-at-Library-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-presence-of-Clear-canvas-button-in-top-menu-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-that-after-hiding-library-pa-69396-ains-which-concealing-content-on-the-canvas-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-that-after-hiding-library-pa-d1223-ains-which-concealing-content-on-the-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Open-Sugar-Base-Phosphate-from-ket-file-and-switch-to-Micromolecule-mode-1-chromium-linux.png
Due: none

shard5 pack of updates
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation2.spec.ts-snapshots/Case-42-17-Adding-dash-between-pair-of-MicroMolecule---RNA-nucleoside-A-in-sense-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation2.spec.ts-snapshots/Case-42-25-Adding-dash-between-pair-of-RNA-nucleotide-A---MicroMolecule-in-sense-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation2.spec.ts-snapshots/Case-42-34-Adding-dash-between-pair-of-RNA-nucleoside-A---MicroMolecule-in-sense-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation2.spec.ts-snapshots/Case-42-8-Adding-dash-between-pair-of-MicroMolecule---RNA-nucleotide-A-in-sense-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation2.spec.ts-snapshots/Case-43-17-Adding-dash-between-pair-of-MicroMolecule---RNA-nucleoside-A-in-antisense-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation2.spec.ts-snapshots/Case-43-25-Adding-dash-between-pair-of-RNA-nucleotide-A---MicroMolecule-in-antisense-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation2.spec.ts-snapshots/Case-43-34-Adding-dash-between-pair-of-RNA-nucleoside-A---MicroMolecule-in-antisense-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation2.spec.ts-snapshots/Case-43-8-Adding-dash-between-pair-of-MicroMolecule---RNA-nucleotide-A-in-antisense-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts-snapshots/Sequence-mode-edit-in-RNA-Builder-Select-nucle-29a1e-hosphate-nucleoside-should-become-nucleotide-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts-snapshots/Sequence-mode-edit-in-RNA-Builder-Select-nucle-323a0-dify-sugar-and-phosphate-as-it-one-nucleotide-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts-snapshots/Sequence-mode-edit-in-RNA-Builder-Select-one-nucleotide-and-modify-sugar-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Check-that-system-show-full-set-of-IDT-aliases-at-preview-tooltip-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Hover-mouse-over-any-letter-4c8a8-hat-the-cursor-should-be-displayed-as-a-arrow-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Base-type-of-monomer-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-CHEM-type-of-monomer-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Nucleotide-type-of-monomer-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Peptide-type-of-monomer-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Phosphate-type-of-monomer-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Sugar-type-of-monomer-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-each-type-of-monomer-in-sequence-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-each-type-of-monomer-in-sequence-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-each-type-of-monomer-in-sequence-mode-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-18-29-11-Replace-center-symbol-at-two-se-a5601-leotide-5Unres-on-peptide-Hcy-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-18-29-12-Replace-center-symbol-at-two-se-4cdf4-tide-w-o-natural-analog-Test-6-P-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-2-12-1-Replace-center-symbol-at-sequence-e06a8-ide-5Unres-on-peptide-Cys-Bn-in-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-3-12-1-Replace-last-symbol-at-sequence-o-12837-ide-5Unres-on-peptide-Cys-Bn-in-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-5-12-1-Replace-center-symbol-at-sequence-8e55a-ide-5Unres-on-peptide-Cys-Bn-in-edit-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-6-12-1-Replace-last-symbol-at-sequence-o-6488a-ide-5Unres-on-peptide-Cys-Bn-in-edit-mode-2-chromium-linux.png
Due: none

try run without remote 'update-snapshots'
  .github/workflows/run-tests-popup.yml
  .github/workflows/run-tests.yml
Due: none

Fix
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-56-Correct-length-22745-Arrow-and-Single-arrow-after-loading-from-RDF-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-macromolecule--716dd-romode-are-represented-as-S-Groups-with-bonds-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-3dd89-e-file-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-10443-e-file-in-Macro-mode-is-visible-on-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Verify-presence-and-corre-2ff77-egment-of-SDF-V3000-molecular-structure-files-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Bond-Tool/all-bonds.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Bond-Tool/all-bonds.spec.ts-snapshots/Bond-tool-click-on-an-existing-bond-using-Any-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Bond-Tool/all-bonds.spec.ts-snapshots/Bond-tool-click-on-an-existing-bond-using-Aromatic-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Bond-Tool/all-bonds.spec.ts-snapshots/Bond-tool-click-on-an-existing-bond-using-Dative-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Bond-Tool/all-bonds.spec.ts-snapshots/Bond-tool-click-on-an-existing-bond-using-DoubleAromatic-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Bond-Tool/all-bonds.spec.ts-snapshots/Bond-tool-click-on-an-existing-bond-using-DoubleCisTrans-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Bond-Tool/all-bonds.spec.ts-snapshots/Bond-tool-click-on-an-existing-bond-using-Single-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Bond-Tool/all-bonds.spec.ts-snapshots/Bond-tool-click-on-an-existing-bond-using-SingleAromatic-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Bond-Tool/all-bonds.spec.ts-snapshots/Bond-tool-click-on-an-existing-bond-using-SingleDouble-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Bond-Tool/all-bonds.spec.ts-snapshots/Bond-tool-click-on-an-existing-bond-using-SingleDown-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Bond-Tool/all-bonds.spec.ts-snapshots/Bond-tool-click-on-an-existing-bond-using-SingleUp-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Bond-Tool/all-bonds.spec.ts-snapshots/Bond-tool-click-on-an-existing-bond-using-SingleUpDown-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Bond-Tool/all-bonds.spec.ts-snapshots/Bond-tool-click-on-an-existing-bond-using-Triple-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/Chromium-popup/rdf-rxn-v2000-cascade-reaction-2-1-1-expected(2).ket
  ketcher-autotests/tests/test-data/Molfiles-V2000/micro-macro-structure-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/one-attachment-point-added-in-micro-mode-expected.mol
  ketcher-autotests/tests/test-data/SDF/micro-macro-structure-v2000-expected.sdf
  ketcher-autotests/tests/test-data/SDF/micro-macro-structure-v3000-expected.sdf
  ketcher-autotests/tests/test-data/SDF/one-attachment-point-added-in-micro-modesdfv2000-expected.sdf
  ketcher-autotests/tests/test-data/SDF/one-attachment-point-added-in-micro-modesdfv3000-expected.sdf
Due: prettier --write

pack of independent fixes
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-18-29-11-Replace-center-symbol-at-two-se-a5601-leotide-5Unres-on-peptide-Hcy-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-18-29-12-Replace-center-symbol-at-two-se-4cdf4-tide-w-o-natural-analog-Test-6-P-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-2-12-1-Replace-center-symbol-at-sequence-e06a8-ide-5Unres-on-peptide-Cys-Bn-in-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-3-12-1-Replace-last-symbol-at-sequence-o-12837-ide-5Unres-on-peptide-Cys-Bn-in-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-5-12-1-Replace-center-symbol-at-sequence-8e55a-ide-5Unres-on-peptide-Cys-Bn-in-edit-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-6-12-1-Replace-last-symbol-at-sequence-o-6488a-ide-5Unres-on-peptide-Cys-Bn-in-edit-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/data-s-group-tool.spec.ts-snapshots/Data-S-Group-tool-Add-Data-S-Group-for-the-reaction-components-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts-snapshots/Atom-Tool-Click-on-the-keyboard-shortcut-related-to-the-molecule-6-chromium-linux.png
  ketcher-autotests/tests/test-data/RDF-V2000/ket-single-reaction-2x1-name-conditions-long-expected.rdf
Due: none

pack of independent fixes - 2
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-2-Check-bP-monomer-s-ghost-image-initially--87274--canvas-scale-while-hovered-over-Snake-mode-1-chromium-linux.png
Due: none

docs(readme): add section on hiding toolbar buttons
  README.md
Due: none

- update snapshots
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-11-Check-t-729fa-of-the-monomer-with-R2-on-canvas-Phosphates-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-13-Check-t-b9eb5-ight-of-the-monomer-with-R2-on-canvas-Chems-1-chromium-popup-linux.png
Due: none

feat(context-menu): remove “Add attachment point” in micro mode; docs: add note
  documentation/help.md
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AtomMenuItems.tsx
Due: prettier --write

pack of independent fixes - 3
  ketcher-autotests/tests/specs/Reagents/RXN-Format/reagents-rxn-format.spec.ts-snapshots/Reagents-RXN-format-Open-from-file-in-RXN-V2000-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Reagents/RXN-Format/reagents-rxn-format.spec.ts-snapshots/Reagents-RXN-format-Open-from-file-in-RXN-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Reagents/RXN-Format/reagents-rxn-format.spec.ts-snapshots/Reagents-RXN-format-Open-from-file-in-RXN-V3000-format-with-reagents-above-and-below-arrow-1-chromium-linux.png
  ketcher-autotests/tests/specs/Reagents/RXN-Format/reagents-rxn-format.spec.ts-snapshots/Reagents-RXN-format-Paste-from-clipboard-in-RXN-V3000-format-1-chromium-linux.png
Due: none

pack of independent fixes - 4
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-1-Check-DOTA-monomer-s-ghost-image-initiall-96b83-s-canvas-scale-while-hovered-over-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-2-Check-AmMC6T-monomer-s-ghost-image-initia-c6cdf--canvas-scale-while-hovered-over-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-2-Check-DOTA-monomer-s-ghost-image-initiall-80147--canvas-scale-while-hovered-over-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-2-Check-MOE-A-P-monomer-s-ghost-image-initi-4ddcd--canvas-scale-while-hovered-over-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-2-Check-bP-monomer-s-ghost-image-initially--87274--canvas-scale-while-hovered-over-Snake-mode-1-chromium-linux.png
Due: none

Bump Ketcher version to 3.5.0
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

Bump Ketcher version to 3.6.0
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

#6358 - Add Lasso Selection/Fragment Selection tool in macromolecules mode *Added lasso selection tool *Added SelectBase class for selection tools *Fixed area selection with shift key pressed
  packages/ketcher-core/__tests__/application/editor/tools/SelectRectangleTool.test.ts
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/internal.ts
  packages/ketcher-core/src/application/editor/tools/index.ts
  packages/ketcher-core/src/application/editor/tools/select/SelectBase.ts
  packages/ketcher-core/src/application/editor/tools/select/SelectLasso.ts
  packages/ketcher-core/src/application/editor/tools/select/SelectRectangle.ts
  packages/ketcher-core/src/application/editor/tools/types.ts
  packages/ketcher-core/src/application/render/renderers/TransientView/SelectionView.ts
  packages/ketcher-core/src/application/render/renderers/TransientView/TransientDrawingView.ts
  packages/ketcher-core/src/application/render/renderers/TransientView/index.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-core/src/domain/entities/DrawingEntity.ts
  packages/ketcher-macromolecules/src/components/LeftMenuComponent/LeftMenuComponent.tsx
Due: prettier --write

Fix critical vulnerability
  package-lock.json
Due: prettier --write

Fix
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-macromolecule--716dd-romode-are-represented-as-S-Groups-with-bonds-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-3dd89-e-file-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-10443-e-file-in-Macro-mode-is-visible-on-Micro-mode-1-chromium-linux.png
Due: none

pack of independent fixes - 5
  ketcher-autotests/tests/specs/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-12-System-adds-both-sense-and-antisense-chain-nucleosids-in-SYNC-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-13-System-can-add--79548-n-phosphate-and-nucleotide-in-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Smile-Files/smile-files.spec.ts-snapshots/SMILES-files-SmileString-from-reaction-consists-of-two-or-more-reaction-arrows-and-structures-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Smile-Files/smile-files.spec.ts-snapshots/SMILES-files-SmileString-from-reaction-consists-of-two-or-more-reaction-arrows-and-structures-2-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Smile-Files/smile-files.spec.ts-snapshots/SMILES-files-Validate-that-the-schema-with-ret-70402--could-be-saved-to-SMILE-file-and-loaded-back-1-chromium-linux.png
Due: none

#6657 – Dedupe React versions, suppress TypeScript errors
  package-lock.json
  packages/ketcher-react/package.json
  packages/ketcher-react/src/hooks/useSubscribtionOnEvents.ts
  packages/ketcher-react/src/script/ui/App/App.tsx
  packages/ketcher-react/src/script/ui/state/editor/middlewares/monomerCreation.ts
  packages/ketcher-react/src/script/ui/state/hooks.ts
  packages/ketcher-react/src/script/ui/state/index.js
Due: prettier --write

- fixed lint - fixed unit tests
  packages/ketcher-macromolecules/src/components/modal/Delete/__snapshots__/Delete.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/Open/__snapshots__/Open.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/UpdateSequenceInRNABuilder/__snapshots__/UpdateSequenceInRNABuilder.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/save/__snapshots__/Save.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/__snapshots__/RnaEditorExpanded.test.tsx.snap
  packages/ketcher-macromolecules/src/components/shared/modal/__snapshots__/Modal.test.tsx.snap
  packages/ketcher-react/src/script/ui/component/form/colorPicker/__snapshots__/ColorPicker.test.js.snap
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/__snapshots__/AbbreviationLookup.utils.test.tsx.snap
  packages/ketcher-react/src/script/ui/views/modal/components/InfoModal/__snapshots__/InfoModal.test.tsx.snap
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/__snapshots__/Save.test.tsx.snap
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ToolbarMultiToolItem/usePortalStyle.ts
Due: prettier --write

#6657 – Bump miew-react to 0.11.0
  package-lock.json
  packages/ketcher-react/package.json
Due: prettier --write

#6657 – Update deps
  package-lock.json
  package.json
Due: prettier --write

- set versions for minimatch and serve-handler to repair serve
  package-lock.json
  package.json
Due: prettier --write

#6657 – Change peerDependencies of Ketcher packages to accept React v19, bump React to v19 in example app
  example/package.json
  package-lock.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-macromolecules/src/components/shared/Tabs/TabPanel.module.less
  packages/ketcher-macromolecules/src/components/shared/Tabs/TabPanel.styles.ts
  packages/ketcher-macromolecules/src/components/shared/Tabs/TabPanel.tsx
  packages/ketcher-react/package.json
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#6657 – Use React v19 for demo and example-ssr packages, update some dependencies
  demo/package.json
  example-ssr/package.json
  example/package.json
  package-lock.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
Due: prettier --write

- fixed/suppressed types errors in ketcher-react after upgrade of react types to 19 - upgraded @emotion/styled
  package-lock.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-react/src/MicromoleculesEditor.tsx
  packages/ketcher-react/src/script/ui/App/App.tsx
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
  packages/ketcher-react/src/script/ui/component/form/form/form.d.ts
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.tsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.test.tsx
  packages/ketcher-react/src/script/ui/views/AppClipArea.tsx
  packages/ketcher-react/src/script/ui/views/Editor.d.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useAtomStereo.ts
  packages/ketcher-react/src/script/ui/views/modal/components/Text/FontControl/FontControl.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.test.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/Miew.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ToolbarMultiToolItem/usePortalStyle.ts
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomControls.tsx
Due: prettier --write

- removed render 0 timeout in part of tests
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-2.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts
Due: prettier --write

- removed excessive files - removed fragments from context menu
  added_testIds_to_reimage.patch
  added_test_ids_to_texts.patch
  added_testids_to_templates_library.patch
  packages/ketcher-macromolecules/src/components/contextMenu/ContextMenu.tsx
  packages/ketcher-macromolecules/src/typings.d.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
