Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

update s-group styles
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#1353 add close/cancel buttons to modals (#1477)
  packages/ketcher-react/src/script/ui/dialog/toolbox/enhancedStereo/enhancedStereo.tsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
  packages/ketcher-react/src/style/mixins.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1428 Calculated Values redesign (#1476)
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/Analyse.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/Analyse.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix design issues
  packages/ketcher-react/src/script/ui/component/form/form/form.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

update indigo-ketcher version
  packages/ketcher-standalone/package.json
  yarn.lock
Due: prettier --write

remove redundant styles
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#1396-s-groups-redesign-bugfix (#1478)
  packages/ketcher-react/src/script/ui/component/form/form/form.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

add cancel button to modal windows
  packages/ketcher-react/src/script/ui/dialog/toolbox/enhancedStereo/enhancedStereo.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
Due: prettier --write

atom properties redesign
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/component/form/form/form.module.less
  packages/ketcher-react/src/script/ui/component/form/input.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/ElementNumber/ElementNumber.tsx
  packages/ketcher-react/src/style/variables.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

replace mui accordion, add scroll
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

update error modal styles
  example/src/ErrorModal/ErrorModal.css
  example/src/ErrorModal/ErrorModal.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix styles in reaction auto-mapping window
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Automap/Automap.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Automap/Automap.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1426 Floating windows - Change Atom properties window design (#1469)
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/component/form/form/form.module.less
  packages/ketcher-react/src/script/ui/component/form/input.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/ElementNumber/ElementNumber.tsx
  packages/ketcher-react/src/style/variables.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

update enhancedStereo styles
  packages/ketcher-react/src/script/ui/dialog/toolbox/enhancedStereo/enhancedStereo.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/enhancedStereo/enhancedStereo.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix styles in reaction auto-mapping window (#1483)
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Automap/Automap.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Automap/Automap.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Revert "fix styles in reaction auto-mapping window (#1483)"
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Automap/Automap.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Automap/Automap.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Revert "fix styles in reaction auto-mapping window (#1483)" (#1484)
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Automap/Automap.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Automap/Automap.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix styles in reaction auto-mapping window (#1485)
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Automap/Automap.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Automap/Automap.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

update Automap styles
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Automap/Automap.tsx
Due: prettier --write

update Automap.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Automap/Automap.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

update Analyse window styles
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/SaveImageTab.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/Analyse.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/Analyse.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/components/FrozenInput/FrozenInput.jsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

change specSimbols table behavior
  packages/ketcher-react/src/script/ui/views/modal/components/Text/SpecialSymbolsList/SpecialSymbolsList.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

changed specSimbol button styles
  packages/ketcher-react/src/script/ui/views/modal/components/Text/SpecialSymbols/SpecialSymbolsButton.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/SpecialSymbols/SpecialSymbolsButton.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix styles
  packages/ketcher-react/src/script/ui/views/modal/components/Text/TextButton/TextButton.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

changed order of buttons
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.tsx
Due: prettier --write

changed textTool style
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

update styles
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/TextEditor.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix button styles
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

remove overflow of window
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

change fontSize button on Select
  packages/ketcher-react/src/script/ui/views/modal/components/Text/FontControl/FontControl.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/FontControl/FontControl.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix clickable area
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

delete unused wrappers
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.tsx
Due: prettier --write

add border to Editor field
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#1450 open structure window doesn't match mockup (#1490)
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/TextEditor.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix clickable area (#1491)
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Revert "fix clickable area (#1491)"
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Revert "fix clickable area (#1491)" (#1492)
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

rework fix clickable area
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
