Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- POC for sequence mode caret
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
Due: prettier --write

Autotests: #6043 - autotests replace file comparison for cdxml files only operations with valid helper functions verifyfileexport (#6260)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/CDXML-Enhanced-Stereochemistry/cdxml-enhanced-stereochemistry.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/CDXML-Files/cdxml-files.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
Due: prettier --write

Last fix
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts
  ketcher-autotests/tests/utils/macromolecules/polymerBond.ts
  packages/ketcher-core/src/application/render/renderers/AtomRenderer.ts
Due: prettier --write

data attribudetes added
  ketcher-autotests/tests/utils/types.ts
  packages/ketcher-core/src/application/render/renderers/AtomRenderer.ts
  packages/ketcher-core/src/application/render/renderers/MonomerToAtomBondRenderer.ts
Due: prettier --write

Fix for atoms added
  ketcher-autotests/tests/Macromolecule-editor/Antisense-Chains/antisense-chain-layout.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts
Due: prettier --write

Backmerge: #6235 – Incorrect representation of hydrogens for alias charge valence and radical properties in macro mode (#6262)
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts-snapshots/Verify-that-the-structure-in-macro-mode-can-be-92345-d-atoms-are-correctly-restored-when-re-loaded-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts-snapshots/Verify-that-the-structure-in-macro-mode-can-be-dede2-d-atoms-are-correctly-restored-when-re-loaded-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-3dd89-e-file-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-10443-e-file-in-Macro-mode-is-visible-on-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Check-that-switching-bet-407ef-A-with-modified-monomer-with-modyfied-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-switching-between-micro-and-macro-modes-displays-molecules-without-structural-changes-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-for-molecules-with-monomers.spec.ts-snapshots/Connection-rules-for-molecules-with-monomers--aff91-lish-connection-between-monomers-and-molecule-3-chromium-linux.png
  packages/ketcher-core/src/application/editor/MacromoleculesConverter.ts
  packages/ketcher-core/src/application/render/renderers/AtomRenderer.ts
  packages/ketcher-core/src/domain/entities/CoreAtom.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

feat: add logic for natural analog base
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
Due: prettier --write

#6034 – Combine two editors in ketcher-react package in order to make macro switcher enabled by default
  example-separate-editors/.eslintignore
  example-separate-editors/.eslintrc.json
  example-separate-editors/.prettierignore
  example-separate-editors/.stylelintignore
  example-separate-editors/README.md
  example-separate-editors/config/webpack.config.js
  example-separate-editors/package.json
  example-separate-editors/public/apple-touch-icon.png
  example-separate-editors/public/favicon-16x16.png
  example-separate-editors/public/favicon-32x32.png
  example-separate-editors/public/favicon.ico
  example-separate-editors/public/iframe.html
  example-separate-editors/public/index.html
  example-separate-editors/public/logo.svg
  example-separate-editors/public/manifest.json
  example-separate-editors/public/robots.txt
  example-separate-editors/src/App.tsx
  example-separate-editors/src/PolymerToggler/PolymerToggler.module.css
  example-separate-editors/src/PolymerToggler/PolymerToggler.tsx
  example-separate-editors/src/PolymerToggler/index.ts
  example-separate-editors/src/index.css
  example-separate-editors/src/index.tsx
  example-separate-editors/src/react-app-env.d.ts
  example-separate-editors/src/setupTests.ts
  example-separate-editors/src/typing.d.ts
  example-separate-editors/src/wdyr.ts
  example-separate-editors/tsconfig.json
  example-separate-editors/vite.config.js
  example/src/App.tsx
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/KetcherEditors.tsx
  packages/ketcher-macromolecules/src/components/ModeControl/ModeControl.tsx
  packages/ketcher-macromolecules/src/components/ModeControl/index.ts
  packages/ketcher-macromolecules/src/index.tsx
  packages/ketcher-react/package.json
  packages/ketcher-react/rollup.config.js
  packages/ketcher-react/src/Editor.tsx
  packages/ketcher-react/src/MicroEditor.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/ModeControl/ModeControl.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/ModeControl/index.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Fix CanvasLoad prohibit loading the same struct. Fix Editor.options reloading struct clone.
  packages/ketcher-core/src/application/editor/operations/CanvasLoad.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

pre-compile schema on dev mode
  packages/ketcher-core/package.json
Due: prettier --write

6108-system-allow-to-select-monomers-behind-opened-context-menu (#6261)
  packages/ketcher-core/src/application/editor/Editor.ts
Due: prettier --write

#6034 – Add loader when switching modes, change disable prop name, adjust readme files
  README.md
  packages/ketcher-react/README.md
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/Editor.tsx
  packages/ketcher-react/src/MicromoleculesEditor.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

SMARTS files comparison code have been replaced with the appropiate helper function (verifyFileExport()). (#6253)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts
  ketcher-autotests/tests/Reagents/SMARTS-Format/reagents-smarts-format.spec.ts
Due: prettier --write

import-saving-idt.spec.ts done
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-52M-5f5e4-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-A-C--3fa80-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-G--612f4-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-mA-m-fddbd-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
Due: prettier --write

Ultimate solution
  ketcher-autotests/tests/utils/macromolecules/index.ts
Due: prettier --write

import-saving-idt.spec.ts updated
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts
Due: prettier --write

Fix Editor.structToAddFragment cloning for history. Fix Struct.clone with default calculations. Fix autotest Clear Canvas - Structure is opened from smile-string comments.
  ketcher-autotests/tests/User-Interface/Clear-Canvas/clear-canvas.spec.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

Final fix
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/utils/macromolecules/library.ts
Due: prettier --write

Use separate build folder to run docker tests
  ketcher-autotests/README.md
  ketcher-autotests/docker-compose.yml
Due: none

#5995 - Synchronize the library tab with typing type switcher in sequence mode (#6251)
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-52M-5f5e4-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-A-C--3fa80-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-G--612f4-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-mA-m-fddbd-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts
  ketcher-autotests/tests/utils/macromolecules/index.ts
  ketcher-autotests/tests/utils/macromolecules/library.ts
  packages/ketcher-macromolecules/src/components/SequenceTypeGroupButton/SequenceTypeGroupButton.tsx
  packages/ketcher-macromolecules/src/constants.ts
  packages/ketcher-macromolecules/src/state/library/librarySlice.ts
Due: prettier --write

Use separate build folder to run docker tests (#6280)
  ketcher-autotests/README.md
  ketcher-autotests/docker-compose.yml
Due: none

fix: Color schema for Favorites tab at RNA Library is wrong for Peptides
  packages/ketcher-core/src/application/render/renderers/PeptideRenderer.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/MonomerGroup.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/types.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/styles.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/types.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryList/MonomerList.tsx
Due: prettier --write

test: update test
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetGroup/__snapshots__/RnaPresetGroup.test.tsx.snap
Due: none

first draft
  ketcher-autotests/tests/Reactions/Reaction-tools/Multi-Tailed-Arrow-Tool/multi-tailed-arrow-tool.spec.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
