Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

Delete ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-1-chromium-popup-linux.png
Due: none

Delete ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-2-chromium-popup-linux.png
Due: none

Delete ketcher-autotests/tests/specs/Settings/Bonds/bonds-settings.spec.ts-snapshots/Bonds-Settings-Verify-Bonds-setting-menu-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/Bonds/bonds-settings.spec.ts-snapshots/Bonds-Settings-Verify-Bonds-setting-menu-1-chromium-linux.png
Due: none

Delete ketcher-autotests/tests/specs/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-1-chromium-linux.png
Due: none

Delete ketcher-autotests/tests/specs/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-2-chromium-linux.png
Due: none

Autotests: 7479 Transform isolated test execution to clear canvas test execution for bonds-settings.spec.ts (#7768)
  ketcher-autotests/tests/specs/Settings/Bonds/bonds-settings.spec.ts-snapshots/Bonds-Settings-Verify-Bonds-setting-menu-1-chromium-linux.png
Due: none

fixes
  ketcher-autotests/tests/pages/common/ErrorMessageDialog.ts
  ketcher-autotests/tests/pages/constants/bondSelectionTool/Constants.ts
  ketcher-autotests/tests/pages/molecules/canvas/InfoMessageDialog.ts
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Bugs/ketcher-3.6.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/InChi/InChi.spec.ts
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Open-File/Load-Fragment/load-fragment.spec.ts
  ketcher-autotests/tests/specs/Indigo-Tools/Calculated-Values-Tool/calculated-values.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-fasta.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts
  ketcher-autotests/tests/specs/Reactions/Cascade-Reactions/cascade-reactions.spec.ts
  ketcher-autotests/tests/specs/User-Interface/Floating-windows/floating-windows.spec.ts
  ketcher-autotests/tests/utils/macromolecules/polymerBond.ts
  packages/ketcher-core/src/application/render/restruct/rebond.ts
  packages/ketcher-react/src/script/ui/views/modal/components/InfoModal/InfoModal.tsx
Due: prettier --write

f2
  ketcher-autotests/tests/pages/constants/bondSelectionTool/Constants.ts
  packages/ketcher-core/src/application/render/restruct/rebond.ts
  packages/ketcher-react/src/script/ui/views/modal/components/InfoModal/__snapshots__/InfoModal.test.tsx.snap
Due: prettier --write

f3
  ketcher-autotests/tests/specs/Reactions/Cascade-Reactions/cascade-reactions.spec.ts
Due: prettier --write

Autotests: #7540 - autotests extend getbondlocator on molecules canvas (#7737)
  ketcher-autotests/tests/pages/common/ErrorMessageDialog.ts
  ketcher-autotests/tests/pages/constants/bondSelectionTool/Constants.ts
  ketcher-autotests/tests/pages/molecules/canvas/InfoMessageDialog.ts
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Bugs/ketcher-3.6.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/InChi/InChi.spec.ts
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Open-File/Load-Fragment/load-fragment.spec.ts
  ketcher-autotests/tests/specs/Indigo-Tools/Calculated-Values-Tool/calculated-values.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-fasta.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts
  ketcher-autotests/tests/specs/Reactions/Cascade-Reactions/cascade-reactions.spec.ts
  ketcher-autotests/tests/specs/User-Interface/Floating-windows/floating-windows.spec.ts
  ketcher-autotests/tests/utils/macromolecules/polymerBond.ts
  packages/ketcher-core/src/application/render/restruct/rebond.ts
  packages/ketcher-react/src/script/ui/views/modal/components/InfoModal/InfoModal.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/InfoModal/__snapshots__/InfoModal.test.tsx.snap
Due: prettier --write

#7553 fix test
  packages/ketcher-react/src/script/ui/views/toolbars/ModeControl/ModeControl.tsx
Due: prettier --write

#7770 Refactor code
  packages/ketcher-react/src/hooks/useRequestAnimationFrame.ts
  packages/ketcher-react/src/script/ui/views/toolbars/ArrowScroll/ArrowScroll.tsx
Due: prettier --write

fix
  packages/ketcher-react/src/hooks/index.ts
Due: prettier --write

#7560 - Improving snake layout logic to include small molecules
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SingleMonomerSnakeLayoutNode.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SnakeLayoutModel.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SnakeLayoutModelChain.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SugarWithBaseSnakeLayoutNode.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/types.ts
Due: prettier --write

fix test
  packages/ketcher-react/src/script/ui/views/toolbars/ModeControl/ModeControl.tsx
Due: prettier --write

- add tests; - add test file; - add function 'selectTAndDeselectWithLasso' - add screenshots
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-015a1-structure-by-lasso-and-Undo-Sequence-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-02da6-s-and-the-icon-display-the-last-selected-tool-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-04859--during-the-subsequent-pass-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-0adb9--during-the-subsequent-pass-Sequence-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-12f64--it-during-the-subsequent-pass-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-1a709-asso-automatically-highlighted-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-1e91f-ted-structure-by-lasso-and-Undo-Flex-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-2cce5-ed-structure-by-lasso-and-Undo-Snake-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-2e412-s-and-the-icon-display-the-last-selected-tool-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-2edb0-ed-structure-by-lasso-and-Undo-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-3b6df-ift-Tab-are-visible-on-hover-in-the-sidebar-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-3bab3-t-it-during-the-subsequent-pass-Flex-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-53ed7-pe-is-a-Rectangle-when-no-tool-is-selected-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-55833-lasso-automatically-highlighted-Flex-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-57f4e-t-it-during-the-subsequent-pass-Flex-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-5861c-s-and-the-icon-display-the-last-selected-tool-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-6faaf-s-and-the-icon-display-the-last-selected-tool-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-78278--by-clicking-and-dragging-the-mouse-for-Lasso-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-7c498-structure-by-lasso-and-Undo-Sequence-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-93613-ift-Tab-are-visible-on-hover-in-the-sidebar-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-9d549--rectangle-lasso-and-fragment-selection-tool-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-a58b2-ted-structure-by-lasso-and-Undo-Flex-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-ab9ba--rectangle-lasso-and-fragment-selection-tool-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-b6526-structure-by-lasso-and-Undo-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-bba8e--it-during-the-subsequent-pass-Snake-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-c1942--rectangle-lasso-and-fragment-selection-tool-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-d3261-ed-structure-by-lasso-and-Undo-Snake-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-e59b3-ted-structure-by-lasso-and-Undo-Flex-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-e6f93-o-automatically-highlighted-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/KET/micro-and-macro-structures.ket
  ketcher-autotests/tests/utils/canvas/tools/helpers.ts
Due: prettier --write

- refactored snake layout to work on rows and chains from SnakeLayoutModel
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

feat: add aliasHELM field in ketSerializer
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
Due: prettier --write

- add tests; - add screenshots
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-022e5--works-for-selection-by-Lasso-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-1002b--lasso-through-right-click-menu-Flex-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-13280-n-works-for-selection-by-Lasso-Flex-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-18f00-orks-for-selection-by-Lasso-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-1a7de-y-clicking-empty-area-of-canvas-Flex-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-282dd--clicking-empty-area-of-canvas-Snake-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-31f24-icking-empty-area-of-canvas-Sequence-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-36d78--clicking-empty-area-of-canvas-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-3e8d8--works-for-selection-by-Lasso-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-41ba1-lasso-through-right-click-menu-Snake-mode-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-43195-u-works-for-selection-by-Lasso-Flex-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-432dd--lasso-through-right-click-menu-Flex-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-4fd14--lasso-through-right-click-menu-Flex-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-56732-so-through-right-click-menu-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-747d4-icking-empty-area-of-canvas-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-749b8-y-clicking-empty-area-of-canvas-Flex-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-7c354-so-through-right-click-menu-Sequence-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-83085-so-through-right-click-menu-Sequence-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-9ebb8--lasso-through-right-click-menu-Flex-mode-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-c3c47-lasso-through-right-click-menu-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-d75c0-so-through-right-click-menu-Sequence-mode-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-d773d-orks-for-selection-by-Lasso-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-e1221-lasso-through-right-click-menu-Snake-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-fb878-lasso-through-right-click-menu-Snake-mode-3-chromium-popup-linux.png
Due: prettier --write

- delete eslint annotations
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts
Due: prettier --write

test: update screenshots
  ketcher-autotests/tests/test-data/KET/Modifying-Amino-Acids/12. Natural amino acid operation for N natural analog amino acid group-Micro.ket
  ketcher-autotests/tests/test-data/KET/Modifying-Amino-Acids/13. Natural amino acid operation for O natural analog amino acid group-Micro.ket
  ketcher-autotests/tests/test-data/KET/Modifying-Amino-Acids/14. Inversion operation for P natural analog amino acid group-Micro.ket
  ketcher-autotests/tests/test-data/KET/Modifying-Amino-Acids/15. Natural amino acid operation for Q natural analog amino acid group-Micro.ket
  ketcher-autotests/tests/test-data/KET/Modifying-Amino-Acids/16. Natural amino acid operation for R natural analog amino acid group-Micro.ket
  ketcher-autotests/tests/test-data/KET/Modifying-Amino-Acids/17. Natural amino acid operation for S natural analog amino acid group-Micro.ket
  ketcher-autotests/tests/test-data/KET/Modifying-Amino-Acids/18. Natural amino acid operation for T natural analog amino acid group-Micro.ket
  ketcher-autotests/tests/test-data/KET/Modifying-Amino-Acids/19. Natural amino acid operation for U natural analog amino acid group-Micro.ket
  ketcher-autotests/tests/test-data/KET/Modifying-Amino-Acids/20. Natural amino acid operation for V natural analog amino acid group-Micro.ket
  ketcher-autotests/tests/test-data/KET/Modifying-Amino-Acids/21. Natural amino acid operation for W natural analog amino acid group-Micro.ket
  ketcher-autotests/tests/test-data/KET/Modifying-Amino-Acids/22. Natural amino acid operation for Y natural analog amino acid group-Micro.ket
Due: none

fix: fix errors in console in dev mode
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/components/menu/subMenu/SubMenu.tsx
Due: prettier --write

#7730 – Add ability to create an attachment point via attachment atom
  packages/ketcher-core/src/application/render/raphaelRender.ts
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/assets/icons/files/connection-point.svg
  packages/ketcher-react/src/components/Icon/utils/iconNameToIcon.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.module.less
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useMakeLeavingGroupAtomMenuItem.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7730 – Add to attachment point section, change selects appearance in edit dialog
  packages/ketcher-react/src/script/ui/views/components/AttachmentPointEditPopup/AttachmentPointEditPopup.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7730 – Highlight atoms for potential attachment points on hover only
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#7730 – Change R-label position for attachment points
  packages/ketcher-core/src/application/render/restruct/reatom.ts
Due: prettier --write

#7730 – Add ability to create attachment points from implicit hydrogen AA
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useMakeLeavingGroupAtomMenuItem.tsx
Due: prettier --write

#7730 – Allow for leaving atom flip in edit dialog
  packages/ketcher-core/src/application/editor/shared/customEvents.ts
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/AttachmentPointEditPopup/AttachmentPointEditPopup.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AttachmentPointLabelMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPoint/AttachmentPoint.tsx
Due: prettier --write

#7730 – Create context menu when right-clicking on R-label
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/contextMenu.types.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useMakeLeavingGroupAtomMenuItem.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AttachmentPointLabelMenuItems.tsx
Due: prettier --write

#7730 – Visuals fix
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7730 – Add AP highlight on canvas when hovering in attributes panel
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPoint/AttachmentPoint.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPointControls/AttachmentPointControls.tsx
Due: prettier --write

#7730 – Add AP highlight in attributes panel when hovering on canvas
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPoint/AttachmentPoint.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPointControls/AttachmentPointControls.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPointControls/AttachmentPointControls.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7730 – Ability to edit attachment point from attributes panel
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/AttachmentPointEditPopup/AttachmentPointEditPopup.module.less
  packages/ketcher-react/src/script/ui/views/components/AttachmentPointEditPopup/AttachmentPointEditPopup.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPoint/AttachmentPoint.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPoint/AttachmentPoint.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPointControls/AttachmentPointControls.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPointControls/AttachmentPointControls.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/hooks/useAttachmentPointSelectsData.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- add tests; - add test file; - add screenshots
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-03a99-l-molecules-connected-via-bonds-Flex-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-0bd94-ucture-by-Fragment-and-Undo-Sequence-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-22a14-ucture-by-Fragment-and-Undo-Sequence-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-2d11d-l-molecules-connected-via-bonds-Flex-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-30380-structure-by-Fragment-and-Undo-Snake-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-3adde-ucture-by-Fragment-and-Undo-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-55e6c--structure-by-Fragment-and-Undo-Flex-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-5919b--structure-by-Fragment-and-Undo-Flex-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-78278--by-clicking-and-dragging-the-mouse-for-Lasso-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-7867a--molecules-connected-via-bonds-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-79381-lecules-connected-via-bonds-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-a91d0--molecules-connected-via-bonds-Snake-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-ac2ee--structure-by-Fragment-and-Undo-Flex-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-c255a-lecules-connected-via-bonds-Sequence-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-d02f8-structure-by-Fragment-and-Undo-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-e5134-structure-by-Fragment-and-Undo-Snake-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/KET/benzene-ring.ket
  ketcher-autotests/tests/test-data/KET/rna-connected-to-benzene-ring.ket
Due: prettier --write

#7730 – Fix post-demo comments
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/assets/icons/files/leaving-group.svg
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useMakeLeavingGroupAtomMenuItem.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/hooks/useAttachmentPointSelectsData.tsx
Due: prettier --write

#7730 – Fix ability to assign AP for non simple single bonds
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write
