Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- fixed monomer positioning
  packages/ketcher-core/src/application/editor/Editor.ts
Due: prettier --write

- fixes
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/drag-drop-bond-establishment.spec.ts
  packages/ketcher-core/src/application/editor/__tests__/bondConnectionHelpers.test.ts
  packages/ketcher-core/src/application/editor/tools/bondConnectionHelpers.ts
  packages/ketcher-macromolecules/src/state/library/librarySlice.test.ts
Due: prettier --write

- specs
  openspec/changes/drag-drop-bond-establishment/.openspec.yaml
  openspec/changes/drag-drop-bond-establishment/design.md
  openspec/changes/drag-drop-bond-establishment/proposal.md
  openspec/changes/drag-drop-bond-establishment/specs/drag-drop-bond-establishment/spec.md
  openspec/changes/drag-drop-bond-establishment/specs/macromolecules/spec.md
  openspec/changes/drag-drop-bond-establishment/tasks.md
Due: none

- fixed issues
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
  packages/ketcher-core/src/domain/AttachmentPoint.ts
Due: prettier --write

- fixed issues
  packages/ketcher-core/src/application/editor/Editor.ts
Due: prettier --write

- removed tests
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/drag-drop-bond-establishment.spec.ts
Due: prettier --write

- fixed tests
  packages/ketcher-core/src/application/editor/__tests__/bondConnectionHelpers.test.ts
Due: prettier --write

- fixed connection
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
  packages/ketcher-core/src/domain/AttachmentPoint.ts
  packages/ketcher-core/src/domain/types/monomers.ts
  packages/ketcher-macromolecules/src/components/DragGhost/DragGhost.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- fixed issues
  packages/ketcher-core/src/application/editor/libraryItemDragDrop/LibraryItemDragDropHandler.ts
Due: prettier --write

- refactor
  openspec/changes/drag-drop-bond-establishment/design.md
  openspec/changes/drag-drop-bond-establishment/proposal.md
  openspec/changes/drag-drop-bond-establishment/tasks.md
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/libraryItemDragDrop/LibraryItemDragDropHandler.ts
  packages/ketcher-core/src/application/editor/libraryItemDragDrop/index.ts
  packages/ketcher-core/src/application/editor/libraryItemDragDrop/libraryItemDragDrop.types.ts
  packages/ketcher-core/src/application/editor/libraryItemDragDrop/repositioning.ts
Due: prettier --write

- refactor
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/editor.types.ts
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-1-Verify-that-ghost-image-of-bP-is-rendered-13f28-ement-after-click-but-before-drag-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-2-Verify-that-ghost-image-of-bP-is-rendered-37581-ent-after-click-but-before-drag-Snake-mode-1-chromium-linux.png
Due: none

- fixed hover area
  packages/ketcher-core/src/application/editor/libraryItemDragDrop/LibraryItemDragDropHandler.ts
Due: prettier --write

- fixed tests and linter
  packages/ketcher-core/src/application/editor/libraryItemDragDrop/repositioning.ts
  packages/ketcher-macromolecules/src/state/library/librarySlice.test.ts
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-34---Sy-ae0ac-he-same-structure-but-different-names-part2-1-chromium-popup-linux.png
Due: none

- fixed tests
  ketcher-autotests/tests/specs/Macromolecule-editor/Rectangle-Selection-Tool/rectangle-selection-tool.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Rectangle-Selection-Tool/rectangle-selection-tool.spec.ts-snapshots/Rectangle-Selection-Tool-Monomer-appears-above-other-monomers-when-selected-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Check-snake-mode-arrange-for-RNA-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-chain-with-side-chains-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-chain-with-side-chains-2-chromium-linux.png
Due: prettier --write

- fixed diagrams
  .memory-bank/architecture.md
Due: none

- archived specs
  .memory-bank/features/README.md
  .memory-bank/features/drag-drop-bond-establishment.md
  .memory-bank/features/macromolecules.md
  openspec/changes/archive/2026-07-22-drag-drop-bond-establishment/.openspec.yaml
  openspec/changes/archive/2026-07-22-drag-drop-bond-establishment/design.md
  openspec/changes/archive/2026-07-22-drag-drop-bond-establishment/proposal.md
  openspec/changes/archive/2026-07-22-drag-drop-bond-establishment/specs/drag-drop-bond-establishment/spec.md
  openspec/changes/archive/2026-07-22-drag-drop-bond-establishment/specs/macromolecules/spec.md
  openspec/changes/archive/2026-07-22-drag-drop-bond-establishment/tasks.md
Due: none

6761: refactor nested ternary operator
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

9964-Autotests: Autotests for Ketcher 3.15.0 bugs - Part 3
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.15.0-bugs-part-3.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.15.0-bugs-part-3.spec.ts-snapshots/Autotests-ketcher-3-15-0-bugs-Case-1---Monome-a1fa2-if-user-grabs-and-moves-bond-between-monomers-1-chromium-popup-linux.png
Due: prettier --write

#10344 - Support for atom lists in macromolecules mode
  openspec/changes/atom-lists-macromolecules-mode/.openspec.yaml
  openspec/changes/atom-lists-macromolecules-mode/design.md
  openspec/changes/atom-lists-macromolecules-mode/proposal.md
  openspec/changes/atom-lists-macromolecules-mode/specs/atom-visualization/spec.md
  openspec/changes/atom-lists-macromolecules-mode/tasks.md
  openspec/config.yaml
  packages/ketcher-core/src/application/editor/MacromoleculesConverter.ts
  packages/ketcher-core/src/application/render/renderers/AtomRenderer.ts
  packages/ketcher-core/src/domain/entities/CoreAtom.ts
Due: prettier --write

- fixed tooltip
  openspec/changes/atom-lists-macromolecules-mode/specs/atom-visualization/spec.md
  packages/ketcher-core/src/application/render/renderers/AtomRenderer.ts
  packages/ketcher-core/src/application/render/renderers/index.ts
  packages/ketcher-macromolecules/src/EditorEvents.tsx
  packages/ketcher-macromolecules/src/components/preview/Preview.tsx
  packages/ketcher-macromolecules/src/components/preview/components/TextPreview/TextPreview.styles.ts
  packages/ketcher-macromolecules/src/components/preview/components/TextPreview/TextPreview.tsx
  packages/ketcher-macromolecules/src/state/types.ts
  packages/ketcher-react/src/components/MonomerPreview/AmbiguousMonomerPreview/types.ts
Due: prettier --write

- archived specs
  .memory-bank/glossary.md
  openspec/changes/archive/2026-07-27-atom-lists-macromolecules-mode/.openspec.yaml
  openspec/changes/archive/2026-07-27-atom-lists-macromolecules-mode/design.md
  openspec/changes/archive/2026-07-27-atom-lists-macromolecules-mode/proposal.md
  openspec/changes/archive/2026-07-27-atom-lists-macromolecules-mode/specs/atom-visualization/spec.md
  openspec/changes/archive/2026-07-27-atom-lists-macromolecules-mode/tasks.md
Due: none

- refactored
  packages/ketcher-core/src/application/render/renderers/AtomRenderer.ts
  packages/ketcher-macromolecules/src/EditorEvents.tsx
Due: prettier --write

#6941 - Snake mode auto-layout doesn't work if user come to Snake mode from Micromolecules one
  packages/ketcher-core/__tests__/application/editor/Editor.test.ts
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-macromolecules/src/components/modal/Delete/__snapshots__/Delete.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/Open/__snapshots__/Open.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/UpdateSequenceInRNABuilder/__snapshots__/UpdateSequenceInRNABuilder.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/save/__snapshots__/Save.test.tsx.snap
  packages/ketcher-macromolecules/src/components/shared/modal/__snapshots__/Modal.test.tsx.snap
Due: prettier --write

#6941 - some fixes done
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/editorSingleton.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-react/src/script/ui/component/form/colorPicker/__snapshots__/ColorPicker.test.tsx.snap
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/__snapshots__/Save.test.tsx.snap
Due: prettier --write

#10704 - Security updates and eslint update (#10705)
  example/src/utils.ts
  package-lock.json
  package.json
  packages/ketcher-core/package.json
  packages/ketcher-core/src/application/editor/actions/paste.ts
  packages/ketcher-core/src/application/editor/operations/OperationType.ts
  packages/ketcher-core/src/application/editor/operations/drawingEntity/index.ts
  packages/ketcher-core/src/application/render/raphael-ext.ts
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-core/src/application/render/restruct/rebond.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/textToStruct.ts
  packages/ketcher-core/textFileTransformer.js
  packages/ketcher-macromolecules/fileTransformer.js
  packages/ketcher-macromolecules/package.json
  packages/ketcher-macromolecules/src/components/FullscreenButton/FullscreenButton.tsx
  packages/ketcher-macromolecules/src/components/menu/subMenu/SubMenu.tsx
  packages/ketcher-macromolecules/src/components/modal/Open/Open.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
  packages/ketcher-macromolecules/src/helpers/getMonomerName.test.ts
  packages/ketcher-macromolecules/src/hooks/useIndigoVersionToRedux.ts
  packages/ketcher-macromolecules/src/hooks/useSetRnaPresets.ts
  packages/ketcher-macromolecules/src/state/rna-builder/rnaBuilderSlice.ts
  packages/ketcher-macromolecules/src/theming/defaultTheme/theme.types.ts
  packages/ketcher-macromolecules/testFileTransformer.js
  packages/ketcher-macromolecules/textFileTransformer.js
  packages/ketcher-react/package.json
  packages/ketcher-react/src/script/editor/shared/closest.ts
  packages/ketcher-react/src/script/editor/tool/eraser.ts
  packages/ketcher-react/src/script/editor/tool/sgroup.ts
  packages/ketcher-react/src/script/ui/action/fullscreen.ts
  packages/ketcher-react/src/script/ui/state/handleHotkeysOverItem.ts
  packages/ketcher-react/src/script/ui/state/hotkeys.ts
  packages/ketcher-react/src/script/ui/state/options/__tests__/sync.test.js
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useAtomStereo.ts
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
  packages/ketcher-react/testFileTransformer.js
  packages/ketcher-react/tsconfig.build.json
  packages/ketcher-standalone/package.json
Due: prettier --write

First priority
  packages/ketcher-react/src/script/ui/dialog/toolbox/enhancedStereo/enhancedStereo.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.tsx
Due: prettier --write

Update layout snapshot for attachment point action in Indigo Tools
  ketcher-autotests/tests/specs/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Layout-action-on-part-of-structure-with-Attachment-point-1-chromium-linux.png
Due: none

Update snapshot tests to replace placeholder IDs with formatted IDs
  packages/ketcher-macromolecules/src/components/modal/Delete/__snapshots__/Delete.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/Open/__snapshots__/Open.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/UpdateSequenceInRNABuilder/__snapshots__/UpdateSequenceInRNABuilder.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/save/__snapshots__/Save.test.tsx.snap
  packages/ketcher-macromolecules/src/components/shared/modal/__snapshots__/Modal.test.tsx.snap
  packages/ketcher-react/src/script/ui/component/form/colorPicker/__snapshots__/ColorPicker.test.tsx.snap
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/__snapshots__/Save.test.tsx.snap
Due: none

f2
  packages/ketcher-macromolecules/src/components/preview/components/PresetPreview/PresetPreview.tsx
  packages/ketcher-macromolecules/src/types/ketcher-react.d.ts
  packages/ketcher-macromolecules/tsconfig.json
Due: prettier --write

#7140 - Update the layout for CHEM-containing sequences
  packages/ketcher-core/__tests__/domain/entities/monomer-chains/chemChainLayout.test.ts
  packages/ketcher-core/__tests__/mock-data.ts
  packages/ketcher-core/src/domain/entities/monomer-chains/ChainsCollection.ts
  packages/ketcher-core/src/domain/helpers/monomers.ts
Due: prettier --write

f3
  packages/ketcher-macromolecules/src/components/FullscreenButton/FullscreenButton.tsx
  packages/ketcher-macromolecules/src/types/ketcher-react.d.ts
Due: prettier --write

chore: fix lint
  packages/ketcher-core/__tests__/domain/entities/monomer-chains/chemChainLayout.test.ts
Due: prettier --write

#6761 - Removing last monomer after nucleotide leaves it as nucleotide insted of nucleoside in sense chain (#10701)
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-10-47-Delete-third-symbol-at-A---A-b-A---A-Backspace-key-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-10-47-Delete-third-symbol-at-A---A-b-A---A-Backspace-key-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-7-47-Delete-third-symbol-at-A---A-b-A---A-with-Delete-key-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-7-47-Delete-third-symbol-at-A---A-b-A---A-with-Delete-key-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-23-47-Delete-third-symbol-of-sense-chain-at-A---A-b-A---A-with-Delete-key-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-23-47-Delete-third-symbol-of-sense-chain-at-A---A-b-A---A-with-Delete-key-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-26-47-Delete-third-symbol-of-sense-chain-at-A---A-b-A---A-Backspace-key-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-26-47-Delete-third-symbol-of-sense-chain-at-A---A-b-A---A-Backspace-key-2-chromium-linux.png
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

#3529 – Update snapshots for zero-valued atom query properties
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files-export-import-query-features.spec.ts-snapshots/Open-Ketcher-13-Implicit-H-count-User-can-ex-721e7--to-Mol-file-Feature-values-remain-in-place-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files-export-import-query-features.spec.ts-snapshots/Open-Ketcher-14-Implicit-H-count-User-can-ex-48389-F-V2000-file-Feature-values-remain-in-place-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files-export-import-query-features.spec.ts-snapshots/Open-Ketcher-15-Implicit-H-count-User-can-ex-44126-N-V2000-file-Feature-values-remain-in-place-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files-export-import-query-features.spec.ts-snapshots/Open-Ketcher-19-Ring-membership-User-can-exp-2d8be--to-Mol-file-Feature-values-remain-in-place-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files-export-import-query-features.spec.ts-snapshots/Open-Ketcher-20-Ring-membership-User-can-exp-e123a-F-V2000-file-Feature-values-remain-in-place-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files-export-import-query-features.spec.ts-snapshots/Open-Ketcher-21-Ring-membership-User-can-exp-759ea-N-V2000-file-Feature-values-remain-in-place-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files-export-import-query-features.spec.ts-snapshots/Open-Ketcher-22-Ring-size-User-can-export-an-5ad95--to-Mol-file-Feature-values-remain-in-place-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files-export-import-query-features.spec.ts-snapshots/Open-Ketcher-23-Ring-size-User-can-export-an-2bd1f-F-V2000-file-Feature-values-remain-in-place-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files-export-import-query-features.spec.ts-snapshots/Open-Ketcher-24-Ring-size-User-can-export-an-baf22-N-V2000-file-Feature-values-remain-in-place-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files-export-import-query-features.spec.ts-snapshots/Open-Ketcher-7-Connectivity-User-can-export--88274--to-Mol-file-Feature-values-remain-in-place-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files-export-import-query-features.spec.ts-snapshots/Open-Ketcher-8-Connectivity-User-can-export--bbe8d-F-V2000-file-Feature-values-remain-in-place-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files-export-import-query-features.spec.ts-snapshots/Open-Ketcher-9-Connectivity-User-can-export--ee9ed-N-V2000-file-Feature-values-remain-in-place-1-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Aromatize-Dearomatize/aromatize-dearomatize.spec.ts-snapshots/Aromatize-Dearomatize-Tool-User-can-DEaromatiz-8c371-meters-not-custom-query-but-only-ordinary-1-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Aromatize-Dearomatize/aromatize-dearomatize.spec.ts-snapshots/Aromatize-Dearomatize-Tool-User-can-aromatize--4f29d-meters-not-custom-query-but-only-ordinary-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Combination-of-different-optio-b7e9a-nt-sub-sections-inside-the-Query-properties-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-The-selection-of-an-option-inside-the-Connectivity-sub-section-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-The-selection-of-an-option-inside-the-Implicit-H-count-sub-section-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-The-selection-of-an-option-inside-the-Ring-membership-sub-section-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-The-selection-of-an-option-inside-the-Ring-size-sub-section-1-chromium-linux.png
Due: none

f4
  packages/ketcher-macromolecules/jest.config.js
  packages/ketcher-macromolecules/src/components/contextMenu/RNAContextMenu.test.tsx
  packages/ketcher-macromolecules/src/components/menu/__snapshots__/Menu.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/Delete/__snapshots__/Delete.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/Open/OpenOptions/FileDrop/__snapshots__/FileDrop.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/Open/OpenOptions/__snapshots__/OpenOptions.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/Open/__snapshots__/Open.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/UpdateSequenceInRNABuilder/__snapshots__/UpdateSequenceInRNABuilder.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/save/__snapshots__/Save.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/__snapshots__/RnaEditorExpanded.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/__snapshots__/MonomerGroup.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryList/__snapshots__/MonomerList.test.tsx.snap
  packages/ketcher-macromolecules/src/components/shared/modal/__snapshots__/Modal.test.tsx.snap
  packages/ketcher-macromolecules/src/setupTests.tsx
  packages/ketcher-macromolecules/src/testMocks/ketcher-react.tsx
  packages/ketcher-macromolecules/src/testMocks/react-contexify.tsx
Due: prettier --write

#8185 - Throw error when SDF preset is missing mandatory groupClass
  packages/ketcher-core/src/application/formatters/types/ket.ts
  packages/ketcher-core/src/application/ketcher.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
