Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

#11740 - Refactor: keyframes-name-pattern rule violation clean up (#11753)
  packages/ketcher-react/src/script/ui/dialog/template/TemplateTable.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#11736 - Refactor: declaration-property-value-keyword-no-deprecated rule violation clean up (#11749)
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#11735 - Refactor: declaration-block-no-redundant-longhand-properties rule violation clean up (#11747)
  packages/ketcher-react/src/script/ui/App/App.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#11734 - Refactor: declaration-block-no-duplicate-properties rule violation clean up (#11746)
  packages/ketcher-react/src/components/InfoModal/InfoModal.module.less
  packages/ketcher-react/src/script/ui/component/form/Input/Input.module.less
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
  packages/ketcher-react/src/script/ui/views/components/Spinner/LoadingCircles.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#11732 - Refactor: color-function-alias-notation rule violation clean up (#11744)
  example/src/index.css
Due: stylelint --formatter verbose --fix --allow-empty-input

#11729 - Refactor: number-max-precision rule violation clean up (#11730)
  example/src/index.css
Due: stylelint --formatter verbose --fix --allow-empty-input

#4320 - 'general.dearomatize-on-load' setting does not work for MOL V2000 structures inserted via API (#11537)
  ketcher-autotests/tests/specs/API/api-set-get-molecule.spec.ts
  ketcher-autotests/tests/specs/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Structur-c87c4-earomotize-on-load-is-true-for-Mol-V2000-file-1-chromium-linux.png
  packages/ketcher-core/__tests__/application/formatters/formatterFactory.test.ts
  packages/ketcher-core/src/application/formatters/formatterFactory.ts
Due: prettier --write

fix/playwright test
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/components/modal/Open/Open.tsx
Due: prettier --write

#9104 – The Nucleotide Phosphate becomes broken or separates if the Sugar part is moved slightly beforehand (#11772)
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

fixes
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Ensure-that-system-does-n-69d2f-te-s-group-if-structure-have-attachment-point-1-chromium-linux.png
Due: none

#9821 Fix monomer collapse spacing regressions
  packages/ketcher-core/__tests__/application/editor/actions/sgroup.test.ts
  packages/ketcher-core/src/application/editor/actions/sgroup.ts
  packages/ketcher-core/src/domain/entities/monomerMicromolecule.ts
  packages/ketcher-core/src/domain/entities/sgroup.ts
Due: prettier --write

#11738 - Refactor: font-family-name-quotes rule violation clean up (#11750)
  example/src/index.css
Due: stylelint --formatter verbose --fix --allow-empty-input

#4150 - Unable to remove last selected atom selection if bond already selected (#11768)
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Ensure-that-system-does-n-69d2f-te-s-group-if-structure-have-attachment-point-1-chromium-linux.png
  packages/ketcher-core/src/application/render/restruct/restruct.ts
Due: prettier --write

fixes
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-2-1-—-C-dfb49-ed-functional-group-not-for-highlighted-one-1-chromium-popup-linux.png
Due: none

#7453-Allow for the standard sense/antisense representation of circular structures
  packages/ketcher-core/__tests__/application/render/renderers/RenderersManager.test.ts
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer/FlexModePolymerBondRenderer.ts
  packages/ketcher-core/src/application/render/renderers/RenderersManager.ts
Due: prettier --write

#11521 – Contract abbreviation option is missing for Nucleotide s-group type (#11757)
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-2-1-—-C-dfb49-ed-functional-group-not-for-highlighted-one-1-chromium-popup-linux.png
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useFunctionalGroupEoc.test.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useFunctionalGroupEoc.ts
Due: prettier --write

fix/ui style error
  packages/ketcher-macromolecules/src/components/shared/Tabs/Tabs.styles.ts
  packages/ketcher-react/src/script/ui/dialog/template/template-lib.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetTabs.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

chore: add GENERATE_DATA=true to update-snapshots workflow to regenerate expected KET/SMARTS files
  .github/workflows/update-snapshots.yml
Due: none

chore: restore update-snapshots workflow for regenerating PNG baselines on CI
  .github/workflows/update-snapshots.yml
Due: none

fix/design left-monomer-preview
  packages/ketcher-macromolecules/src/components/shared/modal/Modal.tsx
Due: prettier --write

fix/left-monomer-preview
  packages/ketcher-macromolecules/src/components/shared/modal/Modal.tsx
Due: prettier --write

fix/audit
  demo/package.json
  example-ssr/package.json
  example/package.json
  package-lock.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
Due: prettier --write

fix: prevent preset creation for ambiguous monomers in RNA builder mode
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/MonomerGroup.tsx
Due: prettier --write

#9821 update snapshots
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.12.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-12-0-Case-18-—-Leaving-group-a-ec32a-ect-for-nucleotides-created-in-monomer-wizard-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.13.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-13-0-—-Small-molecules-positio-8cd6b-s-become-single-bonds-if-monomer-is-collapsed-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/42-Check-that-created-1-Amino-Acid-monomer-collapsed-can-be-saved-to-SVG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/42-Check-that-created-2-Sugar-monomer-collapsed-can-be-saved-to-SVG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/42-Check-that-created-3-Base-monomer-collapsed-can-be-saved-to-SVG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/42-Check-that-created-4-Phosphate-monomer-collapsed-can-be-saved-to-SVG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/42-Check-that-created-5-Nucleotide-monomer-collapsed-can-be-saved-to-SVG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/42-Check-that-created-6-CHEM-monomer-collapsed-can-be-saved-to-SVG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/43-Check-that-created-1-Amino-Acid-monomer-collapsed-can-be-saved-to-PNG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/43-Check-that-created-2-Sugar-monomer-collapsed-can-be-saved-to-PNG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/43-Check-that-created-3-Base-monomer-collapsed-can-be-saved-to-PNG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/43-Check-that-created-4-Phosphate-monomer-collapsed-can-be-saved-to-PNG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/43-Check-that-created-5-Nucleotide-monomer-collapsed-can-be-saved-to-PNG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/43-Check-that-created-6-CHEM-monomer-collapsed-can-be-saved-to-PNG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/1. Amino Acid-collapsed-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/2. Sugar-collapsed-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/3. Base-collapsed-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/4. Phosphate-collapsed-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/5. Nucleotide-collapsed-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/6. CHEM-collapsed-expected.cdx
  ketcher-autotests/tests/test-data/CDXML/Chromium-popup/Create-monomer/1. Amino Acid-collapsed-expected.cdxml
  ketcher-autotests/tests/test-data/CDXML/Chromium-popup/Create-monomer/2. Sugar-collapsed-expected.cdxml
  ketcher-autotests/tests/test-data/CDXML/Chromium-popup/Create-monomer/3. Base-collapsed-expected.cdxml
  ketcher-autotests/tests/test-data/CDXML/Chromium-popup/Create-monomer/4. Phosphate-collapsed-expected.cdxml
  ketcher-autotests/tests/test-data/CDXML/Chromium-popup/Create-monomer/5. Nucleotide-collapsed-expected.cdxml
  ketcher-autotests/tests/test-data/CDXML/Chromium-popup/Create-monomer/6. CHEM-collapsed-expected.cdxml
  ketcher-autotests/tests/test-data/Molfiles-V2000/Chromium-popup/Create-monomer/1. Amino Acid-collapsed-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/Chromium-popup/Create-monomer/2. Sugar-collapsed-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/Chromium-popup/Create-monomer/3. Base-collapsed-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/Chromium-popup/Create-monomer/4. Phosphate-collapsed-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/Chromium-popup/Create-monomer/5. Nucleotide-collapsed-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/Chromium-popup/Create-monomer/6. CHEM-collapsed-expected.mol
  ketcher-autotests/tests/test-data/SDF-V3000/Chromium-popup/Create-monomer/1. Amino Acid-collapsed-expected.sdf
  ketcher-autotests/tests/test-data/SDF-V3000/Chromium-popup/Create-monomer/2. Sugar-collapsed-expected.sdf
  ketcher-autotests/tests/test-data/SDF-V3000/Chromium-popup/Create-monomer/3. Base-collapsed-expected.sdf
  ketcher-autotests/tests/test-data/SDF-V3000/Chromium-popup/Create-monomer/4. Phosphate-collapsed-expected.sdf
  ketcher-autotests/tests/test-data/SDF-V3000/Chromium-popup/Create-monomer/5. Nucleotide-collapsed-expected.sdf
  ketcher-autotests/tests/test-data/SDF-V3000/Chromium-popup/Create-monomer/6. CHEM-collapsed-expected.sdf
Due: none

#11784 - Refactor: Update next package to latest version possible (#11785)
  example-ssr/package-lock.json
  example-ssr/package.json
  package-lock.json
Due: prettier --write

8250: Sequence jump fix
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

3991 - export-of-single-updown-bonds-to-mol-file-no-exception
  packages/ketcher-core/src/domain/entities/sgroup.ts
  packages/ketcher-core/src/domain/serializers/mol/common.ts
Due: prettier --write

10862: fix system shows R-group names
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#7038 - System doesn't scroll screen down if user moves mouse to the bottom of the screen while selecting sequence in sequence mode
  packages/ketcher-core/src/application/editor/tools/select/SelectBase.ts
Due: prettier --write

fix: hide contracted FG/salt label and show atoms/bonds in macro mode
  packages/ketcher-core/src/application/render/renderers/SGroupRenderer.ts
Due: prettier --write

#5275 - Update nine baselines from CI's rendering of the merged tree
  ketcher-autotests/tests/specs/Bugs/ketcher-3.6.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-6-0-Case-9-Mouse-cursor-pos-09ed0--the-top-left-corner-of-preset-when-zoom-400-2-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.10.0-bugs.spec.ts-snapshots/Ketcher-3-10-Bugs-8-Modification-list-overflow-250eb-n-three-or-more-modification-types-are-added-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-2-1-—-C-dfb49-ed-functional-group-not-for-highlighted-one-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.13.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-13-0-—-Small-molecules-positio-23e40-atoms-attached-to-bonds-that-connect-monomers-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.13.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-13-0-—-Small-molecules-positio-41feb-ther-combo-boxes-on-S-Group-Properties-dialog-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Ensure-that-system-does-n-69d2f-te-s-group-if-structure-have-attachment-point-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Peptide-type-of-monomer-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Fragment selection/fragment-selection-tool.spec.ts-snapshots/Fragment-selection-tool-Fuse-atoms-together-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Check-that-hotkeys-for--bb4c9--Abbreviation-on-Chain-with-Superatom-S-Group-1-chromium-linux.png
Due: none

fix merge conflict
  demo/package.json
  example-ssr/package-lock.json
  ketcher-autotests/package-lock.json
  package-lock.json
  package.json
Due: prettier --write

update package_lock.json
  package-lock.json
Due: prettier --write

#9821 update snapshots
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.12.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-12-0-Case-18-—-Leaving-group-a-72e38-ect-for-nucleotides-created-in-monomer-wizard-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/37-Check-that-created-1-Amino-Acid-monomer--ced97--saved-opened-to-from-MOL-V2000-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/37-Check-that-created-2-Sugar-monomer-colla-bed21--saved-opened-to-from-MOL-V2000-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/37-Check-that-created-3-Base-monomer-collap-32a77--saved-opened-to-from-MOL-V2000-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/37-Check-that-created-4-Phosphate-monomer-c-9267b--saved-opened-to-from-MOL-V2000-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/37-Check-that-created-5-Nucleotide-monomer--60702--saved-opened-to-from-MOL-V2000-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/37-Check-that-created-6-CHEM-monomer-collap-b2713--saved-opened-to-from-MOL-V2000-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/40-Check-that-created-1-Amino-Acid-monomer--8b059--saved-opened-to-from-SDF-V3000-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/40-Check-that-created-2-Sugar-monomer-colla-afcc2--saved-opened-to-from-SDF-V3000-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/40-Check-that-created-3-Base-monomer-collap-d46fb--saved-opened-to-from-SDF-V3000-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/40-Check-that-created-4-Phosphate-monomer-c-944cb--saved-opened-to-from-SDF-V3000-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/40-Check-that-created-5-Nucleotide-monomer--1aacf--saved-opened-to-from-SDF-V3000-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/40-Check-that-created-6-CHEM-monomer-collap-07171--saved-opened-to-from-SDF-V3000-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/44-Check-that-created-1-Amino-Acid-monomer--7c2b1-n-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/44-Check-that-created-2-Sugar-monomer-colla-4e49b-n-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/44-Check-that-created-3-Base-monomer-collapsed-can-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/44-Check-that-created-4-Phosphate-monomer-c-d20bb-n-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/44-Check-that-created-5-Nucleotide-monomer--9776b-n-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/44-Check-that-created-6-CHEM-monomer-collapsed-can-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/45-Check-that-created-1-Amino-Acid-monomer--dfe45-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/45-Check-that-created-2-Sugar-monomer-collapsed-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/45-Check-that-created-3-Base-monomer-collapsed-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/45-Check-that-created-4-Phosphate-monomer-c-0e0d0-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/45-Check-that-created-5-Nucleotide-monomer--c5b6a-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/45-Check-that-created-6-CHEM-monomer-collapsed-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
Due: none

chore: delete stale PNG snapshots for FG/salt macro mode rendering fix
  ketcher-autotests/tests/specs/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Redo-Capability-with-Ctrl-Y-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Undo-Functionality-with-Ctrl-Z-and-Redo-with-Ctrl-Shift-Z-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-Saving-mol-Files-After-opening-a-file--1ebe6-r-of-the-screen-and-no-need-scroll-to-find-it-1-chromium-linux.png
Due: none

#9821 update snapshots
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/37-Check-that-created-4-Phosphate-monomer-c-9267b--saved-opened-to-from-MOL-V2000-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/40-Check-that-created-4-Phosphate-monomer-c-944cb--saved-opened-to-from-SDF-V3000-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/45-Check-that-created-2-Sugar-monomer-collapsed-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/45-Check-that-created-4-Phosphate-monomer-c-0e0d0-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/45-Check-that-created-6-CHEM-monomer-collapsed-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
Due: none

chore: add update-snapshots workflow for regenerating PNG baselines on CI
  .github/workflows/update-snapshots.yml
Due: none
