Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

Add files via upload
  documentation/images/20_rtools_icon.png
  documentation/images/21_rtools_menu.png
  documentation/images/29_sgroup_icon.png
  documentation/images/31_datasgroup_icon.png
Due: none

Update help.md
  documentation/help.md
Due: none

Add files via upload
  documentation/images/32_rotate_icon.png
  documentation/images/33_rotate_menu.png
  documentation/images/34_reacarrow_icon.png
  documentation/images/35_reacarrows_menu.png
  documentation/images/36_reactmap_icon.png
  documentation/images/37_reactmap_menu.png
  documentation/images/38_reactplus_icon.png
Due: none

Add files via upload
  documentation/images/39_objects_icon.png
  documentation/images/40_objects_menu.png
  documentation/images/41_text_icon.png
Due: none

Add files via upload
  documentation/images/43_templates_toolbar.png
  documentation/images/45_open_text.png
  documentation/images/49_sett_stereo.png
  documentation/images/50_sett_stereo.png
Due: none

Add files via upload
  documentation/images/43.1_templates_icon.png
Due: none

Add files via upload
  documentation/images/44.1_template_edit.png
Due: none

#1408 'Add button' is disabled in Periodic table (#1411)
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/GenGroup.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/GenSet.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/GenericGroups.tsx
Due: prettier --write

Update bug_report.md (#1414)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

update indigo-ketcher version
  packages/ketcher-standalone/package.json
  yarn.lock
Due: prettier --write

update scripts section
  example/config/webpack.config.js
  example/package.json
  example/src/App.tsx
  example/src/PolymerToggler/PolymerToggler.tsx
  example/src/PolymerToggler/index.ts
  package.json
  packages/ketcher-react/.env
Due: prettier --write

rename icons
  packages/ketcher-react/src/icons/files/open-window-paste-icon.svg
  packages/ketcher-react/src/icons/files/open-window-upload-icon.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/OpenOptions.tsx
Due: prettier --write

remove vendor prefixes
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/OpenOptions.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

add less variables
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/OpenOptions.module.less
  packages/ketcher-react/src/style/variables.less
Due: stylelint --formatter verbose --fix --allow-empty-input

set grayscale and opacity on disabled item image
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/FileDrop.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

chenge validation, change disabled message
  packages/ketcher-react/src/script/ui/action/server.js
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/OpenOptions.tsx
Due: prettier --write

fix opacity style
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/FileDrop.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

add generateInchIKey method
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-core/src/infrastructure/services/struct/remoteStructService.ts
  packages/ketcher-react/src/script/api.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.types.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

#1392 Floating windows - Open Window Redesign iteration #2 (#1412)
  packages/ketcher-react/src/icons/files/close.svg
  packages/ketcher-react/src/icons/files/image-frame.svg
  packages/ketcher-react/src/icons/files/open-window-paste-icon.svg
  packages/ketcher-react/src/icons/files/open-window-upload-icon.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/ui/action/server.js
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.module.less
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/DropButton.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/FileDrop.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/FileDrop.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/OpenOptions.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/OpenOptions.tsx
  packages/ketcher-react/src/style/variables.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1334 add functionality to generate inchikey (#1416)
  example/config/webpack.config.js
  example/package.json
  example/src/App.tsx
  example/src/PolymerToggler/PolymerToggler.tsx
  example/src/PolymerToggler/index.ts
  package.json
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-core/src/infrastructure/services/struct/remoteStructService.ts
  packages/ketcher-react/.env
  packages/ketcher-react/src/script/api.ts
  packages/ketcher-standalone/package.json
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.types.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
  yarn.lock
Due: prettier --write

fix design
  packages/ketcher-react/src/icons/files/delete.svg
  packages/ketcher-react/src/icons/files/edit.svg
  packages/ketcher-react/src/icons/files/search.svg
  packages/ketcher-react/src/icons/files/template-dialog.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/ui/dialog/template/TemplateDialog.tsx
  packages/ketcher-react/src/script/ui/dialog/template/TemplateTable.module.less
  packages/ketcher-react/src/script/ui/dialog/template/TemplateTable.tsx
  packages/ketcher-react/src/script/ui/dialog/template/template-lib.module.less
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix shadows and how left tool bar menus open
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ToolbarMultiToolItem/ToolbarMultiToolItem.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ToolbarMultiToolItem/ToolbarMultiToolItem.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

1396 sgroups redesign
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.module.less
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
  packages/ketcher-react/src/style/variables.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

stylelint fix
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix shadow colour
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ToolbarMultiToolItem/ToolbarMultiToolItem.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

change opacity
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ToolbarMultiToolItem/ToolbarMultiToolItem.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

add margin for dialog header window
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

add style changes for save dialog
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
Due: prettier --write

fix styles for save dialog
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

fix prettier
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
Due: prettier --write

add stylelint comment
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

add missing colors
  packages/ketcher-react/src/style/variables.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Update ToolbarMultiToolItem.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ToolbarMultiToolItem/ToolbarMultiToolItem.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

fix mistakes
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
  packages/ketcher-react/src/style/variables.less
Due: stylelint --formatter verbose --fix --allow-empty-input
