Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

Revert CommonTopRightToolbar changes unrelated to this ticket
  ketcher-autotests/tests/pages/common/CommonTopRightToolbar.ts
Due: prettier --write

Fix eslint error: replace any with unknown in monomerValidation
  packages/ketcher-core/src/domain/helpers/monomerValidation.ts
Due: prettier --write

Fix macromode bond connection issue and console error
  packages/ketcher-core/src/application/editor/tools/Bond.ts
  packages/ketcher-macromolecules/src/components/ButtonsComponents/ButtonsComponents.tsx
  packages/ketcher-macromolecules/src/hooks/useMacromoleculesHotkeys.ts
  packages/ketcher-macromolecules/src/state/common/editorSlice.ts
Due: prettier --write

Type oldMonomerBonds tuples as AttachmentPointName instead of string
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

#2818 – Periodic Table: P, F, Cs atoms weight is out of the box
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/AtomInfo/AtomInfo.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Simplify atom check in mousemove with early returns
  packages/ketcher-react/src/script/editor/tool/atom.ts
Due: prettier --write

refactor(clipboard): use secure-context Clipboard API with legacy fallback
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.tsx
Due: prettier --write

#10470 - enabled copolimers in s-groups regardless of SRU existence
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.test.tsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.tsx
Due: prettier --write

#7939 - Unable to export monomer to SDF V2000 - system always returns SDF V3000 content (#10561)
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-26-Limit-size-of-structures-in-preview-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SDF-Files/sdf-files.spec.ts
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SDF-Files/sdf-files.spec.ts-snapshots/CDF-files-Validate-that-unsplit-nucleotides-co-58b18-uld-be-saved-to-sdf-2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SDF-Files/sdf-files.spec.ts-snapshots/CDF-files-Validate-that-unsplit-nucleotides-co-62ddf-uld-be-saved-to-sdf-2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SDF-Files/sdf-files.spec.ts-snapshots/CDF-files-Validate-that-unsplit-nucleotides-co-9c988-uld-be-saved-to-sdf-2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SDF-Files/sdf-files.spec.ts-snapshots/CDF-files-Validate-that-unsplit-nucleotides-co-e121c-uld-be-saved-to-sdf-2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SDF-Files/sdf-files.spec.ts-snapshots/CDF-files-Validate-that-unsplit-nucleotides-co-e353a-uld-be-saved-to-sdf-2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SDF-Files/sdf-files.spec.ts-snapshots/CDF-files-Validate-that-unsplit-nucleotides-co-f35ad-uld-be-saved-to-sdf-2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Validate-that-it-is-possible-to-save-micro-macro-connection-to-sdf-v2000-file-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/Bugs/DnaBadPairs-expected.mol
  ketcher-autotests/tests/test-data/SDF-V2000/monomers-for-bug-3292-expected.sdf
  ketcher-autotests/tests/test-data/SDF/All type of monomers in horisontal chain and large micromolecule in the middle-expected.sdf
  ketcher-autotests/tests/test-data/SDF/Saving monomers to SDF v300o works wrong-expected.sdf
  ketcher-autotests/tests/test-data/SDF/micro-macro-structure-v2000-expected.sdf
  ketcher-autotests/tests/test-data/SDF/rdf-rxn-v2000-reaction-3x3-new-expected.sdf
  ketcher-autotests/tests/test-data/SDF/unsplit-nucleotides-connected-with-bases-v2000.sdf
  ketcher-autotests/tests/test-data/SDF/unsplit-nucleotides-connected-with-chems-v2000.sdf
  ketcher-autotests/tests/test-data/SDF/unsplit-nucleotides-connected-with-nucleotides-v2000.sdf
  ketcher-autotests/tests/test-data/SDF/unsplit-nucleotides-connected-with-peptides-v2000.sdf
  ketcher-autotests/tests/test-data/SDF/unsplit-nucleotides-connected-with-phosphates-v2000.sdf
  ketcher-autotests/tests/test-data/SDF/unsplit-nucleotides-connected-with-sugars-v2000.sdf
  packages/ketcher-core/src/application/formatters/formatProperties.ts
Due: prettier --write

Update RnaEditorExpanded.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
Due: prettier --write

#2174 - Undo not working in atom mapping, unable to remove mapping
  ketcher-autotests/tests/specs/Reaction-tool/Mapping-Unmapping tool/mapping-tool.spec.ts
  ketcher-autotests/tests/specs/Reaction-tool/Mapping-Unmapping tool/mapping-tool.spec.ts-snapshots/Mapping-Tools-Undo-working-in-atom-mapping-able-to-remove-mapping-2-chromium-linux.png
  packages/ketcher-react/src/script/editor/tool/reactionmap.ts
Due: prettier --write

#6056 - Revert stale non-feature ketcher-3.3.0-bugs snapshots to master
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-13-System-should-t-27628-tide-to-nucleoside-on-sequence-break-by-Enter-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-17-Able-to-add-phosphate-to-antisense-strand-in-SYNC-mode-via-keyboard-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-25-Correct-bond-le-9e953-angle-for-non-natural-monomers-in-the-library-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-3-Tooltip-not-appears-behind-monomer-icons-in-the-library-1-chromium-popup-linux.png
Due: none

f2
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-12-Check-that-39656-ecific-properties-set-to-blank-and-greyed-out-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-12-Check-that-f65cf-ecific-properties-set-to-blank-and-greyed-out-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-14-Check-that-1e43d-propriate-number-next-to-the-natural-analogue-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-18-Verify-if--b61d1-f-the-RNA-DNA-tab-set-to-blank-and-grayed-out-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-20-Check-that-7e7d9-reset-values-are-140mM-and-200μM-respectively-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-20-Check-that-a1186-reset-values-are-140mM-and-200μM-respectively-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-20-Check-that-cdbbd-reset-values-are-140mM-and-200μM-respectively-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-20-Check-that-d392a-reset-values-are-140mM-and-200μM-respectively-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-6-Check-that--229dc-e-Select-monomer-chain-or-part-of-a-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-6-Check-that--6171c-e-Select-monomer-chain-or-part-of-a-chain-1-chromium-linux.png
Due: none

f3
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-12-Check-that-39656-ecific-properties-set-to-blank-and-greyed-out-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-12-Check-that-f65cf-ecific-properties-set-to-blank-and-greyed-out-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-18-Verify-if--b61d1-f-the-RNA-DNA-tab-set-to-blank-and-grayed-out-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-20-Check-that-cdbbd-reset-values-are-140mM-and-200μM-respectively-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-6-Check-that--229dc-e-Select-monomer-chain-or-part-of-a-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-6-Check-that--6171c-e-Select-monomer-chain-or-part-of-a-chain-1-chromium-linux.png
Due: none

#7128 - Fix molecular formula letter baseline alignment in MacromoleculePropertiesWindow
  packages/ketcher-macromolecules/src/components/macromoleculeProperties/MacromoleculePropertiesWindow.tsx
Due: prettier --write

fixes
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-49-System-not-coun-341fa-ot-part-of-a-nucleotide-nucleoside-as-RNA-DNA-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-50-Melting-temperature-value-is-missed-if-UPC-or-NAC-value-set-to-zero-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-50-Melting-temperature-value-is-missed-if-UPC-or-NAC-value-set-to-zero-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-50-Melting-temperature-value-is-missed-if-UPC-or-NAC-value-set-to-zero-3-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.6.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-6-0-Case-18-Input-fields-fo-d608f-active-after-entering-excessively-long-number-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-15-Check-that-346f7-he-selection-the-appropriate-card-grayed-out-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-16-Check-that-ad320-t-contains-at-least-one-nucleotide-nucleoside-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-17-Check-that-3aa5b-d-with-a-base-on-the-other-chain-via-a-H-bond-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-23-Check-Calc-dbe36--R2-R1-connected-monomers-with-microstructure-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-3-Verify-afte-c8194-selection-to-Indigo-and-the-selection-remain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-7-Check-that--3498d-ino-acids-Then-the-default-tab-is-RNA-DNA-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-AmMC6T-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-Cys-Bn-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-DOTA-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-FMOE-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-MOE-A-P-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-bP-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
Due: none

#7128 - Update snapshots for calculate-properties tests after molecular formula baseline fix
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-15-Check-that-346f7-he-selection-the-appropriate-card-grayed-out-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-16-Check-that-ad320-t-contains-at-least-one-nucleotide-nucleoside-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-17-Check-that-3aa5b-d-with-a-base-on-the-other-chain-via-a-H-bond-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-23-Check-Calc-dbe36--R2-R1-connected-monomers-with-microstructure-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-3-Verify-afte-c8194-selection-to-Indigo-and-the-selection-remain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-55-Check-that-graph-remains-readable-for-532-amino-acids-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-56-Check-that-graph-remains-readable-for-1240-amino-acids-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-7-Check-that--3498d-ino-acids-Then-the-default-tab-is-RNA-DNA-2-chromium-linux.png
Due: none

- fixed monomer positioning
  packages/ketcher-core/src/application/editor/Editor.ts
Due: prettier --write

- fixed issues
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
  packages/ketcher-core/src/domain/AttachmentPoint.ts
Due: prettier --write

- fixed issues
  packages/ketcher-core/src/application/editor/Editor.ts
Due: prettier --write

- removed tests
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/drag-drop-bond-establishment.spec.ts
Due: prettier --write

- fixed tests
  packages/ketcher-core/src/application/editor/__tests__/bondConnectionHelpers.test.ts
Due: prettier --write

f1
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/SRU-Polymer/copolymer-S-Group-type.spec.ts
Due: prettier --write

f2
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-26-Limit-size-of-structures-in-preview-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-55-Check-that-graph-remains-readable-for-532-amino-acids-1-chromium-linux.png
Due: prettier --write

#10398 – Fix keyboard events (Ghost molecule appears after typing on inactive ketcher canvas) (#10474)
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/SRU-Polymer/copolymer-S-Group-type.spec.ts
  packages/ketcher-core/src/application/editor/Editor.ts
Due: prettier --write

Fix superscript/subscript buttons not working in Text Editor
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fixes
  ketcher-autotests/package-lock.json
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts
Due: prettier --write

Fix NaN displayed in font size button when selection has mixed sizes
  packages/ketcher-react/src/script/ui/views/modal/components/Text/FontControl/FontControl.tsx
Due: prettier --write

f2
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts
Due: prettier --write

f3
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts
Due: prettier --write

f1
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
Due: prettier --write

#6056 - Regenerate hydrogen-bonds baselines with CI-exact in-container build
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/10-Verify-switch-to-flex-snake-sequence-modes-27800-lity-of-hydrogen-bonds-in-macromolecules-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/10-Verify-switch-to-flex-snake-sequence-modes-eab68-lity-of-hydrogen-bonds-in-macromolecules-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/12-Verify-that-hydrogen-bonds-cannot-be-estab-b136e-etween-small-molecules-in-macromolecules-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/12-Verify-that-hydrogen-bonds-cannot-be-estab-c491c-etween-small-molecules-in-macromolecules-mode-2-chromium-linux.png
Due: none

f1
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/10-Verify-switch-to-flex-snake-sequence-modes-27800-lity-of-hydrogen-bonds-in-macromolecules-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/10-Verify-switch-to-flex-snake-sequence-modes-eab68-lity-of-hydrogen-bonds-in-macromolecules-mode-1-chromium-linux.png
Due: none

f2
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/10-Verify-switch-to-flex-snake-sequence-modes-27800-lity-of-hydrogen-bonds-in-macromolecules-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/10-Verify-switch-to-flex-snake-sequence-modes-eab68-lity-of-hydrogen-bonds-in-macromolecules-mode-1-chromium-linux.png
Due: none

f4
  ketcher-autotests/package-lock.json
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-56-Check-that-graph-remains-readable-for-1240-amino-acids-1-chromium-linux.png
Due: prettier --write

f5
  ketcher-autotests/package.json
  package-lock.json
  package.json
Due: prettier --write

Update subscript screenshot baseline after CSS rendering fix
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Text-Tool/text-formating.spec.ts-snapshots/Text-tools-test-cases-Applying-styles---Subscript-1-chromium-linux.png
Due: none

Update superscript screenshot baseline after CSS rendering fix
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Text-Tool/text-formating.spec.ts-snapshots/Text-tools-test-cases-Applying-styles---Superscript-1-chromium-linux.png
Due: none
