Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#3661 – Migrate to Indigo v1.17.0-rc.1 in-browser module
  package-lock.json
  packages/ketcher-standalone/package.json
Due: prettier --write

#3661 – Migrate to Indigo v1.17.0-rc.2 in-browser module
  package-lock.json
  packages/ketcher-standalone/package.json
Due: prettier --write

- updated package-lock
  package-lock.json
Due: prettier --write

adding tests to cover indigo issues 1358, 1332, 1321, 1316, 1281 and 1252
  ketcher-autotests/tests/File-Management/SMARTS-Files/smarts-files.spec.ts
  ketcher-autotests/tests/File-Management/SMARTS-Files/smarts-files.spec.ts-snapshots/Loading-SMARTS-files-Loading-SMARTS-with-aromatic-atom-list-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/SMARTS-Files/smarts-files.spec.ts-snapshots/Loading-SMARTS-files-Loading-SMARTS-with-custom-query-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Sett-6fab9--query---directional-bond-up-or-unspecified-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-f-3afca--implicit-H-count-aromacity-and-connectivity-2-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-f-5aff6--implicit-H-count-aromacity-and-connectivity-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-reaction-queries-attributes-in-SMARTS-6c4b9-hecking-SMARTS-with-S-Group-with-two-elements-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-reaction-queries-attributes-in-SMARTS-d8e8a-king-SMARTS-with-reaction-mapping-and-S-Group-1-chromium-linux.png
Due: prettier --write

#3661 – fixed tests
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts
  ketcher-autotests/tests/test-data/Molfiles-V3000/monomers-and-chem.mol
  packages/ketcher-polymer-editor-react/src/components/modal/save/__snapshots__/Save.test.tsx.snap
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/__snapshots__/Save.test.tsx.snap
Due: prettier --write

#3661 – removed naturalAnalogCode property for CHEM-monomers from ket-format
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
Due: prettier --write

- updated package-lock
  package-lock.json
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/__snapshots__/Save.test.tsx.snap
Due: prettier --write

- updated snapshots
  packages/ketcher-polymer-editor-react/src/components/modal/save/__snapshots__/Save.test.tsx.snap
Due: none

- updated snapshots
  ketcher-autotests/tests/test-data/Molfiles-V3000/monomers-and-chem.mol
Due: none

- code refactoring
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-CHEMs-in-not-changing-after-saving-and-importing-it-as-ket-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-CHEMs-in-not-changing-after-saving-and-importing-it-as-mol-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-RNA-preset-in-n-21b53-ng-after-saving-and-importing-it-as-mol-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-RNA-preset-in-n-2b2c0-ng-after-saving-and-importing-it-as-ket-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-ket-file-with--8bdbd-ly-in-macro-mode-when-saving-it-in-mirco-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-macro-ket-file-can-be-imported-in-micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-macro-mol-file-can-be-imported-in-micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-mol-file-with--65b06-ly-in-macro-mode-when-saving-it-in-mirco-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-system-does-not-let-uploading-corrupted-ket-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-system-does-not-let-uploading-corrupted-mol-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Validate-correct-displayin-91035-ed-peptide-chain-loaded-from-mol-file-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Validate-correct-displayin-9ae0e-ed-peptide-chain-loaded-from-ket-file-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Structure-displaying-in-library-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-add-molecule-in-favourites-1-chromium-linux.png
  ketcher-autotests/tests/utils/canvas/helpers.ts
Due: prettier --write

- code change; - update snapshot
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-add-molecule-in-favourites-1-chromium-linux.png
Due: prettier --write

- delete unused import
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts
Due: prettier --write

- fixed test
  ketcher-autotests/tests/test-data/KET/monomers-connected-with-bonds-expected.ket
Due: none

Backmerge: #3623 - icons should scale depends on container omponent width instead of iframe (#3677)
  example/src/ModeControl/ModeControl.tsx
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-03112-indow-does-not-dissapear-after-switching-tabs-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-7b7d1-ions-list-displayed-with-a-highest-similarity-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-ME-is-highlighted-based-on-priority-order-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-appears-when-typing-name-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-available-option-verification-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-d01db-gestions-list-is-sorted-according-to-criteria-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-displayed-message-after-deleting-typed-test-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-in-correct-format-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-no-matching-result-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-only-name-displayed-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-atom-state-restores-after-typing-additional-letters-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Abbreviation-Lookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-does-not-disappear-when-user-switches-to-new-browser-tab-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Abbreviation-Lookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-is-shown-when-entering-some-text-1-chromium-linux.png
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/styledComponents.ts
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbarIconButton.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#2922 - error handling is moved to ketcher-react
  example/src/App.tsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
Due: prettier --write

#2922 - error handling is moved to ketcher-react
  example/src/App.tsx
Due: prettier --write

Backmerge: #3623 - icons should scale depends on container omponent width instead of iframe (#3677) (#3722)
  example/src/ModeControl/ModeControl.tsx
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-03112-indow-does-not-dissapear-after-switching-tabs-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-7b7d1-ions-list-displayed-with-a-highest-similarity-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-ME-is-highlighted-based-on-priority-order-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-appears-when-typing-name-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-available-option-verification-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-d01db-gestions-list-is-sorted-according-to-criteria-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-displayed-message-after-deleting-typed-test-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-in-correct-format-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-no-matching-result-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-only-name-displayed-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-atom-state-restores-after-typing-additional-letters-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Abbreviation-Lookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-does-not-disappear-when-user-switches-to-new-browser-tab-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Abbreviation-Lookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-is-shown-when-entering-some-text-1-chromium-linux.png
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/styledComponents.ts
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbarIconButton.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Autotests: #3454 - peptide monomer library (#3690)
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-After-importing-a-file-wit-d9dac-view-display-changes-made-during-modification-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-After-opening-a-file-in-ma-e221a-r-of-the-screen-and-no-need-scroll-to-find-it-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-import-of-file-with-100-monomers-and-save-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-import-of-file-with-50-monomers-saved-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-save-and-open-of-file-with-100-monomers-saved-in-KET-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-save-and-open-of-file-with-50-monomers-saved-in-KET-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-CHEMs-in-not-changing-after-saving-and-importing-it-as-ket-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-CHEMs-in-not-changing-after-saving-and-importing-it-as-mol-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-RNA-preset-in-n-21b53-ng-after-saving-and-importing-it-as-mol-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-RNA-preset-in-n-2b2c0-ng-after-saving-and-importing-it-as-ket-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-ket-file-with--8bdbd-ly-in-macro-mode-when-saving-it-in-mirco-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-macro-ket-file-can-be-imported-in-micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-macro-mol-file-can-be-imported-in-micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-mol-file-with--65b06-ly-in-macro-mode-when-saving-it-in-mirco-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-system-does-not-let-uploading-corrupted-ket-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-system-does-not-let-uploading-corrupted-mol-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Import-DNA-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Import-RNA-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Monomers-are-not-stacked--9c3bd-h-with-Ketcher-library-after-importing-a-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Open-file-from-mol-V3000-and-Delete-12ddR-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Open-file-from-mol-V3000-and-Delete-P-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Open-file-from-mol-V3000-and-Delete-baA-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Validate-correct-displayin-91035-ed-peptide-chain-loaded-from-mol-file-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Validate-correct-displayin-9ae0e-ed-peptide-chain-loaded-from-ket-file-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Monomer-library-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Placing-betaAlanine-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Structure-displaying-in-library-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-add-molecule-in-favourites-1-chromium-linux.png
  ketcher-autotests/tests/utils/canvas/helpers.ts
Due: prettier --write

- updated indigo version to 1.17.0-rc.3
  package-lock.json
  packages/ketcher-standalone/package.json
Due: prettier --write

Macro: #3691 - Ket file does not include atom numbers associated with the leaving groups after saving (#3699)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts
  ketcher-autotests/tests/test-data/KET/monomers-and-chem.ket
  ketcher-autotests/tests/test-data/KET/monomers-connected-with-bonds-expected.ket
  ketcher-autotests/tests/test-data/KET/monomers-connected-with-bonds.ket
  ketcher-autotests/tests/test-data/Molfiles-V3000/monomers-and-chem.mol
  package-lock.json
  packages/ketcher-core/src/application/formatters/types/ket.ts
  packages/ketcher-core/src/domain/entities/BaseMonomer.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/monomerToDrawingEntity.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
  packages/ketcher-core/src/domain/serializers/ket/toKet/moleculeToKet.ts
  packages/ketcher-standalone/package.json
Due: prettier --write

#3718 - Macro: Pressing Snake mode button causes exception
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

#3667 – fixing CI tests
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-eab02-ode-is-visible-on-Macro-mode-when-hover-on-it-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/monomers-and-chem.mol
Due: prettier --write

- temporary solution
  packages/ketcher-core/src/domain/entities/Axis.ts
  packages/ketcher-core/src/domain/entities/index.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/monomerToDrawingEntity.ts
  packages/ketcher-core/src/domain/serializers/ket/helpers.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
  packages/ketcher-core/src/domain/serializers/ket/toKet/moleculeToKet.ts
Due: prettier --write

- updated snapshots + function
  ketcher-autotests/tests/test-data/KET/monomers-connected-with-bonds-expected.ket
  packages/ketcher-core/src/domain/serializers/ket/helpers.ts
Due: prettier --write

- updated .ket files
  ketcher-autotests/tests/test-data/KET/five-monomers.ket
  ketcher-autotests/tests/test-data/KET/monomers-connected-with-bonds.ket
  ketcher-autotests/tests/test-data/KET/monomers-with-bonds.ket
  ketcher-autotests/tests/test-data/KET/three-monomers-connected-with-bonds.ket
  ketcher-autotests/tests/test-data/KET/three-monomers-not-connected-with-bonds.ket
  packages/ketcher-core/src/domain/serializers/ket/fromKet/monomerToDrawingEntity.ts
Due: prettier --write

#3660 - Macro: After removing the abbreviation in micro mode and switching to macro mode, the monomer disappears
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-react/src/script/editor/tool/helper/locate.ts
  packages/ketcher-react/src/script/editor/tool/select.ts
  packages/ketcher-react/src/script/editor/tool/template.ts
  packages/ketcher-react/src/script/editor/tool/templatePreview.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.utils.ts
Due: prettier --write

- removed console logs
  packages/ketcher-react/src/script/editor/tool/select.ts
  packages/ketcher-react/src/script/editor/tool/template.ts
Due: prettier --write

#3697 - Fix build problems for ketcher-standalone
  package-lock.json
  package.json
  packages/ketcher-core/rollup.config.js
  packages/ketcher-polymer-editor-react/rollup.config.js
  packages/ketcher-react/rollup.config.js
  packages/ketcher-standalone/package.json
  packages/ketcher-standalone/rollup.config.js
Due: prettier --write

#3697 fix autotests
  ketcher-autotests/tests/test-data/Molfiles-V3000/atom-properties-V3000-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/monomers-and-chem.mol
Due: none

2922 - adding correct import for InfoModal
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
Due: prettier --write

- fixed case with 'select all' hotkey
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

- updated files and snapshots
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-import-of-file-with-100-monomers-and-save-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-RNA-preset-in-n-21b53-ng-after-saving-and-importing-it-as-mol-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Import-DNA-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Import-RNA-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Monomers-are-not-stacked--9c3bd-h-with-Ketcher-library-after-importing-a-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Open-file-from-mol-V3000-and-Delete-12ddR-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Open-file-from-mol-V3000-and-Delete-P-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Open-file-from-mol-V3000-and-Delete-baA-monomer-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/fifty-monomers-expected.ket
  ketcher-autotests/tests/test-data/KET/hundred-monomers-expected.ket
  ketcher-autotests/tests/test-data/Molfiles-V2000/empty-canvas-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/fifty-monomers-v3000-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/hundred-monomers-v3000-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/three-presets.mol
Due: prettier --write

- updated monomers-and-chem .ket / .mol
  ketcher-autotests/tests/test-data/KET/monomers-and-chem.ket
  ketcher-autotests/tests/test-data/Molfiles-V3000/monomers-and-chem.mol
Due: none

- fixed rna-library test
  ketcher-autotests/tests/test-data/KET/monomers-connected-with-bonds-expected.ket
Due: none

- fixed case with atoms
  packages/ketcher-react/src/script/editor/tool/atom.ts
  packages/ketcher-react/src/script/editor/tool/helper/isMacroMolecule.ts
Due: prettier --write

- updated mol file
  ketcher-autotests/tests/test-data/Molfiles-V3000/monomers-and-chem.mol
Due: none

- fixed tests
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Add-monomers-in-macro-mod-3601b-micro-mode-and-check-that-it-can-not-be-moved-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Add-monomers-in-macro-mod-7ee64-e-expanded-and-abreviation-can-not-be-removed-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Add-monomers-in-macro-mod-89fde-and-move-them-to-a-new-position-several-times-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Add-monomers-in-macro-mode-then-switch-to-micro-mode-and-expand-them-1-chromium-linux.png
Due: prettier --write

- changed implementation to Set
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
