Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

update stylelint config
  .stylelintrc.json
  yarn.lock
Due: none

Fix Slider in settings
  packages/ketcher-react/src/script/ui/component/form/input.jsx
  packages/ketcher-react/src/script/ui/component/form/input.module.less
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

calculating position data-sgroup for atom and bond context
  packages/ketcher-core/src/domain/entities/sgroup.ts
Due: prettier --write, eslint --fix

fix prettier
  packages/ketcher-core/src/domain/entities/sgroup.ts
Due: prettier --write, eslint --fix

Apply new colors and refactor some styles for windows
  example/src/ErrorModal/ErrorModal.css
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/icons/files/close.svg
  packages/ketcher-react/src/icons/files/not-found.svg
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
  packages/ketcher-react/src/script/ui/component/form/input.jsx
  packages/ketcher-react/src/script/ui/component/form/input.module.less
  packages/ketcher-react/src/script/ui/component/view/Tabs/Tabs.module.less
  packages/ketcher-react/src/script/ui/dialog/template/TemplateTable.module.less
  packages/ketcher-react/src/script/ui/dialog/template/emptySearchResult.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/rgroup/rgroup.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.module.less
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/FontControl/FontControl.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/TextButton/TextButton.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/components/Sidebar/Sidebar.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/components/FormulaInput/FormulaInput.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Attach/Attach.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/FG/RemoveFG.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/ArrowScroll/ArrowScroll.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ActionButton/ActionButton.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ToolbarMultiToolItem/ToolbarMultiToolItem.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/HelpLink/HelpLink.module.less
  packages/ketcher-react/src/style/mixins.less
  packages/ketcher-react/src/style/variables.less
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

#1044 Text Tool: Add special symbols (#1048)
  packages/ketcher-react/src/icons/files/text-special-symbols.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/Text/SpecialSymbols/SpecialSymbolsButton.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/SpecialSymbols/SpecialSymbolsButton.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/Text/SpecialSymbolsList/SpecialSymbolsList.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/SpecialSymbolsList/SpecialSymbolsList.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.tsx
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

Fix Slider in settings (#1068)
  packages/ketcher-react/src/script/ui/component/form/input.jsx
  packages/ketcher-react/src/script/ui/component/form/input.module.less
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

Template edit dialog subscribed to global display options (#1065)
  packages/ketcher-react/src/script/ui/dialog/template/template-attach.jsx
Due: prettier --write, eslint --fix

#1057 tools that modify FGs refer canvas correctly (#1064)
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/apoint.js
  packages/ketcher-react/src/script/editor/tool/apoint.ts
  packages/ketcher-react/src/script/editor/tool/atom.js
  packages/ketcher-react/src/script/editor/tool/atom.ts
  packages/ketcher-react/src/script/editor/tool/attach.js
  packages/ketcher-react/src/script/editor/tool/attach.ts
  packages/ketcher-react/src/script/editor/tool/bond.js
  packages/ketcher-react/src/script/editor/tool/bond.ts
  packages/ketcher-react/src/script/editor/tool/chain.js
  packages/ketcher-react/src/script/editor/tool/chain.ts
  packages/ketcher-react/src/script/editor/tool/charge.js
  packages/ketcher-react/src/script/editor/tool/charge.ts
  packages/ketcher-react/src/script/editor/tool/eraser.js
  packages/ketcher-react/src/script/editor/tool/eraser.ts
  packages/ketcher-react/src/script/editor/tool/paste.js
  packages/ketcher-react/src/script/editor/tool/paste.ts
  packages/ketcher-react/src/script/editor/tool/rgroupatom.js
  packages/ketcher-react/src/script/editor/tool/rgroupatom.ts
  packages/ketcher-react/src/script/editor/tool/rgroupfragment.js
  packages/ketcher-react/src/script/editor/tool/rgroupfragment.ts
  packages/ketcher-react/src/script/editor/tool/rotate.js
  packages/ketcher-react/src/script/editor/tool/rotate.ts
  packages/ketcher-react/src/script/editor/tool/select.ts
  packages/ketcher-react/src/script/editor/tool/sgroup.js
  packages/ketcher-react/src/script/editor/tool/sgroup.ts
  packages/ketcher-react/src/script/editor/tool/template.js
  packages/ketcher-react/src/script/editor/tool/template.ts
Due: prettier --write, eslint --fix

update ketcher-standalone package
  packages/ketcher-core/package.json
  packages/ketcher-standalone/.babelrc
  packages/ketcher-standalone/.eslintignore
  packages/ketcher-standalone/.eslintrc.json
  packages/ketcher-standalone/.npmignore
  packages/ketcher-standalone/.npmrc
  packages/ketcher-standalone/.prettierignore
  packages/ketcher-standalone/package.json
  packages/ketcher-standalone/rollup.config.js
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.types.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
  packages/ketcher-standalone/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

Add third point for elliptical arrow draw and improve selection
  packages/ketcher-core/src/application/editor/operations/rxn/RxnArrowResize.ts
  packages/ketcher-core/src/application/render/draw.js
  packages/ketcher-core/src/application/render/restruct/rerxnarrow.ts
  packages/ketcher-react/src/script/editor/tool/reactionarrow.js
Due: prettier --write, eslint --fix

remove dependencies from root package.json
  .babelrc
  .eslintignore
  .stylelintrc.json
  package.json
  packages/ketcher-core/.eslintignore
  packages/ketcher-react/.babelrc
  packages/ketcher-react/.eslintignore
  packages/ketcher-react/.eslintrc.json
  packages/ketcher-react/.npmignore
  packages/ketcher-react/.npmrc
  packages/ketcher-react/package.json
  packages/ketcher-react/rollup.config.js
  packages/ketcher-standalone/.eslintignore
  yarn.lock
Due: prettier --write, eslint --fix

run prettier for ketcher-react
  packages/ketcher-react/.eslintignore
  packages/ketcher-react/.eslintrc.json
  packages/ketcher-react/.prettierignore
  packages/ketcher-react/.stylelintignore
  packages/ketcher-react/package.json
  packages/ketcher-react/tsconfig.json
  packages/ketcher-react/tsconfig.test.json
Due: none

Fix bug with 3 anchors for straight arrows
  packages/ketcher-react/src/script/editor/tool/reactionarrow.js
Due: prettier --write, eslint --fix

Rename tools into .ts
  packages/ketcher-react/src/script/editor/tool/reactionarrow.ts
  packages/ketcher-react/src/script/editor/tool/reactionmap.ts
  packages/ketcher-react/src/script/editor/tool/reactionplus.ts
  packages/ketcher-react/src/script/editor/tool/reactionunmap.ts
  packages/ketcher-react/src/script/editor/tool/simpleobject.ts
Due: prettier --write, eslint --fix

Refactor editor tools into classes
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/enhanced-stereo.ts
  packages/ketcher-react/src/script/editor/tool/reactionarrow.ts
  packages/ketcher-react/src/script/editor/tool/reactionmap.ts
  packages/ketcher-react/src/script/editor/tool/reactionplus.ts
  packages/ketcher-react/src/script/editor/tool/reactionunmap.ts
  packages/ketcher-react/src/script/editor/tool/simpleobject.ts
Due: prettier --write, eslint --fix

fix example package
  example/.eslintignore
  example/.eslintrc.json
  example/.prettierignore
  example/.stylelintignore
  example/package.json
  example/src/App.tsx
  example/src/PeptidesToggler/PeptidesToggler.tsx
  example/src/setupTests.ts
  example/src/wdyr.ts
  example/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

update lint-staged config
  .lintstagedrc.json
Due: none

add husky pre-push hook
  .husky/pre-push
Due: none

fix ketcher-react package build
  example/.env
  package.json
  packages/ketcher-react/.babelrc
  packages/ketcher-react/package.json
  yarn.lock
Due: none

fix stylelint issues
  example/package.json
  yarn.lock
Due: none

update ignore files
  .eslintignore
  packages/ketcher-core/.prettierignore
  packages/ketcher-standalone/.prettierignore
Due: none

Fix rotating structure when selected
  packages/ketcher-core/src/application/editor/actions/rotate.ts
  packages/ketcher-react/src/script/editor/tool/rotate.ts
Due: prettier --write, eslint --fix

fix extended atoms tab
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/GenericGroups.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/components/GenGroup.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/components/components/GenSet.module.less
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

Fix prettier
  packages/ketcher-core/src/application/editor/actions/rotate.ts
Due: prettier --write, eslint --fix

update husky prepush hook
  .husky/pre-push
  package.json
Due: none

Fix stylelint
  packages/ketcher-react/src/script/ui/dialog/toolbox/rgroup/rgroup.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/FG/RemoveFG.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Add elliptical arrow closest logic
  packages/ketcher-core/src/application/render/restruct/rerxnarrow.ts
Due: prettier --write, eslint --fix

Redraw elliptical arrows with quadratic bezier
  packages/ketcher-core/src/application/render/draw.js
Due: prettier --write, eslint --fix

#1072 refactor all editor tools to classes and ts (#1075)
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/enhanced-stereo.ts
  packages/ketcher-react/src/script/editor/tool/reactionarrow.js
  packages/ketcher-react/src/script/editor/tool/reactionarrow.ts
  packages/ketcher-react/src/script/editor/tool/reactionmap.js
  packages/ketcher-react/src/script/editor/tool/reactionmap.ts
  packages/ketcher-react/src/script/editor/tool/reactionplus.js
  packages/ketcher-react/src/script/editor/tool/reactionplus.ts
  packages/ketcher-react/src/script/editor/tool/reactionunmap.js
  packages/ketcher-react/src/script/editor/tool/reactionunmap.ts
  packages/ketcher-react/src/script/editor/tool/simpleobject.js
  packages/ketcher-react/src/script/editor/tool/simpleobject.ts
Due: prettier --write, eslint --fix

#797 S-Group: incorrect rendering when using structures from Template pallete and different options from S-Group Properties window (#1070)
  packages/ketcher-core/src/domain/entities/sgroup.ts
Due: prettier --write, eslint --fix

Revert "#1072 refactor all editor tools to classes and ts (#1075)"
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/enhanced-stereo.ts
  packages/ketcher-react/src/script/editor/tool/reactionarrow.js
  packages/ketcher-react/src/script/editor/tool/reactionarrow.ts
  packages/ketcher-react/src/script/editor/tool/reactionmap.js
  packages/ketcher-react/src/script/editor/tool/reactionmap.ts
  packages/ketcher-react/src/script/editor/tool/reactionplus.js
  packages/ketcher-react/src/script/editor/tool/reactionplus.ts
  packages/ketcher-react/src/script/editor/tool/reactionunmap.js
  packages/ketcher-react/src/script/editor/tool/reactionunmap.ts
  packages/ketcher-react/src/script/editor/tool/simpleobject.js
  packages/ketcher-react/src/script/editor/tool/simpleobject.ts
Due: prettier --write, eslint --fix

Revert "#1072 refactor all editor tools to classes and ts (#1075)" (#1079)
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/enhanced-stereo.ts
  packages/ketcher-react/src/script/editor/tool/reactionarrow.js
  packages/ketcher-react/src/script/editor/tool/reactionarrow.ts
  packages/ketcher-react/src/script/editor/tool/reactionmap.js
  packages/ketcher-react/src/script/editor/tool/reactionmap.ts
  packages/ketcher-react/src/script/editor/tool/reactionplus.js
  packages/ketcher-react/src/script/editor/tool/reactionplus.ts
  packages/ketcher-react/src/script/editor/tool/reactionunmap.js
  packages/ketcher-react/src/script/editor/tool/reactionunmap.ts
  packages/ketcher-react/src/script/editor/tool/simpleobject.js
  packages/ketcher-react/src/script/editor/tool/simpleobject.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
