Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Add files via upload
  documentation/wiki/HELM_BOND_covalent.png
  documentation/wiki/HELM_BOND_disulfide.png
  documentation/wiki/HELM_MONOMER_CHEM.png
  documentation/wiki/HELM_MONOMER_nucleobase.png
  documentation/wiki/HELM_MONOMER_peptide.png
  documentation/wiki/HELM_MONOMER_phosphate.png
  documentation/wiki/HELM_MONOMER_ribose.png
  documentation/wiki/HELM_MONOMER_rna.png
Due: none

Add files via upload (#1281)
  documentation/wiki/HELM_BOND_covalent.png
  documentation/wiki/HELM_BOND_disulfide.png
  documentation/wiki/HELM_MONOMER_CHEM.png
  documentation/wiki/HELM_MONOMER_nucleobase.png
  documentation/wiki/HELM_MONOMER_peptide.png
  documentation/wiki/HELM_MONOMER_phosphate.png
  documentation/wiki/HELM_MONOMER_ribose.png
  documentation/wiki/HELM_MONOMER_rna.png
Due: none

Create monomer_representation.md
  documentation/wiki/pages/monomer_representation.md
Due: none

Create monomer_representation.md (#1282)
  documentation/wiki/pages/monomer_representation.md
Due: none

Change event coordinates calculation
  packages/ketcher-core/src/application/render/raphaelRender.js
Due: prettier --write

update package versions
  packages/ketcher-core/package.json
  packages/ketcher-react/package.json
Due: prettier --write

Add styles for firefox scrollbar (#1277)
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/Open/__snapshots__/Open.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/save/__snapshots__/Save.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/__tests__/__snapshots__/notationInput.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/shared/modal/__snapshots__/Modal.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/theming/mixins/mixins.ts
Due: prettier --write

Replace MolSerializer with KetSerializer when using users template
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
  packages/ketcher-react/src/script/ui/state/templates/index.js
  packages/ketcher-react/src/script/ui/state/templates/init-lib.js
Due: prettier --write

Add header definition
  packages/ketcher-core/src/domain/serializers/ket/schema.json
Due: prettier --write

Change event coordinates calculation (#1283)
  packages/ketcher-core/src/application/render/raphaelRender.js
Due: prettier --write

#1276 Template with simple objects are incorrect after refresh (#1287)
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
  packages/ketcher-core/src/domain/serializers/ket/schema.json
  packages/ketcher-react/src/script/ui/state/templates/index.js
  packages/ketcher-react/src/script/ui/state/templates/init-lib.js
Due: prettier --write

Add files via upload
  documentation/wiki/HELM_BOND_coloring.png
  documentation/wiki/HELM_BOND_hydrogen.png
Due: none

Add files via upload (#1289)
  documentation/wiki/HELM_BOND_coloring.png
  documentation/wiki/HELM_BOND_hydrogen.png
Due: none

Create demo app and respective workspace using CRA
  demo/README.md
  demo/package.json
  demo/public/favicon.ico
  demo/public/index.html
  demo/public/js/ketcherFunctions.js
  demo/public/logo192.png
  demo/public/logo512.png
  demo/public/manifest.json
  demo/public/robots.txt
  demo/src/App.css
  demo/src/App.test.tsx
  demo/src/App.tsx
  demo/src/components/ButtonsSelect.tsx
  demo/src/components/ControlsCard.tsx
  demo/src/components/FileInputForm.tsx
  demo/src/components/Highlighting.tsx
  demo/src/components/InputSelect.tsx
  demo/src/components/OutputArea.tsx
  demo/src/components/Panel.tsx
  demo/src/components/shared/Buttons.tsx
  demo/src/constants/buttons.ts
  demo/src/constants/defaultTheme.ts
  demo/src/index.css
  demo/src/index.tsx
  demo/src/logo.svg
  demo/src/react-app-env.d.ts
  demo/src/reportWebVitals.ts
  demo/src/setupTests.ts
  demo/src/typings.d.ts
  demo/tsconfig.json
  package.json
  yarn.lock
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Add scripts for building and serving demo app
  demo/package.json
  package.json
  yarn.lock
Due: prettier --write

Update react-scripts for example app. Disable source maps for example and demo
  demo/.env
  example/.env
  example/config/webpack.config.js
  example/package.json
  yarn.lock
Due: prettier --write

Remove tests, CRA logo, update manifest of demo app
  demo/public/logo192.png
  demo/public/logo512.png
  demo/public/manifest.json
  demo/src/App.test.tsx
  demo/src/logo.svg
Due: prettier --write

Update snapshots to account for react-dropzone minor update
  demo/package.json
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/FileDrop/__snapshots__/FileDrop.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/__snapshots__/OpenOptions.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/Open/__snapshots__/Open.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/save/__snapshots__/Save.test.tsx.snap
Due: prettier --write

#1288 Create demo app for Ketcher API (#1293)
  demo/.env
  demo/README.md
  demo/package.json
  demo/public/favicon.ico
  demo/public/index.html
  demo/public/js/ketcherFunctions.js
  demo/public/manifest.json
  demo/public/robots.txt
  demo/src/App.css
  demo/src/App.tsx
  demo/src/components/ButtonsSelect.tsx
  demo/src/components/ControlsCard.tsx
  demo/src/components/FileInputForm.tsx
  demo/src/components/Highlighting.tsx
  demo/src/components/InputSelect.tsx
  demo/src/components/OutputArea.tsx
  demo/src/components/Panel.tsx
  demo/src/components/shared/Buttons.tsx
  demo/src/constants/buttons.ts
  demo/src/constants/defaultTheme.ts
  demo/src/index.css
  demo/src/index.tsx
  demo/src/react-app-env.d.ts
  demo/src/reportWebVitals.ts
  demo/src/setupTests.ts
  demo/src/typings.d.ts
  demo/tsconfig.json
  example/.env
  example/config/webpack.config.js
  example/package.json
  package.json
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/FileDrop/__snapshots__/FileDrop.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/__snapshots__/OpenOptions.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/Open/__snapshots__/Open.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/save/__snapshots__/Save.test.tsx.snap
  yarn.lock
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix schema files
  packages/ketcher-core/src/domain/serializers/ket/schema.json
  packages/ketcher-react/src/script/ui/data/schema/struct-schema.js
Due: prettier --write

fix styles
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
  packages/ketcher-react/src/style/mixins.less
  packages/ketcher-react/src/style/variables.less
Due: stylelint --formatter verbose --fix --allow-empty-input

apply formatting
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Update modal reducer to prevent form state mutation after modal is closed
  packages/ketcher-react/src/script/ui/state/modal/index.js
Due: prettier --write

fix 'uniqueItems' and 'required' keywords
  packages/ketcher-core/src/domain/serializers/ket/schema.json
Due: prettier --write

add fallback font for mac os, add height for thin scrollbar
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
  packages/ketcher-react/src/style/mixins.less
  packages/ketcher-react/src/style/variables.less
Due: stylelint --formatter verbose --fix --allow-empty-input

remove font settings for textarea
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
  packages/ketcher-react/src/style/variables.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Add react-dropzone dependency to polymer editor, update in ketcher-react, update lock file
  packages/ketcher-polymer-editor-react/package.json
  packages/ketcher-react/package.json
  yarn.lock
Due: prettier --write

Add react-dropzone dependency to polymer editor, update in ketcher-react, update lock file (#1304)
  packages/ketcher-polymer-editor-react/package.json
  packages/ketcher-react/package.json
  yarn.lock
Due: prettier --write

#1292 Incorrect horizontal scrollbars in save structure modal window (#1296)
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
  packages/ketcher-react/src/style/mixins.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#1290 fix strict mode warnings in console (#1295)
  packages/ketcher-core/src/domain/serializers/ket/schema.json
  packages/ketcher-react/src/script/ui/data/schema/struct-schema.js
Due: prettier --write

Add TODO comment for further refactoring
  packages/ketcher-react/src/script/ui/state/modal/index.js
Due: prettier --write

Use ket serializer in copyImageToClipboard
  packages/ketcher-react/src/script/ui/action/copyImageToClipboard.js
Due: prettier --write

fix vertical scroll in smiles
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Remove test-utils, create global helper functions for tests instead
  packages/ketcher-polymer-editor-react/jest.config.js
  packages/ketcher-polymer-editor-react/src/components/Layout/Layout.test.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/Menu.test.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/menuItem/MenuItem.test.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/subMenu/SubMenu.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/AnalyzingFile/AnalyzingFile.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/AnalyzingFile/LoadingCircles/LoadingCircles.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/Open.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/FileDrop/FileDrop.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/OpenOptions.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/save/Save.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/save/saveButton/SaveButton.test.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryGroup/MonomerGroup.test.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.test.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/__tests__/expandButton.test.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/__tests__/notationInput.test.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/__tests__/textareaAuroResize.test.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/RnaMonomerSection/RnaMonomerSection.test.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/Switcher/Switcher.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/actionButton/__tests__/ActionButton.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/dropDown/__tests__/dropDown.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/icon/__tests__/icon.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/modal/Modal.test.tsx
  packages/ketcher-polymer-editor-react/src/setupTests.tsx
  packages/ketcher-polymer-editor-react/src/test-utils/index.tsx
  packages/ketcher-polymer-editor-react/src/testsSetup.ts
  packages/ketcher-polymer-editor-react/src/typings.d.ts
  packages/ketcher-polymer-editor-react/tsconfig.json
Due: prettier --write

Remove unnecessary __tests__ folders
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/__snapshots__/notationInput.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/expandButton.test.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/notationInput.test.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/textareaAuroResize.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/actionButton/ActionButton.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/dropDown/dropDown.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/icon/__snapshots__/icon.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/shared/icon/icon.test.tsx
Due: prettier --write

Update FileDrop test to fix error in console
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/FileDrop/FileDrop.test.tsx
Due: prettier --write

#1292 incorrect horizontal scrollbars in save structure modal window (#1311)
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Use ket serializer in copyImageToClipboard (#1308)
  packages/ketcher-react/src/script/ui/action/copyImageToClipboard.js
Due: prettier --write

#1291 Prevent Check Structure modal from updating its state after being closed (#1297)
  packages/ketcher-react/src/script/ui/state/modal/index.js
Due: prettier --write

#1193 refactor tests in polymer editor (#1302)
  packages/ketcher-polymer-editor-react/jest.config.js
  packages/ketcher-polymer-editor-react/src/components/Layout/Layout.test.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/Menu.test.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/menuItem/MenuItem.test.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/subMenu/SubMenu.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/AnalyzingFile/AnalyzingFile.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/AnalyzingFile/LoadingCircles/LoadingCircles.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/Open.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/FileDrop/FileDrop.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/OpenOptions.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/save/Save.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/save/saveButton/SaveButton.test.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryGroup/MonomerGroup.test.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.test.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/__snapshots__/notationInput.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/expandButton.test.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/notationInput.test.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/textareaAuroResize.test.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/RnaMonomerSection/RnaMonomerSection.test.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/Switcher/Switcher.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/actionButton/ActionButton.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/dropDown/dropDown.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/icon/__snapshots__/icon.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/shared/icon/icon.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/modal/Modal.test.tsx
  packages/ketcher-polymer-editor-react/src/setupTests.tsx
  packages/ketcher-polymer-editor-react/src/test-utils/index.tsx
  packages/ketcher-polymer-editor-react/src/testsSetup.ts
  packages/ketcher-polymer-editor-react/src/typings.d.ts
  packages/ketcher-polymer-editor-react/tsconfig.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
