Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7660 - Migrate to Indigo v1.35.0-rc.2 in-browser module
  package-lock.json
  packages/ketcher-standalone/package.json
Due: prettier --write

#7531 - Arrow icon appears in Sequence mode, violating requirement for Snake and Flex modes only (#7654)
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/RnaPresetItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
Due: prettier --write

- updated tests
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-29-Cursor-position-db746-de-not-causes-an-incorrect-sequence-formation-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-3-Connection-betwe-a50d7-onomer-affect-an-amount-of-implicit-hydrogens-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-3-Connection-betwe-dab94-onomer-affect-an-amount-of-implicit-hydrogens-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-4-Replacing-all-mo-723e4--in-edit-mode-system-not-cuts-sequence-on-two-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-8-After-inserting--aa76f-ng-mode-the-cursor-blinks-in-the-wrong-place-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-19-Adding-nucleoti-3f687-pearence-of-separated-phosphate-on-the-canvas-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-22-R-Group-logic-c-3107e-ot-wrong-if-loaded-from-complex-structure-MOL-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-23-System-not-losts-one-stereo-label-if-load-from-MOL-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-24-Export-molecule-bec3f-ive-neighbors-and-stereo-bond-not-cause-error-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-24-Export-molecule-c2b85-ive-neighbors-and-stereo-bond-not-cause-error-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-3-Tooltip-not-appears-behind-monomer-icons-in-the-library-1-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/KET/Chromium-popup/Bugs/Export to ket (and getKET function) change incrementally internal IDs every call-expected.ket
  ketcher-autotests/tests/test-data/Molfiles-V2000/Chromium-popup/Bugs/Unable to save canvas to MOL - system throws an error-expected.mol
Due: none

- updated tests
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-2-chromium-popup-linux.png
Due: none

#7525 - Specify a target origin for this message. vulnerability (#7567)
  example-ssr/src/app/editor.tsx
  example/public/iframe.html
  example/src/App.tsx
  example/src/ClosableApp.tsx
  example/src/DuoApp.tsx
  example/src/PopupApp.tsx
  example/src/utils/safePostMessage.ts
Due: prettier --write

fix: fix code
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/hooks/useLibraryItemDrag.tsx
Due: prettier --write

- updated tests
  ketcher-autotests/tests/pages/molecules/canvas/TextEditorDialog.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Text-Tool/text-tools-modification-and-manipulation.spec.ts
Due: prettier --write

Backmerge: #7575 – Monomer creation wizard opens despite selection being connected via non simple bond (#7652)
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/domain/serializers/ket/helpers.ts
  packages/ketcher-core/src/utilities/SettingsManager.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/create-monomer.ts
  packages/ketcher-react/src/script/ui/action/index.ts
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.constants.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.types.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/NaturalAnaloguePicker/NaturalAnaloguePicker.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/Notification/Notification.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7531 - Arrow icon appears in Sequence mode, violating requirement for Snake and Flex modes only (#7654) (#7662)
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/RnaPresetItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
Due: prettier --write

remove several images
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-Pressing-Clean-Up-button-not-erase-all-macromolecules-from-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-for-CHEMs-mono-c2074--to-micro-mode-restricted-remove-abbreviation-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-for-molecules-with-monomers.spec.ts-snapshots/Connection-rules-for-molecules-with-monomers--aff91-lish-connection-between-monomers-and-molecule-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-for-molecules-with-monomers.spec.ts-snapshots/Connection-rules-for-molecules-with-monomers--e5955-lish-connection-between-monomers-and-molecule-2-chromium-linux.png
Due: none

Revert "remove several images"
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-Pressing-Clean-Up-button-not-erase-all-macromolecules-from-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-for-CHEMs-mono-c2074--to-micro-mode-restricted-remove-abbreviation-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-preview-window-of-macro-structure-does-not-change-in-micro-mode-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-for-molecules-with-monomers.spec.ts-snapshots/Connection-rules-for-molecules-with-monomers--aff91-lish-connection-between-monomers-and-molecule-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-for-molecules-with-monomers.spec.ts-snapshots/Connection-rules-for-molecules-with-monomers--e5955-lish-connection-between-monomers-and-molecule-2-chromium-linux.png
Due: none

#6747 refactor: get sGroup by one way
  packages/ketcher-core/src/application/editor/actions/sgroup.ts
Due: prettier --write

2/3 update
  ketcher-autotests/tests/specs/Bugs/ketcher-3.2.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Redo-Capability-with-Ctrl-Y-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Redo-Capability-with-Ctrl-Y-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Undo-Functionality-with-Ctrl-Z-and-Redo-with-Ctrl-Shift-Z-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Undo-Functionality-with-Ctrl-Z-and-Redo-with-Ctrl-Shift-Z-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-Saving-mol-Files-After-opening-a-file--1ebe6-r-of-the-screen-and-no-need-scroll-to-find-it-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-Saving-mol-Files-Monomers-are-not-stac-b1489-h-with-Ketcher-library-after-importing-a-file-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-modified-mol-files-from-external-editor-for-peptide-Bom-mol-1-chromium-linux.png
Due: prettier --write

- updated tests
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Text-Tool/text-tools-modification-and-manipulation.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Text-Tool/text-tools-modification-and-manipulation.spec.ts-snapshots/Text-tools-test-cases-Create-several-text-objects-and-modifited-them-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Text-Tool/text-tools-modification-and-manipulation.spec.ts-snapshots/Text-tools-test-cases-Create-several-text-objects-and-modifited-them-3-chromium-linux.png
Due: prettier --write

test:update snapshot
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-1-chromium-popup-linux.png
Due: none

- finalized logic
  packages/ketcher-core/src/domain/helpers/monomers.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/RnaPresetItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/shared.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/styles.ts
Due: prettier --write

#7539 - No tooltip shown and invalid attachment allowed when adding a monomer without R1 to selected monomer with free R2
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/styles.ts
Due: prettier --write

- fixed snapshots
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetGroup/__snapshots__/RnaPresetGroup.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/__snapshots__/MonomerGroup.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryList/__snapshots__/MonomerList.test.tsx.snap
Due: none

#7627 – Selection tools stop working after creating first monomer via wizard when many structures are on canvas
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#7423 - It is possible to drag monomer from library and drop it to sequence canvas
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/hooks/useLibraryItemDrag.tsx
Due: prettier --write

#7551 - Monomer drag-n-drop from Library to the canvas doesn't work for peptides it they were clicked on Sequence canvas
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/hooks/useLibraryItemDrag.tsx
Due: prettier --write

test:update snapshot
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-2-chromium-popup-linux.png
Due: none

one more
  ketcher-autotests/tests/utils/canvas/helpers.ts
Due: prettier --write

#7539 - No tooltip shown and invalid attachment allowed when adding a monomer without R1 to selected monomer with free R2 (#7665)
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/domain/helpers/monomers.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetGroup/__snapshots__/RnaPresetGroup.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/RnaPresetItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/__snapshots__/MonomerGroup.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/shared.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/styles.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryList/__snapshots__/MonomerList.test.tsx.snap
Due: prettier --write

#7562 - Tooltip overlaps monomers when hovering over arrow button on monomer card
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetGroup/RnaPresetGroup.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/RnaPresetItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/MonomerGroup.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-macromolecules/src/components/preview/helpers.ts
Due: prettier --write

#6747 - Unnecessary leaving groups (R-groups) appear upon "Removing Abbreviation" of expanded monomer when an attachment point is occupied (#7647)
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-2-chromium-popup-linux.png
  packages/ketcher-core/src/application/editor/actions/sgroup.ts
Due: prettier --write

- update snapshots
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-1-Verify-t-96d4a--Phosphates-Nucleotides-and-CHEMs-in-Library-6-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-1-Verify-t-c9490--Phosphates-Nucleotides-and-CHEMs-in-Library-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-15-Check-t-15639-rs-Bases-Phosphates-Nucleotides-and-CHEMs-7-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-15-Check-t-75ab2-rs-Bases-Phosphates-Nucleotides-and-CHEMs-5-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-15-Check-t-92ad5-rs-Bases-Phosphates-Nucleotides-and-CHEMs-6-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-15-Check-t-b772a-rs-Bases-Phosphates-Nucleotides-and-CHEMs-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-15-Check-t-bdeb3-rs-Bases-Phosphates-Nucleotides-and-CHEMs-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-15-Check-t-c599d-rs-Bases-Phosphates-Nucleotides-and-CHEMs-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-15-Check-t-f328c-rs-Bases-Phosphates-Nucleotides-and-CHEMs-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-16-Check-t-0bd51-rs-Bases-Phosphates-Nucleotides-and-CHEMs-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-16-Check-t-196c8-rs-Bases-Phosphates-Nucleotides-and-CHEMs-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-16-Check-t-4e067-rs-Bases-Phosphates-Nucleotides-and-CHEMs-5-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-16-Check-t-4f6c0-rs-Bases-Phosphates-Nucleotides-and-CHEMs-7-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-16-Check-t-914ab-rs-Bases-Phosphates-Nucleotides-and-CHEMs-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-16-Check-t-a923a-rs-Bases-Phosphates-Nucleotides-and-CHEMs-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-16-Check-t-ea43c-rs-Bases-Phosphates-Nucleotides-and-CHEMs-6-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-2-Verify-t-0259a--Phosphates-Nucleotides-and-CHEMs-in-Library-6-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-3-Verify-t-1665b--Phosphates-Nucleotides-and-CHEMs-in-Library-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-3-Verify-t-accf5--Phosphates-Nucleotides-and-CHEMs-in-Library-6-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-4-Verify-t-0803c--Phosphates-Nucleotides-and-CHEMs-in-Library-6-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-4-Verify-t-1b2e1--Phosphates-Nucleotides-and-CHEMs-in-Library-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-5-Check-th-0404f--Nucleotides-and-CHEMs-in-Library-Flex-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-5-Check-th-27c79--Nucleotides-and-CHEMs-in-Library-Flex-mode-6-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-5-Check-th-374c7--Nucleotides-and-CHEMs-in-Library-Flex-mode-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-5-Check-th-4c207--Nucleotides-and-CHEMs-in-Library-Flex-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-5-Check-th-71701--Nucleotides-and-CHEMs-in-Library-Flex-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-5-Check-th-7e062--Nucleotides-and-CHEMs-in-Library-Flex-mode-5-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-5-Check-th-8d37b--Nucleotides-and-CHEMs-in-Library-Flex-mode-7-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-6-Check-th-09aaa-Nucleotides-and-CHEMs-in-Library-Snake-mode-6-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-6-Check-th-202f2-Nucleotides-and-CHEMs-in-Library-Snake-mode-7-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-6-Check-th-64d26-Nucleotides-and-CHEMs-in-Library-Snake-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-6-Check-th-9140c-Nucleotides-and-CHEMs-in-Library-Snake-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-6-Check-th-b053c-Nucleotides-and-CHEMs-in-Library-Snake-mode-5-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-6-Check-th-cf7d5-Nucleotides-and-CHEMs-in-Library-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-6-Check-th-ef807-Nucleotides-and-CHEMs-in-Library-Snake-mode-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-7-Check-th-2d37b-ht-of-the-monomer-with-R2-on-canvas-Presets-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-7-Check-th-50e6c-ht-of-the-monomer-with-R2-on-canvas-Presets-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-8-Check-th-1b433-t-of-the-monomer-with-R2-on-canvas-Peptides-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-9-Check-th-3cbbe-ght-of-the-monomer-with-R2-on-canvas-Sugars-1-chromium-popup-linux.png
Due: none

- update snapshots
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-1-Verify-t-c9490--Phosphates-Nucleotides-and-CHEMs-in-Library-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-15-Check-t-f328c-rs-Bases-Phosphates-Nucleotides-and-CHEMs-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-2-Verify-t-0259a--Phosphates-Nucleotides-and-CHEMs-in-Library-6-chromium-popup-linux.png
Due: none

- update snapshots
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-10-Check-t-1c034-ight-of-the-monomer-with-R2-on-canvas-Bases-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-3-Verify-t-1665b--Phosphates-Nucleotides-and-CHEMs-in-Library-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-4-Verify-t-1b2e1--Phosphates-Nucleotides-and-CHEMs-in-Library-4-chromium-popup-linux.png
Due: none

- update snapshots
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-10-Check-t-3763c-ight-of-the-monomer-with-R2-on-canvas-Bases-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-12-Check-t-47cbc-f-the-monomer-with-R2-on-canvas-Nucleotides-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-6-Check-th-ef807-Nucleotides-and-CHEMs-in-Library-Snake-mode-4-chromium-popup-linux.png
Due: none

#7423 - It is possible to drag monomer from library and drop it to sequence canvas (#7666)
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/hooks/useLibraryItemDrag.tsx
Due: prettier --write

Backmerge: #7423 - It is possible to drag monomer from library and drop it to sequence canvas (#7663)
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/hooks/useLibraryItemDrag.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
