Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

#4384 - Section 9: skip Playwright E2E coverage by explicit decision
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

fix(react): anchor the translation-key heuristic to avoid false positives on labels ending in ':'
  packages/ketcher-react/src/script/ui/action/resolveActionTitle.ts
  packages/ketcher-react/src/script/ui/utils/index.ts
Due: prettier --write

#4384 - Mark Section 9 progress in tasks.md (9.1-9.3, 9.6)
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

#4384 - Section 9: document final visual walkthrough (9.4) and its regression fix (9.8)
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

fix(react): restore full-height layout on the i18n dir wrapper (Section 0 regression)
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/Editor.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#4384 - Add OpenSpec proposal for Simplified Chinese (zh-CN) locale
  openspec/changes/ketcher-react-i18n-chinese-locale/design.md
  openspec/changes/ketcher-react-i18n-chinese-locale/proposal.md
  openspec/changes/ketcher-react-i18n-chinese-locale/specs/chinese-locale/spec.md
  openspec/changes/ketcher-react-i18n-chinese-locale/tasks.md
Due: none

#4384 - Document the Section 0 layout regression and fix in tasks.md
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

#6800 - Update the Enter-at-second-position screenshots for both backbones breaking
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-110-4-Add-Sequence-chain-breaker-Enter-to-A---p-A-A---A-to-second-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-110-4-Add-Sequence-chain-breaker-Enter-to-A---p-A-A---A-to-second-position-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-111-4-Add-Sequence-chain-breaker-Enter-to-A---p-O-A---A-to-second-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-111-4-Add-Sequence-chain-breaker-Enter-to-A---p-O-A---A-to-second-position-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-123-4-Add-Sequence-chain-breaker-Enter-to-O---p-A-A---A-to-second-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-123-4-Add-Sequence-chain-breaker-Enter-to-O---p-A-A---A-to-second-position-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-132-4-Add-Sequence-chain-breaker-Enter-to-p---p-A-A---A-to-second-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-132-4-Add-Sequence-chain-breaker-Enter-to-p---p-A-A---A-to-second-position-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-38-4-Add-Sequence-chain-breaker-Enter-to-A---A-A-A---A-to-second-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-38-4-Add-Sequence-chain-breaker-Enter-to-A---A-A-A---A-to-second-position-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-69-4-Add-Sequence-chain-breaker-Enter-to-A---O-A-A---A-to-second-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-69-4-Add-Sequence-chain-breaker-Enter-to-A---O-A-A---A-to-second-position-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-70-4-Add-Sequence-chain-breaker-Enter-to-A---O-O-A---A-to-second-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-70-4-Add-Sequence-chain-breaker-Enter-to-A---O-O-A---A-to-second-position-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-82-4-Add-Sequence-chain-breaker-Enter-to-O---O-A-A---A-to-second-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-82-4-Add-Sequence-chain-breaker-Enter-to-O---O-A-A---A-to-second-position-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-93-4-Add-Sequence-chain-breaker-Enter-to-p---O-A-A---A-to-second-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-93-4-Add-Sequence-chain-breaker-Enter-to-p---O-A-A---A-to-second-position-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-110-4-Add-Sequence-chain-breaker-Ent-9f7b5--A---A-to-second-position-of-antisence-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-110-4-Add-Sequence-chain-breaker-Ent-eeaca--A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-111-4-Add-Sequence-chain-breaker-Ent-2d8a5--A---A-to-second-position-of-antisence-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-111-4-Add-Sequence-chain-breaker-Ent-81930--A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-123-4-Add-Sequence-chain-breaker-Ent-1c9da--A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-123-4-Add-Sequence-chain-breaker-Ent-a0e41--A---A-to-second-position-of-antisence-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-132-4-Add-Sequence-chain-breaker-Ent-1c887--A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-132-4-Add-Sequence-chain-breaker-Ent-8ae9d--A---A-to-second-position-of-antisence-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-38-4-Add-Sequence-chain-breaker-Ente-933c3--A---A-to-second-position-of-antisence-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-38-4-Add-Sequence-chain-breaker-Ente-a5ebf--A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-69-4-Add-Sequence-chain-breaker-Ente-dc598--A---A-to-second-position-of-antisence-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-69-4-Add-Sequence-chain-breaker-Ente-dfa81--A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-70-4-Add-Sequence-chain-breaker-Ente-5d36a--A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-70-4-Add-Sequence-chain-breaker-Ente-a0769--A---A-to-second-position-of-antisence-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-82-4-Add-Sequence-chain-breaker-Ente-43a8b--A---A-to-second-position-of-antisence-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-82-4-Add-Sequence-chain-breaker-Ente-b5d11--A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-93-4-Add-Sequence-chain-breaker-Ente-ca5e9--A---A-to-second-position-of-antisence-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-93-4-Add-Sequence-chain-breaker-Ente-e4549--A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
Due: none

i18n(react): add zh-CN infrastructure, language switcher, persistence, reactive dir (Chinese locale Section 1)
  packages/ketcher-react/src/Editor.tsx
  packages/ketcher-react/src/i18n/i18n.ts
  packages/ketcher-react/src/locales/en/settings.json
  packages/ketcher-react/src/locales/zh-CN/common.json
  packages/ketcher-react/src/locales/zh-CN/components.json
  packages/ketcher-react/src/locales/zh-CN/dialogs.json
  packages/ketcher-react/src/locales/zh-CN/settings.json
  packages/ketcher-react/src/locales/zh-CN/toolbar.json
  packages/ketcher-react/src/locales/zh-CN/toolbars.json
  packages/ketcher-react/src/script/ui/component/form/form/form.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
Due: prettier --write

#4384 - Mark Section 2 progress in Chinese-locale tasks.md
  openspec/changes/ketcher-react-i18n-chinese-locale/tasks.md
Due: none

#4384 - Mark Section 3 progress in Chinese-locale tasks.md
  openspec/changes/ketcher-react-i18n-chinese-locale/tasks.md
Due: none

#4384 - Mark Section 1 progress in Chinese-locale tasks.md
  openspec/changes/ketcher-react-i18n-chinese-locale/tasks.md
Due: none

i18n(react): translate common/toolbar/toolbars into zh-CN (Chinese locale Section 2)
  packages/ketcher-react/src/locales/zh-CN/common.json
  packages/ketcher-react/src/locales/zh-CN/toolbar.json
  packages/ketcher-react/src/locales/zh-CN/toolbars.json
Due: prettier --write

i18n(react): translate dialogs.json into zh-CN (Chinese locale Section 3)
  packages/ketcher-react/src/locales/zh-CN/dialogs.json
Due: prettier --write

docs: document the new UI localization feature in README
  README.md
Due: none

i18n(react): add zh-CN locale parity regression tests (Chinese locale Section 7)
  openspec/changes/ketcher-react-i18n-chinese-locale/tasks.md
  packages/ketcher-react/src/i18n/i18n.test.ts
Due: prettier --write

i18n(react): translate legacy script/ui/dialog/* + struct-schema.ts into zh-CN (Chinese locale Section 6)
  openspec/changes/ketcher-react-i18n-chinese-locale/tasks.md
  packages/ketcher-react/src/locales/en/dialogs.json
  packages/ketcher-react/src/locales/zh-CN/dialogs.json
  packages/ketcher-react/src/script/ui/component/form/form/form.tsx
  packages/ketcher-react/src/script/ui/data/schema/sdata-schema.js
  packages/ketcher-react/src/script/ui/data/schema/struct-schema.ts
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.constants.tsx
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.test.tsx
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.tsx
  packages/ketcher-react/src/script/ui/dialog/template/TemplateDialog.tsx
  packages/ketcher-react/src/script/ui/dialog/template/template-attach.tsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/SDataFieldset.tsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/SGroupFieldset.tsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/enhancedStereo/enhancedStereo.tsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/labeledit.tsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/rgroup/rgroup.tsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AtomMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/AtomElement/AtomElement.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Bond/Bond.tsx
Due: prettier --write

#4384 - Mark Section 4 progress in Chinese-locale tasks.md
  openspec/changes/ketcher-react-i18n-chinese-locale/tasks.md
Due: none

i18n(react): translate settings.json into zh-CN (Chinese locale Section 5)
  packages/ketcher-react/src/locales/zh-CN/settings.json
Due: prettier --write

#4384 - Mark Section 5 progress in Chinese-locale tasks.md
  openspec/changes/ketcher-react-i18n-chinese-locale/tasks.md
Due: none

Restructure Chinese-locale tasks.md for legacy dialog scope
  openspec/changes/ketcher-react-i18n-chinese-locale/tasks.md
Due: none

i18n(react): translate components.json into zh-CN + fix bond-title truncation and 6 missed extractions (Chinese locale Section 4)
  packages/ketcher-react/src/locales/en/components.json
  packages/ketcher-react/src/locales/zh-CN/components.json
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useMakeAttachmentPointMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AttachmentPointLabelMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/BondMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/FunctionalGroupMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/MultitailArrowMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/RGroupAttachmentPointMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/SelectionMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/utils.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/Notification/Notification.tsx
Due: prettier --write

Archive ketcher-react-i18n-foundation change
  openspec/changes/archive/2026-09-08-ketcher-react-i18n-foundation/.openspec.yaml
  openspec/changes/archive/2026-09-08-ketcher-react-i18n-foundation/design.md
  openspec/changes/archive/2026-09-08-ketcher-react-i18n-foundation/proposal.md
  openspec/changes/archive/2026-09-08-ketcher-react-i18n-foundation/rtl-icon-inventory.md
  openspec/changes/archive/2026-09-08-ketcher-react-i18n-foundation/specs/i18n-infrastructure/spec.md
  openspec/changes/archive/2026-09-08-ketcher-react-i18n-foundation/specs/rtl-layout-foundation/spec.md
  openspec/changes/archive/2026-09-08-ketcher-react-i18n-foundation/specs/translation-key-extraction-ketcher-react/spec.md
  openspec/changes/archive/2026-09-08-ketcher-react-i18n-foundation/tasks.md
Due: none

Archive ketcher-react-i18n-chinese-locale change; document i18n in memory bank
  .memory-bank/architecture.md
  .memory-bank/features/README.md
  .memory-bank/features/localization.md
  .memory-bank/invariants.md
  .memory-bank/modules/README.md
  .memory-bank/modules/i18n.md
  openspec/changes/archive/2026-09-09-ketcher-react-i18n-chinese-locale/.openspec.yaml
  openspec/changes/archive/2026-09-09-ketcher-react-i18n-chinese-locale/design.md
  openspec/changes/archive/2026-09-09-ketcher-react-i18n-chinese-locale/proposal.md
  openspec/changes/archive/2026-09-09-ketcher-react-i18n-chinese-locale/specs/chinese-locale/spec.md
  openspec/changes/archive/2026-09-09-ketcher-react-i18n-chinese-locale/tasks.md
Due: none

fix(i18n): translate Absolute/Mixed flag-label titles in zh-CN settings
  packages/ketcher-react/src/locales/zh-CN/settings.json
Due: prettier --write

ci: add temporary workflow to regenerate Playwright Linux snapshots
  .github/workflows/update-snapshots-temp.yml
Due: none

test: fix stale Open/Save button tooltip assertions
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/open-save-files.spec.ts
Due: prettier --write

fix(i18n): translate hardcoded "none" fallback in ToggleButtonGroup
  packages/ketcher-react/src/components/ToggleButtonGroup/ToggleButtonGroup.test.tsx
  packages/ketcher-react/src/components/ToggleButtonGroup/ToggleButtonGroup.tsx
  packages/ketcher-react/src/locales/en/components.json
  packages/ketcher-react/src/locales/zh-CN/components.json
Due: prettier --write

fix(react): add missing t dependency to Miew exportCML useCallback
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/Miew.tsx
Due: prettier --write

fix(i18n): translate bond type names in Bond Properties dropdown and context menu
  packages/ketcher-react/src/locales/en/dialogs.json
  packages/ketcher-react/src/locales/zh-CN/dialogs.json
  packages/ketcher-react/src/script/ui/action/tools.ts
  packages/ketcher-react/src/script/ui/data/schema/struct-schema.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/BondMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/SelectionMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/utils.ts
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Bond/Bond.tsx
Due: prettier --write

fix(i18n): translate bond toolbar tool titles instead of ICU-concatenating raw English
  packages/ketcher-react/src/locales/en/toolbar.json
  packages/ketcher-react/src/locales/zh-CN/toolbar.json
  packages/ketcher-react/src/script/ui/action/tools.ts
Due: prettier --write

Fixes
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-41-System-opens-c-8462d-rs-on-micro-canvas-if-clicked-on-atom-or-bond-3-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-16-It-is-not-possi-ebc7b-d-ambiguous-monomers-on-micromolecules-canvas-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-17-It-is-not-possi-d3a3e-d-unknown-nucleotide-on-micromolecules-canvas-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.6.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-6-0-Case-5-Monomer-tooltip--03ab1--remain-in-place-when-mouse-cursor-moved-away-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-41-System-opens-c-8462d-rs-on-micro-canvas-if-clicked-on-atom-or-bond-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Add-monomers-in-macro-mod-7ee64-e-expanded-and-abreviation-can-not-be-removed-1-chromium-linux.png
Due: none

#5565 - removed github workflows unnecessary file
  .github/workflows/update-snapshots-temp.yml
Due: none

feat(i18n): extract always-visible chrome strings in ketcher-macromolecules
  packages/ketcher-macromolecules/src/components/ButtonsComponents/ButtonsComponents.tsx
  packages/ketcher-macromolecules/src/components/FloatingTools/FloatingTools.tsx
  packages/ketcher-macromolecules/src/components/LayoutModeButton/LayoutModeButton.tsx
  packages/ketcher-macromolecules/src/components/LeftMenuComponent/LeftMenuComponent.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerInput.tsx
  packages/ketcher-macromolecules/src/components/SequenceTypeGroupButton/SequenceTypeGroupButton.tsx
  packages/ketcher-macromolecules/src/components/TopMenuComponent/TopMenuComponent.tsx
  packages/ketcher-macromolecules/src/components/ZoomControls/ZoomControls.tsx
  packages/ketcher-macromolecules/src/locales/en/macromolecules.json
  packages/ketcher-macromolecules/src/locales/zh-CN/macromolecules.json
Due: prettier --write

feat(i18n): extract context menu strings
  packages/ketcher-macromolecules/src/components/contextMenu/RNAContextMenu.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/SelectedMonomersContextMenu/SelectedMonomersContextMenu.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/SequenceItemContextMenu/SequenceItemContextMenu.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/SequenceItemContextMenu/helpers.test.ts
  packages/ketcher-macromolecules/src/components/contextMenu/SequenceItemContextMenu/helpers.ts
  packages/ketcher-macromolecules/src/locales/en/macromoleculesDialogs.json
  packages/ketcher-macromolecules/src/locales/zh-CN/macromoleculesDialogs.json
  packages/ketcher-macromolecules/src/testMocks/ketcher-react.tsx
Due: prettier --write

feat(i18n): register ketcher-macromolecules namespaces in shared i18next instance
  openspec/changes/ketcher-macromolecules-i18n/.openspec.yaml
  openspec/changes/ketcher-macromolecules-i18n/design.md
  openspec/changes/ketcher-macromolecules-i18n/proposal.md
  openspec/changes/ketcher-macromolecules-i18n/specs/macromolecules-i18n-integration/spec.md
  openspec/changes/ketcher-macromolecules-i18n/specs/macromolecules-zh-cn-locale/spec.md
  openspec/changes/ketcher-macromolecules-i18n/specs/single-language-build-mode/spec.md
  openspec/changes/ketcher-macromolecules-i18n/specs/translation-key-extraction-ketcher-macromolecules/spec.md
  openspec/changes/ketcher-macromolecules-i18n/tasks.md
  packages/ketcher-macromolecules/package.json
  packages/ketcher-macromolecules/src/i18n/registerNamespaces.ts
  packages/ketcher-macromolecules/src/index.tsx
  packages/ketcher-macromolecules/src/locales/en/macromolecules.json
  packages/ketcher-macromolecules/src/locales/en/macromoleculesDialogs.json
  packages/ketcher-macromolecules/src/locales/zh-CN/macromolecules.json
  packages/ketcher-macromolecules/src/locales/zh-CN/macromoleculesDialogs.json
  packages/ketcher-macromolecules/src/types/ketcher-react.d.ts
  packages/ketcher-react/src/index.tsx
  packages/ketcher-react/src/locales/README.md
  packages/ketcher-react/src/script/ui/utils/index.ts
Due: prettier --write

feat(i18n): extract macromolecule properties & preview strings
  packages/ketcher-macromolecules/src/components/macromoleculeProperties/CalculateMacromoleculePropertiesButton.tsx
  packages/ketcher-macromolecules/src/components/macromoleculeProperties/MacromoleculePropertiesWindow.tsx
  packages/ketcher-macromolecules/src/components/preview/components/MonomerPreviewProperties/MonomerPreviewProperties.tsx
  packages/ketcher-macromolecules/src/components/preview/components/PresetPreview/PresetPreview.tsx
  packages/ketcher-macromolecules/src/components/preview/components/UnresolvedMonomerPreview/UnresolvedMonomerPreview.tsx
  packages/ketcher-macromolecules/src/locales/en/macromolecules.json
  packages/ketcher-macromolecules/src/locales/zh-CN/macromolecules.json
Due: prettier --write

feat(i18n): extract monomer library strings
  packages/ketcher-macromolecules/package.json
  packages/ketcher-macromolecules/src/components/monomerLibrary/MonomerLibrary.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/MonomerLibraryToggle.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaBuilder.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditor.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/GroupBlock/GroupBlockCompact.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/GroupBlock/GroupBlockWide.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/GroupBlock/utils.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaElementsView/PresetPhosphateFilterPopup.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaElementsView/RnaElementsAccordionView.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaElementsView/RnaElementsTabsView.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/RnaPresetItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/shared.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryList/MonomerList.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/tabsContent.tsx
  packages/ketcher-macromolecules/src/locales/en/macromoleculesDialogs.json
  packages/ketcher-macromolecules/src/locales/zh-CN/macromoleculesDialogs.json
  packages/ketcher-macromolecules/src/testMocks/ketcher-react.tsx
Due: prettier --write

feat(i18n): extract modal dialog strings
  packages/ketcher-macromolecules/src/components/modal/About/About.tsx
  packages/ketcher-macromolecules/src/components/modal/ConfirmationDialog/ConfirmationDialog.tsx
  packages/ketcher-macromolecules/src/components/modal/Delete/Delete.tsx
  packages/ketcher-macromolecules/src/components/modal/Delete/__snapshots__/Delete.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/Error/Error.tsx
  packages/ketcher-macromolecules/src/components/modal/Open/Open.tsx
  packages/ketcher-macromolecules/src/components/modal/Open/OpenOptions/FileDrop/FileDrop.tsx
  packages/ketcher-macromolecules/src/components/modal/Open/OpenOptions/OpenOptions.tsx
  packages/ketcher-macromolecules/src/components/modal/Settings/Settings.tsx
  packages/ketcher-macromolecules/src/components/modal/Settings/SettingsAccordion.tsx
  packages/ketcher-macromolecules/src/components/modal/Settings/SettingsField.tsx
  packages/ketcher-macromolecules/src/components/modal/Settings/SettingsFields.tsx
  packages/ketcher-macromolecules/src/components/modal/Settings/fieldGroups.ts
  packages/ketcher-macromolecules/src/components/modal/UpdateSequenceInRNABuilder/UpdateSequenceInRNABuilder.tsx
  packages/ketcher-macromolecules/src/components/modal/UpdateSequenceInRNABuilder/__snapshots__/UpdateSequenceInRNABuilder.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/monomerConnection/MonomerConnections.tsx
  packages/ketcher-macromolecules/src/components/modal/save/Save.tsx
  packages/ketcher-macromolecules/src/components/shared/dropDown/dropDown.tsx
  packages/ketcher-macromolecules/src/locales/en/macromoleculesDialogs.json
  packages/ketcher-macromolecules/src/locales/zh-CN/macromoleculesDialogs.json
  packages/ketcher-macromolecules/src/testMocks/ketcher-react.tsx
Due: prettier --write

refactor(i18n): convert UI-chrome CSS to logical properties (RTL groundwork)
  packages/ketcher-macromolecules/src/components/Layout/Layout.tsx
  packages/ketcher-macromolecules/src/components/Loader/index.tsx
  packages/ketcher-macromolecules/src/components/SequenceSyncEditModeButton/SequenceSyncEditModeButton.tsx
  packages/ketcher-macromolecules/src/components/ZoomControls/styles.ts
  packages/ketcher-macromolecules/src/components/contextMenu/styles.ts
  packages/ketcher-macromolecules/src/components/macromoleculeProperties/MacromoleculePropertiesWindow.tsx
  packages/ketcher-macromolecules/src/components/menu/__snapshots__/Menu.test.tsx.snap
  packages/ketcher-macromolecules/src/components/menu/subMenu/styles.ts
  packages/ketcher-macromolecules/src/components/modal/About/About.styles.ts
  packages/ketcher-macromolecules/src/components/modal/Delete/__snapshots__/Delete.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/Open/AnalyzingFile/AnalyzingFile.tsx
  packages/ketcher-macromolecules/src/components/modal/Open/Open.styles.ts
  packages/ketcher-macromolecules/src/components/modal/Open/Open.tsx
  packages/ketcher-macromolecules/src/components/modal/Open/OpenOptions/OpenOptions.tsx
  packages/ketcher-macromolecules/src/components/modal/Open/OpenOptions/__snapshots__/OpenOptions.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/Open/__snapshots__/Open.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/Settings/Settings.styles.ts
  packages/ketcher-macromolecules/src/components/modal/Settings/SettingsAccordion.styles.ts
  packages/ketcher-macromolecules/src/components/modal/UpdateSequenceInRNABuilder/__snapshots__/UpdateSequenceInRNABuilder.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/save/Save.styles.ts
  packages/ketcher-macromolecules/src/components/modal/save/__snapshots__/Save.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/MonomerLibraryToggle.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/GroupBlock/styles.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/__snapshots__/RnaEditorExpanded.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/styles.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaElementsView/styles.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/styles.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/__snapshots__/MonomerGroup.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/styles.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryList/__snapshots__/MonomerList.test.tsx.snap
  packages/ketcher-macromolecules/src/components/preview/components/MonomerPreview/MonomerPreview.styles.ts
  packages/ketcher-macromolecules/src/components/preview/components/MonomerPreviewProperties/MonomerPreviewProperties.styles.ts
  packages/ketcher-macromolecules/src/components/preview/components/PresetPreview/PresetPreview.styles.ts
  packages/ketcher-macromolecules/src/components/shared/Tabs/Tabs.styles.ts
  packages/ketcher-macromolecules/src/components/shared/dropDown/dropDown.tsx
  packages/ketcher-macromolecules/src/components/shared/dropDown/styledIcons.tsx
  packages/ketcher-macromolecules/src/components/shared/modal/Modal.tsx
  packages/ketcher-macromolecules/src/components/shared/modal/__snapshots__/Modal.test.tsx.snap
  packages/ketcher-macromolecules/src/components/shared/textInputField/TextInputField.tsx
Due: prettier --write
