Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

#3914 – Add support for opening structures in CDX format embedded into MS PowerPoint (#3969)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-empty-pptx-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-2-chromium-linux.png
  ketcher-autotests/tests/test-data/PPTX/pptx-empty.pptx
  ketcher-autotests/tests/test-data/PPTX/pptx-with-chem-draw.pptx
  package-lock.json
  packages/ketcher-react/package.json
  packages/ketcher-react/src/script/ui/state/server/selectors/index.ts
  packages/ketcher-react/src/script/ui/utils/fileOpener.js
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/CDXStructuresViewer.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/CDXStructuresViewer.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/index.ts
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/ViewSwitcher.tsx
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.types.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#2177 - remove library.svg and all its references
  example/public/templates/library.svg
  packages/ketcher-react/src/templates/library.sdf
Due: none

- added expected snapshots for firefox
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-empty-pptx-file-1-firefox-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-2-firefox-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/data-s-group-tool.spec.ts-snapshots/Data-S-Group-tool-Add-S-Group-properties-to-structure-and-atom-1-firefox-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Multiple-S-Group-Tool/multiple-s-group-tool.spec.ts-snapshots/Multiple-S-Group-tool-Add-S-Group-properties-to-structure-and-atom-1-firefox-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/SRU-Polymer/sru-polymer-tool.spec.ts-snapshots/SRU-Polymer-tool-Add-S-Group-properties-to-structure-and-atom-1-firefox-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Add-S-Group-Query-component-properties-to-structure-and-atom-1-firefox-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Add-S-Group-properties-to-structure-and-atom-1-firefox-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/Lasso-Selection-Tool/lasso-tool.spec.ts-snapshots/Lasso-Selection-tool-Don-t-break-the-selection-if-the-user-s-cursor-goes-beyond-the-canvas-1-firefox-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-50px-to-Right-Structure-Movement-with-Arrow-Keys-1px-move-2-firefox-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-50px-to-Up-Structure-Movement-with-Arrow-Keys-1px-move-2-firefox-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Bond-Tool/all-bonds.spec.ts-snapshots/DOUBLE-AROMATIC-bond-tool-placing-DOUBLE-AROMATIC-on-canvas-1-firefox-linux.png
  ketcher-autotests/tests/Templates/Custom-Templates/custom-templates.spec.ts-snapshots/Open-Ketcher-Edit-templates---Template-Name-1-firefox-linux.png
Due: none

#3949 - Parameter "sgroups" does not appear in .ket file if a S-Group is applied to structure along with molecule
  packages/ketcher-core/src/application/editor/MacromoleculesConverter.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
Due: prettier --write

fix
  packages/ketcher-react/src/Editor.tsx
Due: prettier --write

actual fix
  packages/ketcher-react/src/Editor.tsx
Due: prettier --write

#3869 refactor side chain logic
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

#3915 - Pasting does not work in Firefox browser at all (#3968)
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.jsx
  packages/ketcher-react/src/script/ui/component/cliparea/clipboardUtils.js
Due: prettier --write

#3914 Add support for opening structures in CDX format embedded into MS PowerPoint change preview rendering mechanism
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-2-chromium-linux.png
  packages/ketcher-react/src/script/ui/state/editor/selectors/index.ts
  packages/ketcher-react/src/script/ui/state/shared.ts
  packages/ketcher-react/src/script/ui/utils/fileOpener.js
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/CDXStructuresViewer.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/CDXStructuresViewer.tsx
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- fixed tests - refactored getFragmentsGroupedBySgroup method
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Pasting-SMA-42cb4-two-query-groups-should-not-trigger-any-error-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Pasting-SMA-8c2a2--one-query-group-should-not-trigger-any-error-1-chromium-linux.png
  packages/ketcher-core/src/application/editor/MacromoleculesConverter.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
Due: prettier --write

Backmerge:#3914 Add support for opening structures in CDX format embedded into MS PowerPoint change preview rendering mechanism
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-2-chromium-linux.png
  packages/ketcher-react/src/script/ui/state/editor/selectors/index.ts
  packages/ketcher-react/src/script/ui/state/shared.ts
  packages/ketcher-react/src/script/ui/utils/fileOpener.js
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/CDXStructuresViewer.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/CDXStructuresViewer.tsx
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#3869 update screenshot
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/snake-bond-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-chain-with-side-chains-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-chain-with-side-chains-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-mix-chains-with-nucleotides-and-peptides-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-mix-chains-with-nucleotides-and-peptides-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-mix-chains-with-nucleotides-and-peptides-3-chromium-linux.png
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Pasting-SMA-42cb4-two-query-groups-should-not-trigger-any-error-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Pasting-SMA-8c2a2--one-query-group-should-not-trigger-any-error-1-chromium-linux.png
Due: none

- added 8 tests; - added expected snapshots
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-A-tooltip-appears-when-3f720--a-CHEM-on-canvas-while-Bond-tool-is-selected-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-A-tooltip-appears-when-989f0-a-CHEM-on-canvas-while-Erase-tool-is-selected-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-A-tooltip-appears-when-c6566-EM-on-canvas-while-Selection-tool-is-selected-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Selected-CHEM-discards-11390-e-hovered-on-canvas-and-ESC-button-is-clicked-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Selected-CHEM-discards-d97b2-e-hovered-on-canvas-and-ESC-button-is-clicked-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Selected-RNA-discards--3d4ed-e-hovered-on-canvas-and-ESC-button-is-clicked-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Selected-RNA-discards--4a3d5-e-hovered-on-canvas-and-ESC-button-is-clicked-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Atom-properties-attributes/atom-properties-attributes.spec.ts
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-key-Del-When-deleting-part-of-a-structure--92b8c-ursor-an-error-not-occurs-in-DevTool-console-1-chromium-linux.png
Due: prettier --write

#3949 - Parameter "sgroups" does not appear in .ket file if a S-Group is applied to structure along with molecule (#3975)
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Pasting-SMA-42cb4-two-query-groups-should-not-trigger-any-error-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Pasting-SMA-8c2a2--one-query-group-should-not-trigger-any-error-1-chromium-linux.png
  packages/ketcher-core/src/application/editor/MacromoleculesConverter.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
Due: prettier --write

Backmerge:#3914 Add support for opening structures in CDX format embedded into MS PowerPoint change preview rendering mechanism (#3985)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-2-chromium-linux.png
  packages/ketcher-react/src/script/ui/state/editor/selectors/index.ts
  packages/ketcher-react/src/script/ui/state/shared.ts
  packages/ketcher-react/src/script/ui/utils/fileOpener.js
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/CDXStructuresViewer.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/CDXStructuresViewer.tsx
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- added tests; - added 3 test files; - added expected snapshots
  ketcher-autotests/tests/Macromolecule-editor/Chem-monomers/chem-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Chem-monomers/chem-add-to-canvas.spec.ts-snapshots/Actions-with-CHEM-Check-that-APs-are-not-redrawn-incorrectly-after-opening-the-modal-window-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Chem-monomers/chem-add-to-canvas.spec.ts-snapshots/Actions-with-CHEM-Check-that-APs-are-not-redrawn-incorrectly-after-opening-the-modal-window-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Chem-monomers/chem-add-to-canvas.spec.ts-snapshots/Actions-with-CHEM-Check-that-CHEM-name-fits-in-its-icon-when-placed-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Check-that-selected-mo-0e8f8--appear-above-the-others-when-you-click-on-it-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Check-that-selected-mo-5844a--appear-above-the-others-when-you-click-on-it-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Check-that-selected-monomer-appear-above-the-others-when-you-click-on-it-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Add-RNA-to-canvas-when-Sugar-does--60d7a-int-for-example-3SS6-nC65C-oxy-am6-daA-Rsp-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/all-chems.ket
  ketcher-autotests/tests/test-data/KET/stuck-peptides-connected.ket
  ketcher-autotests/tests/test-data/KET/stuck-peptides-not-connected.ket
  ketcher-autotests/tests/utils/selectors/templateModal.ts
Due: prettier --write

- refactored tests for r-group-fragment-tool
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/R-group-tool/r-group-fragment-tool.spec.ts
Due: prettier --write

- refactored plus-and-arrows-tools; - updated function 'copyAndPaste' and 'cutAndPaste'
  ketcher-autotests/tests/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts
  ketcher-autotests/tests/utils/canvas/selectSelection.ts
  ketcher-autotests/tests/utils/selectors/testIdSelectors.ts
Due: prettier --write

#3869 enhancement
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/snake-bond-tool.spec.ts
  ketcher-autotests/tests/utils/canvas/helpers.ts
  ketcher-autotests/tests/utils/macromolecules/polymerBond.ts
  packages/ketcher-core/src/application/editor/tools/RnaPreset.ts
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer.ts
  packages/ketcher-core/src/domain/entities/BaseMonomer.ts
  packages/ketcher-core/src/domain/entities/Chem.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-core/src/domain/entities/Peptide.ts
  packages/ketcher-core/src/domain/entities/Phosphate.ts
  packages/ketcher-core/src/domain/entities/Sugar.ts
Due: prettier --write

# 3869 fix issue
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

- refactor functions 'cutAndPaste' and 'copyAndPaste' - added testId to helpers.ts
  ketcher-autotests/tests/utils/canvas/selectSelection.ts
  ketcher-autotests/tests/utils/canvas/tools/helpers.ts
Due: prettier --write

- refactor testId 'select-rectangle-button' to 'select-rectangle'
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts
  ketcher-autotests/tests/utils/canvas/selectSelection.ts
  ketcher-autotests/tests/utils/canvas/tools/helpers.ts
  packages/ketcher-macromolecules/src/Editor.tsx
Due: prettier --write

- refactor: change testId naming
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/snake-bond-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Rectangle-Selection-Tool/rectangle-selection-tool.spec.ts
  ketcher-autotests/tests/User-Interface/Clear-Canvas/clear-canvas.spec.ts
  ketcher-autotests/tests/utils/canvas/tools/helpers.ts
  ketcher-autotests/tests/utils/selectors/testIdSelectors.ts
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/test-data/KET/cyclopropane-and-h2o-expected.ket
  ketcher-autotests/tests/test-data/KET/cyclopropane-and-h2o-multiple-expected.ket
  ketcher-autotests/tests/test-data/KET/cyclopropane-and-h2o-query-expected.ket
  ketcher-autotests/tests/test-data/KET/cyclopropane-and-h2o-sru-expected.ket
  ketcher-autotests/tests/test-data/KET/cyclopropane-and-h2o-superatom-expected.ket
Due: none

#2177 - remove library.svg and all its references (#3973)
  example/public/templates/library.svg
  packages/ketcher-react/src/templates/library.sdf
Due: none

- fixed tests
  ketcher-autotests/tests/test-data/KET/cyclopropane-and-h2o-expected.ket
Due: none

#2177 - remove library.svg and all its references (#3994)
  example/public/templates/library.svg
  packages/ketcher-react/src/templates/library.sdf
Due: none

Backmerge: #3949 - Parameter "sgroups" does not appear in .ket file if a S-Group is applied to structure along with molecule (#3987)
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Pasting-SMA-42cb4-two-query-groups-should-not-trigger-any-error-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Pasting-SMA-8c2a2--one-query-group-should-not-trigger-any-error-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/cyclopropane-and-h2o-expected.ket
  ketcher-autotests/tests/test-data/KET/cyclopropane-and-h2o-multiple-expected.ket
  ketcher-autotests/tests/test-data/KET/cyclopropane-and-h2o-query-expected.ket
  ketcher-autotests/tests/test-data/KET/cyclopropane-and-h2o-sru-expected.ket
  ketcher-autotests/tests/test-data/KET/cyclopropane-and-h2o-superatom-expected.ket
  packages/ketcher-core/src/application/editor/MacromoleculesConverter.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
Due: prettier --write

#3900 - Updated name change handler to allow for complete deletion of text
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
Due: prettier --write

#3900 - Refactored onChangeName to always trim input
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
Due: prettier --write

Macro: #3900 - The last letter in RNA Builder name field cannot be deleted (#3995)
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
Due: prettier --write

- updated ketcher version to 2.18.0-rc.3 - updated indigo version to 1.18.0-rc.5
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/test-data/Molfiles-V3000/monomers-and-chem.mol
Due: none

Update ketcher version to 2.18.0-rc.3 (#3996)
  ketcher-autotests/tests/test-data/Molfiles-V3000/monomers-and-chem.mol
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write
