Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

6
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts
  ketcher-autotests/tests/specs/Indigo-Tools/Calculated-Values-Tool/calculated-values.spec.ts
Due: prettier --write

fix4
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts
Due: prettier --write

fix 5
  ketcher-autotests/tests/specs/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Antisense-Chains/antisense-chain-layout.spec.ts
  ketcher-autotests/tests/utils/canvas/selectSelection.ts
  ketcher-autotests/tests/utils/common/loaders/waitForSpinnerFinishedWork/waitForSpinnerFinishedWork.ts
Due: prettier --write

fix6
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts
Due: prettier --write

- added closable wrapper for ketcher
  example/config/webpack.config.js
  example/public/closable.html
  example/src/ClosableApp.tsx
  example/src/closableIndex.tsx
  example/src/index.tsx
Due: prettier --write

fixed menu position
  packages/ketcher-core/src/application/utils.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.tsx
Due: prettier --write

fix: fix styles
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.module.less
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AtomMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/BondMenuItems.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Backmerge: #7281 - App crashes when closing Ketcher (#7282)
  example/config/webpack.config.js
  example/public/closable.html
  example/src/ClosableApp.tsx
  example/src/closableIndex.tsx
  example/src/index.tsx
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/tools/Zoom.ts
  packages/ketcher-macromolecules/src/state/common/editorSlice.ts
  packages/ketcher-react/src/Editor.tsx
  packages/ketcher-react/src/script/ui/App/App.tsx
Due: prettier --write

Backmerge: #7281 - App crashes when closing Ketcher (#7282)
  example/config/webpack.config.js
  example/public/closable.html
  example/src/ClosableApp.tsx
  example/src/closableIndex.tsx
  example/src/index.tsx
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/tools/Zoom.ts
  packages/ketcher-macromolecules/src/state/common/editorSlice.ts
  packages/ketcher-react/src/script/ui/App/App.tsx
Due: prettier --write

- added safety check to macro properties - removed unnecesary part from chery pick
  packages/ketcher-macromolecules/src/components/macromoleculeProperties/MacromoleculePropertiesWindow.tsx
  packages/ketcher-react/src/script/ui/App/App.tsx
Due: prettier --write

- updated ketcher to 3.5.0-rc.4
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

#7279 - should handle undefined events property without throwing error
  ketcher-autotests/tests/specs/Bugs/ketcher-3.6.0-bugs.spec.ts
Due: prettier --write

#7281 - App crashes when closing Ketcher (#7287)
  example/config/webpack.config.js
  example/public/closable.html
  example/src/ClosableApp.tsx
  example/src/closableIndex.tsx
  example/src/index.tsx
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/tools/Zoom.ts
  packages/ketcher-macromolecules/package.json
  packages/ketcher-macromolecules/src/components/macromoleculeProperties/MacromoleculePropertiesWindow.tsx
  packages/ketcher-macromolecules/src/state/common/editorSlice.ts
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

fix 8
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Simple-Objects/action-on-simple-objects.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Simple-Objects/action-on-simple-objects.spec.ts-snapshots/Action-on-simples-objects-Simple-Object---Action-with-zoom-tool-1-chromium-linux.png
  ketcher-autotests/tests/utils/common/loaders/waitForSpinnerFinishedWork/waitForSpinnerFinishedWork.ts
Due: prettier --write

Fix 9
  ketcher-autotests/tests/specs/Indigo-Tools/Calculate-CIP-Tool/calculate-cip-tool.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts
Due: prettier --write

- add tests; - add screenshots
  ketcher-autotests/tests/pages/macromolecules/tools/Ruler.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-10-Verify-that-the-visua-0e429-that-adjusts-its-length-as-monomers-are-added-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-10-Verify-that-the-visua-6222e-that-adjusts-its-length-as-monomers-are-added-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-11-Check-if-the-slider-m-08c01-ned-to-the-corresponding-corner-of-the-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-6-Check-that-in-Snake-mo-20496-d-values-on-the-ruler-can-be-any-whole-number-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-6-Check-that-in-Snake-mo-dca2a-d-values-on-the-ruler-can-be-any-whole-number-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-7-Change-layout-by-dragging-ruler-slider-in-Sequence-and-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-7-Change-layout-by-dragging-ruler-slider-in-Sequence-and-Snake-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-7-Change-layout-by-dragging-ruler-slider-in-Sequence-and-Snake-mode-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-7-Change-layout-by-dragging-ruler-slider-in-Sequence-and-Snake-mode-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-7-Change-layout-by-dragging-ruler-slider-in-Sequence-and-Snake-mode-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-7-Change-layout-by-dragging-ruler-slider-in-Sequence-and-Snake-mode-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-8-When-the-zoom-level-is-987e0-must-display-markings-at-intervals-of-5-units-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-9-Check-that-in-Sequence-849de-resented-by-vertical-lines-instead-of-numbers-1-chromium-linux.png
Due: prettier --write

- fix after cherrypick
  packages/ketcher-react/src/Editor.tsx
  packages/ketcher-react/src/script/ui/App/App.tsx
Due: prettier --write

fix 10
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Add-monomers-in-macro-mod-3601b-micro-mode-and-check-that-it-can-not-be-moved-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Add-monomers-in-macro-mod-7ee64-e-expanded-and-abreviation-can-not-be-removed-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-Pressing-Clean-Up-button-not-erase-all-macromolecules-from-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-for-CHEMs-mono-c2074--to-micro-mode-restricted-remove-abbreviation-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-macromolecule--716dd-romode-are-represented-as-S-Groups-with-bonds-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-3dd89-e-file-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-7b663-oard-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-10443-e-file-in-Macro-mode-is-visible-on-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-36f81-board-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-zoomed-in--7ae35--switch-to-Micro-mode-and-again-to-Macro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-zoomed-in--c5dca--switch-to-Micro-mode-and-again-to-Macro-mode-2-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V2000/micro-macro-structure-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/one-attachment-point-added-in-micro-mode-expected.mol
  ketcher-autotests/tests/test-data/SDF/micro-macro-structure-v2000-expected.sdf
  ketcher-autotests/tests/test-data/SDF/micro-macro-structure-v3000-expected.sdf
  ketcher-autotests/tests/test-data/SDF/one-attachment-point-added-in-micro-modesdfv2000-expected.sdf
  ketcher-autotests/tests/test-data/SDF/one-attachment-point-added-in-micro-modesdfv3000-expected.sdf
Due: none

fix and delete styles
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.module.less
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AtomMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/BondMenuItems.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix and delete styles
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

test: update test in 1 and 6 part
  ketcher-autotests/tests/specs/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Verify-t-c4d20-ntext-menu-is-fully-blocked-in-view-only-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-16-No-overlapping-UI-elements-in-Query-Properties-right-click-menu-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-16-No-overlapping-UI-elements-in-Query-Properties-right-click-menu-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-11-System-not-show-dcb36-r-bond-of-molecule-if-it-has-attachment-point-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-in-context-menu-for-AP---only-Delete-and-Highlight-avaliable-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Verify-that-system-does-n-73232-points-R1-R8-already-exist-in-the-structure-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Attachment-Point-Tool/attachment-point-tool.spec.ts-snapshots/Attachment-Point-Tool-Save-as-rxn-file-V3000-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Layout/layout-tool.spec.ts-snapshots/Layout-The-reaction-is-displayed-in-the-middle-of-the-screen-after-clicks-Layout-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Template-manipulations.spec.ts-snapshots/Template-Manupulations-Templates---Atom-symbol-editing-2-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Template-manipulations.spec.ts-snapshots/Template-Manupulations-Templates---Atom-symbol-editing-3-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Preview-For-Abbreviated-Structures/preview-for-abbreviated-structures.spec.ts-snapshots/Preview-for-abbreviated-structures-functional-1fa6d--when-context-menu-is-shown-after-right-click-2-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-menu-for-atoms-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-submenu-for-Query-bonds-1-chromium-linux.png
Due: none

test: update tests
  ketcher-autotests/tests/specs/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Verify-t-c4d20-ntext-menu-is-fully-blocked-in-view-only-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-16-No-overlapping-UI-elements-in-Query-Properties-right-click-menu-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-11-System-not-show-dcb36-r-bond-of-molecule-if-it-has-attachment-point-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-5-Adding-attachmen-d4017-r---causes-problems-when-switch-to-Macro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-in-context-menu-for-AP---only-Delete-and-Highlight-avaliable-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Verify-that-system-does-n-73232-points-R1-R8-already-exist-in-the-structure-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Modifying-Amino-Acids/modifying-amino-acids.spec.ts-snapshots/9-Check-that-Right-clicking-on-a-selection-th-5472c-a-drop-down-menu-with-a-new-option-Modify-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Rotation/rotation.spec.ts-snapshots/Rotation-Works-with-different-zoom-level-and-screen-resolution-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Template-manipulations.spec.ts-snapshots/Template-Manupulations-Templates---Atom-symbol-editing-2-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Preview-For-Abbreviated-Structures/preview-for-abbreviated-structures.spec.ts-snapshots/Preview-for-abbreviated-structures-functional-1fa6d--when-context-menu-is-shown-after-right-click-2-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-editing-for-atoms-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-menu-for-atoms-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-menu-for-bonds-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-property-change-for-atoms-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-property-change-for-atoms-2-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-property-change-for-atoms-3-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-submenu-for-Query-bonds-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-that-menu-Enhanced-ster-0f28b-f-atom-does-not-have-enhanced-stereochemistry-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-that-the-menu-Enhanced--751a5-out-if-the-atom-have-enhanced-stereochemistry-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Click-on-the-Highlight-opti-634d1-ed-eight-colors-and-a-No-highlight-option-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Multiple-Atom-editing-by-right-click-menu-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Right-click-on-a-Bond-with-se-4f555-roup-tool-not-opens-S-Group-Properties-window-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Right-click-on-an-Atom-with-s-dae3c-roup-tool-not-opens-S-Group-Properties-window-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Verify-that-the-Highlight-o-56506-ars-below-Attach-S-Group-for-selected-bond-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Verify-that-the-Highlight-o-5cd75-low-Add-attachment-point-for-selected-atom-1-chromium-linux.png
Due: none

update tests
  ketcher-autotests/tests/specs/Macromolecule-editor/Modifying-Amino-Acids/modifying-amino-acids.spec.ts-snapshots/18-Check-if-the-original-monomer-had-a-side-c-76575--appear-after-the-modification-type-is-chosen-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Query-properties-section-wit-1af4b-fic-drop-down-list-inside-the-Edit-section-8-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Query-properties-section-wit-27620-ic-drop-down-list-inside-the-Edit-section-10-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Query-properties-section-wit-3bab0-fic-drop-down-list-inside-the-Edit-section-5-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Query-properties-section-wit-4505d-fic-drop-down-list-inside-the-Edit-section-4-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Query-properties-section-wit-59681-fic-drop-down-list-inside-the-Edit-section-7-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Query-properties-section-wit-5dd56-fic-drop-down-list-inside-the-Edit-section-3-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Query-properties-section-wit-7c917-fic-drop-down-list-inside-the-Edit-section-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Query-properties-section-wit-b38a5-fic-drop-down-list-inside-the-Edit-section-9-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Query-properties-section-wit-bc127-fic-drop-down-list-inside-the-Edit-section-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Query-properties-section-wit-ec6e2-fic-drop-down-list-inside-the-Edit-section-6-chromium-linux.png
Due: none

- add tests; - add test files; - add screenshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-12-Change-layout-by-drag-1a3f0--in-Sequence-and-Snake-mode-for-1001-Peptides-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-12-Change-layout-by-drag-4e2aa--in-Sequence-and-Snake-mode-for-1001-Peptides-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-12-Change-layout-by-drag-58ad8--in-Sequence-and-Snake-mode-for-1001-Peptides-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-12-Change-layout-by-drag-bab41--in-Sequence-and-Snake-mode-for-1001-Peptides-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-12-Change-layout-by-drag-ded7e--in-Sequence-and-Snake-mode-for-1001-Peptides-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-12-Change-layout-by-drag-e4067--in-Sequence-and-Snake-mode-for-1001-Peptides-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-13-Change-layout-by-set--296a7--in-Sequence-and-Snake-mode-for-1001-Peptides-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-13-Change-layout-by-set--3e867--in-Sequence-and-Snake-mode-for-1001-Peptides-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-13-Change-layout-by-set--6ded6--in-Sequence-and-Snake-mode-for-1001-Peptides-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-13-Change-layout-by-set--b1580--in-Sequence-and-Snake-mode-for-1001-Peptides-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-13-Change-layout-by-set--c2ef7--in-Sequence-and-Snake-mode-for-1001-Peptides-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-13-Change-layout-by-set--ec036--in-Sequence-and-Snake-mode-for-1001-Peptides-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-14-Change-layout-by-drag-4d333-lider-in-Sequence-and-Snake-mode-for-1001-DNA-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-14-Change-layout-by-drag-83076-lider-in-Sequence-and-Snake-mode-for-1001-DNA-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-14-Change-layout-by-drag-b0842-lider-in-Sequence-and-Snake-mode-for-1001-DNA-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-14-Change-layout-by-drag-b6252-lider-in-Sequence-and-Snake-mode-for-1001-DNA-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-14-Change-layout-by-drag-c098e-lider-in-Sequence-and-Snake-mode-for-1001-DNA-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-14-Change-layout-by-drag-fcb8e-lider-in-Sequence-and-Snake-mode-for-1001-DNA-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-15-Change-layout-by-set--02997-lider-in-Sequence-and-Snake-mode-for-1001-DNA-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-15-Change-layout-by-set--660ea-lider-in-Sequence-and-Snake-mode-for-1001-DNA-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-15-Change-layout-by-set--749d0-lider-in-Sequence-and-Snake-mode-for-1001-DNA-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-15-Change-layout-by-set--90500-lider-in-Sequence-and-Snake-mode-for-1001-DNA-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-15-Change-layout-by-set--c0722-lider-in-Sequence-and-Snake-mode-for-1001-DNA-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-15-Change-layout-by-set--cff53-lider-in-Sequence-and-Snake-mode-for-1001-DNA-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-16-Change-layout-by-drag-21373--mode-when-opened-Calculate-properties-window-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-16-Change-layout-by-drag-261bf--mode-when-opened-Calculate-properties-window-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-16-Change-layout-by-drag-34ca9--mode-when-opened-Calculate-properties-window-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-16-Change-layout-by-drag-54c76--mode-when-opened-Calculate-properties-window-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-16-Change-layout-by-drag-70ce0--mode-when-opened-Calculate-properties-window-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-16-Change-layout-by-drag-7caab--mode-when-opened-Calculate-properties-window-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-17-Change-layout-by-set--129e9--mode-when-opened-Calculate-properties-window-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-17-Change-layout-by-set--3ed83--mode-when-opened-Calculate-properties-window-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-17-Change-layout-by-set--93602--mode-when-opened-Calculate-properties-window-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-17-Change-layout-by-set--b892e--mode-when-opened-Calculate-properties-window-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-17-Change-layout-by-set--bc459--mode-when-opened-Calculate-properties-window-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-17-Change-layout-by-set--df330--mode-when-opened-Calculate-properties-window-2-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/1001-dna-monomers.ket
  ketcher-autotests/tests/test-data/KET/1001-peptides.ket
Due: prettier --write

test: update tests in 1 part
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-16-No-overlapping-UI-elements-in-Query-Properties-right-click-menu-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-16-No-overlapping-UI-elements-in-Query-Properties-right-click-menu-2-chromium-linux.png
Due: none

Bump Ketcher version to 3.3.0
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

#7279 - should handle undefined events property without throwing error (#7289)
  ketcher-autotests/tests/specs/Bugs/ketcher-3.6.0-bugs.spec.ts
Due: prettier --write

Bump Ketcher version to 3.4.0
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

fix: restore context menu opening on right-click
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

- refactor
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-17-Change-layout-by-set--129e9--mode-when-opened-Calculate-properties-window-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-17-Change-layout-by-set--3ed83--mode-when-opened-Calculate-properties-window-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-17-Change-layout-by-set--93602--mode-when-opened-Calculate-properties-window-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-17-Change-layout-by-set--b892e--mode-when-opened-Calculate-properties-window-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-17-Change-layout-by-set--bc459--mode-when-opened-Calculate-properties-window-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-17-Change-layout-by-set--df330--mode-when-opened-Calculate-properties-window-2-chromium-linux.png
Due: prettier --write

test: update report 2
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/preview-for-ambiguous-monomers.spec.ts-snapshots/Preview-tooltips-checks-10-Mixture-of-10-Pe-de382-ti-char-name-no-quantities-in-sequence-view-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/preview-for-ambiguous-monomers.spec.ts-snapshots/Preview-tooltips-checks-12-Mixture-of-10-Pe-39a53--char-name-with-quantities-in-sequence-view-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/preview-for-ambiguous-monomers.spec.ts-snapshots/Preview-tooltips-checks-9-Mixture-of-10-Peptides-no-quantities-in-sequence-view-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Antisense-Chains/antisense-chains.spec.ts-snapshots/26-8-1-Check-that-all-other-monomers-in-the-ba-39db9-e-directly-copied-to-the-antisense-RNA-strand-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Antisense-Chains/antisense-chains.spec.ts-snapshots/26-8-2-Check-that-all-other-monomers-in-the-ba-644b5-e-directly-copied-to-the-antisense-DNA-strand-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-13-Verify-tha-7b6bf-displayed-as-a-number-with-two-decimal-places-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-15-Check-that-346f7-he-selection-the-appropriate-card-grayed-out-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-3-Verify-afte-c8194-selection-to-Indigo-and-the-selection-remain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-4-Check-if-on-28c9c-ened-Ketcher-send-the-whole-canvas-to-Indigo-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-42-Verify-cor-5f2d3-hobicity-calculation-for-a-peptides-sequence-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-6-Check-that--229dc-e-Select-monomer-chain-or-part-of-a-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-6-Check-that--6171c-e-Select-monomer-chain-or-part-of-a-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-7-Check-that--3498d-ino-acids-Then-the-default-tab-is-RNA-DNA-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-7-Check-that--fb740-ino-acids-Then-the-default-tab-is-RNA-DNA-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-edit-mode-Copy-paste-selection-with-LClick-drag-and-undo-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-edit-mode-Copy-paste-selection-with-LClick-drag-and-undo-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-edit-mode-Copy-paste-selection-with-LClick-drag-and-undo-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-edit-mode-Select--68b8f-owLeft-then-paste-ket-from-clipboard-and-undo-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-edit-mode-Select--fad51-owLeft-then-paste-ket-from-clipboard-and-undo-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Validate-that-sequences-with-modifications-can-be-edited-after-import-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-52M-5f5e4-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-52M-ecfe8-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-A-C--3fa80-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-G--612f4-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-mA-m-fddbd-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
Due: none
