Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

feat(i18n)!: make English-only the default build, multi-language opt-in
  README.md
  openspec/changes/ketcher-macromolecules-i18n/design.md
  openspec/changes/ketcher-macromolecules-i18n/proposal.md
  openspec/changes/ketcher-macromolecules-i18n/specs/single-language-build-mode/spec.md
  openspec/changes/ketcher-macromolecules-i18n/tasks.md
  packages/ketcher-macromolecules/rollup.config.mjs
  packages/ketcher-macromolecules/src/i18n/registerNamespaces.ts
  packages/ketcher-react/jest.setup.js
  packages/ketcher-react/rollup.config.mjs
  packages/ketcher-react/src/i18n/i18n.ts
  packages/ketcher-react/src/locales/README.md
Due: prettier --write

#5565 - updated package.json and package-lock.json
  package-lock.json
  packages/ketcher-react/package.json
Due: prettier --write

fix: build ketcher-macromolecules before ketcher-react in build:packages
  package.json
Due: prettier --write

#5565 - updated snapshots for playwright tests
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-23-Set-a-new-name-for-the-button-ACS-style-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-8-Default-values--ae5ab--for-bond-not-corrupted-and-not-become-wrong-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-23-Set-a-new-name-for-the-button-ACS-style-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-8-Default-values--ae5ab--for-bond-not-corrupted-and-not-become-wrong-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-default-settings-after-clicking-ACS-Style-button-and-after-that-on-Reset-2-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/General/default-settings-verification.spec.ts-snapshots/General-Settings-Verify-value-with-up-to-2-decimal-places-cm-in-the-setting-Sub-font-size-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/General/default-settings-verification.spec.ts-snapshots/Verify-Ketcher-settings-panel-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Toolbar/toolbar.spec.ts-snapshots/Toolbar-palette-and-settings-Settings-UI-verification-1-chromium-linux.png
Due: none

test: remove i18n regression test suites
  packages/ketcher-react/jest.setup.js
  packages/ketcher-react/src/i18n/i18n.test.ts
  packages/ketcher-react/src/i18n/noHardcodedStrings.test.ts
Due: prettier --write

refactor(i18n): remove literal-text fallback from translation resolution
  packages/ketcher-react/src/locales/en/common.json
  packages/ketcher-react/src/locales/en/settings.json
  packages/ketcher-react/src/locales/zh-CN/common.json
  packages/ketcher-react/src/locales/zh-CN/settings.json
  packages/ketcher-react/src/script/ui/component/form/MeasureInput/measure-input.tsx
  packages/ketcher-react/src/script/ui/utils/index.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/utils.ts
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/Analyse.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Automap/Automap.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/RgroupLogic/components/IfThenSelect/IfThenSelect.tsx
Due: prettier --write

docs(i18n): document fallback removal, test removal, and .env support
  README.md
  packages/ketcher-react/src/locales/README.md
Due: none

docs: archive ketcher-macromolecules-i18n and refresh memory bank
  .memory-bank/adr/2026-09-24-english-only-default-build.md
  .memory-bank/architecture.md
  .memory-bank/features/localization.md
  .memory-bank/modules/i18n.md
  openspec/changes/archive/2026-09-30-ketcher-macromolecules-i18n/.openspec.yaml
  openspec/changes/archive/2026-09-30-ketcher-macromolecules-i18n/design.md
  openspec/changes/archive/2026-09-30-ketcher-macromolecules-i18n/proposal.md
  openspec/changes/archive/2026-09-30-ketcher-macromolecules-i18n/specs/macromolecules-i18n-integration/spec.md
  openspec/changes/archive/2026-09-30-ketcher-macromolecules-i18n/specs/macromolecules-zh-cn-locale/spec.md
  openspec/changes/archive/2026-09-30-ketcher-macromolecules-i18n/specs/single-language-build-mode/spec.md
  openspec/changes/archive/2026-09-30-ketcher-macromolecules-i18n/specs/translation-key-extraction-ketcher-macromolecules/spec.md
  openspec/changes/archive/2026-09-30-ketcher-macromolecules-i18n/tasks.md
  packages/ketcher-react/src/locales/README.md
Due: none

docs(i18n): add scoped Crowdin compatibility test for locale JSON format
  .memory-bank/adr/2026-09-24-english-only-default-build.md
  .memory-bank/adr/2026-10-01-crowdin-placeholder-protection-gap.md
  crowdin.yml
  packages/ketcher-react/src/locales/README.md
Due: none

feat(i18n): generate locale resource wiring from disk instead of hand-editing i18n.ts
  .memory-bank/adr/2026-10-02-generated-locale-resources.md
  .memory-bank/modules/i18n.md
  packages/ketcher-macromolecules/package.json
  packages/ketcher-macromolecules/scripts/generate-locale-resources.mjs
  packages/ketcher-macromolecules/src/i18n/localeResources.generated.ts
  packages/ketcher-macromolecules/src/i18n/registerNamespaces.ts
  packages/ketcher-react/package.json
  packages/ketcher-react/scripts/generate-locale-resources.mjs
  packages/ketcher-react/src/i18n/i18n.ts
  packages/ketcher-react/src/i18n/localeResources.generated.ts
  packages/ketcher-react/src/locales/README.md
Due: prettier --write

build: build ketcher-react before ketcher-macromolecules; add .env support for KETCHER_MULTI_LANGUAGE_BUILD
  .env.example
  .memory-bank/architecture.md
  package-lock.json
  package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-macromolecules/rollup.config.mjs
  packages/ketcher-react/package.json
  packages/ketcher-react/rollup.config.mjs
Due: prettier --write

#1916 - Redux devtool is not tracking the app's store (#11802)
  packages/ketcher-react/src/script/ui/state/index.js
Due: prettier --write

#7199 - Scroll the canvas to keep the ruler slider visible while dragging (#12068)
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.constants.ts
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.test.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
Due: prettier --write

#10460 - fix failing test
  packages/ketcher-core/src/application/render/renderers/SGroupRenderer.ts
Due: prettier --write

#6770 - Clarify Case 30 test description
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts
Due: prettier --write

Revert "#10460 - fix failing test"
  packages/ketcher-core/src/application/render/renderers/SGroupRenderer.ts
Due: prettier --write

#10857 - Address review: split merge-prevented branch, add salt/solvent tests
  packages/ketcher-react/src/script/editor/tool/select/select.test.ts
  packages/ketcher-react/src/script/editor/tool/select/select.ts
Due: prettier --write

#5565 - updated snapshots for playwright tests
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-16-It-is-not-possi-eaf87-d-ambiguous-monomers-on-micromolecules-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-16-It-is-not-possi-ebc7b-d-ambiguous-monomers-on-micromolecules-canvas-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-17-It-is-not-possi-07b60-d-unknown-nucleotide-on-micromolecules-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-17-It-is-not-possi-d3a3e-d-unknown-nucleotide-on-micromolecules-canvas-2-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.12.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-12-0-Case-18-—-Leaving-group-a-307c0-ect-for-nucleotides-created-in-monomer-wizard-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.12.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-12-0-Case-18-—-Leaving-group-a-72e38-ect-for-nucleotides-created-in-monomer-wizard-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.12.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-12-0-Case-18-—-Leaving-group-a-ec32a-ect-for-nucleotides-created-in-monomer-wizard-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Add-monomers-in-macro-mod-7ee64-e-expanded-and-abreviation-can-not-be-removed-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-ACS-Style-button-and-setting-after-clicking-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-ACS-Style-button-and-setting-after-clicking-2-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Custom-Templates/custom-templates.spec.ts-snapshots/Open-Ketcher-Custom-Templates---Window-UI-1-chromium-linux.png
Due: none

fix build errors
  demo/package.json
  example/package.json
  package-lock.json
  package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.module.less
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#10372 – Structure layout is changed while add and expand a Functional Group
  ketcher-autotests/tests/specs/Bugs/ketcher-2.28.0-bugs.spec.ts-snapshots/Case-32-S-group-in-the-middle-of-a-chain-does-not-expand-when-opening-an-SDF-V3000-file-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.28.0-bugs.spec.ts-snapshots/Case-32-S-group-in-the-middle-of-a-chain-does-not-expand-when-opening-an-SDF-V3000-file-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-3-—-Sup-7376a-ints-—-part-of-structure-should-not-disappear-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher3.spec.ts-snapshots/Check-that-if-a-monomer-is-manipulated-rotate-37380--5-Unsplit-nucleotide-Super-G-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher3.spec.ts-snapshots/Check-that-if-a-monomer-is-manipulated-rotate-74266-ter-collapsed-3-Base-nC6n5C-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher3.spec.ts-snapshots/Check-that-if-a-monomer-is-manipulated-rotate-7d4e3--later-collapsed-1-Petide-L-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher3.spec.ts-snapshots/Check-that-if-a-monomer-is-manipulated-rotate-8a05a--later-collapsed-6-CHEM-4FB-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher3.spec.ts-snapshots/Check-that-if-a-monomer-is-manipulated-rotate-98c93-r-collapsed-4-Phosphate-bnn-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/6-2-Expand-and-collapse-sugar-R-having-it-hydrogen-bonds-on-Molecules-canvas-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/6-3-Expand-and-collapse-base-nC6n5C-having-it-hydrogen-bonds-on-Molecules-canvas-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/6-5-Expand-and-collapse-unsplit-nucleotide-5hMedC-having-it-hydrogen-bonds-on-Molecules-canvas-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/6-6-Expand-and-collapse-CHEM-4aPEGMal-having-it-hydrogen-bonds-on-Molecules-canvas-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Add-R-Group-Label-on-Chain-with-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Add-Template-on-Chain-with-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Add-atom-on-Chain-with-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Check-that-hotkeys-for--bb4c9--Abbreviation-on-Chain-with-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Copy-Paste-structure-with-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Cut-Paste-structure-with-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Delete-atom-on-Chain-with-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Edit-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Functional-Groups/Functional-Group-Tools/functional-group-tools.spec.ts-snapshots/Templates---Functional-Group-Tools2-Contract-Functional-Group-on-a-structure-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Functional-Groups/Functional-Group-Tools/functional-group-tools.spec.ts-snapshots/Templates---Functional-Group-Tools2-Expand-Functional-Group-on-a-structure-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Functional-Groups/functional-groups.spec.ts-snapshots/Functional-Groups-Add-a-custom-structure-to-a--13afb--an-expanded-functional-group-and-contract-it-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Expand-monomers/1. Petide L (from library) surrounded by all types of monomers-expected2.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Expand-monomers/3. Base nC6n5C (from library) surrounded by all types of monomers-expected2.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Expand-monomers/4. Phosphate bnn (from library) surrounded by all types of monomers-expected2.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Expand-monomers/5. Unsplit nucleotide Super-G (from library) surrounded by all types of monomers-expected2.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Expand-monomers/6. CHEM 4FB (from library) surrounded by all types of monomers-expected2.ket
  packages/ketcher-core/__tests__/application/editor/actions/sgroup.test.ts
  packages/ketcher-core/src/application/editor/actions/sgroup.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useFunctionalGroupEoc.test.ts
Due: prettier --write

- fixed issues
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
  packages/ketcher-core/src/application/render/renderers/UnsplitNucleotideRenderer.ts
  packages/ketcher-react/src/Editor.test.tsx
  packages/ketcher-react/src/Editor.tsx
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

- fixed issues
  packages/ketcher-core/__tests__/application/editor/MonomerWizardSession.test.ts
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.utils.ts
Due: prettier --write

- fixed issues
  packages/ketcher-core/src/application/render/raphaelRender.ts
  packages/ketcher-react/src/script/editor/Editor.libraryMonomerWizard.test.ts
  packages/ketcher-react/src/script/editor/Editor.monomerWizard.test.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/MacromoleculeMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.utils.ts
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/EditMonomer/EditMonomer.tsx
Due: prettier --write

- fixed issues
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
  packages/ketcher-core/src/application/render/renderers/UnsplitNucleotideRenderer.ts
Due: prettier --write

- fixed issues
  packages/ketcher-core/__tests__/application/editor/MonomerWizardSession.test.ts
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.library.test.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.library.ts
Due: prettier --write

- fixed issues
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/1-Verify-that-the-header-of-the-library-chang-efb00--the-ear-instead-of-to-the-right-of-the-title-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/13-Check-that-when-a-base-is-picked-in-the-RN-8dc87-ard-appear-selected-as-if-it-was-clicked-on-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/14-Check-that-when-multiple-bases-are-already-1a64d-ction-if-all-the-bases-belong-to-same-section-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/15-Check-that-when-a-sugar-is-picked-in-the-R-d4ce6-ard-appear-selected-as-if-it-was-clicked-on-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/16-Check-that-when-multiple-sugars-are-alread-a36cf-tion-if-all-the-sugars-belong-to-same-section-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/17-Check-that-when-a-phopsphate-is-picked-in--0c390-ard-appear-selected-as-if-it-was-clicked-on-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/18-Check-that-when-multiple-phopsphates-are-a-2b1d4-if-all-the-phopsphates-belong-to-same-section-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-1-Check-AmMC6T-monomer-s-ghost-image-initia-e57c4-s-canvas-scale-while-hovered-over-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-1-Check-Cys-Bn-monomer-s-ghost-image-initia-2d70d-s-canvas-scale-while-hovered-over-Flex-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-1-Check-FMOE-monomer-s-ghost-image-initiall-4b4a5-s-canvas-scale-while-hovered-over-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-1-Check-MOE-A-P-monomer-s-ghost-image-initi-25ab1-s-canvas-scale-while-hovered-over-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-1-Check-bP-monomer-s-ghost-image-initially--e6aed-s-canvas-scale-while-hovered-over-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-2-Check-AmMC6T-monomer-s-ghost-image-initia-c6cdf--canvas-scale-while-hovered-over-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-2-Check-FMOE-monomer-s-ghost-image-initiall-ef9ed--canvas-scale-while-hovered-over-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-2-Check-MOE-A-P-monomer-s-ghost-image-initi-4ddcd--canvas-scale-while-hovered-over-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-2-Check-bP-monomer-s-ghost-image-initially--87274--canvas-scale-while-hovered-over-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/5-Verify-that-RNA-tab-redesign-include-change-in-the-appearance-of-library-cards-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/5-Verify-that-RNA-tab-redesign-include-change-in-the-appearance-of-library-cards-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/5-Verify-that-RNA-tab-redesign-include-change-in-the-appearance-of-library-cards-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/5-Verify-that-RNA-tab-redesign-include-change-in-the-appearance-of-library-cards-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/5-Verify-that-RNA-tab-redesign-include-change-in-the-appearance-of-library-cards-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Ambiguous-Bases-section-checks-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Ambiguous-Bases-section-checks-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Ambiguous-Bases-section-checks-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-CHEM-tab-check-at-Library-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-Bases-component-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-Phosphates-component-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-Presets-component-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-Sugars-component-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-10-Verify-s-68b79-onomers-that-have-internal-modification-i-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-11-Verify-s-ccfc7-T-alias-with-position-indicator-i5HydMe-dC-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-12-Verify-n-4d02f-en-position-indicator-is-missing-5HydMe-dC-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-6-Verify-case-insensitivity-of-the-search-5SUPER-DT-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-8-Verify-se-424ae-nomers-that-have-endpoint3-modification-3-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-9-Verify-se-93509-nomers-that-have-endpoint5-modification-5-1-chromium-linux.png
Due: none

- fixed tests
  ketcher-autotests/tests/specs/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-3-Tooltip-not-appears-behind-monomer-icons-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-4-Enter-key-not-adds-undeletable-preset-to-Preset-section-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-5-0-Case-6-Correct-order-of-amino-acid-modification-options-in-context-menu-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-5-0-Case-9-N-methylation-is-not-shown-as-available-for-Hyp-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-behaviour-when-a-non-bond-is-right-clicked-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Verify-that-options-Copy--de9ab--Delete-added-to-the-r-click-drop-down-menu-1-chromium-linux.png
Due: none

- fixed tests
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/32-Check-that-created-1-Amino-Acid-monomer-expanded-can-be-saved-to-SVG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/32-Check-that-created-2-Sugar-monomer-expanded-can-be-saved-to-SVG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/32-Check-that-created-3-Base-monomer-expanded-can-be-saved-to-SVG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/32-Check-that-created-4-Phosphate-monomer-expanded-can-be-saved-to-SVG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/32-Check-that-created-5-Nucleotide-monomer-expanded-can-be-saved-to-SVG-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/32-Check-that-created-6-CHEM-monomer-expanded-can-be-saved-to-SVG-in-Micro-mode-1-chromium-popup-linux.png
Due: none

- fixed tests
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-13-Separate-selenocysteine-from-cysteine-and-pyrrolysine-from-lysine-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-13-Separate-selenocysteine-from-cysteine-and-pyrrolysine-from-lysine-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-6-Create-Antisense-06bf5--antisensless-base-present-in-chain-selection-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.10.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-20---Nu-88f92-text-menu-is-wrong-for-sense-antisense-chains-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-32---Un-9b6b1--nucleotide-monomer---system-throws-exception-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.13.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-13-0-—-Small-molecules-positio-23e40-atoms-attached-to-bonds-that-connect-monomers-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.13.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-13-0-—-Small-molecules-positio-8cd6b-s-become-single-bonds-if-monomer-is-collapsed-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.15.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-15-0-Case-14-—-It-is-not-possi-4a057-and-phosphate-in-the-Nucleotide-preset-type-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.15.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-15-0-Case-9-—-The-monomer-is-m-9e2f9-g-the-Submit-button-for-any-type-of-monomer-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.7.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-7-0-Case-1-Tooltip-shown-an-fdf2e-n-multiple-monomers-with-free-R2-are-selected-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.7.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-7-0-Case-2-Tooltip-not-over-88ffa-en-hovering-over-arrow-button-on-monomer-card-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.7.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-7-0-Case-3-Arrow-icon-not-appears-in-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.7.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-7-0-Case-6-Tooltip-shown-an-8b1a3-r-without-R1-to-selected-monomer-with-free-R2-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.8.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-8-0-Case-15-Connection-betw-9b937-t-of-molecule-not-lost-after-monomer-creation-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.9.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-9-0-Case-6-Missing-separator-line-above-Delete-in-context-menu-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Flex-Mode/create-cyclic-structures.spec.ts-snapshots/Cyclic-structures-Case-5-Verify-that-right-cl-02ec2-alid-structure-have-a-Arrange-As-A-Ring-point-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation3.spec.ts-snapshots/24-Check-that-if-the-user-clicks-on-Summit-t-c6e24-xpanded-monomer-and-the-monomer-is-selected-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation3.spec.ts-snapshots/25-Check-that-if-the-user-clicks-on-Summit-t-3d2a6-xpanded-monomer-and-the-monomer-is-selected-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation3.spec.ts-snapshots/26-Check-that-if-the-user-clicks-on-Summit-t-3e868-xpanded-monomer-and-the-monomer-is-selected-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation3.spec.ts-snapshots/29-Check-that-if-the-user-clicks-on-Summit-t-cb890-xpanded-monomer-and-the-monomer-is-selected-1-chromium-popup-linux.png
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/40-Check-that-created-5-Nucleotide-monomer--1aacf--saved-opened-to-from-SDF-V3000-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/35-Check-that-created-1-Amino-Acid-monomer--ca87b-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/35-Check-that-created-2-Sugar-monomer-expanded-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/35-Check-that-created-3-Base-monomer-expanded-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/35-Check-that-created-4-Phosphate-monomer-e-86474-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/35-Check-that-created-5-Nucleotide-monomer--5f98b-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/35-Check-that-created-6-CHEM-monomer-expanded-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/45-Check-that-created-1-Amino-Acid-monomer--dfe45-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/45-Check-that-created-2-Sugar-monomer-collapsed-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/45-Check-that-created-3-Base-monomer-collapsed-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/45-Check-that-created-4-Phosphate-monomer-c-0e0d0-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/45-Check-that-created-5-Nucleotide-monomer--c5b6a-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation2.spec.ts-snapshots/45-Check-that-created-6-CHEM-monomer-collapsed-can-be-saved-opened-to-from-CDX-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts-snapshots/Modify-nucleotides-from-sequence-in-RNA-builde-77b62-as-no-R2-or-R3-it-is-disabled-in-RNA-Builder-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts-snapshots/Modify-nucleotides-from-sequence-in-RNA-builde-be9b3-ed-monomers-switches-RNA-Builder-to-edit-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts-snapshots/Sequence-mode-edit-in-RNA-Builder-Select-entire-chain-and-see-enabled-modify-in-rna-builder-button-2-chromium-linux.png
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/1. Amino Acid-collapsed-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/1. Amino Acid-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/2. Sugar-collapsed-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/2. Sugar-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/3. Base-collapsed-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/3. Base-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/4. Phosphate-collapsed-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/4. Phosphate-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/5. Nucleotide-collapsed-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/5. Nucleotide-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/6. CHEM-collapsed-expected.cdx
  ketcher-autotests/tests/test-data/CDX/Chromium-popup/Create-monomer/6. CHEM-expected.cdx
Due: none

- fixed tests
  packages/ketcher-core/src/application/render/restruct/resgroup.ts
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Selection-for-chain-structure-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-horizontally-o-29cdc--structure-and-save-paste-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-horizontally-o-55877-s-in-a-structure-and-save-paste-in-KET-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-horizontally-o-77359--structure-and-save-paste-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-horizontally-o-ce6a6-r-in-a-structure-and-save-paste-in-KET-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-horizontally-of-more-than-one-expanded-monomers-in-a-structure-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-horizontally-of-one-expanded-monomer-in-a-structure-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-horizontally-of-one-expanded-monomer-in-a-structure-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-vertically-of--3fcba--structure-and-save-paste-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-vertically-of--bcfc8--structure-and-save-paste-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-vertically-of--c92e0-r-in-a-structure-and-save-paste-in-KET-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-vertically-of--c9f40-s-in-a-structure-and-save-paste-in-KET-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-vertically-of-more-than-one-expanded-monomers-in-a-structure-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-vertically-of-one-expanded-monomer-in-a-structure-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-vertically-of-one-expanded-monomer-in-a-structure-2-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/flipping-horizontally-one-monomer-expected.ket
Due: none

- fixed tests
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-33-Able-to-select-77b05-ding-macromolecule-abbreviation-in-Micro-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-41-System-opens-c-8462d-rs-on-micro-canvas-if-clicked-on-atom-or-bond-3-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-41-System-opens-c-97fda-rs-on-micro-canvas-if-clicked-on-atom-or-bond-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-19-Ability-to-foc-417ba--within-expanded-S-group-monomer-bounding-box-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-19-Ability-to-foc-8ffa5--within-expanded-S-group-monomer-bounding-box-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-21-Structural-dist-6e77a--of-macromolecule-abbreviations-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-31-Modified-phosph-adb0d-om-main-structure-during-expand-in-Micro-Mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-32-Natural-monomer-have-standard-bond-lengths-and-angles-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-29-Correct-R1-attachment-atom-for-natural-Ribose-R-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-25-Correct-bond-le-a9fe4-angle-for-non-natural-monomers-in-the-library-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-18-Rotation-is-cor-7296d-n-exporting-transformed-monomer-to-SVG-or-PNG-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-18-Rotation-is-cor-86b31-n-exporting-transformed-monomer-to-SVG-or-PNG-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-25-Rotation-work-for-expanded-monomers-on-Molecules-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-28-Correct-highlight-not-missing-fill-for-leaving-group-atoms-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-8-Modified-phospha-87b22-om-main-structure-during-expand-in-Micro-Mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.6.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-6-0-Case-4-Chemical-element-6d3b6--Micro-mode-after-selecting-one-in-Macro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-21-Structural-dist-6e77a--of-macromolecule-abbreviations-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-31-Modified-phosph-adb0d-om-main-structure-during-expand-in-Micro-Mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-32-Natural-monomer-have-standard-bond-lengths-and-angles-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-3-Base-hU-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-4-Phosphate-bnn-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-5-Unsplit-nucleotide-5hMedC-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-6-CHEM-4aPEGMal-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-1-Check-Cys-Bn-monomer-s-ghost-image-initia-2d70d-s-canvas-scale-while-hovered-over-Flex-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/23-1-Verify-that-dropped-Cys-Bn-appears-exactly-at-the-cursor-location-on-the-canvas-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/23-1-Verify-that-dropped-MOE-A-P-appears-exactly-at-the-cursor-location-on-the-canvas-Flex-mode-1-chromium-linux.png
Due: none

- fixed tests
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.15.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-15-0-Case-14-—-It-is-not-possi-4a057-and-phosphate-in-the-Nucleotide-preset-type-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.15.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-15-0-Case-25-—-Structure-selection-after-moving-the-entire-Structure-is-incorrect-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.15.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-15-0-Case-9-—-The-monomer-is-m-9e2f9-g-the-Submit-button-for-any-type-of-monomer-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/25-Check-that-created-1-Amino-Acid-monomer-can-be-contracted-and-expanded-on-canvas-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/25-Check-that-created-2-Sugar-monomer-can-be-contracted-and-expanded-on-canvas-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/25-Check-that-created-3-Base-monomer-can-be-contracted-and-expanded-on-canvas-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/25-Check-that-created-4-Phosphate-monomer-can-be-contracted-and-expanded-on-canvas-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/25-Check-that-created-5-Nucleotide-monomer-can-be-contracted-and-expanded-on-canvas-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/25-Check-that-created-6-CHEM-monomer-can-be-contracted-and-expanded-on-canvas-1-chromium-popup-linux.png
Due: none
