Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix Bond Length Hidden by Element Padding
  ketcher-autotests/tests/specs/Bugs/ketcher-3.19.0-bugs.spec.ts-snapshots/7212-bond-length-hidden-by-element-padding-after.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.19.0-bugs.spec.ts-snapshots/7212-bond-length-hidden-by-element-padding-before.png
  packages/ketcher-core/src/application/render/restruct/reatom.ts
Due: prettier --write

#9821 fix monomer collapse bond geometry
  packages/ketcher-core/__tests__/application/editor/actions/sgroup.test.ts
  packages/ketcher-core/src/application/editor/actions/sgroup.ts
  packages/ketcher-core/src/domain/entities/monomerMicromolecule.ts
  packages/ketcher-core/src/domain/entities/sgroup.ts
Due: prettier --write

#5565 - vite build error
  packages/ketcher-core/src/application/render/raphael-ext.ts
Due: prettier --write

6794: fix autotest issues 3
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
Due: prettier --write

#3797 - working ketcher component in React
  packages/ketcher-react/README.md
Due: none

#1774 - Fix ketcher.html reference in DEVNOTES docker-compose docs
  DEVNOTES.md
Due: none

#7901 - Note that the legacy CDN UMD bundle no longer exists
  README.md
Due: none

#3515 - Uncaught TypeError: Cannot read properties of undefined (reading eventBus) in react (#11538)
  packages/ketcher-react/src/hooks/useSubscribtionOnEvents.ts
Due: prettier --write

#7011 - Fix explicit carbon labels in SVG export
  packages/ketcher-core/src/infrastructure/services/__tests__/helpers.test.ts
  packages/ketcher-core/src/infrastructure/services/helpers.ts
Due: prettier --write

#346 - Promise failing during benzene rings render (#11520)
  packages/ketcher-core/__tests__/application/editor/actions/atomMerge.test.ts
  packages/ketcher-core/__tests__/application/editor/actions/bond.test.ts
  packages/ketcher-core/__tests__/application/editor/actions/closelyFusing.test.ts
  packages/ketcher-core/src/application/editor/actions/aromaticFusing.ts
  packages/ketcher-core/src/application/editor/actions/atomMerge.ts
  packages/ketcher-core/src/application/editor/actions/bond.ts
  packages/ketcher-core/src/application/editor/actions/template.ts
  packages/ketcher-react/src/script/editor/shared/closest.test.ts
  packages/ketcher-react/src/script/editor/shared/closest.ts
  packages/ketcher-react/src/script/editor/tool/template.ts
  packages/ketcher-react/src/script/editor/tool/templatePreview.ts
Due: prettier --write

#11222 - Refactor: Reading from or writing to ref.current during React render problem clean up from packages\ketcher-react\src\script\ui\views\toolbars\RightToolbar\RightToolbar.tsx file (#11436)
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/useVerticalToolbarScroll.ts
Due: prettier --write

#11224 - Refactor: Reading from or writing to ref.current during React render problem clean up from packages\ketcher-react\src\script\ui\views\toolbars\LeftToolbar\LeftToolbar.tsx file (#11487)
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.tsx
Due: prettier --write

#2350 - Access Ketcher iframe via JavaScript, .ketcher undefined (#11542)
  README.md
Due: none

fix: guard modern clipboard write capability
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.tsx
Due: prettier --write

fix: prettier issue
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.tsx
Due: prettier --write

#11547 - Refactor: Remove all unused eslint-disable directives
  eslint.config.mjs
  ketcher-autotests/tests/pages/constants/settingsDialog/Constants.ts
  ketcher-autotests/tests/pages/molecules/canvas/SettingsDialog.ts
  package-lock.json
  package.json
  packages/ketcher-core/src/application/editor/operations/Text/TextCreateDelete.ts
  packages/ketcher-core/src/application/editor/operations/sgroup/sgroupAtom.ts
  packages/ketcher-core/src/application/editor/operations/simpleObject.ts
  packages/ketcher-core/src/application/render/renderStruct.ts
  packages/ketcher-core/src/domain/entities/box2Abs.ts
  packages/ketcher-core/src/domain/entities/pile.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-macromolecules/src/components/ZoomControls/ZoomControls.tsx
  packages/ketcher-macromolecules/src/hooks/useSetRnaPresets.ts
  packages/ketcher-react/src/hooks/useSubscribtionOnEvents.ts
  packages/ketcher-react/src/script/editor/tool/template.ts
  packages/ketcher-react/src/script/ui/dialog/template/TemplateDialog.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ToolbarMultiToolItem/usePortalStyle.ts
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomControls.tsx
Due: prettier --write

f2
  ketcher-autotests/playwright.config.ts
  ketcher-autotests/tests/pages/common/PasteFromClipboardDialog.ts
Due: prettier --write

Add Claude skills for release automation
  .claude/skills/create-release/SKILL.md
  .claude/skills/create-release/scripts/clean_changelog.py
  .claude/skills/prepare-release/SKILL.md
Due: none

Fix #11312 #11314: expand monomer and recompute valence on Remove Grouping/Abbreviation
  ketcher-autotests/tests/specs/Bugs/ketcher-3.19.0-bugs.spec.ts
  packages/ketcher-core/__tests__/application/editor/actions/sgroup.test.ts
  packages/ketcher-core/src/application/editor/actions/sgroup.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useRemoveGrouping.ts
Due: prettier --write

fix: sonar check depth
  .github/workflows/sonar.yml
Due: none

#11106 - Refactor: set-state-in-effect anti-pattern elimination from packages\ketcher-react\src\script\ui\views\components\MonomerCreationWizard\MonomerCreationWizard.tsx file (#11325)
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
Due: prettier --write

#7011 - Fix explicit carbon labels in SVG export (#11546)
  packages/ketcher-core/src/infrastructure/services/__tests__/helpers.test.ts
  packages/ketcher-core/src/infrastructure/services/helpers.ts
Due: prettier --write

fix: sonar ShellCheck
  .github/workflows/sonar.yml
Due: none

#11547 - Refactor: Remove all unused eslint disable directives (#11548)
  eslint.config.mjs
  ketcher-autotests/playwright.config.ts
  ketcher-autotests/tests/pages/common/PasteFromClipboardDialog.ts
  ketcher-autotests/tests/pages/constants/settingsDialog/Constants.ts
  ketcher-autotests/tests/pages/molecules/canvas/SettingsDialog.ts
  package-lock.json
  package.json
  packages/ketcher-core/src/application/editor/operations/Text/TextCreateDelete.ts
  packages/ketcher-core/src/application/editor/operations/sgroup/sgroupAtom.ts
  packages/ketcher-core/src/application/editor/operations/simpleObject.ts
  packages/ketcher-core/src/application/render/renderStruct.ts
  packages/ketcher-core/src/domain/entities/box2Abs.ts
  packages/ketcher-core/src/domain/entities/pile.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-macromolecules/src/components/ZoomControls/ZoomControls.tsx
  packages/ketcher-macromolecules/src/hooks/useSetRnaPresets.ts
  packages/ketcher-react/src/hooks/useSubscribtionOnEvents.ts
  packages/ketcher-react/src/script/editor/tool/template.ts
  packages/ketcher-react/src/script/ui/dialog/template/TemplateDialog.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ToolbarMultiToolItem/usePortalStyle.ts
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomControls.tsx
Due: prettier --write

test: validate Sonar Quality Gate reporting
  ketcher-autotests/tests/specs/API/api-set-get-molecule.spec.ts
  ketcher-autotests/tests/utils/canvas/selectSelection.ts
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.tsx
Due: prettier --write

test: validate Sonar Quality Gate reporting
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.tsx
Due: prettier --write

first test case works
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.16.0-bugs.spec.ts
Due: prettier --write

4444: fix it is possible to remove selection in Modify in RNA builder… (#10760)
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts-snapshots/Sequence-mode-edit-in-RNA-Builder-Select-one-nucleotide-and-cancel-modification-2-chromium-linux.png
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/editor/modes/types/sequenceMode.ts
  packages/ketcher-macromolecules/src/components/contextMenu/SequenceItemContextMenu/SequenceItemContextMenu.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/helpers/resetRnaBuilder.ts
Due: prettier --write

add scenario for second bug
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.16.0-bugs.spec.ts
Due: prettier --write

#10954 - Use lodash isNumber instead of typeof checks in mergeFragmentsIfNeeded
  packages/ketcher-core/src/application/editor/actions/atom.ts
Due: prettier --write

6794: update screenshot
  ketcher-autotests/tests/specs/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-5-Snapping-and-in-c95f1-r-moving-should-be-disabled-on-Sequence-mode-1-chromium-linux.png
  packages/ketcher-core/src/application/render/renderers/RenderersManager.ts
Due: prettier --write

refactor: simplify eslint-disable comment per code review feedback
  packages/ketcher-react/src/MicromoleculesEditor.tsx
Due: prettier --write

migrate stylelint config
  .stylelintrc.json
  package-lock.json
  package.json
Due: prettier --write

#2524 - Restore editor focus after closing shared modal
  packages/ketcher-react/src/script/ui/views/modal/Modal.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/FG/RemoveFG.tsx
Due: prettier --write

#4218 - Cannot read properties of null
  packages/ketcher-react/src/script/ui/App/initApp.tsx
  packages/ketcher-react/src/script/ui/state/toolbar/index.js
  packages/ketcher-react/src/script/ui/state/toolbar/index.test.js
Due: prettier --write

fix: terminate web worker and clean up listeners when IndigoService is destroyed
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-react/src/script/api.ts
  packages/ketcher-react/src/script/index.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorkerImports/useOffMainThreadPlugin.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorkerImports/useWasmLoader.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

#2637-Import error
  packages/ketcher-react/README.md
Due: none

#stylelint-fixes - Suppress remaining stylelint errors in ketcher-react by adding stylelint-disable-next-line comments
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/components/Accordion/Accordion.module.less
  packages/ketcher-react/src/components/InfoModal/InfoModal.module.less
  packages/ketcher-react/src/script/ui/App/App.module.less
  packages/ketcher-react/src/script/ui/component/form/Input/Input.module.less
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/dialog/template/TemplateTable.module.less
  packages/ketcher-react/src/script/ui/dialog/template/template-lib.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetTabs.module.less
  packages/ketcher-react/src/script/ui/views/modal/Modal.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/FontControl/FontControl.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ToolbarMultiToolItem/ToolbarMultiToolItem.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/toolbar.less
Due: stylelint --formatter verbose --fix --allow-empty-input

migrate stylelint config
  .memory-bank/adr/2026-08-31-stylelint-shadowing-logic.md
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
