Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

#4097 - Cursor position misalignment after switching in fullscreen after changing ketcher settings (#4098)
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
Due: prettier --write

- updated ketcher to 2.18.0-rc.7
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

- updated ketcher to 2.18.0-rc.7 (#4099)
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

- fixes
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/internal.ts
  packages/ketcher-core/src/application/editor/modes/BaseMode.ts
  packages/ketcher-core/src/application/editor/modes/FlexMode.ts
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/editor/modes/SnakeMode.ts
  packages/ketcher-core/src/application/editor/tools/Bond.ts
  packages/ketcher-core/src/application/editor/tools/Clear.ts
  packages/ketcher-core/src/application/editor/tools/Erase.ts
  packages/ketcher-core/src/application/editor/tools/Monomer.ts
  packages/ketcher-core/src/application/editor/tools/RnaPreset.ts
  packages/ketcher-core/src/application/editor/tools/SelectRectangle.ts
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer.ts
  packages/ketcher-core/src/application/render/renderers/internal.ts
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceRenderer.ts
  packages/ketcher-core/src/application/utils.ts
  packages/ketcher-core/src/domain/entities/BaseMonomer.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-core/src/domain/entities/Phosphate.ts
  packages/ketcher-core/src/domain/entities/Sugar.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
  packages/ketcher-macromolecules/src/components/menu/__snapshots__/Menu.test.tsx.snap
  packages/ketcher-macromolecules/src/state/library/librarySlice.ts
Due: prettier --write

- fixes
  packages/ketcher-core/src/application/editor/internal.ts
Due: prettier --write

- tests fixes
  ketcher-autotests/tests/Macromolecule-editor/Chem-monomers/chem-library.spec.ts-snapshots/Open-Ketcher-Open-Chem-tab-in-library-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Select-Rectangle-with-Shift-Tab-and-Erase-tool-with-Del-Backspace-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Select-Rectangle-with-Shift-Tab-and-Erase-tool-with-Del-Backspace-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Select-Rectangle-with-Shift-Tab-and-Erase-tool-with-Del-Backspace-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-After-hiding-L-ec903-acro-mode-possible-to-see-Show-Library-button-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Make-full-screen-mode-in-micro-mode-and-switch-to-macro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Placing-betaAlanine-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/snake-bond-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-mix-chains-with-nucleotides-and-peptides-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-mix-chains-with-nucleotides-and-peptides-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/add-default-presets.spec.ts-snapshots/Macromolecules-default-presets-Check-Guanine-in-default-presets-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/add-preset-to-favorites.spec.ts-snapshots/Macromolecules-add-RNA-presets-to-Favorites-Should-have-star-when-hover-over-RNA-presets-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/connect-phosphate-and-sugar.spec.ts-snapshots/Macromolecules-connect-phosphate-and-sugar-Open-file-and-connect-phosphate-and-sugar-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/delete-preset.spec.ts-snapshots/Macromolecules-delete-RNA-presets-Should-not-delete-default-RNA-preset-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-layout.spec.ts-snapshots/RNA-layout-Each-panel-is-collapsed-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-layout.spec.ts-snapshots/RNA-layout-RNA-Builder-panel-is-collapsed-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-presence-of-Clear-canvas-button-in-left-menu-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-that-switch-between-Macro-and-Micro-mode-does-not-crash-application-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Rectangle-Selection-Tool/rectangle-selection-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts
  ketcher-autotests/tests/utils/canvas/tools/helpers.ts
  packages/ketcher-macromolecules/src/components/LayoutModeButton/LayoutModeButton.tsx
  packages/ketcher-macromolecules/src/components/menu/subMenu/SubMenu.tsx
Due: prettier --write

- added 1 test; - added expected snapshots
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-after-undoing-and-redoing-all-steps-Undo-and-Redo-buttons-turn-gray-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-after-undoing-and-redoing-all-steps-Undo-and-Redo-buttons-turn-gray-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-after-undoing-and-redoing-all-steps-Undo-and-Redo-buttons-turn-gray-3-chromium-linux.png
Due: prettier --write

- refactored 'undo-redo' tests
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts
  ketcher-autotests/tests/test-data/KET/nov-a-230.ket
  ketcher-autotests/tests/test-data/Molfiles-V3000/nov-a-230.mol
Due: prettier --write

- refactor
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts
Due: prettier --write

#4091 - zoom menu does not appear
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomControls.tsx
Due: prettier --write

- moved constants
  example/src/ModeControl/ModeControl.tsx
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/components/FullscreenButton/FullscreenButton.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/RNAContextMenu.test.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/RNAContextMenu.tsx
  packages/ketcher-macromolecules/src/constants.ts
  packages/ketcher-macromolecules/src/helpers/calculatePreviewPosition.ts
  packages/ketcher-react/src/constants.ts
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomControls.tsx
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/Structure-Creating-&-Editing/Simple-Objects/action-on-simple-objects.spec.ts
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomInput.tsx
Due: prettier --write

- added more overrides to contexify
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#4097 - Cursor position misalignment after switching in fullscreen after changing ketcher settings - fixed canvas resize observer
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
Due: prettier --write

allow auto-tests for setting charge pass
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Atom-properties-attributes/atom-properties-attributes.spec.ts
Due: prettier --write

4028 - Macro: The 'Del' and 'Backspace' hotkey does not delete monomer when hovering and pressing, but only switches to Erase tool
  example/.env
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-key-Del-When-deleting-part-of-a-structure--92b8c-ursor-an-error-not-occurs-in-DevTool-console-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Shift-Tab-to-switch-selection-tool-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-select-last-chosen-selected-tool-when-user-press-ESC-1-chromium-linux.png
Due: none

#4097 - Cursor position misalignment after switching in fullscreen after changing ketcher settings (#4104)
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
Due: prettier --write

upd
  example/.env
Due: none

Backmerge: #4091 - Cursor position misalignment after switching in fullscreen after changing ketcher settings (#4105)
  example/src/ModeControl/ModeControl.tsx
  ketcher-autotests/tests/Structure-Creating-&-Editing/Simple-Objects/action-on-simple-objects.spec.ts
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/components/FullscreenButton/FullscreenButton.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/RNAContextMenu.test.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/RNAContextMenu.tsx
  packages/ketcher-macromolecules/src/constants.ts
  packages/ketcher-macromolecules/src/helpers/calculatePreviewPosition.ts
  packages/ketcher-react/src/constants.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomInput.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Autotests: #4061 - autotests undo redo tool (#4077)
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-After-creating-a-chain-of-Pept-1edcd-y-that-the-last-actions-are-properly-reversed-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-After-creating-a-chain-of-Pept-ced92-y-that-the-last-actions-are-properly-reversed-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-After-placing-a-monomers-on-ca-2a2a3-key-Control-Z-and-Control-Y-are-working-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-After-placing-a-monomers-on-ca-db077-key-Control-Z-and-Control-Y-are-working-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-after-undoing-and-redoing-all-steps-Undo-and-Redo-buttons-turn-gray-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-after-undoing-and-redoing-all-steps-Undo-and-Redo-buttons-turn-gray-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-after-undoing-and-redoing-all-steps-Undo-and-Redo-buttons-turn-gray-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-undo-redo-toggle-snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-undo-redo-toggle-snake-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-undo-redo-toggle-snake-mode-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-undo-redo-toggle-snake-mode-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Deleting-entities-Peptides-RN-3ff67-onds-and-then-checking-Undo-and-Redo-actions-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Deleting-entities-Peptides-RN-9ec00-onds-and-then-checking-Undo-and-Redo-actions-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Press-Undo-Redo-after-opening-a-ket-file-with-monomers-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Press-Undo-Redo-after-opening-a-ket-file-with-monomers-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Press-Undo-Redo-after-opening-a-mol-file-with-monomers-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Press-Undo-Redo-after-opening-a-mol-file-with-monomers-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Track-32-steps-Undo-Redo-action-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Track-32-steps-Undo-Redo-action-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Track-32-steps-for-CHEMs-Undo-Redo-action-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Track-32-steps-for-CHEMs-Undo-Redo-action-2-chromium-linux.png
  ketcher-autotests/tests/Templates/Template-Library/template-library.spec.ts
  ketcher-autotests/tests/User-Interface/Select-Tools/select-tools.spec.ts
  ketcher-autotests/tests/User-Interface/Select-Tools/select-tools.spec.ts-snapshots/Select-tools-tests-Attachment-points-are-highlited-with-CTRL-A-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/all-entities.ket
  ketcher-autotests/tests/test-data/KET/nov-a-230.ket
  ketcher-autotests/tests/test-data/KET/peptides-connected-with-bonds.ket
  ketcher-autotests/tests/test-data/KET/ten-peptides-not-connected.ket
  ketcher-autotests/tests/test-data/Molfiles-V3000/nov-a-230.mol
  ketcher-autotests/tests/utils/macromolecules/monomer.ts
Due: prettier --write

- added test
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-monomers-chains-and-switch-to-sequence-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-monomers-chains-and-switch-to-sequence-mode-2-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/monomers-chains.ket
  ketcher-autotests/tests/utils/canvas/tools/helpers.ts
  ketcher-autotests/tests/utils/macromolecules/index.ts
Due: prettier --write

- fixed order of chains in snake layout
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-mix-chains-with-nucleotides-and-peptides-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-mix-chains-with-nucleotides-and-peptides-3-chromium-linux.png
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-after-undoing-and-redoing-all-steps-Undo-and-Redo-buttons-turn-gray-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-after-undoing-and-redoing-all-steps-Undo-and-Redo-buttons-turn-gray-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-after-undoing-and-redoing-all-steps-Undo-and-Redo-buttons-turn-gray-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-undo-redo-toggle-snake-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-undo-redo-toggle-snake-mode-4-chromium-linux.png
Due: prettier --write

- updated ketcher to 2.19.0-rc.1
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

Updated ketcher to 2.19.0-rc.1 (#4107)
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

#3017 - Using setMolecule with molfile does not rescale bond lengths
  packages/ketcher-core/src/application/ketcher.ts
Due: prettier --write

update snapshot
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Highlight-Sugar-Phosphate-and-Base-in-Library-once-it-chosen-in-RNA-Builder-2-chromium-linux.png
Due: none

- fixed tests
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-Func-24bbc-acted-through-API-ketcher-setMolecule-V3000-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-Func-34829-ed-contracted-through-API-ketcher-setMolecule-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-Func-d13fe-racted-through-API-ketcher-setMolecule-ket-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-Unkn-28aca-tracted-through-API-ketcher-setMolecule-CML-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-Unkn-74106-ed-contracted-through-API-ketcher-setMolecule-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-one--00cac-own-Superatom-through-API-ketcher-setMolecule-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-one--2c10d-eratom-through-API-ketcher-setMolecule-ket-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-one--36af4-ratom-through-API-ketcher-setMolecule-V3000-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-one--93e9c-peratom-through-API-ketcher-setMolecule-CML-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Set-and-Get-Molecule-using-V3000-Molfile-format-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/test-data-for-enatiomer.mol
Due: none

#3017 - Using setMolecule with molfile does not rescale bond lengths (#4110)
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-Func-24bbc-acted-through-API-ketcher-setMolecule-V3000-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-Func-34829-ed-contracted-through-API-ketcher-setMolecule-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-Func-d13fe-racted-through-API-ketcher-setMolecule-ket-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-Unkn-28aca-tracted-through-API-ketcher-setMolecule-CML-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-Unkn-74106-ed-contracted-through-API-ketcher-setMolecule-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-one--00cac-own-Superatom-through-API-ketcher-setMolecule-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-one--2c10d-eratom-through-API-ketcher-setMolecule-ket-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-one--36af4-ratom-through-API-ketcher-setMolecule-V3000-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-one--93e9c-peratom-through-API-ketcher-setMolecule-CML-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Set-and-Get-Molecule-using-V3000-Molfile-format-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/test-data-for-enatiomer.mol
  packages/ketcher-core/src/application/ketcher.ts
Due: prettier --write

- refactored tests for 'mol-files'; - updated test file; - added function 'openFileAndAddToCanvasAsNewProject'; - updated snapshot
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts-snapshots/Open-and-Save-file-Open-file-Open-V3000-mol-file-contains-more-than-900-symbols-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/more-900-atoms-expected.mol
  ketcher-autotests/tests/utils/files/readFile.ts
Due: prettier --write

- refactored tests for 'mol-files'; (#4115)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts-snapshots/Open-and-Save-file-Open-file-Open-V3000-mol-file-contains-more-than-900-symbols-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/more-900-atoms-expected.mol
  ketcher-autotests/tests/utils/files/readFile.ts
Due: prettier --write

4028 - Macro: The 'Del' and 'Backspace' hotkey does not delete monomer when hovering and pressing, but only switches to Erase tool
  ketcher-autotests/tests/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Select-Rectangle-with-Shift-Tab-and-Erase-tool-with-Del-Backspace-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Select-Rectangle-with-Shift-Tab-and-Erase-tool-with-Del-Backspace-2-chromium-linux.png
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-macromolecules/src/Editor.tsx
Due: prettier --write

#4082 - Canvas preview render work at 14 times faster in Firefox than in Chrome - fixed preview wrapper size to make svg elements reflow faster
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/CDXStructuresViewer.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

- updated README file
  ketcher-autotests/README.md
Due: none

Backmerge: #3017 - Using setMolecule with molfile does not rescale bond lengths (#4112)
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-Func-24bbc-acted-through-API-ketcher-setMolecule-V3000-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-Func-34829-ed-contracted-through-API-ketcher-setMolecule-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-Func-d13fe-racted-through-API-ketcher-setMolecule-ket-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-Unkn-28aca-tracted-through-API-ketcher-setMolecule-CML-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-Unkn-74106-ed-contracted-through-API-ketcher-setMolecule-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-one--00cac-own-Superatom-through-API-ketcher-setMolecule-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-one--2c10d-eratom-through-API-ketcher-setMolecule-ket-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-one--36af4-ratom-through-API-ketcher-setMolecule-V3000-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Add-one--93e9c-peratom-through-API-ketcher-setMolecule-CML-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Set-and-Get-Molecule-using-V3000-Molfile-format-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/test-data-for-enatiomer.mol
  packages/ketcher-core/src/application/ketcher.ts
Due: prettier --write

- updated README file (#4118)
  ketcher-autotests/README.md
Due: none
