Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

#10326 - upd fonts to match snapshots
  packages/ketcher-macromolecules/src/components/shared/actionButton/ActionButton.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#6173 - Fix Create Antisense Strand disabled when multi-chain selection includes invalid chains
  packages/ketcher-macromolecules/src/components/contextMenu/SelectedMonomersContextMenu/helpers.ts
Due: prettier --write

#10326- upd fonts to match snapshots
  packages/ketcher-macromolecules/src/components/modal/Delete/__snapshots__/Delete.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/UpdateSequenceInRNABuilder/__snapshots__/UpdateSequenceInRNABuilder.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/save/__snapshots__/Save.test.tsx.snap
Due: none

update test screenshots
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.28.0-bugs.spec.ts-snapshots/Case-17-Create-Antisense-Strand-doesn-t-work-in-some-cases-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Modifying-Amino-Acids/modifying-amino-acids.spec.ts-snapshots/Saving-to-KET-14-1-N-methylation-operation-for-P-natural-analog-amino-acid-group---part-1-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Modifying-Amino-Acids/modifying-amino-acids.spec.ts-snapshots/Saving-to-KET-14-2-N-methylation-operation-for-P-natural-analog-amino-acid-group---part-2-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Modifying-Amino-Acids/modifying-amino-acids.spec.ts-snapshots/Undo-redo-after-14-1-N-methylation-operation-for-P-natural-analog-amino-acid-group---part-1-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Modifying-Amino-Acids/modifying-amino-acids.spec.ts-snapshots/Undo-redo-after-14-1-N-methylation-operation-for-P-natural-analog-amino-acid-group---part-1-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Modifying-Amino-Acids/modifying-amino-acids.spec.ts-snapshots/Undo-redo-after-14-2-N-methylation-operation-for-P-natural-analog-amino-acid-group---part-2-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Modifying-Amino-Acids/modifying-amino-acids.spec.ts-snapshots/Undo-redo-after-14-2-N-methylation-operation-for-P-natural-analog-amino-acid-group---part-2-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Modifying-Amino-Acids/modifying-amino-acids.spec.ts-snapshots/Zoom-in-out-after-14-1-N-methylation-operation-for-P-natural-analog-amino-acid-group---part-1-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Modifying-Amino-Acids/modifying-amino-acids.spec.ts-snapshots/Zoom-in-out-after-14-2-N-methylation-operation-for-P-natural-analog-amino-acid-group---part-2-2-chromium-linux.png
Due: none

feat(context-menu): attachment group disabled and deleting
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useAttachmentGroupDelete.test.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useAttachmentGroupDelete.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AtomMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/BondMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/utils.test.ts
Due: prettier --write

feat(halfbond): hover to highlight attachment group
  packages/ketcher-core/__tests__/domain/helpers/hapticBond.test.ts
  packages/ketcher-core/src/domain/helpers/hapticBond.ts
  packages/ketcher-react/src/script/editor/tool/select/select.ts
Due: prettier --write

feat(halfbond): right click to delete attachment group
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.utils.test.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.utils.ts
Due: prettier --write

Remove non-null assertions in PasteTool
  packages/ketcher-react/src/script/editor/tool/paste.ts
Due: prettier --write

update test screenshots
  ketcher-autotests/tests/specs/Bugs/ketcher-2.28.0-bugs.spec.ts-snapshots/Case-17-Create-Antisense-Strand-doesn-t-work-in-some-cases-1-chromium-linux.png
Due: none

feat(bond): increase haptic bond length to 1.8x
  packages/ketcher-core/__tests__/domain/helpers/hapticBond.test.ts
  packages/ketcher-core/src/application/editor/actions/utils.ts
  packages/ketcher-core/src/domain/helpers/hapticBond.ts
  packages/ketcher-react/src/script/editor/tool/bond.ts
  packages/ketcher-react/src/script/editor/tool/hapticBondTool.ts
Due: prettier --write

Remove non-null assertion in rergroupAttachmentPoint
  packages/ketcher-core/src/application/render/restruct/rergroupAttachmentPoint.ts
Due: prettier --write

#7939 - fixed test, which was expecting incorrect behavior
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/test-data/SDF/micro-macro-structure-v2000-expected.sdf
Due: prettier --write

#7939 - another round of test fixes
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Validate-that-it-is-possible-to-save-micro-macro-connection-to-sdf-v2000-file-1-chromium-linux.png
  ketcher-autotests/tests/test-data/SDF/micro-macro-structure-v2000-expected.sdf
Due: none

Fix any type issues in the ui utils directory of ketcher react
  packages/ketcher-react/src/script/ui/dialog/template/TemplateTable.tsx
  packages/ketcher-react/src/script/ui/utils/index.ts
Due: prettier --write

Remove non-null assertion in bond.ts (#10573)
  packages/ketcher-react/src/script/editor/tool/bond.ts
Due: prettier --write

- added info about memory bank
  CLAUDE.md
  openspec/config.yaml
Due: none

updated snake polymer render
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer/SnakeModePolymerBondRenderer.ts
Due: prettier --write

Remove non-null assertion in atom.ts (#10572)
  packages/ketcher-react/src/script/editor/tool/atom.ts
Due: prettier --write

#7939 - another round of playwright test fixes
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SDF-Files/sdf-files.spec.ts
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SDF-Files/sdf-files.spec.ts-snapshots/CDF-files-Validate-that-unsplit-nucleotides-co-58b18-uld-be-saved-to-sdf-2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SDF-Files/sdf-files.spec.ts-snapshots/CDF-files-Validate-that-unsplit-nucleotides-co-62ddf-uld-be-saved-to-sdf-2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SDF-Files/sdf-files.spec.ts-snapshots/CDF-files-Validate-that-unsplit-nucleotides-co-9c988-uld-be-saved-to-sdf-2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SDF-Files/sdf-files.spec.ts-snapshots/CDF-files-Validate-that-unsplit-nucleotides-co-e121c-uld-be-saved-to-sdf-2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SDF-Files/sdf-files.spec.ts-snapshots/CDF-files-Validate-that-unsplit-nucleotides-co-e353a-uld-be-saved-to-sdf-2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SDF-Files/sdf-files.spec.ts-snapshots/CDF-files-Validate-that-unsplit-nucleotides-co-f35ad-uld-be-saved-to-sdf-2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/test-data/SDF/unsplit-nucleotides-connected-with-bases-v2000.sdf
  ketcher-autotests/tests/test-data/SDF/unsplit-nucleotides-connected-with-chems-v2000.sdf
  ketcher-autotests/tests/test-data/SDF/unsplit-nucleotides-connected-with-nucleotides-v2000.sdf
  ketcher-autotests/tests/test-data/SDF/unsplit-nucleotides-connected-with-peptides-v2000.sdf
  ketcher-autotests/tests/test-data/SDF/unsplit-nucleotides-connected-with-phosphates-v2000.sdf
  ketcher-autotests/tests/test-data/SDF/unsplit-nucleotides-connected-with-sugars-v2000.sdf
Due: prettier --write

Remove non-null assertion in BaseMonomerRenderer.ts (#10570)
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
Due: prettier --write

Remove non-null assertion in AtomRenderer.ts (#10569)
  packages/ketcher-core/src/application/render/renderers/AtomRenderer.ts
Due: prettier --write

#7939 - another round of test fixes
  ketcher-autotests/tests/test-data/SDF-V2000/monomers-for-bug-3292-expected.sdf
Due: none

Remove non-null assertion in renderStruct.ts (#10568)
  packages/ketcher-core/src/application/render/renderStruct.ts
Due: prettier --write

Remove non-null assertion in multitailArrowUpsertDelete.ts (#10567)
  packages/ketcher-core/src/application/editor/operations/multitailArrow/multitailArrowUpsertDelete.ts
Due: prettier --write

Remove non-null assertion in multitailArrowAddRemoveTail.ts (#10566)
  packages/ketcher-core/src/application/editor/operations/multitailArrow/multitailArrowAddRemoveTail.ts
Due: prettier --write

Remove non-null assertion in imageUpsertDelete.ts (#10565)
  packages/ketcher-core/src/application/editor/operations/image/imageUpsertDelete.ts
Due: prettier --write

Remove non-null assertion in imageResize.ts (#10564)
  packages/ketcher-core/src/application/editor/operations/image/imageResize.ts
Due: prettier --write

#7939 - hopefully the last round of test updates
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-21-Tooltip-display-9ac62-“Calculate-Properties”-button-in-main-toolbar-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-21-Tooltip-display-fa787-“Calculate-Properties”-button-in-main-toolbar-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-26-Limit-size-of-structures-in-preview-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-5-Correct-button-sizes-in-the-control-panel-2-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/Bugs/DnaBadPairs-expected.mol
  ketcher-autotests/tests/test-data/SDF/All type of monomers in horisontal chain and large micromolecule in the middle-expected.sdf
  ketcher-autotests/tests/test-data/SDF/Saving monomers to SDF v300o works wrong-expected.sdf
  ketcher-autotests/tests/test-data/SDF/rdf-rxn-v2000-reaction-3x3-new-expected.sdf
Due: none

Remove non-null assertion in SequenceMode.ts (#10563)
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

Remove non-null assertion in ketcher.ts (#10562)
  packages/ketcher-core/src/application/ketcher.ts
Due: prettier --write

Remove non-null assertion in paste.ts (#10560)
  packages/ketcher-core/src/application/editor/actions/paste.ts
Due: prettier --write

Remove non-null assertions in closest.ts (#10559)
  packages/ketcher-react/src/script/editor/shared/closest.ts
Due: prettier --write

#10433 - Refactor: remove explicit and implicit any from lasso.ts (#10639)
  packages/ketcher-react/src/script/editor/tool/helper/lasso.ts
Due: prettier --write

#10440 - Refactor: remove explicit any types from sgroup/index.ts (#10498)
  packages/ketcher-core/src/application/editor/operations/sgroup/index.ts
Due: prettier --write

- fixes
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/tools/Bond.ts
Due: prettier --write

- specs
  openspec/changes/drag-drop-bond-establishment/.openspec.yaml
  openspec/changes/drag-drop-bond-establishment/design.md
  openspec/changes/drag-drop-bond-establishment/proposal.md
  openspec/changes/drag-drop-bond-establishment/specs/drag-drop-bond-establishment/spec.md
  openspec/changes/drag-drop-bond-establishment/specs/macromolecules/spec.md
  openspec/changes/drag-drop-bond-establishment/tasks.md
Due: none

- fixes
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/drag-drop-bond-establishment.spec.ts
  packages/ketcher-core/src/application/editor/__tests__/bondConnectionHelpers.test.ts
  packages/ketcher-core/src/application/editor/tools/bondConnectionHelpers.ts
  packages/ketcher-macromolecules/src/state/library/librarySlice.test.ts
Due: prettier --write

Remove non-null assertion in Editor.ts (#10558)
  packages/ketcher-core/src/application/editor/Editor.ts
Due: prettier --write

#6234 - Thick foreground bond looks wrong on Macro canvas (#10342)
  ketcher-autotests/tests/specs/Chromium-popup/Snake-Mode/snake-layout-for-micromolecules.spec.ts-snapshots/Snake-Layout-for-Microstructures-Case-7-Check-3ed36--below-the-ones-who-are-connected-to-monomers-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Snake-Mode/snake-layout-for-micromolecules.spec.ts-snapshots/Snake-Layout-for-Microstructures-Case-8-Check-6531a-snt-allow-their-bonds-to-overlap-if-possible-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Snake-Mode/snake-layout-for-micromolecules.spec.ts-snapshots/Snake-Layout-for-Microstructures-by-Ruler-Case-39bfa-n-when-change-layout-by-dragging-ruler-slider-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Snake-Mode/snake-layout-for-micromolecules.spec.ts-snapshots/Snake-Layout-for-Microstructures-by-Ruler-Case-b7e58-s-when-change-layout-by-dragging-ruler-slider-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Snake-Mode/snake-layout-for-micromolecules.spec.ts-snapshots/Snake-Layout-for-Microstructures-by-Ruler-Case-dba04-n-when-change-layout-by-dragging-ruler-slider-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts-snapshots/Verify-that-the-structure-in-macro-mode-can-be-92345-d-atoms-are-correctly-restored-when-re-loaded-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts-snapshots/Verify-that-the-structure-in-macro-mode-can-be-dede2-d-atoms-are-correctly-restored-when-re-loaded-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-a-thick-foreground-bond-flanked-by-6d7d7-tically-in-molecules-and-macromolecules-modes-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-a-thick-foreground-bond-flanked-by-e9139-tically-in-molecules-and-macromolecules-modes-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-are-displayed-correctly-in-macromolecules-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-are-saved-loaded-correctly-in-macromolecules-mode-in-KET-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-are-saved-loaded-correctly-in-macromolecules-mode-in-KET-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-are-saved-loaded-correctly-in-macromolecules-mode-in-MOL-v3000-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-are-saved-loaded-correctly-in-macromolecules-mode-in-MOL-v3000-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-can-t-be-saved-c-52b54-omolecules-mode-into-Sequence-3-letter-code-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-can-t-be-saved-c-903aa-omolecules-mode-into-Sequence-1-letter-code-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-can-t-be-saved-correctly-in-macromolecules-mode-into-IDT-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-types-of-bonds-saved-in-macro-mode-can-be-opened-in-micro-mode-in-MOL-v3000-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-switching-between-different-visual-e344f-e-retains-bond-types-and-structure-integrity-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-switching-between-different-visual-ef291-e-retains-bond-types-and-structure-integrity-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-switching-between-micro-and-macro-modes-displays-molecules-without-structural-changes-2-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Thick foreground bond flanked by wedges.mol
  packages/ketcher-core/src/application/render/renderers/BondPathRenderer/SingleUpBondPathRenderer.ts
  packages/ketcher-core/src/application/render/renderers/BondRenderer.ts
Due: prettier --write
