Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- fixed build
  packages/ketcher-macromolecules/src/styledComponents.ts
Due: prettier --write

fix test where we are doing screenshote of updateable time
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

fixed eslint issue
  packages/ketcher-react/src/script/ui/action/copyAs.ts
Due: prettier --write

- implemented 2 phase
  e2e-test-plan-7455-drag-drop-replacement.md
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-Replacement/generate-fixtures.spec.ts
  ketcher-autotests/tests/test-data/Monomer-Replacement/chem-bonded-target.ket
  ketcher-autotests/tests/test-data/Monomer-Replacement/long-chain-viewport-edge.ket
  ketcher-autotests/tests/test-data/Monomer-Replacement/monomer-chain-simple.ket
  ketcher-autotests/tests/test-data/Monomer-Replacement/preset-chain-same-geometry.ket
  ketcher-autotests/tests/test-data/Monomer-Replacement/preset-non-standard-bonds.ket
  ketcher-autotests/tests/test-data/Monomer-Replacement/rn-bond-priority.ket
Due: prettier --write

- fixed prettier - bumped version
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

#11945 - Macromolecules API stops working if ketcher instance destroyed and created again (#11946)
  .github/workflows/run-tests-popup.yml
  .github/workflows/run-tests.yml
  example-ssr/package.json
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-core/src/application/editor/editorSingleton.ts
  packages/ketcher-core/src/application/editor/tools/Zoom.ts
  packages/ketcher-core/src/application/render/renderers/AtomRenderer.ts
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
  packages/ketcher-core/src/application/render/renderers/BondRenderer.ts
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer/FlexModePolymerBondRenderer.ts
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer/SnakeModePolymerBondRenderer.ts
  packages/ketcher-core/src/application/render/renderers/RenderersManager.ts
  packages/ketcher-core/src/application/render/renderers/SGroupRenderer.ts
  packages/ketcher-core/src/application/render/renderers/StereoFlagRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceEventDelegationManager.ts
  packages/ketcher-core/src/domain/AttachmentPoint.ts
  packages/ketcher-macromolecules/package.json
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/state/common/editorSlice.ts
  packages/ketcher-macromolecules/src/styledComponents.ts
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

#11947 - Errors in console when typing in sequence mode (RNA/DNA) symbols that don't exist in library
  packages/ketcher-core/__tests__/domain/entities/antisenseChain.test.ts
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/domain/entities/Nucleoside.ts
  packages/ketcher-core/src/domain/entities/Nucleotide.ts
Due: prettier --write

- fixed prettier
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

fix test where we are doing screenshote of updateable time
  ketcher-autotests/tests/specs/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Hotkeys--1fbc2-fy-that-hotkey-Alt-s-triggers-Check-structure-1-chromium-linux.png
  ketcher-autotests/tests/specs/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Verify-t-aec80-ewer-tools-are-operational-in-view-only-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Calculated-Values-Tool/calculated-values.spec.ts-snapshots/Calculated-Values-Tools-Structure-Check-window-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-Structure-Check-works-for-molecules-with-AP-1-chromium-linux.png
  ketcher-autotests/tests/specs/Reactions/Reaction-tools/Multi-Tailed-Arrow-Tool/multi-tailed-arrow-tool.spec.ts-snapshots/Multi-Tailed-Arrow-Tool-Verify-the-cascade-reaction-after-Check-Structure-action-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-node-D-button-recognition-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-node-H--button-recognition-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-node-Pol-button-recognition-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-node-R-button-recognition-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-node-T-button-recognition-1-chromium-linux.png
Due: none

#11947 - Errors in console when typing in sequence mode (RNA/DNA) symbols that don't exist in library (#11948)
  packages/ketcher-core/__tests__/domain/entities/antisenseChain.test.ts
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/domain/entities/Nucleoside.ts
  packages/ketcher-core/src/domain/entities/Nucleotide.ts
Due: prettier --write

- implemented 3 phase and verified
  e2e-test-plan-7455-drag-drop-replacement.md
  ketcher-autotests/tests/pages/constants/monomers/Peptides.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-Replacement/drag-drop-replace-monomer.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-Replacement/spike-drag-drop-replacement.spec.ts
Due: prettier --write

fix snapshotes
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-added-to-Canvas-images-51b0f--Alt-S-action-it-is-calculated-for-elements-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-unresolved-monomer-Unknown-and-unresolved-monomer-Unknown-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-ambiguous-base-and-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-ambiguous-base-and-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-ambiguous-base-and-base-A-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-ambiguous-base-and-peptide-A-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-base-A-and-unresolved-monomer-Unknown-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-peptide-A-and-ambiguous-peptide-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-peptide-A-and-peptide-A-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/9-Copy-and-paste-ambiguous-base-and-ambiguous-base-1-chromium-linux.png
Due: none

fix snapshotes
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-base-A-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-nucleotide-5hMedC-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-peptide-and-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-peptide-and-nucleotide-5hMedC-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/5-Connect-with-hydrogen-bond-base-A-and-peptide-A-and-switch-to-Snake-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-ambiguous-base-and-ambiguous-peptide-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-ambiguous-base-and-base-A-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-ambiguous-base-and-peptide-A-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-base-A-and-unresolved-monomer-Unknown-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-peptide-A-and-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/9-Copy-and-paste-ambiguous-base-and-nucleotide-5hMedC-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-after-undoing-and-redoing-all-steps-Undo-and-Redo-buttons-turn-gray-3-chromium-linux.png
Due: none

fix snapshotes
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-peptide-and-nucleotide-5hMedC-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/5-Connect-with-hydrogen-bond-base-A-and-ambiguous-peptide-and-switch-to-Snake-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-ambiguous-base-and-ambiguous-peptide-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-ambiguous-base-and-base-A-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-ambiguous-base-and-peptide-A-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-base-A-and-unresolved-monomer-Unknown-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-peptide-A-and-ambiguous-peptide-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/9-Copy-and-paste-ambiguous-base-and-unresolved-monomer-Unknown-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/9-Copy-and-paste-nucleotide-5hMedC-and-ambiguous-base-1-chromium-linux.png
Due: none

fixsnapshotes
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-base-A-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-peptide-A-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-peptide-and-unresolved-monomer-Unknown-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-base-A-and-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-base-A-and-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-base-A-and-base-A-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-base-A-and-nucleotide-5hMedC-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-base-A-and-peptide-A-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-base-A-and-unresolved-monomer-Unknown-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/5-Connect-with-hydrogen-bond-base-A-and-base-A-and-switch-to-Snake-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-ambiguous-base-and-peptide-A-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/7-Try-Undo-Redo-on-hydrogen-bond-between-peptide-A-and-ambiguous-peptide-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/9-Copy-and-paste-nucleotide-5hMedC-and-ambiguous-peptide-1-chromium-linux.png
Due: none

#11877 - Refactor: Import and export statements should not have empty specifier lists (#11878)
  ketcher-autotests/tests/specs/Macromolecule-editor/Clear-Tool/clear-tool.spec.ts
  packages/ketcher-core/__tests__/application/ketcher.test.ts
  packages/ketcher-core/__tests__/application/ketcherBuilder.test.ts
  packages/ketcher-core/__tests__/application/render/renderers/PeptideRenderer.test.ts
  packages/ketcher-macromolecules/src/helpers/index.ts
Due: prettier --write

Revert "#10309 - Fix duo mode (#10365)"
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-core/src/application/editor/editorSingleton.ts
  packages/ketcher-core/src/application/editor/tools/Zoom.ts
  packages/ketcher-core/src/application/render/renderers/AtomRenderer.ts
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
  packages/ketcher-core/src/application/render/renderers/BondRenderer.ts
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer/FlexModePolymerBondRenderer.ts
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer/SnakeModePolymerBondRenderer.ts
  packages/ketcher-core/src/application/render/renderers/RenderersManager.ts
  packages/ketcher-core/src/application/render/renderers/SGroupRenderer.ts
  packages/ketcher-core/src/application/render/renderers/StereoFlagRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceEventDelegationManager.ts
  packages/ketcher-core/src/domain/AttachmentPoint.ts
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/state/common/editorSlice.ts
  packages/ketcher-macromolecules/src/styledComponents.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

- fixed audit
  example-ssr/package.json
  package-lock.json
Due: prettier --write

- fixed lint
  packages/ketcher-core/src/application/editor/editorEvents.ts
Due: prettier --write

11933: rewrite help.js to typescript
  packages/ketcher-react/src/script/ui/action/action.types.ts
  packages/ketcher-react/src/script/ui/action/help.ts
  packages/ketcher-react/src/script/ui/action/isHidden.ts
Due: prettier --write

11934: rewrite templates.js to typescript
  packages/ketcher-react/src/script/ui/action/action.types.ts
  packages/ketcher-react/src/script/ui/action/templates.ts
Due: prettier --write

#5177 – The search in the Library uses different algorithms when searching for hyphen and underscore
  packages/ketcher-macromolecules/src/state/library/librarySlice.test.ts
  packages/ketcher-macromolecules/src/state/library/librarySlice.ts
  packages/ketcher-macromolecules/src/state/rna-builder/rnaBuilderSlice.test.ts
  packages/ketcher-macromolecules/src/state/rna-builder/rnaBuilderSlice.ts
Due: prettier --write

fix(react): seed Settings accordion's expanded state with the tab key
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Accordion/Accordion.tsx
Due: prettier --write

#11929 - declare ClipboardItem as a known global instead of disabling no-undef in clipboardUtils.ts
  eslint.config.mjs
  packages/ketcher-core/src/utilities/clipboardUtils.ts
Due: prettier --write

#11485 - Draw the second attachment point of a chiral phosphate with the opposite wedge
  packages/ketcher-core/__tests__/application/editor/actions/sgroup.test.ts
  packages/ketcher-core/__tests__/domain/entities/struct.test.ts
  packages/ketcher-core/src/application/editor/actions/sgroup.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-core/src/domain/helpers/monomerAttachmentPointStereo.ts
Due: prettier --write

#5565 - added snapshots for playwright tests
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-23-Set-a-new-name-for-the-button-ACS-style-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-8-Default-values--ae5ab--for-bond-not-corrupted-and-not-become-wrong-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-23-Set-a-new-name-for-the-button-ACS-style-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-8-Default-values--ae5ab--for-bond-not-corrupted-and-not-become-wrong-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Enhanced-Stereochemistry/enhanced-stereochemistry.spec.ts-snapshots/Enhanced-Stereochemistry-Tool-Label-display-styles---IUPAC-style-selected-by-default-in-settings-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-ACS-Style-button-and-setting-after-clicking-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-ACS-Style-button-and-setting-after-clicking-2-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-default-settings-after-clicking-ACS-Style-button-and-after-that-on-Reset-2-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-default-settings-after-clicking-ACS-Style-button-and-after-that-on-Reset-3-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/General/default-settings-verification.spec.ts-snapshots/General-Settings-Verify-value-with-up-to-2-decimal-places-cm-in-the-setting-Sub-font-size-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/General/default-settings-verification.spec.ts-snapshots/Verify-Ketcher-settings-panel-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Toolbar/toolbar.spec.ts-snapshots/Toolbar-palette-and-settings-Settings-UI-verification-1-chromium-linux.png
Due: none

Refactor: Remove unused event handler eslint rule and related useEffect
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
Due: prettier --write

#11936-refactor-no-undef-rule-violation-clean-up-from-copyimagetoclipboardjs-file
  packages/ketcher-react/src/script/ui/action/copyImageToClipboard.js
Due: prettier --write

#11929 - remove unused eslint-disable no-undef in copyImageToClipboard.js
  packages/ketcher-react/src/script/ui/action/copyImageToClipboard.js
Due: prettier --write

Update packages/ketcher-react/src/script/ui/utils/index.ts
  packages/ketcher-react/src/script/ui/utils/index.ts
Due: prettier --write

Update packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
Due: prettier --write

#10326 - Restore __esModule marker and fix main/module for ketcher-standalone
  packages/ketcher-standalone/package.json
  packages/ketcher-standalone/vite.config.mjs
Due: prettier --write

#11932-rewrite-atoms.js from JavaScript to TypeScript
  packages/ketcher-react/src/script/ui/action/action.types.ts
  packages/ketcher-react/src/script/ui/action/atoms.ts
Due: prettier --write

Move ketcher-react and ketcher-macromolecules to Less 4
  package-lock.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
Due: prettier --write

Strip __toESM runtime helper leak from ketcher-react's CJS exports
  build-config/strip-leaked-runtime-exports-plugin.mjs
  packages/ketcher-react/vite.config.mjs
Due: none

Remove now-unused eslint-disable no-undef comments
  packages/ketcher-core/src/utilities/clipboardUtils.ts
  packages/ketcher-react/src/script/ui/action/copyImageToClipboard.js
Due: prettier --write

Await the lazy default monomers library before applying consumer updates
  packages/ketcher-core/__tests__/application/ketcherMonomersLibraryOrdering.test.ts
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-standalone/__tests__/__mocks__/indigoWorkerAlias.ts
  packages/ketcher-standalone/__tests__/infrastructure/services/struct/standaloneStructService.test.ts
  packages/ketcher-standalone/jest.config.js
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
