Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

fixes
  ketcher-autotests/tests/specs/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-1-Circular-hydroge-e76ca--as-side-chain-connection-for-layout-purposes-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-20-Adding-second-c-f96f0--chain-to-the-canvas-not-cause-layout-problem-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-20-Adding-second-c-f96f0--chain-to-the-canvas-not-cause-layout-problem-1-chromium-popup-linux.png
  package.json
  scripts/build-run.mjs
Due: prettier --write

- fixed styles
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetTabs.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetTabs.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- fixed styles
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizardFields.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetTabs.test.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetTabs.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

f2
  ketcher-autotests/tests/specs/Macromolecule-editor/Antisense-Chains/antisense-chain-layout.spec.ts-snapshots/9-Check-if-there-is-a-circular-hydrogen-bond--0215f--as-side-chain-connection-for-layout-purposes-1-chromium-linux.png
Due: none

#6616 - Hydrogen bond laouted in flex style on snake mode (#9534)
  ketcher-autotests/tests/specs/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-1-Circular-hydroge-e76ca--as-side-chain-connection-for-layout-purposes-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-20-Adding-second-c-f96f0--chain-to-the-canvas-not-cause-layout-problem-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-20-Adding-second-c-f96f0--chain-to-the-canvas-not-cause-layout-problem-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Antisense-Chains/antisense-chain-layout.spec.ts-snapshots/9-Check-if-there-is-a-circular-hydrogen-bond--0215f--as-side-chain-connection-for-layout-purposes-1-chromium-linux.png
  package.json
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  scripts/build-run.mjs
Due: prettier --write

#8660 - Refactor mousemove (event) function to reduce its Cognitive Complexity from 97 to the 15 allowed (#9495)
  packages/ketcher-react/src/script/editor/tool/bond.ts
Due: prettier --write

#9576 Migrate SGroupFieldset from JSX to TSX with prop type definitions
  packages/ketcher-react/src/script/ui/dialog/toolbox/SGroupFieldset.tsx
Due: prettier --write

refactor:after comments
  packages/ketcher-react/src/script/ui/state/modal/index.ts
Due: prettier --write

fixes
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--10da4-ed-bond-without-affecting-adjacent-structures-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--331f9-ed-bond-without-affecting-adjacent-structures-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--85b01-ed-bond-without-affecting-adjacent-structures-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--c7957-ed-bond-without-affecting-adjacent-structures-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--def00-ed-bond-without-affecting-adjacent-structures-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--e6b3b-ed-bond-without-affecting-adjacent-structures-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-10-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-11-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-12-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-13-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-14-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-7-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-8-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-9-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-switching-between-different-visual-e344f-e-retains-bond-types-and-structure-integrity-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-switching-between-different-visual-ef291-e-retains-bond-types-and-structure-integrity-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-1be9a-les-mode-e-g-ensuring-they-stay-connected-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-72c6d-es-mode-e-g-ensuring-they-stay-connected-10-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-7f24e-les-mode-e-g-ensuring-they-stay-connected-8-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-93f82-es-mode-e-g-ensuring-they-stay-connected-11-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-953f9-les-mode-e-g-ensuring-they-stay-connected-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-a2473-es-mode-e-g-ensuring-they-stay-connected-14-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-a7201-les-mode-e-g-ensuring-they-stay-connected-9-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-b1328-les-mode-e-g-ensuring-they-stay-connected-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-bd88b-les-mode-e-g-ensuring-they-stay-connected-7-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-d51b2-les-mode-e-g-ensuring-they-stay-connected-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-db966-es-mode-e-g-ensuring-they-stay-connected-13-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-e0bc0-es-mode-e-g-ensuring-they-stay-connected-12-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-eae46-les-mode-e-g-ensuring-they-stay-connected-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-f12e1-les-mode-e-g-ensuring-they-stay-connected-2-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/All 16 types of bonds-expected.mol
Due: none

fixes2
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--10da4-ed-bond-without-affecting-adjacent-structures-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--331f9-ed-bond-without-affecting-adjacent-structures-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--85b01-ed-bond-without-affecting-adjacent-structures-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--c7957-ed-bond-without-affecting-adjacent-structures-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--def00-ed-bond-without-affecting-adjacent-structures-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--e6b3b-ed-bond-without-affecting-adjacent-structures-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-1be9a-les-mode-e-g-ensuring-they-stay-connected-1-chromium-linux.png
Due: none

Bind example serve scripts to 127.0.0.1
  example/package.json
Due: prettier --write

Add selected SMILES indicator with copy action
  packages/ketcher-react/src/script/ui/App/App.tsx
  packages/ketcher-react/src/script/ui/views/components/SelectedSmiles/SelectedSmiles.module.less
  packages/ketcher-react/src/script/ui/views/components/SelectedSmiles/SelectedSmiles.test.tsx
  packages/ketcher-react/src/script/ui/views/components/SelectedSmiles/SelectedSmiles.tsx
  packages/ketcher-react/src/script/ui/views/components/SelectedSmiles/index.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Refactor error handling for clipboard paste support
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.tsx
Due: prettier --write

#9531 - Refactor: Use nullish coalescing operator (??) for null/undefined checks (#9533)
  packages/ketcher-core/src/application/editor/actions/rotate.ts
  packages/ketcher-react/src/script/ui/component/view/Tabs/Tabs.tsx
  packages/ketcher-react/src/script/ui/state/modal/sdata.ts
Due: prettier --write

#4675 – It is impossible to cut a structure from a canvas using Ctrl+X (#9552)
  packages/ketcher-core/__tests__/application/editor/Editor.test.ts
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/modes/BaseMode.ts
Due: prettier --write

#9529 - Refactor: Remove unnecessary type assertions (#9530)
  packages/ketcher-react/src/script/ui/component/actionmenu.tsx
  packages/ketcher-react/src/script/ui/state/modal/sdata.ts
Due: prettier --write

Fix order of arguments in removeAtomsAndBondsFromRnaComponents call (#9598)
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

Fix: Handle frozen monomer elements disappearing (#9503)
  packages/ketcher-core/src/application/editor/operations/sgroup/SGroupAttr.ts
  packages/ketcher-core/src/application/editor/operations/sgroup/index.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

fix: Optimize background and selection rectangle colors based on monomer selection state (#9565)
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
Due: prettier --write

#6239 - Aromatic bond is mirrored if used as inside one on Macro canvas (#9540)
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--10da4-ed-bond-without-affecting-adjacent-structures-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--331f9-ed-bond-without-affecting-adjacent-structures-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--85b01-ed-bond-without-affecting-adjacent-structures-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--c7957-ed-bond-without-affecting-adjacent-structures-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--def00-ed-bond-without-affecting-adjacent-structures-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--e6b3b-ed-bond-without-affecting-adjacent-structures-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-10-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-11-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-12-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-13-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-14-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-7-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-8-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-9-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-switching-between-different-visual-e344f-e-retains-bond-types-and-structure-integrity-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-switching-between-different-visual-ef291-e-retains-bond-types-and-structure-integrity-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-1be9a-les-mode-e-g-ensuring-they-stay-connected-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-72c6d-es-mode-e-g-ensuring-they-stay-connected-10-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-7f24e-les-mode-e-g-ensuring-they-stay-connected-8-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-93f82-es-mode-e-g-ensuring-they-stay-connected-11-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-953f9-les-mode-e-g-ensuring-they-stay-connected-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-a2473-es-mode-e-g-ensuring-they-stay-connected-14-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-a7201-les-mode-e-g-ensuring-they-stay-connected-9-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-b1328-les-mode-e-g-ensuring-they-stay-connected-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-bd88b-les-mode-e-g-ensuring-they-stay-connected-7-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-d51b2-les-mode-e-g-ensuring-they-stay-connected-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-db966-es-mode-e-g-ensuring-they-stay-connected-13-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-e0bc0-es-mode-e-g-ensuring-they-stay-connected-12-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-eae46-les-mode-e-g-ensuring-they-stay-connected-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-f12e1-les-mode-e-g-ensuring-they-stay-connected-2-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/All 16 types of bonds-expected.mol
  packages/ketcher-core/src/application/render/renderers/BondPathRenderer/DoubleBondPathRenderer.ts
Due: prettier --write

Refactor: #9412 – Resolve sonar problems: Non-interactive DOM elements should not have interactive ARIA roles (#9415)
  packages/ketcher-react/src/script/ui/dialog/template/TemplateTable.tsx
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.10.0-bugs.spec.ts-snapshots/Ketcher-3-10-Bugs-4-Undo-does-not-revert-Arra-521dc--ghost-bonds-remain-and-cause-console-errors-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.13.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.13.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-13-0-—-Small-molecules-positio-79f42-ment-points-configuration-for-new-nucleotides-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Circular-structures/arrange-as-a-ring-button.spec.ts-snapshots/2-Check-that-after-selecting-the-closed-struc-f4a29-indows---Shift-Alt-c-or-Mac---Shift-Option-c-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Flex-Mode/create-cyclic-structures.spec.ts-snapshots/Cyclic-structures-Case-1-Verify-that-closed-structure-must-contain-at-least-three-monomers-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Flex-Mode/create-cyclic-structures.spec.ts-snapshots/Cyclic-structures-Case-3-Verify-that-closed-s-2f7f1-thout-small-molecules-can-be-arranged-as-ring-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Flex-Mode/create-cyclic-structures.spec.ts-snapshots/Cyclic-structures-Case-6-Verify-that-valid-cl-02c52-e-arranged-as-a-ring-through-right-click-menu-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Mark-as-context-menu-for-Nucleotide-preset-9f880--context-menu-and-verify-fields-are-populated-1-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/SDF/Chromium-popup/Monomer-creation-event/Peptide-monomer-expected.sdf
Due: prettier --write

fix: Enhance undo functionality in SequenceMode and adjust inversion logic in MonomerToAtomBond operations
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/editor/operations/monomerToAtomBond/monomerToAtomBond.ts
Due: prettier --write

fix system allow to pass empty values for parameters in HELM alias section
  packages/ketcher-core/__tests__/application/editor/Editor.test.ts
  packages/ketcher-core/__tests__/domain/helpers/monomerLibraryValidation.test.ts
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/domain/helpers/monomerLibraryValidation.ts
Due: prettier --write

#9575: Convert SDataFieldset to TypeScript with prop type definitions
  packages/ketcher-react/src/script/ui/dialog/toolbox/SDataFieldset.tsx
Due: prettier --write

- added validation
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.constants.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.types.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetAttachmentPointValidation.test.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetAttachmentPointValidation.ts
Due: prettier --write

refactor: Rename click function to improve clarity in tests
  ketcher-autotests/tests/specs/Bugs/ketcher-3.6.0-bugs.spec.ts
Due: prettier --write

#6851 - Keep multi attachment superatoms contracted and fix bond anchoring
  packages/ketcher-core/src/application/editor/actions/paste.ts
  packages/ketcher-core/src/application/editor/actions/sgroup.ts
  packages/ketcher-core/src/domain/entities/struct.ts
Due: prettier --write

refactor: Rename click function for consistency in API-set-get-molecule tests
  ketcher-autotests/tests/specs/Chromium-popup/API/api-set-get-molecule.spec.ts
Due: prettier --write

fixes
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-3-—-Sup-7376a-ints-—-part-of-structure-should-not-disappear-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Cml-files/cml-files.spec.ts-snapshots/CML-files-Validate-that-unsplit-nucleotides-co-0360e-es-could-be-saved-to-CML-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Cml-files/cml-files.spec.ts-snapshots/CML-files-Validate-that-unsplit-nucleotides-co-1e309-es-could-be-saved-to-CML-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Cml-files/cml-files.spec.ts-snapshots/CML-files-Validate-that-unsplit-nucleotides-co-915b9-es-could-be-saved-to-CML-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Cml-files/cml-files.spec.ts-snapshots/CML-files-Validate-that-unsplit-nucleotides-co-944fb-ms-could-be-saved-to-CML-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Cml-files/cml-files.spec.ts-snapshots/CML-files-Validate-that-unsplit-nucleotides-co-989a4-es-could-be-saved-to-CML-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Cml-files/cml-files.spec.ts-snapshots/CML-files-Validate-that-unsplit-nucleotides-co-b2315-rs-could-be-saved-to-CML-file-and-loaded-back-1-chromium-linux.png
Due: prettier --write

Fix monomer explicit-H toggle crashes in browser
  packages/ketcher-macromolecules/rollup.config.js
  packages/ketcher-react/src/script/ui/state/shared.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/hooks/useAttachmentPointSelectsData.tsx
Due: prettier --write

fix(ketcher-react): tighten modal reducer typings and action guards
  packages/ketcher-react/src/script/ui/state/modal/index.ts
Due: prettier --write

f2
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.7.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-7-0-Case-21-Loading-monomer-cb200-file-works---bonds-between-monomers-not-lost-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Va-142e2-ould-be-saved-to-rxn2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Va-14712-ould-be-saved-to-rxn2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Va-1c79d-ould-be-saved-to-rxn2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Va-67f82-ould-be-saved-to-rxn2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Va-c72f2-ould-be-saved-to-rxn2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Va-e1c68-ould-be-saved-to-rxn2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Clean-Tools/clean-tools.spec.ts-snapshots/Indigo-Tools---Clean-Tools-Structure-with-S-Groups-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-export-to-CDXML-of-Sugar-Base-and-Phosphate-type-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-export-to-CML-of-Sugar-Base-and-Phosphate-type-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Rxn-V2000/unsplit-nucleotides-connected-with-bases.rxn
  ketcher-autotests/tests/test-data/Rxn-V2000/unsplit-nucleotides-connected-with-chems.rxn
  ketcher-autotests/tests/test-data/Rxn-V2000/unsplit-nucleotides-connected-with-nucleotides.rxn
  ketcher-autotests/tests/test-data/Rxn-V2000/unsplit-nucleotides-connected-with-peptides.rxn
  ketcher-autotests/tests/test-data/Rxn-V2000/unsplit-nucleotides-connected-with-phosphates.rxn
  ketcher-autotests/tests/test-data/Rxn-V2000/unsplit-nucleotides-connected-with-sugars.rxn
Due: none

f3
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Add-R-Group-Label-on-Chain-with-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Add-Template-on-Chain-with-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Add-atom-on-Chain-with-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Check-that-hotkeys-for--bb4c9--Abbreviation-on-Chain-with-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Copy-Paste-structure-with-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Cut-Paste-structure-with-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Delete-atom-on-Chain-with-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Delete-whole-Chain-with-Superatom-S-Group-and-Undo-Redo-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts-snapshots/Superatom-S-Group-tool-Edit-Superatom-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V2000/superatom-all-chain-expected.mol
Due: prettier --write

fixes
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Case-35-Check-deletion-of-selected-structure-by-Fragment-and-Undo-Sequence-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Case-38-Check-deletion-of-selected-structure--81af2-nt-through-right-click-menu-Sequence-mode-3-chromium-popup-linux.png
Due: none

#9575: Convert SDataFieldset to TypeScript with prop type definitions (#9593)
  packages/ketcher-react/src/script/ui/dialog/toolbox/SDataFieldset.tsx
Due: prettier --write

Refactor: Clean up test case descriptions and ensure consistent formatting
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Text-Tool/text-formating.spec.ts
Due: prettier --write
