Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

delete banner
  ketcher-autotests/tests/File-Management/Smile-Files/smile-files.spec.ts
Due: prettier --write

#2810 - Part of the structure disappears when opening a contracted Superatom with multiple connection points (#2831)
  packages/ketcher-core/src/application/editor/actions/paste.ts
Due: prettier --write

Backmerge: #2810 - Part of the structure disappears when opening a contracted Superatom with multiple connection points (#2832)
  packages/ketcher-core/src/application/editor/actions/paste.ts
Due: prettier --write

#2824 update tooltip
  documentation/help.md
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts
  ketcher-autotests/tests/utils/selectors/buttons.ts
  ketcher-autotests/tests/utils/selectors/templateModal.ts
  packages/ketcher-react/src/script/ui/action/templates.js
Due: prettier --write

#2805 - refactor restruct getSelectionRotationCenter and getVBoxObj
  packages/ketcher-core/src/application/render/restruct/restruct.ts
  packages/ketcher-core/src/application/render/restruct/retext.ts
Due: prettier --write

#2806 All inner space of selected Functional Group is highlighted if structure selected via CTRL+A - added highlighting prevention if sgroup selected
  packages/ketcher-core/src/application/render/restruct/resgroup.js
Due: prettier --write

add locator
  ketcher-autotests/tests/File-Management/Smile-Files/smile-files.spec.ts
Due: prettier --write

Backmerge: #2806 All inner space of selected Functional Group is highlighted if structure selected via CTRL+A - added highlighting prevention if sgroup selected
  packages/ketcher-core/src/application/render/restruct/resgroup.js
Due: prettier --write

#2825 – The structure when moving with arrows on the keyboard disappears beyond the edges of canvas
  packages/ketcher-react/src/script/ui/state/moveSelectedItems.ts
Due: prettier --write

change method
  ketcher-autotests/tests/File-Management/Smile-Files/smile-files.spec.ts
Due: prettier --write

#2805 horizontal and vertical flips are working incorrectly (affect position) with some atoms, texts and functional groups (#2827)
  packages/ketcher-core/src/application/editor/actions/rotate.ts
  packages/ketcher-core/src/application/render/restruct/restruct.ts
  packages/ketcher-core/src/application/render/restruct/retext.ts
  packages/ketcher-react/src/script/editor/tool/rotate.ts
Due: prettier --write

Backmerge: #2805 horizontal and vertical flips are working incorrectly (affect position) with some atoms, texts and functional groups (#2827)
  packages/ketcher-core/src/application/editor/actions/rotate.ts
  packages/ketcher-core/src/application/render/restruct/restruct.ts
  packages/ketcher-core/src/application/render/restruct/retext.ts
  packages/ketcher-react/src/script/editor/tool/rotate.ts
Due: prettier --write

#2825 – The structure when moving with arrows on the keyboard disappears beyond the edges of canvas (#2846)
  packages/ketcher-react/src/script/ui/state/moveSelectedItems.ts
Due: prettier --write

Backmerge: #2825 – The structure when moving with arrows on the keyboard disappears beyond the edges of canvas (#2846)
  packages/ketcher-react/src/script/ui/state/moveSelectedItems.ts
Due: prettier --write

Backmerge: #2806 All inner space of selected Functional Group is highlighted if structure selected via CTRL+A (#2844)
  packages/ketcher-core/src/application/render/restruct/resgroup.js
Due: prettier --write

#2806 All inner space of selected Functional Group is highlighted if structure selected via CTRL+A (#2843)
  packages/ketcher-core/src/application/render/restruct/resgroup.js
Due: prettier --write

Backmerge: #2805 horizontal and vertical flips are working incorrectly (affect position) with some atoms, texts and functional groups (#2827) (#2847)
  packages/ketcher-core/src/application/editor/actions/rotate.ts
  packages/ketcher-core/src/application/render/restruct/restruct.ts
  packages/ketcher-core/src/application/render/restruct/retext.ts
  packages/ketcher-react/src/script/editor/tool/rotate.ts
Due: prettier --write

Backmerge: #2825 – The structure when moving with arrows on the keyboard disappears beyond the edges of canvas (#2846) (#2848)
  packages/ketcher-react/src/script/ui/state/moveSelectedItems.ts
Due: prettier --write

return back
  .github/workflows/playwright.yml
  ketcher-autotests/tests/File-Management/Smile-Files/smile-files.spec.ts
Due: prettier --write

#2837 - fix bug with programmatically scroll buttons
  packages/ketcher-react/src/script/ui/views/toolbars/ArrowScroll/ArrowScroll.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Update schema.json
  packages/ketcher-core/src/domain/serializers/ket/schema.json
Due: prettier --write

Backmerge: #2837 - fix bug with programmatically scroll buttons
  packages/ketcher-react/src/script/ui/views/toolbars/ArrowScroll/ArrowScroll.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#2839 – Buttons have changed their position on the toolbars and margin and padding of toolbars are increased
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-CO2tBu-replaces-the-Cl-atom-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-Ms-replaces-the-Cbz-functional-group-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-Boc-replaces-the-N-atom-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-CCl3-replaces-methane-sulphonic-acid-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-Cbz-replaces-the-Boc-functional-group-1-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/toolbars/BottomToolbar/BottomToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/BottomToolbar/BottomToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Backmerge: #2839 – Buttons have changed their position on the toolbars and margin and padding of toolbars are increased
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-CO2tBu-replaces-the-Cl-atom-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-Ms-replaces-the-Cbz-functional-group-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-Boc-replaces-the-N-atom-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-CCl3-replaces-methane-sulphonic-acid-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-Cbz-replaces-the-Boc-functional-group-1-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/toolbars/BottomToolbar/BottomToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/BottomToolbar/BottomToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#2839 – Buttons have changed their position on the toolbars and margin and padding of toolbars are increased (#2856)
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-CO2tBu-replaces-the-Cl-atom-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-Ms-replaces-the-Cbz-functional-group-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-Boc-replaces-the-N-atom-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-CCl3-replaces-methane-sulphonic-acid-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-Cbz-replaces-the-Boc-functional-group-1-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/toolbars/BottomToolbar/BottomToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/BottomToolbar/BottomToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Backmerge: #2839 – Buttons have changed their position on the toolbars and margin and padding of toolbars are increased (#2857)
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-CO2tBu-replaces-the-Cl-atom-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-Ms-replaces-the-Cbz-functional-group-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-Boc-replaces-the-N-atom-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-CCl3-replaces-methane-sulphonic-acid-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-Cbz-replaces-the-Boc-functional-group-1-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/toolbars/BottomToolbar/BottomToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/BottomToolbar/BottomToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

updated ketcher version to v2.12.0-rc.2
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

#2837 - fix bug with programmatically scroll buttons (#2851)
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-CO2tBu-replaces-the-Cl-atom-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-Ms-replaces-the-Cbz-functional-group-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-Boc-replaces-the-N-atom-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-CCl3-replaces-methane-sulphonic-acid-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-Cbz-replaces-the-Boc-functional-group-1-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/toolbars/ArrowScroll/ArrowScroll.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

updated ketcher version to v2.12.0-rc.2 (#2858)
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

Backmerge: #2837 - fix bug with programmatically scroll buttons (#2860)
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-CO2tBu-replaces-the-Cl-atom-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-Ms-replaces-the-Cbz-functional-group-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-Boc-replaces-the-N-atom-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-CCl3-replaces-methane-sulphonic-acid-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/click-fg-on-canvas.spec.ts-snapshots/Click-Functional-Group-on-canvas-The-Cbz-replaces-the-Boc-functional-group-1-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/toolbars/ArrowScroll/ArrowScroll.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

updated ketcher version to v2.12.0-rc.2 (#2859)
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

#2854 - Multiple repeating S-groups: limit on maximum count
  packages/ketcher-react/src/script/ui/data/schema/struct-schema.js
Due: prettier --write

#2467 - update documentation about the RGroup attachment points
  documentation/help.md
  documentation/images/25_1_attachment_points_view.png
  documentation/images/25_2_attachment_points_view_of_two_attachments.png
  documentation/images/31_2_sgroup_superatom.png
  documentation/images/31_2_sgroup_superatom_context_menu.png
  documentation/images/FG_contracted_group_tooltip.png
  documentation/images/FG_search_cf3.png
Due: none

#2467 - update documentation screenshot for RGroup attachment point
  documentation/images/25_1_attachment_points_view.png
Due: none

#2864 – Incorrect display angle of attachment points for functional groups
  packages/ketcher-core/src/application/render/restruct/reatom.ts
Due: prettier --write

feat: increase width LeftToolbar
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#2865 – Incorrect display of carbon in attachment points for functional groups
  packages/ketcher-core/src/application/render/restruct/reatom.ts
Due: prettier --write

#2867 – Incorrect display of the 'tBu' functional group
  packages/ketcher-react/src/templates/fg.sdf
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
