Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

fix s-group
  packages/ketcher-react/src/script/ui/data/schema/struct-schema.js
Due: prettier --write

fix warnings in SUP and SRU s-group properties
  packages/ketcher-react/src/script/ui/data/schema/struct-schema.js
Due: prettier --write

Update struct-schema.js
  packages/ketcher-react/src/script/ui/data/schema/struct-schema.js
Due: prettier --write

fix label edit warning
  packages/ketcher-react/src/script/ui/data/schema/struct-schema.js
Due: prettier --write

add conditional for label edit popup
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
Due: prettier --write

fix sdata warnings
  packages/ketcher-react/src/script/ui/data/schema/sdata-schema.js
Due: prettier --write

prettier fix
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
Due: prettier --write

#1290 fix strict mode warnings (#1313)
  packages/ketcher-react/src/script/ui/data/schema/sdata-schema.js
  packages/ketcher-react/src/script/ui/data/schema/struct-schema.js
Due: prettier --write

add fullscreen btn for ketcher-react
  packages/ketcher-react/src/icons/files/fullscreen.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/ui/Portal/Portal.tsx
  packages/ketcher-react/src/script/ui/action/action.types.ts
  packages/ketcher-react/src/script/ui/action/fullscreen.ts
  packages/ketcher-react/src/script/ui/action/index.js
  packages/ketcher-react/src/script/ui/views/toolbars/BottomToolbar/BottomToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/BottomToolbar/BottomToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/toolbar.types.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix btn position
  packages/ketcher-react/src/script/ui/views/toolbars/BottomToolbar/BottomToolbar.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

add fullscreen btn to polymer editor
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/assets/icons/files/fullscreen.svg
  packages/ketcher-polymer-editor-react/src/components/FullscreenButton/FullscreenButton.tsx
  packages/ketcher-polymer-editor-react/src/components/FullscreenButton/index.ts
  packages/ketcher-polymer-editor-react/src/components/menu/menuItem/MenuItem.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/icon/icon.tsx
  packages/ketcher-react/src/script/builders/ketcher/ButtonName.ts
Due: prettier --write

set focus on the first input
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
Due: prettier --write

update snapshot
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
Due: none

fix prettier
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
Due: prettier --write

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Add files via upload
  documentation/wiki/HELM_HBOND_Example1.png
  documentation/wiki/HELM_HBOND_Example2.png
Due: none

fix focus on label edit popup (#1314)
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
Due: prettier --write

Add files via upload (#1320)
  documentation/wiki/HELM_HBOND_Example1.png
  documentation/wiki/HELM_HBOND_Example2.png
Due: none

Update bug_report.md (#1317)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

fix styles
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Update svg images
  packages/ketcher-react/src/icons/files/copy.svg
  packages/ketcher-react/src/icons/files/cut.svg
  packages/ketcher-react/src/icons/files/help.svg
  packages/ketcher-react/src/icons/files/open.svg
  packages/ketcher-react/src/icons/files/paste.svg
  packages/ketcher-react/src/icons/files/redo.svg
  packages/ketcher-react/src/icons/files/save.svg
  packages/ketcher-react/src/icons/files/settings.svg
  packages/ketcher-react/src/icons/files/undo.svg
  packages/ketcher-react/src/icons/files/zoom-in.svg
  packages/ketcher-react/src/icons/files/zoom-out.svg
Due: none

Create zoom slider with non-linear scale transformer
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ScaleTransformer.ts
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomSlider.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomSlider.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

add support for buttons configuration (array)
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/Menu.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/subMenu/SubMenu.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ActionButton/ActionButton.tsx
Due: prettier --write

apply buttons config
  packages/ketcher-polymer-editor-react/src/Editor.tsx
Due: prettier --write

apply buttons config
  example/src/App.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ActionButton/ActionButton.tsx
Due: prettier --write

add test
  packages/ketcher-polymer-editor-react/src/Editor.test.tsx
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
Due: prettier --write

Update draft_HELM_notation_vs_Ketcher_objects_mapping.md
  documentation/wiki/pages/draft_HELM_notation_vs_Ketcher_objects_mapping.md
Due: none

fix removing portal
  packages/ketcher-react/src/script/ui/Portal/Portal.tsx
Due: prettier --write

Update draft_HELM_notation_vs_Ketcher_objects_mapping.md (#1329)
  documentation/wiki/pages/draft_HELM_notation_vs_Ketcher_objects_mapping.md
Due: none

fix button group
  packages/ketcher-react/src/script/ui/Portal/Portal.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ToolbarMultiToolItem/usePortalStyle.ts
Due: prettier --write

fix button group (#1331)
  packages/ketcher-react/src/script/ui/Portal/Portal.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ToolbarMultiToolItem/usePortalStyle.ts
Due: prettier --write

fix position and id data for add/remove arrows
  packages/ketcher-react/src/script/editor/utils/customOnChangeHandler.ts
Due: prettier --write

fix position and id data for add/remove arrows (#1333)
  packages/ketcher-react/src/script/editor/utils/customOnChangeHandler.ts
Due: prettier --write

fix styles (#1323)
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Elements panel redesign
  packages/ketcher-react/src/icons/files/elements.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/ui/component/view/Atom/Atom.jsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/ElementsTable/ElementsTable.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/ElementsTable/components/MainRow.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/ElementsTable/components/OutinerRow.jsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/AtomsList/AtomsList.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

redesign about window
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.module.less
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/About/About.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/About/About.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/About/logo.svg
  packages/ketcher-react/src/style/variables.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Redesign and refactor top panel components with MUI and emotion
  packages/ketcher-react/package.json
  packages/ketcher-react/src/icons/files/analyse.svg
  packages/ketcher-react/src/icons/files/arom.svg
  packages/ketcher-react/src/icons/files/check.svg
  packages/ketcher-react/src/icons/files/cip.svg
  packages/ketcher-react/src/icons/files/clean.svg
  packages/ketcher-react/src/icons/files/clear.svg
  packages/ketcher-react/src/icons/files/dearom.svg
  packages/ketcher-react/src/icons/files/history.svg
  packages/ketcher-react/src/icons/files/layout.svg
  packages/ketcher-react/src/icons/files/miew.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ClipboardControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/Divider.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ElementWithDropdown.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ExternalFuncControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/FileControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/HelpLink.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/HelpLink/HelpLink.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/IconButton.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/SystemControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.container.ts
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/UndoRedo.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomList.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomList/ZoomList.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomSlider.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomSlider.tsx
  yarn.lock
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Add object type to required schema fields
  packages/ketcher-react/src/script/ui/data/schema/sdata-schema.js
Due: prettier --write

fix naming
  example/src/App.tsx
  packages/ketcher-polymer-editor-react/src/Editor.tsx
Due: prettier --write

Add object type to required schema fields (#1343)
  packages/ketcher-react/src/script/ui/data/schema/sdata-schema.js
Due: prettier --write
