Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

#10309 split editor singletons for multi editors
  packages/ketcher-core/src/application/editor/tools/Zoom.ts
  packages/ketcher-core/src/application/render/renderers/RenderersManager.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

Revert "#6438 - System shows phosphate as CHEM in antisense chain - failed tests fix"
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
Due: prettier --write

#10309 - split editor singletons for multi editors
  packages/ketcher-core/src/application/editor/editorSingleton.ts
Due: prettier --write

Fix Prettier formatting in sgroup.test.ts after merge
  packages/ketcher-core/__tests__/application/editor/actions/sgroup.test.ts
Due: prettier --write

#10322 – Fix undo crash after merging an S-group attachment-point atom
  packages/ketcher-core/__tests__/application/editor/actions/atomMerge.test.ts
  packages/ketcher-core/src/application/editor/actions/atomMerge.ts
Due: prettier --write

7935: fix the issue without passing marginValues form save dialog
  packages/ketcher-core/__tests__/application/editor/utilities/getSvgFromDrawnStructures.test.tsx
  packages/ketcher-core/src/utilities/getSvgFromDrawnStructures.ts
  packages/ketcher-macromolecules/src/components/modal/save/Save.tsx
Due: prettier --write

#7909 - Some structure elements disappear when saving as SVG or PNG.. - fix screenshots after copilot merge fix
  ketcher-autotests/tests/specs/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-28-Image-not-missi-10d63-hemistry-information-when-using-abbreviations-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-28-Image-not-missi-10d63-hemistry-information-when-using-abbreviations-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.7.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-7-0-Case-20-Stereo-labels-not-missied-on-export-to-SVG-result-1-chromium-popup-linux.png
Due: none

Fix lint: use import type for RenderOptions in atomMerge test
  packages/ketcher-core/__tests__/application/editor/actions/atomMerge.test.ts
Due: prettier --write

#6438 - System shows phosphate as CHEM in antisense chain - screenshot adjustment after copilot merge to master
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-19-14-18-Replace-last-symbol-at-base-to--4c7d6-sets-U-on-phosphate-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-19-16-18-Replace-last-symbol-at-base-to--46c4a-sets-U-on-phosphate-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-22-14-18-Replace-last-symbol-at-base-to--59224-ets-U-on-phosphate-Test-6-Ph-in-edit-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-22-16-18-Replace-last-symbol-at-base-to--207e9-ets-U-on-phosphate-Test-6-Ph-in-edit-mode-1-chromium-linux.png
Due: none

- fixed tests
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/CDX-Files/cdx-files.spec.ts-snapshots/CDX-files-opening-cdx-files-from-clipboard-1-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Layout-action-on-part-of-structure-with-Stereobonds-1-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/12-Fold-unfold-hydrogens-for-by-All-Custom-Query-Bonds-with-S-Group---Query-component-ket-1-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/4-Fold-unfold-hydrogens-for-by-Simple-Molecules-ket-1-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/4-Fold-unfold-hydrogens-for-by-Simple-Molecules-ket-2-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/4-Fold-unfold-hydrogens-for-by-Simple-molecules-Radical-ket-1-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/4-Fold-unfold-hydrogens-for-by-Simple-molecules-Radical-ket-2-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/4-Fold-unfold-hydrogens-for-by-Simple-molecules-Valences-ket-1-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/4-Fold-unfold-hydrogens-for-by-Simple-molecules-Valences-ket-2-chromium-linux.png
  ketcher-autotests/tests/specs/Reactions/Reaction-tools/Multi-Tailed-Arrow-Tool/multi-tailed-arrow-tool.spec.ts-snapshots/Multi-Tailed-Arrow-Tool-Verify-the-cascade-reaction-after-Hydrogens-action-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts-snapshots/Atom-Tool-Colored-atoms---save-as-rxn-file-and-render-1-chromium-linux.png
  ketcher-autotests/tests/test-data/CML/one-attachment-point-added-in-micro-mode-expected.cml
  ketcher-autotests/tests/test-data/Common/Sequence-Mode-Replacement/replacement-expected.ket
  ketcher-autotests/tests/test-data/KET/Common-Bond-Tests/4 connected by Bond A6OH-expected.ket
  ketcher-autotests/tests/test-data/KET/Common-Bond-Tests/4 connected by Bond A6OH-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/S-Groups/Nucleotides and Superatoms-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/chain-with-attachment-points-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/chain-with-name-and-value-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/multiple-group-data-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/sru-polymer-data-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/S-Groups/Nucleotides and Superatoms-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/chain-with-attachment-points-expectedV3000.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/r-group-with-allkind-attachment-points-expectedV3000.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/r1-several-structures-V3000-expected.mol
  ketcher-autotests/tests/test-data/Rxn-V2000/chain-with-r-group-expected.rxn
  ketcher-autotests/tests/test-data/Rxn-V2000/reaction-with-arrow-and-plus-expected.rxn
  ketcher-autotests/tests/test-data/Rxn-V2000/reaction-with-colored-atoms-expected.rxn
  ketcher-autotests/tests/test-data/Rxn-V3000/chain-with-r-group-V3000-expected.rxn
  ketcher-autotests/tests/test-data/Rxn-V3000/reaction-with-arrow-and-plus-expectedV3000.rxn
Due: none

#2772 - Remove unused serializer/deserializer for mol v3000, sdf, smi as it's implemented on the Indigo side
  packages/ketcher-core/src/domain/serializers/mol/__tests__/v2000.test.ts
  packages/ketcher-core/src/domain/serializers/mol/common.ts
  packages/ketcher-core/src/domain/serializers/mol/v3000.ts
Due: prettier --write

Refactor: Explicit Any type clean up (part 5.2)
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
Due: prettier --write

#10322 – Undo operation doesn't work in some cases (#10366)
  packages/ketcher-core/__tests__/application/editor/actions/atomMerge.test.ts
  packages/ketcher-core/src/application/editor/actions/atomMerge.ts
Due: prettier --write

#10362 – Refactor: replace explicit any in TabPanelData
  packages/ketcher-macromolecules/src/components/shared/Tabs/Tabs.tsx
  packages/ketcher-macromolecules/src/components/shared/Tabs/Tabs.types.ts
Due: prettier --write

Fix sequence list order when undoing a right-click delete (#10313)
  packages/ketcher-core/src/domain/entities/monomer-chains/ChainsCollection.ts
Due: prettier --write

#5442 - Bond preview tooltip layout is wrong for unknown monomers (#10292)
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-26-Limit-size-of-structures-in-preview-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.13.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Indigo-Tools/Calculated-Values-Tool/calculated-values.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-that-R1-R2-bac-31dd3-nts-are-available-for-unresolved-IDT-monomers-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Connect-unresolved-ID-335f0-r-to-known-monomers-through-R3-R4-connections-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Connect-unresolved-ID-e45a4-r-to-known-monomers-through-R2-R1-connections-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-hover-preview-contains-IDT-alias-only-for-unresolved-IDT-monomers-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-hover-preview-contains-IDT-alias-only-for-unresolved-IDT-monomers-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-attachment-poi-e88ec-as-attachment-point-when-switch-to-macro-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-multiple-attac-2ff17-as-attachment-point-when-switch-to-macro-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Connect-micro-structure-with-attachment-point-to-CHEM-in-macro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Connection-one-molecule--aca24-el-and-it-remain-back-after-delete-connection-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-Select-Edit-Attachment-Points-dialogu-e7c7f-uous-monomers-8-Ambiguous-Phosphate-Weighted-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-Select-Edit-Attachment-Points-dialogues-for-ambiguous-monomers-7-Ambiguous-Phosphate-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-11-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-18-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-21-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-27-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-31-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-36-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-41-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-45-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-51-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-54-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-61-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-63-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-71-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-72-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/1-Validate-that-preview-tooltip-content-is-correct-for-every-monomers-pairs-9-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/2-Validate-preview-tooltip-positions-in-relation-to-the-center-of-the-bond-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/2-Validate-preview-tooltip-positions-in-relation-to-the-center-of-the-bond-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/2-Validate-preview-tooltip-positions-in-relation-to-the-center-of-the-bond-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/preview-for-hovering-over-bond.spec.ts-snapshots/2-Validate-preview-tooltip-positions-in-relation-to-the-center-of-the-bond-7-chromium-linux.png
  packages/ketcher-macromolecules/src/components/preview/components/BondAttachmentPoints/BondAttachmentPoints.styles.ts
  packages/ketcher-macromolecules/src/components/preview/components/BondAttachmentPoints/BondAttachmentPoints.tsx
  packages/ketcher-macromolecules/src/components/preview/hooks/useAttachmentPoints.ts
  packages/ketcher-macromolecules/src/components/shared/ConnectionOverview/components/MonomerOverview/MonomerOverview.styles.ts
  packages/ketcher-macromolecules/src/components/shared/ConnectionOverview/components/MonomerOverview/MonomerOverview.tsx
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Selection-for-chain-structure-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-horizontally-o-77359--structure-and-save-paste-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/flipping-horizontally-one-monomer-expected.mol
Due: none

fix(context-menu): set bond type instead of cycling for individual bond selection
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useBondTypeChange.ts
Due: prettier --write

fixes
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.13.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Layout-action-on-part-of-structure-with-Attachment-point-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Attachment-Point-Tool/attachment-point-tool.spec.ts-snapshots/Attachment-Point-Tool-Drag-atoms-consist-attachment-points-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Attachment-Point-Tool/attachment-point-tool.spec.ts-snapshots/Attachment-Point-Tool-With-any-Bond-tool-click-the-atom-with-attachment-point-s-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Rotation/rotation.spec.ts-snapshots/Rotation-Cancel-rotation-on-right-click-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Rotation/rotation.spec.ts-snapshots/Rotation-Cancel-rotation-on-right-click-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Visual-check/visual-check.spec.ts-snapshots/Checking-if-displaying-atom-attributes-does-no-3a68e-egrity-of-the-structure-Setting-list-of-atoms-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Visual-check/visual-check.spec.ts-snapshots/Checking-if-preview-of-attributes-is-displayed-65c7b-after-hover-Checking-preview-of-list-of-atoms-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Visual-check/visual-check.spec.ts-snapshots/Checking-if-preview-of-attributes-is-displayed-f50b9-f-list-of-atoms-and-query-specific-attributes-1-chromium-linux.png
Due: prettier --write

update color picker styles and integrate custom toggle button functionality
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

feat: enhance color picker with custom color support and improved UI elements
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

feat: update color picker popup positioning and implement outside click to close functionality
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix sizes and margins
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Move skill to .claude
  .claude/skills/add-localstorage-setting/SKILL.md
Due: none

fix: adjust lightness calculation in color picker component
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
Due: prettier --write

Remove react-colorful
  package-lock.json
  packages/ketcher-react/package.json
Due: prettier --write

Update color picker colors
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
Due: prettier --write

Add split-component skill
  .claude/skills/split-component/SKILL.md
Due: none

Cleanup + fix popup position
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Add tests
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.test.js
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.utils.test.ts
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorSlider.test.tsx
Due: prettier --write

Increase maximum custom colors to 10 and update custom swatch layout
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Improve dimensions
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Add LocalStorage support for ColorPicker
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.test.js
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Add LocalStorage support for color picker settings and update related tests
  .github/skills/add-localstorage-setting/SKILL.md
  packages/ketcher-core/src/application/settings/schema.ts
  packages/ketcher-core/src/application/settings/types.ts
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.test.js
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
Due: prettier --write

Update tests
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.test.js
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/__snapshots__/ColorPicker.test.js.snap
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Improve look and feel
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Fix tests
  packages/ketcher-react/jest.setup.js
Due: prettier --write
