Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

test 2
  ketcher-autotests/tests/Reactions/Reaction-tools/Multi-Tailed-Arrow-Tool/multi-tailed-arrow-tool.spec.ts
Due: prettier --write

#6034 – Remove unnecessary transition
  packages/ketcher-react/src/Editor.tsx
Due: prettier --write

Fix OpenOptions interactivity visuals
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/FileDrop.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/OpenOptions.module.less
  packages/ketcher-react/src/style/variables.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#6034 – Remove unnecessary transition (#6283)
  packages/ketcher-react/src/Editor.tsx
Due: prettier --write

test 2.2
  ketcher-autotests/.eslintignore
  ketcher-autotests/.prettierignore
Due: none

fix
  ketcher-autotests/tests/Reactions/Reaction-tools/Multi-Tailed-Arrow-Tool/multi-tailed-arrow-tool.spec.ts
Due: prettier --write

last last fix
  ketcher-autotests/tests/Reactions/Reaction-tools/Multi-Tailed-Arrow-Tool/multi-tailed-arrow-tool.spec.ts
Due: prettier --write

#6268 - fix for #6280 - Use separate build folder to run docker tests (#6285)
  ketcher-autotests/.eslintignore
  ketcher-autotests/.prettierignore
Due: none

Fix snapshots for OpenOptions interactivity visuals.
  ketcher-autotests/tests/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Hotkeys-test-Verify-that-hotkey-Control-o-triggers-Open-1-chromium-linux.png
Due: none

Fix autotest Clear Canvas, remove comments.
  ketcher-autotests/tests/User-Interface/Clear-Canvas/clear-canvas.spec.ts
Due: prettier --write

refactoring
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/KET-Files/ket-files-properties.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Save-File/save-file.spec.ts
  ketcher-autotests/tests/Indigo-Tools/Calculate-CIP-Tool/calculate-cip-tool.spec.ts
  ketcher-autotests/tests/Indigo-Tools/Enhanced-Stereochemistry/enhanced-stereochemistry.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/API-Macro/get-ket.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Erase-Tool/erase-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Attachment-Point-Tool/actions-with-attachment-point-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/data-s-group-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Multiple-S-Group-Tool/multiple-s-group-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/SRU-Polymer/sru-polymer-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Simple-Objects/action-on-simple-objects.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Text-Tool/text-formating.spec.ts
Due: prettier --write

#6291 - Super G and Super T monomers do not load from a saved RXN V3000 file
  packages/ketcher-core/src/application/editor/data/monomers.ket
Due: none

- updated screenshots
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-32fe3-Nucleotides-monomer-5hMedC-Hydroxymethyl-dC-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-330f7-eotides-monomer-AmMC6T-Amino-Modifier-C6-dT-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-402dd-mer-Super-T-5-hydroxybutynl-2’-deoxyuridine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-507a2-cleotides-monomer-2-damdA-2-6-Diaminopurine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-3-Verify-search-with-a-single-symbol-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-7-Verify-se-63e8b-nomers-with-the-same-starting-symbol-Super-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-0f322-t-nucleotide-Super-G-8-aza-7-deazaguanosine-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-39833-t-nucleotide-Super-G-8-aza-7-deazaguanosine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-82bfe-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-a1f97-t-nucleotide-Super-G-8-aza-7-deazaguanosine-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-a32de-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-b7380-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-bab57-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-db45a-t-nucleotide-Super-G-8-aza-7-deazaguanosine-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-preview-tooltip-is-s-3b823-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-preview-tooltip-is-s-c486e-t-nucleotide-Super-G-8-aza-7-deazaguanosine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--022b2-rom-library-select-it-and-move-it-delete-it-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--061f6-rom-library-select-it-and-move-it-delete-it-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--88649-rom-library-select-it-and-move-it-delete-it-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--9585c-rom-library-select-it-and-move-it-delete-it-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--bfcda-rom-library-select-it-and-move-it-delete-it-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--e2caf-rom-library-select-it-and-move-it-delete-it-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts
Due: prettier --write

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

5700 - Remove previously created bond when new bond is being defined from the same attachment point
  packages/ketcher-core/src/application/editor/tools/Bond.ts
  packages/ketcher-core/src/domain/entities/BaseMonomer.ts
Due: prettier --write

Update bug_report.md (#6295)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

- updated screenshots
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-6c3db-ides-monomer-Super-G-8-aza-7-deazaguanosine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Nucleotide-type-of-monomer-in-the-library-1-chromium-linux.png
Due: none

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update feature_request.md (#6296)
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update autotest_request.md
  .github/ISSUE_TEMPLATE/autotest_request.md
Due: none

Update autotest_request.md (#6297)
  .github/ISSUE_TEMPLATE/autotest_request.md
Due: none

- experiments to use esm with wasm
  example/config/webpack.config.js
  package-lock.json
  packages/ketcher-standalone/package.json
  packages/ketcher-standalone/rollup.config.js
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

fix
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts
Due: prettier --write

- set env variable USE_SEPARATE_INDIGO_WASM=true
  example/.env
Due: none

#6298 – Update Indigo to 1.28.0-rc.2 in-browser module
  package-lock.json
  package.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

- experiments to use esm with wasm
  package-lock.json
  packages/ketcher-standalone/package.json
  packages/ketcher-standalone/rollup.config.js
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

Add files via upload
  documentation/images/Ketcher-Micro-Whole-Canvas.png
Due: none

#6272 – Fix caret position move on preset insertion from library
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

Fix autotest Clear Canvas, remove comments. (#6289)
  ketcher-autotests/tests/User-Interface/Clear-Canvas/clear-canvas.spec.ts
Due: prettier --write

fix
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
Due: prettier --write

- update tests
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts
Due: prettier --write

new chain tool behaviour
  packages/ketcher-core/src/application/editor/actions/chain.ts
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/editor/tool/chain.ts
Due: prettier --write

Autotests: #6198 - autotests tests for ctrl+move for copy (#6301)
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-1-Verif-7a6e6--and-stereocenters-when-load-structure-by-API-1-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-2-Verif-ca985--and-stereocenters-when-load-structure-by-API-2-chromium-linux.png
  ketcher-autotests/tests/API/api-set-get-molecule.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-2-Verif-fe1af--and-stereocenters-when-load-structure-by-API-1-chromium-linux.png
  ketcher-autotests/tests/Settings/Stereochemistry/ignore-chiral-flag.spec.ts
  ketcher-autotests/tests/Settings/Stereochemistry/ignore-chiral-flag.spec.ts-snapshots/Ignore-Chiral-Flag-Verify-absence-Enhanced-Stereochemistry-flag-and-stereocenters2-1-chromium-linux.png
  ketcher-autotests/tests/Settings/Stereochemistry/ignore-chiral-flag.spec.ts-snapshots/Ignore-Chiral-Flag-Verify-absence-Enhanced-Stereochemistry-flag-and-stereocenters2-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-Layout-after-copy-and-moving-by-ctrl-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-Layout-after-copy-and-moving-by-ctrl-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-add-remove-explicit-hydrogen-after-moving-by-ctrl-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-add-remove-explicit-hydrogen-after-moving-by-ctrl-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-add-remove-explicit-hydrogen-after-moving-by-ctrl-3-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-aromatize-dearomatize-after-copy-and-moving-by-ctrl-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-aromatize-dearomatize-after-copy-and-moving-by-ctrl-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-copy-paste-works-after-copy-and-moving-by-ctrl-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-copy-paste-works-after-copy-and-moving-by-ctrl-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-contracted-functional-group-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-contracted-salts-and-solvents-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-expanded-functional-group-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-expanded-salts-and-solvents-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-part-o-025f9--as-ring-with-attachment-points-and-Undo-Redo-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-part-o-3364d--as-ring-with-attachment-points-and-Undo-Redo-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-part-o-e7cbd--as-ring-with-attachment-points-and-Undo-Redo-3-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-part-o-f5a33-la-as-atom-with-valence-alias-text-and-plus-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-part-of-molecula-as-atom-and-bond-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-part-of-molecula-as-only-atom-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-part-of-molecula-as-ring-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-part-of-molecula-as-ring-with-attachment-bonds-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-part-of-molecula-as-ring-with-attachment-points-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-reactant-and-elliptical-arrow-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-reaction-with-catalyst-above-and-below-arrow-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Hot-Keys/hotkeys.spec.ts-snapshots/Hot-keys-Verify-move-by-ctrl-when-its-a-whole-molecula-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/benzene-ring-with-two-attachment-points.ket
  ketcher-autotests/tests/test-data/KET/reaction-with-catalyst.ket
  ketcher-autotests/tests/test-data/KET/two-benzene-and-elliptical-arrow.ket
  ketcher-autotests/tests/test-data/KET/two-benzene-valence-alias-text-plus.ket
  ketcher-autotests/tests/utils/canvas/helpers.ts
Due: prettier --write

#6298 – Update UI tests
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-correct-HELM-sequence-60-The-character-“-”-represents-0-n-unknown-monomers-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-41-Wrong-probability-token-type-CHEM-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-42-Negative-probability-CHEM-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-44-Missing-probability-token-RNA-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-45-Wrong-probability-token-type-RNA-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-46-Negative-probability-RNA-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-47-Probability-is-greater-than-100-RNA-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-48-CHEM-mono-51bd3-he-connection-order-is-not-defined-for-CHEMs-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-49-Negative-repeating-number-RNA-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-50-Negative-repeating-number-PEPTIDE-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-51-Negative-repeating-number-CHEM-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-52-Repeating-cb3c2-he-connection-order-is-not-defined-for-CHEMs-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-53-Group-of--424a4-he-connection-order-is-not-defined-for-CHEMs-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-54-Negative-repeating-number-PEPTIDE-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-55-Negative-repeating-number-CHEM-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-56-Negative-repeating-number-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-57-CHEM-mono-03e6d-he-connection-order-is-not-defined-for-CHEMs-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-58-Invalid-range-RNA-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-59-Invalid-range-PEPTIDE-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-60-Invalid-range-CHEM-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-61-Range-for-CHEMS-is-impossible-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-62-Range-for-CHEMS-is-impossible-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-63-Invalid-range-PEPTIDE-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-64-Invalid-range-CHEM-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-65-Invalid-range-RNA-1-chromium-linux.png
Due: prettier --write

Add files via upload
  documentation/images/Micro-3.0.-Toolbar.png
Due: none

Add files via upload
  documentation/images/ACS-Style-3.0..png
  documentation/images/Bond-Properties-3.0..png
  documentation/images/CIP-Button-3.0..png
  documentation/images/Caffeine-ACS-3.0..png
  documentation/images/Caffeine-Ket-Default-3.0..png
  documentation/images/Functional-Groups-3.0..png
  documentation/images/Highlighting-3.0..png
  documentation/images/Macro-Canvas-3.0..png
  documentation/images/Micro-Macro-Switcher.png
  documentation/images/Og-Search.png
  documentation/images/R-Group-3.0..png
  documentation/images/R-group-2-3.0..png
  documentation/images/S-Group-Properties-2-3.0..png
  documentation/images/S-Group-Properties-3.0..png
  documentation/images/Save-To-Templates-3.0..png
  documentation/images/Settings-3.0..png
  documentation/images/Special-Symbols-3.0..png
  documentation/images/Structure-Check-3.0..png
  documentation/images/Structure-Library-3.0..png
  documentation/images/Using-Templates-2-3.0..png
  documentation/images/Using-Templates-3-3.0..png
  documentation/images/Using-Templates-3.0..png
  documentation/images/Zoom-3.0..png
Due: none

Add files via upload
  documentation/images/Macro-Canvas-3.0..png
Due: none
