Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

#2600 - preview const moved to the constants
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryGroup/consts.ts
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryGroup/styles.ts
  packages/ketcher-polymer-editor-react/src/constants.ts
  packages/ketcher-polymer-editor-react/src/hooks/usePreview.ts
Due: prettier --write

#2600 - preview style type moved to the types
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryGroup/styles.ts
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryGroup/types.ts
  packages/ketcher-polymer-editor-react/src/hooks/usePreview.ts
  packages/ketcher-polymer-editor-react/src/types/index.ts
Due: prettier --write

#2600 - unused ref removed
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
Due: prettier --write

check env
  .github/workflows/playwright.yml
Due: none

check env
  ketcher-autotests/Dockerfile
  ketcher-autotests/docker-compose.yml
Due: none

check env
  .github/workflows/playwright.yml
  ketcher-autotests/docker-compose.yml
Due: none

#2626 - comments resolved
  packages/ketcher-polymer-editor-react/package.json
  packages/ketcher-react/src/components/Icon/utils/getIconByName.ts
  packages/ketcher-react/src/components/Icon/utils/iconNameToIcon.ts
  packages/ketcher-react/src/typings.d.ts
Due: prettier --write

#2731 - Lookup abbreviations using the keyboard * Add possibility to search abbreviations from Templates, Functional Groups, Salt and Solvents and Elements without opening the Templates dialog
  packages/ketcher-core/src/domain/constants/elements.ts
  packages/ketcher-react/jest.config.js
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.constants.tsx
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.container.test.tsx
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.module.less
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.test.tsx
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.test.utils.tsx
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.tsx
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.types.tsx
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.utils.test.tsx
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.utils.tsx
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/__snapshots__/AbbreviationLookup.utils.test.tsx.snap
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/hooks/useOptions.test.tsx
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/hooks/useOptions.tsx
  packages/ketcher-react/src/script/ui/state/abbreviationLookup/index.test.ts
  packages/ketcher-react/src/script/ui/state/common/index.test.ts
  packages/ketcher-react/src/script/ui/state/hotkeys.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#2731 - Lookup abbreviations using the keyboard * Add possibility to search abbreviations from Templates, Functional Groups, Salt and Solvents and Elements without opening the Templates dialog
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.utils.tsx
Due: prettier --write

#2731 - Lookup abbreviations using the keyboard * Add possibility to search abbreviations from Templates, Functional Groups, Salt and Solvents and Elements without opening the Templates dialog
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.utils.test.tsx
Due: prettier --write

add as unc1
  packages/ketcher-core/package.json
  packages/ketcher-react/package.json
Due: prettier --write

check url
  .github/workflows/playwright.yml
Due: none

check url
  .github/workflows/playwright.yml
  ketcher-autotests/Dockerfile
Due: none

#2626 - iconNameToIcon object is readonly
  packages/ketcher-react/src/components/Icon/utils/iconNameToIcon.ts
Due: prettier --write

#2766 – Can not open .rxn files with S-Group properties
  packages/ketcher-core/src/domain/serializers/ket/schema.json
Due: prettier --write

#2165 - add template functional groups attachment points
  packages/ketcher-react/src/templates/fg.sdf
Due: none

check url
  .github/workflows/playwright.yml
  ketcher-autotests/docker-compose.yml
Due: none
