Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

removing unnecessary import
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts
Due: prettier --write

Backmerge: #3623 - Icons are too small if ketcher inserted in react component instead of iframe - changed media queries for top toolbar icons to container ones
  example/src/ModeControl/ModeControl.tsx
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbarIconButton.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix rna builder Cancel logic
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/MonomerLibrary.tsx
  packages/ketcher-polymer-editor-react/src/state/rna-builder/rnaBuilderSlice.ts
Due: prettier --write

- fixed styles for macromolecules mode
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/styledComponents.ts
Due: prettier --write

#3661 – fixed tests
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-f-6fe0f-operties-and-query-properties-then-cut-paste-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-f-f0e62-perties-and-query-properties-then-copy-paste-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/monomers-and-chem.mol
  packages/ketcher-polymer-editor-react/src/components/modal/save/__snapshots__/Save.test.tsx.snap
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/__snapshots__/Save.test.tsx.snap
Due: prettier --write

adding tests to cover ticket 3397 and 3408
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Open-File/open-file.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Open-File/open-file.spec.ts-snapshots/open-files-with-different-formats-Open-ket-file-with-SMARTS-attributes-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Checking-SMARTS-with-two-query-groups-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Checking-SMARTS-with-two-query-groups-2-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/benzene-with-smarts-attributes.ket
Due: prettier --write

removing unnecessary import
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts
Due: prettier --write

- fixed screenshots
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-03112-indow-does-not-dissapear-after-switching-tabs-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-7b7d1-ions-list-displayed-with-a-highest-similarity-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-ME-is-highlighted-based-on-priority-order-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-appears-when-typing-name-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-available-option-verification-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-d01db-gestions-list-is-sorted-according-to-criteria-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-displayed-message-after-deleting-typed-test-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-in-correct-format-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-no-matching-result-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-only-name-displayed-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-atom-state-restores-after-typing-additional-letters-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Abbreviation-Lookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-does-not-disappear-when-user-switches-to-new-browser-tab-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Abbreviation-Lookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-is-shown-when-entering-some-text-1-chromium-linux.png
Due: none

Backmerge: #3623 - icons should scale depends on container omponent width instead of iframe (#3677)
  example/src/ModeControl/ModeControl.tsx
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-03112-indow-does-not-dissapear-after-switching-tabs-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-7b7d1-ions-list-displayed-with-a-highest-similarity-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-ME-is-highlighted-based-on-priority-order-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-appears-when-typing-name-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-available-option-verification-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-d01db-gestions-list-is-sorted-according-to-criteria-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-displayed-message-after-deleting-typed-test-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-in-correct-format-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-no-matching-result-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-only-name-displayed-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-atom-state-restores-after-typing-additional-letters-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Abbreviation-Lookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-does-not-disappear-when-user-switches-to-new-browser-tab-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Abbreviation-Lookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-is-shown-when-entering-some-text-1-chromium-linux.png
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/styledComponents.ts
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbarIconButton.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Macro: #3469 add snake bond algorithm .md (#3567)
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer.ts
  packages/ketcher-core/src/application/render/renderers/docs/PolymerBondRenderer.md
  packages/ketcher-core/src/application/render/renderers/docs/snake-bond-bottom-left.png
  packages/ketcher-core/src/application/render/renderers/docs/snake-bond-bottom-right.png
  packages/ketcher-core/src/application/render/renderers/docs/snake-bond-left.png
  packages/ketcher-core/src/application/render/renderers/docs/snake-bond-top-left.png
  packages/ketcher-core/src/application/render/renderers/docs/snake-bond-top-right.png
Due: prettier --write

#3633 – added e2e-tests
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/snake-bond-tool.spec.ts
  packages/ketcher-core/src/domain/helpers/attachmentPointCalculations.ts
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/menuItem/MenuItem.tsx
Due: prettier --write

Update ketcher version to v2.15.1
  example/src/App.tsx
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-react/package.json
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbarIconButton.ts
  packages/ketcher-standalone/package.json
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- fix
  example/src/App.tsx
Due: prettier --write

Update ketcher version to v2.16.0-rc.4
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-react/package.json
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbarIconButton.ts
  packages/ketcher-standalone/package.json
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#3635 - Refactor calculation of pointOnBorder length
  packages/ketcher-core/src/domain/AttachmentPoint.ts
  packages/ketcher-core/src/domain/helpers/attachmentPointCalculations.ts
Due: prettier --write

#3661 – Migrate to Indigo v1.17.0-rc.2 in-browser module
  package-lock.json
  packages/ketcher-standalone/package.json
Due: prettier --write

#3635 - updated screenshots
  ketcher-autotests/tests/Macromolecule-editor/Modal-window/modal-window.spec.ts-snapshots/Modal-window-Connect-button-is-active-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Modal-window/modal-window.spec.ts-snapshots/Modal-window-Connect-button-is-disabled-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptides-add-to-canvas.spec.ts-snapshots/Peptide-Add-monomer-preview-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/attachment-point-rotation.spec.ts-snapshots/Check-attachment-point-rotation-Move-monomer-b-29ea5--another-monomers-and-check-attachment-points-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/attachment-point-rotation.spec.ts-snapshots/Check-attachment-point-rotation-Move-monomer-b-c144d--another-monomers-and-check-attachment-points-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/attachment-point-rotation.spec.ts-snapshots/Check-attachment-point-rotation-Select-monomer-and-bonds-and-then-hover-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/attachment-point-rotation.spec.ts-snapshots/Check-attachment-point-rotation-Select-monomer-and-bonds-and-then-hover-monomer-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Polymer-Bond-Tool-Create-bond-between-two-chems-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-attachment-points-with-menu-buttons-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-attachment-points-with-menu-buttons-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-attachment-points-with-menu-buttons-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-attachment-points-with-mouse-wheel-and-CTRL-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-attachment-points-with-mouse-wheel-and-CTRL-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-attachment-points-with-mouse-wheel-and-CTRL-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-bond-with-menu-buttons-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-bond-with-menu-buttons-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-bond-with-menu-buttons-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-bond-with-mouse-wheel-and-CTRL-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-bond-with-mouse-wheel-and-CTRL-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Add-Base-and-Phosphate-Combination-to-Canvas-and-connect-with-bond-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Add-Sugar-Base-Phosphate-Combination-to-Canvas-and-connect-with-bond-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Add-Sugar-and-Base-Combination-to-Canvas-and-connect-with-bond-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Add-Sugar-and-Phosphate-Combination-to-Canvas-and-connect-with-bond-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Draw-Sugar-Base-Phosphate-and-try-to-attach-bond-to-occupied-attachment-point-1-chromium-linux.png
Due: none

- updated screenshots
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-03112-indow-does-not-dissapear-after-switching-tabs-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-7b7d1-ions-list-displayed-with-a-highest-similarity-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-ME-is-highlighted-based-on-priority-order-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-appears-when-typing-name-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-available-option-verification-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-d01db-gestions-list-is-sorted-according-to-criteria-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-displayed-message-after-deleting-typed-test-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-in-correct-format-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-no-matching-result-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-only-name-displayed-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/AbbreviationLookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-does-not-disappear-when-user-switches-to-new-browser-tab-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/AbbreviationLookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-is-shown-when-entering-some-text-1-chromium-linux.png
Due: none

- updated screenshots
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-03112-indow-does-not-dissapear-after-switching-tabs-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-7b7d1-ions-list-displayed-with-a-highest-similarity-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-ME-is-highlighted-based-on-priority-order-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-appears-when-typing-name-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-available-option-verification-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-d01db-gestions-list-is-sorted-according-to-criteria-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-displayed-message-after-deleting-typed-test-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-in-correct-format-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-no-matching-result-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-only-name-displayed-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-atom-state-restores-after-typing-additional-letters-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Abbreviation-Lookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-does-not-disappear-when-user-switches-to-new-browser-tab-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Abbreviation-Lookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-is-shown-when-entering-some-text-1-chromium-linux.png
Due: none

- implemented story
  packages/ketcher-core/src/application/editor/operations/index.ts
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/RnaBuilder/RnaBuilder.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-polymer-editor-react/src/constants.ts
  packages/ketcher-polymer-editor-react/src/helpers/localStorage.ts
  packages/ketcher-polymer-editor-react/src/state/library/librarySlice.ts
  packages/ketcher-polymer-editor-react/src/state/rna-builder/rnaBuilderSlice.ts
Due: prettier --write

- added reset action for presets
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/state/library/librarySlice.ts
  packages/ketcher-polymer-editor-react/src/state/rna-builder/rnaBuilderSlice.ts
Due: prettier --write

Backmerge: #3623 - Icons are too small if ketcher inserted in react component instead of iframe (#3684)
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-03112-indow-does-not-dissapear-after-switching-tabs-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-7b7d1-ions-list-displayed-with-a-highest-similarity-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-ME-is-highlighted-based-on-priority-order-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-appears-when-typing-name-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-available-option-verification-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-d01db-gestions-list-is-sorted-according-to-criteria-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-displayed-message-after-deleting-typed-test-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-in-correct-format-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-no-matching-result-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-only-name-displayed-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-atom-state-restores-after-typing-additional-letters-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Abbreviation-Lookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-does-not-disappear-when-user-switches-to-new-browser-tab-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Abbreviation-Lookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-is-shown-when-entering-some-text-1-chromium-linux.png
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-react/package.json
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbarIconButton.ts
  packages/ketcher-standalone/package.json
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Backmerge: #3623 - Icons are too small if ketcher inserted in react component instead of iframe (#3683)
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-03112-indow-does-not-dissapear-after-switching-tabs-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-7b7d1-ions-list-displayed-with-a-highest-similarity-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-ME-is-highlighted-based-on-priority-order-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-appears-when-typing-name-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-available-option-verification-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-d01db-gestions-list-is-sorted-according-to-criteria-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-displayed-message-after-deleting-typed-test-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-element-from-Periodic-table-in-correct-format-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-no-matching-result-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-only-name-displayed-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/AbbreviationLookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-does-not-disappear-when-user-switches-to-new-browser-tab-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/AbbreviationLookup/abbreviation-lookup.spec.ts-snapshots/Lookup-Abbreviations-window-is-shown-when-entering-some-text-1-chromium-linux.png
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-react/package.json
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbarIconButton.ts
  packages/ketcher-standalone/package.json
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- fixed types
  packages/ketcher-polymer-editor-react/src/helpers/localStorage.ts
  packages/ketcher-polymer-editor-react/src/state/library/librarySlice.ts
  packages/ketcher-polymer-editor-react/src/state/rna-builder/rnaBuilderSlice.ts
Due: prettier --write

- added 9 tests; - added 9 test files; - added expected snapshots
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-After-importing-a-file-wit-d9dac-view-display-changes-made-during-modification-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-After-opening-a-file-in-ma-e221a-r-of-the-screen-and-no-need-scroll-to-find-it-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-import-of-file-with-100-monomers-and-save-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-import-of-file-with-50-monomers-saved-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-save-and-open-of-file-with-100-monomers-saved-in-KET-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-save-and-open-of-file-with-50-monomers-saved-in-KET-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Import-DNA-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Import-RNA-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Monomers-are-not-stacked--9c3bd-h-with-Ketcher-library-after-importing-a-file-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/fifty-monomers-expected.ket
  ketcher-autotests/tests/test-data/KET/fifty-monomers.ket
  ketcher-autotests/tests/test-data/KET/hundred-monomers-expected.ket
  ketcher-autotests/tests/test-data/KET/hundred-monomers.ket
  ketcher-autotests/tests/test-data/Molfiles-V3000/dna-mod-base-sugar-phosphate-example.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/dna.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/fifty-monomers-v3000-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/peptide-bzl.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/rna.mol
Due: prettier --write

- fixed null type
  packages/ketcher-polymer-editor-react/src/state/library/librarySlice.ts
  packages/ketcher-polymer-editor-react/src/state/rna-builder/rnaBuilderSlice.ts
Due: prettier --write

- fixed type
  packages/ketcher-polymer-editor-react/src/state/rna-builder/rnaBuilderSlice.ts
Due: prettier --write

adding tests to cover 3387, 3372, 3362 and 3340
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Save-File/save-file.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Save-File/save-file.spec.ts-snapshots/Open-Save-Paste-files-Save-ket-file-with-atom-list-and-atom-properties-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Dialog---Atom-type---List-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Dialog---Atom-type---Special-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-converting-bond-attributes-to-custom--291f1--Either-and-Type-Single-to-custom-query-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-converting-bond-attributes-to-custom--add85--Ring-and-Type-Double-to-custom-query-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-converting-bond-attributes-to-custom--e2561--Chain-and-Type-Triple-to-custom-query-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Visual-check/visual-check.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Visual-check/visual-check.spec.ts-snapshots/Checking-if-atoms-are-displayed-correctly-Atom-replaced-with-other-from-periodic-table-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/benzene-with-atom-list-and-all-atom-and-query-attributes-to-compare.ket
  ketcher-autotests/tests/test-data/KET/benzene-with-atom-list-and-all-atom-and-query-attributes.ket
Due: prettier --write

- fixed types
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/state/rna-builder/rnaBuilderSlice.ts
Due: prettier --write

- fixed store types
  packages/ketcher-polymer-editor-react/src/state/library/librarySlice.ts
Due: prettier --write

#3635 - Refactor calculation of pointOnBorder length
  packages/ketcher-core/src/domain/AttachmentPoint.ts
Due: prettier --write

edited tests, updated snapshots
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-After-opening-a-file-in-ma-e221a-r-of-the-screen-and-no-need-scroll-to-find-it-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-import-of-file-with-100-monomers-and-save-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-import-of-file-with-50-monomers-saved-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-save-and-open-of-file-with-100-monomers-saved-in-KET-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-save-and-open-of-file-with-50-monomers-saved-in-KET-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Import-DNA-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Import-RNA-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Monomers-are-not-stacked--9c3bd-h-with-Ketcher-library-after-importing-a-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Monomer-library-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Placing-betaAlanine-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Structure-displaying-in-library-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-add-molecule-in-favourites-1-chromium-linux.png
Due: prettier --write

edited tests
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts
Due: prettier --write

#3633 – eliminated cicrular dependency
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/modes/SnakeMode.ts
  packages/ketcher-core/src/application/editor/modes/internal.ts
  packages/ketcher-core/src/application/editor/operations/polymerBond/index.ts
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer.ts
Due: prettier --write

- change 'package.json'
  example/package.json
Due: prettier --write

#3635 - Improve monomer border point detection logic
  packages/ketcher-core/src/domain/AttachmentPoint.ts
  packages/ketcher-core/src/domain/helpers/attachmentPointCalculations.ts
Due: prettier --write

- added 3 tests; - added 1 test file; - added expected snapshots
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Open-file-from-mol-V3000-and-Delete-12ddR-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Open-file-from-mol-V3000-and-Delete-P-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Open-file-from-mol-V3000-and-Delete-baA-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-f-6fe0f-operties-and-query-properties-then-cut-paste-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-f-f0e62-perties-and-query-properties-then-copy-paste-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/monomers-connected-with-bonds.mol
Due: prettier --write

Macro: #3633 – undo/redo does not toggle snake mode (#3682)
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/snake-bond-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-f-6fe0f-operties-and-query-properties-then-cut-paste-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-f-f0e62-perties-and-query-properties-then-copy-paste-1-chromium-linux.png
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-core/src/application/editor/index.ts
  packages/ketcher-core/src/application/editor/modes/SnakeMode.ts
  packages/ketcher-core/src/application/editor/modes/index.ts
  packages/ketcher-core/src/application/editor/modes/internal.ts
  packages/ketcher-core/src/application/editor/operations/polymerBond/index.ts
  packages/ketcher-core/src/application/render/renderers/BaseRenderer.ts
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer.ts
  packages/ketcher-core/src/domain/helpers/attachmentPointCalculations.ts
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/menuItem/MenuItem.tsx
  packages/ketcher-polymer-editor-react/src/hooks/stateHooks.ts
  packages/ketcher-polymer-editor-react/src/state/common/editorSlice.ts
Due: prettier --write

- updated snapshots
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-After-importing-a-file-wit-d9dac-view-display-changes-made-during-modification-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Open-file-from-mol-V3000-and-Delete-12ddR-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Open-file-from-mol-V3000-and-Delete-P-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Open-file-from-mol-V3000-and-Delete-baA-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-f-6fe0f-operties-and-query-properties-then-cut-paste-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-f-f0e62-perties-and-query-properties-then-copy-paste-1-chromium-linux.png
Due: none

#3635 - updated screenshots
  ketcher-autotests/tests/Macromolecule-editor/Modal-window/modal-window.spec.ts-snapshots/Modal-window-Connect-button-is-active-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Modal-window/modal-window.spec.ts-snapshots/Modal-window-Connect-button-is-disabled-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptides-add-to-canvas.spec.ts-snapshots/Peptide-Add-monomer-preview-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/attachment-point-rotation.spec.ts-snapshots/Check-attachment-point-rotation-Move-monomer-b-29ea5--another-monomers-and-check-attachment-points-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/attachment-point-rotation.spec.ts-snapshots/Check-attachment-point-rotation-Move-monomer-b-c144d--another-monomers-and-check-attachment-points-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/attachment-point-rotation.spec.ts-snapshots/Check-attachment-point-rotation-Select-monomer-and-bonds-and-then-hover-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/attachment-point-rotation.spec.ts-snapshots/Check-attachment-point-rotation-Select-monomer-and-bonds-and-then-hover-monomer-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Polymer-Bond-Tool-Create-bond-between-two-chems-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-attachment-points-with-menu-buttons-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-attachment-points-with-menu-buttons-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-attachment-points-with-menu-buttons-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-attachment-points-with-mouse-wheel-and-CTRL-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-attachment-points-with-mouse-wheel-and-CTRL-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-attachment-points-with-mouse-wheel-and-CTRL-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-bond-with-menu-buttons-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-bond-with-menu-buttons-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-bond-with-menu-buttons-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-bond-with-mouse-wheel-and-CTRL-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-bond-with-mouse-wheel-and-CTRL-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-bond-with-mouse-wheel-and-CTRL-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Add-Base-and-Phosphate-Combination-to-Canvas-and-connect-with-bond-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Add-Sugar-Base-Phosphate-Combination-to-Canvas-and-connect-with-bond-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Add-Sugar-and-Base-Combination-to-Canvas-and-connect-with-bond-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Add-Sugar-and-Phosphate-Combination-to-Canvas-and-connect-with-bond-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Draw-Sugar-Base-Phosphate-and-try-to-attach-bond-to-occupied-attachment-point-1-chromium-linux.png
Due: none
