Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

- add tests; - add expected snapshots; - add test files
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-saving-a-structur-e5bd7-les-mode-and-opening-it-in-molecules-mode-KET-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-saving-a-structur-ef70c-de-and-opening-it-in-molecules-mode-MOL-V3000-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-copying-and--a3ffb-erties-preserves-the-properties-in-both-modes-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-copying-and--ec6b7-erties-preserves-the-properties-in-both-modes-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-the-transiti-88822-ode-does-not-alter-the-single-atom-properties-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-the-transiti-de0a7-ode-does-not-alter-the-single-atom-properties-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-undo-and-red-00306-es-in-both-molecules-and-macromolecules-modes-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-undo-and-red-1c024-es-in-both-molecules-and-macromolecules-modes-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-undo-and-red-57784-es-in-both-molecules-and-macromolecules-modes-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-undo-and-red-67b7a-es-in-both-molecules-and-macromolecules-modes-6-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-undo-and-red-d1ac4-es-in-both-molecules-and-macromolecules-modes-7-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-undo-and-red-dc6a6-es-in-both-molecules-and-macromolecules-modes-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-undo-and-red-e31a9-es-in-both-molecules-and-macromolecules-modes-5-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/single-atom-properties-saved-in-macro-expected.ket
  ketcher-autotests/tests/test-data/Molfiles-V3000/single-atom-properties-saved-in-macro-expected.mol
Due: prettier --write

Fix npm scripts to test:types using workspaces
  demo/package.json
  example-ssr/package.json
  ketcher-autotests/package.json
  package.json
Due: prettier --write

#5696-Adding Attachment point to microstructure already connected to monomer - causes problems
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AtomMenuItems.tsx
Due: prettier --write

- delete duplicated tests
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/KET-Files/ket-files-properties.spec.ts
Due: prettier --write

#6291 - Super G and Super T monomers do not load from a saved RXN V3000 file (#6292)
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-32fe3-Nucleotides-monomer-5hMedC-Hydroxymethyl-dC-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-330f7-eotides-monomer-AmMC6T-Amino-Modifier-C6-dT-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-402dd-mer-Super-T-5-hydroxybutynl-2’-deoxyuridine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-507a2-cleotides-monomer-2-damdA-2-6-Diaminopurine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-6c3db-ides-monomer-Super-G-8-aza-7-deazaguanosine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-3-Verify-search-with-a-single-symbol-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-7-Verify-se-63e8b-nomers-with-the-same-starting-symbol-Super-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-0f322-t-nucleotide-Super-G-8-aza-7-deazaguanosine-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-39833-t-nucleotide-Super-G-8-aza-7-deazaguanosine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-82bfe-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-a1f97-t-nucleotide-Super-G-8-aza-7-deazaguanosine-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-a32de-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-b7380-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-bab57-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-db45a-t-nucleotide-Super-G-8-aza-7-deazaguanosine-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-preview-tooltip-is-s-3b823-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-preview-tooltip-is-s-c486e-t-nucleotide-Super-G-8-aza-7-deazaguanosine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--022b2-rom-library-select-it-and-move-it-delete-it-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--061f6-rom-library-select-it-and-move-it-delete-it-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--88649-rom-library-select-it-and-move-it-delete-it-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--9585c-rom-library-select-it-and-move-it-delete-it-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--bfcda-rom-library-select-it-and-move-it-delete-it-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--e2caf-rom-library-select-it-and-move-it-delete-it-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Nucleotide-type-of-monomer-in-the-library-1-chromium-linux.png
  packages/ketcher-core/src/application/editor/data/monomers.ket
Due: prettier --write

#6291 - Super G and Super T monomers do not load from a saved RXN V3000 file (#6292)
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-32fe3-Nucleotides-monomer-5hMedC-Hydroxymethyl-dC-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-330f7-eotides-monomer-AmMC6T-Amino-Modifier-C6-dT-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-402dd-mer-Super-T-5-hydroxybutynl-2’-deoxyuridine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-507a2-cleotides-monomer-2-damdA-2-6-Diaminopurine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-6c3db-ides-monomer-Super-G-8-aza-7-deazaguanosine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-3-Verify-search-with-a-single-symbol-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-7-Verify-se-63e8b-nomers-with-the-same-starting-symbol-Super-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-0f322-t-nucleotide-Super-G-8-aza-7-deazaguanosine-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-39833-t-nucleotide-Super-G-8-aza-7-deazaguanosine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-82bfe-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-a1f97-t-nucleotide-Super-G-8-aza-7-deazaguanosine-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-a32de-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-b7380-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-bab57-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-db45a-t-nucleotide-Super-G-8-aza-7-deazaguanosine-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-preview-tooltip-is-s-3b823-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-preview-tooltip-is-s-c486e-t-nucleotide-Super-G-8-aza-7-deazaguanosine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--022b2-rom-library-select-it-and-move-it-delete-it-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--061f6-rom-library-select-it-and-move-it-delete-it-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--88649-rom-library-select-it-and-move-it-delete-it-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--9585c-rom-library-select-it-and-move-it-delete-it-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--bfcda-rom-library-select-it-and-move-it-delete-it-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--e2caf-rom-library-select-it-and-move-it-delete-it-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Nucleotide-type-of-monomer-in-the-library-1-chromium-linux.png
  packages/ketcher-core/src/application/editor/data/monomers.ket
Due: none

- fixed tests
  ketcher-autotests/constants/monomers.ts
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/utils/macromolecules/index.ts
  ketcher-autotests/tests/utils/macromolecules/polymerBond.ts
Due: prettier --write

Backmerge: #6291 - Super G and Super T monomers do not load from a saved RXN V3000 file (#6342)
  ketcher-autotests/constants/monomers.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-32fe3-Nucleotides-monomer-5hMedC-Hydroxymethyl-dC-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-330f7-eotides-monomer-AmMC6T-Amino-Modifier-C6-dT-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-402dd-mer-Super-T-5-hydroxybutynl-2’-deoxyuridine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-507a2-cleotides-monomer-2-damdA-2-6-Diaminopurine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-6c3db-ides-monomer-Super-G-8-aza-7-deazaguanosine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-3-Verify-search-with-a-single-symbol-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-7-Verify-se-63e8b-nomers-with-the-same-starting-symbol-Super-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-0f322-t-nucleotide-Super-G-8-aza-7-deazaguanosine-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-39833-t-nucleotide-Super-G-8-aza-7-deazaguanosine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-82bfe-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-a1f97-t-nucleotide-Super-G-8-aza-7-deazaguanosine-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-a32de-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-b7380-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-bab57-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-db45a-t-nucleotide-Super-G-8-aza-7-deazaguanosine-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-preview-tooltip-is-s-3b823-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-preview-tooltip-is-s-c486e-t-nucleotide-Super-G-8-aza-7-deazaguanosine-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--022b2-rom-library-select-it-and-move-it-delete-it-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--061f6-rom-library-select-it-and-move-it-delete-it-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--88649-rom-library-select-it-and-move-it-delete-it-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--9585c-rom-library-select-it-and-move-it-delete-it-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--bfcda-rom-library-select-it-and-move-it-delete-it-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--e2caf-rom-library-select-it-and-move-it-delete-it-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Nucleotide-type-of-monomer-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/utils/macromolecules/index.ts
  ketcher-autotests/tests/utils/macromolecules/polymerBond.ts
  packages/ketcher-core/src/application/editor/data/monomers.ket
Due: prettier --write

Fix RnaEditorExpanded adding keyDown handle for Escape, Enter. (#6343)
  demo/package.json
  example-ssr/package.json
  ketcher-autotests/package.json
  ketcher-autotests/tests/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Hotkeys-test-Verify-that-hotkey-Control-o-triggers-Open-1-chromium-linux.png
  package.json
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-core/src/application/editor/modes/BaseMode.ts
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/EditorEvents.tsx
  packages/ketcher-macromolecules/src/components/LeftMenuComponent/LeftMenuComponent.tsx
  packages/ketcher-macromolecules/src/components/TopMenuComponent/TopMenuComponent.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/RNAContextMenu.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/SequenceItemContextMenu/SequenceItemContextMenu.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditor.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.test.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/helpers/resetRnaBuilder.ts
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/FileDrop.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/OpenOptions.module.less
  packages/ketcher-react/src/style/variables.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- add tests; - add expected snapshots;
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-flex-mode-is-17135-rst-time-and-there-is-a-drawing-on-the-canvas-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-flex-mode-is-948f6-for-the-first-time-Sequence-mode-by-default-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-flex-mode-is-a16cc--Sequence-and-re-entering-it-from-Micro-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-flex-mode-is-c9482--Sequence-and-re-entering-it-from-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-the-behavior-when-7613d-back-to-macro-Sequence-should-be-by-default-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-undo-redo-functio-7a5fa-lex-mode-undo-redo-not-changes-layout-modes-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-undo-redo-functio-fc366-lex-mode-undo-redo-not-changes-layout-modes-2-chromium-linux.png
  ketcher-autotests/tests/utils/macromolecules/index.ts
Due: prettier --write

First draft
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-are-displayed-correctly-in-macromolecules-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-are-saved-loaded-correctly-in-macromolecules-mode-in-KET-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-are-saved-loaded-correctly-in-macromolecules-mode-in-KET-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-small-molecules-with-any-bond-type-59e34-ng-from-molecules-mode-to-macromolecules-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-small-molecules-with-any-bond-type-d9763-ng-from-molecules-mode-to-macromolecules-mode-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/All 16 types of bonds-expected.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/All 16 types of bonds.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Deleting a bonds in macromolecules mode test.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Switching between different visualization modes.ket
  ketcher-autotests/tests/utils/macromolecules/polymerBond.ts
  packages/ketcher-core/src/application/render/renderers/BondRenderer.ts
Due: prettier --write

Verify that all 16 bond types are saved/loaded correctly in macromolecules mode in MOL v3000
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-are-saved-loaded-correctly-in-macromolecules-mode-in-MOL-v3000-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-are-saved-loaded-correctly-in-macromolecules-mode-in-MOL-v3000-2-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/All 16 types of bonds-expected.mol
  ketcher-autotests/tests/utils/files/receiveFileComparisonData.ts
Due: prettier --write

Verify that all 16 bond types can't be saved correctly in macromolecules mode into IDT
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-can-t-be-saved-correctly-in-macromolecules-mode-into-IDT-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-can-t-be-saved-correctly-in-macromolecules-mode-into-IDT-2-chromium-linux.png
  tests/test-data/KET/Micro-Macro-Switcher/All 16 types of bonds.ket
Due: prettier --write

Verify that all 16 bond types can't be saved correctly in macromolecules mode into Sequence (3-letter code)
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-can-t-be-saved-c-903aa-omolecules-mode-into-Sequence-1-letter-code-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-can-t-be-saved-c-e32e2-omolecules-mode-into-Sequence-1-letter-code-2-chromium-linux.png
Due: none

Verify that switching back from macromolecules mode to molecules mode does not corrupt or change bond types
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-switching-back-from-macromolecules-344e7-es-mode-does-not-corrupt-or-change-bond-types-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-switching-back-from-macromolecules-7176d-es-mode-does-not-corrupt-or-change-bond-types-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-switching-back-from-macromolecules-a35f8-es-mode-does-not-corrupt-or-change-bond-types-3-chromium-linux.png
Due: prettier --write

Verify that selecting a bond highlights it properly, even in complex structures
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-10-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-11-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-12-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-13-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-14-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-5-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-6-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-7-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-8-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-selecting-a-bond-highlights-it-properly-even-in-complex-structures-9-chromium-linux.png
  ketcher-autotests/tests/utils/macromolecules/polymerBond.ts
  packages/ketcher-core/src/application/editor/EditorHistory.ts
  packages/ketcher-core/src/application/render/renderers/BondRenderer.ts
Due: prettier --write

Very last fix
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-72c6d-es-mode-e-g-ensuring-they-stay-connected-10-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-7f24e-les-mode-e-g-ensuring-they-stay-connected-8-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-93f82-es-mode-e-g-ensuring-they-stay-connected-11-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-a2473-es-mode-e-g-ensuring-they-stay-connected-14-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-a7201-les-mode-e-g-ensuring-they-stay-connected-9-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-b1328-les-mode-e-g-ensuring-they-stay-connected-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-bd88b-les-mode-e-g-ensuring-they-stay-connected-7-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-d51b2-les-mode-e-g-ensuring-they-stay-connected-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-db966-es-mode-e-g-ensuring-they-stay-connected-13-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-e0bc0-es-mode-e-g-ensuring-they-stay-connected-12-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-eae46-les-mode-e-g-ensuring-they-stay-connected-5-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-f12e1-les-mode-e-g-ensuring-they-stay-connected-2-chromium-linux.png
Due: prettier --write

Verify that all 16 bond types are saved/loaded correctly in macromolecules mode in MOL v3000
  ketcher-autotests/tests/utils/files/receiveFileComparisonData.ts
  tests/test-data/KET/Micro-Macro-Switcher/Deleting a bonds in macromolecules mode test.ket
Due: prettier --write

Verify that copying and pasting structures with all bond types in macromolecules mode retains the bond representations
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-copying-and-pasting-structures-wit-39996-lecules-mode-retains-the-bond-representations-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-copying-and-pasting-structures-wit-a4c58-lecules-mode-retains-the-bond-representations-1-chromium-linux.png
Due: none

Verify that all 16 types of bonds saved in macro mode can be opened in micro mode in MOL v3000
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-types-of-bonds-saved-in-macro-mode-can-be-opened-in-micro-mode-in-MOL-v3000-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-types-of-bonds-saved-in-macro-mode-can-be-opened-in-micro-mode-in-MOL-v3000-2-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/All 16 types of bonds-expected.mol
Due: none

Final fix
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-can-t-be-saved-c-52b54-omolecules-mode-into-Sequence-3-letter-code-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-all-16-bond-types-can-t-be-saved-c-cf3bc-omolecules-mode-into-Sequence-3-letter-code-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--10da4-ed-bond-without-affecting-adjacent-structures-6-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--85b01-ed-bond-without-affecting-adjacent-structures-4-chromium-linux.png
Due: prettier --write

Verify that switching between different visualization modes (e.g., flex, snake) retains bond types and structure integrity
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-switching-between-different-visual-e344f-e-retains-bond-types-and-structure-integrity-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-switching-between-different-visual-ef291-e-retains-bond-types-and-structure-integrity-1-chromium-linux.png
Due: none

Verify that undo/redo functionality restores deleted bonds correctly in macromolecules mode
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-10-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-11-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-12-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-13-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-14-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-15-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-16-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-17-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-18-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-19-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-20-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-21-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-22-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-23-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-24-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-25-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-26-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-27-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-28-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-5-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-6-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-7-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-8-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-undo-redo-functionality-restores-deleted-bonds-correctly-in-macromolecules-mode-9-chromium-linux.png
  packages/ketcher-core/src/application/editor/EditorHistory.ts
Due: prettier --write

Verify that deleting a bond in macromolecules mode removes only the selected bond without affecting adjacent structures
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--10da4-ed-bond-without-affecting-adjacent-structures-6-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--1a8a5-d-bond-without-affecting-adjacent-structures-12-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--23f89-d-bond-without-affecting-adjacent-structures-13-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--331f9-ed-bond-without-affecting-adjacent-structures-5-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--46bc2-d-bond-without-affecting-adjacent-structures-14-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--52d23-ed-bond-without-affecting-adjacent-structures-9-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--573ac-ed-bond-without-affecting-adjacent-structures-7-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--775a5-ed-bond-without-affecting-adjacent-structures-8-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--85b01-ed-bond-without-affecting-adjacent-structures-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--b928d-d-bond-without-affecting-adjacent-structures-11-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--c7957-ed-bond-without-affecting-adjacent-structures-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--def00-ed-bond-without-affecting-adjacent-structures-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--e6b3b-ed-bond-without-affecting-adjacent-structures-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-deleting-a-bond-in-macromolecules--ecaa3-d-bond-without-affecting-adjacent-structures-10-chromium-linux.png
  ketcher-autotests/tests/utils/macromolecules/polymerBond.ts
  tests/test-data/KET/Micro-Macro-Switcher/All 16 types of bonds.ket
  tests/test-data/KET/Micro-Macro-Switcher/Deleting a bonds in macromolecules mode test.ket
Due: prettier --write

Autotests: #6241 - autotests tests for hash spacing setting for acs style (#6339)
  ketcher-autotests/tests/utils/files/receiveFileComparisonData.ts
Due: prettier --write

Verify the behavior when bonds are dragged and moved in macromolecules mode (e.g., ensuring they stay connected)
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-1be9a-les-mode-e-g-ensuring-they-stay-connected-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-72c6d-es-mode-e-g-ensuring-they-stay-connected-10-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-7f24e-les-mode-e-g-ensuring-they-stay-connected-8-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-93f82-es-mode-e-g-ensuring-they-stay-connected-11-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-953f9-les-mode-e-g-ensuring-they-stay-connected-6-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-a2473-es-mode-e-g-ensuring-they-stay-connected-14-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-a7201-les-mode-e-g-ensuring-they-stay-connected-9-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-b1328-les-mode-e-g-ensuring-they-stay-connected-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-bd88b-les-mode-e-g-ensuring-they-stay-connected-7-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-d51b2-les-mode-e-g-ensuring-they-stay-connected-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-db966-es-mode-e-g-ensuring-they-stay-connected-13-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-e0bc0-es-mode-e-g-ensuring-they-stay-connected-12-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-eae46-les-mode-e-g-ensuring-they-stay-connected-5-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-the-behavior-when-bonds-are-dragged-and-f12e1-les-mode-e-g-ensuring-they-stay-connected-2-chromium-linux.png
Due: prettier --write

Verify that all 16 bond types are saved/loaded correctly in macromolecules mode in MOL v3000
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/All 16 types of bonds-expected.mol
Due: none

one more try
  ketcher-autotests/tests/utils/files/receiveFileComparisonData.ts
Due: prettier --write

Verify that all 16 bond types are saved/loaded correctly in macromolecules mode in MOL v3000
  ketcher-autotests/tests/utils/files/receiveFileComparisonData.ts
Due: prettier --write

final fix
  ketcher-autotests/tests/utils/files/receiveFileComparisonData.ts
Due: prettier --write

Autotests: #6326 - autotests tests for support for single atom properties in macromolecules mode (#6348)
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-saving-a-structur-e5bd7-les-mode-and-opening-it-in-molecules-mode-KET-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-saving-a-structur-ef70c-de-and-opening-it-in-molecules-mode-MOL-V3000-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-copying-and--a3ffb-erties-preserves-the-properties-in-both-modes-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-copying-and--ec6b7-erties-preserves-the-properties-in-both-modes-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-single-atom--1fd6e--different-zoom-levels-in-macromolecules-mode-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-single-atom--25d58--different-zoom-levels-in-macromolecules-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-single-atom--3a785-ng-from-molecules-mode-to-macromolecules-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-single-atom--4d735-ng-from-molecules-mode-to-macromolecules-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-single-atom--e1fb1--different-zoom-levels-in-macromolecules-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-structures-w-3006c-can-be-saved-load-in-macro-mode-in-KET-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-structures-w-ba088--saved-load-in-macro-mode-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-structures-w-f0b52-can-be-saved-load-in-macro-mode-in-SVG-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-the-property-of-an-atom-is-non-editable-in-macromolecules-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-the-transiti-88822-ode-does-not-alter-the-single-atom-properties-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-the-transiti-de0a7-ode-does-not-alter-the-single-atom-properties-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-undo-and-red-00306-es-in-both-molecules-and-macromolecules-modes-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-undo-and-red-1c024-es-in-both-molecules-and-macromolecules-modes-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-undo-and-red-57784-es-in-both-molecules-and-macromolecules-modes-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-undo-and-red-67b7a-es-in-both-molecules-and-macromolecules-modes-6-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-undo-and-red-d1ac4-es-in-both-molecules-and-macromolecules-modes-7-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-undo-and-red-dc6a6-es-in-both-molecules-and-macromolecules-modes-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-undo-and-red-e31a9-es-in-both-molecules-and-macromolecules-modes-5-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/single-atom-properties-expected.ket
  ketcher-autotests/tests/test-data/KET/single-atom-properties-saved-in-macro-expected.ket
  ketcher-autotests/tests/test-data/KET/single-atom-properties.ket
  ketcher-autotests/tests/test-data/Molfiles-V3000/single-atom-properties-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/single-atom-properties-saved-in-macro-expected.mol
Due: prettier --write

#6344 - Excessive scroll appears in macromolecules mode in canvas if Ketcher is inside dialog window - fixed styles
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/components/Layout/Layout.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/MonomerLibraryToggle.tsx
Due: prettier --write

#6351 - Update indigo to 1.28.0-rc.3 in browser module
  example/public/iframe.html
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

- fixed layout for right column
  packages/ketcher-macromolecules/src/components/Layout/Layout.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/MonomerLibraryToggle.tsx
Due: prettier --write
