Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1827 - remove comment
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#1827 currently selected tool with mouse cursor (#1883)
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/atom.ts
Due: prettier --write

1864 Refactor Scale methods names
  packages/ketcher-core/docs/README.md
  packages/ketcher-core/src/application/editor/operations/LoopMove.ts
  packages/ketcher-core/src/application/editor/operations/Text/TextMove.ts
  packages/ketcher-core/src/application/editor/operations/atom/AtomMove.ts
  packages/ketcher-core/src/application/editor/operations/bond/BondMove.ts
  packages/ketcher-core/src/application/editor/operations/rxn/RxnArrowMove.ts
  packages/ketcher-core/src/application/editor/operations/rxn/RxnArrowResize.ts
  packages/ketcher-core/src/application/editor/operations/rxn/plus/RxnPlusMove.ts
  packages/ketcher-core/src/application/editor/operations/simpleObject.ts
  packages/ketcher-core/src/application/operations/atom.ts
  packages/ketcher-core/src/application/operations/bond.ts
  packages/ketcher-core/src/application/operations/loop.ts
  packages/ketcher-core/src/application/operations/rxnArrow.ts
  packages/ketcher-core/src/application/operations/rxnPlus.ts
  packages/ketcher-core/src/application/operations/simpleObject.ts
  packages/ketcher-core/src/application/operations/text.ts
  packages/ketcher-core/src/application/render/raphaelRender.js
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-core/src/application/render/restruct/rebond.ts
  packages/ketcher-core/src/application/render/restruct/redatasgroupdata.js
  packages/ketcher-core/src/application/render/restruct/reenhancedFlag.ts
  packages/ketcher-core/src/application/render/restruct/refrag.js
  packages/ketcher-core/src/application/render/restruct/reloop.js
  packages/ketcher-core/src/application/render/restruct/reobject.ts
  packages/ketcher-core/src/application/render/restruct/rergroup.js
  packages/ketcher-core/src/application/render/restruct/rerxnarrow.ts
  packages/ketcher-core/src/application/render/restruct/rerxnplus.js
  packages/ketcher-core/src/application/render/restruct/resgroup.js
  packages/ketcher-core/src/application/render/restruct/resimpleObject.ts
  packages/ketcher-core/src/application/render/restruct/retext.ts
  packages/ketcher-core/src/domain/helpers/scale.ts
  packages/ketcher-react/src/script/editor/tool/helper/lasso.ts
  packages/ketcher-react/src/script/editor/tool/reactionmap.ts
Due: prettier --write

Divide context menu items into two components
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/contextMenu.types.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/items/BondBatchOperations.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/items/BondSingleOperations.tsx
Due: prettier --write

#1864 refactor Render class
  packages/ketcher-core/src/application/editor/operations/CanvasLoad.ts
  packages/ketcher-core/src/application/render/raphaelRender.js
  packages/ketcher-core/src/application/render/raphaelRender.ts
  packages/ketcher-core/src/application/render/restruct/restruct.ts
  packages/ketcher-react/src/script/editor/tool/paste.ts
Due: prettier --write

Change error handler to do nothing
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/items/BondBatchOperations.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/items/BondSingleOperations.tsx
Due: prettier --write

Remove the word `bond` out of context submenu item
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/items/BondBatchOperations.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/items/BondSingleOperations.tsx
Due: prettier --write

#1864 Update setScrollOffset method
  packages/ketcher-core/src/application/render/raphaelRender.ts
  packages/ketcher-core/src/application/render/restruct/restruct.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#1864 Small fixes on comments
  packages/ketcher-core/src/application/render/raphaelRender.ts
  packages/ketcher-core/src/application/render/restruct/restruct.ts
Due: prettier --write

#1824: expand function groups on hover
  packages/ketcher-core/src/application/render/raphaelRender.js
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/select.ts
  packages/ketcher-react/src/script/editor/tool/template.ts
  packages/ketcher-react/src/script/ui/component/ContextMenu/ContextMenu.tsx
  packages/ketcher-react/src/script/ui/component/structrender.tsx
  packages/ketcher-react/src/script/ui/state/editor/index.js
  packages/ketcher-react/src/script/ui/state/functionalGroups/index.ts
  packages/ketcher-react/src/script/ui/state/functionalGroups/selectors/index.ts
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.module.less
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.tsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1822: fix hover icon
  packages/ketcher-react/src/script/editor/tool/atom.ts
Due: prettier --write

#1894 – added support for extra spaces and alias in mol v2000 files
  packages/ketcher-core/src/domain/entities/atom.ts
  packages/ketcher-core/src/domain/serializers/mol/common.js
  packages/ketcher-core/src/domain/serializers/mol/v2000.js
Due: prettier --write

Extract common util functions to `utils.ts`
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/items/BondBatchOperations.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/items/BondSingleOperations.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/items/utils.ts
Due: prettier --write

#1894 – added support for extra spaces and alias in mol v2000 files (#1904)
  packages/ketcher-core/src/domain/entities/atom.ts
  packages/ketcher-core/src/domain/serializers/mol/common.js
  packages/ketcher-core/src/domain/serializers/mol/v2000.js
Due: prettier --write

#1827-fixes-hover-icon
  packages/ketcher-react/src/script/editor/tool/atom.ts
Due: prettier --write

#1827-fixes-hover-icon (#1909)
  packages/ketcher-react/src/script/editor/tool/atom.ts
Due: prettier --write

#1824: temporary fixes for sgroup hover
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.jsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.tsx
Due: prettier --write

#1824: temporary fixes for sgroup hover
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.jsx
Due: prettier --write

#1824: fix double dependency
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#1824: remove comments
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.jsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
Due: prettier --write

#1824: expand function groups on hover (#1907)
  packages/ketcher-core/src/application/render/raphaelRender.js
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/select.ts
  packages/ketcher-react/src/script/editor/tool/template.ts
  packages/ketcher-react/src/script/ui/component/ContextMenu/ContextMenu.tsx
  packages/ketcher-react/src/script/ui/component/structrender.tsx
  packages/ketcher-react/src/script/ui/state/editor/index.js
  packages/ketcher-react/src/script/ui/state/functionalGroups/index.ts
  packages/ketcher-react/src/script/ui/state/functionalGroups/selectors/index.ts
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.jsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.module.less
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1915 – improved search performance in template dialog
  packages/ketcher-react/src/script/ui/component/structrender.tsx
  packages/ketcher-react/src/script/ui/state/templates/index.js
  packages/ketcher-react/src/script/ui/utils/index.ts
Due: prettier --write

#1915 – improved search performance in template dialog (#1917)
  packages/ketcher-react/src/script/ui/component/structrender.tsx
  packages/ketcher-react/src/script/ui/state/templates/index.js
  packages/ketcher-react/src/script/ui/utils/index.ts
Due: prettier --write

#1921: refactor info panel and fix bug with cropped expanded molecules
  packages/ketcher-core/src/application/render/raphaelRender.js
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
  packages/ketcher-core/src/domain/entities/sgroup.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/component/structrender.tsx
  packages/ketcher-react/src/script/ui/state/editor/index.js
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.jsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.module.less
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.tsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1921: small tweak
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.tsx
Due: prettier --write

#1921: add more tools
  packages/ketcher-react/src/script/editor/tool/atom.ts
  packages/ketcher-react/src/script/editor/tool/bond.ts
  packages/ketcher-react/src/script/editor/tool/chain.ts
  packages/ketcher-react/src/script/editor/tool/charge.ts
  packages/ketcher-react/src/script/editor/tool/reactionarrow.ts
  packages/ketcher-react/src/script/editor/tool/text.ts
Due: prettier --write

#1921: fix zoom
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.tsx
Due: prettier --write

#1921: review comments
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/state/editor/index.js
Due: prettier --write

#1912: update help.md with updated list of keyboard shortcuts
  documentation/help.md
Due: none

#1912: update description of shortcuts
  documentation/help.md
Due: none

#1864 If the coordinates have a centroid that is far from zero, the molecule placed far offscreen (#1901)
  packages/ketcher-core/src/application/editor/operations/CanvasLoad.ts
  packages/ketcher-core/src/application/render/raphaelRender.js
  packages/ketcher-core/src/application/render/raphaelRender.ts
  packages/ketcher-core/src/application/render/restruct/restruct.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/paste.ts
Due: prettier --write

#1920 – added abbreviation to Struct, fixed isSaltOrSolvent check
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
  packages/ketcher-core/src/domain/entities/sgroup.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-react/src/script/editor/tool/bond.ts
  packages/ketcher-react/src/script/ui/state/saltsAndSolvents/index.ts
Due: prettier --write

#1912: fix formating / key code
  documentation/help.md
Due: none

rename rename rnd to render
  packages/ketcher-react/src/script/editor/tool/select.ts
Due: prettier --write

add startChoosing()
  packages/ketcher-react/src/script/editor/tool/sgroup.ts
  packages/ketcher-react/src/script/editor/utils/choose/chooseUtils/chooseItems.ts
  packages/ketcher-react/src/script/editor/utils/choose/chooseUtils/closestToSel.js
  packages/ketcher-react/src/script/editor/utils/choose/startChoosing.ts
Due: prettier --write

rename ci to closestItem
  packages/ketcher-react/src/script/editor/tool/sgroup.ts
Due: prettier --write

#1888 - remove dropdowns & add custom name & values
  packages/ketcher-react/src/script/ui/data/schema/sdata-schema.js
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/state/modal/form.js
  packages/ketcher-react/src/script/ui/state/modal/sdata.js
Due: prettier --write

#1912: fix formating / key code / md fixes
  documentation/help.md
Due: none

#1912: fix formating / key code / md fixes / fix
  documentation/help.md
Due: none

#1912: fix missing first atom in sGroup
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
