Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

#1663 The Periodic table opens when user double-click an element from the Extended table (#1664)
  packages/ketcher-react/src/script/ui/state/editor/index.js
  packages/ketcher-react/src/script/ui/views/modal/components/ExtendedTable/ExtendedTable.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/ExtendedTable/components/GenericGroups/GenGroup.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/ExtendedTable/components/GenericGroups/GenSet.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/ExtendedTable/components/GenericGroups/GenericGroups.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
Due: prettier --write

fix jsdoc2md config and script
  documentation/api.md
  jsdoc2md.json
  package.json
Due: prettier --write

fix width of select component
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

atom tool throws error if a bond is selected
  packages/ketcher-react/src/script/editor/tool/atom.ts
Due: prettier --write

add classes description (draft)
  documentation/api.md
  package.json
  packages/ketcher-core/src/application/editor/editor.types.ts
  packages/ketcher-core/src/application/indigo.ts
  packages/ketcher-core/src/application/ketcherBuilder.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

add ketcher docs (draft)
  documentation/api.md
  package.json
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

update indigo version to 1.7.2
  packages/ketcher-standalone/package.json
  yarn.lock
Due: prettier --write

fix radio on enhanced stereo window
  packages/ketcher-react/src/script/ui/component/form/form/form.jsx
Due: prettier --write

fix area to show top scroll arrow
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
Due: prettier --write

fix unnecesseary nesting of blocks
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/AtomsList/AtomsList.tsx
Due: prettier --write

#1667 can't scroll-up right toolbar in browser zoom (#1669)
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/AtomsList/AtomsList.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
Due: prettier --write

update packages versions
  packages/ketcher-core/package.json
  packages/ketcher-react/package.json
Due: prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

update indigo to 1.7.3
  packages/ketcher-standalone/package.json
  yarn.lock
Due: prettier --write

fix format check
  packages/ketcher-core/src/application/formatters/identifyStructFormat.ts
Due: prettier --write

clear string from unnecessary info
  packages/ketcher-react/src/script/ui/utils/fileOpener.js
Due: prettier --write

clear string from \n symbols from clipboard
  packages/ketcher-react/src/script/ui/state/shared.js
Due: prettier --write

update indigo version
  packages/ketcher-standalone/package.json
  yarn.lock
Due: prettier --write

fix margins of s-groups
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix input length in r-group conditions
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/RgroupLogic/RgroupLogic.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

add divider between select menu items
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1629 add cancellation to promises
  packages/ketcher-core/src/application/formatters/serverFormatter.ts
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-core/src/infrastructure/services/struct/remoteStructService.ts
  packages/ketcher-react/src/script/ui/state/index.js
  packages/ketcher-react/src/script/ui/state/server/index.js
  packages/ketcher-react/src/script/ui/state/shared.js
  packages/ketcher-react/src/script/ui/views/components/Spinner/LoadingCircles.tsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/AnalyzingFile.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/ViewSwitcher.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/Analyse.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Recognize/Recognize.jsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.container.ts
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

change loading waitin time
  packages/ketcher-react/src/script/ui/views/components/Spinner/LoadingCircles.tsx
Due: prettier --write

#1679 remove autofocus on click
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.jsx
Due: prettier --write

prettier fix
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.jsx
Due: prettier --write

add parentheses
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.jsx
Due: prettier --write

Add files via upload
  documentation/wiki/line form.png
  documentation/wiki/miltibar snake.png
  documentation/wiki/single bar snake.png
Due: none

Update issue templates - assignee updated
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Added a story for displaying of long polymers
  documentation/wiki/pages/long polymer chains.md
Due: none

custom-build
  packages/ketcher-react/src/script/ui/action/tools.js
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write

show correct bond on merge
  packages/ketcher-core/src/application/editor/actions/template.ts
  packages/ketcher-core/src/application/render/restruct/restruct.ts
  packages/ketcher-core/src/domain/entities/struct.ts
Due: prettier --write

prettier fix
  packages/ketcher-core/src/application/editor/actions/template.ts
  packages/ketcher-core/src/domain/entities/struct.ts
Due: prettier --write

added storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  stories/Button.jsx
  stories/Button.stories.jsx
  stories/Header.jsx
  stories/Header.stories.jsx
  stories/Introduction.stories.mdx
  stories/Page.jsx
  stories/Page.stories.jsx
  stories/assets/code-brackets.svg
  stories/assets/colors.svg
  stories/assets/comments.svg
  stories/assets/direction.svg
  stories/assets/flow.svg
  stories/assets/plugin.svg
  stories/assets/repo.svg
  stories/assets/stackalt.svg
  stories/button.css
  stories/header.css
  stories/page.css
  yarn.lock
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

1679 remove autofocus on click
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.jsx
Due: prettier --write
