Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

#6738 – Actually adjusting the line height on canvas
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceViewModel/SequenceViewModel.ts
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerInput.tsx
Due: prettier --write

#6738 – Render ruler scale
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.module.less
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerScale.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#6738 – Ruler handler
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.module.less
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerHandle.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#6738 – Add test ids, sync input value on handle change
  packages/ketcher-core/src/utilities/SettingsManager.ts
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerHandle.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerInput.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerScale.tsx
Due: prettier --write

#6738 – Adjust ruler rendering for snake mode
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerInput.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerScale.tsx
Due: prettier --write

#6738 – Apply snake line length change for snake layout and show highlighting
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-core/src/application/editor/modes/FlexMode.ts
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/editor/modes/SnakeMode.ts
  packages/ketcher-core/src/application/render/renderers/TransientView/LineLengthHighlightView.ts
  packages/ketcher-core/src/application/render/renderers/TransientView/TransientDrawingView.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerHandle.tsx
Due: prettier --write

#6738 – Apply different appearance for snake ruler on zoom < 50%, clean some code
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.constants.ts
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerScale.tsx
Due: prettier --write

#6738 – Build fix
  packages/ketcher-macromolecules/src/components/modal/Open/Open.tsx
  packages/ketcher-macromolecules/src/state/common/editorSlice.ts
Due: prettier --write

#6738 – Fix on float comparison
  packages/ketcher-macromolecules/src/components/Ruler/RulerScale.tsx
Due: prettier --write

#6738 – Calculate initial snake layout line length based on canvas width, add history support
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/operations/editor/LineLengthChangeOperation.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-core/src/utilities/SettingsManager.ts
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerHandle.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerInput.tsx
  packages/ketcher-macromolecules/src/components/Ruler/useTranslateAlongXAxis.ts
  packages/ketcher-macromolecules/src/state/common/editorSlice.ts
Due: prettier --write

#6738 – Inject css modules into macromolecules package automatically
  demo/src/App.tsx
  example-ssr/src/app/editor.tsx
  example-ssr/src/app/page.tsx
  example/src/App.tsx
  example/src/PopupApp.tsx
  packages/ketcher-macromolecules/package.json
  packages/ketcher-macromolecules/rollup.config.js
  packages/ketcher-react/rollup.config.js
Due: prettier --write

#6738 – Adjust z-indices, add preview value on dragging
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.module.less
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerInput.tsx
  packages/ketcher-macromolecules/src/components/menu/styles.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/styles.ts
  packages/ketcher-macromolecules/src/theme.less
  packages/ketcher-macromolecules/src/theming/defaultTheme/defaultTheme.ts
  packages/ketcher-macromolecules/src/theming/defaultTheme/theme.types.ts
  packages/ketcher-macromolecules/src/typings.d.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#6738 – Fix styles extracting for ketcher-macromolecules and importing in example app
  demo/src/App.tsx
  example-ssr/src/app/editor.tsx
  example-ssr/src/app/page.tsx
  example/src/App.tsx
  example/src/PopupApp.tsx
  packages/ketcher-macromolecules/package.json
  packages/ketcher-macromolecules/rollup.config.js
  packages/ketcher-react/rollup.config.js
Due: prettier --write

#6738 – Update Jest snapshot
  packages/ketcher-macromolecules/src/components/menu/__snapshots__/Menu.test.tsx.snap
Due: none

#6738 – Put input box on the edge of visible area if line length is outside of it
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.module.less
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerInput.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#6738 – Add missing test ids, conditional chaining fix for editor
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerInput.tsx
  packages/ketcher-macromolecules/src/components/menu/subMenu/SubMenu.tsx
Due: prettier --write

#6738 – Change positioning of ruler area to avoid losing space
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#6738 – Fix incorrect input position on initial load, adjust show scale on hover behaviour
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.module.less
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#6738 – Remove TODO comments
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/tools/RnaPreset.ts
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer/SnakeModePolymerBondRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceViewModel/SequenceViewModel.ts
  packages/ketcher-core/src/domain/constants/index.ts
  packages/ketcher-core/src/domain/constants/layout.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-core/src/domain/entities/Nucleoside.ts
  packages/ketcher-core/src/domain/entities/Nucleotide.ts
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.constants.ts
Due: prettier --write

- disabled rules for tests
  ketcher-autotests/tests/pages/common/CommonTopRightToolbar.ts
Due: prettier --write

- disabled rules for tests
  ketcher-autotests/tests/pages/common/CommonTopRightToolbar.ts
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
Due: prettier --write

#7124 Fix: Templates Library - Template attachment. Isolate Template Editor ketcher instance
  packages/ketcher-core/src/application/utils.ts
  packages/ketcher-react/src/script/ui/dialog/template/template-attach.jsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
Due: prettier --write

#6852 - Improve the hydrophobicity graph in the "Calculate Properties" window (#7171)
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-13-Verify-tha-7b6bf-displayed-as-a-number-with-two-decimal-places-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-14-Check-that-1e43d-propriate-number-next-to-the-natural-analogue-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-15-Check-that-346f7-he-selection-the-appropriate-card-grayed-out-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-3-Verify-afte-c8194-selection-to-Indigo-and-the-selection-remain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-35-Verify-cor-db112-mplex-polymers-with-connected-small-molecules-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-36-Verify-iso-7db39-ms-at-occupied-attachment-points-are-ignored-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-4-Check-if-on-28c9c-ened-Ketcher-send-the-whole-canvas-to-Indigo-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-42-Verify-cor-5f2d3-hobicity-calculation-for-a-peptides-sequence-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-6-Check-that--6171c-e-Select-monomer-chain-or-part-of-a-chain-1-chromium-linux.png
  packages/ketcher-macromolecules/src/components/macromoleculeProperties/MacromoleculePropertiesWindow.tsx
Due: prettier --write

- added relative links to test
  documentation/help.md
Due: none

- added relative links
  documentation/help.md
Due: none

fix: fix orphanPhosphate method
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

- updated screenshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Chem-monomers/chem-add-to-canvas.spec.ts-snapshots/Actions-with-CHEM-Check-that-APs-are-not-redrawn-incorrectly-after-opening-the-modal-window-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-bonds-establishment-for-unresolved-IDT-monomers-in-snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-modal-window-f-013e9-shing-bonds-with-unresolved-monomers-Peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-modal-window-f-34cb6-blishing-bonds-with-unresolved-monomers-CHEM-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Modal-window/modal-window.spec.ts-snapshots/Modal-window-Connect-button-is-active-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Modal-window/modal-window.spec.ts-snapshots/Modal-window-Connect-button-is-disabled-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-common.spec.ts-snapshots/Common-connection-rules-Check-that-select-attachment-point-window-works-correct-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Edit-long-bonds-connections-by-Edit-attachment-point-menu-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-Select-Edit-Connection-Points-dialogu-042a5-uous-monomers-8-Ambiguous-Phosphate-Weighted-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-Select-Edit-Connection-Points-dialogu-6e40b-guous-monomers-12-Ambiguous-Peptide-Weighted-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-Select-Edit-Connection-Points-dialogu-d5e98-mbiguous-monomers-4-Ambiguous-Sugar-Weighted-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-Select-Edit-Connection-Points-dialogues-for-ambiguous-monomers-1-Ambiguous-CHEM-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-Select-Edit-Connection-Points-dialogues-for-ambiguous-monomers-11-Ambiguous-Peptide-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-Select-Edit-Connection-Points-dialogues-for-ambiguous-monomers-2-Ambiguous-CHEM-Weighted-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-Select-Edit-Connection-Points-dialogues-for-ambiguous-monomers-3-Ambiguous-Sugar-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-Select-Edit-Connection-Points-dialogues-for-ambiguous-monomers-5-Ambiguous-Base-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-Select-Edit-Connection-Points-dialogues-for-ambiguous-monomers-6-Ambiguous-Base-Weighted-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-Select-Edit-Connection-Points-dialogues-for-ambiguous-monomers-7-Ambiguous-Phosphate-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-clicking-Cancel-in-the-dialog-results-in-no-change-to-the-bond-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-clicking-Reconnect-with-differen-2d772--previous-bond-and-establishment-of-a-new-one-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-clicking-on-the-Edit-Connection-Points-option-opens-the-dialog-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-closing-the-dialog-without-clickin-ce0b4-l-does-not-save-any-changes-click-on-cross-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-if-there-are-no-available-white--67cdd--monomers-the-Reconnect-button-is-disabled-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-the-user-can-interact-with-teal-and-white-attachment-points-in-the-dialog-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-the-user-can-interact-with-teal-and-white-attachment-points-in-the-dialog-2-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/five-peptides-connected-by-r2-r1-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/two-peptides-connected-expected.mol
Due: none

#7094 - Update the help document (3.4.) (#7172)
  documentation/help.md
  documentation/images/Calculate-Properties-2-3.4..png
  documentation/images/Calculate-Properties-3.4..png
  documentation/images/Expand-Monomer-2-3.3..png
  documentation/images/Expand-Monomer-2-3.4..png
  documentation/images/Expand-Monomer-3-3.4..png
  documentation/images/Expand-Monomer-3.0..png
  documentation/images/Expand-Monomer-3.4..png
  documentation/images/Macro-Toolbar-3.3..png
  documentation/images/Macro-Toolbar-3.4..png
  documentation/images/Macro-canvas-3.3..png
  documentation/images/Macro-canvas-3.4..png
  documentation/images/Sequence-Mode-3-3.0..png
  documentation/images/Sequence-Mode-3-3.4..png
  documentation/images/Sequence-Mode-3.0..png
  documentation/images/Sequence-Mode-3.4..png
  documentation/images/Snake-and-Flex-3.0..png
  documentation/images/Snake-and-Flex-3.4..png
Due: none

#7176 - Preview: Monomer is not updated immediately after modification
  packages/ketcher-core/src/application/editor/operations/modes/index.ts
Due: prettier --write

Revert "fix: fix orphanPhosphate method"
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

- fixed unit tests
  packages/ketcher-core/__tests__/application/editor/tools/SelectRectangleTool.test.ts
Due: prettier --write

#7176 - Preview: Monomer is not updated immediately after modification (#7179)
  packages/ketcher-core/src/application/editor/operations/modes/index.ts
Due: prettier --write

fix: fix logic to handle delete method
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

Initial Draft
  ketcher-autotests/tests/pages/constants/settingsDialog/Constants.ts
  ketcher-autotests/tests/pages/molecules/canvas/PeriodicTableDialog.ts
  ketcher-autotests/tests/pages/molecules/canvas/SettingsDialog.ts
  packages/ketcher-react/src/script/ui/component/form/MeasureInput/measure-input.jsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
Due: prettier --write

fix
  packages/ketcher-react/src/script/ui/component/form/colorPicker/__snapshots__/ColorPicker.test.js.snap
Due: none

f2
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.test.js
Due: prettier --write

fix: fix sequence mode
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write
