Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

chore: regenerate R-group copy/paste snapshot after refactor
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/R-group-tool/r-group-label-dialog.spec.ts-snapshots/R-Group-Label-Tool-Copy-Paste-actions-Structure-with-R-Group-label-1-chromium-linux.png
Due: none

Fix: Use direct SequenceRenderer import to resolve circular barrel dependency in CI build
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
Due: prettier --write

Refactor: Pass afterRowEnd to redrawCaret to break circular dependency
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
Due: prettier --write

#7909 - Some structure elements disappear when saving as SVG or PNG - ts errors fix
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.tsx
Due: prettier --write

#7909 - Some structure elements disappear when saving as SVG or PNG - CI fixes
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.tsx
Due: prettier --write

f2
  ketcher-autotests/tests/specs/Chromium-popup/Features/8850-mark-as-context-menu-for-nucleotide-presets.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Features/8850-mark-as-context-menu-for-nucleotide-presets.spec.ts-snapshots/Mark-as-related-cases-Case-11---Verify-mu-57721--using-Mark-as-a-on-different-selections-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Features/8850-mark-as-context-menu-for-nucleotide-presets.spec.ts-snapshots/Mark-as-related-cases-Case-3---Verify-Ma-d61c2-nu-has-Base-Sugar-and-Phosphate-sub-options-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Features/8850-mark-as-context-menu-for-nucleotide-presets.spec.ts-snapshots/Mark-as-related-cases-Case-4---Verify-Mark-as-a-is-disabled-for-non-continuous-selection-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Features/8850-mark-as-context-menu-for-nucleotide-presets.spec.ts-snapshots/Mark-as-related-cases-Case-6---Verify-mar-c4cdd-ext-menu-opens-Base-tab-and-assigns-structure-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Features/8850-mark-as-context-menu-for-nucleotide-presets.spec.ts-snapshots/Mark-as-related-cases-Case-7---Verify-mar-1a3a3-xt-menu-opens-Sugar-tab-and-assigns-structure-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Features/8850-mark-as-context-menu-for-nucleotide-presets.spec.ts-snapshots/Mark-as-related-cases-Case-8---Verify-mar-67970-enu-opens-Phosphate-tab-and-assigns-structure-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Features/8850-mark-as-context-menu-for-nucleotide-presets.spec.ts-snapshots/Mark-as-related-cases-Case-9---Verify-use-16fa3--in-Attributes-panel-for-continuous-selection-1-chromium-popup-linux.png
Due: prettier --write

f6
  ketcher-autotests/tests/specs/Chromium-popup/Features/10013-monomer-properties-attributes-panel.spec.ts
Due: prettier --write

#7909 - Some structure elements disappear when saving as SVG or PNG - preview size and placement fix
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.tsx
Due: prettier --write

refactor: extract isEditableInputTarget utility
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/utilities/dom.ts
  packages/ketcher-core/src/utilities/index.ts
  packages/ketcher-react/src/script/ui/state/hotkeys.ts
Due: prettier --write

f3
  ketcher-autotests/tests/specs/Chromium-popup/Features/8850-mark-as-context-menu-for-nucleotide-presets.spec.ts
Due: prettier --write

add explicit import type annotations
  packages/ketcher-core/package.json
  packages/ketcher-core/src/application/ketcher.ts
Due: prettier --write

add explicit import type annotations
  packages/ketcher-core/package.json
Due: prettier --write

fix circular deps
  package-lock.json
  packages/ketcher-react/package.json
  packages/ketcher-react/src/script/editor/tool/sgroup.ts
  packages/ketcher-react/src/script/editor/tool/template.helpers.ts
  packages/ketcher-react/src/script/editor/tool/template.ts
  packages/ketcher-react/src/script/editor/tool/templatePreview.ts
  packages/ketcher-react/src/script/ui/views/modal/components/ExtendedTable/components/GenericGroups/GenericGroups.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/ExtendedTable/components/GenericGroups/groupNames.ts
Due: prettier --write

Revert "#8188: Updating snapshots"
  ketcher-autotests/tests/specs/Chromium-popup/Library/color-of-nucleobases.spec.ts-snapshots/Color-of-Nucleobases-Case-1-Check-that-Uracil-b959f-their-colour-changed-to-FF973C-see-mockups-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/color-of-nucleobases.spec.ts-snapshots/Color-of-Nucleobases-Case-4-Verify-that-Uraci-4472a--on-canvas-and-color-to-FF973C-see-mockups-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/color-of-nucleobases.spec.ts-snapshots/Color-of-Nucleobases-Case-4-Verify-that-cl6pu-4f9a0--on-canvas-and-color-to-CAD3DD-see-mockups-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/color-of-nucleobases.spec.ts-snapshots/Color-of-Nucleobases-Case-5-Verify-that-All-n-1bfa9--on-canvas-and-color-to-5ADC11-see-mockups-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/color-of-nucleobases.spec.ts-snapshots/Color-of-Nucleobases-Case-5-Verify-that-All-n-8909d--on-canvas-and-color-to-59D0FF-see-mockups-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/color-of-nucleobases.spec.ts-snapshots/Color-of-Nucleobases-Case-5-Verify-that-All-n-a38fe--on-canvas-and-color-to-FF973C-see-mockups-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/color-of-nucleobases.spec.ts-snapshots/Color-of-Nucleobases-Case-5-Verify-that-All-n-eba37--on-canvas-and-color-to-CAD3DD-see-mockups-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/color-of-nucleobases.spec.ts-snapshots/Color-of-Nucleobases-Case-6-Verify-change-of--60e12-r-all-amino-acids-with-the-natural-analogue-X-1-chromium-popup-linux.png
Due: none

#8188: Fix duplicate aliases in monomer library replace
  ketcher-autotests/tests/utils/formats/formats.ts
  packages/ketcher-core/__tests__/application/editor/Editor.test.ts
  packages/ketcher-core/src/application/editor/Editor.ts
Due: prettier --write

Autotests: Stabilize color of nucleobases checks
  ketcher-autotests/tests/specs/Chromium-popup/Library/color-of-nucleobases.spec.ts
Due: prettier --write

#8188: Fixing import
  packages/ketcher-core/src/application/ketcher.ts
Due: prettier --write

fix circular deps check
  packages/ketcher-react/package.json
  packages/ketcher-react/src/Editor.tsx
Due: prettier --write

Add warning when exporting molecule with attached micromolecule to HELM as inline SMILES CHEM monomer
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/components/modal/save/Save.tsx
  packages/ketcher-macromolecules/src/components/shared/StyledToast/styles.ts
  packages/ketcher-macromolecules/src/state/modal/modalSlice.ts
Due: prettier --write

#7909 - Some structure elements disappear when saving as SVG or PNG in expanded or contracted state
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.tsx
Due: prettier --write

f2
  ketcher-autotests/tests/test-data/KET/InChI-fused-structure.ket
  ketcher-autotests/tests/test-data/KET/chain-with-alias.ket
  ketcher-autotests/tests/test-data/KET/chain-with-generic-group.ket
  ketcher-autotests/tests/test-data/KET/chain-with-multiple-group.ket
  ketcher-autotests/tests/test-data/KET/chain-with-s-group.ket
  ketcher-autotests/tests/test-data/KET/cyclic-cyclohexane-structure.ket
  ketcher-autotests/tests/test-data/KET/cyclohexane-connecting-arrow-with-benzene.ket
  ketcher-autotests/tests/test-data/KET/nonone-chain-structure.ket
  ketcher-autotests/tests/test-data/KET/propane-hexane-benzene.ket
  ketcher-autotests/tests/test-data/KET/structure-with-R-Group.ket
Due: none

#7909 - Some structure elements disappear when saving as SVG or PNG in expanded or contracted state
  packages/ketcher-core/src/utilities/getSvgFromDrawnStructures.tsx
  packages/ketcher-macromolecules/src/components/modal/save/Save.styles.ts
  packages/ketcher-macromolecules/src/components/modal/save/Save.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Delete documentation/images/Monomer-Creation-Wizard-3.9..png
  documentation/images/Monomer-Creation-Wizard-3.9..png
Due: none

Delete documentation/images/Monomer-Creation-Wizard-2-3.11..png
  documentation/images/Monomer-Creation-Wizard-2-3.11..png
Due: none

Delete documentation/images/Monomer-Creation-Wizard-3-3.11..png
  documentation/images/Monomer-Creation-Wizard-3-3.11..png
Due: none

Delete documentation/images/Monomer-Creation-Wizard-9-3.11..png
  documentation/images/Monomer-Creation-Wizard-9-3.11..png
Due: none

Delete documentation/images/Monomer-Creation-Wizard-12-3.11..png
  documentation/images/Monomer-Creation-Wizard-12-3.11..png
Due: none

Delete documentation/images/Monomer-Creation-Wizard-13-3.11..png
  documentation/images/Monomer-Creation-Wizard-13-3.11..png
Due: none

Add files via upload
  documentation/images/Monomer-Creation-Wizard-12-3.16..png
  documentation/images/Monomer-Creation-Wizard-13-3.16..png
  documentation/images/Monomer-Creation-Wizard-2-3.16..png
  documentation/images/Monomer-Creation-Wizard-3-3.16..png
  documentation/images/Monomer-Creation-Wizard-3.16..png
  documentation/images/Monomer-Creation-Wizard-9-3.16..png
Due: none

Update help.md
  documentation/help.md
Due: none

test fixes
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-26-Edit-Attachmen-912a6-ant-cause-invalid-connection-between-monomers-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-26-Edit-Attachmen-e27f3-ant-cause-invalid-connection-between-monomers-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-26-Edit-Attachmen-912a6-ant-cause-invalid-connection-between-monomers-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-26-Edit-Attachmen-e27f3-ant-cause-invalid-connection-between-monomers-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Polymer-Bond-Tool/monomer-bond-tool.spec.ts-snapshots/Monomer-bond-tool-Case-2-Check-that-Edit-Con-fe5c2-t-Attachment-Points-in-opened-context-window-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Polymer-Bond-Tool/monomer-bond-tool.spec.ts-snapshots/Monomer-bond-tool-Case-3-Check-that-Select-C-d33ae-t-Attachment-Points-in-opened-context-window-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Chem-monomers/chem-add-to-canvas.spec.ts-snapshots/Actions-with-CHEM-Check-that-APs-are-not-redrawn-incorrectly-after-opening-the-modal-window-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-bonds-establishment-for-unresolved-IDT-monomers-in-snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-modal-window-f-013e9-shing-bonds-with-unresolved-monomers-Peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-modal-window-f-34cb6-blishing-bonds-with-unresolved-monomers-CHEM-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-common.spec.ts-snapshots/Common-connection-rules-Check-that-select-attachment-point-window-works-correct-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-common.spec.ts-snapshots/Common-connection-rules-Check-that-select-attachment-point-window-works-correct-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-common.spec.ts-snapshots/Common-connection-rules-Check-that-system-ma-000f7--Connection-Point-dialog-use-attached-files-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-common.spec.ts-snapshots/Common-connection-rules-Check-that-system-ma-31454--Connection-Point-dialog-use-attached-files-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-common.spec.ts-snapshots/Common-connection-rules-Check-that-system-ma-45613--Connection-Point-dialog-use-attached-files-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-common.spec.ts-snapshots/Common-connection-rules-Check-that-system-ma-a7da3--Connection-Point-dialog-use-attached-files-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-common.spec.ts-snapshots/Common-connection-rules-Check-that-system-ma-cc035--Connection-Point-dialog-use-attached-files-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-common.spec.ts-snapshots/Common-connection-rules-Check-that-system-ma-e426a--Connection-Point-dialog-use-attached-files-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Edit-long-bonds-connections-by-Edit-attachment-point-menu-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-clicking-Cancel-in-the-dialog-results-in-no-change-to-the-bond-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-clicking-Reconnect-with-differen-2d772--previous-bond-and-establishment-of-a-new-one-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-clicking-on-the-Edit-Attachment-Points-option-opens-the-dialog-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-closing-the-dialog-without-clickin-ce0b4-l-does-not-save-any-changes-click-on-cross-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-if-there-are-no-available-white--67cdd--monomers-the-Reconnect-button-is-disabled-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-the-user-can-interact-with-teal-and-white-attachment-points-in-the-dialog-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-the-user-can-interact-with-teal-and-white-attachment-points-in-the-dialog-2-chromium-linux.png
Due: none

#7909 - Some structure elements disappear when saving as SVG or PNG in expanded or contracted state - claude review suggestions
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/save-structure-image-regression.spec.ts
  packages/ketcher-core/__tests__/application/editor/utilities/getSvgFromDrawnStructures.test.ts
  packages/ketcher-core/src/utilities/getSvgFromDrawnStructures.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.tsx
Due: prettier --write

#10134 - Update the help document (3.16.) (#10141)
  documentation/help.md
  documentation/images/Monomer-Creation-Wizard-12-3.11..png
  documentation/images/Monomer-Creation-Wizard-12-3.16..png
  documentation/images/Monomer-Creation-Wizard-13-3.11..png
  documentation/images/Monomer-Creation-Wizard-13-3.16..png
  documentation/images/Monomer-Creation-Wizard-2-3.11..png
  documentation/images/Monomer-Creation-Wizard-2-3.16..png
  documentation/images/Monomer-Creation-Wizard-3-3.11..png
  documentation/images/Monomer-Creation-Wizard-3-3.16..png
  documentation/images/Monomer-Creation-Wizard-3.16..png
  documentation/images/Monomer-Creation-Wizard-3.9..png
  documentation/images/Monomer-Creation-Wizard-9-3.11..png
  documentation/images/Monomer-Creation-Wizard-9-3.16..png
Due: none

#9750 - Disable phosphate position picker when modifying preset in Sequence mode
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.test.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/__snapshots__/RnaEditorExpanded.test.tsx.snap
Due: prettier --write

#7909 - Some structure elements disappear when saving as SVG or PNG in expanded or contracted state - error fix
  packages/ketcher-core/src/utilities/getSvgFromDrawnStructures.tsx
Due: prettier --write

#7909 - Some structure elements disappear when saving as SVG or PNG in expanded or contracted state - error fix
  packages/ketcher-core/__tests__/application/editor/utilities/getSvgFromDrawnStructures.test.ts
Due: prettier --write

#8249: prevent hanging hydrogen bond when typing after antisense overflow positions
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write
