Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1912: fix showing popup for salts and solvents
  packages/ketcher-react/src/script/ui/state/saltsAndSolvents/index.ts
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.tsx
Due: prettier --write

add choosing bonds
  packages/ketcher-react/src/script/editor/tool/sgroup.ts
  packages/ketcher-react/src/script/editor/utils/choose/finishChoosing.ts
  packages/ketcher-react/src/script/editor/utils/choose/startChoosing.ts
Due: prettier --write

#1912: small tweak
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
Due: prettier --write

#1912: fix bug with determining salts
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
Due: prettier --write

#1920 – added abbreviation to Struct, fixed isSaltOrSolvent check (#1927)
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
  packages/ketcher-core/src/domain/entities/sgroup.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-react/src/script/editor/tool/bond.ts
  packages/ketcher-react/src/script/ui/state/saltsAndSolvents/index.ts
Due: prettier --write

#1912: fix merge
  packages/ketcher-core/src/application/render/raphaelRender.ts
Due: prettier --write

#1912: fix some key descriptions
  documentation/help.md
Due: none

#1912: fix formating
  documentation/help.md
Due: none

#1912: fix formating one more time
  documentation/help.md
Due: none

#1912: line break
  documentation/help.md
Due: none

#1921: Hovering over some functional groups crops the expanded view of it (#1923)
  packages/ketcher-core/src/application/render/raphaelRender.ts
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
  packages/ketcher-core/src/domain/entities/sgroup.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/atom.ts
  packages/ketcher-react/src/script/editor/tool/bond.ts
  packages/ketcher-react/src/script/editor/tool/chain.ts
  packages/ketcher-react/src/script/editor/tool/charge.ts
  packages/ketcher-react/src/script/editor/tool/reactionarrow.ts
  packages/ketcher-react/src/script/editor/tool/text.ts
  packages/ketcher-react/src/script/ui/component/structrender.tsx
  packages/ketcher-react/src/script/ui/state/editor/index.js
  packages/ketcher-react/src/script/ui/state/saltsAndSolvents/index.ts
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.jsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.module.less
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.tsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1912: markdown fix
  documentation/help.md
Due: none

#1912: small fix
  documentation/help.md
Due: none

add choosing atoms
  packages/ketcher-react/src/script/editor/tool/sgroup.ts
  packages/ketcher-react/src/script/editor/utils/choose/startChoosing.ts
Due: prettier --write

WIP selection to choosing
  packages/ketcher-react/src/script/editor/utils/choose/startChoosing.ts
Due: prettier --write

WIP selection to choosing
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/utils/choose/chooseUtils/chooseItems.ts
  packages/ketcher-react/src/script/editor/utils/choose/startChoosing.ts
  packages/ketcher-react/src/script/editor/utils/selectStereoFlags.ts
Due: prettier --write

#1888 - remove dropdowns & add custom name & values (#1928)
  packages/ketcher-react/src/script/ui/data/schema/sdata-schema.js
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/state/modal/form.js
  packages/ketcher-react/src/script/ui/state/modal/sdata.js
Due: prettier --write

#1912: update help.md with updated list of keyboard shortcuts (#1924)
  documentation/help.md
Due: none

Release/2.6 backmerge (#1910)
  packages/ketcher-core/package.json
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-react/package.json
  packages/ketcher-react/src/script/ui/state/shared.ts
  packages/ketcher-standalone/package.json
  yarn.lock
Due: prettier --write

Release 2.7.0-rc.2: update package.json version
  packages/ketcher-core/package.json
  packages/ketcher-react/package.json
Due: prettier --write

Release 2.7.0-rc.2: update package.json version for standalone
  packages/ketcher-standalone/package.json
Due: prettier --write

#1914 fix radiobuttons container styles
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Test this
  packages/ketcher-core/src/application/render/raphaelRender.js
  packages/ketcher-core/src/application/render/raphaelRender.ts
  packages/ketcher-core/src/application/render/render.types.ts
  packages/ketcher-react/src/script/ui/action/keys.md
  tt.md
Due: prettier --write

#1939: revert render refactoring
  packages/ketcher-core/src/application/render/raphaelRender.js
  packages/ketcher-core/src/application/render/raphaelRender.ts
Due: prettier --write

#1939: revert render refactoring (#1941)
  packages/ketcher-core/src/application/render/raphaelRender.js
  packages/ketcher-core/src/application/render/raphaelRender.ts
Due: prettier --write

#1944 - handled if template is null
  packages/ketcher-react/src/script/ui/dialog/template/TemplateDialog.tsx
Due: prettier --write

#1914 fix radiobuttons container styles (#1938)
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1640 add cdx support (#1650)
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-core/src/application/formatters/formatterFactory.ts
  packages/ketcher-core/src/application/formatters/identifyStructFormat.ts
  packages/ketcher-core/src/application/formatters/structFormatter.types.ts
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-react/src/script/ui/state/shared.ts
  packages/ketcher-react/src/script/ui/utils/fileOpener.js
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.types.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

Backmerge: #1640 add cdx support (#1650)
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-core/src/application/formatters/formatterFactory.ts
  packages/ketcher-core/src/application/formatters/identifyStructFormat.ts
  packages/ketcher-core/src/application/formatters/structFormatter.types.ts
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-react/src/script/ui/state/shared.ts
  packages/ketcher-react/src/script/ui/utils/fileOpener.js
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.types.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

updated Ketcher version to 2.7.0-rc.3
  packages/ketcher-core/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

Backmerge: #1914 fix radiobuttons container styles (#1938)
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Backmerge: #1939: The hover panel is displayed incorrectly
  packages/ketcher-core/src/application/render/raphaelRender.js
  packages/ketcher-core/src/application/render/raphaelRender.ts
Due: prettier --write

Backmerge: #1640 add cdx support (#1650) (#1944)
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-core/src/application/formatters/formatterFactory.ts
  packages/ketcher-core/src/application/formatters/identifyStructFormat.ts
  packages/ketcher-core/src/application/formatters/structFormatter.types.ts
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-react/src/script/ui/state/shared.ts
  packages/ketcher-react/src/script/ui/utils/fileOpener.js
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.types.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

Backmerge: #1914 fix radiobuttons container styles (#1938) (#1946)
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

updated Ketcher version to 2.7.0-rc.3 (#1947)
  packages/ketcher-core/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

Backmerge: #1939: The hover panel is displayed incorrectly (#1945)
  packages/ketcher-core/src/application/render/raphaelRender.js
  packages/ketcher-core/src/application/render/raphaelRender.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
