Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Add files via upload
  documentation/images/10_pt_windown.png
  documentation/images/13_atom_propn.png
  documentation/images/14.1_ET_Icon.png
  documentation/images/43.1_templates_iconn.png
  documentation/images/43_templates_toolbarn.png
  documentation/images/49_sett_stereon.png
  documentation/images/50_sett_stereon.png
  documentation/images/7_settingsn.png
  documentation/images/9_pt_iconn.png
Due: none

Add files via upload
  documentation/images/14_ext_tablen.png
Due: none

Update help.md
  documentation/help.md
Due: none

#1600 wrong sign for specific types while ket generation (#1606)
  packages/ketcher-core/__tests__/domain/serializers/ket/fixtures/toKet.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/simpleObjectToStruct.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/textToStruct.ts
  packages/ketcher-core/src/domain/serializers/ket/helpers.ts
  packages/ketcher-core/src/domain/serializers/ket/toKet/rxnToKet.ts
  packages/ketcher-core/src/domain/serializers/ket/toKet/simpleObjectToKet.ts
  packages/ketcher-core/src/domain/serializers/ket/toKet/textToKet.ts
  packages/ketcher-standalone/package.json
  yarn.lock
Due: prettier --write

fix error overlapping
  packages/ketcher-react/src/script/ui/dialog/template/template-attach.jsx
Due: prettier --write

change font size range
  packages/ketcher-react/src/script/ui/views/modal/components/Text/FontControl/FontControl.tsx
Due: prettier --write

fix error positioning in Atom and Settings window
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

delete Stereochemistry from right toolbar
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
Due: prettier --write

stylefix
  packages/ketcher-react/src/icons/files/enhanced-stereo.svg
Due: none

add disabled state for stereo tool
  packages/ketcher-react/src/script/ui/action/tools.js
Due: prettier --write

add Stereochemistry to Top toolbar
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ExternalFuncControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.container.ts
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write

Add files via upload
  documentation/images/1_overviewn.png
  documentation/images/4_main_toolbarn.png
Due: none

Add files via upload
  documentation/images/4.1_zoom_paneln.png
Due: none

2.5 help update may (#1613)
  documentation/help.md
  documentation/images/10_pt_windown.png
  documentation/images/13_atom_propn.png
  documentation/images/14.1_ET_Icon.png
  documentation/images/14_ext_tablen.png
  documentation/images/1_overviewn.png
  documentation/images/4.1_zoom_paneln.png
  documentation/images/43.1_templates_iconn.png
  documentation/images/43_templates_toolbarn.png
  documentation/images/49_sett_stereon.png
  documentation/images/4_main_toolbarn.png
  documentation/images/50_sett_stereon.png
  documentation/images/7_settingsn.png
  documentation/images/9_pt_iconn.png
Due: none

#1596 move stereochemistry tool to top toolbar (#1611)
  packages/ketcher-react/src/icons/files/enhanced-stereo.svg
  packages/ketcher-react/src/script/ui/action/tools.js
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ExternalFuncControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.container.ts
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write

change font size range (#1610)
  packages/ketcher-react/src/script/ui/views/modal/components/Text/FontControl/FontControl.tsx
Due: prettier --write

#1604 the error text in template edit overlaps the Molecule name field (#1609)
  packages/ketcher-react/src/script/ui/dialog/template/template-attach.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

return back definition braketBox into drawGroupDat
  packages/ketcher-core/src/application/render/restruct/resgroup.js
  packages/ketcher-core/src/domain/entities/sgroup.ts
Due: prettier --write

return back definition braketBox into drawGroupDat (#1614)
  packages/ketcher-core/src/application/render/restruct/resgroup.js
  packages/ketcher-core/src/domain/entities/sgroup.ts
Due: prettier --write

fix hiding buttons in top toolbar
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ClipboardControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ElementWithDropdown.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ExternalFuncControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/FileControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/UndoRedo.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomControls.tsx
Due: prettier --write

fix amom attributes check
  packages/ketcher-core/src/application/editor/actions/atom.ts
Due: prettier --write

1620 fix vertical scroll in dialog
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

update help link, link to life sciencies portal
  packages/ketcher-react/package.json
  packages/ketcher-react/rollup.config.js
  packages/ketcher-react/src/script/ui/views/modal/components/meta/About/About.jsx
  yarn.lock
Due: prettier --write

add error catch
  packages/ketcher-react/rollup.config.js
Due: prettier --write

#1615 change the version link in the info panel (#1623)
  packages/ketcher-react/package.json
  packages/ketcher-react/rollup.config.js
  packages/ketcher-react/src/script/ui/views/modal/components/meta/About/About.jsx
  yarn.lock
Due: prettier --write

fix amom attributes check (#1621)
  packages/ketcher-core/src/application/editor/actions/atom.ts
Due: prettier --write

1620 fix vertical scroll in dialog (#1622)
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

refactor last changes
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ClipboardControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ExternalFuncControls.tsx
Due: prettier --write

fix error position in s-group, label edit, save dialogs
  packages/ketcher-react/src/script/ui/dialog/toolbox/labelEdit.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

fix error position in s-group, label edit, save dialogs (#1624)
  packages/ketcher-react/src/script/ui/dialog/toolbox/labelEdit.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#1601 elements should be hidden when the attribute hiddenControls is used (#1618)
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ClipboardControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ElementWithDropdown.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ExternalFuncControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/FileControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/UndoRedo.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomControls.tsx
Due: prettier --write

fix sign for r-groups and atom-list
  packages/ketcher-core/__tests__/domain/serializers/ket/KetSerializer.test.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/moleculeToStruct.ts
  packages/ketcher-core/src/domain/serializers/ket/toKet/moleculeToKet.ts
Due: prettier --write

fix min array length
  packages/ketcher-core/src/domain/serializers/ket/schema.json
Due: prettier --write

fix min array length (#1627)
  packages/ketcher-core/src/domain/serializers/ket/schema.json
Due: prettier --write

fix sign for r-groups and atom-list (#1626)
  packages/ketcher-core/__tests__/domain/serializers/ket/KetSerializer.test.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/moleculeToStruct.ts
  packages/ketcher-core/src/domain/serializers/ket/toKet/moleculeToKet.ts
Due: prettier --write

update indigo-ketcher
  packages/ketcher-standalone/package.json
  yarn.lock
Due: prettier --write

#1539 fix s-groups selections
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/editor/tool/sgroup.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

add key prop
  packages/ketcher-react/src/script/ui/state/shared.js
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ClipboardControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ExternalFuncControls.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
