Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Autotests: #6041 - Autotests replace file comparison for ket files only operations with valid helper functions verifyfileexport (#6290)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/KET-Files/ket-files-properties.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Save-File/save-file.spec.ts
  ketcher-autotests/tests/Indigo-Tools/Calculate-CIP-Tool/calculate-cip-tool.spec.ts
  ketcher-autotests/tests/Indigo-Tools/Enhanced-Stereochemistry/enhanced-stereochemistry.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/API-Macro/get-ket.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Erase-Tool/erase-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Attachment-Point-Tool/actions-with-attachment-point-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/data-s-group-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Multiple-S-Group-Tool/multiple-s-group-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/SRU-Polymer/sru-polymer-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Simple-Objects/action-on-simple-objects.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Text-Tool/text-formating.spec.ts
  ketcher-autotests/tests/test-data/KET/chem-connected-to-micro-structure-expected.ket
Due: prettier --write

#6034 – Update docs for opting out of macromolecules mode
  README.md
  packages/ketcher-react/README.md
Due: none

Fix Editor.events.selectTool, .rightClickSequence using single arguments only.
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/EditorEvents.tsx
Due: prettier --write

test:update test
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts-snapshots/Modify-nucleotides-from-sequence-in-RNA-builde-94fe3-lected-Sugar-Base-Phosphates-in-RNA-Builder-1-chromium-linux.png
Due: none

#3627 - Ketcher requires unsafe-eval in order to run, which contradicts content security policy best practises - added additional fix for dev build
  example/package.json
  example/vite.config.js
  package-lock.json
Due: prettier --write

#6034 – Update docs for opting out of macromolecules mode (#6321)
  README.md
  packages/ketcher-react/README.md
Due: none

#3627 - Ketcher requires unsafe-eval in order to run, which contradicts content security policy best practises (#6320)
  .gitignore
  example/package.json
  example/vite.config.js
  package-lock.json
  packages/ketcher-core/.eslintignore
  packages/ketcher-core/.prettierignore
  packages/ketcher-core/package.json
  packages/ketcher-core/src/domain/serializers/ket/validate.ts
Due: prettier --write

Backmerge: #6034 – Update docs for opting out of macromolecules mode
  README.md
  packages/ketcher-react/README.md
Due: none

#3627 - Ketcher requires unsafe-eval in order to run, which contradicts content security policy best practises (#6322)
  example/package.json
  example/vite.config.js
  package-lock.json
Due: prettier --write

Update version to 3.0.0-rc.3
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

Update version to 3.0.0-rc.3 (#6323)
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

Backmerge: #6034 – Update docs for opting out of macromolecules mode (#6324)
  README.md
  packages/ketcher-react/README.md
Due: none

refactor: renamed values in the Sugars enum
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/add-custom-preset.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts
  ketcher-autotests/tests/utils/selectors/templateModal.ts
Due: prettier --write

refactor: improve monomer selection and favorites management, update constants usage
  ketcher-autotests/constants/monomers.ts
  ketcher-autotests/tests/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Chem-monomers/chem-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Clear-Tool/clear-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Erase-Tool/erase-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Favorites/favorites-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Modal-window/modal-window.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptides-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/attachment-point-hover.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/attachment-point-rotation.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-for-molecules-with-monomers.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/add-custom-preset.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/add-default-presets.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/add-preset-to-favorites.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/delete-preset.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Rectangle-Selection-Tool/rectangle-selection-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Zoom-Tool/zoom.spec.ts
  ketcher-autotests/tests/utils/canvas/helpers.ts
  ketcher-autotests/tests/utils/macromolecules/index.ts
  ketcher-autotests/tests/utils/macromolecules/library.ts
  ketcher-autotests/tests/utils/macromolecules/polymerBond.ts
  ketcher-autotests/tests/utils/selectors/macromoleculeEditor.ts
  ketcher-autotests/tests/utils/selectors/templateModal.ts
Due: prettier --write

#6085 - Changing of ambiguous base via RNA Builder on Sequence mode causes sequence corruption (#6264)
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts-snapshots/Modify-nucleotides-from-sequence-in-RNA-builde-94fe3-lected-Sugar-Base-Phosphates-in-RNA-Builder-1-chromium-linux.png
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
Due: prettier --write

#6166-Color schema for Favorites tab at RNA Library is wrong for Peptides (#6281)
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Add-to-Favorites-section--a53db--and-CHEMs-then-switch-to-Micro-mode-and-back-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-7b663-oard-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Add-to-Favorites-section-ef359-ide-Library-and-switch-to-Micro-mode-and-back-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Validate-that-Monomers-c3a4f-moved-from-favourites-when-clicking-star-sign-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Validate-that-Peptide--7cbad-n-Peptide-that-already-is-added-to-favourites-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Validate-that-Peptide--87f15-n-Peptide-that-already-is-added-to-favourites-2-chromium-linux.png
  packages/ketcher-core/src/application/render/renderers/PeptideRenderer.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetGroup/__snapshots__/RnaPresetGroup.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/MonomerGroup.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/types.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/styles.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/types.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryList/MonomerList.tsx
Due: prettier --write

disable create antisense strand option
  packages/ketcher-macromolecules/src/components/contextMenu/SelectedMonomersContextMenu/SelectedMonomersContextMenu.tsx
Due: prettier --write

added disabling menu for selection sugar
  packages/ketcher-macromolecules/src/components/contextMenu/SelectedMonomersContextMenu/SelectedMonomersContextMenu.tsx
Due: prettier --write

All inproper library tabs switching (Favorites, Peptides, RNA, CHEM) have been replaced with the proper helper functions.
  ketcher-autotests/tests/Macromolecule-editor/Chem-monomers/chem-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Chem-monomers/chem-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Erase-Tool/erase-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Favorites/favorites-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Modal-window/modal-window.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/add-default-presets.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/add-preset-to-favorites.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Zoom-Tool/zoom.spec.ts
Due: prettier --write

feat: add new base '2imen2' to Bases enum and update test selectors for consistency
  ketcher-autotests/constants/monomers.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
Due: prettier --write

#6246 - Import indigo with EXPORT_ES6 & USE_ES6_IMPORT_META options - fixed build for esm base64 ketcher-standalone
  packages/ketcher-standalone/rollup.config.js
Due: prettier --write

#6266 - Autotests: Replace direct monomer addressing with selectMonomer helper function (#6327)
  ketcher-autotests/constants/monomers.ts
  ketcher-autotests/tests/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Chem-monomers/chem-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Clear-Tool/clear-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Erase-Tool/erase-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Favorites/favorites-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Modal-window/modal-window.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptides-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/attachment-point-hover.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/attachment-point-rotation.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-for-molecules-with-monomers.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/add-custom-preset.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/add-default-presets.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/add-preset-to-favorites.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/delete-preset.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Rectangle-Selection-Tool/rectangle-selection-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Zoom-Tool/zoom.spec.ts
  ketcher-autotests/tests/utils/canvas/helpers.ts
  ketcher-autotests/tests/utils/macromolecules/index.ts
  ketcher-autotests/tests/utils/macromolecules/library.ts
  ketcher-autotests/tests/utils/macromolecules/polymerBond.ts
  ketcher-autotests/tests/utils/selectors/macromoleculeEditor.ts
  ketcher-autotests/tests/utils/selectors/templateModal.ts
Due: prettier --write

#6246 - Import indigo with EXPORT_ES6 & USE_ES6_IMPORT_META options (#6330)
  packages/ketcher-standalone/rollup.config.js
Due: prettier --write

added mixed type and base strand calculation
  packages/ketcher-core/src/domain/entities/AmbiguousMonomer.ts
  packages/ketcher-core/src/domain/entities/types.ts
  packages/ketcher-macromolecules/src/components/contextMenu/SelectedMonomersContextMenu/SelectedMonomersContextMenu.tsx
Due: prettier --write

feat: add attachment point support to AtomMenuItems context menu
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AtomMenuItems.tsx
Due: prettier --write

Imports fixes.
  ketcher-autotests/tests/Macromolecule-editor/Chem-monomers/chem-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/add-default-presets.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Zoom-Tool/zoom.spec.ts
  ketcher-autotests/tests/utils/macromolecules/library.ts
Due: prettier --write

* refactor: renamed values in the Sugars enum
  ketcher-autotests/constants/monomers.ts
  ketcher-autotests/tests/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Chem-monomers/chem-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Clear-Tool/clear-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Erase-Tool/erase-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Favorites/favorites-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Modal-window/modal-window.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Peptides/peptides-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/attachment-point-hover.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/attachment-point-rotation.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-for-molecules-with-monomers.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/add-custom-preset.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/add-default-presets.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/add-preset-to-favorites.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/delete-preset.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Rectangle-Selection-Tool/rectangle-selection-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Zoom-Tool/zoom.spec.ts
  ketcher-autotests/tests/utils/canvas/helpers.ts
  ketcher-autotests/tests/utils/macromolecules/index.ts
  ketcher-autotests/tests/utils/macromolecules/library.ts
  ketcher-autotests/tests/utils/macromolecules/polymerBond.ts
  ketcher-autotests/tests/utils/selectors/macromoleculeEditor.ts
  ketcher-autotests/tests/utils/selectors/templateModal.ts
Due: prettier --write

Changes in index.ts and polymerBond.ts files.
  ketcher-autotests/tests/utils/macromolecules/index.ts
  ketcher-autotests/tests/utils/macromolecules/polymerBond.ts
Due: prettier --write

- add tests; - add expected snapshots; - add test files
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-single-atom--1fd6e--different-zoom-levels-in-macromolecules-mode-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-single-atom--25d58--different-zoom-levels-in-macromolecules-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-single-atom--3a785-ng-from-molecules-mode-to-macromolecules-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-single-atom--4d735-ng-from-molecules-mode-to-macromolecules-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-single-atom--e1fb1--different-zoom-levels-in-macromolecules-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-structures-w-3006c-can-be-saved-load-in-macro-mode-in-KET-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-structures-w-ba088--saved-load-in-macro-mode-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-structures-w-f0b52-can-be-saved-load-in-macro-mode-in-SVG-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-the-property-of-an-atom-is-non-editable-in-macromolecules-mode-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/single-atom-properties-expected.ket
  ketcher-autotests/tests/test-data/KET/single-atom-properties.ket
  ketcher-autotests/tests/test-data/Molfiles-V3000/single-atom-properties-expected.mol
  ketcher-autotests/tests/utils/files/receiveFileComparisonData.ts
Due: prettier --write

#6088 disable create antisense strand option if antisensless base present in chain selection (#6328)
  packages/ketcher-core/src/domain/entities/AmbiguousMonomer.ts
  packages/ketcher-core/src/domain/entities/types.ts
  packages/ketcher-macromolecules/src/components/contextMenu/SelectedMonomersContextMenu/SelectedMonomersContextMenu.tsx
Due: prettier --write

Add autotests api-events for Micromolecules Add autotests events for Macromolecules
  ketcher-autotests/tests/API/api-events.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/API-Macro/events.spec.ts
  ketcher-autotests/tests/utils/common/index.ts
Due: prettier --write

Fix OpenOptions interactivity visuals
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/FileDrop.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/OpenOptions.module.less
  packages/ketcher-react/src/style/variables.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Fix npm scripts adding check:types*. Fix Editor.events.selectTool, .rightClickSequence, .rightClickSelectedMonomers, .rightClickPolymerBond using single arguments only.
  demo/package.json
  example-ssr/package.json
  package.json
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-core/src/application/editor/modes/BaseMode.ts
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/EditorEvents.tsx
  packages/ketcher-macromolecules/src/components/LeftMenuComponent/LeftMenuComponent.tsx
  packages/ketcher-macromolecules/src/components/TopMenuComponent/TopMenuComponent.tsx
Due: prettier --write

Fix snapshots for OpenOptions interactivity visuals.
  ketcher-autotests/tests/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Hotkeys-test-Verify-that-hotkey-Control-o-triggers-Open-1-chromium-linux.png
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
