Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

- removed test which doesn't work
  ketcher-autotests/tests/Templates/Functional-Groups/functional-groups.spec.ts
Due: prettier --write

Move collapsed monomer on Micro and Undo fix
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-1-Petide-D-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-10-Peptide-G-H-I-K-L-M-N-O-P-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-12-Sugar-UNA-SGNA-RGNA-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-14-RNA-base-N-ambiguous-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-15-Base-M-ambiguous-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-16-DNA-base-A-C-G-T-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-17-RNA-base-A-C-G-U-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-19-Phosphate-bnn-cmp-nen-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-2-Sugar-UNA-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-20-Phosphate-bnn-cmp-nen-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-21-CHEM-PEG-2-PEG-4-PEG-6-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-22-CHEM-PEG-2-PEG-4-PEG-6-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-23-Unknown-nucleotide-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-4-Phosphate-bnn-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-6-CHEM-4aPEGMal-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-7-Peptide-X-ambiguouse-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-8--88ae1-L-M-N-O-P-Q-R-S-T-U-V-W-Y-ambiguouse-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-9-Peptide-G-H-I-K-L-M-N-O-P-ambiguous-mixed-3-chromium-linux.png
Due: none

- updated screenshots
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-modified-mol-files-from-external-editor-for-rna-mod-phosphate-mod-base-example-mol-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-3dd89-e-file-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-7b663-oard-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-10443-e-file-in-Macro-mode-is-visible-on-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-36f81-board-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Check-that-switching-bet-407ef-A-with-modified-monomer-with-modyfied-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Check-that-switching-bet-8a35b-A-with-modified-monomer-with-modyfied-monomer-2-chromium-linux.png
Due: none

- added tests; - added expected snapshots;
  ketcher-autotests/tests/Reactions/Cascade-Reactions/cascade-reactions.spec.ts
  ketcher-autotests/tests/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-empty-Canvas-wit-5032f--0-0-reactions-can-be-saved-to-RDF-RXN-V2000-2-chromium-linux.png
  ketcher-autotests/tests/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-empty-Canvas-wit-77afe--0-0-reactions-can-be-saved-to-RDF-RXN-V3000-2-chromium-linux.png
  ketcher-autotests/tests/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-empty-Canvas-wit-b3b67--0-0-reactions-can-be-saved-to-RDF-RXN-V3000-1-chromium-linux.png
  ketcher-autotests/tests/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-empty-Canvas-wit-dad61--0-0-reactions-can-be-saved-to-RDF-RXN-V2000-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/single-arrow.ket
  ketcher-autotests/tests/test-data/RDF-V2000/single-arrow-expected.rdf
  ketcher-autotests/tests/test-data/RDF-V3000/single-arrow-expected.rdf
  ketcher-autotests/tests/utils/files/receiveFileComparisonData.ts
Due: prettier --write

Last fix
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-After-hiding-L-ec903-acro-mode-possible-to-see-Show-Library-button-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-Zoom-In-Zoom-O-11636--Mouse-scroll-after-switching-to-Macro-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-Zoom-In-Zoom-O-131b4-rk-UI-Buttons-after-switching-to-Macro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-Zoom-In-Zoom-O-1d5fd-rk-UI-Buttons-after-switching-to-Macro-mode-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-Zoom-In-Zoom-O-2ea75--Mouse-scroll-after-switching-to-Macro-mode-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-Zoom-In-Zoom-O-6d8d0-rk-UI-Buttons-after-switching-to-Macro-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-Zoom-In-Zoom-O-c1f8a--Mouse-scroll-after-switching-to-Macro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-in-context-menu-for-AP---only-Delete-avaliable-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-macromolecule--716dd-romode-are-represented-as-S-Groups-with-bonds-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-zoomed-in--c5dca--switch-to-Micro-mode-and-again-to-Macro-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Connect-molecule-to-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Make-full-screen-mode-in-micro-mode-and-switch-to-macro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Open-a-macro-file-and-put-d63bb--of-canvas-in-micro-mode-then-switch-to-macro-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-1-Petide-D-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-10-Peptide-G-H-I-K-L-M-N-O-P-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-12-Sugar-UNA-SGNA-RGNA-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-13-DNA-base-N-ambiguous-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-14-RNA-base-N-ambiguous-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-16-DNA-base-A-C-G-T-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-17-RNA-base-A-C-G-U-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-18-Base-A-C-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-19-Phosphate-bnn-cmp-nen-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-2-Sugar-UNA-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-20-Phosphate-bnn-cmp-nen-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-21-CHEM-PEG-2-PEG-4-PEG-6-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-22-CHEM-PEG-2-PEG-4-PEG-6-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-23-Unknown-nucleotide-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-3-Base-hU-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-4-Phosphate-bnn-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-5-Unsplit-nucleotide-5hMedC-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-6-CHEM-4aPEGMal-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-7-Peptide-X-ambiguouse-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-8--88ae1-L-M-N-O-P-Q-R-S-T-U-V-W-Y-ambiguouse-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-Expand-monomer-does-not-break-cyclic-structures-when-the-ring-is-expanded-2-chromium-linux.png
Due: none

#5915: Added two files, two tests, updated description
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-PNG-images-with-elemen-4e1f9-aved-to-PNG-can-be-added-by-Tool-as-PNG-image-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-PNG-images-with-elemen-c6f39-aved-to-SVG-can-be-added-by-Tool-as-SVG-image-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Images/saved-images-png-with-elements.png
  ketcher-autotests/tests/test-data/Images/saved-images-png-with-elements.svg
Due: prettier --write

fixed micro tests
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Images-of-allowed-formats-PNG-wi-1e0dd-as-from-2-different-CDX-CDXML-and-save-to-CDX-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Images-of-allowed-formats-PNG-wi-3a691--from-2-different-CDX-CDXML-and-save-to-CDXML-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Op-14347-om-file-that-contains-abbreviation-1-2---open-1-chromium-linux.png
  ketcher-autotests/tests/test-data/CDX/two-images-png-with-elements-expected.cdx
  ketcher-autotests/tests/test-data/CDXML/two-images-png-with-elements-expected.cdxml
Due: none

#5873 - Export to ket (and getKET function) change incrementally internal IDs every call
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
Due: prettier --write

last last fix
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-1-Petide-D-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-11-Sugar-UNA-SGNA-RGNA-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-12-Sugar-UNA-SGNA-RGNA-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-13-DNA-base-N-ambiguous-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-14-RNA-base-N-ambiguous-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-16-DNA-base-A-C-G-T-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-2-Sugar-UNA-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-20-Phosphate-bnn-cmp-nen-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-21-CHEM-PEG-2-PEG-4-PEG-6-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-3-Base-hU-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-4-Phosphate-bnn-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-9-Peptide-G-H-I-K-L-M-N-O-P-ambiguous-mixed-3-chromium-linux.png
Due: none

#5898 – Update indigo to 1.26.0-rc.1 in browser module (#5905)
  ketcher-autotests/tests/Indigo-Tools/Reaction Auto-mapping tool/reaction-am-tool-veryfing-button.spec.ts
  ketcher-autotests/tests/Templates/Functional-Groups/functional-groups.spec.ts
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

- added comments
  ketcher-autotests/tests/Reactions/Cascade-Reactions/cascade-reactions.spec.ts
Due: prettier --write

#5886 - Loading a KET file in macro mode, bond connections are preserved but microstructures are shifted (#5907)
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-modified-mol-files-from-external-editor-for-rna-mod-phosphate-mod-base-example-mol-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-3dd89-e-file-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-7b663-oard-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-10443-e-file-in-Macro-mode-is-visible-on-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-36f81-board-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Check-that-switching-bet-407ef-A-with-modified-monomer-with-modyfied-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Check-that-switching-bet-8a35b-A-with-modified-monomer-with-modyfied-monomer-2-chromium-linux.png
  packages/ketcher-core/src/application/editor/modes/BaseMode.ts
  packages/ketcher-core/src/application/editor/modes/FlexMode.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

- updated ketcher to 2.26.0-rc.8
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

change layout and update snapshot
  packages/ketcher-react/src/script/ui/component/form/form/form.jsx
  packages/ketcher-react/src/script/ui/component/form/form/form.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/__snapshots__/Save.test.tsx.snap
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

revert snapshots
  ketcher-autotests/tests/Indigo-Tools/Reaction Auto-mapping tool/reaction-am-tool-veryfing-button.spec.ts-snapshots/Verifying-buttons-on-reaction-am-tool-dropdown-Verifying-of-the-correct-automapping-2-chromium-linux.png
Due: none

- updated ketcher to 2.26.0-rc.8 (#5920)
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

updated test
  ketcher-autotests/tests/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Hotkeys--5d8e2-t-hotkey-Control-Shift-k-triggers-Copy-as-KET-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Enhanced-Stereochemistry/enhanced-stereochemistry.spec.ts-snapshots/Enhanced-Stereochemistry-Tool-Label-display-styles---IUPAC-style-selected-by-default-in-settings-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Attachment-Point-Tool/attachment-point-tool.spec.ts-snapshots/Attachment-Point-Tool-Copy-Paste-reaction-with-Attachment-point-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Attachment-Point-Tool/attachment-point-tool.spec.ts-snapshots/Attachment-Point-Tool-Save-as-rxn-file-V3000-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/bond-properties.spec.ts-snapshots/Bond-Properties-Reacting-Center-field-verification---1-2-navigate-with-down-and-up-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/bond-properties.spec.ts-snapshots/Bond-Properties-Reacting-Center-field-verification---2-2-with-letter-C-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/bond-properties.spec.ts-snapshots/Bond-Properties-Reacting-Center-field-verification---2-2-with-letter-M-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/bond-properties.spec.ts-snapshots/Bond-Properties-Reacting-Center-field-verification---2-2-with-letter-N-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/bond-properties.spec.ts-snapshots/Bond-Properties-Reacting-Center-field-verification---2-2-with-letter-O-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/bond-properties.spec.ts-snapshots/Bond-Properties-Reacting-Center-field-verification---2-2-with-letter-U-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/bond-properties.spec.ts-snapshots/Bond-Properties-Topology-field-verification---1-2-navigate-with-down-and-up-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/bond-properties.spec.ts-snapshots/Bond-Properties-Topology-field-verification---2-2-with-letter-C-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/bond-properties.spec.ts-snapshots/Bond-Properties-Topology-field-verification---2-2-with-letter-E-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/bond-properties.spec.ts-snapshots/Bond-Properties-Topology-field-verification---2-2-with-letter-R-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/bond-properties.spec.ts-snapshots/Bond-Properties-Type-field-verification---2-3-navigate-with-s-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/bond-properties.spec.ts-snapshots/Bond-Properties-Type-field-verification---3-3-navigate-with-t-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Undo-Redo/undo-redo-actions.spec.ts-snapshots/Undo-Redo-Actions-Undo-deletes-previously-placed-template-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Toolbar/toolbar.spec.ts-snapshots/Toolbar-palette-and-settings-Settings-UI-verification-1-chromium-linux.png
Due: none

#5915: Added two files, two tests, updated description (#5917)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-PNG-images-with-elemen-4e1f9-aved-to-PNG-can-be-added-by-Tool-as-PNG-image-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-PNG-images-with-elemen-c6f39-aved-to-SVG-can-be-added-by-Tool-as-SVG-image-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Images/saved-images-png-with-elements.png
  ketcher-autotests/tests/test-data/Images/saved-images-png-with-elements.svg
Due: prettier --write

#5886 - Loading a KET file in macro mode, bond connections are preserved but microstructures are shifted (#5907)
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-3dd89-e-file-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-7b663-oard-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-10443-e-file-in-Macro-mode-is-visible-on-Micro-mode-1-chromium-linux.png
  packages/ketcher-core/src/application/editor/modes/BaseMode.ts
  packages/ketcher-core/src/application/editor/modes/FlexMode.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

- updated screenshots
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-modified-mol-files-from-external-editor-for-rna-mod-phosphate-mod-base-example-mol-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-36f81-board-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Check-that-switching-bet-407ef-A-with-modified-monomer-with-modyfied-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Check-that-switching-bet-8a35b-A-with-modified-monomer-with-modyfied-monomer-2-chromium-linux.png
Due: none

- updated screenshots
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-36f81-board-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Check-that-switching-bet-407ef-A-with-modified-monomer-with-modyfied-monomer-1-chromium-linux.png
Due: none

#5814 - On Remote environment, the reaction/molecule can't be saved to V3000 formats (returns V2000 instead): MOL, RXN, SDF, RDF (#5908) (#5911)
  packages/ketcher-core/src/infrastructure/services/struct/remoteStructService.ts
Due: prettier --write

#5270 - Warning should not displayed for importing CDXML, base64 CDX, CDX formats
  packages/ketcher-react/src/script/ui/data/convert/structConverter.ts
Due: prettier --write

#5351 - inform user to apply layout after settings adjustment
  packages/ketcher-react/src/script/ui/views/modal/components/InfoModal/InfoModal.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
Due: prettier --write

Backmerge: #5886 - Loading a KET file in macro mode, bond connections are preserved but microstructures are shifted (#5919)
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-modified-mol-files-from-external-editor-for-rna-mod-phosphate-mod-base-example-mol-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-3dd89-e-file-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-7b663-oard-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-10443-e-file-in-Macro-mode-is-visible-on-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-36f81-board-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Check-that-switching-bet-407ef-A-with-modified-monomer-with-modyfied-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Check-that-switching-bet-8a35b-A-with-modified-monomer-with-modyfied-monomer-2-chromium-linux.png
  packages/ketcher-core/src/application/editor/modes/BaseMode.ts
  packages/ketcher-core/src/application/editor/modes/FlexMode.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

Backmerge: #5886 - Loading a KET file in macro mode, bond connections are preserved but microstructures are shifted (#5919)
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-modified-mol-files-from-external-editor-for-rna-mod-phosphate-mod-base-example-mol-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-3dd89-e-file-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-7b663-oard-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-10443-e-file-in-Macro-mode-is-visible-on-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Check-that-switching-bet-8a35b-A-with-modified-monomer-with-modyfied-monomer-2-chromium-linux.png
  packages/ketcher-core/src/application/editor/modes/BaseMode.ts
  packages/ketcher-core/src/application/editor/modes/FlexMode.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

Update reaction component margin size related tests
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/CDXML-Files/cdxml-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Cml-files/cml-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/KET-Files/ket-files-properties.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PNG-Files/png-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SDF-Files/sdf-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SVG_Files/svg-files.spec.ts
  ketcher-autotests/tests/Settings/ACS Style/acs-style-settings.spec.ts
  ketcher-autotests/tests/Settings/General/default-settings-verification.spec.ts
Due: prettier --write

updated tests
  ketcher-autotests/tests/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Hotkeys--5d8e2-t-hotkey-Control-Shift-k-triggers-Copy-as-KET-1-chromium-linux.png
  ketcher-autotests/tests/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-ACS-Style-button-and-setting-after-clicking-1-chromium-linux.png
  ketcher-autotests/tests/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-default-settings-after-clicking-ACS-Style-button-and-after-that-on-Reset-2-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Atom-properties-attributes/atom-properties-attributes.spec.ts-snapshots/Checking-atom-properties-attributes-in-SMARTS-format-Setting-charge-to-zero-1-chromium-linux.png
Due: none

#5814 - On Remote environment, the reaction/molecule can't be saved to V3000 formats (returns V2000 instead): MOL, RXN, SDF, RDF (#5908) (#5911) (#5924)
  packages/ketcher-core/src/infrastructure/services/struct/remoteStructService.ts
Due: prettier --write

merge
  ketcher-autotests/tests/Structure-Creating-&-Editing/Atom/Atom-Tool/drag-and-drop-atom.spec.ts-snapshots/Drag-and-drop-Atom-on-canvas-The-Oxygen-atom-replaces-the-Cbz-functional-group-1-chromium-linux.png
Due: none

Backmerge: #5886 - Loading a KET file in macro mode, bond connections are preserved but microstructures are shifted (#5930)
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-modified-mol-files-from-external-editor-for-rna-mod-phosphate-mod-base-example-mol-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-3dd89-e-file-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Ket-struct-7b663-oard-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-10443-e-file-in-Macro-mode-is-visible-on-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-the-Mol-struct-36f81-board-in-Macro-mode-is-visible-in-Micro-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Check-that-switching-bet-407ef-A-with-modified-monomer-with-modyfied-monomer-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Check-that-switching-bet-8a35b-A-with-modified-monomer-with-modyfied-monomer-2-chromium-linux.png
  packages/ketcher-core/src/application/editor/modes/BaseMode.ts
  packages/ketcher-core/src/application/editor/modes/FlexMode.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write
