Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Backmerge: #3934 Support selection entity selection flag in KET format fix RGroupAttachmentPoint selection
  ketcher-autotests/tests/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Layout-action-on-part-of-structure-with-Attachment-point-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Layout-action-on-part-of-structure-with-R-Group-label-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Layout-action-on-part-of-structure-with-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Layout-action-on-part-of-structure-with-different-properties-1-chromium-linux.png
  packages/ketcher-core/src/domain/entities/rgroupAttachmentPoint.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/moleculeToStruct.ts
  packages/ketcher-core/src/domain/serializers/ket/helpers.ts
Due: prettier --write

Backmerge: #3934 Support selection entity selection flag in KET format small fix
  packages/ketcher-react/src/script/ui/state/shared.ts
Due: prettier --write

Backmerge: #3934 Support selection entity selection flag in KET format update snaps
  ketcher-autotests/tests/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Layout-action-on-part-of-structure-with-Attachment-point-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Layout-action-on-part-of-structure-with-different-properties-1-chromium-linux.png
Due: none

Backmerge: #3934 Support selection entity selection flag in KET format fix some selection cases
  ketcher-autotests/tests/Indigo-Tools/Layout/layout.spec.ts
  ketcher-autotests/tests/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Layout-action-on-part-of-structure-with-Attachment-point-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Layout-action-on-part-of-structure-with-different-properties-1-chromium-linux.png
  packages/ketcher-core/src/application/formatters/ketFormatter.ts
  packages/ketcher-core/src/application/formatters/structFormatter.types.ts
  packages/ketcher-core/src/domain/serializers/ket/helpers.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
  packages/ketcher-react/src/script/ui/state/server/index.js
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
Due: prettier --write

- added side chains
  packages/ketcher-core/src/application/editor/modes/SnakeMode.ts
  packages/ketcher-core/src/application/editor/tools/Bond.ts
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer.ts
  packages/ketcher-core/src/application/render/renderers/RenderersManager.ts
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/ChemSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/PeptideSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/PhosphateSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/PolymerBondSequenceRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceItemRendererFactory.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SugarSequenceItemRenderer.ts
  packages/ketcher-core/src/domain/entities/BaseMonomer.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-core/src/domain/entities/Peptide.ts
  packages/ketcher-core/src/domain/entities/Phosphate.ts
  packages/ketcher-core/src/domain/entities/PolymerBond.ts
  packages/ketcher-core/src/domain/entities/Sugar.ts
  packages/ketcher-core/src/domain/helpers/monomers.ts
  packages/ketcher-core/src/domain/types/monomers.ts
  packages/ketcher-macromolecules/src/components/LayoutModeButton/LayoutModeButton.tsx
  packages/ketcher-macromolecules/src/components/LayoutModeButton/index.ts
Due: prettier --write

- fixed side chain position for one row
  packages/ketcher-core/src/application/render/renderers/sequence/PolymerBondSequenceRenderer.ts
Due: prettier --write

#4045 System doesn't save selection state for custom query bonds small fix
  packages/ketcher-core/src/domain/serializers/ket/toKet/moleculeToKet.ts
Due: prettier --write

Backmerge: #4045 System doesn't save selection state for custom query bonds small fix
  packages/ketcher-core/src/domain/serializers/ket/toKet/moleculeToKet.ts
Due: prettier --write

- deleted delays
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Cml-files/cml-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Save-File/save-file.spec.ts
  ketcher-autotests/tests/File-Management/Smile-Files/smile-files.spec.ts
  ketcher-autotests/tests/Indigo-Tools/Calculate-CIP-Tool/calculate-cip-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Redo-Capability-with-Ctrl-Y-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Reset-Zoom-Functionality-with-Ctrl-0-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Reset-Zoom-Functionality-with-Ctrl-0-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Select-All-Functionality-with-Ctrl-A-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Undo-Functionality-with-Ctrl-Z-and-Redo-with-Ctrl-Shift-Z-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Zoom-In-Functionality-with-Ctrl-1-chromium-linux.png
  ketcher-autotests/tests/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/R-group-tool/r-group-fragment-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Text-Tool/utf-8-svg-png.spec.ts
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts
  ketcher-autotests/tests/User-Interface/Editing-Tools/Undo-Redo/undo-redo-actions.spec.ts
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts
Due: prettier --write

- files moved to appropriate folders
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Save-File/save-file.spec.ts
  ketcher-autotests/tests/Indigo-Tools/Calculated-Values-Tool/calculated-values.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Attachment-Point-Tool/attachment-point-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/R-group-tool/r-group-fragment-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/R-group-tool/r-group-tool.spec.ts
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts
  ketcher-autotests/tests/test-data/JSON/request-data.json
  ketcher-autotests/tests/test-data/Molfiles-V2000/R-Group-structure.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/R-fragment-structure.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/Rgroup.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/r-group-all-chain.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/r-group-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/r-group-label.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/r-group-with-allkind-attachment-points-expectedV2000.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/r-group-with-allkind-attachment-points.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/ritalin.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/RGroup-With-Fragments.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/r-group-with-allkind-attachment-points-expectedV3000.mol
  ketcher-autotests/tests/test-data/Rxn-V2000/reaction-plus-and-arrows.rxn
  ketcher-autotests/tests/test-data/Rxn-V2000/reaction-with-arrow-and-plus-expected.rxn
  ketcher-autotests/tests/test-data/Rxn-V2000/reaction.rxn
  ketcher-autotests/tests/test-data/Rxn-V2000/rxn-1849-to-compare-expectedV2000.rxn
  ketcher-autotests/tests/test-data/Rxn-V3000/r-group-V3000-expectedV3000.rxn
  ketcher-autotests/tests/test-data/Rxn-V3000/r-group-V3000.rxn
  ketcher-autotests/tests/test-data/Rxn-V3000/reaction-with-arrow-and-plus-expectedV3000.rxn
  ketcher-autotests/tests/test-data/SMILES/r-group-with-allkind-attachment-points.smi
  ketcher-autotests/tests/test-data/reaction_3.rxn
  ketcher-autotests/tests/test-data/rxn_1849_to_compare.rxn
  ketcher-autotests/tests/test-data/rxn_1899_to_compare.rxn
  ketcher-autotests/tests/test-data/rxn_1902_to_compare.rxn
  ketcher-autotests/tests/test-data/rxn_1904_to_compare.rxn
Due: prettier --write

#3970 - Brackets are displayed incorrectly when a S-Group is added to an atom or an expanded Functional Group or Salt is added to an atom of a structure
  packages/ketcher-core/src/application/render/restruct/resgroup.ts
  packages/ketcher-core/src/domain/entities/sgroup.ts
Due: prettier --write

#3923 The scale of structures in "Select Attachment Points" Modal is too big
  packages/ketcher-core/src/application/render/raphaelRender.ts
  packages/ketcher-core/src/application/render/renderStruct.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-macromolecules/src/components/modal/monomerConnection/MonomerConnections.tsx
  packages/ketcher-react/src/components/StructRender/StructRender.tsx
  packages/ketcher-react/src/components/StructRender/types.ts
Due: prettier --write

Backmerge: #3970 - Brackets are displayed incorrectly when a S-Group is added to an atom or an expanded Functional Group or Salt is added to an atom of a structure
  packages/ketcher-core/src/application/render/restruct/resgroup.ts
  packages/ketcher-core/src/domain/entities/sgroup.ts
Due: prettier --write

- fixed abbreviation lookup popup position
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.tsx
Due: prettier --write

- fixed unit tests
  packages/ketcher-macromolecules/src/components/contextMenu/RNAContextMenu.test.tsx
Due: prettier --write

#4048 - Right-click menu appears away from structure or is not visible at all on canvas #4048
  example/src/ModeControl/ModeControl.tsx
  packages/ketcher-macromolecules/src/components/FullscreenButton/FullscreenButton.tsx
  packages/ketcher-macromolecules/src/components/Layout/Layout.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/RNAContextMenu.tsx
  packages/ketcher-macromolecules/src/constants.ts
  packages/ketcher-macromolecules/src/index.tsx
  packages/ketcher-macromolecules/src/styledComponents.ts
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/ui/App/App.module.less
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- fixes
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
  packages/ketcher-macromolecules/src/components/modal/Open/Open.tsx
  packages/ketcher-macromolecules/src/components/modal/Open/ViewSwitcher/ViewSwitcher.tsx
  packages/ketcher-macromolecules/src/components/shared/TextArea/TextArea.tsx
Due: prettier --write

- fixed screenshots
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-system-does-not-let-uploading-corrupted-ket-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving.spec.ts-snapshots/Import-Saving-Files-Check-that-system-does-not-let-uploading-corrupted-mol-file-1-chromium-linux.png
Due: none

#3923 refactor and rename
  packages/ketcher-core/src/application/render/raphaelRender.ts
  packages/ketcher-core/src/application/render/renderStruct.ts
  packages/ketcher-macromolecules/src/components/modal/monomerConnection/MonomerConnections.tsx
  packages/ketcher-react/src/components/StructRender/StructRender.tsx
  packages/ketcher-react/src/components/StructRender/types.ts
Due: prettier --write

#3923 fix screenshots
  ketcher-autotests/tests/Macromolecule-editor/Chem-monomers/chem-add-to-canvas.spec.ts-snapshots/Actions-with-CHEM-Check-that-APs-are-not-redrawn-incorrectly-after-opening-the-modal-window-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Modal-window/modal-window.spec.ts-snapshots/Modal-window-Connect-button-is-active-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Modal-window/modal-window.spec.ts-snapshots/Modal-window-Connect-button-is-disabled-1-chromium-linux.png
Due: none

- fixed 1 failing right-click test
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts
Due: prettier --write

- changed used function in test for save-file
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Save-File/save-file.spec.ts
Due: prettier --write

- fixed unit test
  packages/ketcher-macromolecules/src/components/modal/save/__snapshots__/Save.test.tsx.snap
Due: none

- Fix right click test (#4065)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Save-File/save-file.spec.ts
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/Settings/Atoms/atoms-settings.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Atom/Atom-Properties/utils.ts
  ketcher-autotests/tests/Templates/Functional-Groups/Functional-Group-Tools/functional-group-tools.spec.ts-snapshots/Templates---Functional-Group-Tools3-Expand-Remove-abbreviation-context-menu-with-selected-tools-1-chromium-linux.png
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/Macromolecule-editor/Opening-Files/Molv3000.spec.ts-snapshots/MolV300-Files-Import-incorrect-data-1-chromium-linux.png
Due: none

- fixed tests
  ketcher-autotests/tests/Settings/Atoms/atoms-settings.spec.ts
Due: prettier --write

#4048 - Right-click menu appears away from structure or is not visible at all on canvas (#4062)
  example/src/ModeControl/ModeControl.tsx
  ketcher-autotests/tests/Settings/Atoms/atoms-settings.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Atom/Atom-Properties/utils.ts
  ketcher-autotests/tests/Templates/Functional-Groups/Functional-Group-Tools/functional-group-tools.spec.ts-snapshots/Templates---Functional-Group-Tools3-Expand-Remove-abbreviation-context-menu-with-selected-tools-1-chromium-linux.png
  packages/ketcher-macromolecules/src/components/FullscreenButton/FullscreenButton.tsx
  packages/ketcher-macromolecules/src/components/Layout/Layout.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/RNAContextMenu.test.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/RNAContextMenu.tsx
  packages/ketcher-macromolecules/src/constants.ts
  packages/ketcher-macromolecules/src/index.tsx
  packages/ketcher-macromolecules/src/styledComponents.ts
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/ui/App/App.module.less
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/AbbreviationLookup.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- updated ketcher to 2.18.0-rc.5
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

- added test for undo-redo; - added 1 test file; - added expected snapshots
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Deleting-entities-Peptides-RN-3ff67-onds-and-then-checking-Undo-and-Redo-actions-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Deleting-entities-Peptides-RN-9ec00-onds-and-then-checking-Undo-and-Redo-actions-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/all-entities.ket
Due: prettier --write

- updated ketcher to 2.18.0-rc.5 (#4068)
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

updated snapshot
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Highlight-Sugar-Phosphate-and-Base-in-Library-once-it-chosen-in-RNA-Builder-2-chromium-linux.png
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
