Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

- fixed styles for empty pptx - fixed screenshots
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-empty-pptx-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-2-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/CDXStructuresViewer.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#4082 - Canvas preview render work at 14 times faster in Firefox than in Chrome (#4117)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-empty-pptx-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-2-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/CDXStructuresViewer.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#4082 - Canvas preview render work at 14 times faster in Firefox than in Chrome - fixed preview wrapper size to make svg elements reflow faster
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/CDXStructuresViewer.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#3891 - Aromatize/Dearomatize of having abbreviation (Salts and Solvents) on the canvas causes spontaneous random de-abbreviation
  packages/ketcher-core/src/application/render/restruct/restruct.ts
Due: prettier --write

Backmerge: #4082 - Canvas preview render work at 14 times faster in Firefox than in Chrome (#4121)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-empty-pptx-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-2-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/CDXStructuresViewer.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Backmerge: #4082 - Canvas preview render work at 14 times faster in Firefox than in Chrome (#4120)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-empty-pptx-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PPTX-Files/pptx-files.spec.ts-snapshots/PPTX-files-open-pptx-file-2-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/CDXStructuresViewer.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#4128 - Adding hydrogens moves molecules to the center of the screen - removed centering after hydrogenization
  packages/ketcher-react/src/script/ui/state/shared.ts
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Show-and-then-hide-hydrogens-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Show-and-then-hide-hydrogens-2-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Undo-Redo-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Undo-Redo-3-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Toolbar/toolbar-ui.spec.ts-snapshots/Open-Ketcher-Verify-Add-Remove-explicit-hidrogens-icon-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Toolbar/toolbar-ui.spec.ts-snapshots/Open-Ketcher-Verify-Add-Remove-explicit-hidrogens-icon-3-chromium-linux.png
Due: none

#4128 - Adding hydrogens moves molecules to the center of the screen (#4129)
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Show-and-then-hide-hydrogens-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Show-and-then-hide-hydrogens-2-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Undo-Redo-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Undo-Redo-3-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Toolbar/toolbar-ui.spec.ts-snapshots/Open-Ketcher-Verify-Add-Remove-explicit-hidrogens-icon-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Toolbar/toolbar-ui.spec.ts-snapshots/Open-Ketcher-Verify-Add-Remove-explicit-hidrogens-icon-3-chromium-linux.png
  packages/ketcher-react/src/script/ui/state/shared.ts
Due: prettier --write

- added ztests for 'sequence-mode'; - added 3 test files; - added expected snapshots
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-All-phosphates-not-part-of-nucle-65b66--last-phosphate-connected-to-last-nucleoside-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Nucleotides-are-connected-through-R2-R1-bonds-and-switch-to-sequence-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Switch-from-flex-view-to-sequence-view-to-snake-view-and-back-to-flex-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Switch-from-flex-view-to-sequence-view-to-snake-view-and-back-to-flex-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Switch-from-flex-view-to-sequence-view-to-snake-view-and-back-to-flex-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Test-sequence-display-for-long-DNA-RNA-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Test-sequence-display-for-long-Peptides-chains-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/50-peptides-and-2-chems.ket
  ketcher-autotests/tests/test-data/KET/phosphates-not-part-of-nucleoside.ket
  ketcher-autotests/tests/test-data/Molfiles-V3000/dna-long.mol
Due: prettier --write

- removed resetting sgroup id in restruct - added setting sgroup id on deserialisation step - added functional groups id mapping to link functional groups properly during struct merge
  packages/ketcher-core/src/application/render/renderStruct.ts
  packages/ketcher-core/src/application/render/restruct/restruct.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/moleculeToStruct.ts
Due: prettier --write

Backmerge: #4128 - Adding hydrogens moves molecules to the center of the screen (#4131)
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Show-and-then-hide-hydrogens-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Show-and-then-hide-hydrogens-2-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Undo-Redo-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Undo-Redo-3-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Toolbar/toolbar-ui.spec.ts-snapshots/Open-Ketcher-Verify-Add-Remove-explicit-hidrogens-icon-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Toolbar/toolbar-ui.spec.ts-snapshots/Open-Ketcher-Verify-Add-Remove-explicit-hidrogens-icon-3-chromium-linux.png
  packages/ketcher-react/src/script/ui/state/shared.ts
Due: prettier --write

Backmerge: #4128 - Adding hydrogens moves molecules to the center of the screen (#4130)
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Show-and-then-hide-hydrogens-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Show-and-then-hide-hydrogens-2-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Undo-Redo-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/Toggle-Explicit-Hydrogens-Tool-Undo-Redo-3-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Toolbar/toolbar-ui.spec.ts-snapshots/Open-Ketcher-Verify-Add-Remove-explicit-hidrogens-icon-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Toolbar/toolbar-ui.spec.ts-snapshots/Open-Ketcher-Verify-Add-Remove-explicit-hidrogens-icon-3-chromium-linux.png
  packages/ketcher-react/src/script/ui/state/shared.ts
Due: prettier --write

#3893 - Remove explicit hydrogens feature changes layout of simple molecules
  packages/ketcher-core/src/domain/entities/struct.ts
Due: prettier --write

#4127 - Migrate to Indigo v1.18.0-rc.8 in-browser module
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

- updated snapshot for 'cdx-files.spec.ts:22'
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/CDX-Files/cdx-files.spec.ts-snapshots/CDX-files-opening-cdx-files-1-chromium-linux.png
Due: none

#4127 - Migrate to Indigo v1.18.0-rc.8 in-browser module (#4134)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/CDX-Files/cdx-files.spec.ts-snapshots/CDX-files-opening-cdx-files-1-chromium-linux.png
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

#3891 - Aromatize/Dearomatize of having abbreviation (Salts and Solvents) on the canvas causes spontaneous random de-abbreviation (#4123)
  packages/ketcher-core/src/application/render/renderStruct.ts
  packages/ketcher-core/src/application/render/restruct/restruct.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/moleculeToStruct.ts
Due: prettier --write

- fixed screenshots
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Open-File/Load-Fragment/load-fragment.spec.ts-snapshots/load-as-fragment-Add-to-Canvas-srtuctures-fr-e0c59-mport-structure-as-a-KET-file---open-KET-file-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Pressing-atoms-hotkey-when-atoms-are-selected-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Pasting-SMA-42cb4-two-query-groups-should-not-trigger-any-error-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Pasting-SMA-8c2a2--one-query-group-should-not-trigger-any-error-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/hydrogen-plus-oxygen-arrow-hydrogen-expected.ket
Due: none

#4127 - Migrate to Indigo v1.18.0-rc.8 in-browser module
  package-lock.json
  packages/ketcher-standalone/package.json
Due: prettier --write

#3893 - Remove explicit hydrogens feature changes layout of simple molecules (#4133)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Open-File/Load-Fragment/load-fragment.spec.ts-snapshots/load-as-fragment-Add-to-Canvas-srtuctures-fr-e0c59-mport-structure-as-a-KET-file---open-KET-file-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Pressing-atoms-hotkey-when-atoms-are-selected-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Pasting-SMA-42cb4-two-query-groups-should-not-trigger-any-error-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Pasting-SMA-8c2a2--one-query-group-should-not-trigger-any-error-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/hydrogen-plus-oxygen-arrow-hydrogen-expected.ket
  packages/ketcher-core/src/domain/entities/struct.ts
Due: prettier --write

Backmerge: #3891 - Aromatize/Dearomatize of having abbreviation (Salts and Solvents) on the canvas causes spontaneous random de-abbreviation (#4135)
  packages/ketcher-core/src/application/render/renderStruct.ts
  packages/ketcher-core/src/application/render/restruct/restruct.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/moleculeToStruct.ts
Due: prettier --write

- updated screenshot
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/CDX-Files/cdx-files.spec.ts-snapshots/CDX-files-opening-cdx-files-1-chromium-linux.png
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

- added tests; - added 2 test files; - added expected snapshots
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Confirm-that-if-system-encounters-Peptide-it-is-appears-as-letter-for-natural-analog-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Confirm-that-if-system-encounters-Sugar-Base-or-CHEM-it-is-appears-as-symbol-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Confirm-that-length-of-each-row-is-limited-to-30-nucleotides-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-RNA-in-sequence-mode-switc-98906-onfirm-that-RNA-chain-layout-is-left-to-right-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-RNA-in-sequence-mode-switc-9a23a-onfirm-that-RNA-chain-layout-is-left-to-right-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Press-CTRL-Z-hotkey-button-and-verify-that-layout-returns-to-unarranged-state-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Press-Undo-button-and-verify-that-layout-returns-to-unarranged-state-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/natural-analog-peptides.ket
  ketcher-autotests/tests/test-data/KET/sugar-base-chem-not-connected.ket
Due: prettier --write

Backmerge: #3893 - Remove explicit hydrogens feature changes layout of simple molecules (#4139)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Open-File/Load-Fragment/load-fragment.spec.ts-snapshots/load-as-fragment-Add-to-Canvas-srtuctures-fr-e0c59-mport-structure-as-a-KET-file---open-KET-file-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Pressing-atoms-hotkey-when-atoms-are-selected-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Pasting-SMA-42cb4-two-query-groups-should-not-trigger-any-error-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-pasting-S-Group-as-SMARTS-Pasting-SMA-8c2a2--one-query-group-should-not-trigger-any-error-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/hydrogen-plus-oxygen-arrow-hydrogen-expected.ket
  packages/ketcher-core/src/domain/entities/struct.ts
Due: prettier --write

#3918 - When deleting part of a structure using a hotkey Del, and preview of structure is under mouse cursor, an error occurs.
  packages/ketcher-react/src/script/editor/tool/template.ts
  packages/ketcher-react/src/script/editor/tool/templatePreview.ts
  packages/ketcher-react/src/script/ui/state/handleHotkeysOverItem.ts
Due: prettier --write
