Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

#3775 - Phenylalanine mustard is displayed incorrectly in the Structure library
  packages/ketcher-react/src/templates/library.sdf
Due: none

- fixed tests
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts
  ketcher-autotests/tests/utils/clicks/index.ts
  ketcher-autotests/tests/utils/common/loaders/waitForRender.ts
  packages/ketcher-core/src/application/editor/actions/paste.ts
  packages/ketcher-core/src/application/render/notifyRenderComplete.ts
  packages/ketcher-react/src/script/editor/tool/paste.ts
Due: prettier --write

#4238 - getKet function return ket file without selection flags
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/application/utils.ts
Due: prettier --write

#4241 - Pasting large cyclodextrins structure cause Ketcher to freeze
  packages/ketcher-core/src/application/editor/operations/bond/BondAttr.ts
  packages/ketcher-core/src/application/editor/operations/bond/index.ts
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
  packages/ketcher-core/src/domain/entities/sgroup.ts
  packages/ketcher-react/src/script/editor/tool/paste.ts
Due: prettier --write

- added condition for invalidation in bonds operations
  packages/ketcher-core/src/application/editor/operations/bond/BondAttr.ts
  packages/ketcher-core/src/application/editor/operations/bond/index.ts
Due: prettier --write

#4241 - Pasting large cyclodextrins structure cause Ketcher to freeze (#4273)
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts
  ketcher-autotests/tests/utils/clicks/index.ts
  ketcher-autotests/tests/utils/common/loaders/waitForRender.ts
  packages/ketcher-core/src/application/editor/actions/paste.ts
  packages/ketcher-core/src/application/editor/operations/bond/BondAttr.ts
  packages/ketcher-core/src/application/editor/operations/bond/index.ts
  packages/ketcher-core/src/application/render/notifyRenderComplete.ts
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
  packages/ketcher-core/src/domain/entities/sgroup.ts
  packages/ketcher-react/src/script/editor/tool/paste.ts
Due: prettier --write

Backmerge: #4241 - Pasting large cyclodextrins structure cause Ketcher to freeze (#4265)
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts
  ketcher-autotests/tests/utils/clicks/index.ts
  ketcher-autotests/tests/utils/common/loaders/waitForRender.ts
  packages/ketcher-core/src/application/editor/actions/paste.ts
  packages/ketcher-core/src/application/editor/operations/bond/BondAttr.ts
  packages/ketcher-core/src/application/editor/operations/bond/index.ts
  packages/ketcher-core/src/application/render/notifyRenderComplete.ts
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
  packages/ketcher-core/src/domain/entities/sgroup.ts
  packages/ketcher-react/src/script/editor/tool/paste.ts
Due: prettier --write

#4109 - Macro: UI support export sequence
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Check-that-system-does-not-let-uploading-corrupted-seq-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Import-incorrect-data-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Import-seq-DNA-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Import-seq-Peptide-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Import-seq-RNA-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Should-not-convert-k-24fc3--RNA-and-Peptide-to-seq-format-in-save-modal-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Should-not-convert-ket-file-with-CHEMs-to-seq-format-in-save-modal-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Validate-correct-disp-527b1-viewed-RNA-chain-loaded-from-seq-file-format-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Sequence/sequence-corrupted.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-dna.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-empty.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-peptide.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-rna-a-expected.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-rna-a.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-rna.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-snake-mode-rna-expected.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-snake-mode-rna.seq
  ketcher-autotests/tests/utils/files/receiveFileComparisonData.ts
  ketcher-autotests/tests/utils/formats/formats.ts
  ketcher-autotests/tests/utils/macromolecules/index.ts
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-core/src/application/formatters/structFormatter.types.ts
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-macromolecules/src/components/modal/save/Save.tsx
  packages/ketcher-macromolecules/src/helpers/formats/formatProperties.ts
  packages/ketcher-macromolecules/src/helpers/formats/supportedFormatProperties.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.types.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

- fixed test files path
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts
Due: prettier --write

#3734 - Macro: Displaying modified nucleotide chains in sequence representation
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/NucleotideSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceNodeRendererFactory.ts
  packages/ketcher-core/src/domain/entities/LinkerSequenceNode.ts
  packages/ketcher-core/src/domain/entities/monomer-chains/Chain.ts
Due: prettier --write

#4255 - Hand tool coordinates on canvas calculated are not correct
  packages/ketcher-react/src/script/editor/tool/hand.ts
  packages/ketcher-react/src/script/ui/views/components/Cursor.jsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- tests written - fixed screenshots
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-LClick-drag-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-LClick-drag-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowLeft-then-delete-and-undo-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowLeft-then-delete-and-undo-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowLeft-then-delete-and-undo-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowLeft-then-delete-and-undo-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowRight-button-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-view-mode-Select-entire-chain-with-Ctrl-Lclick-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-view-mode-Select-letters-with-Shift-Lclick-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-view-mode-Select-letters-with-rectangular-selection-tool-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-modified-RNA-in-sequence-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-modified-RNA-in-sequence-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-monomers-chains-and-switch-to-sequence-mode-2-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/modified-nucleotide-chain.ket
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Check-import-of-ket-file-and-save-in-seq-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Import-seq-DNA-file-1-chromium-linux.png
  ketcher-autotests/tests/utils/files/receiveFileComparisonData.ts
  packages/ketcher-macromolecules/src/components/modal/Open/AnalyzingFile/LoadingCircles/LoadingCircles.tsx
Due: prettier --write

#3734 - Macro: Displaying modified nucleotide chains in sequence representation (#4288)
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-LClick-drag-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-LClick-drag-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowLeft-then-delete-and-undo-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowLeft-then-delete-and-undo-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowLeft-then-delete-and-undo-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowLeft-then-delete-and-undo-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowRight-button-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-view-mode-Select-entire-chain-with-Ctrl-Lclick-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-view-mode-Select-letters-with-Shift-Lclick-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-view-mode-Select-letters-with-rectangular-selection-tool-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-modified-RNA-in-sequence-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-modified-RNA-in-sequence-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-monomers-chains-and-switch-to-sequence-mode-2-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/modified-nucleotide-chain.ket
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/ChemSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/EmptySequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/NucleotideSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/PeptideSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/PhosphateSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceNodeRendererFactory.ts
  packages/ketcher-core/src/domain/entities/BaseMonomer.ts
  packages/ketcher-core/src/domain/entities/LinkerSequenceNode.ts
  packages/ketcher-core/src/domain/entities/MonomerSequenceNode.ts
  packages/ketcher-core/src/domain/entities/Nucleoside.ts
  packages/ketcher-core/src/domain/entities/Nucleotide.ts
  packages/ketcher-core/src/domain/entities/monomer-chains/Chain.ts
Due: prettier --write

- fixed tests
  packages/ketcher-macromolecules/src/components/modal/Open/AnalyzingFile/LoadingCircles/__snapshots__/LoadingCircles.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/Open/AnalyzingFile/__snapshots__/AnalyzingFile.test.tsx.snap
Due: none

- fixed tests
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Import-seq-DNA-file-1-chromium-linux.png
Due: none

#4109 - Macro: UI support export sequence (#4285)
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Check-import-of-ket-file-and-save-in-seq-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Check-that-system-does-not-let-uploading-corrupted-seq-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Import-incorrect-data-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Import-seq-DNA-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Import-seq-Peptide-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Import-seq-RNA-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Should-not-convert-k-24fc3--RNA-and-Peptide-to-seq-format-in-save-modal-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Should-not-convert-ket-file-with-CHEMs-to-seq-format-in-save-modal-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Validate-correct-disp-527b1-viewed-RNA-chain-loaded-from-seq-file-format-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Sequence/sequence-corrupted.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-dna.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-empty.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-peptide.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-rna-a-expected.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-rna-a.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-rna.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-snake-mode-rna-expected.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-snake-mode-rna.seq
  ketcher-autotests/tests/utils/files/receiveFileComparisonData.ts
  ketcher-autotests/tests/utils/formats/formats.ts
  ketcher-autotests/tests/utils/macromolecules/index.ts
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-core/src/application/formatters/structFormatter.types.ts
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-macromolecules/src/components/modal/Open/AnalyzingFile/LoadingCircles/LoadingCircles.tsx
  packages/ketcher-macromolecules/src/components/modal/Open/AnalyzingFile/LoadingCircles/__snapshots__/LoadingCircles.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/Open/AnalyzingFile/__snapshots__/AnalyzingFile.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/save/Save.tsx
  packages/ketcher-macromolecules/src/helpers/formats/formatProperties.ts
  packages/ketcher-macromolecules/src/helpers/formats/supportedFormatProperties.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.types.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

apply custom icons for hand tool, remove unnessary logic
  packages/ketcher-react/src/script/editor/tool/hand.ts
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Backmerge: #4109 - Macro: UI support export sequence (#4294)
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Check-import-of-ket-file-and-save-in-seq-format-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Check-that-system-does-not-let-uploading-corrupted-seq-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Import-incorrect-data-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Import-seq-DNA-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Import-seq-Peptide-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Import-seq-RNA-file-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Should-not-convert-k-24fc3--RNA-and-Peptide-to-seq-format-in-save-modal-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Should-not-convert-ket-file-with-CHEMs-to-seq-format-in-save-modal-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Validate-correct-disp-527b1-viewed-RNA-chain-loaded-from-seq-file-format-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Sequence/sequence-corrupted.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-dna.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-empty.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-peptide.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-rna-a-expected.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-rna-a.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-rna.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-snake-mode-rna-expected.seq
  ketcher-autotests/tests/test-data/Sequence/sequence-snake-mode-rna.seq
  ketcher-autotests/tests/utils/files/receiveFileComparisonData.ts
  ketcher-autotests/tests/utils/formats/formats.ts
  ketcher-autotests/tests/utils/macromolecules/index.ts
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-core/src/application/formatters/structFormatter.types.ts
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-macromolecules/src/components/modal/Open/AnalyzingFile/LoadingCircles/LoadingCircles.tsx
  packages/ketcher-macromolecules/src/components/modal/Open/AnalyzingFile/LoadingCircles/__snapshots__/LoadingCircles.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/Open/AnalyzingFile/__snapshots__/AnalyzingFile.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/save/Save.tsx
  packages/ketcher-macromolecules/src/helpers/formats/formatProperties.ts
  packages/ketcher-macromolecules/src/helpers/formats/supportedFormatProperties.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.types.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

#4271 - Macro: The Uncaught TypeError appears in the DevTool Console, when scrolling until it stops, using the Shift+Left arrow, in the Text-editing mode
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

#4295 - Cannot save FASTA using the Remote mode
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-macromolecules/src/helpers/formats/supportedFormatProperties.ts
Due: prettier --write

#3894 Paste from clipboard in sequence mode
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/editor/tools/Zoom.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
  packages/ketcher-core/src/application/utils.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/monomerToDrawingEntity.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
  packages/ketcher-core/src/utilities/clipboardUtils.ts
  packages/ketcher-core/src/utilities/index.ts
  packages/ketcher-macromolecules/src/components/SequenceTypeButton/SequenceTypeDropdown.tsx
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.jsx
  packages/ketcher-react/src/script/ui/component/cliparea/clipboardUtils.js
  packages/ketcher-react/src/script/ui/state/hotkeys.ts
Due: prettier --write

replace url path with base64 encoded svg
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

- need to find proper parameter in indigo
  packages/ketcher-core/src/infrastructure/services/helpers.ts
  packages/ketcher-core/src/infrastructure/services/index.ts
  packages/ketcher-core/src/infrastructure/services/struct/remoteStructService.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

#4271 - Macro: The Uncaught TypeError appears in the DevTool Console, when scrolling until it stops, using the Shift+Left arrow, in the Text-editing mode (#4298)
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

#4295 - Cannot save FASTA using the Remote mode (#4299)
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-macromolecules/src/helpers/formats/supportedFormatProperties.ts
Due: prettier --write

- added tests to 'snake-bond-tool'; - added 1 test file; - added expected snapshot
  ketcher-autotests/tests/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Check-snake-layout-to-monomers-connected-through-R1-to-R2-and-R3-to-R2-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Check-snake-layout-to-monomers-connected-through-R1-to-R2-and-R3-to-R2-2-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/three-peptides-connected-r1-r2-r3-r2.ket
Due: prettier --write

#4297 - Macro: When removing nucleotides from the canvas, the preview of the nucleotide does not disappear, if you leave the cursor over it
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/editor/tools/Tool.ts
  packages/ketcher-core/src/application/editor/tools/Zoom.ts
  packages/ketcher-core/src/application/render/renderers/BaseRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
  packages/ketcher-macromolecules/src/Editor.tsx
Due: prettier --write

#4271 - Macro: The Uncaught TypeError appears in the DevTool Console, when scrolling until it stops, using the Shift+Left arrow, in the Text-editing mode (#4300)
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

- fixed tests
  packages/ketcher-core/src/application/render/renderers/BaseRenderer.ts
Due: prettier --write
