Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

fixes
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-31-Moving-of-selected-microstructures-on-macro-canvas-works-correct-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-31-Moving-of-selected-microstructures-on-macro-canvas-works-correct-2-chromium-popup-linux.png
Due: none

f4
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-31-Moving-of-selected-microstructures-on-macro-canvas-works-correct-2-chromium-linux.png
Due: none

f5
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-31-Moving-of-selected-microstructures-on-macro-canvas-works-correct-2-chromium-popup-linux.png
Due: none

#5656 Bond properties are not implemented (#8769)
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-27-Atom-Bond-selection-not-remains-on-the-canvas-after-clear-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-31-Moving-of-selected-microstructures-on-macro-canvas-works-correct-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-31-Moving-of-selected-microstructures-on-macro-canvas-works-correct-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-34-Clear-canvas-work-for-micro-structures-on-macro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-27-Atom-Bond-selection-not-remains-on-the-canvas-after-clear-canvas-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-31-Moving-of-selected-microstructures-on-macro-canvas-works-correct-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-31-Moving-of-selected-microstructures-on-macro-canvas-works-correct-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-34-Clear-canvas-work-for-micro-structures-on-macro-mode-1-chromium-popup-linux.png
  packages/ketcher-core/src/application/render/renderers/BondRenderer.ts
Due: prettier --write

Moved buggy test to the end of test suit.
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts
Due: prettier --write

7475 autotests transform isolated test execution to clear canvas test execution for sequence mode editspects (#8959)
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts
Due: prettier --write

#8954 Undo/redo operations doesn't work for atoms, arrows and pluses after changing their positions in Macro mode (#8956)
  package-lock.json
  packages/ketcher-core/__tests__/application/editor/tools/select/SelectBase.test.ts
  packages/ketcher-core/src/application/editor/tools/select/SelectBase.ts
Due: prettier --write

- added tests
  ketcher-autotests/playwright.config.ts
  ketcher-autotests/tests/pages/constants/monomers/Presets.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Create-nucleotide-preset-and-add-it-from-Library-to-canvas-Macro-1-chromium-popup-linux.png
Due: prettier --write

- fixed test names
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Create-nucleotide-preset-and-add-it-from-Library-to-canvas-Macro-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Hidden-components-in-nucleotide-preset-wizard--9e30d--preset-can-be-added-to-canvas-after-creation-1-chromium-popup-linux.png
Due: prettier --write

- fixed config
  ketcher-autotests/playwright.config.ts
Due: prettier --write

- added task to test
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts
Due: prettier --write

fixed snake mode small molecules position
  packages/ketcher-core/src/domain/entities/snake-layout-model/SnakeLayoutModel.ts
Due: prettier --write

- added tests - fixed descriptions
  ketcher-autotests/tests/pages/constants/monomers/Bases.ts
  ketcher-autotests/tests/pages/constants/monomers/Phosphates.ts
  ketcher-autotests/tests/pages/constants/monomers/Presets.ts
  ketcher-autotests/tests/pages/constants/monomers/Sugars.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts
  ketcher-autotests/tests/utils/macromolecules/monomer.ts
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
Due: prettier --write

- removed obsolete screenshot
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Hidden-components-in-nucleotide-preset-wizard--9e30d--preset-can-be-added-to-canvas-after-creation-1-chromium-popup-linux.png
Due: none

Autotests: #8857 - Monomer saving - presets in the monomer creation wizard (#8963)
  ketcher-autotests/tests/pages/constants/monomers/Bases.ts
  ketcher-autotests/tests/pages/constants/monomers/Phosphates.ts
  ketcher-autotests/tests/pages/constants/monomers/Presets.ts
  ketcher-autotests/tests/pages/constants/monomers/Sugars.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts
  ketcher-autotests/tests/utils/macromolecules/monomer.ts
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
Due: prettier --write

Delete documentation/images/Monomer-Creation-Wizard-3-3.10..png
  documentation/images/Monomer-Creation-Wizard-3-3.10..png
Due: none

Delete documentation/images/Monomer-Creation-Wizard-9-3.10..png
  documentation/images/Monomer-Creation-Wizard-9-3.10..png
Due: none

Delete documentation/images/Monomer-Creation-Wizard-2-3.10..png
  documentation/images/Monomer-Creation-Wizard-2-3.10..png
Due: none

Delete documentation/images/Monomer-Creation-Wizard-10-3.9..png
  documentation/images/Monomer-Creation-Wizard-10-3.9..png
Due: none

Delete documentation/images/Monomer-Creation-Wizard-11-3.9..png
  documentation/images/Monomer-Creation-Wizard-11-3.9..png
Due: none

Add files via upload
  documentation/images/Monomer-Creation-Wizard-11-3.11..png
  documentation/images/Monomer-Creation-Wizard-12-3.11..png
  documentation/images/Monomer-Creation-Wizard-13-3.11..png
  documentation/images/Monomer-Creation-Wizard-2-3.11..png
  documentation/images/Monomer-Creation-Wizard-3-3.11..png
  documentation/images/Monomer-Creation-Wizard-9-3.11..png
Due: none

- updated indigo and ketcher
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

Update help.md
  documentation/help.md
Due: none

а2
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/31-Check-that-created-1-Amino-Acid-monomer--6e8e5-can-be-saved-opened-to-from-CML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/31-Check-that-created-2-Sugar-monomer-expanded-can-be-saved-opened-to-from-CML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/31-Check-that-created-3-Base-monomer-expanded-can-be-saved-opened-to-from-CML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/31-Check-that-created-4-Phosphate-monomer-e-b3e52-can-be-saved-opened-to-from-CML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/31-Check-that-created-5-Nucleotide-monomer--2b0f2-can-be-saved-opened-to-from-CML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/31-Check-that-created-6-CHEM-monomer-expanded-can-be-saved-opened-to-from-CML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/34-Check-that-created-1-Amino-Acid-monomer--3f129-n-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/34-Check-that-created-2-Sugar-monomer-expanded-can-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/34-Check-that-created-3-Base-monomer-expanded-can-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/34-Check-that-created-4-Phosphate-monomer-e-bfbc2-n-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/34-Check-that-created-5-Nucleotide-monomer--83d67-n-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/34-Check-that-created-6-CHEM-monomer-expanded-can-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/44-Check-that-created-1-Amino-Acid-monomer--7c2b1-n-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/44-Check-that-created-2-Sugar-monomer-colla-4e49b-n-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/44-Check-that-created-3-Base-monomer-collapsed-can-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/44-Check-that-created-4-Phosphate-monomer-c-d20bb-n-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/44-Check-that-created-5-Nucleotide-monomer--9776b-n-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/44-Check-that-created-6-CHEM-monomer-collapsed-can-be-saved-opened-to-from-CDXML-in-Micro-mode-1-chromium-popup-linux.png
Due: prettier --write

#8918 - Update the help document (3.11.) (#8967)
  documentation/help.md
  documentation/images/Monomer-Creation-Wizard-10-3.9..png
  documentation/images/Monomer-Creation-Wizard-11-3.11..png
  documentation/images/Monomer-Creation-Wizard-11-3.9..png
  documentation/images/Monomer-Creation-Wizard-12-3.11..png
  documentation/images/Monomer-Creation-Wizard-13-3.11..png
  documentation/images/Monomer-Creation-Wizard-2-3.10..png
  documentation/images/Monomer-Creation-Wizard-2-3.11..png
  documentation/images/Monomer-Creation-Wizard-3-3.10..png
  documentation/images/Monomer-Creation-Wizard-3-3.11..png
  documentation/images/Monomer-Creation-Wizard-9-3.10..png
  documentation/images/Monomer-Creation-Wizard-9-3.11..png
Due: none

hide scrollbar another way
  documentation/help.md
  ketcher-autotests/constants/index.ts
  ketcher-autotests/tests/utils/canvas/helpers.ts
  ketcher-autotests/tests/utils/hideScroll.css
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Remove duplicating comments
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceEventDelegationManager.ts
Due: prettier --write

- add confirmation message dialog for type change in nucleotide preset creation tests - added confirmation message dialog page object to tests
  ketcher-autotests/tests/pages/molecules/canvas/ConfirmationMessageDialog.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts
Due: prettier --write

- added tests for context menu options for marking structure as nucleotide components
  ketcher-autotests/tests/pages/constants/contextMenu/Constants.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Mark-as-context-menu-for-Nucleotide-preset-0966f--is-disabled-for-non-continuous-selection-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Mark-as-context-menu-for-Nucleotide-preset-1d60e-on-if-monomer-type-is-not-Nucleotide-preset-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Mark-as-context-menu-for-Nucleotide-preset-50732-xt-menu-opens-the-corresponding-component-tab-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Mark-as-context-menu-for-Nucleotide-preset-9f880--context-menu-and-verify-fields-are-populated-1-chromium-popup-linux.png
Due: prettier --write

- fixed issues numbers
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts
Due: prettier --write

- added tests for preset code validation and default component code behavior in nucleotide preset creation
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Preset-code-formatting-and-default-component-c-dcfe4-et-code-shows-error-and-highlights-Preset-tab-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Preset-code-formatting-and-default-component-c-e8ce4-et-code-shows-error-and-highlights-Preset-tab-2-chromium-popup-linux.png
Due: none

- added tests for preset code validation and default component code behavior in nucleotide preset creation
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts
Due: prettier --write

Autotests: #8849 - Entering the wizard - presets in the monomer creation wizard (#8970)
  ketcher-autotests/tests/pages/constants/contextMenu/Constants.ts
  ketcher-autotests/tests/pages/molecules/canvas/ConfirmationMessageDialog.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Mark-as-context-menu-for-Nucleotide-preset-0966f--is-disabled-for-non-continuous-selection-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Mark-as-context-menu-for-Nucleotide-preset-1d60e-on-if-monomer-type-is-not-Nucleotide-preset-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Mark-as-context-menu-for-Nucleotide-preset-50732-xt-menu-opens-the-corresponding-component-tab-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Mark-as-context-menu-for-Nucleotide-preset-9f880--context-menu-and-verify-fields-are-populated-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Preset-code-formatting-and-default-component-c-dcfe4-et-code-shows-error-and-highlights-Preset-tab-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Preset-code-formatting-and-default-component-c-e8ce4-et-code-shows-error-and-highlights-Preset-tab-2-chromium-popup-linux.png
Due: prettier --write

add the fixture at the beginning of the test
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts
Due: prettier --write

fixed tests
  ketcher-autotests/tests/specs/Chromium-popup/Snake-Mode/snake-layout-for-micromolecules.spec.ts-snapshots/Snake-Layout-for-Microstructures-Case-5-Check-93331-ioritized-and-the-SM-placed-in-a-row-below-it-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Snake-Mode/snake-layout-for-micromolecules.spec.ts-snapshots/Snake-Layout-for-Microstructures-by-Ruler-Case-6c5bb-s-when-change-layout-by-dragging-ruler-slider-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Snake-Mode/snake-layout-for-micromolecules.spec.ts-snapshots/Snake-Layout-for-Microstructures-by-Ruler-Case-c0ce2-s-when-change-layout-by-dragging-ruler-slider-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Snake-Mode/snake-layout-for-micromolecules.spec.ts-snapshots/Snake-Layout-for-Microstructures-by-Ruler-Case-d61f0-s-when-change-layout-by-dragging-ruler-slider-1-chromium-popup-linux.png
Due: none

fix the failed tests
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Switch-from-flex-view-to-sequence-view-to-snake-view-and-back-to-flex-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Switch-from-flex-view-to-sequence-view-to-snake-view-and-back-to-flex-3-chromium-linux.png
Due: prettier --write

#8245 - Small molecules positioning rule is not respected when connected to multiple monomers in different chains (#8964)
  ketcher-autotests/tests/specs/Chromium-popup/Snake-Mode/snake-layout-for-micromolecules.spec.ts-snapshots/Snake-Layout-for-Microstructures-Case-5-Check-93331-ioritized-and-the-SM-placed-in-a-row-below-it-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Snake-Mode/snake-layout-for-micromolecules.spec.ts-snapshots/Snake-Layout-for-Microstructures-by-Ruler-Case-6c5bb-s-when-change-layout-by-dragging-ruler-slider-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Snake-Mode/snake-layout-for-micromolecules.spec.ts-snapshots/Snake-Layout-for-Microstructures-by-Ruler-Case-c0ce2-s-when-change-layout-by-dragging-ruler-slider-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Snake-Mode/snake-layout-for-micromolecules.spec.ts-snapshots/Snake-Layout-for-Microstructures-by-Ruler-Case-d61f0-s-when-change-layout-by-dragging-ruler-slider-1-chromium-popup-linux.png
  packages/ketcher-core/src/domain/entities/snake-layout-model/SnakeLayoutModel.ts
Due: prettier --write

7927 monomer selection after scroll (#8953)
  packages/ketcher-core/src/application/editor/tools/select/SelectBase.ts
  packages/ketcher-core/src/application/editor/tools/select/SelectRectangle.ts
Due: prettier --write
