Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#11264 Refactor: react-hooks/exhaustive-deps rule violation clean up from packages\ketcher-react\src\script\ui\views\components\MonomerCreationWizard\MonomerCreationWizard.tsx file (#11435)
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
Due: prettier --write

#11284 - Refactor: react-hooks/exhaustive-deps rule violation clean up from packages\ketcher-macromolecules\src\components\SequenceSyncEditModeButton\SequenceSyncEditModeButton.tsx file (#11332)
  packages/ketcher-macromolecules/src/components/SequenceSyncEditModeButton/SequenceSyncEditModeButton.test.tsx
  packages/ketcher-macromolecules/src/components/SequenceSyncEditModeButton/SequenceSyncEditModeButton.tsx
Due: prettier --write

#7182 - Update empty data indicator colors to gray
  .gitignore
  packages/ketcher-macromolecules/src/components/macromoleculeProperties/MacromoleculePropertiesWindow.tsx
Due: prettier --write

#11266 - Refactor: react-hooks/exhaustive-deps rule violation clean up from useSaltsAndSolvets.ts (#11433)
  packages/ketcher-react/src/script/ui/dialog/template/useSaltsAndSolvets.ts
Due: prettier --write

#5583 - Keep the current render options when editor.options() applies new ones
  packages/ketcher-react/src/script/editor/Editor.test.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

Fix macromolecules properties CI build failure (#11920)
  packages/ketcher-macromolecules/src/components/macromoleculeProperties/MacromoleculePropertiesWindow.tsx
Due: prettier --write

- moved general tab to top
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
Due: prettier --write

#5583 - Rebuild the render from its user options so the derived values follow the new settings
  packages/ketcher-core/src/application/render/raphaelRender.ts
  packages/ketcher-react/src/script/editor/Editor.test.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#11902-rewrite-packagesketcher-coretextfiletransformerjs-from-javascript-to-typescript
  packages/ketcher-core/jest.config.js
  packages/ketcher-core/textFileTransformer.js
  packages/ketcher-core/textFileTransformer.ts
Due: prettier --write

fixed an eslint issue
  packages/ketcher-core/textFileTransformer.ts
Due: prettier --write

#11078 – Paste option is enabled in Macromolecules mode when clipboard content is invalid
  ketcher-autotests/tests/specs/Macromolecule-editor/Right-Click-Menu/right-click-menu-macro.spec.ts
  packages/ketcher-core/src/application/editor/modes/BaseMode.ts
  packages/ketcher-core/src/utilities/clipboardUtils.ts
  packages/ketcher-macromolecules/src/Editor.tsx
Due: prettier --write

#7366 – Scope contracted-label movement to prevent expansion and export regressions
  packages/ketcher-core/__tests__/application/editor/actions/fragment.test.ts
  packages/ketcher-core/__tests__/application/editor/actions/sgroup.test.ts
  packages/ketcher-core/src/application/editor/actions/fragment.ts
  packages/ketcher-core/src/application/editor/actions/sgroup.ts
  packages/ketcher-core/src/application/editor/operations/sgroup/SGroupDataMove.ts
  packages/ketcher-core/src/domain/entities/monomerMicromolecule.ts
  packages/ketcher-core/src/domain/entities/sgroup.ts
  packages/ketcher-react/src/script/editor/tool/templatePreview.ts
Due: prettier --write

feat: add custom tooltip styling for attachment group in context menus
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AtomMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/SelectionMenuItems.tsx
Due: prettier --write

feat: unify AG marking styles - default, hovered, and connectedHovered
  packages/ketcher-core/__tests__/application/render/restruct/reattachmentGroup.test.ts
  packages/ketcher-core/src/application/render/restruct/attachmentGroupRender.ts
  packages/ketcher-core/src/application/render/restruct/reattachmentGroup.ts
  packages/ketcher-react/src/script/editor/tool/bond.test.ts
  packages/ketcher-react/src/script/editor/tool/bond.ts
  packages/ketcher-react/src/script/editor/tool/hapticBondTool.ts
Due: prettier --write

Restore master tooling reverted by merge 21e59ce41
  demo/package.json
  example-ssr/package.json
  example/package.json
  ketcher-autotests/Dockerfile-ketcher
  package-lock.json
  package.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-react/src/script/ui/dialog/template/template-lib.module.less
  packages/ketcher-standalone/package.json
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.babelrc: drop allowDeclareFields for Babel 8
  packages/ketcher-core/.babelrc
  packages/ketcher-react/.babelrc
Due: none

Guard the monomer library read in standalone convert()
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

Close the monomer creation wizard's library-load race
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
Due: prettier --write

#9489 - fix creating a nucleotide preset with reused component codes overwrites an existing preset
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-macromolecules/src/state/rna-builder/rnaBuilderSlice.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#10248 – Nucleotide preset: Atom not highlighted red if corresponding component tab is active (#11897)
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Problematic-atom-is-highlighted-in-red-when-Phosphate-tab-is-active-1-chromium-popup-linux.png
  packages/ketcher-core/src/application/render/restruct/reatom.ts
Due: prettier --write

#10489 – Add an explanation about atom/bond IDs to the "Check structure" window (#11807)
  ketcher-autotests/tests/pages/molecules/canvas/StructureCheckDialog.ts
  ketcher-autotests/tests/specs/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Hotkeys--1fbc2-fy-that-hotkey-Alt-s-triggers-Check-structure-1-chromium-linux.png
  ketcher-autotests/tests/specs/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Verify-t-aec80-ewer-tools-are-operational-in-view-only-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.8.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-8-0-Case-31-Indigo-function-ae50e-ues-Add-Remove-Hydrogens-work-for-star-atom-7-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/29-Verify-that-Check-structure-button-performs-validation-and-not-shows-errors-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/32-Verify-that-multiple-toolbar-actions-can-be-used-consecutively-without-errors-5-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/32-Verify-that-multiple-toolbar-actions-can-be-used-consecutively-without-errors-7-chromium-popup-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-added-to-Canvas-images-51b0f--Alt-S-action-it-is-calculated-for-elements-2-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Calculated-Values-Tool/calculated-values.spec.ts
  ketcher-autotests/tests/specs/Indigo-Tools/Calculated-Values-Tool/calculated-values.spec.ts-snapshots/Calculated-Values-Tools-Structure-Check-window-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-Structure-Check-works-for-molecules-with-AP-1-chromium-linux.png
  ketcher-autotests/tests/specs/Reactions/Reaction-tools/Multi-Tailed-Arrow-Tool/multi-tailed-arrow-tool.spec.ts-snapshots/Multi-Tailed-Arrow-Tool-Verify-the-cascade-reaction-after-Check-Structure-action-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-node-D-button-recognition-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-node-H--button-recognition-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-node-Pol-button-recognition-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-node-R-button-recognition-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-node-T-button-recognition-1-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Drop Babel from the jest pipeline
  package-lock.json
  packages/ketcher-core/.babelrc
  packages/ketcher-core/jest.config.js
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/jest.config.js
  packages/ketcher-react/.babelrc
  packages/ketcher-react/jest.config.js
  packages/ketcher-react/package.json
Due: prettier --write

Drop the global form-control style override
  example-ssr/src/app/globals.css
  example/src/index.css
Due: stylelint --formatter verbose --fix --allow-empty-input

fix: correct HAPTIC_BOND_LENGTH_FACTOR value to 1.5
  packages/ketcher-core/src/domain/helpers/hapticBond.ts
Due: prettier --write

#7328 Version update, resulting in errors (#11528)
  packages/ketcher-core/__tests__/application/editor/tools/ClearTool.test.ts
  packages/ketcher-core/__tests__/application/editor/tools/SelectRectangleTool.test.ts
  packages/ketcher-core/src/application/editor/tools/Zoom.ts
Due: prettier --write

Restore the react-scripts CSS reset in the example
  example/package.json
  example/src/index.css
  package-lock.json
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/components/FormulaInput/FormulaInput.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/components/FormulaInput/FormulaInput.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#3709 Displaying Warning message in case of files with no atoms (#11531)
  ketcher-autotests/tests/specs/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-RDF-file-with-RX-98c04--0-can-be-loaded-nothing-is-added-to-Canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-RDF-file-with-RX-afa62--0-can-be-loaded-nothing-is-added-to-Canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-empty-Canvas-wit-220a5--0-0-reactions-can-be-saved-to-RDF-RXN-V3000-1-chromium-linux.png
  ketcher-autotests/tests/specs/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-empty-Canvas-wit-5032f--0-0-reactions-can-be-saved-to-RDF-RXN-V2000-2-chromium-linux.png
  ketcher-autotests/tests/specs/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-empty-Canvas-wit-77afe--0-0-reactions-can-be-saved-to-RDF-RXN-V3000-2-chromium-linux.png
  ketcher-autotests/tests/specs/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-empty-Canvas-wit-95f8d--0-0-reactions-can-be-saved-to-RDF-RXN-V2000-2-chromium-linux.png
  ketcher-autotests/tests/specs/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-empty-Canvas-wit-b3b67--0-0-reactions-can-be-saved-to-RDF-RXN-V3000-1-chromium-linux.png
  ketcher-autotests/tests/specs/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-empty-Canvas-wit-dad61--0-0-reactions-can-be-saved-to-RDF-RXN-V2000-1-chromium-linux.png
  ketcher-autotests/tests/specs/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-empty-Canvas-wit-e4768--0-0-reactions-can-be-saved-to-RDF-RXN-V3000-2-chromium-linux.png
  ketcher-autotests/tests/specs/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-empty-Canvas-wit-e88dc--0-0-reactions-can-be-saved-to-RDF-RXN-V2000-1-chromium-linux.png
  packages/ketcher-macromolecules/src/components/modal/Open/Open.tsx
  packages/ketcher-react/src/script/ui/state/shared.ts
Due: prettier --write

Correct the chunk-size-limit comment
  example/vite.config.js
Due: prettier --write

Fix
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.tsx
Due: prettier --write

fix
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.tsx
Due: prettier --write

Restore the template search placeholder styling
  packages/ketcher-react/src/script/ui/dialog/template/template-lib.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Update Check.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.tsx
Due: prettier --write

fix: drop eslint-disable in RnaEditorExpanded without changing hook behavior
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
Due: prettier --write

fonts as Figma version
  example/src/index.css
  package-lock.json
  package.json
  packages/ketcher-macromolecules/src/components/shared/Tabs/Tabs.styles.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#11101 - Refactor: set-state-in-effect anti-pattern elimination from packages\ketcher-react\src\script\ui\views\modal\components\process\Check\Check.tsx file (#11300)
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.tsx
Due: prettier --write

feat: clicking on AG marking selects all atoms and bonds related
  packages/ketcher-core/__tests__/application/render/restruct/reattachmentGroup.test.ts
  packages/ketcher-core/src/application/render/restruct/attachmentGroupRender.ts
  packages/ketcher-core/src/application/render/restruct/reattachmentGroup.ts
  packages/ketcher-core/src/application/render/restruct/restruct.ts
  packages/ketcher-react/src/script/editor/tool/helper/locate.test.ts
  packages/ketcher-react/src/script/editor/tool/helper/locate.ts
  packages/ketcher-react/src/script/editor/tool/select/select.helpers.test.ts
  packages/ketcher-react/src/script/editor/tool/select/select.helpers.ts
  packages/ketcher-react/src/script/editor/tool/select/select.test.ts
  packages/ketcher-react/src/script/editor/tool/select/select.ts
Due: prettier --write

feat: remove attachment group with selection
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.utils.test.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.utils.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/contextMenu.types.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useAttachmentGroupDelete.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AtomMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AttachmentGroupActionMenuItem.test.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AttachmentGroupActionMenuItem.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AttachmentGroupMenuItems.test.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AttachmentGroupMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/SelectionMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/utils.test.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/utils.ts
Due: prettier --write

#4384 - Add OpenSpec proposal for ketcher-react i18n foundation
  openspec/changes/ketcher-react-i18n-foundation/.openspec.yaml
  openspec/changes/ketcher-react-i18n-foundation/design.md
  openspec/changes/ketcher-react-i18n-foundation/proposal.md
  openspec/changes/ketcher-react-i18n-foundation/specs/i18n-infrastructure/spec.md
  openspec/changes/ketcher-react-i18n-foundation/specs/rtl-layout-foundation/spec.md
  openspec/changes/ketcher-react-i18n-foundation/specs/translation-key-extraction-ketcher-react/spec.md
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

#4384 - Mark Sections 1-2 progress in tasks.md
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

#4384 - Section 1: extract toolbar/menu action titles into translation keys
  openspec/changes/ketcher-react-i18n-foundation/design.md
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
  packages/ketcher-react/jest.config.js
  packages/ketcher-react/src/locales/en/common.json
  packages/ketcher-react/src/locales/en/toolbar.json
  packages/ketcher-react/src/script/ui/action/action.types.ts
  packages/ketcher-react/src/script/ui/action/atoms.js
  packages/ketcher-react/src/script/ui/action/copyAs.js
  packages/ketcher-react/src/script/ui/action/copyImageToClipboard.js
  packages/ketcher-react/src/script/ui/action/fullscreen.ts
  packages/ketcher-react/src/script/ui/action/functionalGroups.ts
  packages/ketcher-react/src/script/ui/action/highlightColors/HighlightColors.tsx
  packages/ketcher-react/src/script/ui/action/index.ts
  packages/ketcher-react/src/script/ui/action/server.ts
  packages/ketcher-react/src/script/ui/action/templates.js
  packages/ketcher-react/src/script/ui/action/tools.ts
  packages/ketcher-react/src/script/ui/action/zoom.js
  packages/ketcher-react/src/script/ui/component/actionmenu.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/InfoModal/InfoModal.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ActionButton/ActionButton.tsx
  packages/ketcher-react/testIntlMessageFormatMock.js
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
