Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix syntax error compiled schema js
  packages/ketcher-core/scripts/compile-ket-schema.cjs
  packages/ketcher-core/src/application/render/raphael-ext.ts
Due: prettier --write

#5857 - Update screenshots.
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.7.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-7-0-Case-11-System-not-wrongly-loads-s-group-superatom-as-chem-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.7.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-7-0-Case-22-Export-to-RXN-w-3060b-exception-Error-memory-access-out-of-bounds-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Redo-Capability-with-Ctrl-Y-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Hotkeys/hotkeys.spec.ts-snapshots/Hotkeys-Check-Undo-Functionality-with-Ctrl-Z-and-Redo-with-Ctrl-Shift-Z-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-Saving-mol-Files-After-opening-a-file--1ebe6-r-of-the-screen-and-no-need-scroll-to-find-it-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-Saving-mol-Files-Monomers-are-not-stac-b1489-h-with-Ketcher-library-after-importing-a-file-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-modified-mol-files-from-external-editor-for-peptide-Bom-mol-1-chromium-linux.png
Due: none

eslint-disable-next-line @typescript-eslint/no-explicit-any
  packages/ketcher-core/src/application/render/raphael-ext.ts
Due: prettier --write

#10331 – Refactor: Functions should not have identical implementations
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/editor/operations/drawingEntity/index.ts
  packages/ketcher-core/src/application/editor/operations/modes/index.ts
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer/SnakeModePolymerBondRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
  packages/ketcher-macromolecules/src/EditorEvents.tsx
Due: prettier --write

#6719 – Line (dash) is missing between nucleotide and nucleoside if no connection in antisense for second chain pair
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-47-1-Add-RNA-C-to-A---A-b-A---A-to-second-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-47-2-Add-Peptide-E-to-A---A-b-A---A-to-second-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-3-47-1-Add-RNA-C-to-A---A-b-A---A-to-third-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-3-47-2-Add-Peptide-E-to-A---A-b-A---A-to-third-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-19-47-3-Add-Dash---to-A---A-b-A---A-to-third-position-of-sense-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-47-1-Add-RNA-C-to-A---A-b-A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-47-2-Add-Peptide-E-to-A---A-b-A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-47-3-Add-Dash---to-A---A-b-A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-47-4-Add-Sequence-chain-breaker-Ente-93cf6--A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-29-47-1-Add-RNA-C-to-A---A-b-A---A-to-third-position-of-antisense-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-29-47-2-Add-Peptide-E-to-A---A-b-A---A-to-third-position-of-antisense-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-29-47-3-Add-Dash---to-A---A-b-A---A-to-third-position-of-antisense-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-29-47-4-Add-Sequence-chain-breaker-Ente-a6238--A---A-to-third-position-of-antisense-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-32-47-Delete-second-symbol-of-antisense-chain-at-A---A-b-A---A-with-Delete-key-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-35-47-Delete-second-symbol-of-antisense-chain-at-A---A-b-A---A-Backspace-key-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-42-Dash-between-nucleotide-and-nucleosid-fef33-very-antisense-chain-pair-not-only-the-first-1-chromium-linux.png
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceViewModel/SequenceViewModel.ts
Due: prettier --write

#2772 - Remove unused serializer/deserializer for mol v3000, sdf, smi as it's implemented on the Indigo side (#10367)
  packages/ketcher-core/src/domain/serializers/mol/__tests__/v2000.test.ts
  packages/ketcher-core/src/domain/serializers/mol/common.ts
  packages/ketcher-core/src/domain/serializers/mol/v3000.ts
Due: prettier --write

#6719 – Line (dash) is missing between nucleotide and nucleoside if no connection in antisense for second chain pair (#10380)
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-47-1-Add-RNA-C-to-A---A-b-A---A-to-second-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-2-47-2-Add-Peptide-E-to-A---A-b-A---A-to-second-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-3-47-1-Add-RNA-C-to-A---A-b-A---A-to-third-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-1.spec.ts-snapshots/Case-3-47-2-Add-Peptide-E-to-A---A-b-A---A-to-third-position-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-19-47-3-Add-Dash---to-A---A-b-A---A-to-third-position-of-sense-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-47-1-Add-RNA-C-to-A---A-b-A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-47-2-Add-Peptide-E-to-A---A-b-A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-47-3-Add-Dash---to-A---A-b-A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-28-47-4-Add-Sequence-chain-breaker-Ente-93cf6--A---A-to-second-position-of-antisence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-29-47-1-Add-RNA-C-to-A---A-b-A---A-to-third-position-of-antisense-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-29-47-2-Add-Peptide-E-to-A---A-b-A---A-to-third-position-of-antisense-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-29-47-3-Add-Dash---to-A---A-b-A---A-to-third-position-of-antisense-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-29-47-4-Add-Sequence-chain-breaker-Ente-a6238--A---A-to-third-position-of-antisense-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-32-47-Delete-second-symbol-of-antisense-chain-at-A---A-b-A---A-with-Delete-key-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-35-47-Delete-second-symbol-of-antisense-chain-at-A---A-b-A---A-Backspace-key-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-4.spec.ts-snapshots/Case-42-Dash-between-nucleotide-and-nucleosid-fef33-very-antisense-chain-pair-not-only-the-first-1-chromium-linux.png
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceViewModel/SequenceViewModel.ts
Due: prettier --write

#10331 – Refactor: Functions should not have identical implementations (#10374)
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/editor/operations/drawingEntity/index.ts
  packages/ketcher-core/src/application/editor/operations/modes/index.ts
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer/SnakeModePolymerBondRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
  packages/ketcher-macromolecules/src/EditorEvents.tsx
Due: prettier --write

6736: fix autotest issue
  packages/ketcher-core/src/application/editor/modes/helpers.ts
Due: prettier --write

add fallback click for select dropdown visibility race
  ketcher-autotests/tests/pages/common/CommonLeftToolbar.ts
Due: prettier --write

#5857 - Update screenshots.
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-Saving-mol-Files-After-opening-a-file--1ebe6-r-of-the-screen-and-no-need-scroll-to-find-it-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-Saving-mol-Files-Monomers-are-not-stac-b1489-h-with-Ketcher-library-after-importing-a-file-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-modified-mol-files-from-external-editor-for-peptide-Bom-mol-1-chromium-linux.png
Due: none

refactor: address reviewer comments on IDT alias uniqueness
  packages/ketcher-core/__tests__/application/editor/Editor.test.ts
  packages/ketcher-core/src/application/editor/Editor.ts
Due: prettier --write

#5857 - Update screenshot.
  ketcher-autotests/tests/specs/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Layout-action-on-part-of-structure-with-Stereobonds-1-chromium-linux.png
Due: none

stabilize reaction mapping tool selection
  ketcher-autotests/tests/pages/common/CommonLeftToolbar.ts
  ketcher-autotests/tests/specs/Indigo-Tools/Reaction Auto-mapping tool/reaction-am-tool-veryfing-button.spec.ts
Due: prettier --write

#5857 - Making pre-push hook executable.
  .husky/pre-push
Due: none

wait for context menu options to be enabled before clicking
  ketcher-autotests/tests/pages/common/ContextMenu.ts
Due: prettier --write

#5857 - increase timeout.
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts
Due: prettier --write

#10326 - upd ket schema for vite builder
  packages/ketcher-core/scripts/compile-ket-schema.cjs
  packages/ketcher-core/src/application/render/raphael-ext.ts
Due: prettier --write

#10326 - upd fonts to match snapshots
  packages/ketcher-macromolecules/src/theme.less
  packages/ketcher-macromolecules/src/theming/defaultTheme/defaultTheme.ts
  packages/ketcher-react/src/components/InfoModal/InfoModal.module.less
  packages/ketcher-react/src/style/variables.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

trying to check if the test fails without my changes
  packages/ketcher-core/src/utilities/SettingsManager.ts
Due: prettier --write

#10326 - upd fonts to match snapshots
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/theming/defaultTheme/defaultTheme.ts
Due: prettier --write

fix: update e2e test assertions to match simplified HELM alias error messages
  ketcher-autotests/tests/specs/Chromium-popup/Library/library-update.spec.ts
Due: prettier --write

Extract subcomponents
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.test.js
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.utils.test.ts
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.utils.ts
  packages/ketcher-react/src/script/ui/component/form/colorPicker/CustomColorEditor.test.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/CustomColorEditor.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/CustomColorSwatches.test.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/CustomColorSwatches.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/PresetGrid.test.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/PresetGrid.tsx
Due: prettier --write

Refactor ColorPicker to use DEFAULT_COLOR constant for consistency
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
Due: prettier --write

replace persisted selection tool any with typed shape
  packages/ketcher-core/src/utilities/SettingsManager.ts
Due: prettier --write

#7701 - Unmark antisense sync button test as expected-to-fail
  ketcher-autotests/tests/specs/Macromolecule-editor/Antisense-Chains/antisense-chains.spec.ts
Due: prettier --write

arrow persisted selection tool type in reducer and toolbar
  packages/ketcher-react/src/script/ui/state/action/index.ts
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ToolbarMultiToolItem/ToolbarMultiToolItem.tsx
Due: prettier --write

Remove useless useState
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.test.js
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
Due: prettier --write

fix: address code review feedback on IDT alias validation
  packages/ketcher-core/__tests__/application/editor/Editor.test.ts
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/formatters/types/ket.ts
  packages/ketcher-core/src/utilities/monomers.ts
Due: prettier --write

Use material popover
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.test.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/__snapshots__/ColorPicker.test.tsx.snap
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix: update tests to match IDT alias validation changes
  packages/ketcher-core/__tests__/application/editor/Editor.test.ts
Due: prettier --write

#9887 – Paste does not work in Safari
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.test.tsx
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.tsx
Due: prettier --write

fix: expect MonomerLibraryUpdateError from preset rejection tests
  packages/ketcher-core/__tests__/application/editor/Editor.test.ts
Due: prettier --write

#3774 - Move enhanced stereochemistry label with template preview (#10384)
  packages/ketcher-react/src/script/editor/tool/templatePreview.ts
Due: prettier --write

#10336 - Refactor: Unused React typed props should be removed
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerScale.tsx
  packages/ketcher-macromolecules/src/components/modal/Delete/Delete.tsx
  packages/ketcher-macromolecules/src/components/modal/UpdateSequenceInRNABuilder/UpdateSequenceInRNABuilder.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/GroupBlock/types.ts
  packages/ketcher-react/src/components/Dialog/Dialog.tsx
  packages/ketcher-react/src/script/ui/component/form/Input/Input.tsx
  packages/ketcher-react/src/script/ui/component/form/form/form.tsx
  packages/ketcher-react/src/script/ui/component/form/select-list.tsx
  packages/ketcher-react/src/script/ui/component/view/Tabs/Tabs.tsx
  packages/ketcher-react/src/script/ui/component/view/openbutton.tsx
  packages/ketcher-react/src/script/ui/dialog/template/TemplateDialog.tsx
  packages/ketcher-react/src/script/ui/dialog/template/template-attach.tsx
  packages/ketcher-react/src/script/ui/state/shared.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/NaturalAnalogueChip/NaturalAnalogueChip.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/NaturalAnaloguePicker/NaturalAnaloguePicker.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.container.ts
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.test.utils.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Recognize/Recognize.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/AtomElement/AtomElement.tsx
Due: prettier --write

Refactor monomer properties tests: update visibility assertions and clean up unused imports
  ketcher-autotests/tests/specs/Chromium-popup/Features/10005-monomer-properties-presets-wizard.spec.ts
Due: prettier --write

#10336 - fix unit tests
  packages/ketcher-macromolecules/src/components/modal/Delete/__snapshots__/Delete.test.tsx.snap
  packages/ketcher-macromolecules/src/components/modal/UpdateSequenceInRNABuilder/__snapshots__/UpdateSequenceInRNABuilder.test.tsx.snap
Due: none

#1449 - replaced setTimeout with requestAnimationFrame for tempate-table partial rendering and moved svg previews to "lazy render" batch by batch to allow accordion open smoothly
  packages/ketcher-react/src/script/ui/dialog/template/TemplateTable.module.less
  packages/ketcher-react/src/script/ui/dialog/template/TemplateTable.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#3890 - Extract shared valence module and show valence warnings in macromolecules mode
  packages/ketcher-core/__tests__/domain/entities/atomValence.test.ts
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/render/renderers/AtomRenderer.ts
  packages/ketcher-core/src/domain/entities/CoreAtom.ts
  packages/ketcher-core/src/domain/entities/atom.ts
  packages/ketcher-core/src/domain/entities/atomValence.ts
  packages/ketcher-core/src/domain/entities/struct.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
