Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7563 - Selection after chain/monomer addition (autochain improvement)
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/modes/FlexMode.ts
  packages/ketcher-core/src/application/editor/modes/SnakeMode.ts
  packages/ketcher-core/src/application/editor/operations/drawingEntity/index.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

- updated tests - fixed bug with molecules in clipboard
  ketcher-autotests/tests/specs/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-17-Hydrogen-bonds-are-not-missed-after-Copy-paste-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.28.0-bugs.spec.ts-snapshots/Case-1-Copy-Cut-Paste-functionality-not-working-for-microstructures-in-Macro-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-15-Long-bond-not-a-d4e8a-d-the-structure-after-Copy-Paste-in-Flex-Mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-20-Adding-second-c-f96f0--chain-to-the-canvas-not-cause-layout-problem-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.6.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-6-0-Case-9-Mouse-cursor-pos-09ed0--the-top-left-corner-of-preset-when-zoom-400-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-1-X-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-10-Y-ambiguous-DNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-11-N-ambiguous-RNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-12-B-ambiguous-RNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-13-H-ambiguous-RNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-14-K-ambiguous-RNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-15-W-ambiguous-RNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-16-Y-ambiguous-RNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-17-M-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-18-R-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-19-S-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-2-B-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-20-V-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-3-J-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-4-Z-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-5-N-ambiguous-DNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-6-B-ambiguous-DNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-7-H-ambiguous-DNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-8-K-ambiguous-DNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-9-W-ambiguous-DNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Antisense-Chains/antisense-chains.spec.ts-snapshots/12-Check-that-option-Copy-copies-the-select-4f5ec--any-bonds-between-them-as-the-default-format-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Antisense-Chains/antisense-chains.spec.ts-snapshots/17-Verify-that-copying-the-sense-and-antisens-32512-ct-orientation-and-complementary-base-pairing-1-chromium-linux.png
  packages/ketcher-core/src/application/editor/operations/drawingEntity/index.ts
Due: prettier --write

- updated tests
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-1-Verify-that-ghost-image-of-AmMC6T-is-rend-d39f3-ement-after-click-but-before-drag-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-1-Verify-that-ghost-image-of-Cys-Bn-is-rend-7b893-ement-after-click-but-before-drag-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-1-Verify-that-ghost-image-of-DOTA-is-render-a0164-ement-after-click-but-before-drag-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-1-Verify-that-ghost-image-of-FMOE-is-render-f0847-ement-after-click-but-before-drag-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-1-Verify-that-ghost-image-of-MOE-A-P-is-ren-bdf80-ement-after-click-but-before-drag-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-1-Verify-that-ghost-image-of-bP-is-rendered-13f28-ement-after-click-but-before-drag-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/side-chain-connections.spec.ts-snapshots/Side-chain-connections-15-Verify-copy-paste-of-a-structure-with-side-chain-connections-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Scroll-canvas-by-mouse-wheel-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Scroll-canvas-horizontally-with-Shift-pressed-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-monomer-with-menu-buttons-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-monomer-with-menu-buttons-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-monomer-with-menu-buttons-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-monomer-with-mouse-wheel-and-CTRL-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-monomer-with-mouse-wheel-and-CTRL-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-monomer-with-mouse-wheel-and-CTRL-3-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/AmMC6T-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/Cys_Bn-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/DOTA-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/FMOE-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/MOE(A)P-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/bP-on-canvas-validation.mol
  packages/ketcher-core/src/application/editor/EditorHistory.ts
Due: prettier --write

- updated tests
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-2-Verify-that-ghost-image-of-AmMC6T-is-rend-7fae8-ent-after-click-but-before-drag-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-2-Verify-that-ghost-image-of-Cys-Bn-is-rend-7afb8-ent-after-click-but-before-drag-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-2-Verify-that-ghost-image-of-DOTA-is-render-7b609-ent-after-click-but-before-drag-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-2-Verify-that-ghost-image-of-FMOE-is-render-4a497-ent-after-click-but-before-drag-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-2-Verify-that-ghost-image-of-MOE-A-P-is-ren-dca81-ent-after-click-but-before-drag-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-2-Verify-that-ghost-image-of-bP-is-rendered-37581-ent-after-click-but-before-drag-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Right-Click-Menu/right-click-menu-macro.spec.ts-snapshots/7-Verify-Undo-Redo-after-using-Copy-Paste-from-right-click-menu-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Press-Undo-Redo-after-copy-pasting-Sugar-Base-Phosphate-structure-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/AmMC6T-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/Cys_Bn-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/DOTA-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/FMOE-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/MOE(A)P-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/bP-on-canvas-validation.mol
Due: prettier --write

- fixed tests - fixes after rebase
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-mix-chains-with-nucleotides-and-peptides-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/AmMC6T-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/Cys_Bn-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/DOTA-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/FMOE-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/MOE(A)P-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/bP-on-canvas-validation.mol
Due: none

Added the fixtures (#7646)
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.4.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Peptides/peptides-add-to-canvas.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Attachment-Point-Tool/attachment-point-tool.spec.ts
Due: prettier --write

#7575 – Monomer creation wizard opens despite selection being connected via non-simple bond
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#7580 – Zoom actions in Monomer Wizard throw errors in the console
  packages/ketcher-react/src/script/editor/tool/create-monomer.ts
Due: prettier --write

Improve visuals on validation and make uniqueness check more correct
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/NaturalAnaloguePicker/NaturalAnaloguePicker.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7601 – Wizard allows editing atoms and bonds via right-click menu without showing an error
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.constants.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.types.ts
Due: prettier --write

#7629 – API does not implement library change subscription
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/utilities/SettingsManager.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/action/index.ts
Due: prettier --write

#7576 – Create monomer wizard is available for structures containing S-groups, R-groups, or extended table atoms
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#7609 – Symbol uniqueness validation is missing in Monomer Wizard (no error, no highlight)
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
Due: prettier --write

#7612 – Natural analogue is not cleared when monomer type changes
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
Due: prettier --write

Remove console outputs
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

Improve visuals
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/Notification/Notification.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Use enum instead of literal strings
  packages/ketcher-core/src/domain/serializers/ket/helpers.ts
Due: prettier --write

#7624 – Created Sugars and Phosphates via wizard are not added to Macro library
  packages/ketcher-core/src/domain/serializers/ket/helpers.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

- updated tests
  ketcher-autotests/tests/specs/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-10-There-is-no-gap-between-button-and-drop-down-list-of-Macro-modes-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Check-that-when-RNA-and-DNA-is-s-b29aa-nd-button-opens-a-drop-down-menu-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-chain-with-side-chains-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-mix-chains-with-nucleotides-and-peptides-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-mix-chains-with-nucleotides-and-peptides-3-chromium-linux.png
Due: none

- updated tests
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-1-In-the-Text-edit-c0d19-oved-to-make-the-newly-added-sequence-visible-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-12-Canvas-remain-in-edit-mode-if-we-insert-monomer-from-the-library-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-13-After-Undo-Redo-actions-Enter-not-repeats-these-actions-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-14-After-pressing--77e79-ter-button-start-a-new-sequence-not-erases-it-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-15-Selection-of-monomers-disappear-when-the-user-moves-the-cursor-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-15-Selection-of-monomers-disappear-when-the-user-moves-the-cursor-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-16-Undo-Redo-operation-for-bonds-and-molecules-multi-select-works-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-18-All-side-chain--12087--mode-for-bases-CHEMs-phosphates-and-sugars-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-2-Switching-from-S-002d2-s-visible-area-of-canvas-beyond-visible-frame-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-2-Switching-from-S-15056-s-visible-area-of-canvas-beyond-visible-frame-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-2-Switching-from-S-6b54b-s-visible-area-of-canvas-beyond-visible-frame-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-21-Structural-dist-354db--of-macromolecule-abbreviations-in-Micro-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-21-Structural-dist-6e77a--of-macromolecule-abbreviations-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-22-Atom-properties-56932-and-correct-hydrogen-rendering-on-mode-switch-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-22-Atom-properties-b85c2-and-correct-hydrogen-rendering-on-mode-switch-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-26-Consistent-zoom-d5b93-ecule-and-Paste-from-Clipboard-Open-from-File-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-29-Cursor-position-db746-de-not-causes-an-incorrect-sequence-formation-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-3-Connection-betwe-a50d7-onomer-affect-an-amount-of-implicit-hydrogens-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-3-Connection-betwe-dab94-onomer-affect-an-amount-of-implicit-hydrogens-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-30-Macro-structure-4ab34-ted-on-canvas-when-using-ketcher-getMolfile-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-32-Natural-monomer-have-standard-bond-lengths-and-angles-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-4-Replacing-all-mo-723e4--in-edit-mode-system-not-cuts-sequence-on-two-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-6-When-pressing-En-4642f-ew-sequences-in-the-“Modify-RNA-Builder”-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-7-Bond-length-is-d-5ef40-onomers-loaded-from-HELM-and-from-the-library-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-8-After-inserting--aa76f-ng-mode-the-cursor-blinks-in-the-wrong-place-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-9-Movement-of-microstructures-on-Sequence-mode-doesn-t-work-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-9-Movement-of-microstructures-on-Sequence-mode-doesn-t-work-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.4.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Peptides/peptides-add-to-canvas.spec.ts
  ketcher-autotests/tests/test-data/Molfiles-V3000/Bugs/moe-a-p-expected.mol
Due: prettier --write

- updated tests
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-1-All-snapping-rel-329b6-le-after-switching-to-Molecules-mode-and-back-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-11-Warning-message-when-deleting-all-hydrogen-bonds-between-two-chains-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-12-System-adds-both-sense-and-antisense-chain-nucleosids-in-SYNC-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-13-System-can-add--79548-n-phosphate-and-nucleotide-in-antisence-chain-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-14-Snapping-not-wipes-monomer-labels-in-some-cases-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-14-Snapping-not-wipes-monomer-labels-in-some-cases-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-14-Snapping-not-wipes-monomer-labels-in-some-cases-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-14-Snapping-not-wipes-monomer-labels-in-some-cases-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-14-Snapping-not-wipes-monomer-labels-in-some-cases-5-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-14-Snapping-not-wipes-monomer-labels-in-some-cases-6-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-15-Adding-nucleotide-to-first-position-at-sense-antisense-chain-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-16-New-sequence-no-7707a-ay-after-clearing-the-canvas-in-non-sync-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-16-New-sequence-no-b3817-ay-after-clearing-the-canvas-in-non-sync-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-16-New-sequence-no-e4552-ay-after-clearing-the-canvas-in-non-sync-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-17-Sync-mode-not-c-52ba8-input-after-adding-a-monomer-in-non-sync-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-17-Sync-mode-not-c-5d3a2-input-after-adding-a-monomer-in-non-sync-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-18-System-add-same-995f2-ith-H-bond-if-it-is-not-nucleotide-nucleoside-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-19-Adding-nucleoti-3f687-pearence-of-separated-phosphate-on-the-canvas-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-22-R-Group-logic-c-3107e-ot-wrong-if-loaded-from-complex-structure-MOL-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-23-System-not-losts-one-stereo-label-if-load-from-MOL-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-24-Export-molecule-bec3f-ive-neighbors-and-stereo-bond-not-cause-error-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-24-Export-molecule-c2b85-ive-neighbors-and-stereo-bond-not-cause-error-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-3-Able-to-paste-HE-9e0b2-manager-Property-sequence-type-not-defined-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-30-Able-to-load-am-4c7e0-biguous-DNA-monomers-with-same-name-from-HELM-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-4-Create-RNA-DNA-Strand-work-for-B-K-Y-and-S-ambiguous-bases-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-5-Snapping-and-in-8b9d4-r-moving-should-be-disabled-on-Sequence-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-5-Snapping-and-in-c95f1-r-moving-should-be-disabled-on-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-6-System-allow-to--2ff94-ol-that-not-causes-an-error-if-it-got-deleted-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-6-System-allow-to--7d8df-ol-that-not-causes-an-error-if-it-got-deleted-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-7-Empty-element-no-7b006-equence-mode-and-switching-to-Flex-Snake-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-7-Empty-element-no-fe667-equence-mode-and-switching-to-Flex-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-8-Sense-and-antise-1ad80--places-during-editing-based-on-monomer-count-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-8-Sense-and-antise-3ec84--places-during-editing-based-on-monomer-count-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-8-Sense-and-antise-ab169--places-during-editing-based-on-monomer-count-1-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V2000/Chromium-popup/Bugs/Unable to save canvas to MOL - system throws an error-expected.mol
Due: none

- updated tests
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-13-Able-to-load-v-f5b5b-system-not-throws-an-error-Convert-error-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-14-Able-to-load-v-d6e26-system-not-throws-an-error-Convert-error-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-15-Able-to-load-v-9cb63-system-not-throws-an-error-Convert-error-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-22-O-and-U-sumbols-are-supported-in-sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-24-Bond-monomer-tooltip-preview-placed-correct-in-on-edge-cases-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-24-Bond-monomer-tooltip-preview-placed-correct-in-on-edge-cases-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-24-Bond-monomer-tooltip-preview-placed-correct-in-on-edge-cases-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-26-Edit-Connectio-03b35-ant-cause-invalid-connection-between-monomers-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-26-Edit-Connectio-09a8e-ant-cause-invalid-connection-between-monomers-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-28-Cursor-position-is-correct-when-editing-sequence-in-Macro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-29-Bonds-between--78628-res-can-be-selected-and-deleted-in-Macro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-29-Bonds-between--e3ec3-res-can-be-selected-and-deleted-in-Macro-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-30-Micro-structur-b3bb3-ymer-chains-are-shown-on-Sequence-mode-canvas-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-31-Moving-of-selected-microstructures-on-macro-canvas-works-correct-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-32-Atoms-and-bond-ba323-when-the-whole-molecule-with-atoms-is-choosen-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-36-After-save-and-dd85c-nged-and-the-microstructures-are-not-shifted-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-48-System-shouldn-2e277-rs-to-IDT-since-only-mixtures-are-supported-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-55-Able-to-save-c-dab24-onvert-error-array-invalid-index-2-size-2-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-56-Correct-length-22745-Arrow-and-Single-arrow-after-loading-from-RDF-1-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/CDX/4 mol-expected.cdx
  ketcher-autotests/tests/test-data/KET/Chromium-popup/rdf-rxn-v2000-cascade-reaction-2-1-1-expected(2).ket
  ketcher-autotests/tests/test-data/Molfiles-V3000/Chromium-popup/monomers-connected-to-microstructures-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Chromium-popup/reaction-saved-to-MOL-V3000-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Chromium-popup/snake-mode-peptides-on-canvas-expected.mol
  ketcher-autotests/tests/test-data/RDF-V3000/Chromium-popup/ket-cascade-reaction-tails-5-with-pluses (1)-expected.rdf
  ketcher-autotests/tests/test-data/RDF-V3000/Chromium-popup/ket-issue-2-expected.rdf
  ketcher-autotests/tests/test-data/Rxn-V2000/Chromium-popup/ket-issue-2-expected.rxn
  ketcher-autotests/tests/test-data/Rxn-V3000/Chromium-popup/elements-too-close-to-single-arrow-expected.rxn
  ketcher-autotests/tests/test-data/Rxn-V3000/Chromium-popup/reaction-cant-save-to-MDL-RXN-V3000-expected.rxn
  ketcher-autotests/tests/test-data/SDF/Chromium-popup/one-attachment-point-added-in-micro-mode-expected.sdf
Due: none

- updated tests
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-1-Able-to-establi-5c9cd-tion-if-monomer-has-no-free-attachment-points-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-12-System-remembe-82910-witch-do-not-switch-to-Sequernce-by-default-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-12-System-remembe-82bdf-witch-do-not-switch-to-Sequernce-by-default-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-15-Preview-tooltip-work-for-monomers-at-Molecules-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-17-Hydrogen-bonds-are-not-missed-after-Copy-paste-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-18-Deleting-a-monomer-also-deletes-its-hydrogen-bonds-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-18-Deleting-a-monomer-also-deletes-its-hydrogen-bonds-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-2-Error-message-i-a5d3d-stablish-hydrogen-bond-if-it-is-already-exist-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-20-Delete-of-micromolecules-bonds-in-macro-mode-works-correct-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-20-Delete-of-micromolecules-bonds-in-macro-mode-works-correct-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-20-Delete-of-micromolecules-bonds-in-macro-mode-works-correct-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-20-Delete-of-micromolecules-bonds-in-macro-mode-works-correct-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-3-Able-to-connect-monomer-to-molecule-in-snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-4-Load-from-file--01520-200-and-not-shift-molecule-to-top-left-angle-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-5-System-not-chan-21b20-g-from-Molecules-to-Macromolecules---Sequence-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-5-System-not-chan-222ff-g-from-Molecules-to-Macromolecules---Sequence-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-5-System-not-chan-98398-g-from-Molecules-to-Macromolecules---Sequence-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-5-System-not-chan-c2cd2-g-from-Molecules-to-Macromolecules---Sequence-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-6-Elliptic-arrow-icons-order-is-correct-at-arrow-toolbar-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-7-Toggling-betwee-04708-Sequence-modes-not-causes-loosing-layout-info-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-7-Toggling-betwee-c9a3f-Sequence-modes-not-causes-loosing-layout-info-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-7-Toggling-betwee-fecb2-Sequence-modes-not-causes-loosing-layout-info-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-9-Zoom-in-automatically-upon-import-of-small-sequences-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-9-Zoom-in-automatically-upon-import-of-small-sequences-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-9-Zoom-in-automatically-upon-import-of-small-sequences-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-9-Zoom-in-automatically-upon-import-of-small-sequences-4-chromium-popup-linux.png
Due: none

- updated tests
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-10-There-is-no-gap-between-button-and-drop-down-list-of-Macro-modes-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-13-Separate-selenocysteine-from-cysteine-and-pyrrolysine-from-lysine-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-13-Separate-selenocysteine-from-cysteine-and-pyrrolysine-from-lysine-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-14-Selection-work--b7bc3--editing-with-Shift-Up-Down-arrow-combination-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-14-Selection-work--ccada--editing-with-Shift-Up-Down-arrow-combination-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-15-Long-bond-not-a-d4e8a-d-the-structure-after-Copy-Paste-in-Flex-Mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-16-Removing-peptid-f8896-hain-not-cause-unnessussary-phosphate-removal-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-17-Adding-peptide--02055-and---symbol-not-breaks-sense-antisense-chain-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-18-System-split-chian-pair-on-two-if---symbol-deleted-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-19-System-not-merg-74bf3-sense-chains-if-separator-monomer-got-deleted-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-19-System-not-merg-99933-sense-chains-if-separator-monomer-got-deleted-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-22-Undo-of-deleted-8f353-uses-ghost-monomer-appearence-on-the-canvas-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-24-Peptide-sequence-not-pasting-directly-on-canvas-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-7-Color-schema-for-13e5d-A-Library-is-like-in-the-library-for-Peptides-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-9-Chain-bonds-not-appear-on-Sequence-screenshots-1-chromium-popup-linux.png
Due: none

- updated tests
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-1-Able-to-create-a-1758e-if-not-eligable-for-antisense-chain-selected-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-11-RNA-Builder-sec-7921c-rresponding-monomer-in-library-on-first-click-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-12-Able-to-delete--68189-at-once-via-right-click-menu-in-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-12-Able-to-delete--aa591-at-once-via-right-click-menu-in-Sequence-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-13-System-should-t-27628-tide-to-nucleoside-on-sequence-break-by-Enter-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-13-System-should-t-a7c4a-tide-to-nucleoside-on-sequence-break-by-Enter-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-14-Cursor-not-jump-006c3-ate-insertion-in-middle-or-at-end-of-sequence-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-14-Cursor-not-jump-4c213-ate-insertion-in-middle-or-at-end-of-sequence-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-15-Phosphates-adde-1e5d6-oard-in-SYNC-mode-are-can-be-reverted-by-Undo-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-15-Phosphates-adde-8a666-oard-in-SYNC-mode-are-can-be-reverted-by-Undo-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-15-Phosphates-adde-e5a21-oard-in-SYNC-mode-are-can-be-reverted-by-Undo-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-16-Phosphate-added-76d72-non-SYNC-mode-when-targeting-antisense-strand-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-16-Phosphate-added-cdc70-non-SYNC-mode-when-targeting-antisense-strand-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-17-Able-to-add-phosphate-to-antisense-strand-in-SYNC-mode-via-keyboard-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-17-Able-to-add-phosphate-to-antisense-strand-in-SYNC-mode-via-keyboard-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-18-Adding-monomer--04bd0-eft-position-of-antisense-chain-works-correct-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-18-Adding-monomer--e669e-eft-position-of-antisense-chain-works-correct-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-19-Modified-bases--87ad3-er-not-revert-to-natural-analogs-in-all-modes-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-20-Adding-RNA-DNA-before-empty-space-in-sence-sequense-is-possible-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-20-Adding-RNA-DNA-before-empty-space-in-sence-sequense-is-possible-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-21-Antisense-compl-7a512-2-not-causing-incorrect-structure-on-canvas-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-22-Removing-dash-should-turn-aligned-nucleotide-to-nucleoside-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-22-Removing-dash-should-turn-aligned-nucleotide-to-nucleoside-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-23-Undo-of-clear-c-5c372-ot-causes-molecules-bonds-overlap-atom-labels-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-23-Undo-of-clear-c-c01a5-ot-causes-molecules-bonds-overlap-atom-labels-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-24-System-not-repl-2722d-selected-DNA-N-base-alternatives-of-A-C-G-T-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-3-Tooltip-not-appears-behind-monomer-icons-in-the-library-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-8-Horizontal-vertical-snap-to-distance-work-for-hydrogen-bonds-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-8-Horizontal-vertical-snap-to-distance-work-for-hydrogen-bonds-2-chromium-popup-linux.png
Due: none

#7575 – Monomer creation wizard opens despite selection being connected via non simple bond (#7641)
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/domain/serializers/ket/helpers.ts
  packages/ketcher-core/src/utilities/SettingsManager.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/create-monomer.ts
  packages/ketcher-react/src/script/ui/action/index.ts
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.constants.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.types.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/NaturalAnaloguePicker/NaturalAnaloguePicker.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/Notification/Notification.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7577 – "Create a monomer" button becomes active for disconnected structures
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

- updated tests
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.28.0-bugs.spec.ts-snapshots/Case-12-Label-shift-problem-for-ambiguous-monomers-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.28.0-bugs.spec.ts-snapshots/Case-21-RNA-chain-remain-flipped-after-hydrogen-bond-removal-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.28.0-bugs.spec.ts-snapshots/Case-8-There-is-no-bond-in-the-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.28.0-bugs.spec.ts-snapshots/Case-9-In-the-Text-editing-mode-after-insert-4c61d-ere-is-a-phosphate-the-cursor-does-not-blink-1-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/KET/Chromium-popup/Bugs/Export to ket (and getKET function) change incrementally internal IDs every call-expected.ket
Due: none

- updated tests
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts-snapshots/22-Verify-the-star-atom-remains-visible-and-functional-after-switching-between-modes-1-chromium-popup-linux.png
Due: none

Backmerge: #7575 – Monomer creation wizard opens despite selection being connected via non simple bond
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/domain/serializers/ket/helpers.ts
  packages/ketcher-core/src/utilities/SettingsManager.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/create-monomer.ts
  packages/ketcher-react/src/script/ui/action/index.ts
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.constants.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.types.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/NaturalAnaloguePicker/NaturalAnaloguePicker.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/Notification/Notification.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- updated tests
  ketcher-autotests/tests/test-data/KET/Library/DOTA-on-canvas-validation.ket
  ketcher-autotests/tests/test-data/KET/Library/MOE(A)P-on-canvas-validation.ket
  ketcher-autotests/tests/test-data/KET/Library/bP-on-canvas-validation.ket
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/AmMC6T-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/Cys_Bn-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/DOTA-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/FMOE-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/MOE(A)P-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/bP-on-canvas-validation.mol
Due: none

#7531 - Arrow icon appears in Sequence mode, violating requirement for Snake and Flex modes only
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/RnaPresetItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
Due: prettier --write

Normalize monomer atoms coordinates upon saving
  packages/ketcher-core/src/application/formatters/types/ket.ts
  packages/ketcher-core/src/domain/helpers/monomers.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

- updated tests
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-56-Correct-length-22745-Arrow-and-Single-arrow-after-loading-from-RDF-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-57-Can-correctly--6ce50-ic-cascade-reaction-with-3-tails-to-RDF-V3000-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-57-Can-correctly--f6f74-ic-cascade-reaction-with-3-tails-to-RDF-V3000-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-58-Specific-1-1-r-f55fd-s-from-RXN-with-correct-positions-of-elements-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-59-The-reaction-w-96d0b--is-displayed-correct-with-ACS-Style-settings-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-59-The-reaction-w-d4819--is-displayed-correct-with-ACS-Style-settings-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-4-Load-from-file--01520-200-and-not-shift-molecule-to-top-left-angle-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-6-Elliptic-arrow-icons-order-is-correct-at-arrow-toolbar-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.28.0-bugs.spec.ts-snapshots/Case-21-RNA-chain-remain-flipped-after-hydrogen-bond-removal-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-2-Switching-from-S-002d2-s-visible-area-of-canvas-beyond-visible-frame-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-13-Separate-selenocysteine-from-cysteine-and-pyrrolysine-from-lysine-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-13-Separate-selenocysteine-from-cysteine-and-pyrrolysine-from-lysine-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts
  ketcher-autotests/tests/test-data/KET/Chromium-popup/rdf-rxn-v2000-cascade-reaction-2-1-1-expected(2).ket
  ketcher-autotests/tests/test-data/Molfiles-V2000/Chromium-popup/Bugs/Unable to save canvas to MOL - system throws an error-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/Star-Atom/Export to Mol-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Bugs/moe-a-p-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Chromium-popup/monomers-connected-to-microstructures-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Chromium-popup/reaction-saved-to-MOL-V3000-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Chromium-popup/snake-mode-peptides-on-canvas-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Star-Atom/Export to Mol-expected.mol
  ketcher-autotests/tests/test-data/RDF-V3000/Chromium-popup/ket-cascade-reaction-tails-5-with-pluses (1)-expected.rdf
  ketcher-autotests/tests/test-data/RDF-V3000/Chromium-popup/ket-issue-2-expected.rdf
  ketcher-autotests/tests/test-data/Rxn-V2000/Chromium-popup/ket-issue-2-expected.rxn
  ketcher-autotests/tests/test-data/Rxn-V3000/Chromium-popup/elements-too-close-to-single-arrow-expected.rxn
  ketcher-autotests/tests/test-data/Rxn-V3000/Chromium-popup/reaction-cant-save-to-MDL-RXN-V3000-expected.rxn
  ketcher-autotests/tests/test-data/SDF/Chromium-popup/one-attachment-point-added-in-micro-mode-expected.sdf
Due: prettier --write

#7525 refactor: base functional for postMessage
  example-ssr/src/app/editor.tsx
  example/src/utils/safePostMessage.ts
Due: prettier --write

- refactor
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts
Due: prettier --write

#7577 – "Create a monomer" button becomes active for disconnected structures (#7653)
  packages/ketcher-core/src/application/formatters/types/ket.ts
  packages/ketcher-core/src/domain/helpers/monomers.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
