Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix key format
  packages/ketcher-core/src/infrastructure/services/struct/remoteStructService.ts
Due: prettier --write

retern scroll color back
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/style/variables.less
Due: stylelint --formatter verbose --fix --allow-empty-input

s-group textarea redesign
  packages/ketcher-react/src/script/ui/data/schema/sdata-schema.js
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

change action on shift f hotkey
  packages/ketcher-react/src/script/ui/action/functionalGroups.ts
  packages/ketcher-react/src/script/ui/dialog/template/TemplateDialog.tsx
  packages/ketcher-react/src/script/ui/state/shared.js
Due: prettier --write

fix selectors and buttons min-width
  example/src/ErrorModal/ErrorModal.css
  packages/ketcher-react/src/script/ui/dialog/template/template-lib.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Bond/Bond.module.less
  packages/ketcher-react/src/style/mixins.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Atom properties window design
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

add shortcuts for help
  packages/ketcher-react/src/script/ui/action/help.js
  packages/ketcher-react/src/script/ui/action/index.js
Due: prettier --write

fix disabled button if name empty
  packages/ketcher-react/src/script/ui/dialog/template/template-attach.jsx
Due: prettier --write

replace link with action button
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/HelpLink.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/SystemControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.container.ts
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write

fix shadow issues and change struct template scroll track color
  packages/ketcher-react/src/script/ui/dialog/template/template-lib.module.less
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.module.less
  packages/ketcher-react/src/style/variables.less
Due: stylelint --formatter verbose --fix --allow-empty-input

remove back button min-width
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

replace useSelect in TemplateDialog
  packages/ketcher-react/src/script/ui/dialog/template/TemplateDialog.tsx
Due: prettier --write

remove settings footer button styles
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

fix right column width in template edit
  packages/ketcher-react/src/script/ui/dialog/template/template-attach.jsx
Due: prettier --write

fix style regression
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

fix buttons styles
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

move buttons to footer
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix scroll styles in s-data
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

aligin text in buttons
  packages/ketcher-react/src/style/mixins.less
Due: stylelint --formatter verbose --fix --allow-empty-input

remove comment
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#1580 design issues related to the button size and button text align (#1584)
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.module.less
  packages/ketcher-react/src/style/mixins.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

replace templates
  packages/ketcher-react/src/script/ui/data/templates.js
Due: prettier --write

clean up PeriodTable component
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
Due: prettier --write

clean up PeriodTable component - 2
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
Due: prettier --write

fix open dialogs with hot keys
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
Due: prettier --write

replace templates (#1589)
  packages/ketcher-react/src/script/ui/data/templates.js
Due: prettier --write

add extra validation, disable button
  packages/ketcher-react/src/script/ui/dialog/template/template-attach.jsx
Due: prettier --write

fix prettier problems
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
Due: prettier --write

Fixed lasso behavior with shift key
  packages/ketcher-react/src/script/editor/tool/select.ts
Due: prettier --write

add tooltips for Open/ , Save and Reset buttons
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
Due: prettier --write

get rid of buttonsTop prop
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

add tooltips for Open/ (#1597)
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
Due: prettier --write

Fixed lasso behavior with shift key (#1595)
  packages/ketcher-react/src/script/editor/tool/select.ts
Due: prettier --write

add extra validation, disable button (#1594)
  packages/ketcher-react/src/script/ui/dialog/template/template-attach.jsx
Due: prettier --write

#1577 Fix unable to open dialogs with hot keys for the second time (#1593)
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
Due: prettier --write

#1586 the list/not list radio button doesn't work after clicking the first time (#1591)
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
Due: prettier --write

update disabling of reset button
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
Due: prettier --write

#1592 the reset button should be available when default settings have been changed (#1598)
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix wrong sign for rxn, text, simple objects
  packages/ketcher-core/__tests__/domain/serializers/ket/fixtures/toKet.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/simpleObjectToStruct.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/textToStruct.ts
  packages/ketcher-core/src/domain/serializers/ket/helpers.ts
  packages/ketcher-core/src/domain/serializers/ket/toKet/rxnToKet.ts
  packages/ketcher-core/src/domain/serializers/ket/toKet/simpleObjectToKet.ts
  packages/ketcher-core/src/domain/serializers/ket/toKet/textToKet.ts
Due: prettier --write

update indigo-ketcher version
  packages/ketcher-standalone/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
