Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

f6
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts
Due: prettier --write

f5
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-added-from-KET-SVG-ima-d0304-VG-file-with-the-correct-positions-and-layers-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-images-of-allowed-form-4427d-yed-in-CDXML-format-in-Save-Structure-Preview-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-images-of-allowed-form-74cab--Base-64-CDX-format-in-Save-Structure-Preview-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-images-of-allowed-toge-b575f--Base-64-CDX-format-in-Save-Structure-Preview-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-images-of-allowed-toge-c28e6-yed-in-CDXML-format-in-Save-Structure-Preview-1-chromium-linux.png
Due: prettier --write

Fix accessibility and spacing issues from Sonar reports
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

f7
  packages/ketcher-react/src/script/ui/component/view/Tabs/Tabs.jsx
Due: prettier --write

f8
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

f9
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/__snapshots__/Save.test.tsx.snap
Due: none

f10
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-images-of-allowed-form-18812-yed-in-CDXML-format-in-Open-Structure-Preview-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-images-of-allowed-form-32910-layed-in-CDX-format-in-Open-Structure-Preview-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-images-of-allowed-form-5a901-yed-in-CDXML-format-in-Open-Structure-Preview-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-images-of-allowed-form-c7aea-layed-in-CDX-format-in-Open-Structure-Preview-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-Structure-Check-works-for-molecules-with-AP-1-chromium-linux.png
Due: prettier --write

fix: fix code after review
  packages/ketcher-macromolecules/src/components/preview/components/MonomerPreview/MonomerPreview.tsx
  packages/ketcher-macromolecules/src/components/preview/components/PresetPreview/PresetPreview.tsx
Due: prettier --write

Fixes
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-fasta.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-import-export.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom.spec.ts-snapshots/Zoom-Tool-Maximum-browser-zoom-in-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom.spec.ts-snapshots/Zoom-Tool-Maximum-browser-zoom-out-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom.spec.ts-snapshots/Zoom-Tool-When-zoomed-to-175-and-more-button-32d07-nge-their-position-and-not-overlap-each-other-1-chromium-linux.png
Due: prettier --write

fixes
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-common.spec.ts
  packages/ketcher-macromolecules/src/components/shared/modal/Modal.tsx
Due: prettier --write

f2
  ketcher-autotests/tests/pages/molecules/canvas/SettingsDialog.ts
  ketcher-autotests/tests/specs/Settings/Bonds/bonds-settings.spec.ts
Due: prettier --write

f2
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Antisense-Chains/antisense-chain-layout.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Antisense-Chains/antisense-chains.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-the-pop-up-window-a-b78ff-en-mode-after-clicking-the-“Open-Save”-button-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-2.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-import-export.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts
  ketcher-autotests/tests/utils/canvas/types.ts
  ketcher-autotests/tests/utils/files/readFile.ts
Due: prettier --write

f3
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-2.spec.ts
  ketcher-autotests/tests/utils/files/readFile.ts
Due: prettier --write

fixes
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/4-Check-that-when-user-clicks-on-the-Create--a271e-ture-is-loaded-in-the-monomer-creation-wizard-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/6-Check-that-1-Eight-attachment-points-molec-1ba17-wo-atoms-has-correct-leaving-groups-and-bonds-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/6-Check-that-2-Eight-attachment-points-molec-06bdc-ht-atoms-has-correct-leaving-groups-and-bonds-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation3.spec.ts-snapshots/4-Check-that-every-R-group-gets-replaced-with-b6b9e-was-attached-to-becomes-the-attachment-atom-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation3.spec.ts-snapshots/5-Check-that-if-the-structure-contains-one-an-a30f4-ched-to-becomes-the-attachment-atom-of-AP-R1-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation3.spec.ts-snapshots/6-Check-that-if-the-structure-contains-one-an-10049-ched-to-becomes-the-attachment-atom-of-AP-R2-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation3.spec.ts-snapshots/7-Check-that-in-case-of-multiple-R1-the-one-w-b4d2a--first-in-the-KET-file-gets-interpreted-as-R1-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation3.spec.ts-snapshots/8-Check-that-in-case-of-multiple-R1-the-one-w-3779e--first-in-the-KET-file-gets-interpreted-as-R2-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation3.spec.ts-snapshots/9-Check-that-if-the-structure-contains-one-an-38023-interpreted-as-belonging-to-AP-Rn-if-possible-1-chromium-popup-linux.png
Due: none

test:update snapshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Test-performance-impa-942b9-ltiple-modifications-via-Paste-from-Clipboard-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-sequences-with-5Phos-and-3Phos-modifications-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-that-if-is-s-1d35c-P-is-included-in-nucleotide-if-not-it-is-P-1-chromium-linux.png
Due: none

- add tests; - add test file; - add screenshots
  ketcher-autotests/tests/specs/Chromium-popup/Snap-Functionality/snap-functionality.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Snap-Functionality/snap-functionality.spec.ts-snapshots/Snap-Functionality-Case-4-Adjustment-of-bond--6d387-ecting-the-group-to-the-rest-of-the-structure-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Snap-Functionality/snap-functionality.spec.ts-snapshots/Snap-Functionality-Case-4-Adjustment-of-bond--6e825-ecting-the-group-to-the-rest-of-the-structure-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Snap-Functionality/snap-functionality.spec.ts-snapshots/Snap-Functionality-Case-5-Magnetic-area-for-vertical-snap-between-monomers-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Snap-Functionality/snap-functionality.spec.ts-snapshots/Snap-Functionality-Case-5-Magnetic-area-for-vertical-snap-between-monomers-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Snap-Functionality/snap-functionality.spec.ts-snapshots/Snap-Functionality-Case-6-Condition-for-vertical-snap-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Snap-Functionality/snap-functionality.spec.ts-snapshots/Snap-Functionality-Case-6-Condition-for-vertical-snap-2-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/KET/six-peptides-vertical.ket
Due: prettier --write

- add tests for API switching from molecules mode to macromolecules; - add screenshots
  ketcher-autotests/tests/specs/Chromium-popup/API/switching-between-micro-macro.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/API/switching-between-micro-macro.spec.ts-snapshots/API-for-switching-between-modes-Case-1-Check--3f4c7-itching-from-molecules-mode-to-macromolecules-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/API/switching-between-micro-macro.spec.ts-snapshots/API-for-switching-between-modes-Case-1-Check--b615f-itching-from-molecules-mode-to-macromolecules-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/API/switching-between-micro-macro.spec.ts-snapshots/API-for-switching-between-modes-Case-2-Check--01acc-itching-from-molecules-mode-to-macromolecules-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/API/switching-between-micro-macro.spec.ts-snapshots/API-for-switching-between-modes-Case-2-Check--b8c97-itching-from-molecules-mode-to-macromolecules-1-chromium-popup-linux.png
Due: prettier --write

- delete exeptions
  ketcher-autotests/tests/specs/Chromium-popup/API/switching-between-micro-macro.spec.ts
Due: prettier --write

test:update spanshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Test-performance-impa-942b9-ltiple-modifications-via-Paste-from-Clipboard-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-sequences-with-5Phos-and-3Phos-modifications-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-that-if-is-s-1d35c-P-is-included-in-nucleotide-if-not-it-is-P-1-chromium-linux.png
Due: none

- add test; - add screenshot
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts
  ketcher-autotests/tests/specs/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-that-removed-Add-attachment-point-functionality-1-chromium-linux.png
Due: prettier --write

test:update spanshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-sequences-with-5Phos-and-3Phos-modifications-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-that-if-is-s-1d35c-P-is-included-in-nucleotide-if-not-it-is-P-1-chromium-linux.png
Due: none

test: update snapshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-sequences-with-5Phos-and-3Phos-modifications-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-sequences-with-5Phos-and-3Phos-modifications-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-that-if-is-s-1d35c-P-is-included-in-nucleotide-if-not-it-is-P-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-that-if-is-s-7963b-P-is-included-in-nucleotide-if-not-it-is-P-2-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/sequence-with-unresolved-idt-monomers-expected.ket
Due: none

f11
  packages/remove_dist.bat
Due: none

f3
  packages/ketcher-macromolecules/src/components/shared/modal/Modal.tsx
Due: prettier --write

f4
  packages/ketcher-macromolecules/src/components/shared/modal/Modal.test.tsx
Due: prettier --write

f5
  packages/ketcher-macromolecules/src/components/shared/modal/Modal.test.tsx
Due: prettier --write

fixes
  packages/ketcher-core/src/domain/entities/BaseMonomer.ts
  packages/ketcher-core/src/domain/types/entities.ts
Due: prettier --write

#8002 – No validation message shown for minimal monomer structure in Monomer Wizard
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.constants.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.types.ts
Due: prettier --write

#8005 – Changing name for attachment points works wrong
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/hooks/useAttachmentPointSelectsData.tsx
Due: prettier --write

#8040 – R2 attachment point is missing for vinU monomer
  packages/ketcher-core/src/application/editor/data/monomers.ket
Due: none

Refactor: #8093 - Unexpected unknown property "user-focus" (#8094)
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Refactor: #8103 - Use 'String#startsWith' method instead (#8119)
  packages/ketcher-core/src/application/formatters/identifyStructFormat.ts
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-core/src/infrastructure/services/struct/remoteStructServiceProvider.ts
  packages/ketcher-macromolecules/src/state/library/librarySlice.ts
Due: prettier --write

Refactor: Add readonly modifiers to fields only assigned in constructors (part 2) (#8146)
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-core/src/domain/entities/DrawingEntity.ts
  packages/ketcher-core/src/domain/entities/canvas-matrix/CanvasMatrix.ts
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SnakeLayoutModel.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SnakeLayoutModelChain.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/arrow/commonArrow.ts
  packages/ketcher-react/src/script/editor/tool/arrow/multitailArrowAdd.ts
  packages/ketcher-react/src/script/editor/tool/arrow/reactionArrowAdd.ts
  packages/ketcher-react/src/script/editor/tool/create-monomer.ts
  packages/ketcher-react/src/script/editor/tool/image.ts
  packages/ketcher-react/src/script/editor/tool/rotate-controller.ts
  packages/ketcher-react/src/script/editor/tool/select/select.ts
  packages/ketcher-react/src/script/editor/tool/select/selectViewOnly.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

Refactor: #8151 - Type constituents of unions and intersections should not be redundant (#8152)
  packages/ketcher-core/src/application/render/restruct/resgroup.ts
  packages/ketcher-core/src/domain/serializers/ket/multitailArrowsValidator.ts
  packages/ketcher-macromolecules/src/state/rna-builder/rnaBuilderSlice.ts
  packages/ketcher-react/src/script/editor/HoverIcon.ts
Due: prettier --write

Refactor: #8160 - Unnecessary constructors should be removed (#8161)
  packages/ketcher-core/src/application/editor/operations/modes/index.ts
  packages/ketcher-core/src/domain/entities/EmptySequenceNode.ts
  packages/ketcher-core/src/domain/entities/monomer-chains/BaseSubChain.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/EmptySnakeLayoutNode.ts
Due: prettier --write

Refactor: #8162 - Make this public static property readonly (#8163)
  packages/ketcher-core/src/application/render/renderers/TransientView/GroupCenterSnapView.ts
  packages/ketcher-core/src/application/render/renderers/TransientView/SelectionView.ts
Due: prettier --write
