Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

- fixed remove new sequence btns call
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
Due: prettier --write

- updated screenshots
  ketcher-autotests/tests/Macromolecule-editor/Antisense-Chains/antisense-chain-layout.spec.ts
Due: prettier --write

- fixed delete for antisense - fixed clicking between antisense nodes - fixed add new sequence btn position - removed antisense cursor blinking
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/RNASequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceNodeRendererFactory.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/ui-controls/NewSequenceButton.ts
  packages/ketcher-core/src/domain/constants/chains.ts
  packages/ketcher-core/src/domain/constants/index.ts
  packages/ketcher-core/src/domain/helpers/chains.ts
Due: prettier --write

- fixed issues founded in self-review
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
  packages/ketcher-core/src/domain/entities/monomer-chains/ChainsCollection.ts
  packages/ketcher-core/src/domain/helpers/chains.ts
Due: prettier --write

- fixed issues founded in self-review
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceViewModel/SequenceViewModel.ts
  packages/ketcher-core/src/domain/entities/monomer-chains/ChainsCollection.ts
Due: prettier --write

- updated screenshots
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

- fixed issues after rebase
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-core/src/domain/entities/monomer-chains/ChainsCollection.ts
Due: prettier --write

Fix example serve adding serve.json for popup and iframe urls. Fix dependencies updating.
  package-lock.json
Due: prettier --write

Fix example serve adding serve.json for popup and iframe urls. Fix dependencies updating.
  demo/package.json
  package-lock.json
  packages/ketcher-core/package.json
Due: prettier --write

feat: Library ambiguius RNA bases loaded from HELM as bases with labels from the Library
  packages/ketcher-core/src/domain/constants/monomers.ts
  packages/ketcher-core/src/domain/entities/AmbiguousMonomer.ts
Due: prettier --write

Two sense to antisense connection order problem (#6401)
  packages/ketcher-core/src/domain/entities/monomer-chains/ChainsCollection.ts
Due: prettier --write

Refactor autotests to use verifyFileExport helper and update expected output files for RXN format
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Op-51769-ile---Reaction-from-file-that-contains-Sgroup-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Op-56a8a-of-two-or-more-reaction-arrows-and-structures-3-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Op-e083c-of-two-or-more-reaction-arrows-and-structures-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Save-File/save-file.spec.ts
  ketcher-autotests/tests/Indigo-Tools/Aromatize-Dearomatize/aromatize-dearomatize.spec.ts
  ketcher-autotests/tests/Indigo-Tools/Aromatize-Dearomatize/aromatize-dearomatize.spec.ts-snapshots/Aromatize-Dearomatize-Tool-RxnV3000-Save-cyclic-structures-with-a-circle-inside-the-cycle-1-chromium-linux.png
  ketcher-autotests/tests/Reaction-tool/Mapping-Unmapping tool/mapping-tool.spec.ts
  ketcher-autotests/tests/Reactions/Reaction-Validation/reaction-validation.spec.ts
  ketcher-autotests/tests/Reagents/RXN-Format/reagents-rxn-format.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Attachment-Point-Tool/attachment-point-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/R-group-tool/r-group-label-dialog.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/bond-properties.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-All-atom-properties-information-saved-as-rxn-file-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts
  ketcher-autotests/tests/Templates/Template-Manipulations/Template-manipulations.spec.ts
  ketcher-autotests/tests/test-data/Rxn-V2000/structure-with-two-reaction-arrows-saved.rxn
  ketcher-autotests/tests/test-data/Rxn-V3000/all-possible-atoms-properties-expected.rxn
  ketcher-autotests/tests/test-data/Rxn-V3000/aromatic-benzene-rxnv3000-expected.rxn
  ketcher-autotests/tests/test-data/Rxn-V3000/structure-with-two-reaction-arrows-saved.rxn
Due: prettier --write

- fixed issues after rebase
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/domain/entities/monomer-chains/ChainsCollection.ts
Due: prettier --write

fix: fix the dot indicating a modified phosphate in sequence mode
  packages/ketcher-core/src/application/render/renderers/sequence/NucleotideSequenceItemRenderer.ts
Due: prettier --write

- fixed issues after rebase
  ketcher-autotests/tests/Macromolecule-editor/Antisense-Chains/antisense-chain-layout.spec.ts
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

test: update screenshots
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-52M-ecfe8-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-A-C--3fa80-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-G--612f4-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-mA-m-fddbd-te-from-Clipboard-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts-snapshots/Modify-nucleotides-from-sequence-in-RNA-builde-2e5c3-der-highlighted-in-Edit-mode-Canvas-disabled-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts-snapshots/Modify-nucleotides-from-sequence-in-RNA-builde-3a088-of-nucleotides-and-nucleosides-simultaneously-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts-snapshots/Modify-nucleotides-from-sequence-in-RNA-builde-568bf-ected-without-an-adjacent-nucleoside-to-left-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts-snapshots/Modify-nucleotides-from-sequence-in-RNA-builde-8f58b-cleotide-upon-adding-Phosphate-in-RNA-Builder-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts-snapshots/Sequence-mode-edit-in-RNA-Builder-Select-nucle-403dc-hosphate-nucleoside-should-become-nucleotide-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts-snapshots/Sequence-mode-edit-in-RNA-Builder-Select-two-nucleotides-and-modify-sugar-and-phosphate-6-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-each-type-of-monomer-in-sequence-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-each-type-of-monomer-in-sequence-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-each-type-of-monomer-in-sequence-mode-3-chromium-linux.png
Due: none

- fixed issues
  packages/ketcher-core/src/domain/entities/monomer-chains/ChainsCollection.ts
Due: prettier --write

- fixed issues
  ketcher-autotests/tests/Macromolecule-editor/Antisense-Chains/antisense-chain-layout.spec.ts-snapshots/1-15-15-Hydrogen-side-chain-for-15-Nucleosi-72390-e-that-have-extra-hydrogen-bond---R-nC6n8A-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Antisense-Chains/antisense-chain-layout.spec.ts-snapshots/1-15-16-Hydrogen-side-chain-for-15-Nucleosi-c20ef--hydrogen-bond-and-phosphate-P---R-nC6n8A-P-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Antisense-Chains/antisense-chain-layout.spec.ts-snapshots/1-16-15-Hydrogen-side-chain-for-16-Nucleosi-1f474-e-that-have-extra-hydrogen-bond---R-nC6n8A-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Antisense-Chains/antisense-chain-layout.spec.ts-snapshots/1-16-16-Hydrogen-side-chain-for-16-Nucleosi-7d5b2--hydrogen-bond-and-phosphate-P---R-nC6n8A-P-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-LClick-drag-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-LClick-drag-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowLeft-then-delete-and-undo-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowLeft-then-delete-and-undo-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowLeft-then-delete-and-undo-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowLeft-then-delete-and-undo-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowRight-button-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-edit-mode-Select-letters-with-Shift-ArrowRight-button-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-view-mode-Select-entire-chain-with-Ctrl-Lclick-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-view-mode-Select-letters-with-Shift-Lclick-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-selection.spec.ts-snapshots/Sequence-mode-selection-for-view-mode-Select-letters-with-rectangular-selection-tool-1-chromium-linux.png
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
Due: prettier --write

- fixed issues
  ketcher-autotests/tests/Macromolecule-editor/Antisense-Chains/antisense-chains.spec.ts-snapshots/15-Ensure-that-switching-between-Flex-Snake-add1c-nding-between-the-sense-and-antisense-strands-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Antisense-Chains/antisense-chains.spec.ts-snapshots/5-Check-that-all-non-R1-R2-connections-of-bac-7c17d-cept-R3-R1-for-sugar-and-base-are-ignored-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-edit-mode-Copy-paste-selection-with-LClick-drag-and-undo-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-edit-mode-Copy-paste-selection-with-LClick-drag-and-undo-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-edit-mode-Copy-paste-selection-with-LClick-drag-and-undo-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-edit-mode-Select--68b8f-owLeft-then-paste-ket-from-clipboard-and-undo-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-edit-mode-Select--fad51-owLeft-then-paste-ket-from-clipboard-and-undo-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-view-mode-Copy-paste-selection-with-rectangular-tool-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-view-mode-Select--0f3ce-with-Ctrl-Lclick-then-copy-and-paste-and-undo-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-view-mode-Select--87e1a-with-Ctrl-Lclick-then-copy-and-paste-and-undo-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-view-mode-Select--e2c16-with-Ctrl-Lclick-then-copy-and-paste-and-undo-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Validate-that-sequences-with-modifications-can-be-edited-after-import-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/saving-svg.spec.ts-snapshots/Saving-in-svg-files-Export-to-SVG-Verify-it--6b51f-xport-Snake-mode-canvas-with-all-chems-to-SVG-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/saving-svg.spec.ts-snapshots/Saving-in-svg-files-Export-to-SVG-Verify-it--8f83b-xport-Snake-mode-canvas-with-all-chems-to-SVG-1-chromium-linux.png
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
Due: prettier --write

- updated screenshots
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/10-Verify-switch-to-flex-snake-sequence-modes-218b3-lity-of-hydrogen-bonds-in-macromolecules-mode-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/12-Verify-that-hydrogen-bonds-cannot-be-estab-a4b40-etween-small-molecules-in-macromolecules-mode-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Check-that-system-show-full-set-of-IDT-aliases-at-preview-tooltip-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Check-that-when-adding-new--e68be--order-of-chains-not-changes-in-Sequence-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Clear-canvas-switch-to-DNA-65558-ut-A-C-G-U-T-Verify-that-nothing-happens-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Clear-canvas-switch-to-DNA-8443c-ut-A-C-G-U-T-Verify-that-nothing-happens-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Clear-canvas-switch-to-DNA-bf502-ut-A-C-G-U-T-Verify-that-nothing-happens-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Clear-canvas-switch-to-RNA-02593-ut-A-C-G-U-T-Verify-that-nothing-happens-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Clear-canvas-switch-to-RNA-2c3ff-ut-A-C-G-U-T-Verify-that-nothing-happens-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Clear-canvas-switch-to-RNA-91497-ut-A-C-G-U-T-Verify-that-nothing-happens-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Switch-to-Peptide-mode-typ-3a956-S-T-V-U-W-Y-Verify-that-nothing-happens-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Switch-to-Peptide-mode-typ-64ade-S-T-V-U-W-Y-Verify-that-nothing-happens-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Switch-to-Peptide-mode-typ-f380f-S-T-V-U-W-Y-Verify-that-nothing-happens-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Text-editing-mode-activates-8b4e6--start-a-new-sequence-or-edit-an-existing-one-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Users-can-add-new-nucleotides-in-the-middle-of-a-sequence-fragment-as-text-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-it-is-possibl-3ff29--appears-if-user-hover-mouse-between-squences-1-chromium-linux.png
Due: none

- updated screenshots
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Confirm-that-if-system-encounters-Peptide-it-is-appears-as-letter-for-natural-analog-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-monomers-chains-and-switch-to-sequence-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Switch-from-flex-view-to-sequence-view-to-snake-view-and-back-to-flex-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Validate-displaying-modified-nuc-9b7a3--All-types-of-connection-between-CHEM-and-RNA-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Validate-displaying-modified-nuc-b031d-types-of-connection-between-Phosphate-and-RNA-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Validate-displaying-modified-nuc-b0ed9-All-types-of-connection-between-Sugar-and-RNA-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Validate-displaying-modified-nucleotide-chains-for-All-types-of-modifications-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Test-the-zoom-in-zoom-out-function-using-hotke-f775a-hat-the-zoom-focus-is-correct-Sequence-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Verify-that-when-zooming-in-zooming--c5314--and-left-monomer-in-the-sequence-Sequence-m-2-chromium-linux.png
Due: none

fix: update test and move the dot for nucleoside
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-edit-mode-Copy-paste-selection-with-LClick-drag-and-undo-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-edit-mode-Copy-paste-selection-with-LClick-drag-and-undo-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-edit-mode-Copy-paste-selection-with-LClick-drag-and-undo-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-edit-mode-Select--68b8f-owLeft-then-paste-ket-from-clipboard-and-undo-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-edit-mode-Select--fad51-owLeft-then-paste-ket-from-clipboard-and-undo-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-view-mode-Copy-paste-selection-with-rectangular-tool-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-view-mode-Copy-paste-selection-with-rectangular-tool-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-view-mode-Select--87e1a-with-Ctrl-Lclick-then-copy-and-paste-and-undo-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-view-mode-Select--e2c16-with-Ctrl-Lclick-then-copy-and-paste-and-undo-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-mode-copy-paste-for-view-mode-Verify--309e0-is-moved-to-make-newly-added-sequence-visible-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Open-some-expected-IDT-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Open-some-expected-IDT-Part2-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Test-performance-impa-f8dcb-ltiple-modifications-via-Paste-from-Clipboard-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Validate-that-sequences-with-modifications-can-be-edited-after-import-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-export-of-known-modified-monomers-with-IDT-alias-and-structure-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-export-of-mult-c3205-rom-IDT-format-using-Save-file-Sequence-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-export-of-sequ-4e528-ifications-from-IDT-format-using-API-getIdt-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-export-of-sequ-b1340-rom-IDT-format-using-Save-file-Sequence-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-hover-preview-contains-IDT-alias-only-for-unresolved-IDT-monomers-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-2-MO-4a9ac-t-using-Open-file-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-2-OM-f9c8c-t-using-Open-file-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-Affi-c34e5-t-using-Open-file-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-DNA--d7c15-t-using-Open-file-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-Gapm-0ce59-t-using-Open-file-Sequence-mode-Flex-Snake-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-unre-92b3f-ck-box-in-flex-snake-modes-and-in-sequence-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/saving-svg.spec.ts-snapshots/Saving-in-svg-files-Export-to-SVG-Verify-it--c58f5-th-all-types-of-possible-modifications-to-SVG-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/saving-svg.spec.ts-snapshots/Saving-in-svg-files-Export-to-SVG-Verify-it--f1897-th-all-types-of-possible-modifications-to-SVG-1-chromium-linux.png
  packages/ketcher-core/src/application/render/renderers/sequence/NucleosideSequenceItemRenderer.ts
Due: prettier --write

Fix example adding duo.
  example/config/webpack.config.js
  example/package.json
  example/public/duo.html
  example/serve.json
  example/src/DuoApp.tsx
  example/src/duoIndex.tsx
  example/src/index.css
  package-lock.json
  package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- updated screenshots
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-14-1-4-Replace-all-symbols-at-sequence-of-peptides-A-on-preset-R-A-in-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-14-1-4-Replace-all-symbols-at-sequence-of-peptides-A-on-preset-R-A-in-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-14-10-4-Replace-all-symbols-at-sequence--7167e-nalog-5NitInd-on-preset-R-A-in-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-14-10-4-Replace-all-symbols-at-sequence--abffa-nalog-5NitInd-on-preset-R-A-in-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-14-12-4-Replace-all-symbols-at-sequence--e009c-eotide-5Unres-on-preset-R-A-in-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-14-12-4-Replace-all-symbols-at-sequence--f49ea-eotide-5Unres-on-preset-R-A-in-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-14-2-4-Replace-all-symbols-at-sequence-o-14f01-l-analog-4Abz-on-preset-R-A-in-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-14-2-4-Replace-all-symbols-at-sequence-o-82cdc-l-analog-4Abz-on-preset-R-A-in-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-14-3-4-Replace-all-symbols-at-sequence-of-presets-A-on-preset-R-A-in-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-14-3-4-Replace-all-symbols-at-sequence-of-presets-A-on-preset-R-A-in-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-14-4-4-Replace-all-symbols-at-sequence-o-0fe78-phate-SGNA-U-on-preset-R-A-in-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-14-4-4-Replace-all-symbols-at-sequence-o-2d499-phate-SGNA-U-on-preset-R-A-in-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-14-9-4-Replace-all-symbols-at-sequence-o-0bf6e-es-2-Amino-dA-on-preset-R-A-in-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-14-9-4-Replace-all-symbols-at-sequence-o-253f7-es-2-Amino-dA-on-preset-R-A-in-view-mode-1-chromium-linux.png
Due: none

- updated screenshots
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-22-13-13-Replace-last-symbol-at-base-to--731c6-preset-25mo3r-nC6n5C-Test-6-Ph-in-edit-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-22-13-13-Replace-last-symbol-at-base-to--e1c15-preset-25mo3r-nC6n5C-Test-6-Ph-in-edit-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-22-13-14-Replace-last-symbol-at-base-to--4fb42-t-w-o-phosphate-25mo3r-nC6n5C-in-edit-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-22-13-14-Replace-last-symbol-at-base-to--cb0e4-t-w-o-phosphate-25mo3r-nC6n5C-in-edit-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-22-15-13-Replace-last-symbol-at-base-to--74300-preset-25mo3r-nC6n5C-Test-6-Ph-in-edit-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-22-15-13-Replace-last-symbol-at-base-to--f819d-preset-25mo3r-nC6n5C-Test-6-Ph-in-edit-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-22-15-14-Replace-last-symbol-at-base-to--4c6b6-t-w-o-phosphate-25mo3r-nC6n5C-in-edit-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-22-15-14-Replace-last-symbol-at-base-to--90481-t-w-o-phosphate-25mo3r-nC6n5C-in-edit-mode-2-chromium-linux.png
Due: none

Add test for pasting canvas as MOL format in Micro mode
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Paste-Action/paste-action.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Paste-Action/paste-action.spec.ts-snapshots/Paste-Tool-Canvas-in-Micro-mode-copied-as-MOL-1-chromium-linux.png
Due: prettier --write

- fixed autoscroll in snake mode if no monomers on canvas
  packages/ketcher-core/src/application/editor/modes/SnakeMode.ts
Due: prettier --write

#6417 – Update Indigo to 1.29.0-rc.1 in browser module
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

test: update test
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Check-display-of-all-components-are-modified-in-sequence-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-modified-RNA-in-sequence-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-modified-RNA-in-sequence-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-monomers-cyclic-chains-and-switch-to-sequence-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Switch-from-flex-view-to-sequence-view-to-snake-view-and-back-to-flex-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Test-display-of-nucleotides-with-db0d8-ate-any-phosphate-except-P-in-sequence-view-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Test-sequence-view-for-chains-containing-both-modified-and-unmodified-nucleotides-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Validate-displaying-modified-nucleotide-chains-for-All-types-of-modifications-1-chromium-linux.png
Due: none

- fixed issues
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/editor/tools/Tool.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
  packages/ketcher-core/src/domain/entities/index.ts
  packages/ketcher-macromolecules/src/EditorEvents.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/SequenceItemContextMenu/SequenceItemContextMenu.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/SequenceItemContextMenu/helpers.ts
Due: prettier --write

Remove all pageReload references from autotests
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-attachment-points.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Ambiguous-Monomers/preview-for-ambiguous-monomers.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Antisense-Chains/antisense-chain-layout.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Antisense-Chains/antisense-chains.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-fasta.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/saving-svg.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher3.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Snake-Mode/side-chain-connections.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts
  ketcher-autotests/tests/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts
Due: prettier --write

- fixed issues
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-switching-between-different-visual-e344f-e-retains-bond-types-and-structure-integrity-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-switching-between-different-visual-ef291-e-retains-bond-types-and-structure-integrity-1-chromium-linux.png
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/editor/tools/SelectRectangle.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
  packages/ketcher-core/src/domain/entities/BackBoneSequenceNode.ts
Due: prettier --write

- fixed issues
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
Due: prettier --write

- fixed issues
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
  packages/ketcher-core/src/domain/entities/monomer-chains/ChainsCollection.ts
  packages/ketcher-macromolecules/src/components/contextMenu/SequenceItemContextMenu/helpers.test.ts
  packages/ketcher-macromolecules/src/components/contextMenu/SequenceItemContextMenu/helpers.ts
  packages/ketcher-macromolecules/src/components/modal/UpdateSequenceInRNABuilder/UpdateSequenceInRNABuilder.test.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/helpers/sequenceEdit.test.ts
Due: prettier --write

#6411 – Revert copying functionality changes
  packages/ketcher-react/src/script/ui/state/hotkeys.ts
Due: prettier --write
