Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

Update draft_HELM_notation_vs_Ketcher_objects_mapping.md
  documentation/wiki/pages/draft_HELM_notation_vs_Ketcher_objects_mapping.md
Due: none

Revert some previous changes, refactor layout
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/Layout/Layout.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/__tests__/__snapshots__/notationInput.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/expandButton.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/inputBox.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/textareaAutoResize.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Container/Container.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Container/index.ts
  packages/ketcher-polymer-editor-react/src/hooks/index.ts
  packages/ketcher-polymer-editor-react/src/hooks/useResizeObserver.ts
Due: prettier --write

Corrections helm notation vs ketcher (#1222)
  documentation/wiki/examples_RNA_numeration.png
  documentation/wiki/pages/draft_HELM_notation_vs_Ketcher_objects_mapping.md
Due: none

#1138 Create Menu Component (fix) (#1215)
  packages/ketcher-polymer-editor-react/src/components/App/App.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/Menu.test.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/Menu.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/__snapshots__/Menu.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/menu/menuItem/MenuItem.test.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/menuItem/MenuItem.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/subMenu/SubMenu.test.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/subMenu/SubMenu.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/icon/icon.tsx
  packages/ketcher-polymer-editor-react/src/contexts/index.ts
  packages/ketcher-polymer-editor-react/src/contexts/menuContext.ts
  packages/ketcher-polymer-editor-react/src/hooks/useMenuContext.ts
  packages/ketcher-polymer-editor-react/src/state/common/editorSlice.ts
Due: prettier --write

Adjust modal window styles
  packages/ketcher-polymer-editor-react/src/components/dummyDialog/DummyDialog.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Modal/Modal.tsx
Due: prettier --write

Rename modal folder
  packages/ketcher-polymer-editor-react/src/components/dummyDialog/DummyDialog.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/dialog/Modal.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/dialog/index.ts
Due: prettier --write

Rename modal folder
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/__tests__/__snapshots__/notationInput.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/shared/ui/modal/Modal.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/modal/index.ts
Due: prettier --write

Adjust path
  packages/ketcher-polymer-editor-react/src/components/dummyDialog/DummyDialog.tsx
Due: prettier --write

Fix conflicts
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/App/App.tsx
Due: prettier --write

Refactor select
  packages/ketcher-react/package.json
  packages/ketcher-react/src/icons/files/chevron.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
  yarn.lock
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Refactor
  packages/ketcher-polymer-editor-react/src/components/dummyDialog/DummyDialog.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/modal/Modal.tsx
Due: prettier --write

Refactor variable names and get/set methods
  example/src/App.tsx
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/domain/services/storage/storage.types.ts
  packages/ketcher-react/src/script/builders/ketcher/KetcherBuilder.ts
  packages/ketcher-react/src/script/index.ts
  packages/ketcher-react/src/script/ui/state/options/index.js
Due: prettier --write

Remove miew package from example and refactor ref
  example/package.json
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/Miew.tsx
  yarn.lock
Due: prettier --write

Refactor select
  packages/ketcher-react/src/icons/files/checkmark.svg
  packages/ketcher-react/src/script/ui/component/form/Select/ReactSelect/ReactSelect.tsx
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Add Modal unit test
  packages/ketcher-polymer-editor-react/src/components/shared/ui/modal/Modal.test.tsx
Due: prettier --write

Refactor select
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
  packages/ketcher-react/src/script/ui/component/form/Select/shared/Select.module.less
  packages/ketcher-react/src/script/ui/component/form/Select/shared/Select.tsx
  packages/ketcher-react/src/script/ui/component/form/form/form.jsx
  packages/ketcher-react/src/script/ui/component/form/systemfonts.jsx
  packages/ketcher-react/src/script/ui/views/modal/Modal.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/Analyse.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Add Modal snapshot
  packages/ketcher-polymer-editor-react/src/components/shared/ui/modal/Modal.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/modal/__snapshots__/Modal.test.tsx.snap
Due: prettier --write

Add showCloseButton prop to Modal
  packages/ketcher-polymer-editor-react/src/components/shared/ui/modal/Modal.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/modal/Modal.tsx
Due: prettier --write

#1188 implement miew viewer with miew react (#1211)
  README.md
  example/package.json
  example/src/App.tsx
  packages/ketcher-react/README.md
  packages/ketcher-react/package.json
  packages/ketcher-react/src/script/ui/action/server.js
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/Miew.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/Miew.tsx
  yarn.lock
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1194 Create Layout component for Peptide editor (#1196)
  packages/ketcher-polymer-editor-react/src/Editor.test.tsx
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/App/App.tsx
  packages/ketcher-polymer-editor-react/src/components/Layout/Layout.test.tsx
  packages/ketcher-polymer-editor-react/src/components/Layout/Layout.tsx
  packages/ketcher-polymer-editor-react/src/components/Layout/index.ts
  packages/ketcher-polymer-editor-react/src/components/Logo/Logo.tsx
  packages/ketcher-polymer-editor-react/src/components/Logo/index.ts
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/MonomerLibrary.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/index.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/__tests__/__snapshots__/notationInput.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/textareaAutoResize.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/notationContainer.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/notationInput.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Tabs/Tabs.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/dropDown/dropDown.tsx
  packages/ketcher-polymer-editor-react/src/state/common/editorSaga.ts
  packages/ketcher-polymer-editor-react/src/styles/globalStyles.js
Due: prettier --write

remove promises from StorageProvider for now, replace storage object with custom storage where possible
  example/src/App.tsx
  packages/ketcher-core/src/domain/services/storage/storage.types.ts
  packages/ketcher-react/src/script/builders/ketcher/KetcherBuilder.ts
  packages/ketcher-react/src/script/index.ts
  packages/ketcher-react/src/script/ui/dialog/template/template-attach.jsx
  packages/ketcher-react/src/script/ui/state/index.js
  packages/ketcher-react/src/script/ui/state/options/index.js
  packages/ketcher-react/src/script/ui/state/templates/index.js
  packages/ketcher-react/src/script/ui/state/templates/init-lib.js
  packages/ketcher-react/src/script/ui/storage-ext.ts
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
Due: prettier --write

Resolve conflict
  packages/ketcher-polymer-editor-react/src/Editor.tsx
Due: prettier --write

Update Editor snapshot
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
Due: none

Fixes
  packages/ketcher-polymer-editor-react/src/components/dummyDialog/DummyDialog.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/modal/Modal.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/modal/Modal.tsx
Due: prettier --write

Remove ui folder inside shared folder
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/components/dummyDialog/DummyDialog.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/menuItem/MenuItem.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/subMenu/SubMenu.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/MonomerLibrary.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/expandButton.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/notationInput.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/Switcher/Switcher.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/Tabs/Tabs.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/Tabs/index.ts
  packages/ketcher-polymer-editor-react/src/components/shared/actionButton/ActionButton.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/actionButton/__tests__/ActionButton.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/actionButton/index.ts
  packages/ketcher-polymer-editor-react/src/components/shared/dropDown/__tests__/dropDown.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/dropDown/dropDown.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/dropDown/index.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/dropDown/styledIcons.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/icon/__tests__/__snapshots__/icon.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/shared/icon/__tests__/icon.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/icon/icon.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/icon/index.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/modal/Modal.test.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/modal/Modal.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/modal/__snapshots__/Modal.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/shared/modal/index.ts
Due: prettier --write

Update Polymer Editor - Open file.md
  documentation/wiki/pages/Polymer Editor - Open file.md
Due: none

Remove warning and isAvailable from storage and fix bug
  example/src/App.tsx
  packages/ketcher-core/src/domain/services/storage/storage.types.ts
  packages/ketcher-react/src/script/ui/dialog/template/template-attach.jsx
  packages/ketcher-react/src/script/ui/state/index.js
  packages/ketcher-react/src/script/ui/storage-ext.ts
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
Due: prettier --write

Add options prop for select field and refactor
  packages/ketcher-react/jest.config.js
  packages/ketcher-react/package.json
  packages/ketcher-react/src/script/ui/component/form/MeasureInput/measure-input.jsx
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/component/form/Select/Select.test.tsx
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
  packages/ketcher-react/src/script/ui/component/form/Select/shared/Select.tsx
  packages/ketcher-react/src/script/ui/component/form/form/form.jsx
  packages/ketcher-react/src/script/ui/component/form/systemfonts.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.jsx
  packages/ketcher-react/src/script/ui/utils/index.ts
  packages/ketcher-react/src/script/ui/views/modal/Modal.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/Analyse.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/Analyse.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
  yarn.lock
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Fix tests
  packages/ketcher-react/jest.config.js
  packages/ketcher-react/testFileTransformer.js
Due: prettier --write

Fix conflicts
  yarn.lock
Due: none

Add predetermined package resolution for react-error-overlay
  package.json
  yarn.lock
Due: prettier --write

Fix errors
  packages/ketcher-react/src/script/ui/component/form/Select/index.ts
  packages/ketcher-react/src/script/ui/utils/index.ts
Due: prettier --write

Add predetermined package resolution for react-error-overlay (#1229)
  package.json
  yarn.lock
Due: prettier --write

add RNA Monomer Section
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/MonomerLibrary.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryGroup/MonomerGroup.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryGroup/index.ts
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/MonomerSection/MonomerSection.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/MonomerSection/index.ts
  packages/ketcher-polymer-editor-react/src/components/rna/Switcher/Switcher.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Tabs/Tabs.tsx
  packages/ketcher-polymer-editor-react/src/styles/theme.js
  packages/ketcher-polymer-editor-react/src/theme.d.ts
Due: prettier --write

Change storage set method to return promise and refactor
  example/src/App.tsx
  packages/ketcher-react/src/script/ui/state/options/index.js
  packages/ketcher-react/src/script/ui/state/templates/index.js
  packages/ketcher-react/src/script/ui/state/templates/init-lib.js
Due: prettier --write

Change theming file structure
  packages/ketcher-polymer-editor-react/jest.config.js
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/test-utils/index.tsx
  packages/ketcher-polymer-editor-react/src/theme.d.ts
  packages/ketcher-polymer-editor-react/src/theming/defaultTheme/defaultTheme.ts
  packages/ketcher-polymer-editor-react/src/theming/defaultTheme/index.ts
  packages/ketcher-polymer-editor-react/src/theming/defaultTheme/theme.types.ts
  packages/ketcher-polymer-editor-react/src/theming/globalStyles/getGlobalStyles.ts
  packages/ketcher-polymer-editor-react/src/theming/globalStyles/index.ts
  packages/ketcher-polymer-editor-react/src/theming/mixins/index.ts
  packages/ketcher-polymer-editor-react/src/theming/mixins/mixins.ts
  packages/ketcher-polymer-editor-react/tsconfig.json
Due: prettier --write

Change theme imports and use in styled components
  packages/ketcher-polymer-editor-react/src/components/Layout/Layout.tsx
  packages/ketcher-polymer-editor-react/src/components/Logo/Logo.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/Menu.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/menuItem/MenuItem.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/subMenu/SubMenu.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/MonomerLibrary.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/expandButton.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/inputBox.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/textareaAutoResize.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/Switcher/Switcher.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Tabs/Tabs.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/actionButton/ActionButton.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/dropDown/dropDown.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/icon/icon.tsx
  packages/ketcher-polymer-editor-react/src/hooks/index.ts
Due: prettier --write

Refactor Generics entity, redesign extended periodic table tab
  packages/ketcher-core/src/domain/constants/generics.ts
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/GenericTypes.d.ts
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/components/GenGroup.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/components/GenGroup.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/components/components/BoxWIthLines.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/components/components/BoxWithLines.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/components/components/GenSet.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Rename components of generic tab to TSX, add types
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/GenericGroups.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/components/GenGroup.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/components/components/GenSet.tsx
Due: prettier --write
