Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

autotests(#7964): add longClickOnAtom and setLabel, refactor label editing tests
  ketcher-autotests/tests/pages/molecules/canvas/LabelEditDialog.ts
  ketcher-autotests/tests/specs/API/view-only-mode.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Template-manipulations.spec.ts
  ketcher-autotests/tests/utils/clicks/index.ts
Due: prettier --write

fixes
  packages/ketcher-core/src/application/render/renderers/BondRenderer.ts
  packages/ketcher-core/src/application/render/restruct/rebond.ts
Due: prettier --write

f2
  ketcher-autotests/tests/specs/API/is-query-structure-selected.spec.ts
Due: prettier --write

Removed no used import pressButton from is-query-structure-selected.spec.ts, because of git push failure
  ketcher-autotests/tests/specs/API/is-query-structure-selected.spec.ts
Due: prettier --write

#8377 - Add data-topology and data-reacting-center attributes for bonds (#8378)
  ketcher-autotests/tests/specs/API/is-query-structure-selected.spec.ts
  packages/ketcher-core/src/application/render/renderers/BondRenderer.ts
  packages/ketcher-core/src/application/render/restruct/rebond.ts
Due: prettier --write

Autotests: #7964 - add LabelEditDialog page object and update atom editing tests (#8375)
  ketcher-autotests/tests/pages/molecules/canvas/LabelEditDialog.ts
  ketcher-autotests/tests/specs/API/view-only-mode.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Template-manipulations.spec.ts
  ketcher-autotests/tests/utils/clicks/index.ts
Due: prettier --write

First
  ketcher-autotests/tests/pages/molecules/canvas/BondPropertiesDialog.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Manipulations-rings.spec.ts
  ketcher-autotests/tests/utils/macromolecules/polymerBond.ts
Due: prettier --write

f2
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts
Due: prettier --write

f3
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/utils.ts
  ketcher-autotests/tests/utils/query-features.ts
Due: prettier --write

f4
  ketcher-autotests/tests/specs/API/is-query-structure-selected.spec.ts
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Manipulations-rings.spec.ts
Due: prettier --write

feat: add support for monomer library SDF format conversion
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-core/src/application/formatters/structFormatter.types.ts
  packages/ketcher-core/src/application/indigo.ts
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
Due: prettier --write

#7553 Remove ref to custom class
  packages/ketcher-macromolecules/src/components/FullscreenButton/FullscreenButton.tsx
  packages/ketcher-react/src/Editor.tsx
  packages/ketcher-react/src/script/ui/action/fullscreen.ts
Due: prettier --write

fix: fix properties in indigo converter
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-core/src/application/indigo.ts
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-core/src/infrastructure/services/struct/remoteStructService.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

fix:make monomer library persistence opt‑in via shouldPersist
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/application/ketcher.types.ts
  packages/ketcher-core/src/utilities/ensureString.ts
  packages/ketcher-core/src/utilities/index.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

Delete documentation/images/FG_chain.gif
  documentation/images/FG_chain.gif
Due: none

Delete documentation/images/Macro-canvas-3.8..png
  documentation/images/Macro-canvas-3.8..png
Due: none

Delete documentation/images/Library-Tabs-3.8..png
  documentation/images/Library-Tabs-3.8..png
Due: none

Delete documentation/images/Selection-for-Creating-a-Monomer-3.7..png
  documentation/images/Selection-for-Creating-a-Monomer-3.7..png
Due: none

Delete documentation/images/Entering-the-Monomer-Creation-Wizard-3.7..png
  documentation/images/Entering-the-Monomer-Creation-Wizard-3.7..png
Due: none

Delete documentation/images/Exiting-the-Monomer-Creation-Wizard-3.7..png
  documentation/images/Exiting-the-Monomer-Creation-Wizard-3.7..png
Due: none

Delete documentation/images/New-Monomer-Micro-3.7..png
  documentation/images/New-Monomer-Micro-3.7..png
Due: none

Delete documentation/images/New-Monomer-Macro-3.7..png
  documentation/images/New-Monomer-Macro-3.7..png
Due: none

Delete documentation/images/New-Monomer-Library-3.7..png
  documentation/images/New-Monomer-Library-3.7..png
Due: none

Delete documentation/images/Open-Structure-Macro-2-3.0..png
  documentation/images/Open-Structure-Macro-2-3.0..png
Due: none

Add files via upload
  documentation/images/FG_chain-3.9..gif
  documentation/images/Library-Tabs-3.9..png
  documentation/images/Macro-canvas-3.9..png
  documentation/images/Monomer-Creation-Wizard-10-3.9..png
  documentation/images/Monomer-Creation-Wizard-11-3.9..png
  documentation/images/Monomer-Creation-Wizard-2-3.9..png
  documentation/images/Monomer-Creation-Wizard-3-3.9..png
  documentation/images/Monomer-Creation-Wizard-3.9..png
  documentation/images/Monomer-Creation-Wizard-4-3.9..png
  documentation/images/Monomer-Creation-Wizard-5-3.9..png
  documentation/images/Monomer-Creation-Wizard-6-3.9..png
  documentation/images/Monomer-Creation-Wizard-7-3.9..png
  documentation/images/Monomer-Creation-Wizard-8-3.9..png
  documentation/images/Monomer-Creation-Wizard-9-3.9..png
  documentation/images/Open-Structure-Macro-2-3.9..png
Due: none

Update help.md
  documentation/help.md
Due: none

#8200 - Add parameter to Editor to disable saving new monomers to local storage (#8364)
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/application/ketcher.types.ts
  packages/ketcher-core/src/utilities/SettingsManager.ts
  packages/ketcher-core/src/utilities/ensureString.ts
  packages/ketcher-core/src/utilities/index.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#7971 - Update the help document (3.9.) (#8384)
  documentation/help.md
  documentation/images/Entering-the-Monomer-Creation-Wizard-3.7..png
  documentation/images/Exiting-the-Monomer-Creation-Wizard-3.7..png
  documentation/images/FG_chain-3.9..gif
  documentation/images/FG_chain.gif
  documentation/images/Library-Tabs-3.8..png
  documentation/images/Library-Tabs-3.9..png
  documentation/images/Macro-canvas-3.8..png
  documentation/images/Macro-canvas-3.9..png
  documentation/images/Monomer-Creation-Wizard-10-3.9..png
  documentation/images/Monomer-Creation-Wizard-11-3.9..png
  documentation/images/Monomer-Creation-Wizard-2-3.9..png
  documentation/images/Monomer-Creation-Wizard-3-3.9..png
  documentation/images/Monomer-Creation-Wizard-3.9..png
  documentation/images/Monomer-Creation-Wizard-4-3.9..png
  documentation/images/Monomer-Creation-Wizard-5-3.9..png
  documentation/images/Monomer-Creation-Wizard-6-3.9..png
  documentation/images/Monomer-Creation-Wizard-7-3.9..png
  documentation/images/Monomer-Creation-Wizard-8-3.9..png
  documentation/images/Monomer-Creation-Wizard-9-3.9..png
  documentation/images/New-Monomer-Library-3.7..png
  documentation/images/New-Monomer-Macro-3.7..png
  documentation/images/New-Monomer-Micro-3.7..png
  documentation/images/Open-Structure-Macro-2-3.0..png
  documentation/images/Open-Structure-Macro-2-3.9..png
  documentation/images/Selection-for-Creating-a-Monomer-3.7..png
Due: none

#7905 – Change selection logic
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#7905 – Enable Indigo functions
  packages/ketcher-react/src/script/ui/action/index.ts
  packages/ketcher-react/src/script/ui/action/server.js
Due: prettier --write

#7905 – Support undo/redo for reassign attachment point operation
  packages/ketcher-core/src/application/editor/operations/OperationType.ts
  packages/ketcher-core/src/application/editor/operations/monomerCreation/ReassignAttachmentPointOperation.ts
  packages/ketcher-core/src/application/editor/operations/monomerCreation/index.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#7905 – Support undo/redo for assigning attachment point via leaving atom and removing as assigned attachment point
  packages/ketcher-core/src/application/editor/actions/action.ts
  packages/ketcher-core/src/application/editor/operations/OperationType.ts
  packages/ketcher-core/src/application/editor/operations/index.ts
  packages/ketcher-core/src/application/editor/operations/monomerCreation/AssignLeavingGroupAtomOperation.ts
  packages/ketcher-core/src/application/editor/operations/monomerCreation/RemoveAttachmentPointOperation.ts
  packages/ketcher-core/src/application/editor/operations/monomerCreation/index.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#7905 – Fix build failure
  packages/ketcher-core/src/application/editor/operations/monomerCreation/AssignAttachmentAtomOperation.ts
  packages/ketcher-core/src/application/editor/operations/monomerCreation/RemoveAttachmentPointOperation.ts
Due: prettier --write

#7905 – Support undo/redo for reassign leaving atom operation
  packages/ketcher-core/src/application/editor/operations/OperationType.ts
  packages/ketcher-core/src/application/editor/operations/monomerCreation/ReassignLeavingAtomOperation.ts
  packages/ketcher-core/src/application/editor/operations/monomerCreation/index.ts
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#7905 – Support undo/redo for assign attachment atom operation
  packages/ketcher-core/src/application/editor/operations/OperationType.ts
  packages/ketcher-core/src/application/editor/operations/monomerCreation/AssignAttachmentAtomOperation.ts
  packages/ketcher-core/src/application/editor/operations/monomerCreation/AssignLeavingGroupAtomOperation.ts
  packages/ketcher-core/src/application/editor/operations/monomerCreation/ReassignAttachmentPointOperation.ts
  packages/ketcher-core/src/application/editor/operations/monomerCreation/ReassignLeavingAtomOperation.ts
  packages/ketcher-core/src/application/editor/operations/monomerCreation/RemoveAttachmentPointOperation.ts
  packages/ketcher-core/src/application/editor/operations/monomerCreation/index.ts
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#7905 – Do not apply toggle explicit hydrogens for leaving group atoms in monomer creation wizard
  packages/ketcher-core/src/application/editor/editor.types.ts
  packages/ketcher-react/src/script/ui/state/shared.ts
Due: prettier --write

#7553 Refactor
  packages/ketcher-macromolecules/src/components/FullscreenButton/FullscreenButton.tsx
  packages/ketcher-react/src/index.tsx
  packages/ketcher-react/src/script/ui/action/fullscreen.ts
  packages/ketcher-react/src/utils.ts
Due: prettier --write

#7905 – Enable layout and clenaup tools, add label to HELM alias input
  packages/ketcher-react/src/script/ui/action/server.js
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7553 - Dropdown for switching between Macro and Micro modes does not appear in fullscreen mode (#7892)
  packages/ketcher-macromolecules/src/components/FullscreenButton/FullscreenButton.tsx
  packages/ketcher-react/src/Editor.tsx
  packages/ketcher-react/src/index.tsx
  packages/ketcher-react/src/script/ui/action/fullscreen.ts
  packages/ketcher-react/src/script/ui/views/toolbars/ModeControl/ModeControl.tsx
  packages/ketcher-react/src/utils.ts
Due: prettier --write
