Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1396 s group windows fix clickable area (#1493)
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

add cancel button to open structure window
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

add cancel button to open structure window (#1494)
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

update textEditor layout
  packages/ketcher-react/src/script/ui/views/modal/components/Text/SpecialSymbols/SpecialSymbolsButton.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/SpecialSymbols/SpecialSymbolsButton.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/Text/SpecialSymbolsList/SpecialSymbolsList.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/Text/TextButton/TextButton.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1396-fix-horizontal-scroll
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#1396-fix-horizontal-scroll (#1495)
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

change border color for top toolbar dropdown
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ElementWithDropdown.tsx
Due: prettier --write

change border color for top toolbar dropdown (#1496)
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ElementWithDropdown.tsx
Due: prettier --write

Add files via upload
  documentation/images/13_atom_prop.png
  documentation/images/45_open_text_new.png
  documentation/images/6_calc_values.png
  documentation/images/7_settings.png
  documentation/images/8_miew1.png
  documentation/images/FG_remove_abb.png
Due: none

Update help.md
  documentation/help.md
Due: none

Add files via upload
  documentation/images/48_enhstereo.png
Due: none

Add files via upload
  documentation/images/481_ster_icon.png
Due: none

fix incorrect ratio in preview
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Add files via upload
  documentation/images/42_texttool.png
Due: none

fix incorrect ratio in preview (#1499)
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Delete 42_texttool.png
  documentation/images/42_texttool.png
Due: none

Add files via upload
  documentation/images/421_texttool.png
Due: none

Delete FG_Exapand_Contract.gif
  documentation/images/FG_Exapand_Contract.gif
Due: none

Delete FG_Filter.gif
  documentation/images/FG_Filter.gif
Due: none

Delete FG_Icon.png
  documentation/images/FG_Icon.png
Due: none

Delete FG_adding.gif
  documentation/images/FG_adding.gif
Due: none

Delete FG_bond.gif
  documentation/images/FG_bond.gif
Due: none

Delete FG_selection.png
  documentation/images/FG_selection.png
Due: none

Delete FG_warning.png
  documentation/images/FG_warning.png
Due: none

Delete text-editor.png
  documentation/images/text-editor.png
Due: none

Delete transform.png
  documentation/images/transform.png
Due: none

Delete transform-types.png
  documentation/images/transform-types.png
Due: none

Delete toolbar.png
  documentation/images/toolbar.png
Due: none

Delete template.png
  documentation/images/template.png
Due: none

Delete template-lib.png
  documentation/images/template-lib.png
Due: none

Delete template-dialog.png
  documentation/images/template-dialog.png
Due: none

Delete stereo-button.png
  documentation/images/stereo-button.png
Due: none

Delete simple-objects.png
  documentation/images/simple-objects.png
Due: none

Delete simple-objects-full.png
  documentation/images/simple-objects-full.png
Due: none

Delete shape-ellipse.png
  documentation/images/shape-ellipse.png
Due: none

Delete sgroup.png
  documentation/images/sgroup.png
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
