Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

#3070 - Update screenshot
  ketcher-autotests/tests/User-Interface/About/about-ui.spec.ts-snapshots/Open-Ketcher-About-floating-windows-appeared-1-chromium-linux.png
Due: none

- updated snapshots; - some test files moved to folders
  ketcher-autotests/tests/Examples/ketcher-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/InChi/InChi.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Open-File/open-file.spec.ts
  ketcher-autotests/tests/Indigo-Tools/Clean-Tools/clean-tools.spec.ts
  ketcher-autotests/tests/R-group-tool/r-group-fragment-tool.spec.ts
  ketcher-autotests/tests/R-group-tool/r-group-fragment-tool.spec.ts-snapshots/Open-Ketcher-Add-attachment-point-to-the-R-Group-member-1-chromium-linux.png
  ketcher-autotests/tests/R-group-tool/r-group-fragment-tool.spec.ts-snapshots/Open-Ketcher-Brackets-rendering-for-whole-r-group-structure-1-chromium-linux.png
  ketcher-autotests/tests/R-group-tool/r-group-fragment-tool.spec.ts-snapshots/Open-Ketcher-Brackets-rendering-for-whole-r-group-structure-even-with-attachment-points-1-chromium-linux.png
  ketcher-autotests/tests/R-group-tool/r-group-fragment-tool.spec.ts-snapshots/Open-Ketcher-Change-R-Group-definition-for-multiple-R-Group-members-1-chromium-linux.png
  ketcher-autotests/tests/R-group-tool/r-group-fragment-tool.spec.ts-snapshots/Open-Ketcher-Change-R-Group-definition-for-single-R-Group-member-1-chromium-linux.png
  ketcher-autotests/tests/R-group-tool/r-group-fragment-tool.spec.ts-snapshots/Open-Ketcher-Create-Single-R-Fragment-Group-member-1-chromium-linux.png
  ketcher-autotests/tests/R-group-tool/r-group-fragment-tool.spec.ts-snapshots/Open-Ketcher-Create-several-R-Group-members-1-chromium-linux.png
  ketcher-autotests/tests/R-group-tool/r-group-fragment-tool.spec.ts-snapshots/Open-Ketcher-Define-a-structure-with-attachment-points-as-R-Group-member-1-chromium-linux.png
  ketcher-autotests/tests/R-group-tool/r-group-fragment-tool.spec.ts-snapshots/Open-Ketcher-R-Fragment-Group-UI-Verification-1-chromium-linux.png
  ketcher-autotests/tests/R-group-tool/r-group-fragment-tool.spec.ts-snapshots/Open-Ketcher-R-Fragment-Group-dialog-cancelling-1-chromium-linux.png
  ketcher-autotests/tests/R-group-tool/r-group-fragment-tool.spec.ts-snapshots/Open-Ketcher-R-Fragment-Group-dialog-opening-1-chromium-linux.png
  ketcher-autotests/tests/R-group-tool/r-group-fragment-tool.spec.ts-snapshots/Open-Ketcher-R-Group-definition-is-not-deleted-when-root-structure-was-deleted-1-chromium-linux.png
  ketcher-autotests/tests/R-group-tool/r-group-fragment-tool.spec.ts-snapshots/Open-Ketcher-Remove-R-Group-member-from-R-Group-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Attachment-Point-Tool/attachment-point-tool.spec.ts
  ketcher-autotests/tests/test-data/1848mol.mol
  ketcher-autotests/tests/test-data/1849rxn.rxn
  ketcher-autotests/tests/test-data/Molfiles-V2000/four-bonds.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/three-structures.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/a-query-notList.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/dhis-prohibit-atoms.mol
  ketcher-autotests/tests/test-data/Rxn/1839-ketcher.rxn
  ketcher-autotests/tests/test-data/Txt/1837-inchi-1.txt
  ketcher-autotests/tests/test-data/Txt/1837-inchi-2.txt
  ketcher-autotests/tests/test-data/Txt/1837-inchi-3.txt
  ketcher-autotests/tests/test-data/Txt/1963-inchi.txt
  ketcher-autotests/tests/test-data/Txt/1967-inchi.txt
  ketcher-autotests/tests/test-data/Txt/1968-inchi.txt
  ketcher-autotests/tests/test-data/Txt/1969-inchi.txt
  ketcher-autotests/tests/test-data/Txt/1970-inchi.txt
  ketcher-autotests/tests/test-data/Txt/1971-inchi.txt
  ketcher-autotests/tests/test-data/Txt/1974-inchi.txt
  ketcher-autotests/tests/utils/selectors/attachment-point-modal.ts
Due: prettier --write

- moved some test files to folder
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/InChi/InChi.spec.ts
  ketcher-autotests/tests/test-data/Txt/1975-inchi.txt
  ketcher-autotests/tests/test-data/Txt/1976-inchi.txt
Due: prettier --write

- added path to folders in some tests
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Open-File/open-file.spec.ts
Due: prettier --write

#2389 - Add GEN S-group as supported for rendering
  packages/ketcher-core/src/application/render/restruct/restruct.ts
  packages/ketcher-react/src/script/ui/state/constants.ts
Due: prettier --write

- 2 tests - refrence screenshots
  ketcher-autotests/tests/Settings/General/default-settings-verification.spec.ts
  ketcher-autotests/tests/Settings/General/default-settings-verification.spec.ts-snapshots/Open-Ketcher-Verify-defult-settings-1-chromium-linux.png
Due: prettier --write

#3019 - Show stereo label correctly
  packages/ketcher-core/src/application/render/restruct/reatom.ts
Due: prettier --write

#3019 - Rerender template previews after options have changed
  packages/ketcher-core/src/application/render/renderStruct.ts
  packages/ketcher-react/src/components/StructRender/StructRender.tsx
  packages/ketcher-react/src/components/StructRender/types.ts
  packages/ketcher-react/src/script/ui/dialog/template/TemplateTable.tsx
Due: prettier --write

#3019 - Initial changes to logic for showing labels
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-core/src/application/render/restruct/reenhancedFlag.ts
Due: prettier --write

#3019 - Remove unused variable
  packages/ketcher-react/src/script/ui/state/templates/init-lib.ts
Due: prettier --write

#3019 - Fix MolSerializer error
  packages/ketcher-core/src/domain/serializers/mol/mol.types.ts
  packages/ketcher-core/src/domain/serializers/sdf/sdfSerializer.ts
Due: prettier --write

#3019 - Fix templates not being updated after changing ignoreChiralFlag setting
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-core/src/application/render/restruct/reenhancedFlag.ts
  packages/ketcher-core/src/domain/serializers/mol/mol.types.ts
  packages/ketcher-core/src/domain/serializers/sdf/sdfSerializer.ts
  packages/ketcher-react/src/constants.ts
  packages/ketcher-react/src/script/ui/state/options/index.js
  packages/ketcher-react/src/script/ui/state/templates/init-lib.ts
  packages/ketcher-react/src/script/ui/utils/optionsManager.ts
  packages/ketcher-react/src/script/ui/utils/settingsManager.ts
Due: prettier --write

#3019 - Simplify template render invalidation code
  packages/ketcher-core/src/application/render/renderStruct.ts
  packages/ketcher-react/src/components/StructRender/StructRender.tsx
  packages/ketcher-react/src/components/StructRender/types.ts
  packages/ketcher-react/src/script/ui/dialog/template/TemplateTable.tsx
Due: prettier --write

#2623 - adding variable
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/BondMenuItems.tsx
Due: prettier --write

#3070 - Update screenshots for cut-copy-paste
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Cut-button-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Cut-button-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Cut-button-3-chromium-linux.png
Due: none

#3070 - Update screenshots for selection-tool
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Canvas-Expansion-when-Structure-is-Moved-Outside-Down-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Canvas-Expansion-when-Structure-is-Moved-Outside-Left-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Canvas-Expansion-when-Structure-is-Moved-Outside-Up-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Selection-tools-is-not-change-when-user-press-ESC-button-1-chromium-linux.png
Due: none

#3005 - Apply CR suggestions
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/Tool.ts
Due: prettier --write

#3070 - Update screenshots for lookup-abbreviations
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-selecting-template-1-chromium-linux.png
Due: none

#3070 - Update screenshots for toolbar-ui
  ketcher-autotests/tests/User-Interface/Toolbar/toolbar-ui.spec.ts-snapshots/Open-Ketcher-Toolbars-on-the-right-and-bottom-visible-when-zoomed-in-1-chromium-linux.png
Due: none

#2623 - updated screenshots
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Rotation/rotation.spec.ts-snapshots/Rotation-Works-with-different-zoom-level-and-screen-resolution-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Canvas-Expansion-when-Structure-is-Moved-Outside-Down-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Canvas-Expansion-when-Structure-is-Moved-Outside-Left-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Canvas-Expansion-when-Structure-is-Moved-Outside-Up-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Selection-tools-is-not-change-when-user-press-ESC-button-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-selecting-template-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Cut-button-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Cut-button-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Cut-button-3-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Paste-button-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Paste-button-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-menu-for-bonds-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-submenu-for-Query-bonds-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Right-click-on-a-Bond-with-se-4f555-roup-tool-not-opens-S-Group-Properties-window-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Toolbar/toolbar-ui.spec.ts-snapshots/Open-Ketcher-Toolbars-on-the-right-and-bottom-visible-when-zoomed-in-1-chromium-linux.png
Due: none

#2994 revert brackets length when there are no attachment points
  packages/ketcher-core/src/application/render/restruct/resgroup.js
Due: prettier --write

#3114 fix seletion name and refactor func name
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-core/src/infrastructure/services/struct/remoteStructService.ts
  packages/ketcher-react/src/script/api.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.types.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

#3070 - Update screenshots for copy-cut-paste: add delay to wait for top bar loading
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts
Due: prettier --write

#2389 - Update auto-tests
  ketcher-autotests/tests/Templates/S-Groups/s-groups.spec.ts
  ketcher-autotests/tests/Templates/S-Groups/s-groups.spec.ts-snapshots/S-Groups-Open-file-with-several-s-groups-and-check-brackets-1-chromium-linux.png
  ketcher-autotests/tests/Templates/S-Groups/s-groups.spec.ts-snapshots/S-Groups-Open-file-with-several-s-groups-and-check-brackets-2-chromium-linux.png
Due: prettier --write

#2849 – When zoom out or zoom in, atoms and templates are located not under the mouse cursor
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/HoverIcon.ts
Due: prettier --write

#2623 - Two dividing line between 'Edit...' and 'Single' bond in Bond context menu (#3127)
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Rotation/rotation.spec.ts-snapshots/Rotation-Works-with-different-zoom-level-and-screen-resolution-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Canvas-Expansion-when-Structure-is-Moved-Outside-Down-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Canvas-Expansion-when-Structure-is-Moved-Outside-Left-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Canvas-Expansion-when-Structure-is-Moved-Outside-Up-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Selection-tools-is-not-change-when-user-press-ESC-button-1-chromium-linux.png
  ketcher-autotests/tests/Templates/Functional-Groups/lookup-abbreviations.spec.ts-snapshots/Lookup-Abbreviations-tests-Lookup-Abbreviation-selecting-template-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Cut-button-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Cut-button-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Cut-button-3-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Paste-button-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Paste-button-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-menu-for-bonds-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-submenu-for-Query-bonds-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Right-click-on-a-Bond-with-se-4f555-roup-tool-not-opens-S-Group-Properties-window-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Toolbar/toolbar-ui.spec.ts-snapshots/Open-Ketcher-Toolbars-on-the-right-and-bottom-visible-when-zoomed-in-1-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/BondMenuItems.tsx
Due: prettier --write

#3019 - Fix localStorage usage
  packages/ketcher-react/src/script/ui/utils/optionsManager.ts
  packages/ketcher-react/src/script/ui/utils/settingsManager.ts
Due: prettier --write

#3070 - Update screenshots for rotation: add 'fixme' to zoom test
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Rotation/rotation.spec.ts
Due: prettier --write

#3140 - Add query options to right-click menu
  packages/ketcher-core/src/application/editor/actions/utils.ts
  packages/ketcher-core/src/domain/entities/atom.ts
  packages/ketcher-react/src/script/ui/state/modal/atoms.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AtomMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/ToggleButtonGroup/ToggleButtonGroup.module.less
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/ToggleButtonGroup/ToggleButtonGroup.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#3114 fix unit test
  ketcher-autotests/tests/User-Interface/Save-Dialog/save-dialog.spec.ts
Due: prettier --write

#3114 fix unit test
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/__snapshots__/Save.test.tsx.snap
Due: none

When dragging and dropping an abbreviation of Functional Group onto an atom in structure, errors appear in DevTools console
  packages/ketcher-core/src/application/editor/actions/atom.ts
  packages/ketcher-core/src/application/editor/actions/utils.ts
Due: prettier --write

#3140 - Add query options to right-click menu - Add e2e tests
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-menu-for-atoms-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-property-change-for-atoms-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-property-change-for-atoms-2-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-property-change-for-atoms-3-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-property-change-for-atoms-4-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-that-menu-Enhanced-ster-0f28b-f-atom-does-not-have-enhanced-stereochemistry-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-that-the-menu-Enhanced--751a5-out-if-the-atom-have-enhanced-stereochemistry-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Right-click-on-an-Atom-with-s-dae3c-roup-tool-not-opens-S-Group-Properties-window-1-chromium-linux.png
Due: prettier --write

#3168 – Autotests - Open and Save Mol-files
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts-snapshots/Open-and-Save-file---Open-Save-Alias-and-Pseudoatoms-1-2---open-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts-snapshots/Open-and-Save-file---Open-Save-V3000-mol-file-contains-Rgroup-1-2---open-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts-snapshots/Open-and-Save-file---Open-Save-V3000-mol-file-contains-more-than-900-symbols-1-2---open-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts-snapshots/Open-and-Save-file---Open-Save-file-with-S-Groups-1-2---open-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts-snapshots/Open-and-Save-file---Open-structure-with-R-Group-from-v3000-mol-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts-snapshots/Open-and-Save-files---Open-Save-structure-with-bond-properties-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V2000/all_bond_properties.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/mol_1852_to_open-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/mol_1856_to_open-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/mol_1856_to_open.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/molfile_with_als.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/sgroup_different-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/sgroup_different.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Marvin_Bond_properties_V3000(1).mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/marvin-bond-properties-V3000(1).mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/mol_12963_to_open.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/more_900_atoms-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/more_900_atoms.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/multi_V3000.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/rgroup-V3000-expected
  ketcher-autotests/tests/test-data/Molfiles-V3000/rgroup-V3000-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/rgroup-V3000.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/sgroup_different_V3000.mol
  ketcher-autotests/tests/test-data/rgroup-V3000-expected
Due: prettier --write

#3124 - update screenshots
  ketcher-autotests/tests/User-Interface/About/about-ui.spec.ts-snapshots/Open-Ketcher-About-floating-windows-appeared-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-menu-for-bonds-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-submenu-for-Query-bonds-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Right-click-on-a-Bond-with-se-4f555-roup-tool-not-opens-S-Group-Properties-window-1-chromium-linux.png
Due: none

#3124 - update
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-menu-for-bonds-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-submenu-for-Query-bonds-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Right-click-on-a-Bond-with-se-4f555-roup-tool-not-opens-S-Group-Properties-window-1-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/BondMenuItems.tsx
Due: prettier --write

Add self-hosted runner
  .github/workflows/playwright.yml
Due: none
