Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

style improvements
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

reuse OK button and add style for input field
  packages/ketcher-react/src/script/ui/dialog/toolbox/labeledit.jsx
Due: prettier --write

fix styles
  packages/ketcher-react/src/script/ui/dialog/toolbox/labelEdit.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

change styles
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ElementWithDropdown.tsx
Due: prettier --write

Update ElementWithDropdown.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ElementWithDropdown.tsx
Due: prettier --write

run prettier
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ElementWithDropdown.tsx
Due: prettier --write

deleted unused prop
  packages/ketcher-react/src/script/ui/dialog/toolbox/labeledit.jsx
Due: prettier --write

footer fix
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

remove redundant method
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
Due: prettier --write

change styles (#1464)
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ElementWithDropdown.tsx
Due: prettier --write

footer fix (#1465)
  packages/ketcher-react/src/script/ui/views/components/Dialog/Dialog.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

stereo window redesign
  packages/ketcher-react/src/script/ui/component/form/input.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/enhancedStereo/enhancedStereo.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/enhancedStereo/enhancedStereo.tsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix overlay body on footer
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/TypeChoice/TypeChoice.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

redesign miew window
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/Miew.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/Miew.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix overlay body on footer (#1466)
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/TypeChoice/TypeChoice.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#1424 redesign label edit form (#1460)
  packages/ketcher-react/src/script/ui/dialog/toolbox/labelEdit.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/labeledit.jsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

used mixins instead of separate styles and fixed window size
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

redesign miew window (#1467)
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/Miew.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/Miew.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1376 save window redesign iteration #2 v3 (#1463)
  packages/ketcher-react/src/script/ui/component/view/Tabs/Tabs.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

update indigo-ketcher package
  packages/ketcher-standalone/package.json
  yarn.lock
Due: prettier --write

delete components folder
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Accordion/Accordion.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Accordion/Accordion.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Accordion/index.ts
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Sidebar/Sidebar.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Sidebar/Sidebar.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Sidebar/index.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

apply new design of radiobuttons
  packages/ketcher-react/src/script/ui/component/form/input.jsx
  packages/ketcher-react/src/script/ui/component/form/input.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/enhancedStereo/enhancedStereo.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/TypeChoice/TypeChoice.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/TypeChoice/TypeChoice.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

update classnames for radiobutton and checkbox
  packages/ketcher-react/src/script/ui/component/form/input.jsx
  packages/ketcher-react/src/script/ui/component/form/input.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix sidebar styles
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Sidebar/Sidebar.module.less
  packages/ketcher-react/src/style/variables.less
Due: stylelint --formatter verbose --fix --allow-empty-input

1396 fix styles for s-groups window
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#1337 rework settings window (#1470)
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Accordion/Accordion.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Accordion/Accordion.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Accordion/index.ts
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Sidebar/Sidebar.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Sidebar/Sidebar.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Sidebar/index.ts
  packages/ketcher-react/src/style/variables.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Floating Windows - Redesign Enhanced Stereochemistry window + radio buttons redesign (#1461)
  packages/ketcher-react/src/script/ui/component/form/input.jsx
  packages/ketcher-react/src/script/ui/component/form/input.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/enhancedStereo/enhancedStereo.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/enhancedStereo/enhancedStereo.tsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sdata.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/TypeChoice/TypeChoice.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/TypeChoice/TypeChoice.module.less
  packages/ketcher-react/src/style/variables.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Add files via upload
  documentation/images/11_label_edit.png
  documentation/images/46_save_text.png
  documentation/images/47_save_image.png
  documentation/images/8_1_miew_icon.png
  documentation/images/8_miew.png
Due: none

Update help.md
  documentation/help.md
Due: none

update save dialog styles
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/Miew.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

update save dialog styles
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

fix no error message position
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.jsx
Due: prettier --write

remove comments
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.jsx
Due: prettier --write

update buttons border radius
  packages/ketcher-react/src/style/mixins.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#1356 structure check window fixes (#1474)
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.jsx
Due: prettier --write

add close button and style classes
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/Analyse.jsx
Due: prettier --write

improve styles
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/Analyse.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

add cancel button to modal windows
  packages/ketcher-react/src/script/ui/dialog/toolbox/enhancedStereo/enhancedStereo.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
Due: prettier --write

fix button width
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/Analyse.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input
