Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

1524: fix ketcher.editor.struct().isReaction
  packages/ketcher-core/__tests__/application/editor/operations/rxn/RxnArrowAddDelete.test.ts
  packages/ketcher-core/__tests__/domain/entities/structReaction.test.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-core/src/domain/serializers/mol/utils.js
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/miewStructMerge.test.ts
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/miewStructMerge.ts
Due: prettier --write

#5275 - Restore the bad-valence popup baseline to match CI
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.13.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-13-0-—-Small-molecules-positio-23e40-atoms-attached-to-bonds-that-connect-monomers-1-chromium-popup-linux.png
Due: none

#3922 - Macro: After undoing and redoing all steps, Undo and Redo buttons do not turn gray, as they do in Micro mode
  packages/ketcher-macromolecules/src/components/TopMenuComponent/TopMenuComponent.tsx
Due: prettier --write

fix/build time error
  example-ssr/src/app/editor-client.tsx
  example-ssr/src/app/page.tsx
  packages/ketcher-react/src/script/ui/dialog/AbbreviationLookup/__snapshots__/AbbreviationLookup.utils.test.tsx.snap
Due: prettier --write

fix: format React Editor with Prettier
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

7639-monomers-added-via-arrow-button-remain-out-of-visible-canvas-area-after-switching-modes-to-sequence
  packages/ketcher-core/src/application/editor/modes/BaseMode.ts
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

#4384 - Add OpenSpec proposal for ketcher-react i18n foundation
  openspec/changes/ketcher-react-i18n-foundation/.openspec.yaml
  openspec/changes/ketcher-react-i18n-foundation/design.md
  openspec/changes/ketcher-react-i18n-foundation/proposal.md
  openspec/changes/ketcher-react-i18n-foundation/specs/i18n-infrastructure/spec.md
  openspec/changes/ketcher-react-i18n-foundation/specs/rtl-layout-foundation/spec.md
  openspec/changes/ketcher-react-i18n-foundation/specs/translation-key-extraction-ketcher-react/spec.md
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

#4384 - Section 0: i18n foundation (react-i18next + i18next-icu) for ketcher-react
  package-lock.json
  packages/ketcher-react/package.json
  packages/ketcher-react/src/Editor.tsx
  packages/ketcher-react/src/i18n/i18n.ts
  packages/ketcher-react/src/locales/README.md
  packages/ketcher-react/src/locales/en/common.json
  packages/ketcher-react/src/locales/en/components.json
  packages/ketcher-react/src/locales/en/dialogs.json
  packages/ketcher-react/src/locales/en/settings.json
  packages/ketcher-react/src/locales/en/toolbar.json
  packages/ketcher-react/src/locales/en/toolbars.json
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.tsx
Due: prettier --write

#4384 - Section 3: extract modal dialog strings (document/meta/process/toolbox)
  packages/ketcher-react/src/components/Dialog/Dialog.tsx
  packages/ketcher-react/src/locales/en/common.json
  packages/ketcher-react/src/locales/en/dialogs.json
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/CDXStructuresViewer/CDXStructuresViewer.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/OpenOptions.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/About/About.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/Analyse.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/components/ErrorsCheck.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/Miew.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Recognize/Recognize.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/ElementNumber/ElementNumber.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Attach/Attach.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Automap/Automap.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Bond/Bond.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/EditMonomer/EditMonomer.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/FG/RemoveFG.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/RgroupLogic/RgroupLogic.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/RgroupLogic/components/IfThenSelect/IfThenSelect.tsx
Due: prettier --write

#4384 - Mark Sections 1-2 progress in tasks.md
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

#4384 - Section 4: extract shared dialog component strings
  packages/ketcher-react/src/locales/en/dialogs.json
  packages/ketcher-react/src/script/ui/views/modal/components/Confirm/Confirm.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/ExtendedTable/ExtendedTable.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/ExtendedTable/components/GenericGroups/components/ButtonGenSet/ButtonGenSet.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/InfoModal/InfoModal.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/InfoModal/constants.ts
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/ElementsTable/ElementsTable.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/TypeChoice/TypeChoice.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/Text/SpecialSymbols/SpecialSymbolsButton.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.tsx
Due: prettier --write

#4384 - Section 1: extract toolbar/menu action titles into translation keys
  openspec/changes/ketcher-react-i18n-foundation/design.md
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
  packages/ketcher-react/jest.config.js
  packages/ketcher-react/src/locales/en/common.json
  packages/ketcher-react/src/locales/en/toolbar.json
  packages/ketcher-react/src/script/ui/action/action.types.ts
  packages/ketcher-react/src/script/ui/action/atoms.js
  packages/ketcher-react/src/script/ui/action/copyAs.js
  packages/ketcher-react/src/script/ui/action/copyImageToClipboard.js
  packages/ketcher-react/src/script/ui/action/fullscreen.ts
  packages/ketcher-react/src/script/ui/action/functionalGroups.ts
  packages/ketcher-react/src/script/ui/action/highlightColors/HighlightColors.tsx
  packages/ketcher-react/src/script/ui/action/index.ts
  packages/ketcher-react/src/script/ui/action/server.ts
  packages/ketcher-react/src/script/ui/action/templates.js
  packages/ketcher-react/src/script/ui/action/tools.ts
  packages/ketcher-react/src/script/ui/action/zoom.js
  packages/ketcher-react/src/script/ui/component/actionmenu.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/InfoModal/InfoModal.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ActionButton/ActionButton.tsx
  packages/ketcher-react/testIntlMessageFormatMock.js
Due: prettier --write

#4384 - Section 2: extract toolbar UI strings, dedupe against Section 1 keys
  packages/ketcher-react/src/locales/en/toolbars.json
  packages/ketcher-react/src/script/ui/views/toolbars/ModeControl/ModeControl.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ClipboardControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ExternalFuncControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/FileControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/SystemControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/UndoRedo.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomControls.tsx
Due: prettier --write

#4384 - Mark Section 3 progress in tasks.md
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

i18n(react): extract strings from context menus, MonomerCreationWizard, and StructEditor chrome (Section 5)
  packages/ketcher-react/src/locales/en/common.json
  packages/ketcher-react/src/locales/en/components.json
  packages/ketcher-react/src/script/ui/views/components/AttachmentPointEditPopup/AttachmentPointEditPopup.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AtomMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/BondMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/MacromoleculeMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/SelectionMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.constants.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizardFields.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerValidationRules.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetTabs.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPoint/AttachmentPoint.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/NaturalAnaloguePicker/NaturalAnaloguePicker.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/ReadonlyAttachmentPoint/ReadonlyAttachmentPoint.tsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoPanel.tsx
Due: prettier --write

#4384 - Mark Section 4 progress in tasks.md
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

#4384 - Correct dev-run instructions in the i18n change plan
  openspec/changes/ketcher-react-i18n-foundation/design.md
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

#4384 - Section 1 fixup: don't run non-key titles through t()
  packages/ketcher-react/src/script/ui/action/resolveActionTitle.ts
  packages/ketcher-react/src/script/ui/component/actionmenu.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ActionButton/ActionButton.tsx
Due: prettier --write

#4384 - Mark Section 5 progress in tasks.md
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

#4384 - Mark Section 6 progress in tasks.md
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

i18n(react): extract Settings panel strings with reactive schema-key resolution (Section 6)
  packages/ketcher-react/src/locales/en/common.json
  packages/ketcher-react/src/locales/en/settings.json
  packages/ketcher-react/src/script/ui/component/form/MeasureInput/measure-input.tsx
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
  packages/ketcher-react/src/script/ui/component/form/form/form.tsx
  packages/ketcher-react/src/script/ui/data/schema/options-schema.ts
  packages/ketcher-react/src/script/ui/utils/index.ts
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Accordion/Accordion.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/fieldGroups.js
Due: prettier --write

#4384 - Mark Section 9 progress in tasks.md (9.1-9.3, 9.6)
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

#4384 - Document the Section 0 layout regression and fix in tasks.md
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

#4384 - Mark Section 7 progress in tasks.md
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

fix(react): restore full-height layout on the i18n dir wrapper (Section 0 regression)
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/Editor.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

test(i18n): add regression guards for key completeness and hardcoded strings (Section 9)
  packages/ketcher-react/src/i18n/i18n.test.ts
  packages/ketcher-react/src/i18n/noHardcodedStrings.test.ts
Due: prettier --write

docs(i18n): add RTL directional icon inventory (Section 8)
  openspec/changes/ketcher-react-i18n-foundation/rtl-icon-inventory.md
Due: none

#4384 - Mark Section 8 progress in tasks.md
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

#4384 - Section 9: skip Playwright E2E coverage by explicit decision
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

#4384 - Section 9: document final visual walkthrough (9.4) and its regression fix (9.8)
  openspec/changes/ketcher-react-i18n-foundation/tasks.md
Due: none

#4384 - Mark Section 1 progress in Chinese-locale tasks.md
  openspec/changes/ketcher-react-i18n-chinese-locale/tasks.md
Due: none

i18n(react): translate components.json into zh-CN + fix bond-title truncation and 6 missed extractions (Chinese locale Section 4)
  packages/ketcher-react/src/locales/en/components.json
  packages/ketcher-react/src/locales/zh-CN/components.json
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useMakeAttachmentPointMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AttachmentPointLabelMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/BondMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/FunctionalGroupMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/MultitailArrowMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/RGroupAttachmentPointMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/SelectionMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/utils.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/Notification/Notification.tsx
Due: prettier --write

#4384 - Mark Section 4 progress in Chinese-locale tasks.md
  openspec/changes/ketcher-react-i18n-chinese-locale/tasks.md
Due: none

i18n(react): translate common/toolbar/toolbars into zh-CN (Chinese locale Section 2)
  packages/ketcher-react/src/locales/zh-CN/common.json
  packages/ketcher-react/src/locales/zh-CN/toolbar.json
  packages/ketcher-react/src/locales/zh-CN/toolbars.json
Due: prettier --write

i18n(react): add zh-CN infrastructure, language switcher, persistence, reactive dir (Chinese locale Section 1)
  packages/ketcher-react/src/Editor.tsx
  packages/ketcher-react/src/i18n/i18n.ts
  packages/ketcher-react/src/locales/en/settings.json
  packages/ketcher-react/src/locales/zh-CN/common.json
  packages/ketcher-react/src/locales/zh-CN/components.json
  packages/ketcher-react/src/locales/zh-CN/dialogs.json
  packages/ketcher-react/src/locales/zh-CN/settings.json
  packages/ketcher-react/src/locales/zh-CN/toolbar.json
  packages/ketcher-react/src/locales/zh-CN/toolbars.json
  packages/ketcher-react/src/script/ui/component/form/form/form.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
Due: prettier --write

i18n(react): translate dialogs.json into zh-CN (Chinese locale Section 3)
  packages/ketcher-react/src/locales/zh-CN/dialogs.json
Due: prettier --write

#4384 - Add OpenSpec proposal for Simplified Chinese (zh-CN) locale
  openspec/changes/ketcher-react-i18n-chinese-locale/design.md
  openspec/changes/ketcher-react-i18n-chinese-locale/proposal.md
  openspec/changes/ketcher-react-i18n-chinese-locale/specs/chinese-locale/spec.md
  openspec/changes/ketcher-react-i18n-chinese-locale/tasks.md
Due: none

#4384 - Mark Section 3 progress in Chinese-locale tasks.md
  openspec/changes/ketcher-react-i18n-chinese-locale/tasks.md
Due: none

#4384 - Mark Section 2 progress in Chinese-locale tasks.md
  openspec/changes/ketcher-react-i18n-chinese-locale/tasks.md
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
