Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- refactor
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-added-to-Canvas-images-811e2--Alt-C-action-it-is-calculated-for-elements-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/specs/Reactions/Reaction-tools/Multi-Tailed-Arrow-Tool/multi-tailed-arrow-tool.spec.ts
  ketcher-autotests/tests/specs/Reactions/Reaction-tools/Multi-Tailed-Arrow-Tool/multi-tailed-arrow-tool.spec.ts-snapshots/Multi-Tailed-Arrow-Tool-Verify-the-cascade-reaction-after-Calculated-Values-action-2-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Floating-windows/floating-windows.spec.ts
Due: prettier --write

#6785 - Support aliases from HELM * Updated import-saveing-helm.spec.ts to match aliasHELM values * Updated formatting for monomers.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts
  packages/ketcher-core/src/domain/helpers/monomers.ts
Due: prettier --write

#6785 - Support aliases from HELM * Updated ketcher-3.2.0-bugs.spec.ts, antisense-chains.spec.ts to match aliasHELM property
  ketcher-autotests/tests/specs/Bugs/ketcher-3.2.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Antisense-Chains/antisense-chains.spec.ts
Due: prettier --write

- added autochain preview for single monomer (some of figures are incorrect)
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
  packages/ketcher-core/src/application/render/renderers/ChemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/PeptideRenderer.ts
  packages/ketcher-core/src/application/render/renderers/PhosphateRenderer.ts
  packages/ketcher-core/src/application/render/renderers/RNABaseRenderer.ts
  packages/ketcher-core/src/application/render/renderers/SugarRenderer.ts
  packages/ketcher-core/src/application/render/renderers/TransientView/AutochainPreviewView.ts
  packages/ketcher-core/src/application/render/renderers/TransientView/TransientDrawingView.ts
  packages/ketcher-core/src/application/render/renderers/UnresolvedMonomerRenderer.ts
  packages/ketcher-core/src/application/render/renderers/UnsplitNucleotideRenderer.ts
  packages/ketcher-core/src/application/render/renderers/constants.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/RnaPresetItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-macromolecules/src/components/shared/monomerOnCanvas/Chem.tsx
  packages/ketcher-macromolecules/src/components/shared/monomerOnCanvas/Nucleotide.tsx
  packages/ketcher-macromolecules/src/components/shared/monomerOnCanvas/Peptide.tsx
  packages/ketcher-macromolecules/src/components/shared/monomerOnCanvas/Phosphate.tsx
  packages/ketcher-macromolecules/src/components/shared/monomerOnCanvas/RNABase.tsx
  packages/ketcher-macromolecules/src/components/shared/monomerOnCanvas/Sugar.tsx
  packages/ketcher-macromolecules/src/components/shared/monomerOnCanvas/UnresolvedMonomer.tsx
  packages/ketcher-react/src/components/Icon/Icon.tsx
Due: prettier --write

#3253 - Introduce the arrow button on library cards for easy monomer and preset addition to canvas
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/RnaPresetItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/styles.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/styles.ts
  packages/ketcher-react/src/assets/icons/files/monomer-autochain.svg
  packages/ketcher-react/src/components/Icon/utils/iconNameToIcon.ts
Due: prettier --write

- added autochain monomers adding to selection
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/tools/Tool.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

- added rna preview
  packages/ketcher-core/src/application/render/renderers/TransientView/AutochainPreviewView.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/RnaPresetItem.tsx
  packages/ketcher-macromolecules/src/components/shared/monomerOnCanvas/Phosphate.tsx
Due: prettier --write

- implemented autoscroll
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/tools/Zoom.ts
Due: prettier --write

- fixed figures for autochain preview
  packages/ketcher-macromolecules/src/components/shared/monomerOnCanvas/Chem.tsx
  packages/ketcher-macromolecules/src/components/shared/monomerOnCanvas/Nucleotide.tsx
  packages/ketcher-macromolecules/src/components/shared/monomerOnCanvas/Peptide.tsx
  packages/ketcher-macromolecules/src/components/shared/monomerOnCanvas/Phosphate.tsx
  packages/ketcher-macromolecules/src/components/shared/monomerOnCanvas/RNABase.tsx
  packages/ketcher-macromolecules/src/components/shared/monomerOnCanvas/Sugar.tsx
  packages/ketcher-macromolecules/src/components/shared/monomerOnCanvas/UnresolvedMonomer.tsx
Due: prettier --write

- implemented correct autochain position
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/modes/BaseMode.ts
  packages/ketcher-core/src/application/editor/tools/Monomer.ts
  packages/ketcher-core/src/application/editor/tools/RnaPreset.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-macromolecules/src/components/modal/Open/Open.tsx
Due: prettier --write

- fix after self-review
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
Due: prettier --write

- fixed build - fixed unit tests
  packages/ketcher-core/src/application/render/renderers/AmbiguousMonomerRenderer.ts
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
  packages/ketcher-core/src/application/render/renderers/BaseRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/ui-controls/NewSequenceButton.ts
  packages/ketcher-macromolecules/src/components/modal/Open/Open.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetGroup/__snapshots__/RnaPresetGroup.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/__snapshots__/MonomerGroup.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryList/__snapshots__/MonomerList.test.tsx.snap
  packages/ketcher-react/src/components/Icon/Icon.tsx
  packages/ketcher-react/src/components/Icon/types.ts
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/pages/macromolecules/Library.ts
  ketcher-autotests/tests/specs/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-7-Color-schema-for-13e5d-A-Library-is-like-in-the-library-for-Peptides-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-AmMC6T-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-Cys-Bn-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-DOTA-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-FMOE-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-MOE-A-P-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-bP-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Add-to-Favorites-section--a53db--and-CHEMs-then-switch-to-Micro-mode-and-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Add-to-Favorites-section-ef359-ide-Library-and-switch-to-Micro-mode-and-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Validate-that-Monomers-c3a4f-moved-from-favourites-when-clicking-star-sign-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Validate-that-Peptide--7cbad-n-Peptide-that-already-is-added-to-favourites-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Validate-that-Peptide--87f15-n-Peptide-that-already-is-added-to-favourites-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-add-molecule-in-favourites-1-chromium-linux.png
Due: prettier --write

- fixed star icon position for monomer card
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/styles.ts
Due: prettier --write

- disabled monomer tool selection - added dbl click for autochain
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/RnaPresetItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/MonomerGroup.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
Due: prettier --write

- updated screenshots
  ketcher-autotests/tests/specs/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-13-Separate-selenocysteine-from-cysteine-and-pyrrolysine-from-lysine-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-7-Color-schema-for-13e5d-A-Library-is-like-in-the-library-for-Peptides-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-7-Name-for-h456UR-and-e6A-monomers-are-correct-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-9-Tooltips-on-mono-bb029-antly-not-disappear-on-hover-in-popup-Ketcher-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Check-IDT-aliases-wh-9197b-eotides-monomer-5Br-dU-5-Bromo-deoxyuridine-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-AmMC6T-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-Cys-Bn-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-DOTA-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-FMOE-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-bP-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/5-Verify-that-RNA-tab-redesign-include-change-in-the-appearance-of-library-cards-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/5-Verify-that-RNA-tab-redesign-include-change-in-the-appearance-of-library-cards-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Add-to-Favorites-section--a53db--and-CHEMs-then-switch-to-Micro-mode-and-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Add-to-Favorites-section-ef359-ide-Library-and-switch-to-Micro-mode-and-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Validate-that-Monomers-c3a4f-moved-from-favourites-when-clicking-star-sign-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Validate-that-Peptide--7cbad-n-Peptide-that-already-is-added-to-favourites-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Validate-that-Peptide--87f15-n-Peptide-that-already-is-added-to-favourites-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-add-molecule-in-favourites-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/add-default-presets.spec.ts-snapshots/Macromolecules-default-presets-Check-Guanine-in-default-presets-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Ambiguous-Bases-section-checks-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Ambiguous-Bases-section-checks-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-Phosphates-component-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-Sugars-component-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-that-After-reloading-the-pag-b4e4e--added-to-the-Favorites-section-not-disappear-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-that-preview-window-disappears-when-a-cursor-moves-off-from-RNA-in-library-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-It-is-possible-to-add-remove-RNA-presets-into-the-Favourite-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-after-undoing-and-redoing-all-steps-Undo-and-Redo-buttons-turn-gray-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Check-that-after-undoing-and-redoing-all-steps-Undo-and-Redo-buttons-turn-gray-3-chromium-linux.png
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetGroup/__snapshots__/RnaPresetGroup.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/__snapshots__/MonomerGroup.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryList/__snapshots__/MonomerList.test.tsx.snap
Due: none

- fixed vertical scroll for autochain - fixed dbl click
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/RnaPresetItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-react/src/components/Icon/Icon.tsx
  packages/ketcher-react/src/components/Icon/types.ts
Due: prettier --write

- removed obsolete unit tests
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/MonomerGroup.test.tsx
Due: prettier --write

- updated tests
  ketcher-autotests/tests/specs/Bugs/ketcher-3.6.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Bugs/ketcher-3.6.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-6-0-Case-15-System-not-save-79567-n-the-library-as-the-monomer-from-the-library-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.6.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-6-0-Case-15-System-not-save-a3c6c-n-the-library-as-the-monomer-from-the-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Validate-that-Monomers-f6b6c-moved-from-favourites-when-clicking-star-sign-2-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/Bugs/monomer-with-unique-structure-expected.mol
Due: prettier --write

- updated tests
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Add-Base-monomer-to-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Add-Custom-preset-to-Canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Add-Phosphate-monomer-to-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Add-Sugar-Base-Combination-to-Canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Add-Sugar-Phosphate-Combination-to-Canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Add-Sugar-monomer-to-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Ambiguous-Amino-Acids-section-checks-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Ambiguous-Bases-section-checks-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Ambiguous-Bases-section-checks-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Ambiguous-Bases-section-checks-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Base-preview-window-when-hovered-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-CHEM-tab-check-at-Library-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-CHEM-tab-check-at-Library-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Highlight-Sugar-Phosphate-and-Base-in-Library-once-it-chosen-in-RNA-Builder-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Phosphate-preview-window-when-hovered-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Sugar-preview-window-when-hovered-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--022b2-rom-library-select-it-and-move-it-delete-it-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--029eb-rom-library-select-it-and-move-it-delete-it-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--0ee2b-rom-library-select-it-and-move-it-delete-it-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--31c1a-rom-library-select-it-and-move-it-delete-it-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--61893-rom-library-select-it-and-move-it-delete-it-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--6b80c-rom-library-select-it-and-move-it-delete-it-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--7289a-rom-library-select-it-and-move-it-delete-it-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--9585c-rom-library-select-it-and-move-it-delete-it-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--ad96b-rom-library-select-it-and-move-it-delete-it-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--b2861-rom-library-select-it-and-move-it-delete-it-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--bfcda-rom-library-select-it-and-move-it-delete-it-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--d2fe9-rom-library-select-it-and-move-it-delete-it-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--e2caf-rom-library-select-it-and-move-it-delete-it-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-you-can-put-unsplit--e7952-rom-library-select-it-and-move-it-delete-it-1-chromium-linux.png
Due: prettier --write

test: update snapshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts-snapshots/Import-Saving-mol-Files-After-importing-a-fil-32430-view-display-changes-made-during-modification-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/Bugs/DnaBadPairs-expected.mol
Due: none

fix: delete comment
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
Due: prettier --write

- updated tests
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-for-molecules-with-monomers.spec.ts-snapshots/Connection-rules-for-molecules-with-monomers--aff91-lish-connection-between-monomers-and-molecule-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-for-molecules-with-monomers.spec.ts-snapshots/Connection-rules-for-molecules-with-monomers--e5955-lish-connection-between-monomers-and-molecule-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-06e4e-th-unsplit-nucleotide-5NitInd-5-Nitroindole-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-39833-t-nucleotide-Super-G-8-aza-7-deazaguanosine-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-4710d-plit-nucleotide-5Br-dU-5-Bromo-deoxyuridine-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-4be2d-nsplit-nucleotide-2-damdA-2-6-Diaminopurine-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-723d5-plit-nucleotide-AmMC6T-Amino-Modifier-C6-dT-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-bab57-ide-Super-T-5-hydroxybutynl-2’-deoxyuridine-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-Undo-redo-tool-works-d113e--unsplit-nucleotide-5hMedC-Hydroxymethyl-dC-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Rectangle-Selection-Tool/rectangle-selection-tool.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Rectangle-Selection-Tool/rectangle-selection-tool.spec.ts-snapshots/Rectangle-Selection-Tool-Move-monomer-bonded-with-another-monomers-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Test-the-zoom-in-zoom-out-function-using-hotke-1f7f6-re-that-the-zoom-focus-is-correct-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/utils/canvas/atoms/superatomAttachmentPoints.ts
Due: prettier --write

#6552 – Implement natural analogue picker
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/NaturalAnalogueChip/NaturalAnalogueChip.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/NaturalAnalogueChip/NaturalAnalogueChip.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/NaturalAnaloguePicker/NaturalAnaloguePicker.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/NaturalAnaloguePicker/NaturalAnaloguePicker.tsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#6552 – Implement entering and closing monomer creation wizard
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/state/editor/actions/monomerCreation.ts
  packages/ketcher-react/src/script/ui/state/editor/middlewares/monomerCreation.ts
  packages/ketcher-react/src/script/ui/state/hotkeys.ts
  packages/ketcher-react/src/script/ui/state/index.js
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
Due: prettier --write

#6552 – Improve select in attributes window
  packages/ketcher-react/src/assets/icons/files/chem.svg
  packages/ketcher-react/src/assets/icons/files/peptide.svg
  packages/ketcher-react/src/components/Icon/utils/iconNameToIcon.ts
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/StructEditor/MonomerCreationWizard.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#6552 – Add create monomer tool, implement basic wizard ui
  packages/ketcher-core/src/domain/constants/monomers.ts
  packages/ketcher-react/src/assets/icons/files/create-monomer.svg
  packages/ketcher-react/src/components/Icon/utils/iconNameToIcon.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/create-monomer.ts
  packages/ketcher-react/src/script/editor/tool/index.ts
  packages/ketcher-react/src/script/ui/action/index.ts
  packages/ketcher-react/src/script/ui/action/tools.js
  packages/ketcher-react/src/script/ui/state/editor/selectors/index.ts
  packages/ketcher-react/src/script/ui/views/components/StructEditor/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/StructEditor/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/toolbar.types.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#6657 – Handle selected struct creation properly
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/NaturalAnaloguePicker/NaturalAnaloguePicker.tsx
Due: prettier --write

#6552 – Properly update library with a new monomer
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/state/editor/actions/monomerCreation.ts
  packages/ketcher-react/src/script/ui/state/editor/middlewares/monomerCreation.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
Due: prettier --write

#6657 – Add attachment points highlighting and ui plates
  packages/ketcher-core/src/application/render/raphaelRender.ts
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/state/editor/selectors/index.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#6657 – Create separate component for notification, adopt useReducer approach for wizard
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.types.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/Notification/Notification.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/Notification/Notification.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#6657 – Create notification, create generic attribute field component
  packages/ketcher-react/src/assets/icons/files/check-filled.svg
  packages/ketcher-react/src/assets/icons/files/warning-filled.svg
  packages/ketcher-react/src/components/Icon/utils/iconNameToIcon.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttributeField/AttributeField.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttributeField/AttributeField.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/NaturalAnaloguePicker/NaturalAnaloguePicker.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#6657 – Validate inputs
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.types.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/Notification/Notification.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#6552 – Implement proper selecting and restoring the struct for wizard
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#6657 – Small changes/comments
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
