Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

refactor changes
  packages/ketcher-polymer-editor-react/src/components/FullscreenButton/FullscreenButton.tsx
  packages/ketcher-polymer-editor-react/src/typings.d.ts
  packages/ketcher-react/src/script/builders/ketcher/ButtonName.ts
  packages/ketcher-react/src/script/ui/action/fullscreen.ts
  packages/ketcher-react/src/typings.d.ts
Due: prettier --write

changed table icon, fixed toolbar position
  packages/ketcher-react/src/icons/files/period-table.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/ui/App/App.module.less
  packages/ketcher-react/src/script/ui/component/view/Atom/Atom.jsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/AtomsList/AtomsList.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix stylelint problem
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Add temporary about button to top toolbar
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/SystemControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.container.ts
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write

add inchikey format
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-core/src/application/formatters/formatterFactory.ts
  packages/ketcher-core/src/application/formatters/structFormatter.types.ts
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-react/src/script/ui/data/convert/structConverter.ts
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.types.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

fix Invisible enhanced flag interferes with user selection (#1332)
  packages/ketcher-core/src/application/editor/shared/closest.js
  packages/ketcher-react/src/script/editor/shared/closest.js
Due: prettier --write

fix Invisible enhanced flag interferes with user selection (#1332) (#1336)
  packages/ketcher-core/src/application/editor/shared/closest.js
  packages/ketcher-react/src/script/editor/shared/closest.js
Due: prettier --write

Remove history log button, update About icon
  packages/ketcher-react/src/icons/files/about.svg
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/SystemControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write

#1309 Add temporary About button to top panel (#1346)
  packages/ketcher-react/src/icons/files/about.svg
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/SystemControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.container.ts
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write

add new icons
  packages/ketcher-react/src/icons/files/atoms-white.svg
  packages/ketcher-react/src/icons/files/bonds-white.svg
  packages/ketcher-react/src/icons/files/checkmark.svg
  packages/ketcher-react/src/icons/files/chevron.svg
  packages/ketcher-react/src/icons/files/general-white.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-both-ends-filled-triangle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-dashed-open-angle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-elliptical-arc-arrow-filled-bow.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-elliptical-arc-arrow-filled-triangle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-elliptical-arc-arrow-open-angle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-elliptical-arc-arrow-open-half-angle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-equilibrium-filled-half-bow.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-equilibrium-filled-triangle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-equilibrium-open-angle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-failed.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-filled-bow.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-filled-triangle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-open-angle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-unbalanced-equilibrium-filled-half-bow.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-unbalanced-equilibrium-filled-half-triangle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-unbalanced-equilibrium-large-filled-half-bow.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-unbalanced-equilibrium-open-half-angle.svg
  packages/ketcher-react/src/icons/files/recognize.svg
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ActionButton/ActionButton.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

add hand tool
  packages/ketcher-react/src/icons/files/compressed-hand.svg
  packages/ketcher-react/src/icons/files/hand.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/hand.ts
  packages/ketcher-react/src/script/editor/tool/index.js
  packages/ketcher-react/src/script/ui/action/tools.js
  packages/ketcher-react/src/script/ui/views/components/Cursor.jsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/toolbar.types.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

remove redundant icon
  packages/ketcher-react/src/icons/index.tsx
Due: prettier --write

run prettier
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/hand.ts
  packages/ketcher-react/src/script/ui/action/tools.js
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/views/components/Cursor.jsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

add new icons (#1355)
  packages/ketcher-react/src/icons/files/atoms-white.svg
  packages/ketcher-react/src/icons/files/bonds-white.svg
  packages/ketcher-react/src/icons/files/checkmark.svg
  packages/ketcher-react/src/icons/files/chevron.svg
  packages/ketcher-react/src/icons/files/general-white.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-both-ends-filled-triangle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-dashed-open-angle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-elliptical-arc-arrow-filled-bow.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-elliptical-arc-arrow-filled-triangle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-elliptical-arc-arrow-open-angle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-elliptical-arc-arrow-open-half-angle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-equilibrium-filled-half-bow.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-equilibrium-filled-triangle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-equilibrium-open-angle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-failed.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-filled-bow.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-filled-triangle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-open-angle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-unbalanced-equilibrium-filled-half-bow.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-unbalanced-equilibrium-filled-half-triangle.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-unbalanced-equilibrium-large-filled-half-bow.svg
  packages/ketcher-react/src/icons/files/reaction-arrow-unbalanced-equilibrium-open-half-angle.svg
  packages/ketcher-react/src/icons/files/recognize.svg
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ActionButton/ActionButton.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

fix Incorrect field sizes in General tab of Settings window #1354
  packages/ketcher-react/src/Editor.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Update visual representation of a component
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/data/schema/struct-schema.js
  packages/ketcher-react/src/script/ui/dialog/template/TemplateAttach.tsx
  packages/ketcher-react/src/script/ui/dialog/template/template-lib.module.less
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Add cancel button, increase editor window size
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/dialog/template/TemplateAttach.tsx
Due: prettier --write

Refactor template-attach to a functional component with TS, rename file
  packages/ketcher-react/src/script/ui/dialog/index.ts
  packages/ketcher-react/src/script/ui/dialog/template/TemplateAttach.tsx
Due: prettier --write

Refactor template editor styles
  packages/ketcher-react/src/script/ui/dialog/template/TemplateAttach.tsx
Due: prettier --write

implement templates window
  packages/ketcher-react/src/icons/files/edit.svg
  packages/ketcher-react/src/icons/files/elements-group.svg
  packages/ketcher-react/src/icons/files/functional-groups.svg
  packages/ketcher-react/src/icons/files/search.svg
  packages/ketcher-react/src/icons/files/template-lib.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/ui/dialog/index.ts
  packages/ketcher-react/src/script/ui/dialog/template/TemplateDialog.tsx
  packages/ketcher-react/src/script/ui/dialog/template/TemplateTable.module.less
  packages/ketcher-react/src/script/ui/dialog/template/TemplateTable.tsx
  packages/ketcher-react/src/script/ui/dialog/template/emptySearchResult.module.less
  packages/ketcher-react/src/script/ui/dialog/template/template-lib.module.less
  packages/ketcher-react/src/script/ui/views/components/FunctionalGroups/FunctionalGroups.tsx
  packages/ketcher-react/src/script/ui/views/components/FunctionalGroups/functionalGroups.module.less
  packages/ketcher-react/src/script/ui/views/components/FunctionalGroups/index.ts
  packages/ketcher-react/src/script/ui/views/toolbars/BottomToolbar/BottomToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/toolbar.types.ts
  packages/ketcher-react/src/style/variables.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

update template table styles
  packages/ketcher-react/src/script/ui/dialog/template/TemplateTable.module.less
  packages/ketcher-react/src/style/variables.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Redesign input dropdown, create input field for custom input value
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomInputField.tsx
Due: prettier --write

Refactor input to avoid memo
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/ZoomInputField.tsx
Due: prettier --write

add change group action, fix styles
  packages/ketcher-react/src/icons/files/template-lib.svg
  packages/ketcher-react/src/script/ui/dialog/template/TemplateDialog.tsx
  packages/ketcher-react/src/script/ui/dialog/template/TemplateTable.module.less
  packages/ketcher-react/src/script/ui/dialog/template/template-lib.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix icon size
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

fix expand icon style
  packages/ketcher-react/src/script/ui/dialog/template/TemplateDialog.tsx
  packages/ketcher-react/src/script/ui/dialog/template/template-lib.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix icon size (#1366)
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

implementation in one direction
  packages/ketcher-react/src/script/editor/tool/hand.ts
Due: prettier --write

fix input height
  packages/ketcher-react/src/Editor.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Elements panel redesign
  packages/ketcher-react/src/icons/files/elements.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/ui/component/view/Atom/Atom.jsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/ElementsTable/ElementsTable.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/ElementsTable/components/MainRow.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/ElementsTable/components/OutinerRow.jsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/AtomsList/AtomsList.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Revert "Elements panel redesign"
  packages/ketcher-react/src/icons/files/elements.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/ui/component/view/Atom/Atom.jsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/ElementsTable/ElementsTable.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/ElementsTable/components/MainRow.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/ElementsTable/components/OutinerRow.jsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/AtomsList/AtomsList.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

update icon and button position
  demo/src/constants/buttons.ts
  packages/ketcher-react/src/icons/files/fullscreen-enter.svg
  packages/ketcher-react/src/icons/files/fullscreen-exit.svg
  packages/ketcher-react/src/icons/files/fullscreen.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/ui/action/fullscreen.ts
  packages/ketcher-react/src/script/ui/views/toolbars/BottomToolbar/BottomToolbar.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/BottomToolbar/BottomToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/SystemControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.container.ts
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

atoms list redesign
  packages/ketcher-react/src/script/ui/component/view/Atom/Atom.jsx
  packages/ketcher-react/src/script/ui/component/view/Atom/Atom.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/ElementsTable/ElementsTable.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/ElementsTable/components/MainRow.jsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/AtomsList/AtomsList.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

spaces fix
  packages/ketcher-react/src/script/ui/component/view/Atom/Atom.jsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/AtomsList/AtomsList.tsx
Due: prettier --write

remove redundant changes
  demo/src/constants/buttons.ts
  packages/ketcher-react/src/script/builders/ketcher/ButtonName.ts
  packages/ketcher-react/src/script/ui/views/toolbars/BottomToolbar/BottomToolbar.tsx
Due: prettier --write

fix Incorrect field sizes in General tab of Settings window #1354 (#1358)
  packages/ketcher-react/src/Editor.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#1342 redesign edit template modal (#1349)
  packages/ketcher-react/src/script/ui/data/schema/struct-schema.js
  packages/ketcher-react/src/script/ui/dialog/index.ts
  packages/ketcher-react/src/script/ui/dialog/template/TemplateAttach.tsx
  packages/ketcher-react/src/script/ui/dialog/template/template-attach.jsx
  packages/ketcher-react/src/script/ui/dialog/template/template-lib.module.less
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.jsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input
