Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

Alena guznischeva patch 2 (#1123)
  documentation/help.md
  documentation/images/FG_Exapand_Contract.gif
  documentation/images/FG_Filter.gif
  documentation/images/FG_Icon.png
  documentation/images/FG_adding.gif
  documentation/images/FG_bond.gif
  documentation/images/FG_context_menu.png
  documentation/images/FG_selection.png
  documentation/images/FG_warning.png
Due: none

#1112 'Calculated Values' works incorrect for selected structure (#1119)
  packages/ketcher-core/__tests__/domain/serializers/ket/KetSerializer.test.ts
  packages/ketcher-core/src/domain/serializers/ket/toKet/prepare.ts
Due: prettier --write, eslint --fix

#1067 redesign open structure floating window (#1090)
  packages/ketcher-react/package.json
  packages/ketcher-react/src/icons/files/arrow-upward.svg
  packages/ketcher-react/src/icons/files/capital-t.svg
  packages/ketcher-react/src/icons/files/file-thumbnail.svg
  packages/ketcher-react/src/icons/files/image-frame.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/ui/component/view/openbutton.jsx
  packages/ketcher-react/src/script/ui/state/request/index.ts
  packages/ketcher-react/src/script/ui/state/request/reducer.test.ts
  packages/ketcher-react/src/script/ui/state/shared.js
  packages/ketcher-react/src/script/ui/utils/fileOpener.js
  packages/ketcher-react/src/script/ui/utils/index.ts
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.container.ts
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/AnalyzingFile.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/AnalyzingFile.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/DialogActionButton.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/DropButton.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/FileDrop.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/FileDrop.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/LoadingCircles.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/LoadingCircles.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/OpenOptions.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/OpenOptions.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/TextEditor.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/ViewSwitcher.tsx
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

Add files via upload
  documentation/images/test_picture.png
Due: none

adding material ui
  packages/ketcher-polymer-editor-react/package.json
  packages/ketcher-polymer-editor-react/src/components/MonomerLibrary/MonomerLibrary.module.less
  packages/ketcher-polymer-editor-react/src/components/MonomerLibrary/MonomerLibrary.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Tabs/Tabs.module.less
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Tabs/index.ts
  packages/ketcher-polymer-editor-react/src/styles/mixins.less
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

Refactor redux in Polymer
  example/src/App.tsx
  example/src/PolymerToggler/PolymerToggler.css
  example/src/react-app-env.d.ts
  packages/ketcher-polymer-editor-react/package.json
  packages/ketcher-polymer-editor-react/rollup.config.js
  packages/ketcher-polymer-editor-react/src/Editor.module.less
  packages/ketcher-polymer-editor-react/src/components/App/App.module.less
  packages/ketcher-polymer-editor-react/src/components/App/App.tsx
  packages/ketcher-polymer-editor-react/src/components/App/AppContainer.tsx
  packages/ketcher-polymer-editor-react/src/components/App/index.ts
  packages/ketcher-polymer-editor-react/src/components/Layout/Layout.tsx
  packages/ketcher-polymer-editor-react/src/react-app-env.d.ts
  packages/ketcher-polymer-editor-react/src/state/common/editorSaga.ts
  packages/ketcher-polymer-editor-react/src/state/common/editorSlice.ts
  packages/ketcher-polymer-editor-react/src/state/common/index.ts
  packages/ketcher-polymer-editor-react/src/state/hooks.ts
  packages/ketcher-polymer-editor-react/src/state/index.ts
  packages/ketcher-polymer-editor-react/src/state/layout/layoutActionCreators.ts
  packages/ketcher-polymer-editor-react/src/state/store.ts
  packages/ketcher-polymer-editor-react/src/styles/variables.less
  packages/ketcher-polymer-editor-react/tsconfig.json
  packages/ketcher-react/src/script/ui/action/index.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

fix comments
  example/src/App.tsx
  packages/ketcher-polymer-editor-react/src/Editor.module.less
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/components/MonomerLibrary/MonomerLibrary.tsx
  packages/ketcher-polymer-editor-react/src/components/MonomerLibrary/components/MonomerItem.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Tabs/Tabs.jsx
  packages/ketcher-polymer-editor-react/tsconfig.json
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

adding test for Monomer Item
  packages/ketcher-polymer-editor-react/src/components/MonomerLibrary/MonomerLibrary.tsx
  packages/ketcher-polymer-editor-react/src/components/MonomerLibrary/__tests__/MonomerLibrary.test.ts
  packages/ketcher-polymer-editor-react/src/components/MonomerLibrary/components/MonomerItem.tsx
Due: prettier --write, eslint --fix

fix comment
  example/package.json
Due: none

fix comment
  yarn.lock
Due: none

Remove react-scripts, add jest
  packages/ketcher-polymer-editor-react/jest.config.js
  packages/ketcher-polymer-editor-react/package.json
  packages/ketcher-polymer-editor-react/src/Editor.test.tsx
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
  yarn.lock
Due: prettier --write, eslint --fix

Remove react-scripts, add jest
  packages/ketcher-react/jest.config.js
  packages/ketcher-react/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Fix style for slider
  packages/ketcher-react/src/script/ui/component/form/input.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Fix bug with long click for atom in FG
  packages/ketcher-react/src/script/editor/tool/atom.js
  packages/ketcher-react/src/script/editor/tool/select.ts
Due: prettier --write, eslint --fix

Fix prettier
  packages/ketcher-react/src/script/editor/tool/select.ts
Due: prettier --write, eslint --fix

Fix style for slider (#1134)
  packages/ketcher-react/src/script/ui/component/form/input.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

changing modal windows size
  example/src/ErrorModal/ErrorModal.css
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/rgroup/rgroup.module.less
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/AnalyzingFile.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/OpenOptions.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/Analyse.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/components/FormulaInput/FormulaInput.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Attach/Attach.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/FG/RemoveFG.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/RgroupLogic/RgroupLogic.module.less
  packages/ketcher-react/src/style/variables.less
Due: stylelint --formatter verbose --fix --allow-empty-input

Remove react-scripts, add jest (#1133)
  packages/ketcher-react/jest.config.js
  packages/ketcher-react/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Remove react-scripts, add jest (#1132)
  packages/ketcher-polymer-editor-react/jest.config.js
  packages/ketcher-polymer-editor-react/package.json
  packages/ketcher-polymer-editor-react/src/Editor.test.tsx
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
  yarn.lock
Due: prettier --write, eslint --fix

customization tabs
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Tabs/Tabs.jsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Tabs/Tabs.module.less
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

fix naming and structure
  example/src/App.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/MonomerLibrary.module.less
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/MonomerLibrary.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/index.ts
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.module.less
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.test.ts
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Tabs/Tabs.jsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Tabs/Tabs.module.less
  packages/ketcher-polymer-editor-react/src/mixins.less
  packages/ketcher-polymer-editor-react/src/variables.less
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

fix monomer item style
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/MonomerLibrary.module.less
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/MonomerLibrary.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.module.less
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

fix yarn lock
  yarn.lock
Due: none

fix editor test
  packages/ketcher-polymer-editor-react/jest.config.js
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
Due: prettier --write, eslint --fix

#1107 Create Monomer library component (#1124)
  .eslintrc.json
  example/package.json
  example/src/App.tsx
  packages/ketcher-polymer-editor-react/jest.config.js
  packages/ketcher-polymer-editor-react/package.json
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/MonomerLibrary.module.less
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/MonomerLibrary.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/index.ts
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.module.less
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.test.ts
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Tabs/Tabs.jsx
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Tabs/Tabs.module.less
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Tabs/index.ts
  packages/ketcher-polymer-editor-react/src/mixins.less
  packages/ketcher-polymer-editor-react/src/variables.less
  packages/ketcher-polymer-editor-react/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

Refactor app and variables
  example/src/App.tsx
  packages/ketcher-polymer-editor-react/jest.config.js
  packages/ketcher-polymer-editor-react/src/Editor.test.tsx
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/components/App/App.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/MonomerLibrary.module.less
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.module.less
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Tabs/Tabs.module.less
  packages/ketcher-polymer-editor-react/src/mixins.less
  packages/ketcher-polymer-editor-react/src/styles/mixins.less
  packages/ketcher-polymer-editor-react/src/styles/variables.less
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

Fix error
  packages/ketcher-polymer-editor-react/jest.config.js
  packages/ketcher-polymer-editor-react/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Decrease minItems from 1 to 0 for nodes in ket schema
  packages/ketcher-core/src/domain/serializers/ket/schema.json
Due: none

Change styles for extended table
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/GenericGroups.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/GenericGroups.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/components/GenGroup.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/components/components/GenSet.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.module.less
  packages/ketcher-react/src/style/variables.less
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

update jest config
  packages/ketcher-polymer-editor-react/jest.config.js
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
Due: prettier --write, eslint --fix

Decrease minItems from 1 to 0 for nodes in ket schema (#1139)
  packages/ketcher-core/src/domain/serializers/ket/schema.json
Due: none

Fix find fid logic and fix typo in method name everywhere
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
  packages/ketcher-react/src/script/editor/shared/closest.js
  packages/ketcher-react/src/script/editor/tool/atom.js
  packages/ketcher-react/src/script/editor/tool/eraser.js
  packages/ketcher-react/src/script/editor/tool/helper/locate.js
  packages/ketcher-react/src/script/editor/tool/select.ts
  packages/ketcher-react/src/script/editor/tool/sgroup.js
Due: prettier --write, eslint --fix

fix prettier
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/editor/tool/select.ts
Due: prettier --write, eslint --fix

Change styles for extended table
  packages/ketcher-react/src/Editor.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/GenericGroups.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/GenericGroups.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/components/GenGroup.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/components/components/GenSet.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.module.less
  packages/ketcher-react/src/style/variables.less
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

#1105 Implement Redux for ketcher-polymer-editor-react and create Layout component (#1121)
  example/config/webpack.config.js
  example/package.json
  example/src/App.tsx
  example/src/PeptidesToggler/index.ts
  example/src/PolymerToggler/PolymerToggler.css
  example/src/PolymerToggler/PolymerToggler.tsx
  example/src/PolymerToggler/index.ts
  example/src/react-app-env.d.ts
  packages/ketcher-polymer-editor-react/jest.config.js
  packages/ketcher-polymer-editor-react/package.json
  packages/ketcher-polymer-editor-react/rollup.config.js
  packages/ketcher-polymer-editor-react/src/Editor.module.less
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/App/App.module.less
  packages/ketcher-polymer-editor-react/src/components/App/App.tsx
  packages/ketcher-polymer-editor-react/src/components/App/AppContainer.tsx
  packages/ketcher-polymer-editor-react/src/components/App/index.ts
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/MonomerLibrary.module.less
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.module.less
  packages/ketcher-polymer-editor-react/src/components/shared/ui/Tabs/Tabs.module.less
  packages/ketcher-polymer-editor-react/src/state/common/editorSaga.ts
  packages/ketcher-polymer-editor-react/src/state/common/editorSlice.ts
  packages/ketcher-polymer-editor-react/src/state/common/index.ts
  packages/ketcher-polymer-editor-react/src/state/hooks.ts
  packages/ketcher-polymer-editor-react/src/state/index.ts
  packages/ketcher-polymer-editor-react/src/state/rootSaga.ts
  packages/ketcher-polymer-editor-react/src/state/store.ts
  packages/ketcher-polymer-editor-react/src/styles/mixins.less
  packages/ketcher-polymer-editor-react/src/styles/variables.less
  packages/ketcher-polymer-editor-react/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

Update styles
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/PeriodTable.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/GenericGroups/components/GenGroup.module.less
  packages/ketcher-react/src/style/mixins.less
Due: prettier --write, eslint --fix, stylelint --formatter verbose --fix --allow-empty-input

Change serializer for smiles
  packages/ketcher-core/src/application/formatters/formatterFactory.ts
  packages/ketcher-core/src/application/formatters/smilesFormatter.ts
Due: prettier --write, eslint --fix

Change serializer for smiles (#1144)
  packages/ketcher-core/src/application/formatters/formatterFactory.ts
  packages/ketcher-core/src/application/formatters/smilesFormatter.ts
Due: prettier --write, eslint --fix

Fix bug with long click for atom in FG (#1135)
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
  packages/ketcher-react/src/script/editor/shared/closest.js
  packages/ketcher-react/src/script/editor/tool/atom.js
  packages/ketcher-react/src/script/editor/tool/eraser.js
  packages/ketcher-react/src/script/editor/tool/helper/locate.js
  packages/ketcher-react/src/script/editor/tool/select.ts
  packages/ketcher-react/src/script/editor/tool/sgroup.js
Due: prettier --write, eslint --fix

Fix PR
  packages/ketcher-core/src/application/editor/operations/rxn/RxnArrowResize.ts
  packages/ketcher-core/src/application/render/draw.js
  packages/ketcher-core/src/application/render/restruct/rerxnarrow.ts
  packages/ketcher-core/src/domain/entities/rxnArrow.ts
  packages/ketcher-react/src/icons/files/reaction-arrow-unbalanced-equilibrium-filled-half-triangle.svg
  packages/ketcher-react/src/icons/index.tsx
  packages/ketcher-react/src/script/ui/action/tools.js
Due: prettier --write, eslint --fix
