Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

- fixed R1/R2 missed attachment points cases
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
Due: prettier --write

Backmerge: #5184 – Fix unresolved monomers bond establishing issue (#5258)
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts
  packages/ketcher-core/src/application/editor/tools/Bond.ts
  packages/ketcher-core/src/domain/entities/UnresolvedMonomer.ts
Due: prettier --write

Backmerge: #5255 – Fix adding new monomers to canvas in sequence mode while editing RNA in builder (#5260)
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaAccordion/RnaAccordion.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.test.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
Due: prettier --write

#5121: Copy does not work in the firefox browser
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.jsx
Due: prettier --write

remove line break
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.jsx
Due: prettier --write

#5245 - Replacement of peptide at the end of sequence on preset w/out base works wrong (#5274)
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

- fixed conditions sequence in rna addition method for sequence mode
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

#5245 - Replacement of peptide at the end of sequence on preset w/out base works wrong
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

#5228 - Systen insert monomer from the library to the canvas even if it shouldn't (and error message is wrong)
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
Due: prettier --write

#5228 - System insert monomer from the library to the canvas even if it shouldn't (and error message is wrong) (#5277)
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
Due: prettier --write

Backmerge: #5245 - Replacement of peptide at the end of sequence on preset w/out base works wrong (#5278)
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

Backmerge: #5228 - System insert monomer from the library to the canvas even if it shouldn't (and error message is wrong) (#5279)
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
Due: prettier --write

feat: add changes in modal window styles
  packages/ketcher-react/src/components/ToggleButtonGroup/ToggleButtonGroup.module.less
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.module.less
  packages/ketcher-react/src/style/variables.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#5121 – Prettier fix
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.jsx
Due: prettier --write

feat:update monomer name for d-lactic-acid
  packages/ketcher-core/src/application/editor/data/monomers.ket
Due: none

#5121 - Copy does not work in the firefox browser
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.jsx
Due: prettier --write

feat:add idtAliases
  packages/ketcher-core/src/application/editor/data/monomers.ket
Due: none

#5284 – Update indigo to 1.23.0-rc.2 in browser module
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

Backmerge: #5284 – Update indigo to 1.23.0-rc.2 in browser module
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

feat: add chems to the library
  packages/ketcher-core/src/application/editor/data/monomers.ket
Due: none

add new test
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/CDX-Files/cdx-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/CDXML-Enhanced-Stereochemistry/cdxml-enhanced-stereochemistry.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/KET-Files/ket-files-properties.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/PNG-Files/png-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SVG_Files/svg-files.spec.ts
  ketcher-autotests/tests/File-Management/SMARTS-Files/smarts-files.spec.ts
  ketcher-autotests/tests/File-Management/Smile-Files/smile-files.spec.ts
  ketcher-autotests/tests/test-data/KET/simple-schema-with-retrosynthetic-arrow.ket
Due: prettier --write

update test
  ketcher-autotests/tests/Macromolecule-editor/Chem-monomers/chem-library.spec.ts-snapshots/Open-Ketcher-Open-Chem-tab-in-library-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-correct-HELM-sequence-30-Cycled-RNAs-1-chromium-linux.png
Due: none

update test
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-CHEM-tab-check-at-Library-3-chromium-linux.png
Due: none

#5121 - copy does not work in the firefox browser (#5282)
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.jsx
Due: prettier --write

- updated ketcher to 2.23.0-rc.4
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

#5200 -- measure units are saved into global state
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/ui/component/form/MeasureInput/measure-input.jsx
  packages/ketcher-react/src/script/ui/component/form/form/form.jsx
  packages/ketcher-react/src/script/ui/data/schema/options-schema.ts
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
Due: prettier --write

5290 - first draft
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts
Due: prettier --write

- updated ketcher to 2.23.0-rc.4 (#5292)
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

5290 - second fraft
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts
  ketcher-autotests/tests/utils/macromolecules/library.ts
  ketcher-autotests/tests/utils/macromolecules/rnaBuilder.ts
  ketcher-autotests/tests/utils/macromolecules/sequence.ts
Due: prettier --write

- updated screenshots
  ketcher-autotests/tests/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts-snapshots/Plus-and-Arrows-tools-Actions-on-the-reaction-with-non-default-reaction-arrows-2-chromium-linux.png
Due: none

- added tests; - added test file; - added expected snapshots
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-attachment-po-3358d-if-an-attachment-point-participates-in-a-bond-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-attachment-po-9e33a-if-an-attachment-point-participates-in-a-bond-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-toolt-3b602-ar-Base-Phosphate-Nucleotide-CHEM-flex-mode-5-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-toolt-56fac-ar-Base-Phosphate-Nucleotide-CHEM-flex-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-toolt-79925-ach-type-of-monomer-on-the-canvas-flex-mode-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-toolt-98c8b-ar-Base-Phosphate-Nucleotide-CHEM-flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-toolt-9a50f-ach-type-of-monomer-on-the-canvas-flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-toolt-a8d86-ar-Base-Phosphate-Nucleotide-CHEM-flex-mode-4-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-toolt-dc52a-ar-Base-Phosphate-Nucleotide-CHEM-flex-mode-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Base-type-of-monomer-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-CHEM-type-of-monomer-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Nucleotide-type-of-monomer-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Peptide-type-of-monomer-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Phosphate-type-of-monomer-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Sugar-type-of-monomer-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/rna-nucleotide-chem.ket
  ketcher-autotests/tests/test-data/KET/sequence-with-monomers.ket
  ketcher-autotests/tests/utils/macromolecules/sequence.ts
Due: prettier --write

- deleted delay
  ketcher-autotests/tests/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts
Due: prettier --write

#5284 – Update indigo to 1.23.0-rc.2 in browser module (#5285)
  ketcher-autotests/tests/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts-snapshots/Plus-and-Arrows-tools-Actions-on-the-reaction-with-non-default-reaction-arrows-2-chromium-linux.png
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

feat: add amino acids
  packages/ketcher-core/src/application/editor/data/monomers.ket
Due: none

update Screenshot test
  ketcher-autotests/tests/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-CHEM-tab-check-at-Library-3-chromium-linux.png
Due: none
