Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7038 - System doesn't scroll screen down if user moves mouse - snapshot update
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.13.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-13-0-—-Small-molecules-positio-9fd90-s-wrong-if-user-scrolls-down-during-selection-1-chromium-popup-linux.png
Due: none

#5273 - mol-v2000 with rdfile sign is processed not correctly by ketcher
  ketcher-autotests/tests/specs/Reactions/Cascade-Reactions/cascade-reactions.spec.ts
  packages/ketcher-core/__tests__/application/formatters/identifyStructFormat.test.ts
  packages/ketcher-core/__tests__/application/formatters/serverFormatter.test.ts
  packages/ketcher-core/src/application/formatters/identifyStructFormat.ts
  packages/ketcher-core/src/application/formatters/serverFormatter.ts
Due: prettier --write

chore: add eslint disable comment for useEffect in MicromoleculesEditor
  packages/ketcher-react/src/MicromoleculesEditor.tsx
Due: prettier --write

#12124 - save canvas to helm if it contains custom monomers that are absent from the library
  packages/ketcher-core/__tests__/domain/serializers/ket/fromKet/monomerTemplateUtils.test.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/monomerTemplateUtils.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
Due: prettier --write

5146: fix test cases
  packages/ketcher-core/__tests__/domain/serializers/ket/KetSerializer.test.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
Due: prettier --write

Refactor: use ketcherIdRef for improved reactivity in MicromoleculesEditor
  packages/ketcher-react/src/MicromoleculesEditor.tsx
Due: prettier --write

Refactor: replace ketcherId assignment with useLayoutEffect for improved reactivity in MicromoleculesEditor
  packages/ketcher-react/src/MicromoleculesEditor.tsx
Due: prettier --write

5146: fix dos
  packages/ketcher-core/__tests__/domain/serializers/ket/ketSvgValidation.test.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSvgValidation.ts
Due: prettier --write

#12125 – Preview tooltip glitch problem
  packages/ketcher-macromolecules/src/components/preview/Preview.tsx
Due: prettier --write

fix: multi-strand sequence layout
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

Enhance TypeScript integration by adding ToolVariant type and refining function signatures in editor state management
  packages/ketcher-react/src/script/ui/action/action.types.ts
  packages/ketcher-react/src/script/ui/state/editor/index.ts
  packages/ketcher-react/src/script/ui/state/editor/types.ts
  packages/ketcher-react/src/script/ui/state/modal/atoms.ts
Due: prettier --write

#12133 - Swap user-created preset attachment point names when phosphate position changes
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetAttachmentPointValidation.test.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetAttachmentPointValidation.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetTabs.test.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetTabs.tsx
Due: prettier --write

#12125 - update preview tooltip snapshot
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Validate-that-preview-tooltip-for-Peptide-type-of-monomer-in-the-library-1-chromium-linux.png
Due: none

fix: limit sequence layout changes to multi-strand structures
  packages/ketcher-core/src/application/render/renderers/sequence/BaseSequenceItemRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
Due: prettier --write

#4332 - Fasta: warn that FASTA/Sequence formats don't support side chains and modifications
  packages/ketcher-core/__tests__/domain/entities/drawingEntitiesManager.test.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-macromolecules/src/components/modal/save/Save.tsx
  packages/ketcher-macromolecules/src/locales/en/macromoleculesDialogs.json
  packages/ketcher-macromolecules/src/locales/zh-CN/macromoleculesDialogs.json
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-Replacement/drag-drop-replace-monomer.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-Replacement/drag-drop-replace-preset.spec.ts
Due: prettier --write

- specs
  .memory-bank/e2e-test-plan-template.md
  .memory-bank/testing.md
  CLAUDE.md
Due: none

#12140 - Cap Settings dialog height to its popup container
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#6470 - Insert nucleotide with phosphate between peptides in sequence mode
  packages/ketcher-core/__tests__/application/editor/modes/SequenceMode.insertNucleotideBetweenPeptides.test.ts
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

#12136 - Keep bonds on the same atom when monomer attachment points are renamed
  packages/ketcher-core/__tests__/application/editor/MonomerWizardSession.test.ts
  packages/ketcher-core/__tests__/domain/entities/replaceMonomerAttachmentPointRename.test.ts
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/__tests__/replacementHelpers.test.ts
  packages/ketcher-core/src/application/editor/libraryItemDragDrop/replacementHelpers.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

#7038 - System doesn't scroll screen down if user moves mouse... - snapshots update
  ketcher-autotests/tests/test-data/KET/Common-Bond-Tests/4 connected by Bond A6OH-expected.ket
  ketcher-autotests/tests/test-data/KET/Common-Bond-Tests/4 connected by Bond A6OH-expected.mol
Due: none

#12136 - Prefer renamed bonds when attachment point names collide
  .memory-bank/features/macromolecules.md
  packages/ketcher-core/__tests__/domain/entities/replaceMonomerAttachmentPointRename.test.ts
  packages/ketcher-core/src/application/editor/__tests__/replacementHelpers.test.ts
  packages/ketcher-core/src/application/editor/libraryItemDragDrop/replacementHelpers.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

#12136 - Bump handlebars to 4.7.10 to fix critical npm audit failure
  package-lock.json
Due: prettier --write

#6470 - Bump handlebars to 4.7.10 to fix critical npm audit failure
  package-lock.json
Due: prettier --write

#12140 - Bump handlebars to 4.7.10 to fix critical npm audit failure
  package-lock.json
Due: prettier --write

#7901 - Bump handlebars to 4.7.10 to fix critical npm audit failure
  package-lock.json
Due: prettier --write

#10953, #2999 - Bump handlebars to 4.7.10 to fix critical npm audit finding
  package-lock.json
Due: prettier --write

#12120 #12121 - Scroll to sequence on Flex to Sequence switch only when it is out of view and guard empty canvas
  package-lock.json
  packages/ketcher-core/src/application/editor/Editor.ts
Due: prettier --write

#12133 - Update e2e test for swapped preset attachment points
  ketcher-autotests/tests/pages/molecules/canvas/createMonomer/NucleotidePresetSection.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.13.0-bugs.spec.ts
  package-lock.json
Due: prettier --write

#12014 - Load Ketcher editor client-only in example-ssr
  example-ssr/src/app/page.tsx
Due: prettier --write

#12133 - Strengthen e2e assertions for swapped preset attachment points
  ketcher-autotests/tests/pages/molecules/canvas/createMonomer/NucleotidePresetSection.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.13.0-bugs.spec.ts
Due: prettier --write

#12014 - Restore server-side rendering of the editor in example-ssr
  example-ssr/src/app/page.tsx
Due: prettier --write

#12014 - Stop example-ssr server build from loading jsdom via paper
  example-ssr/next.config.mjs
  example-ssr/shims/jsdom.cjs
Due: none

- fixed issues
  openspec/changes/delete-monomer-from-library/design.md
  openspec/changes/delete-monomer-from-library/specs/monomer-library-deletion/spec.md
  openspec/changes/delete-monomer-from-library/tasks.md
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.library.ts
Due: prettier --write

- updated specs
  openspec/changes/delete-monomer-from-library/design.md
  openspec/changes/delete-monomer-from-library/specs/monomer-library-deletion/spec.md
Due: none

#8927 - Deleting the monomer in the library - Editing monomers from molecules mode in the monomer creation wizard
  packages/ketcher-core/__tests__/application/editor/LibraryMonomerEditing.test.ts
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/MonomerLibraryContextMenu.test.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/MonomerLibraryContextMenu.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/MonomerLibraryContextMenu.utils.ts
Due: prettier --write

- changed specs
  openspec/changes/delete-monomer-from-library/design.md
  openspec/changes/delete-monomer-from-library/tasks.md
Due: none

- fixed issues
  packages/ketcher-core/src/application/ketcher.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
