Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Backmerge: #7318 – Bonds are overlapped by CIP labels when moving the structure or when the structure has small bond angles (#7344)
  ketcher-autotests/tests/specs/Indigo-Tools/Calculate-CIP-Tool/calculate-cip-tool.spec.ts-snapshots/Indigo-Tools---Calculate-CIP-Tool-Add-ACS-styl-a86d1-r-atoms-on-various-structures-rings-chains-3-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Calculate-CIP-Tool/calculate-cip-tool.spec.ts-snapshots/Indigo-Tools---Calculate-CIP-Tool-Horizontal-f-18fb7-r-atoms-on-various-structures-rings-chains-2-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Calculate-CIP-Tool/calculate-cip-tool.spec.ts-snapshots/Indigo-Tools---Calculate-CIP-Tool-Rotate-struc-915b4-r-atoms-on-various-structures-rings-chains-2-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Calculate-CIP-Tool/calculate-cip-tool.spec.ts-snapshots/Indigo-Tools---Calculate-CIP-Tool-Vertical-fli-4c522-r-atoms-on-various-structures-rings-chains-2-chromium-linux.png
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-core/src/application/render/restruct/restruct.ts
Due: prettier --write

#6404 – Drag and drop working prototype for presets
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/components/DragGhost/DragGhost.module.less
  packages/ketcher-macromolecules/src/components/DragGhost/DragGhost.tsx
  packages/ketcher-macromolecules/src/components/DragGhost/svg/GhostRnaPreset.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.module.less
  packages/ketcher-macromolecules/src/components/Ruler/useTranslateAlongXAxis.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/RnaPresetItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-macromolecules/src/state/common/editorSlice.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#6404 – Proper monomers placement with regards to the zoom and canvas shift
  packages/ketcher-core/src/application/editor/tools/Zoom.ts
  packages/ketcher-macromolecules/src/components/DragGhost/DragGhost.tsx
  packages/ketcher-macromolecules/src/components/DragGhost/svg/GhostRnaPreset.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/hooks/useLibraryItemDrag.tsx
Due: prettier --write

#6404 – Separate dragging logic into hook
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-macromolecules/src/components/DragGhost/DragGhost.tsx
  packages/ketcher-macromolecules/src/components/DragGhost/svg/GhostRnaPreset.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/RnaPresetItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/hooks/useLibraryItemDrag.tsx
Due: prettier --write

#6404 – Single monomer drag and drop
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/components/DragGhost/DragGhost.tsx
  packages/ketcher-macromolecules/src/components/DragGhost/svg/GhostMonomer.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/hooks/useLibraryItemDrag.tsx
  packages/ketcher-macromolecules/src/hooks/useZoomTransform.ts
  packages/ketcher-macromolecules/src/state/library/librarySlice.ts
  packages/ketcher-macromolecules/src/state/rna-builder/rnaBuilderSlice.ts
Due: prettier --write

#6404 – Avoid storing drag data in redux store
  packages/ketcher-macromolecules/src/components/DragGhost/DragGhost.tsx
  packages/ketcher-macromolecules/src/components/DragGhost/svg/GhostRnaPreset.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/hooks/useLibraryItemDrag.tsx
  packages/ketcher-macromolecules/src/state/common/editorSlice.ts
Due: prettier --write

#6404 – Add scaling when dragging over canvas
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/constants.ts
  packages/ketcher-core/src/application/editor/helpers.ts
  packages/ketcher-core/src/application/editor/index.ts
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/components/DragGhost/DragGhost.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/hooks/useLibraryItemDrag.tsx
Due: prettier --write

#6404 – Apply zoom factor for ghost rna position
  packages/ketcher-macromolecules/src/components/DragGhost/DragGhost.tsx
  packages/ketcher-macromolecules/src/components/DragGhost/svg/GhostRnaPreset.tsx
Due: prettier --write

#6404 – Remove commented section, revert unnecessary change
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
  packages/ketcher-macromolecules/src/state/rna-builder/rnaBuilderSlice.ts
Due: prettier --write

#6404 – Address build failure
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/helpers.ts
  packages/ketcher-core/src/application/editor/index.ts
  packages/ketcher-core/src/domain/helpers/monomers.ts
  packages/ketcher-macromolecules/src/components/DragGhost/svg/GhostMonomer.tsx
  packages/ketcher-macromolecules/src/state/common/editorSlice.ts
Due: prettier --write

#6404 – Eliminate custom event for drag state and put it into editor directly
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/constants.ts
  packages/ketcher-core/src/application/editor/editor.types.ts
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-core/src/application/editor/index.ts
  packages/ketcher-macromolecules/src/components/DragGhost/DragGhost.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/hooks/useLibraryItemDrag.tsx
  packages/ketcher-macromolecules/src/state/common/editorSlice.ts
Due: prettier --write

#6404 – Remove local helper
  packages/ketcher-macromolecules/src/components/DragGhost/DragGhost.tsx
Due: prettier --write

#6404 – Return back IDT alias preset filtering
  packages/ketcher-macromolecules/src/state/rna-builder/rnaBuilderSlice.ts
Due: prettier --write

#6404 – Cancel library item drag on Esc and right mouse button click
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/hooks/useLibraryItemDrag.tsx
Due: prettier --write

#6404 – Add conditional chaining for editor events
  packages/ketcher-macromolecules/src/components/LayoutModeButton/LayoutModeButton.tsx
  packages/ketcher-macromolecules/src/components/LeftMenuComponent/LeftMenuComponent.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
  packages/ketcher-macromolecules/src/components/SequenceSyncEditModeButton/SequenceSyncEditModeButton.tsx
  packages/ketcher-macromolecules/src/components/SequenceTypeGroupButton/SequenceTypeGroupButton.tsx
  packages/ketcher-macromolecules/src/components/TopMenuComponent/TopMenuComponent.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/SelectedMonomersContextMenu/SelectedMonomersContextMenu.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/SequenceItemContextMenu/SequenceItemContextMenu.tsx
  packages/ketcher-macromolecules/src/components/modal/Delete/Delete.tsx
  packages/ketcher-macromolecules/src/components/modal/UpdateSequenceInRNABuilder/UpdateSequenceInRNABuilder.tsx
  packages/ketcher-macromolecules/src/components/modal/monomerConnection/MonomerConnections.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/helpers/resetRnaBuilder.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaElementsView/RnaElements.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetGroup/RnaPresetGroup.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/MonomerGroup.tsx
Due: prettier --write

test: updated snapshots
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-1-Tooltips-in-sequence-mode-disappear-after-right-click-on-letters-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-19-Unipositive-ion-ab461--in-mM-for-double-stranded-sequence-selection-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-2-Create-Antisense-933b8-from-context-menu-if-they-should-be-disabled-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-50-Melting-temperature-value-is-missed-if-UPC-or-NAC-value-set-to-zero-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-50-Melting-temperature-value-is-missed-if-UPC-or-NAC-value-set-to-zero-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-50-Melting-temperature-value-is-missed-if-UPC-or-NAC-value-set-to-zero-3-chromium-linux.png
Due: none

second
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-common.spec.ts
Due: prettier --write

test: updated snapshots
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-19-Unipositive-ion-ab461--in-mM-for-double-stranded-sequence-selection-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-49-System-not-coun-341fa-ot-part-of-a-nucleotide-nucleoside-as-RNA-DNA-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-114-4-Add-Sequence-chain-breaker-Ent-98a0b---A-A---A-to-second-position-of-sence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-145-4-Add-Sequence-chain-breaker-Ent-574b6---O-A---A-to-second-position-of-sence-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-145-4-Add-Sequence-chain-breaker-Ent-5b695---O-A---A-to-second-position-of-sence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-146-4-Add-Sequence-chain-breaker-Ent-cebbf--AO-A---A-to-second-position-of-sence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-162-4-Add-Sequence-chain-breaker-Ent-9c161---A-A---A-to-second-position-of-sence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-169-4-Add-Sequence-chain-breaker-Ent-15236--AA-A---A-to-second-position-of-sence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-192-4-Add-Sequence-chain-breaker-Ent-f16c7---A-A---A-to-second-position-of-sence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-199-4-Add-Sequence-chain-breaker-Ent-3f83d--AA-A---A-to-second-position-of-sence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-199-4-Add-Sequence-chain-breaker-Ent-df24f--AA-A---A-to-second-position-of-sence-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-222-4-Add-Sequence-chain-breaker-Ent-7994b---A-A---O-to-second-position-of-sence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-224-4-Add-Sequence-chain-breaker-Ent-189b8---O-A---A-to-second-position-of-sence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-225-4-Add-Sequence-chain-breaker-Ent-b1c3c--AO-A---A-to-second-position-of-sence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-50-4-Add-Sequence-chain-breaker-Ente-6fab8---O-A---A-to-second-position-of-sence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-51-4-Add-Sequence-chain-breaker-Ente-e07ab--AO-A---A-to-second-position-of-sence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-64-4-Add-Sequence-chain-breaker-Ente-6d294---A-A---A-to-second-position-of-sence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-66-4-Add-Sequence-chain-breaker-Ente-e133c--OA-A---A-to-second-position-of-sence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-73-4-Add-Sequence-chain-breaker-Ente-2ca32---A-A---A-to-second-position-of-sence-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation1-3.spec.ts-snapshots/Case-18-82-4-Add-Sequence-chain-breaker-Ente-cb690--A-A---A-to-second-position-of-sence-chain-1-chromium-linux.png
Due: none

#6404 – Drag and drop for the library elements in macromolecules mode (#7300)
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/editor.types.ts
  packages/ketcher-core/src/application/editor/editorEvents.ts
  packages/ketcher-core/src/application/editor/index.ts
  packages/ketcher-core/src/application/editor/tools/Zoom.ts
  packages/ketcher-core/src/application/render/renderers/BaseMonomerRenderer.ts
  packages/ketcher-core/src/domain/helpers/monomers.ts
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/components/DragGhost/DragGhost.module.less
  packages/ketcher-macromolecules/src/components/DragGhost/DragGhost.tsx
  packages/ketcher-macromolecules/src/components/DragGhost/svg/GhostMonomer.tsx
  packages/ketcher-macromolecules/src/components/DragGhost/svg/GhostRnaPreset.tsx
  packages/ketcher-macromolecules/src/components/LayoutModeButton/LayoutModeButton.tsx
  packages/ketcher-macromolecules/src/components/LeftMenuComponent/LeftMenuComponent.tsx
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.module.less
  packages/ketcher-macromolecules/src/components/Ruler/RulerArea.tsx
  packages/ketcher-macromolecules/src/components/Ruler/useTranslateAlongXAxis.ts
  packages/ketcher-macromolecules/src/components/SequenceSyncEditModeButton/SequenceSyncEditModeButton.tsx
  packages/ketcher-macromolecules/src/components/SequenceTypeGroupButton/SequenceTypeGroupButton.tsx
  packages/ketcher-macromolecules/src/components/TopMenuComponent/TopMenuComponent.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/SelectedMonomersContextMenu/SelectedMonomersContextMenu.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/SequenceItemContextMenu/SequenceItemContextMenu.tsx
  packages/ketcher-macromolecules/src/components/modal/Delete/Delete.tsx
  packages/ketcher-macromolecules/src/components/modal/UpdateSequenceInRNABuilder/UpdateSequenceInRNABuilder.tsx
  packages/ketcher-macromolecules/src/components/modal/monomerConnection/MonomerConnections.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/helpers/resetRnaBuilder.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaElementsView/RnaElements.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetGroup/RnaPresetGroup.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetItem/RnaPresetItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/MonomerGroup.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/hooks/useLibraryItemDrag.tsx
  packages/ketcher-macromolecules/src/hooks/useZoomTransform.ts
  packages/ketcher-macromolecules/src/state/common/editorSlice.ts
  packages/ketcher-macromolecules/src/state/library/librarySlice.ts
  packages/ketcher-macromolecules/src/state/rna-builder/rnaBuilderSlice.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

test: updated snapshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/new-sequence-representation2.spec.ts-snapshots/Case-43-24-Adding-dash-between-pair-of-RNA-n-c4987-Unsplit-nucleotide-5Br-dU-in-antisense-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-20-16-16-Replace-first-symbol-at-base-to-7e20d-of-presets-U-on-sugar-5formD-in-edit-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-20-28-14-Replace-first-symbol-at-two-seq-c3e01-t-w-o-phosphate-25mo3r-nC6n5C-in-edit-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-21-23-13-Replace-center-symbol-at-two-se-25615-preset-25mo3r-nC6n5C-Test-6-Ph-in-edit-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-21-28-14-Replace-center-symbol-at-two-se-45abd-t-w-o-phosphate-25mo3r-nC6n5C-in-edit-mode-1-chromium-linux.png
Due: none

- fixes after review
  packages/ketcher-core/src/application/editor/operations/coreRxn/multitailArrow.ts
  packages/ketcher-core/src/application/editor/operations/coreRxn/rxnArrow.ts
  packages/ketcher-core/src/application/editor/operations/coreRxn/rxnPlus.ts
  packages/ketcher-core/src/domain/entities/CoreMultitailArrow.ts
Due: prettier --write

First draft
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Hotkeys/hotkeys.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/1-Verify-import-with-valid-three-letter-codes-6c6fe-e-with-Three-letters-peptide-codes---part-3-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/1-Verify-import-with-valid-three-letter-codes-b7b82-e-with-Three-letters-peptide-codes---part-2-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/1-Verify-import-with-valid-three-letter-codes-edeb0-e-with-Three-letters-peptide-codes---part-1-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/2-Verify-that-spaces-separate-different-amino-1a1a0-ences-in-import-with-e-g-AlaAla-CysCys-1-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/3-Verify-ignoring-of-line-breaks-during-import-with-e-g-AlaGly-Cys-2-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-for-molecules-with-monomers.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-switch.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom.spec.ts
  ketcher-autotests/tests/specs/Reactions/Reaction-tools/Multi-Tailed-Arrow-Tool/multi-tailed-arrow-tool.spec.ts
  ketcher-autotests/tests/specs/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts
  ketcher-autotests/tests/specs/Settings/General/default-settings-verification.spec.ts
  ketcher-autotests/tests/specs/Settings/Stereochemistry/ignore-chiral-flag.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Fragment selection/fragment-selection-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/R-group-tool/r-group-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Chain-Tool/chain-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Text-Tool/text-formating.spec.ts
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts
Due: prettier --write

Second
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Template-manipulations.spec.ts
Due: prettier --write

One more
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts
Due: prettier --write

- add tests; - add test files; - add screenshots
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-5-0-Case-1-Clicking-on-base-2d36b-iple-bases-from-the-same-section-are-selected-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-5-0-Case-2-Monomers-positio-11f5d-rved-when-pasting-macromolecule-in-MOL-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-5-0-Case-3-Undo-Redo-work-for-modifications-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-5-0-Case-3-Undo-Redo-work-for-modifications-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-5-0-Case-4-Monomers-are-updated-immediately-after-modification-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-5-0-Case-4-Monomers-are-updated-immediately-after-modification-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-5-0-Case-5-Layout-not-shift-when-entering-symbol-in-sequence-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-5-0-Case-5-Layout-not-shift-when-entering-symbol-in-sequence-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-5-0-Case-6-Correct-order-of-amino-acid-modification-options-in-context-menu-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-5-0-Case-6-Correct-order-of-amino-acid-modification-options-in-context-menu-2-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/Bugs/gattaca.mol
Due: prettier --write

Autotests: #7353 - autotests failed test fixes 6 (#7354)
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Hotkeys/hotkeys.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/1-Verify-import-with-valid-three-letter-codes-6c6fe-e-with-Three-letters-peptide-codes---part-3-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/1-Verify-import-with-valid-three-letter-codes-b7b82-e-with-Three-letters-peptide-codes---part-2-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/1-Verify-import-with-valid-three-letter-codes-edeb0-e-with-Three-letters-peptide-codes---part-1-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/2-Verify-that-spaces-separate-different-amino-1a1a0-ences-in-import-with-e-g-AlaAla-CysCys-1-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/3-Verify-ignoring-of-line-breaks-during-import-with-e-g-AlaGly-Cys-2-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/connection-rules-for-molecules-with-monomers.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-switch.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom.spec.ts
  ketcher-autotests/tests/specs/Reactions/Reaction-tools/Multi-Tailed-Arrow-Tool/multi-tailed-arrow-tool.spec.ts
  ketcher-autotests/tests/specs/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts
  ketcher-autotests/tests/specs/Settings/General/default-settings-verification.spec.ts
  ketcher-autotests/tests/specs/Settings/Stereochemistry/ignore-chiral-flag.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Fragment selection/fragment-selection-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/R-group-tool/r-group-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Chain-Tool/chain-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Text-Tool/text-formating.spec.ts
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Template-manipulations.spec.ts
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts
Due: prettier --write

#7327 - Missing separator line above "Delete" in context menu
  packages/ketcher-macromolecules/src/components/contextMenu/ContextMenu.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/SequenceItemContextMenu/SequenceItemContextMenu.tsx
Due: prettier --write

#7347 - Migrate to Indigo v1.34.0-rc.1 in-browser module
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

- updated tests
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Va-142e2-ould-be-saved-to-rxn2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Va-1c79d-ould-be-saved-to-rxn2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Va-e1c68-ould-be-saved-to-rxn2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-15-Check-that-346f7-he-selection-the-appropriate-card-grayed-out-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-23-Check-Calc-dbe36--R2-R1-connected-monomers-with-microstructure-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-3-Verify-afte-c8194-selection-to-Indigo-and-the-selection-remain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-4-Check-if-on-28c9c-ened-Ketcher-send-the-whole-canvas-to-Indigo-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-6-Check-that--6171c-e-Select-monomer-chain-or-part-of-a-chain-1-chromium-linux.png
Due: prettier --write

- updated tests
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-1-RNA---Base-only-1-chromium-linux.png
Due: none

#7347 - Migrate to Indigo v1.34.0-rc.1 in-browser module (#7356)
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Va-142e2-ould-be-saved-to-rxn2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Va-1c79d-ould-be-saved-to-rxn2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Va-e1c68-ould-be-saved-to-rxn2000-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-15-Check-that-346f7-he-selection-the-appropriate-card-grayed-out-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-23-Check-Calc-dbe36--R2-R1-connected-monomers-with-microstructure-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-3-Verify-afte-c8194-selection-to-Indigo-and-the-selection-remain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-4-Check-if-on-28c9c-ened-Ketcher-send-the-whole-canvas-to-Indigo-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-6-Check-that--6171c-e-Select-monomer-chain-or-part-of-a-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-incorrect-HELM-sequence-1-RNA---Base-only-1-chromium-linux.png
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

First draft
  ketcher-autotests/tests/pages/common/SaveStructureDialog.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Attachment-Point-Tool/attachment-point-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/R-group-tool/r-group-fragment-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/data-s-group-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Multiple-S-Group-Tool/multiple-s-group-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/SRU-Polymer/sru-polymer-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/click-and-drag-atom-on-canvas.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/click-atom-on-canvas.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/drag-and-drop-atom.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Charge-Tool/charge-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts
  ketcher-autotests/tests/specs/Templates/Functional-Groups/Functional-Group-Tools/functional-group-tools.spec.ts
  ketcher-autotests/tests/specs/Templates/Functional-Groups/click-and-drag-fg-on-canvas.spec.ts
  ketcher-autotests/tests/specs/Templates/Functional-Groups/functional-groups.spec.ts
  ketcher-autotests/tests/specs/Templates/Salts-and-Solvents/click-and-drag-salts-on-canvas.spec.ts
  ketcher-autotests/tests/specs/Templates/Salts-and-Solvents/click-salts-on-canvas.spec.ts
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Template-manipulations.spec.ts
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts
  ketcher-autotests/tests/test-data/Molfiles-V3000/monomers-and-chem.mol
  ketcher-autotests/tests/utils/query-features.ts
  packages/ketcher-react/src/script/ui/component/view/Tabs/Tabs.jsx
Due: prettier --write

update test in report 6
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-13-14-Replace-first-symbol-at-base-to-423f0-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-13-15-Replace-first-symbol-at-base-to-35078--without-base-25mo3r-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-14-14-Replace-first-symbol-at-base-to-3e5d9-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-14-15-Replace-first-symbol-at-base-to-abf02--without-base-25mo3r-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-15-14-Replace-first-symbol-at-base-to-9a42d-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-15-15-Replace-first-symbol-at-base-to-5f947--without-base-25mo3r-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-16-14-Replace-first-symbol-at-base-to-13596-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-16-15-Replace-first-symbol-at-base-to-15849--without-base-25mo3r-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-17-14-Replace-first-symbol-at-phospha-7826b-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-17-15-Replace-first-symbol-at-phospha-79d92--without-base-25mo3r-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-18-14-Replace-first-symbol-at-phospha-9a028-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-18-15-Replace-first-symbol-at-phospha-b83cd--without-base-25mo3r-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-19-14-Replace-first-symbol-at-phospha-4d119-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-19-15-Replace-first-symbol-at-phospha-15ce8--without-base-25mo3r-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-20-14-Replace-first-symbol-at-phospha-7877e-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-20-15-Replace-first-symbol-at-phospha-bd9f5--without-base-25mo3r-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-21-14-Replace-first-symbol-at-phospha-35dd9-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-21-15-Replace-first-symbol-at-phospha-cc35a--without-base-25mo3r-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-22-14-Replace-first-symbol-at-two-seq-6a70a-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-22-15-Replace-first-symbol-at-two-seq-7fa2c--without-base-25mo3r-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-23-14-Replace-first-symbol-at-two-seq-55fbe-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-23-15-Replace-first-symbol-at-two-seq-b241d--without-base-25mo3r-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-24-14-Replace-first-symbol-at-two-seq-94c4c-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-24-15-Replace-first-symbol-at-two-seq-37f70--without-base-25mo3r-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-25-14-Replace-first-symbol-at-two-seq-f712d-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-25-15-Replace-first-symbol-at-two-seq-11ac7--without-base-25mo3r-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-26-14-Replace-first-symbol-at-two-seq-db946-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-26-15-Replace-first-symbol-at-two-seq-f74a8--without-base-25mo3r-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-27-13-Replace-first-symbol-at-two-seq-d565c--preset-25mo3r-nC6n5C-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-27-14-Replace-first-symbol-at-two-seq-de9cf-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-28-13-Replace-first-symbol-at-two-seq-80468--preset-25mo3r-nC6n5C-Test-6-Ph-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-28-14-Replace-first-symbol-at-two-seq-7d31b-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-17-29-14-Replace-first-symbol-at-two-seq-6942f-et-w-o-phosphate-25mo3r-nC6n5C-view-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-replacement.spec.ts-snapshots/Case-18-13-20-Replace-center-symbol-at-base-t-703e4--U-w-o-phosphates-on-CHEM-sDBL-view-mode-1-chromium-linux.png
Due: none

Second
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/__snapshots__/Save.test.tsx.snap
Due: none

Autotests: #7357 - autotests failed test fixes 7 (#7358)
  ketcher-autotests/tests/pages/common/SaveStructureDialog.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-mol.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Attachment-Point-Tool/attachment-point-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/R-group-tool/r-group-fragment-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/data-s-group-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Multiple-S-Group-Tool/multiple-s-group-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/SRU-Polymer/sru-polymer-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/click-and-drag-atom-on-canvas.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/click-atom-on-canvas.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/drag-and-drop-atom.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Charge-Tool/charge-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts
  ketcher-autotests/tests/specs/Templates/Functional-Groups/Functional-Group-Tools/functional-group-tools.spec.ts
  ketcher-autotests/tests/specs/Templates/Functional-Groups/click-and-drag-fg-on-canvas.spec.ts
  ketcher-autotests/tests/specs/Templates/Functional-Groups/functional-groups.spec.ts
  ketcher-autotests/tests/specs/Templates/Salts-and-Solvents/click-and-drag-salts-on-canvas.spec.ts
  ketcher-autotests/tests/specs/Templates/Salts-and-Solvents/click-salts-on-canvas.spec.ts
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Template-manipulations.spec.ts
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts
  ketcher-autotests/tests/test-data/Molfiles-V3000/monomers-and-chem.mol
  ketcher-autotests/tests/utils/query-features.ts
  packages/ketcher-react/src/script/ui/component/view/Tabs/Tabs.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/__snapshots__/Save.test.tsx.snap
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
