Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

- add tests; - add test files; - add screenshots
  ketcher-autotests/tests/specs/Chromium-popup/Library/color-of-nucleobases.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Library/color-of-nucleobases.spec.ts-snapshots/Color-of-Nucleobases-Case-8-Check-that-Adenin-55b61-A-C-G-T-U-X-can-be-saved-to-SVG-Document-1-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/KET/ACGTUX-bases-and-nucleotides.ket
Due: prettier --write

#7674 - Add ability to update monomers library API in SDF format (#7916)
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/application/editor/data/monomers.ket
  packages/ketcher-core/src/application/editor/helpers.ts
  packages/ketcher-core/src/application/formatters/types/ket.ts
  packages/ketcher-core/src/application/indigo.ts
  packages/ketcher-core/src/application/ketcher.ts
  packages/ketcher-core/src/application/ketcher.types.ts
  packages/ketcher-core/src/domain/helpers/monomers.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/monomerToDrawingEntity.ts
  packages/ketcher-core/src/domain/services/struct/structService.types.ts
  packages/ketcher-core/src/domain/types/monomers.ts
  packages/ketcher-core/src/utilities/KetcherLogger.ts
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/EditorEvents.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/SelectedMonomersContextMenu/helpers.ts
  packages/ketcher-macromolecules/src/helpers/getPreset.ts
  packages/ketcher-macromolecules/src/hooks/useSetRnaPresets.ts
  packages/ketcher-macromolecules/src/state/common/editorSlice.ts
  packages/ketcher-macromolecules/src/state/library/librarySlice.ts
  packages/ketcher-react/src/Editor.tsx
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.types.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

Export to SVG Documets works wrong for unsplite nucleotides with dash symbole (-) in alias
  packages/ketcher-macromolecules/src/components/modal/save/Save.styles.ts
Due: prettier --write

#7730 – Add ability to create an attachment point via attachment atom
  packages/ketcher-core/src/application/render/raphaelRender.ts
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/assets/icons/files/connection-point.svg
  packages/ketcher-react/src/components/Icon/utils/iconNameToIcon.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.module.less
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useMakeLeavingGroupAtomMenuItem.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7730 – Create context menu when right-clicking on R-label
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenu.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/contextMenu.types.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useMakeLeavingGroupAtomMenuItem.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AttachmentPointLabelMenuItems.tsx
Due: prettier --write

#7730 – Change R-label position for attachment points
  packages/ketcher-core/src/application/render/restruct/reatom.ts
Due: prettier --write

#7730 – Highlight atoms for potential attachment points on hover only
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#7730 – Add ability to create attachment points from implicit hydrogen AA
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useMakeLeavingGroupAtomMenuItem.tsx
Due: prettier --write

#7730 – Visuals fix
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7730 – Ability to edit attachment point from attributes panel
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/AttachmentPointEditPopup/AttachmentPointEditPopup.module.less
  packages/ketcher-react/src/script/ui/views/components/AttachmentPointEditPopup/AttachmentPointEditPopup.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPoint/AttachmentPoint.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPoint/AttachmentPoint.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPointControls/AttachmentPointControls.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPointControls/AttachmentPointControls.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/hooks/useAttachmentPointSelectsData.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7730 – Add AP highlight in attributes panel when hovering on canvas
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPoint/AttachmentPoint.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPointControls/AttachmentPointControls.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPointControls/AttachmentPointControls.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7730 – Allow for leaving atom flip in edit dialog
  packages/ketcher-core/src/application/editor/shared/customEvents.ts
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/AttachmentPointEditPopup/AttachmentPointEditPopup.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AttachmentPointLabelMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPoint/AttachmentPoint.tsx
Due: prettier --write

#7730 – Add AP highlight on canvas when hovering in attributes panel
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPoint/AttachmentPoint.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/AttachmentPointControls/AttachmentPointControls.tsx
Due: prettier --write

#7730 – Add to attachment point section, change selects appearance in edit dialog
  packages/ketcher-react/src/script/ui/views/components/AttachmentPointEditPopup/AttachmentPointEditPopup.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7730 – Fix ability to assign AP for non simple single bonds
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#7730 – Collect potential attachment points properly
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/AtomMenuItems.tsx
Due: prettier --write

#7730 – Fix post-demo comments
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-react/src/assets/icons/files/leaving-group.svg
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/hooks/useMakeLeavingGroupAtomMenuItem.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/hooks/useAttachmentPointSelectsData.tsx
Due: prettier --write

#7893 – Preview: System shouldn't allow to create monomers for selection with aromatic bonds to non-selected part
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#7730 – Add waitForCustom event for monomer creation selection
  ketcher-autotests/tests/pages/molecules/canvas/CreateMonomerDialog.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/4-Check-that-when-user-clicks-on-the-Create--a271e-ture-is-loaded-in-the-monomer-creation-wizard-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/6-Check-that-1-Eight-attachment-points-molec-1ba17-wo-atoms-has-correct-leaving-groups-and-bonds-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts-snapshots/6-Check-that-2-Eight-attachment-points-molec-06bdc-ht-atoms-has-correct-leaving-groups-and-bonds-1-chromium-popup-linux.png
  ketcher-autotests/tests/utils/common/loaders/waitForRender.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

fix: readme changed for rescale param, and ketcher.ts this.editor used
  README.md
  packages/ketcher-core/src/application/ketcher.ts
Due: prettier --write

- refactor
  ketcher-autotests/tests/specs/Chromium-popup/Library/color-of-nucleobases.spec.ts
Due: prettier --write

- changed snake bond behaviour
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer/SnakeModePolymerBondRenderer.ts
  packages/ketcher-core/src/domain/entities/BaseMonomer.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

- updated screenshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-6-Check-that-in-Snake-mo-20496-d-values-on-the-ruler-can-be-any-whole-number-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-6-Check-that-in-Snake-mo-dca2a-d-values-on-the-ruler-can-be-any-whole-number-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/side-chain-connections.spec.ts-snapshots/Side-chain-connections-2-2-Verify-correct-disp-31f6f-tions-when-two-monomers-are-in-different-rows-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/Side-Chain-Connections/19-expected.ket
Due: none

- refactored snake layout to work on rows and chains from SnakeLayoutModel
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

- changed snake layout rules for molecules
  packages/ketcher-core/src/domain/entities/snake-layout-model/SnakeLayoutModel.ts
Due: prettier --write

- updated screenshots
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-10-ketcher-getMol-9739f-topped-working-for-macro-canvas-with-peptides-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-10-ketcher-getMol-d68f8-topped-working-for-macro-canvas-with-peptides-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.28.0-bugs.spec.ts-snapshots/Case-20-Antisense-creation-works-wrong-in-case-of-partial-selection-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.28.0-bugs.spec.ts-snapshots/Case-29-Layout-works-wrong-if-bases-of-the-same-chain-connected-by-H-bonds-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-27-Layout-in-case--c5a08-connected-to-same-antisense-works-as-expected-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-23-Connection-poin-28982-d-when-moving-monomers-in-Flex-and-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-30380-structure-by-Fragment-and-Undo-Snake-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-3a75f-nt-through-right-click-menu-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-3adde-ucture-by-Fragment-and-Undo-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-4ed0d-icking-empty-area-of-canvas-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-51c4a-nt-through-right-click-menu-Sequence-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-7867a--molecules-connected-via-bonds-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-79381-lecules-connected-via-bonds-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-9c380--clicking-empty-area-of-canvas-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-a34d0-gment-through-right-click-menu-Snake-mode-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-a91d0--molecules-connected-via-bonds-Snake-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-ac74e--clicking-empty-area-of-canvas-Snake-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-aedde-gment-through-right-click-menu-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-c255a-lecules-connected-via-bonds-Sequence-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-d02f8-structure-by-Fragment-and-Undo-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-f2c26-icking-empty-area-of-canvas-Sequence-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-f5509-gment-through-right-click-menu-Snake-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/Chromium-popup/snake-mode-peptides-on-canvas-expected.mol
Due: none

- added layout for molecules in snake mode
  packages/ketcher-core/src/domain/entities/BaseMonomer.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/EmptySnakeLayoutNode.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/MoleculeSnakeLayoutNode.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SingleMonomerSnakeLayoutNode.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SnakeLayoutModel.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SnakeLayoutModelChain.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SugarWithBaseSnakeLayoutNode.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/types.ts
Due: prettier --write

- updated screenshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-edit-mode-After-pasting-between-two-n-4d194-pasted-fragment-is-merged-with-existing-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-edit-mode-Check-If-cursor-is-located--f4d93-en-pasted-fragment-is-considered-as-new-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Copy-And-Paste/sequence-mode-copy-paste.spec.ts-snapshots/Sequence-edit-mode-Verify-that-when-multiple-u-fd836-ey-are-pasted-as-separate-chains-in-view-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-1-Verify-that-ruler-avai-8e577-Snake-mode-and-placed-below-the-main-toolbar-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-12-Change-layout-by-drag-1a3f0--in-Sequence-and-Snake-mode-for-1001-Peptides-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-12-Change-layout-by-drag-ded7e--in-Sequence-and-Snake-mode-for-1001-Peptides-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-12-Change-layout-by-drag-e4067--in-Sequence-and-Snake-mode-for-1001-Peptides-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-13-Change-layout-by-set--296a7--in-Sequence-and-Snake-mode-for-1001-Peptides-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-13-Change-layout-by-set--6ded6--in-Sequence-and-Snake-mode-for-1001-Peptides-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-13-Change-layout-by-set--ec036--in-Sequence-and-Snake-mode-for-1001-Peptides-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-14-Change-layout-by-drag-b0842-lider-in-Sequence-and-Snake-mode-for-1001-DNA-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-14-Change-layout-by-drag-b6252-lider-in-Sequence-and-Snake-mode-for-1001-DNA-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-14-Change-layout-by-drag-fcb8e-lider-in-Sequence-and-Snake-mode-for-1001-DNA-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-15-Change-layout-by-set--660ea-lider-in-Sequence-and-Snake-mode-for-1001-DNA-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-15-Change-layout-by-set--749d0-lider-in-Sequence-and-Snake-mode-for-1001-DNA-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-15-Change-layout-by-set--cff53-lider-in-Sequence-and-Snake-mode-for-1001-DNA-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-16-Change-layout-by-drag-21373--mode-when-opened-Calculate-properties-window-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-16-Change-layout-by-drag-34ca9--mode-when-opened-Calculate-properties-window-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-16-Change-layout-by-drag-70ce0--mode-when-opened-Calculate-properties-window-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-16-Change-layout-by-drag-7caab--mode-when-opened-Calculate-properties-window-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-2-Verify-that-a-rectangu-75599-rs-to-manually-enter-a-specific-numeric-value-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-3-Check-that-while-hover-c5263-ly-differentiated-from-the-rest-of-the-canvas-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-7-Change-layout-by-dragging-ruler-slider-in-Sequence-and-Snake-mode-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-7-Change-layout-by-dragging-ruler-slider-in-Sequence-and-Snake-mode-5-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-7-Change-layout-by-dragging-ruler-slider-in-Sequence-and-Snake-mode-6-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ruler/ruler.spec.ts-snapshots/Tests-for-Ruler-Case-8-When-the-zoom-level-is-987e0-must-display-markings-at-intervals-of-5-units-1-chromium-linux.png
Due: none

- updated screenshots
  ketcher-autotests/tests/specs/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-3-Able-to-connect-monomer-to-molecule-in-snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-3-Able-to-connect-monomer-to-molecule-in-snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-04859--during-the-subsequent-pass-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-0adb9--during-the-subsequent-pass-Sequence-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-12f64--it-during-the-subsequent-pass-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-1a709-asso-automatically-highlighted-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-282dd--clicking-empty-area-of-canvas-Snake-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-2cce5-ed-structure-by-lasso-and-Undo-Snake-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-2edb0-ed-structure-by-lasso-and-Undo-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-31f24-icking-empty-area-of-canvas-Sequence-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-36d78--clicking-empty-area-of-canvas-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-56732-so-through-right-click-menu-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-747d4-icking-empty-area-of-canvas-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-b6526-structure-by-lasso-and-Undo-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-bba8e--it-during-the-subsequent-pass-Snake-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-c3c47-lasso-through-right-click-menu-Snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-e6f93-o-automatically-highlighted-Sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Lasso-Selection-Fragment-Selection-tool-in-mac-fb878-lasso-through-right-click-menu-Snake-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Check-that-switching-bet-8a35b-A-with-modified-monomer-with-modyfied-monomer-2-chromium-linux.png
Due: none

- added handling of unconnected molecules
  packages/ketcher-core/src/domain/entities/snake-layout-model/SnakeLayoutModel.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SnakeLayoutModelChain.ts
Due: prettier --write

- updated screenshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-2-MO-2a596-t-using-Open-file-Sequence-mode-Flex-Snake-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-2-OM-c2ead-t-using-Open-file-Sequence-mode-Flex-Snake-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-52M-9a431-te-from-Clipboard-Sequence-mode-Flex-Snake-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-52M-a66d6-te-from-Clipboard-Sequence-mode-Flex-Snake-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-A-C--1d115-te-from-Clipboard-Sequence-mode-Flex-Snake-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-Affi-08394-t-using-Open-file-Sequence-mode-Flex-Snake-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-DNA--11637-t-using-Open-file-Sequence-mode-Flex-Snake-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-G--8083d-te-from-Clipboard-Sequence-mode-Flex-Snake-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-Gapm-32567-t-using-Open-file-Sequence-mode-Flex-Snake-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-mA-m-fb41e-te-from-Clipboard-Sequence-mode-Flex-Snake-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-Saving-idt-Files-Verify-import-of-unre-e0db6-ck-box-in-flex-snake-modes-and-in-sequence-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/side-chain-connections.spec.ts-snapshots/Side-chain-connections-1-1-Verify-correct-disp-45eca-ections-when-two-monomers-are-in-the-same-row-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/side-chain-connections.spec.ts-snapshots/Side-chain-connections-2-1-Verify-correct-disp-32da4-tions-when-two-monomers-are-in-different-rows-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/side-chain-connections.spec.ts-snapshots/Side-chain-connections-2-3-Verify-correct-disp-bd45d-tions-when-two-monomers-are-in-different-rows-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/side-chain-connections.spec.ts-snapshots/Side-chain-connections-2-4-Verify-correct-disp-76318-tions-when-two-monomers-are-in-different-rows-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/side-chain-connections.spec.ts-snapshots/Side-chain-connections-2-5-Verify-correct-disp-7e784-tions-when-two-monomers-are-in-different-rows-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/side-chain-connections.spec.ts-snapshots/Side-chain-connections-2-6-Verify-correct-disp-e6655-tions-when-two-monomers-are-in-different-rows-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/side-chain-connections.spec.ts-snapshots/Side-chain-connections-2-7-Verify-correct-disp-73a7e-tions-when-two-monomers-are-in-different-rows-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/side-chain-connections.spec.ts-snapshots/Side-chain-connections-6-1-Verify-side-chain-c-1d735-alignment-and-avoidance-of-overlap-vertical-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/side-chain-connections.spec.ts-snapshots/Side-chain-connections-6-2-Verify-side-chain-c-66313-alignment-and-avoidance-of-overlap-vertical-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/Side-Chain-Connections/20-expected.mol
Due: none

- changed snake bond behaviour
  packages/ketcher-core/src/application/render/renderers/PolymerBondRenderer/SnakeModePolymerBondRenderer.ts
Due: prettier --write

- updated screenshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Antisense-Chains/antisense-chain-layout.spec.ts-snapshots/6-Check-that-chains-should-be-placed-in-such--cb021--hydrogen-bond-from-the-other-chain-bellow-it-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Antisense-Chains/antisense-chain-layout.spec.ts-snapshots/7-Check-that-distance-between-all-monomers-should-be-minimum-one-bond-length-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Enumerations/enumerations.spec.ts-snapshots/Enumerations-Remove-a-monomer-from-middle-of-a-d88dd-correct-renumbering-of-the-remaining-monomers-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Enumerations/enumerations.spec.ts-snapshots/Enumerations-Remove-first-monomer-from-an-RNA--f5959--proper-renumbering-of-the-preceding-monomers-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Enumerations/enumerations.spec.ts-snapshots/Enumerations-Remove-the-last-monomer-from-an-R-43f92--proper-renumbering-of-the-preceding-monomers-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Short-RNA-structure-with-loop-and-complementary-strands-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Users-can-add-new-nucleotides-at-end-of-a-sequence-fragment-as-text-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit.spec.ts-snapshots/Sequence-edit-mode-Users-can-add-new-nucleotides-in-the-middle-of-a-sequence-fragment-as-text-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Check-that-when-RNA-and-DNA-is-s-b29aa-nd-button-opens-a-drop-down-menu-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-RNA-in-sequence-mode-switc-66f4b-onfirm-that-RNA-chain-layout-is-left-to-right-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-monomers-cyclic-chains-and-switch-to-sequence-mode-2-chromium-linux.png
Due: none

- updated screenshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Erase-Tool/erase-tool.spec.ts-snapshots/Erase-Tool-Check-if-you-delete-one-part-of-RNA-99759-button-elements-will-return-to-the-same-place-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-fasta.spec.ts-snapshots/Import-Saving-fasta-Files-Validate-correct-di-57433-ewed-RNA-chain-loaded-from-fasta-file-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-sequence.spec.ts-snapshots/Import-Saving-seq-Files-Validate-correct-disp-527b1-viewed-RNA-chain-loaded-from-seq-file-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Modifying-Amino-Acids/modifying-amino-acids.spec.ts-snapshots/9-Check-that-Right-clicking-on-a-selection-th-5472c-a-drop-down-menu-with-a-new-option-Modify-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Validate-that-chain-with-unsplit-n-dd49f-macro-flex-on-macro-snake-and-squence-canvas-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Maximum-call-stack-size-exceed-6fcdd-appears-during-snake-layout-for-4000-Peptides-2-chromium-linux.png
Due: none

#7560 - Improving snake layout logic to include small molecules
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SingleMonomerSnakeLayoutNode.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SnakeLayoutModel.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SnakeLayoutModelChain.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SugarWithBaseSnakeLayoutNode.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/types.ts
Due: prettier --write

- fixed atoms/bonds render
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/render/renderers/BondRenderer.ts
  packages/ketcher-core/src/application/render/renderers/RenderersManager.ts
  packages/ketcher-core/src/domain/entities/CoreBond.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
  packages/ketcher-core/src/domain/entities/snake-layout-model/SnakeLayoutModel.ts
Due: prettier --write

#7649 fix: correct Undo when snapping prevents actual movement
  packages/ketcher-core/src/application/editor/tools/select/SelectBase.ts
Due: prettier --write
