Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Hide update and append methods and actions. Rename highlight to highlights, refactor getAll
  packages/ketcher-core/src/application/editor/actions/highlight.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/highlighter.ts
Due: prettier --write

Fix code styling
  packages/ketcher-core/src/application/editor/actions/highlight.ts
  packages/ketcher-core/src/application/editor/operations/highlight.ts
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-core/src/application/render/restruct/rebond.ts
  packages/ketcher-core/src/application/render/restruct/refrag.js
  packages/ketcher-core/src/application/render/restruct/rergroup.js
  packages/ketcher-core/src/application/render/restruct/resgroup.js
  packages/ketcher-core/src/application/render/restruct/resimpleObject.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/highlighter.ts
Due: prettier --write

fix comments
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryList/MonomerList.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryList/index.ts
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/tabsContent.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/RnaMonomerSection/RnaMonomerSection.test.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/RnaMonomerSection/RnaMonomerSection.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/RnaMonomerSection/index.ts
Due: prettier --write

#1242 add highlighting (#1252)
  packages/ketcher-core/src/application/editor/actions/highlight.ts
  packages/ketcher-core/src/application/editor/actions/index.ts
  packages/ketcher-core/src/application/editor/operations/OperationType.ts
  packages/ketcher-core/src/application/editor/operations/highlight.ts
  packages/ketcher-core/src/application/render/options.js
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-core/src/application/render/restruct/rebond.ts
  packages/ketcher-core/src/application/render/restruct/redatasgroupdata.js
  packages/ketcher-core/src/application/render/restruct/reenhancedFlag.ts
  packages/ketcher-core/src/application/render/restruct/refrag.js
  packages/ketcher-core/src/application/render/restruct/reobject.ts
  packages/ketcher-core/src/application/render/restruct/rergroup.js
  packages/ketcher-core/src/application/render/restruct/rerxnarrow.ts
  packages/ketcher-core/src/application/render/restruct/rerxnplus.js
  packages/ketcher-core/src/application/render/restruct/resgroup.js
  packages/ketcher-core/src/application/render/restruct/resimpleObject.ts
  packages/ketcher-core/src/application/render/restruct/restruct.ts
  packages/ketcher-core/src/application/render/restruct/retext.ts
  packages/ketcher-core/src/domain/entities/highlight.ts
  packages/ketcher-core/src/domain/entities/index.ts
  packages/ketcher-core/src/domain/entities/sgroup.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/highlighter.ts
  packages/ketcher-react/src/script/ui/dialog/template/template-attach.jsx
Due: prettier --write

fix comments
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryList/MonomerList.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/tabsContent.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/RnaMonomerSection/RnaMonomerSection.tsx
Due: prettier --write

update test
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
Due: none

fix comments
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/components/menu/Menu.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/Open.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/TextEditor/TextEditor.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/TextEditor/TextEditor.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/TextEditor/index.ts
  packages/ketcher-polymer-editor-react/src/components/modal/Open/ViewSwitcher/ViewSwitcher.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/__snapshots__/Open.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/save/__snapshots__/Save.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/shared/textEditor/TextField.tsx
  yarn.lock
Due: prettier --write

#1223 Create RNAContructor component (#1230)
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryGroup/MonomerGroup.test.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryGroup/MonomerGroup.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryGroup/__snapshots__/MonomerGroup.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryGroup/index.ts
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.test.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryItem/index.ts
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryList/MonomerList.tsx
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/monomerLibraryList/index.ts
  packages/ketcher-polymer-editor-react/src/components/monomerLibrary/tabsContent.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/RnaMonomerSection/RnaMonomerSection.test.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/RnaMonomerSection/RnaMonomerSection.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/RnaMonomerSection/index.ts
  packages/ketcher-polymer-editor-react/src/components/rna/Switcher/Switcher.test.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/Switcher/Switcher.tsx
  packages/ketcher-polymer-editor-react/src/components/rna/Switcher/__snapshots__/Switcher.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/shared/Tabs/Tabs.tsx
  packages/ketcher-polymer-editor-react/src/theming/defaultTheme/defaultTheme.ts
  packages/ketcher-polymer-editor-react/src/theming/defaultTheme/theme.types.ts
Due: prettier --write

Remove normalize.css from ketcher-react, add to example app
  example/package.json
  example/src/index.css
  packages/ketcher-react/package.json
  packages/ketcher-react/src/index.less
  yarn.lock
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Mark fragments before rendering template
  packages/ketcher-react/src/script/ui/component/structrender.jsx
Due: prettier --write

Remove normalize.css from ketcher-react, add to example app (#1260)
  example/package.json
  example/src/index.css
  packages/ketcher-react/package.json
  packages/ketcher-react/src/index.less
  yarn.lock
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

correct bond and enhanced-stereo tools behaviour
  packages/ketcher-react/src/script/editor/tool/bond.ts
  packages/ketcher-react/src/script/editor/tool/enhanced-stereo.ts
Due: prettier --write

Return atom label rendering code
  packages/ketcher-core/src/application/render/restruct/reatom.ts
Due: prettier --write

Return atom label rendering code (#1266)
  packages/ketcher-core/src/application/render/restruct/reatom.ts
Due: prettier --write

Refactor StructRender to TypeScript
  packages/ketcher-react/src/script/ui/component/structrender.tsx
Due: prettier --write

update dependencies
  packages/ketcher-polymer-editor-react/package.json
Due: prettier --write

Extend Editor interface with new methods
  packages/ketcher-core/src/application/editor/editor.types.ts
Due: prettier --write

Extend Editor interface with new methods (#1262)
  packages/ketcher-core/src/application/editor/editor.types.ts
Due: prettier --write

Set focus to editor cliparea element after error modal is closed
  example/src/App.tsx
Due: prettier --write

fix comments
  packages/ketcher-react/src/script/editor/tool/enhanced-stereo.ts
Due: prettier --write

Set focus to editor cliparea element after error modal is closed (#1270)
  example/src/App.tsx
Due: prettier --write

#1257 An error in console when selecting the Bond Tool after closing the 'Enhanced Stereochemistry' window (#1264)
  packages/ketcher-react/src/script/editor/tool/bond.ts
  packages/ketcher-react/src/script/editor/tool/enhanced-stereo.ts
Due: prettier --write

#1258 display stereomarks on templates (#1265)
  packages/ketcher-react/src/script/ui/component/structrender.tsx
Due: prettier --write

#1240 Create Open file modal window (#1244)
  packages/ketcher-polymer-editor-react/package.json
  packages/ketcher-polymer-editor-react/src/Editor.tsx
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/assets/icons/files/arrow-upward.svg
  packages/ketcher-polymer-editor-react/src/assets/icons/files/capital-t.svg
  packages/ketcher-polymer-editor-react/src/assets/icons/files/file-thumbnail.svg
  packages/ketcher-polymer-editor-react/src/components/menu/Menu.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/AnalyzingFile/AnalyzingFile.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/AnalyzingFile/AnalyzingFile.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/AnalyzingFile/LoadingCircles/LoadingCircles.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/AnalyzingFile/LoadingCircles/LoadingCircles.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/AnalyzingFile/LoadingCircles/__snapshots__/LoadingCircles.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/Open/AnalyzingFile/LoadingCircles/index.ts
  packages/ketcher-polymer-editor-react/src/components/modal/Open/AnalyzingFile/__snapshots__/AnalyzingFile.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/Open/AnalyzingFile/index.ts
  packages/ketcher-polymer-editor-react/src/components/modal/Open/Open.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/Open.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/FileDrop/FileDrop.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/FileDrop/FileDrop.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/FileDrop/__snapshots__/FileDrop.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/FileDrop/index.ts
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/OpenOptions.test.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/OpenOptions.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/__snapshots__/OpenOptions.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/Open/OpenOptions/index.ts
  packages/ketcher-polymer-editor-react/src/components/modal/Open/ViewSwitcher/ViewSwitcher.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/Open/ViewSwitcher/index.ts
  packages/ketcher-polymer-editor-react/src/components/modal/Open/__snapshots__/Open.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/Open/fileOpener.ts
  packages/ketcher-polymer-editor-react/src/components/modal/Open/index.ts
  packages/ketcher-polymer-editor-react/src/components/modal/modalContainer/modalComponentList.ts
  packages/ketcher-polymer-editor-react/src/components/modal/save/__snapshots__/Save.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/shared/actionButton/ActionButton.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/icon/icon.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/textEditor/TextField.tsx
  packages/ketcher-polymer-editor-react/src/theming/defaultTheme/defaultTheme.ts
  packages/ketcher-polymer-editor-react/src/theming/defaultTheme/theme.types.ts
  yarn.lock
Due: prettier --write

Add custom scroll to Tabs and Modal
  packages/ketcher-polymer-editor-react/src/components/dummyDialog/DummyDialog.tsx
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/textareaAutoResize.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/Scrollable/Scrollable.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/Scrollable/index.ts
  packages/ketcher-polymer-editor-react/src/components/shared/Tabs/Tabs.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/modal/Modal.tsx
  packages/ketcher-polymer-editor-react/src/theming/defaultTheme/defaultTheme.ts
  packages/ketcher-polymer-editor-react/src/theming/globalStyles/getGlobalStyles.ts
Due: prettier --write

Cancel some changes
  packages/ketcher-polymer-editor-react/src/components/dummyDialog/DummyDialog.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/Tabs/Tabs.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/modal/Modal.tsx
  packages/ketcher-polymer-editor-react/src/theming/globalStyles/getGlobalStyles.ts
Due: prettier --write

More fixes
  packages/ketcher-polymer-editor-react/src/components/shared/Scrollable/Scrollable.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/Tabs/Tabs.tsx
  packages/ketcher-polymer-editor-react/src/components/shared/modal/Modal.tsx
  packages/ketcher-polymer-editor-react/src/theming/defaultTheme/defaultTheme.ts
Due: prettier --write

Add styles for firefox scrollbar
  packages/ketcher-polymer-editor-react/src/theming/mixins/mixins.ts
Due: prettier --write

Rewrite mixin with css function and teplate string since typescript doesn't know scrollbar width, update snapshots
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/Open/__snapshots__/Open.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/save/__snapshots__/Save.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/__tests__/__snapshots__/notationInput.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/shared/modal/__snapshots__/Modal.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/theming/mixins/mixins.ts
Due: prettier --write

Update snapshots
  packages/ketcher-polymer-editor-react/src/__snapshots__/Editor.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/Open/__snapshots__/Open.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/modal/save/__snapshots__/Save.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/notationInput/inputArea/__tests__/__snapshots__/notationInput.test.tsx.snap
  packages/ketcher-polymer-editor-react/src/components/shared/modal/__snapshots__/Modal.test.tsx.snap
Due: none

Replace jsonschema package with ajv in ketcher-core
  packages/ketcher-core/package.json
  packages/ketcher-core/src/domain/serializers/ket/validate.ts
  yarn.lock
Due: prettier --write

Replace jsonschema package with ajv in ketcher-react
  packages/ketcher-react/package.json
  packages/ketcher-react/src/script/ui/component/form/form/form.jsx
  packages/ketcher-react/src/script/ui/component/form/input.jsx
  packages/ketcher-react/src/script/ui/data/convert/structconv.js
  packages/ketcher-react/src/script/ui/data/schema/options-schema.ts
  packages/ketcher-react/src/script/ui/data/schema/struct-schema.js
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
Due: prettier --write

Rename variable
  packages/ketcher-react/src/script/ui/data/schema/options-schema.ts
Due: prettier --write

Add files via upload
  documentation/wiki/HELM_BOND_covalent.png
  documentation/wiki/HELM_BOND_disulfide.png
  documentation/wiki/HELM_MONOMER_CHEM.png
  documentation/wiki/HELM_MONOMER_nucleobase.png
  documentation/wiki/HELM_MONOMER_peptide.png
  documentation/wiki/HELM_MONOMER_phosphate.png
  documentation/wiki/HELM_MONOMER_ribose.png
  documentation/wiki/HELM_MONOMER_rna.png
Due: none

Add files via upload
  HELM_BOND_covalent.png
  HELM_BOND_disulfide.png
  HELM_MONOMER_CHEM.png
  HELM_MONOMER_nucleobase.png
  HELM_MONOMER_peptide.png
  HELM_MONOMER_phosphate.png
  HELM_MONOMER_ribose.png
  HELM_MONOMER_rna.png
Due: none

Add files via upload (#1279)
  HELM_BOND_covalent.png
  HELM_BOND_disulfide.png
  HELM_MONOMER_CHEM.png
  HELM_MONOMER_nucleobase.png
  HELM_MONOMER_peptide.png
  HELM_MONOMER_phosphate.png
  HELM_MONOMER_ribose.png
  HELM_MONOMER_rna.png
Due: none

Revert "Add files via upload (#1279)"
  HELM_BOND_covalent.png
  HELM_BOND_disulfide.png
  HELM_MONOMER_CHEM.png
  HELM_MONOMER_nucleobase.png
  HELM_MONOMER_peptide.png
  HELM_MONOMER_phosphate.png
  HELM_MONOMER_ribose.png
  HELM_MONOMER_rna.png
Due: none

Revert "Add files via upload (#1279)" (#1280)
  HELM_BOND_covalent.png
  HELM_BOND_disulfide.png
  HELM_MONOMER_CHEM.png
  HELM_MONOMER_nucleobase.png
  HELM_MONOMER_peptide.png
  HELM_MONOMER_phosphate.png
  HELM_MONOMER_ribose.png
  HELM_MONOMER_rna.png
Due: none

#1241 Ketcher react not working out of the box with create react app (#1278)
  packages/ketcher-core/package.json
  packages/ketcher-core/src/domain/serializers/ket/validate.ts
  packages/ketcher-react/package.json
  packages/ketcher-react/src/script/ui/component/form/form/form.jsx
  packages/ketcher-react/src/script/ui/component/form/input.jsx
  packages/ketcher-react/src/script/ui/data/convert/structconv.js
  packages/ketcher-react/src/script/ui/data/schema/options-schema.ts
  packages/ketcher-react/src/script/ui/data/schema/struct-schema.js
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/Save.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
