Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

#3041 update screenshot
  ketcher-autotests/tests/Macromolecule-editor/RNAEditor/add-default-presets.spec.ts-snapshots/Macromolecules-default-presets-Add-Guanine-to-canvas-1-chromium-linux.png
Due: none

#3443 - optional chaining for newPosition properties
  packages/ketcher-react/src/script/editor/HoverIcon.ts
Due: prettier --write

Backmerge: #3393 - Add new keyboard shortcut "ctrl+alt+V" for pasting as SMARTS (#3496)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Op-56a8a-of-two-or-more-reaction-arrows-and-structures-3-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Op-891c7-e-structure-from-the-saved-RXN-2000-3000-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Op-c6241-with-S-Group-Properties-Type-Multiple-group-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Op-e083c-of-two-or-more-reaction-arrows-and-structures-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Smile-Files/smile-files.spec.ts-snapshots/SMILES-files-Open-Daylight-SMILES-file-with-reagent-above-arrow-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Smile-Files/smile-files.spec.ts-snapshots/SMILES-files-SmileString-from-reaction-consists-of-two-or-more-reaction-arrows-and-structures-2-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Clean-Tools/clean-tools.spec.ts-snapshots/Indigo-Tools---Clean-Tools-Cleaned-structure-is-placed-horizontally-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Clean-Tools/clean-tools.spec.ts-snapshots/Indigo-Tools---Clean-Tools-Structure-with-Mapping-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Clean-reaction-with-Layout-tool-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Layout-action-on-part-of-structure-with-different-properties-1-chromium-linux.png
  ketcher-autotests/tests/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts-snapshots/Plus-and-Arrows-tools-Actions-on-the-reaction-with-non-default-reaction-arrows-2-chromium-linux.png
  ketcher-autotests/tests/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts-snapshots/Plus-and-Arrows-tools-Save-multiple-reaction-arrows---All-formats-open-cxsmi-file-1-chromium-linux.png
  ketcher-autotests/tests/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts-snapshots/Plus-and-Arrows-tools-Save-multiple-reaction-arrows---All-formats-open-smi-file-1-chromium-linux.png
  ketcher-autotests/tests/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts-snapshots/Plus-and-Arrows-tools-Save-non-default-reaction-arrows---All-formats-open-cxsmi-file-1-chromium-linux.png
  ketcher-autotests/tests/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts-snapshots/Plus-and-Arrows-tools-Save-non-default-reaction-arrows---All-formats-open-smi-file-1-chromium-linux.png
  ketcher-autotests/tests/Reagents/SMARTS-Format/reagents-smarts-format.spec.ts-snapshots/Reagents-SMARTS-format-Open-from-file-in-Daylight-SMARTS-format-1-chromium-linux.png
  ketcher-autotests/tests/Reagents/SMARTS-Format/reagents-smarts-format.spec.ts-snapshots/Reagents-SMARTS-format-Paste-from-clipboard-in-Daylight-SMARTS-format-1-chromium-linux.png
  ketcher-autotests/tests/Reagents/SMILES-Format/reagents-smiles-format.spec.ts-snapshots/Reagents-SMILES-format-Open-from-file-in-Daylight-SMILES-format-1-chromium-linux.png
  ketcher-autotests/tests/Reagents/SMILES-Format/reagents-smiles-format.spec.ts-snapshots/Reagents-SMILES-format-Open-from-file-in-Extended-SMILES-format-1-chromium-linux.png
  ketcher-autotests/tests/Reagents/SMILES-Format/reagents-smiles-format.spec.ts-snapshots/Reagents-SMILES-format-Paste-from-clipboard-in-Daylight-SMILES-format-1-chromium-linux.png
  ketcher-autotests/tests/Reagents/SMILES-Format/reagents-smiles-format.spec.ts-snapshots/Reagents-SMILES-format-Paste-from-clipboard-in-Extended-SMILES-format-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Layout/layout-tool.spec.ts-snapshots/Layout-The-reaction-is-displayed-in-the-middle-of-the-screen-after-clicks-Layout-button-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/bond-properties.spec.ts-snapshots/Bond-Properties-Different-combinations---3-3-open-the-saved-rxn-and-edit-it-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Copy-and-paste-reaction-with-multiple-arrows-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Cut-and-Paste-reaction-with-multiple-arrows-and-edit-1-chromium-linux.png
  package-lock.json
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.jsx
  packages/ketcher-react/src/script/ui/data/convert/keynorm.js
  packages/ketcher-react/src/script/ui/state/hotkeys.ts
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.container.ts
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.tsx
  packages/ketcher-standalone/package.json
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

* #3462 – Layout should not be called if there are coordinates in Extended SMILES
  package-lock.json
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-react/src/script/ui/App/App.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/SpecialSymbols/SpecialSymbolsButton.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/TextButton/TextButton.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/Miew.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Merge branch 'master' into 3459-all-atom-attributes-should-be-displayed-as-smarts-if-at-least-one-purely-smarts-attribute-exists-1
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Op-56a8a-of-two-or-more-reaction-arrows-and-structures-3-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Op-891c7-e-structure-from-the-saved-RXN-2000-3000-file-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Op-c6241-with-S-Group-Properties-Type-Multiple-group-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Rxn-Files/rxn-files.spec.ts-snapshots/Tests-for-Open-and-Save-RXN-file-operations-Op-e083c-of-two-or-more-reaction-arrows-and-structures-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Smile-Files/smile-files.spec.ts-snapshots/SMILES-files-Open-Daylight-SMILES-file-with-reagent-above-arrow-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Smile-Files/smile-files.spec.ts-snapshots/SMILES-files-SmileString-from-reaction-consists-of-two-or-more-reaction-arrows-and-structures-2-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Clean-Tools/clean-tools.spec.ts-snapshots/Indigo-Tools---Clean-Tools-Cleaned-structure-is-placed-horizontally-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Clean-Tools/clean-tools.spec.ts-snapshots/Indigo-Tools---Clean-Tools-Structure-with-Mapping-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Clean-reaction-with-Layout-tool-1-chromium-linux.png
  ketcher-autotests/tests/Indigo-Tools/Layout/layout.spec.ts-snapshots/Indigo-Tools---Layout-Layout-action-on-part-of-structure-with-different-properties-1-chromium-linux.png
  ketcher-autotests/tests/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts-snapshots/Plus-and-Arrows-tools-Actions-on-the-reaction-with-non-default-reaction-arrows-2-chromium-linux.png
  ketcher-autotests/tests/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts-snapshots/Plus-and-Arrows-tools-Save-multiple-reaction-arrows---All-formats-open-cxsmi-file-1-chromium-linux.png
  ketcher-autotests/tests/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts-snapshots/Plus-and-Arrows-tools-Save-multiple-reaction-arrows---All-formats-open-smi-file-1-chromium-linux.png
  ketcher-autotests/tests/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts-snapshots/Plus-and-Arrows-tools-Save-non-default-reaction-arrows---All-formats-open-cxsmi-file-1-chromium-linux.png
  ketcher-autotests/tests/Reactions/Reaction-tools/Plus-and-Arrow-tools/plus-and-arrows-tools.spec.ts-snapshots/Plus-and-Arrows-tools-Save-non-default-reaction-arrows---All-formats-open-smi-file-1-chromium-linux.png
  ketcher-autotests/tests/Reagents/SMARTS-Format/reagents-smarts-format.spec.ts-snapshots/Reagents-SMARTS-format-Open-from-file-in-Daylight-SMARTS-format-1-chromium-linux.png
  ketcher-autotests/tests/Reagents/SMARTS-Format/reagents-smarts-format.spec.ts-snapshots/Reagents-SMARTS-format-Paste-from-clipboard-in-Daylight-SMARTS-format-1-chromium-linux.png
  ketcher-autotests/tests/Reagents/SMILES-Format/reagents-smiles-format.spec.ts-snapshots/Reagents-SMILES-format-Open-from-file-in-Daylight-SMILES-format-1-chromium-linux.png
  ketcher-autotests/tests/Reagents/SMILES-Format/reagents-smiles-format.spec.ts-snapshots/Reagents-SMILES-format-Open-from-file-in-Extended-SMILES-format-1-chromium-linux.png
  ketcher-autotests/tests/Reagents/SMILES-Format/reagents-smiles-format.spec.ts-snapshots/Reagents-SMILES-format-Paste-from-clipboard-in-Daylight-SMILES-format-1-chromium-linux.png
  ketcher-autotests/tests/Reagents/SMILES-Format/reagents-smiles-format.spec.ts-snapshots/Reagents-SMILES-format-Paste-from-clipboard-in-Extended-SMILES-format-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Layout/layout-tool.spec.ts-snapshots/Layout-The-reaction-is-displayed-in-the-middle-of-the-screen-after-clicks-Layout-button-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/bond-properties.spec.ts-snapshots/Bond-Properties-Different-combinations---3-3-open-the-saved-rxn-and-edit-it-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Copy-and-paste-reaction-with-multiple-arrows-1-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Cut-and-Paste-reaction-with-multiple-arrows-and-edit-1-chromium-linux.png
  package-lock.json
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-react/src/script/ui/component/cliparea/cliparea.jsx
  packages/ketcher-react/src/script/ui/data/convert/keynorm.js
  packages/ketcher-react/src/script/ui/state/hotkeys.ts
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.container.ts
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.tsx
  packages/ketcher-standalone/package.json
  packages/ketcher-standalone/src/infrastructure/services/struct/indigoWorker.ts
  packages/ketcher-standalone/src/infrastructure/services/struct/standaloneStructService.ts
Due: prettier --write

Backmerge: #3462 – Layout should not be called if there are coordinates in Extended SMILES
  ketcher-autotests/tests/Reagents/SMARTS-Format/reagents-smarts-format.spec.ts-snapshots/Reagents-SMARTS-format-Paste-from-clipboard-in-Daylight-SMARTS-format-1-chromium-linux.png
  packages/ketcher-core/src/application/formatters/serverFormatter.ts
  packages/ketcher-core/src/application/formatters/smilesFormatter.ts
Due: prettier --write

fix build
  packages/ketcher-polymer-editor-react/src/Editor.tsx
Due: prettier --write

fixed types
  packages/ketcher-polymer-editor-react/src/components/modal/modalContainer/index.ts
Due: prettier --write

Backmerge: #3462 – layout should not be called if there are coordinates in extended smiles (#3500)
  ketcher-autotests/tests/Reagents/SMARTS-Format/reagents-smarts-format.spec.ts-snapshots/Reagents-SMARTS-format-Paste-from-clipboard-in-Daylight-SMARTS-format-1-chromium-linux.png
  package-lock.json
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-core/src/application/formatters/serverFormatter.ts
  packages/ketcher-core/src/application/formatters/smilesFormatter.ts
  packages/ketcher-react/src/script/ui/App/App.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/SpecialSymbols/SpecialSymbolsButton.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/TextButton/TextButton.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/Miew.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#3502 - Custom query is not correctly represented on canvas - only atom number is displayed
  packages/ketcher-core/src/application/render/restruct/reatom.ts
Due: prettier --write

Backmerge: #3462 – layout should not be called if there are coordinates in extended smiles (#3500)
  package-lock.json
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-core/src/application/formatters/serverFormatter.ts
  packages/ketcher-core/src/application/formatters/smilesFormatter.ts
  packages/ketcher-react/src/script/ui/App/App.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/SpecialSymbols/SpecialSymbolsButton.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/TextButton/TextButton.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/Miew.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Backmerge: #3462 – layout should not be called if there are coordinates in extended smiles (#3500) (#3504)
  package-lock.json
  packages/ketcher-core/src/application/formatters/formatProperties.ts
  packages/ketcher-core/src/application/formatters/serverFormatter.ts
  packages/ketcher-core/src/application/formatters/smilesFormatter.ts
  packages/ketcher-react/src/script/ui/App/App.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/SpecialSymbols/SpecialSymbolsButton.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/Text/TextButton/TextButton.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Miew/Miew.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

small style fixes
  packages/ketcher-polymer-editor-react/src/components/modal/monomerConnection/MonomerConnections.tsx
  packages/ketcher-polymer-editor-react/src/components/modal/monomerConnection/styledComponents.ts
Due: prettier --write

examples for testing query features
  ketcher-autotests/tests/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-Features/query-features.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-Features/utils.ts
  ketcher-autotests/tests/utils/common/loaders/index.ts
  ketcher-autotests/tests/utils/common/loaders/waitForAtomPropertiesModal.ts
  packages/ketcher-react/src/script/ui/component/form/form/form.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/__snapshots__/Save.test.tsx.snap
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
Due: prettier --write

adding tests and utils at new folder
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-attributes-SMARTS/query-attributes-smarts.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-attributes-SMARTS/query-attributes-smarts.spec.ts-snapshots/Query-features-Setting-ring-bond-count-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-attributes-SMARTS/utils.ts
Due: prettier --write

adding tests for more atom query specific attributes
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-attributes-SMARTS/query-attributes-smarts.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-attributes-SMARTS/query-attributes-smarts.spec.ts-snapshots/Query-features-Setting-H-count-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-attributes-SMARTS/query-attributes-smarts.spec.ts-snapshots/Query-features-Setting-aromacity---aliphatic-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-attributes-SMARTS/query-attributes-smarts.spec.ts-snapshots/Query-features-Setting-aromacity---aromatic-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-attributes-SMARTS/query-attributes-smarts.spec.ts-snapshots/Query-features-Setting-chirality-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-attributes-SMARTS/query-attributes-smarts.spec.ts-snapshots/Query-features-Setting-connectivity-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-attributes-SMARTS/query-attributes-smarts.spec.ts-snapshots/Query-features-Setting-implicit-H-count-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-attributes-SMARTS/query-attributes-smarts.spec.ts-snapshots/Query-features-Setting-ring-bond-count-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-attributes-SMARTS/query-attributes-smarts.spec.ts-snapshots/Query-features-Setting-ring-membership-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-attributes-SMARTS/query-attributes-smarts.spec.ts-snapshots/Query-features-Setting-ring-size-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-attributes-SMARTS/query-attributes-smarts.spec.ts-snapshots/Query-features-Setting-substitution-count-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-attributes-SMARTS/utils.ts
Due: prettier --write

creating test suite for bond attributes, changign structure of tests files
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Custom-query-attributes/custom-query.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Custom-query-attributes/custom-query.spec.ts-snapshots/Checking-custom-query-in-SMARTS-format-Setting-custom-query---one-attribute-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-H-count-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-aromacity---aliphatic-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-aromacity---aromatic-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-chirality---anticlockwise-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-chirality---clockwise-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-connectivity-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-implicit-H-count-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-ring-bond-count---As-drawn-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-ring-bond-count-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-ring-membership-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-ring-size-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-substitution-count-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/utils.ts
Due: prettier --write

chaning data-testId to data-testid
  packages/ketcher-react/src/script/ui/component/form/form/form.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
Due: prettier --write

duplicated data-testid removed
  packages/ketcher-react/src/script/ui/component/form/form/form.jsx
Due: prettier --write

adding 4 tests for custom query and logical operators, removing unnecessary files, updating data-testid for bonds properties
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-Features/query-features.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Query-Features/utils.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Custom-query-attributes/custom-query.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Custom-query-attributes/custom-query.spec.ts-snapshots/Checking-custom-query-in-SMARTS-format-Setting-1f494-few-attributes-and-logical-AND-low-precedence-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Custom-query-attributes/custom-query.spec.ts-snapshots/Checking-custom-query-in-SMARTS-format-Setting-custom-query---logical-AND-and-OR-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Custom-query-attributes/custom-query.spec.ts-snapshots/Checking-custom-query-in-SMARTS-format-Setting-custom-query---logical-NOT-and-AND-low-precedence-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Custom-query-attributes/custom-query.spec.ts-snapshots/Checking-custom-query-in-SMARTS-format-Setting-custom-query---logical-OR-for-aliphatic-atoms-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/utils.ts
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Bond/Bond.tsx
Due: prettier --write

refactor, added tests for bond attributes
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-topology---chain-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-topology---ring-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-type---any-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-type---aromatic-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-type---dative-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-type---double-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-type---double-aromatic-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-type---double-cis-trans-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-type---hydrogen-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-type---single-aliphatic-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-type---single-aromatic-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-type---single-double-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-type---single-down-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-type---single-up-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-type---single-up-down-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-bond-type---triple-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts-snapshots/Checking-bond-attributes-in-SMARTS-format-Setting-custom-query---any-OR-double-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Custom-query-attributes/custom-query.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/utils.ts
Due: prettier --write

fixing data-testid for some elements at atom properties
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/InChi/InChi.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Multiple-S-Group-Tool/multiple-s-group-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/utils.ts
  packages/ketcher-react/src/script/ui/component/form/form/form.jsx
Due: prettier --write

updating snapshot
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/__snapshots__/Save.test.tsx.snap
Due: none

adding tests for general atom properties, adding and changing data-testid identifiers for some properties
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Atom-properties-attributes/atom-properties-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Atom-properties-attributes/atom-properties-attributes.spec.ts-snapshots/Checking-atom-properties-attributes-in-SMARTS--7bfb9-ting-atom-label-and-checkinng-the-atom-number-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Atom-properties-attributes/atom-properties-attributes.spec.ts-snapshots/Checking-atom-properties-attributes-in-SMARTS-format-Setting-atomic-mass-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Atom-properties-attributes/atom-properties-attributes.spec.ts-snapshots/Checking-atom-properties-attributes-in-SMARTS-format-Setting-negative-charge-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Atom-properties-attributes/atom-properties-attributes.spec.ts-snapshots/Checking-atom-properties-attributes-in-SMARTS-format-Setting-positive-charge-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Atom-properties-attributes/atom-properties-attributes.spec.ts-snapshots/Checking-atom-properties-attributes-in-SMARTS-format-Setting-valence-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-unsaturated-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/utils.ts
  packages/ketcher-react/src/script/ui/component/form/form/form.jsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/AtomElement/AtomElement.tsx
Due: prettier --write

adding tests for reaction mapping tool, passing default file name to the function for checking smarts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Atom-properties-attributes/atom-properties-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Atom-properties-attributes/atom-properties-attributes.spec.ts-snapshots/Checking-atom-properties-attributes-in-SMARTS--b4da0-tting-atom-label-and-checking-the-atom-number-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Custom-query-attributes/custom-query.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-reaction-queries-attributes-in-SMARTS-format-Checking-SMARTS-with-Arrow-Open-Angle-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-reaction-queries-attributes-in-SMARTS-format-Checking-SMARTS-with-reaction-mapping-tool-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/utils.ts
Due: prettier --write

updating snapshot for new identifier
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/__snapshots__/Save.test.tsx.snap
Due: none

updating informations about existing bugs, marking failing tests
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Atom-properties-attributes/atom-properties-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Bond-attributes/bond-attributes.spec.ts
Due: prettier --write

#3502 - Custom query is not correctly represented on canvas - only atom number is displayed - Update e2e snapshot
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-property-change-for-atoms-3-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-property-change-for-atoms-4-chromium-linux.png
Due: none

add white labels
  packages/ketcher-core/src/application/render/restruct/reatom.ts
Due: prettier --write

removing comments about bugs which are fixed, marking test as failing
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Custom-query-attributes/custom-query.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts
Due: prettier --write

#3502 – added waitForPageInit
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Save-File/save-file.spec.ts
Due: prettier --write

#3502 - Custom query is not correctly represented on canvas - only atom number is displayed (#3503)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Save-File/save-file.spec.ts
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-property-change-for-atoms-3-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-property-change-for-atoms-4-chromium-linux.png
  packages/ketcher-core/src/application/render/restruct/reatom.ts
Due: prettier --write

Updated Ketcher version to v2.16.0-rc.3
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

Updated Ketcher version to v2.16.0-rc.3 (#3507)
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

Backmerge: #3502 - Custom query is not correctly represented on canvas - only atom number is displayed
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Save-File/save-file.spec.ts
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-property-change-for-atoms-3-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-property-change-for-atoms-4-chromium-linux.png
  packages/ketcher-core/src/application/render/restruct/reatom.ts
Due: prettier --write

Backmerge: #3502 - Custom query is not correctly represented on canvas - only atom number is displayed (#3510)
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/Save-File/save-file.spec.ts
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-property-change-for-atoms-3-chromium-linux.png
  ketcher-autotests/tests/User-Interface/Right-Click-Menu/right-click.spec.ts-snapshots/Right-click-menu-Check-right-click-property-change-for-atoms-4-chromium-linux.png
  packages/ketcher-core/src/application/render/restruct/reatom.ts
Due: prettier --write

#2453 - Fix push error
  ketcher-autotests/tests/Macromolecule-editor/Rectangle-Selection-Tool/rectangle-selection-tool.spec.ts
Due: prettier --write

fixing few tests, updating screenshots
  ketcher-autotests/tests/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Multiple-S-Group-Tool/multiple-s-group-tool.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Custom-query-attributes/custom-query.spec.ts-snapshots/Checking-custom-query-in-SMARTS-format-Setting-1f494-few-attributes-and-logical-AND-low-precedence-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Custom-query-attributes/custom-query.spec.ts-snapshots/Checking-custom-query-in-SMARTS-format-Setting-custom-query---logical-AND-and-OR-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Custom-query-attributes/custom-query.spec.ts-snapshots/Checking-custom-query-in-SMARTS-format-Setting-custom-query---logical-NOT-and-AND-low-precedence-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Custom-query-attributes/custom-query.spec.ts-snapshots/Checking-custom-query-in-SMARTS-format-Setting-custom-query---logical-OR-for-aliphatic-atoms-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Custom-query-attributes/custom-query.spec.ts-snapshots/Checking-custom-query-in-SMARTS-format-Setting-custom-query---one-attribute-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-aromacity---aliphatic-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-aromacity---aromatic-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-chirality---anticlockwise-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-chirality---clockwise-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-connectivity-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-implicit-H-count-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-ring-membership-1-chromium-linux.png
  ketcher-autotests/tests/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-format-Setting-ring-size-1-chromium-linux.png
Due: prettier --write
