Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

feat: refactor button configuration and editor settings in main apps
  example/src/App.tsx
  example/src/ClosableApp.tsx
  example/src/DuoApp.tsx
  example/src/PopupApp.tsx
  example/src/utils/editorUrlConfig.ts
Due: prettier --write

#9422 - Refactor: Explicit Any type clean up (part 5)
  packages/ketcher-core/src/utilities/SettingsManager.ts
  packages/ketcher-react/src/script/editor/tool/Tool.ts
  packages/ketcher-react/src/script/ui/state/action/index.ts
Due: prettier --write

#10021 - Hover structure using Structure selection tool shows outline for each atom/bond separately (#10082)
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Fragment selection/fragment-selection-tool.spec.ts-snapshots/Fragment-selection-tool-Drawing-selection-contours-correctly-for-hovered-structures-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Functional-Groups/functional-groups.spec.ts-snapshots/Functional-Groups-Highlight-Functional-Group-with-Selection-tool-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Outline-For-Hovered-Structures/outline-for-hovered-structures.spec.ts-snapshots/Outline-for-hovered-structures-Should-draw-selection-outline-correctly-for-hovered-structures-1-chromium-linux.png
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/Tool.ts
  packages/ketcher-react/src/script/editor/tool/fragmentSelection.ts
  packages/ketcher-react/src/script/editor/tool/select/select.helpers.ts
  packages/ketcher-react/src/script/editor/tool/select/select.ts
Due: prettier --write

6177 fixed system losts hydrogen bond connections between monomers and micro molecule with attachment points (#10227)
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
Due: prettier --write

#3437 fix preview and displaying of Cycloheptane on the canvas doesn't match (#10252)
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Manipulations-rings.spec.ts-snapshots/Templates-–-Rings-manipulations-Ring-Cycloheptane-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Manipulations-rings.spec.ts-snapshots/Templates-–-Rings-manipulations-Ring-Cycloheptane-2-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Manipulations-rings.spec.ts-snapshots/Templates-–-Rings-manipulations-Ring-Cycloheptane-3-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Manipulations-rings.spec.ts-snapshots/Templates-–-Rings-manipulations-Ring-Cycloheptane-4-chromium-linux.png
  packages/ketcher-react/src/script/ui/data/templates.js
Due: prettier --write

5661: update screenshots to pass the failing autotests
  ketcher-autotests/tests/specs/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-9-Movement-of-microstructures-on-Sequence-mode-doesn-t-work-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-9-Movement-of-microstructures-on-Sequence-mode-doesn-t-work-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher4.spec.ts-snapshots/Verify-that-bond-lines-between-atoms-do-not-overlap-in-any-angle-in-macro-mode-1-chromium-linux.png
Due: none

#7980 Update screenshots
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Case-38-Check-deletion-of-selected-structure--81af2-nt-through-right-click-menu-Sequence-mode-3-chromium-popup-linux.png
Due: none

#7980 Render MonomerToAtomBond in sequence mode
  packages/ketcher-core/src/application/render/renderers/RenderersManager.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
Due: prettier --write

#7980 Update screenshot.
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Case-35-Check-deletion-of-selected-structure-by-Fragment-and-Undo-Sequence-mode-3-chromium-popup-linux.png
Due: none

#7980 Refactor MonomerToAtomBond rendering logic
  packages/ketcher-core/src/application/render/renderers/RenderersManager.ts
  packages/ketcher-core/src/application/render/renderers/sequence/MonomerToAtomBondSequenceRenderer.ts
Due: prettier --write

#10095: fix indicator number on an antisense chain (#10275)
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-5-0-Case-11-System-calculat-71fb2-mix-of-nucleotides-nucleosides-and-phosphates-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-5-0-Case-15-Melting-tempera-c7190-lation-works-correct-for-three-antistrand-DNA-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.5.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-5-0-Case-2-Monomers-positio-11f5d-rved-when-pasting-macromolecule-in-MOL-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Flex-Mode/create-cyclic-structures.spec.ts-snapshots/Cyclic-structures-Case-4-Verify-that-closed-s-87be2-with-small-molecules-cant-be-arranged-as-ring-1-chromium-popup-linux.png
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-macromolecules/src/components/modal/Open/Open.tsx
Due: prettier --write

#9333 - Support missing AxoLabs format codes
  ketcher-autotests/tests/pages/constants/monomers/Presets.ts
  ketcher-autotests/tests/pages/constants/monomers/Sugars.ts
  ketcher-autotests/tests/specs/Chromium-popup/Import-Saving-Files/import-saving-axolabs.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  packages/ketcher-core/src/application/editor/data/monomers.ket
Due: prettier --write

update popup screenshoots to fix autotest issues
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-9-Movement-of-microstructures-on-Sequence-mode-doesn-t-work-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-9-Movement-of-microstructures-on-Sequence-mode-doesn-t-work-2-chromium-popup-linux.png
Due: none

#7980 Undo in Sequence mode restores bond detached from monomer abbreviation (#10266)
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Case-35-Check-deletion-of-selected-structure-by-Fragment-and-Undo-Sequence-mode-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Left-Toolbar/selection-tools.spec.ts-snapshots/Case-38-Check-deletion-of-selected-structure--81af2-nt-through-right-click-menu-Sequence-mode-3-chromium-popup-linux.png
  packages/ketcher-core/src/application/render/renderers/RenderersManager.ts
  packages/ketcher-core/src/application/render/renderers/sequence/MonomerToAtomBondSequenceRenderer.ts
  packages/ketcher-core/src/application/render/renderers/sequence/SequenceRenderer.ts
Due: prettier --write

#9743 Fix Action.isDummy() returning false for most operation types (#10253)
  packages/ketcher-core/__tests__/application/editor/actions/isDummy.test.ts
  packages/ketcher-core/src/application/editor/actions/action.ts
  packages/ketcher-core/src/application/editor/operations/EnhancedFlagMove.ts
  packages/ketcher-core/src/application/editor/operations/LoopMove.ts
  packages/ketcher-core/src/application/editor/operations/Text/TextMove.ts
  packages/ketcher-core/src/application/editor/operations/atom/AtomAttr.ts
  packages/ketcher-core/src/application/editor/operations/bond/BondAttr.ts
  packages/ketcher-core/src/application/editor/operations/bond/BondMove.ts
  packages/ketcher-core/src/application/editor/operations/image/imageMove.ts
  packages/ketcher-core/src/application/editor/operations/rgroup/RGroupAttr.ts
  packages/ketcher-core/src/application/editor/operations/rxn/RxnArrowMove.ts
  packages/ketcher-core/src/application/editor/operations/rxn/plus/RxnPlusMove.ts
  packages/ketcher-core/src/application/editor/operations/sgroup/SGroupDataMove.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/editor/tool/template.ts
Due: prettier --write

fix ketcher-core ts build, update ketcher-marcomol types
  package-lock.json
  packages/ketcher-core/__tests__/application/editor/tools/select/SelectBase.test.ts
  packages/ketcher-core/package.json
  packages/ketcher-core/rollup.config.mjs
  packages/ketcher-core/src/application/editor/tools/rnaPresetConnections.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaElementsView/RnaElements.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaPresetGroup/RnaPresetGroup.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/MonomerGroup.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/MonomerItem.tsx
  packages/ketcher-macromolecules/src/helpers/getPreset.ts
  packages/ketcher-macromolecules/src/state/rna-builder/rnaBuilderSlice.helper.ts
  packages/ketcher-macromolecules/src/state/rna-builder/rnaBuilderSlice.ts
Due: prettier --write

#2198 Fix Save button enabled when Molecule name contains only spaces
  packages/ketcher-react/src/script/ui/data/schema/struct-schema.ts
  packages/ketcher-react/src/script/ui/dialog/template/template-attach.tsx
Due: prettier --write

#9299 Make active text format button icons white
  packages/ketcher-react/src/script/ui/views/modal/components/Text/TextButton/TextButton.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#2198 Update snapshot for custom templates test
  ketcher-autotests/tests/specs/Templates/Custom-Templates/custom-templates.spec.ts-snapshots/Open-Ketcher-Edit-templates---Template-Name-1-chromium-linux.png
Due: none

#2198 - Remove 'Edit templates - name with just spaces' test
  ketcher-autotests/tests/specs/Templates/Template-Library/template-library.spec.ts
Due: prettier --write

#5681: fix bond stickness
  packages/ketcher-core/src/application/render/renderers/MonomerToAtomBondRenderer.ts
Due: prettier --write

Fix
  packages/ketcher-core/src/application/settings/schema.ts
Due: prettier --write

#9056 - Refactored test 19 in ketcher-3.12.0-bugs.spec.ts file and added missing screenshots to tests 19-25 where applicable
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.12.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.12.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-12-0-Case-19-—-Undo-redo-opera-1d24e--after-changing-their-positions-in-Macro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.12.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-12-0-Case-19-—-Undo-redo-opera-1e060--after-changing-their-positions-in-Macro-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.12.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-12-0-Case-20-—-Selection-ignored-in-Ketcher-API-calls-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.12.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-12-0-Case-21-—-No-bad-valence-indication-on-Macromolecules-canvas-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.12.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-12-0-Case-21-—-No-bad-valence-indication-on-Macromolecules-canvas-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.12.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-12-0-Case-23-—-If-no-selection-2c106--doesn-t-define-attachment-points-for-monomer-1-chromium-popup-linux.png
Due: prettier --write

mark already taken connection points in dropdown (#10190)
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/hooks/useAttachmentPointSelectsData.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Search by IDT alias with position indicator (#10238)
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-10-Verify-s-68b79-onomers-that-have-internal-modification-i-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-11-Verify-s-ccfc7-T-alias-with-position-indicator-i5HydMe-dC-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-12-Verify-n-4d02f-en-position-indicator-is-missing-5HydMe-dC-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-6-Verify-case-insensitivity-of-the-search-5SUPER-DT-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-8-Verify-se-424ae-nomers-that-have-endpoint3-modification-3-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Search-by-IDT-alias-9-Verify-se-93509-nomers-that-have-endpoint5-modification-5-1-chromium-linux.png
  packages/ketcher-macromolecules/src/state/library/librarySlice.ts
Due: prettier --write

#4452 - Macro: System doesn't allow to unselect already selected nucleotides (#10264)
  ketcher-autotests/tests/specs/Bugs/ketcher-3.0.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode-edit-in-rna-builder.spec.ts
  packages/ketcher-core/src/application/editor/tools/select/SelectBase.ts
Due: prettier --write

#9299 Make active text format button icons white (#10285)
  packages/ketcher-react/src/script/ui/views/modal/components/Text/TextButton/TextButton.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#5681: fix autotests
  ketcher-autotests/tests/specs/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-20-Delete-of-micromolecules-bonds-in-macro-mode-works-correct-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-20-Delete-of-micromolecules-bonds-in-macro-mode-works-correct-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-20-Delete-of-micromolecules-bonds-in-macro-mode-works-correct-4-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-3-Able-to-connect-monomer-to-molecule-in-snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-5-System-not-chan-c2cd2-g-from-Molecules-to-Macromolecules---Sequence-1-chromium-linux.png
Due: none

#5681: bond thickness between micro and macro structures
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-29-Bonds-between--78628-res-can-be-selected-and-deleted-in-Macro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-29-Bonds-between--e3ec3-res-can-be-selected-and-deleted-in-Macro-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-36-After-save-and-dd85c-nged-and-the-microstructures-are-not-shifted-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-37-Loading-a-KET--c61d1-preserved-and-microstructures-are-not-shifted-1-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/Chromium-popup/monomers-connected-to-microstructures-expected.mol
Due: none

#10062 update unit test configs
  packages/ketcher-core/jest.config.js
  packages/ketcher-core/src/application/editor/tools/index.ts
  packages/ketcher-core/tsconfig.json
Due: prettier --write

First draft
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.8.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/SRU-Polymer/copolymer-S-Group-type.spec.ts
  package-lock.json
  packages/ketcher-react/src/script/ui/data/schema/options-schema.ts
Due: prettier --write

#5681: bond thickness between micro and macro structures
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-6-Correct-highligh-36fee-ostructures-when-opening-a-file-in-Macro-Mode-1-chromium-linux.png
Due: none

#5681: bond thickness between micro and macro structures
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-20-Delete-of-micromolecules-bonds-in-macro-mode-works-correct-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-20-Delete-of-micromolecules-bonds-in-macro-mode-works-correct-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-20-Delete-of-micromolecules-bonds-in-macro-mode-works-correct-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-3-Able-to-connect-monomer-to-molecule-in-snake-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.27.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-27-0-Case-5-System-not-chan-c2cd2-g-from-Molecules-to-Macromolecules---Sequence-1-chromium-popup-linux.png
Due: none

#10040 - Provide a support for one or several different BIOVIA Specifications (#10246)
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.8.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/SRU-Polymer/copolymer-S-Group-type.spec.ts
  packages/ketcher-core/src/application/settings/schema.ts
  packages/ketcher-core/src/application/settings/types.ts
  packages/ketcher-core/src/infrastructure/services/struct/remoteStructService.ts
  packages/ketcher-react/src/script/ui/data/schema/options-schema.ts
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Settings.tsx
Due: prettier --write

#10196 Disable Open and Save buttons in the monomer creation wizard
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation.spec.ts
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/FileControls.test.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/FileControls.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write

#4663 - Guard onCopy against writing empty KET when no monomers are selected
  packages/ketcher-core/src/application/editor/modes/BaseMode.ts
Due: prettier --write

Refactor autochain position calculation on undo/redo
  packages/ketcher-core/src/application/editor/Editor.ts
Due: prettier --write

Fix formatting in Editor.ts
  packages/ketcher-core/src/application/editor/Editor.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
