Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

- reverted .env
  example/.env
Due: none

test: update ui test
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-incorrect-IDT-sequence-11-Semicolumns-replaced-with-comma-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-idt.spec.ts-snapshots/Import-incorrect-IDT-sequence-7-Doubled-IUBcode-1-chromium-linux.png
Due: none

Increase spinner finished work timeout to eliminate flaky test behavior
  ketcher-autotests/tests/Indigo-Tools/Reaction Auto-mapping tool/reaction-am-tool-veryfing-button.spec.ts
  ketcher-autotests/tests/utils/common/loaders/waitForSpinnerFinishedWork/waitForSpinnerFinishedWork.ts
Due: prettier --write

Add ketcher-calculate-api
  packages/ketcher-core/src/application/ketcher.ts
Due: prettier --write

- increased waitForSpinnerFinishedWork timeout
  ketcher-autotests/tests/Indigo-Tools/Reaction Auto-mapping tool/reaction-am-tool-veryfing-button.spec.ts
  ketcher-autotests/tests/utils/common/loaders/waitForSpinnerFinishedWork/waitForSpinnerFinishedWork.ts
Due: prettier --write

5900 - Increase Ketcher version
  example/package.json
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

Backmerge: #5809 – Open correct context menu for expanded monomer while clicking on bond or atom (#5901)
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.utils.ts
Due: prettier --write

5900 - Increase Ketcher version (#5902)
  example/package.json
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

#5887 - After save and load a MOL V3000 file in macro and micro mode, bond connections are changed, and the microstructures are shifted
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
Due: prettier --write

#5898 – Update indigo to 1.26.0-rc.1 in browser module
  package-lock.json
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

#5270 - Warning should not displayed for importing CDXML, base64 CDX, CDX formats
  packages/ketcher-react/src/script/ui/data/convert/structConverter.ts
Due: prettier --write

Verify saving collapsed monomers in Daylight SMARTS
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-collapsed-monomer-to-SMARTS-1-Petide-D-from-library-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-collapsed-monomer-to-SMARTS-1-Petide-D-from-library-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-collapsed-monomer-to-SMARTS-2-Sugar-UNA-from-library-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-collapsed-monomer-to-SMARTS-2-Sugar-UNA-from-library-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-collapsed-monomer-to-SMARTS-3-Base-hU-from-library-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-collapsed-monomer-to-SMARTS-3-Base-hU-from-library-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-collapsed-monomer-to-SMARTS-4-Phosphate-bnn-from-library-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-collapsed-monomer-to-SMARTS-4-Phosphate-bnn-from-library-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-collapsed-monomer-to-SMARTS-5-Unsplit-nucleotide-5hMedC-from-library-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-collapsed-monomer-to-SMARTS-5-Unsplit-nucleotide-5hMedC-from-library-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-collapsed-monomer-to-SMARTS-6-CHEM-4aPEGMal-from-library-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-collapsed-monomer-to-SMARTS-6-CHEM-4aPEGMal-from-library-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Import-Saving-Files/import-saving-ket.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/test-data/SMARTS/Micro-Macro-Switcher/Basic-Monomers/Positive/1. Petide D (from library)-expected.smarts
  ketcher-autotests/tests/test-data/SMARTS/Micro-Macro-Switcher/Basic-Monomers/Positive/2. Sugar UNA (from library)-expected.smarts
  ketcher-autotests/tests/test-data/SMARTS/Micro-Macro-Switcher/Basic-Monomers/Positive/3. Base hU (from library)-expected.smarts
  ketcher-autotests/tests/test-data/SMARTS/Micro-Macro-Switcher/Basic-Monomers/Positive/4. Phosphate bnn (from library)-expected.smarts
  ketcher-autotests/tests/test-data/SMARTS/Micro-Macro-Switcher/Basic-Monomers/Positive/5. Unsplit nucleotide 5hMedC (from library)-expected.smarts
  ketcher-autotests/tests/test-data/SMARTS/Micro-Macro-Switcher/Basic-Monomers/Positive/6. CHEM 4aPEGMal (from library)-expected.smarts
  ketcher-autotests/tests/utils/files/receiveFileComparisonData.ts
Due: prettier --write

Saving collapsed monomer to SMARTS
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-1-Petide-D-from-library-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-1-Petide-D-from-library-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-2-Sugar-UNA-from-library-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-2-Sugar-UNA-from-library-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-3-Base-hU-from-library-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-3-Base-hU-from-library-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-4-Phosphate-bnn-from-library-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-4-Phosphate-bnn-from-library-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-5-Unsplit-nucleotide-5hMedC-from-library-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-5-Unsplit-nucleotide-5hMedC-from-library-2-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-6-CHEM-4aPEGMal-from-library-1-chromium-linux.png
  ketcher-autotests/tests/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-6-CHEM-4aPEGMal-from-library-2-chromium-linux.png
Due: prettier --write

#5886 - Loading a KET file in macro mode, bond connections are preserved but microstructures are shifted
  packages/ketcher-core/src/application/editor/modes/BaseMode.ts
  packages/ketcher-core/src/application/editor/modes/FlexMode.ts
  packages/ketcher-core/src/domain/entities/DrawingEntitiesManager.ts
Due: prettier --write

#5887 - After save and load a MOL V3000 file in macro and micro mode, bond connections are changed, and the microstructures are shifted (#5904)
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
Due: prettier --write

- added tests; - added expected snapshots;
  ketcher-autotests/tests/Reactions/Cascade-Reactions/cascade-reactions.spec.ts
  ketcher-autotests/tests/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-RDF-RXN-V2000-fi-0a0b4-that-they-can-be-selected-moved-and-Undo-Redo-4-chromium-linux.png
  ketcher-autotests/tests/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-RDF-RXN-V2000-fi-1a880-that-they-can-be-selected-moved-and-Undo-Redo-1-chromium-linux.png
  ketcher-autotests/tests/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-RDF-RXN-V2000-fi-be426-that-they-can-be-selected-moved-and-Undo-Redo-3-chromium-linux.png
  ketcher-autotests/tests/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-RDF-RXN-V2000-fi-e9b55-that-they-can-be-selected-moved-and-Undo-Redo-2-chromium-linux.png
  ketcher-autotests/tests/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-RDF-RXN-V3000-fi-13926-that-they-can-be-selected-moved-and-Undo-Redo-3-chromium-linux.png
  ketcher-autotests/tests/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-RDF-RXN-V3000-fi-9f38c-that-they-can-be-selected-moved-and-Undo-Redo-4-chromium-linux.png
  ketcher-autotests/tests/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-RDF-RXN-V3000-fi-dc96a-that-they-can-be-selected-moved-and-Undo-Redo-2-chromium-linux.png
  ketcher-autotests/tests/Reactions/Cascade-Reactions/cascade-reactions.spec.ts-snapshots/Cascade-Reactions-Verify-that-RDF-RXN-V3000-fi-e5bbc-that-they-can-be-selected-moved-and-Undo-Redo-1-chromium-linux.png
Due: prettier --write

#5814 - On Remote environment, the reaction/molecule can't be saved to V3000 formats (returns V2000 instead): MOL, RXN, SDF, RDF
  packages/ketcher-core/src/infrastructure/services/struct/remoteStructService.ts
Due: prettier --write

#5898 – Increase timeout for e2e test
  ketcher-autotests/tests/Indigo-Tools/Reaction Auto-mapping tool/reaction-am-tool-veryfing-button.spec.ts
Due: prettier --write

#5814 - On Remote environment, the reaction/molecule can't be saved to V3000 formats (returns V2000 instead): MOL, RXN, SDF, RDF (#5908)
  packages/ketcher-core/src/infrastructure/services/struct/remoteStructService.ts
Due: prettier --write

5842-info-button-i-for-some-properties-at-settings
  packages/ketcher-react/src/script/ui/component/form/form/form.jsx
  packages/ketcher-react/src/script/ui/component/form/form/form.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Save/__snapshots__/Save.test.tsx.snap
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Last fix
  ketcher-autotests/tests/utils/files/receiveFileComparisonData.ts
Due: prettier --write

#5898 – Skip unstable test
  ketcher-autotests/tests/Indigo-Tools/Reaction Auto-mapping tool/reaction-am-tool-veryfing-button.spec.ts
Due: prettier --write

last fix
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-11-Sugar-UNA-SGNA-RGNA-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-15-Base-M-ambiguous-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-16-DNA-base-A-C-G-T-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-17-RNA-base-A-C-G-U-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-18-Base-A-C-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-20-Phosphate-bnn-cmp-nen-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-21-CHEM-PEG-2-PEG-4-PEG-6-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-22-CHEM-PEG-2-PEG-4-PEG-6-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-23-Unknown-nucleotide-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-3-Base-hU-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-6-CHEM-4aPEGMal-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-7-Peptide-X-ambiguouse-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-9-Peptide-G-H-I-K-L-M-N-O-P-ambiguous-mixed-3-chromium-linux.png
Due: prettier --write

lf 2
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-deleting-an-expanded-monomer-in-a--f16d1-ool-cause-Edit-Abbreviations-dialog-to-appear-7-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-deleting-an-expanded-monomer-in-a--f7638-ool-cause-Edit-Abbreviations-dialog-to-appear-3-chromium-linux.png
Due: prettier --write

lf3
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-1-Petide-D-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-10-Peptide-G-H-I-K-L-M-N-O-P-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-11-Sugar-UNA-SGNA-RGNA-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-13-DNA-base-N-ambiguous-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-15-Base-M-ambiguous-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-16-DNA-base-A-C-G-T-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-18-Base-A-C-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-19-Phosphate-bnn-cmp-nen-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-2-Sugar-UNA-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-20-Phosphate-bnn-cmp-nen-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-21-CHEM-PEG-2-PEG-4-PEG-6-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-22-CHEM-PEG-2-PEG-4-PEG-6-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-23-Unknown-nucleotide-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-3-Base-hU-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-4-Phosphate-bnn-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-5-Unsplit-nucleotide-5hMedC-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-6-CHEM-4aPEGMal-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-7-Peptide-X-ambiguouse-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-8--88ae1-L-M-N-O-P-Q-R-S-T-U-V-W-Y-ambiguouse-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-9-Peptide-G-H-I-K-L-M-N-O-P-ambiguous-mixed-3-chromium-linux.png
Due: none

update snapshots
  ketcher-autotests/tests/Indigo-Tools/Reaction Auto-mapping tool/reaction-am-tool-veryfing-button.spec.ts-snapshots/Verifying-buttons-on-reaction-am-tool-dropdown-Verifying-of-the-correct-automapping-2-chromium-linux.png
Due: none

Micro molecules fix
  ketcher-autotests/tests/Indigo-Tools/Reaction Auto-mapping tool/reaction-am-tool-veryfing-button.spec.ts
Due: prettier --write

lf4
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-1-Petide-D-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-10-Peptide-G-H-I-K-L-M-N-O-P-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-11-Sugar-UNA-SGNA-RGNA-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-12-Sugar-UNA-SGNA-RGNA-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-13-DNA-base-N-ambiguous-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-15-Base-M-ambiguous-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-16-DNA-base-A-C-G-T-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-17-RNA-base-A-C-G-U-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-18-Base-A-C-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-19-Phosphate-bnn-cmp-nen-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-2-Sugar-UNA-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-20-Phosphate-bnn-cmp-nen-ambiguous-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-21-CHEM-PEG-2-PEG-4-PEG-6-ambiguous-alternatives-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-23-Unknown-nucleotide-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-3-Base-hU-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-4-Phosphate-bnn-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-5-Unsplit-nucleotide-5hMedC-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-6-CHEM-4aPEGMal-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-7-Peptide-X-ambiguouse-alternatives-from-library-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-8--88ae1-L-M-N-O-P-Q-R-S-T-U-V-W-Y-ambiguouse-mixed-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-collapsed-monomer-on-Micro-and-Undo-9-Peptide-G-H-I-K-L-M-N-O-P-ambiguous-mixed-3-chromium-linux.png
Due: prettier --write

Verify that expanding multiple monomers works in a left-to-right order within a chain fix
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-expanding-multiple-monomers-works-in-a-left-to-right-order-within-a-chain-2-chromium-linux.png
Due: none

fixed macro test
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-macromolecule--716dd-romode-are-represented-as-S-Groups-with-bonds-1-chromium-linux.png
Due: none

Verify that expanding multiple monomers works in a top-to-bottom order within a chain fix
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-expanding-multiple-monomers-works-in-a-top-to-bottom-order-within-a-chain-1-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-expanding-multiple-monomers-works-in-a-top-to-bottom-order-within-a-chain-2-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/All type of monomers in vertical chain.ket
  tests/test-data/KET/Micro-Macro-Switcher/All type of monomers in horisontal chain.ket
Due: none

Verify that expanding monomers with big mircomolecule ring structures in the middle behaves correctly without breaking the chain fix
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-expanding-monomers-with-big-mircom-2ef95--behaves-correctly-without-breaking-the-chain-2-chromium-linux.png
Due: none

Verify that deleting an expanded monomer in a chain structure using the Erase tool cause Edit Abbreviations dialog to appear fix
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-deleting-an-expanded-monomer-in-a--a98d0-ool-cause-Edit-Abbreviations-dialog-to-appear-6-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-deleting-an-expanded-monomer-in-a--b3191-ool-cause-Edit-Abbreviations-dialog-to-appear-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-deleting-an-expanded-monomer-in-a--edd10-ool-cause-Edit-Abbreviations-dialog-to-appear-5-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-deleting-an-expanded-monomer-in-a--f16d1-ool-cause-Edit-Abbreviations-dialog-to-appear-7-chromium-linux.png
Due: none

last fix
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-after-using-the-Erase-tool-to-dele-13832--removing-the-expanded-monomer-and-its-bonds-14-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-after-using-the-Erase-tool-to-dele-49c75--removing-the-expanded-monomer-and-its-bonds-17-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-after-using-the-Erase-tool-to-dele-5d341-e-removing-the-expanded-monomer-and-its-bonds-2-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-after-using-the-Erase-tool-to-dele-926b8--removing-the-expanded-monomer-and-its-bonds-11-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-after-using-the-Erase-tool-to-dele-98ab7--removing-the-expanded-monomer-and-its-bonds-12-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-after-using-the-Erase-tool-to-dele-ec1f0--removing-the-expanded-monomer-and-its-bonds-15-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-after-using-the-Erase-tool-to-dele-f92a6-e-removing-the-expanded-monomer-and-its-bonds-3-chromium-linux.png
  ketcher-autotests/tests/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Verify-that-after-using-the-Erase-tool-to-dele-fec19--removing-the-expanded-monomer-and-its-bonds-18-chromium-linux.png
Due: none

lf2
  ketcher-autotests/tests/Indigo-Tools/Reaction Auto-mapping tool/reaction-am-tool-veryfing-button.spec.ts
Due: prettier --write
