Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

#10489 – Update Check Structure snapshots
  ketcher-autotests/tests/specs/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Hotkeys--1fbc2-fy-that-hotkey-Alt-s-triggers-Check-structure-1-chromium-linux.png
  ketcher-autotests/tests/specs/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Verify-t-aec80-ewer-tools-are-operational-in-view-only-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.8.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-8-0-Case-31-Indigo-function-ae50e-ues-Add-Remove-Hydrogens-work-for-star-atom-7-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/29-Verify-that-Check-structure-button-performs-validation-and-not-shows-errors-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/32-Verify-that-multiple-toolbar-actions-can-be-used-consecutively-without-errors-5-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/32-Verify-that-multiple-toolbar-actions-can-be-used-consecutively-without-errors-7-chromium-popup-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Image-files/image-files.spec.ts-snapshots/Image-files-Verify-that-added-to-Canvas-images-51b0f--Alt-S-action-it-is-calculated-for-elements-2-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Calculated-Values-Tool/calculated-values.spec.ts-snapshots/Calculated-Values-Tools-Structure-Check-window-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-that-Structure-Check-works-for-molecules-with-AP-1-chromium-linux.png
  ketcher-autotests/tests/specs/Reactions/Reaction-tools/Multi-Tailed-Arrow-Tool/multi-tailed-arrow-tool.spec.ts-snapshots/Multi-Tailed-Arrow-Tool-Verify-the-cascade-reaction-after-Check-Structure-action-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-node-D-button-recognition-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-node-H--button-recognition-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-node-Pol-button-recognition-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-node-R-button-recognition-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-node-T-button-recognition-1-chromium-linux.png
Due: none

#6595 - Fix round 1: derive monomer class for ambiguous base library items
  packages/ketcher-core/__tests__/domain/entities/antisenseBaseSyncCommand.test.ts
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/domain/helpers/antisenseBaseSync.ts
Due: prettier --write

#6595 - Allow duplex selections to be edited
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/application/editor/tools/Tool.ts
  packages/ketcher-macromolecules/src/components/contextMenu/SequenceItemContextMenu/SequenceItemContextMenu.tsx
  packages/ketcher-macromolecules/src/components/contextMenu/SequenceItemContextMenu/helpers.test.ts
  packages/ketcher-macromolecules/src/components/contextMenu/SequenceItemContextMenu/helpers.ts
  packages/ketcher-macromolecules/src/components/modal/UpdateSequenceInRNABuilder/UpdateSequenceInRNABuilder.test.tsx
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/helpers/sequenceEdit.test.ts
Due: prettier --write

Fix: preview bounds and preserve pointer pass-through
  .memory-bank/features/macromolecules.md
  packages/ketcher-macromolecules/src/components/preview/Preview.component.test.tsx
  packages/ketcher-macromolecules/src/components/preview/Preview.test.ts
  packages/ketcher-macromolecules/src/components/preview/Preview.tsx
  packages/ketcher-react/src/components/MonomerPreview/calculatePreviewPosition.test.ts
  packages/ketcher-react/src/components/MonomerPreview/calculatePreviewPosition.ts
Due: prettier --write

#6595 - Mark antisense duplex base sync tasks complete
  openspec/changes/antisense-duplex-base-sync/tasks.md
Due: none

#6595 - Fix: mirror base edits onto the opposite strand only in sync mode
  packages/ketcher-core/__tests__/domain/entities/antisenseBaseSyncCommand.test.ts
  packages/ketcher-core/__tests__/domain/entities/antisenseChainDirection.test.ts
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/domain/helpers/antisenseBaseSync.ts
Due: prettier --write

#6595 - Fix: resolve the strand per position, not once per selection range
  packages/ketcher-core/__tests__/domain/entities/antisenseChainDirection.test.ts
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

#6595 - Fix: validate the selected strand's node, not always the sense node
  packages/ketcher-core/__tests__/domain/entities/antisenseChainDirection.test.ts
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
Due: prettier --write

#6595 - Refactor: export the base-modification refusal message from ketcher-core
  packages/ketcher-core/src/application/editor/modes/SequenceMode.ts
  packages/ketcher-core/src/domain/helpers/antisenseBaseSync.ts
  packages/ketcher-core/src/index.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/RnaBuilder/RnaEditor/RnaEditorExpanded/RnaEditorExpanded.tsx
  packages/ketcher-macromolecules/src/constants/errors.ts
Due: prettier --write

#11248 Refactor: measure-input
  packages/ketcher-react/src/script/ui/component/form/MeasureInput/measure-input.tsx
Due: prettier --write

test: fix stale Open/Save button tooltip assertions
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/open-save-files.spec.ts
Due: prettier --write

#7453-Allow for the standard sense/antisense representation of circular structures
  ketcher-autotests/tests/specs/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-2-Switching-from-S-002d2-s-visible-area-of-canvas-beyond-visible-frame-3-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-15-Long-bond-not-a-d4e8a-d-the-structure-after-Copy-Paste-in-Flex-Mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Import-Saving-Files/import-saving-helm.spec.ts-snapshots/Import-correct-HELM-sequence-30-Cycled-RNAs-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Check-that-a-command-icon-added--69646-d-separated-from-it-by-a-line-Sequence-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Check-that-a-command-icon-added--d9235-d-separated-from-it-by-a-line-Sequence-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Sequence-Mode/sequence-mode.spec.ts-snapshots/Sequence-Mode-Open-monomers-cyclic-chains-and-switch-to-sequence-mode-2-chromium-linux.png
Due: none

Fix: limit preview positioning changes to popup mode
  packages/ketcher-macromolecules/src/components/preview/Preview.component.test.tsx
  packages/ketcher-macromolecules/src/components/preview/Preview.test.ts
  packages/ketcher-macromolecules/src/components/preview/Preview.tsx
  packages/ketcher-react/src/components/MonomerPreview/calculatePreviewPosition.test.ts
  packages/ketcher-react/src/components/MonomerPreview/calculatePreviewPosition.ts
Due: prettier --write

fix: add distance threshold to prevent expand-centering for close monomers
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-5-Unsplit-nucleotide-5hMedC-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Saving-expanded-monomer-to-SMARTS-6-CHEM-4aPEGMal-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Collapse-on-Micro-canvas-5-Unsplit-nucleotide-5hMedC-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Collapse-on-Micro-canvas-6-CHEM-4aPEGMal-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Collapse-on-Micro-canvas-6-CHEM-4aPEGMal-from-library-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Expand-on-Micro-canvas-5-Unsplit-nucleotide-5hMedC-from-library-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Expand-on-Micro-canvas-6-CHEM-4aPEGMal-from-library-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-expanded-monomer-on-Micro-and-Undo-5-Unsplit-nucleotide-5hMedC-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-expanded-monomer-on-Micro-and-Undo-6-CHEM-4aPEGMal-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-in-expanded-state-on-Micro-canvas-5-Unsplit-nucleotide-5hMedC-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Move-in-expanded-state-on-Micro-canvas-6-CHEM-4aPEGMal-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher3.spec.ts-snapshots/Move-expanded-monomer-on-Micro-and-Undo-5-Unsplit-nucleotide-5hMedC-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher3.spec.ts-snapshots/Move-expanded-monomer-on-Micro-and-Undo-6-CHEM-4aPEGMal-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher3.spec.ts-snapshots/Move-in-expanded-state-on-Micro-canvas-5-Unsplit-nucleotide-5hMedC-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher3.spec.ts-snapshots/Move-in-expanded-state-on-Micro-canvas-6-CHEM-4aPEGMal-from-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/6-5-Expand-and-collapse-unsplit-nucleotide-5hMedC-having-it-hydrogen-bonds-on-Molecules-canvas-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/6-5-Expand-and-collapse-unsplit-nucleotide-5hMedC-having-it-hydrogen-bonds-on-Molecules-canvas-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/6-6-Expand-and-collapse-CHEM-4aPEGMal-having-it-hydrogen-bonds-on-Molecules-canvas-2-chromium-linux.png
  packages/ketcher-core/src/application/editor/actions/sgroup.ts
Due: prettier --write

Fix: popup preview regression tests and snapshots
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-24-Bond-monomer-tooltip-preview-placed-correct-in-on-edge-cases-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-24-Bond-monomer-tooltip-preview-placed-correct-in-on-edge-cases-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-24---Pr-6bd4f-r-chain-of-CHEMs-works-wrong-in-sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-25---5N-c30ba--should-be-shown-as-X-symbol-instead-of-one-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-2-Check-correct-name-for-sugar-in-the-library-for-fR-1-chromium-popup-linux.png
Due: prettier --write

fix/paste button test
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Templates/Template-Library/template-library.spec.ts-snapshots/Templates---Template-Library-Template-Library-1-chromium-linux.png
Due: prettier --write

fix/snapshot
  ketcher-autotests/tests/specs/Templates/Template-Library/template-library.spec.ts-snapshots/Templates---Template-Library-Template-Library-1-chromium-linux.png
Due: none

fix snapshot
  ketcher-autotests/tests/specs/Templates/Template-Library/template-library.spec.ts-snapshots/Templates---Template-Library-Template-Library-1-chromium-linux.png
Due: none

fix/playwright screenshot
  ketcher-autotests/tests/specs/Templates/Template-Library/template-library.spec.ts-snapshots/Templates---Template-Library-Template-Library-2-chromium-linux.png
Due: none

fixes
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/SMARTS-Files/smarts-files.spec.ts-snapshots/Loading-SMARTS-files-Validate-that-unsplit-nuc-f0f37-could-be-saved-to-SMARTS-file-and-loaded-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/4-Fold-unfold-hydrogens-for-by-Any-Atom-Inversions-Simple-molecules-Inversions-ket-1-chromium-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Toggle-Explicit-Hydrogens/toggle-explicit-hydrogens.spec.ts-snapshots/5-Fold-unfold-hydrogens-for-by-Substitution-count-ket-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Basic-Monomers/Negative/3. Peptide G+H+I+K+L+M+N+O+P (ambiguous, mixed)-expected.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Basic-Monomers/Negative/4. Peptide G,H,I,K,L,M,N,O,P (ambiguous, alternatives)-expected.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Expand-monomers/2. Sugar UNA (from library) surrounded by all types of monomers-expected.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Expand-monomers/2. Sugar UNA (from library) surrounded by all types of monomers-expected2.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Expand-monomers/3. Base nC6n5C (from library) surrounded by all types of monomers-expected2.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Expand-monomers/4. Phosphate bnn (from library) surrounded by all types of monomers-expected.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Expand-monomers/4. Phosphate bnn (from library) surrounded by all types of monomers-expected2.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Expand-monomers/5. Unsplit nucleotide Super-G (from library) surrounded by all types of monomers-expected.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Expand-monomers/5. Unsplit nucleotide Super-G (from library) surrounded by all types of monomers-expected2.ket
  ketcher-autotests/tests/test-data/KET/Micro-Macro-Switcher/Expand-monomers/6. CHEM 4FB (from library) surrounded by all types of monomers-expected2.ket
  ketcher-autotests/tests/test-data/KET/images-png-svg-with-benzene-alter-expected.ket
  ketcher-autotests/tests/test-data/KET/images-png-svg-with-benzene-discard-expected.ket
  ketcher-autotests/tests/test-data/KET/images-png-svg-with-benzene-for-distorting-expected.ket
  ketcher-autotests/tests/test-data/KET/images-png-svg-with-benzene-for-explicit-expected.ket
  ketcher-autotests/tests/test-data/KET/images-png-svg-with-benzene-keep-expected.ket
  ketcher-autotests/tests/test-data/KET/layout-with-catalyst-px-bond-lengh.ket
  ketcher-autotests/tests/test-data/KET/layout-with-long-molecule-inch-bond-lengh.ket
  ketcher-autotests/tests/test-data/KET/modified-multitail-arrow-with-added-tails-expected.ket
  ketcher-autotests/tests/test-data/KET/one-attachment-point-added-in-micro-mode-expected.ket
  ketcher-autotests/tests/test-data/KET/rdf-cascade-reactions-name-conditions-expected.ket
  ketcher-autotests/tests/test-data/KET/rdf-rxn-v2000-cascade-1-or-reactions-2-case-5-new-expected.ket
  ketcher-autotests/tests/test-data/KET/rdf-rxn-v2000-cascade-reaction-2-1-1-and-rdf-rxn-v3000-single-reaction-1x1.ket
  ketcher-autotests/tests/test-data/KET/rdf-rxn-v2000-cascade-reaction-2-3-1-expected.ket
  ketcher-autotests/tests/test-data/KET/rdf-rxn-v2000-cascade-reaction-tails-12-expected.ket
  ketcher-autotests/tests/test-data/KET/rdf-rxn-v2000-cascade-reaction-tails-5-expected.ket
  ketcher-autotests/tests/test-data/KET/rdf-rxn-v2000-cascade-reactions-2-single-2-expected.ket
  ketcher-autotests/tests/test-data/KET/rdf-rxn-v2000-prod-1-react-2-2+-elements-case-1-new-expected.ket
  ketcher-autotests/tests/test-data/KET/rdf-rxn-v2000-single-reaction-3x1-expected.ket
  ketcher-autotests/tests/test-data/KET/rdf-rxn-v3000-cascade-reaction-2-1-2-1-expected.ket
  ketcher-autotests/tests/test-data/KET/rdf-rxn-v3000-cascade-reaction-2-3-4-1-expected.ket
  ketcher-autotests/tests/test-data/KET/rdf-rxn-v3000-single-reaction-1x1-expected.ket
  ketcher-autotests/tests/test-data/KET/rdf-rxn-v3000-single-reaction-3x1-expected.ket
Due: none

fixes
  ketcher-autotests/tests/specs/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Verify-t-0016e-tions-JSON-stringify-viewOnlyMode-false-2-chromium-linux.png
  ketcher-autotests/tests/specs/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Verify-t-15e74-ptions-JSON-stringify-viewOnlyMode-true-1-chromium-linux.png
  ketcher-autotests/tests/specs/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Verify-t-2a85c-tions-JSON-stringify-viewOnlyMode-false-1-chromium-linux.png
Due: none

first draft
  packages/ketcher-core/rollup.config.mjs
  packages/ketcher-macromolecules/rollup.config.mjs
  packages/ketcher-react/rollup.config.mjs
  packages/ketcher-standalone/rollup.config.mjs
Due: none

f2
  package-lock.json
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/package.json
  packages/ketcher-react/rollup.config.mjs
  packages/ketcher-react/src/typings.d.ts
Due: prettier --write

f3
  packages/ketcher-react/rollup.config.mjs
Due: none

f4
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.types.ts
Due: prettier --write

fix playwright popup fails
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/25-Verify-that-Copy-button-copies-the-selecte-5bd71-re-fragment-and-Paste-pasted-to-Wizard-canvas-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/26-Verify-that-Cut-button-removes-selected-st-ffece--clipboard-and-can-be-pasted-to-Wizard-canvas-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/27-Verify-that-Aromatize-button-converts-sele-cc7c4-erts-selected-aromatic-rings-into-Kekule-form-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/28-Verify-that-Calculate-CIP-button-assigns-correct-R-S-configuration-labels-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/31-Verify-that-Add-explicit-hydrogens-button--99f7e-button-removes-added-hydrogens-from-structure-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/32-Verify-that-multiple-toolbar-actions-can-be-used-consecutively-without-errors-2-chromium-popup-linux.png
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetTabs.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

fix playwright font-caused failed test-s screenshots
  ketcher-autotests/tests/specs/Chromium-popup/API/api-for-update-monomer-library-in-sdf-format.spec.ts-snapshots/API-for-update-Library-Case-15-Replace-whole--ca013-de-with-ketcher-replaceMonomersLibrary-method-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/API/api-for-update-monomer-library-in-sdf-format.spec.ts-snapshots/API-for-update-Library-Case-5-Verify-adding-n-9f0f4-ary-with-ketcher-updateMonomersLibrary-method-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-28-Cursor-position-is-correct-when-editing-sequence-in-Macro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-28---Un-63fe4--nucleotide-monomer---system-throws-exception-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-11-RNA-Builder-sec-7921c-rresponding-monomer-in-library-on-first-click-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Features/8850-mark-as-context-menu-for-nucleotide-presets.spec.ts-snapshots/Mark-as-related-cases-Case-10---Verify-de-0f877-tton-is-disabled-for-non-continuous-selection-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Features/8850-mark-as-context-menu-for-nucleotide-presets.spec.ts-snapshots/Mark-as-related-cases-Case-11---Verify-mu-57721--using-Mark-as-a-on-different-selections-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Features/8850-mark-as-context-menu-for-nucleotide-presets.spec.ts-snapshots/Mark-as-related-cases-Case-6---Verify-mar-c4cdd-ext-menu-opens-Base-tab-and-assigns-structure-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Features/8850-mark-as-context-menu-for-nucleotide-presets.spec.ts-snapshots/Mark-as-related-cases-Case-7---Verify-mar-1a3a3-xt-menu-opens-Sugar-tab-and-assigns-structure-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Features/8850-mark-as-context-menu-for-nucleotide-presets.spec.ts-snapshots/Mark-as-related-cases-Case-8---Verify-mar-67970-enu-opens-Phosphate-tab-and-assigns-structure-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Features/8850-mark-as-context-menu-for-nucleotide-presets.spec.ts-snapshots/Mark-as-related-cases-Case-9---Verify-use-16fa3--in-Attributes-panel-for-continuous-selection-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-18-Check-t-8ab79--arrow-for-a-monomer-preset-a-tooltip-appear-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/color-of-nucleobases.spec.ts-snapshots/Color-of-Nucleobases-Case-1-Check-that-Adenin-ce7af-their-colour-changed-to-5ADC11-see-mockups-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/8852-preset-structure-additions.spec.ts-snapshots/Additions-to-the-structure-Case-1---Verify-t-b0c51-nnected-to-Base-become-part-of-Base-component-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/8852-preset-structure-additions.spec.ts-snapshots/Additions-to-the-structure-Case-10---Verify--11cff-handled-correctly-once-components-are-defined-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/8852-preset-structure-additions.spec.ts-snapshots/Additions-to-the-structure-Case-2---Verify-t-0c95c-ected-to-Sugar-become-part-of-Sugar-component-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/8852-preset-structure-additions.spec.ts-snapshots/Additions-to-the-structure-Case-3---Verify-t-2d720--Phosphate-become-part-of-Phosphate-component-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/8852-preset-structure-additions.spec.ts-snapshots/Additions-to-the-structure-Case-4---Verify-t-88a52-long-to-any-component-and-block-preset-saving-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/8852-preset-structure-additions.spec.ts-snapshots/Additions-to-the-structure-Case-5---Verify-t-50957-e-becomes-part-of-Base-when-connected-to-Base-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/8852-preset-structure-additions.spec.ts-snapshots/Additions-to-the-structure-Case-6---Verify-t-467b2-becomes-part-of-Sugar-when-connected-to-Sugar-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/8852-preset-structure-additions.spec.ts-snapshots/Additions-to-the-structure-Case-7---Verify-b-7055a-is-subsequently-extended-to-another-component-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/8852-preset-structure-additions.spec.ts-snapshots/Additions-to-the-structure-Case-8---Verify-b-96416-onnected-and-reconnected-to-another-component-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/8852-preset-structure-additions.spec.ts-snapshots/Additions-to-the-structure-Case-9---Verify-t-4d022-component-does-not-break-component-continuity-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation3.spec.ts-snapshots/20-Check-that-for-an-already-set-APs-the-user-277e9-own-H-OH-NH2-F-Cl-Br-I-in-that-order-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/27-Verify-that-Aromatize-button-converts-sele-a7d0c-erts-selected-aromatic-rings-into-Kekule-form-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/32-Verify-that-multiple-toolbar-actions-can-be-used-consecutively-without-errors-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/32-Verify-that-multiple-toolbar-actions-can-be-used-consecutively-without-errors-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/nucleotide-preset-creation.spec.ts-snapshots/Mark-as-context-menu-for-Nucleotide-preset-9f880--context-menu-and-verify-fields-are-populated-1-chromium-popup-linux.png
Due: none

fix screenshots
  ketcher-autotests/tests/specs/Chromium-popup/API/api-for-update-monomer-library-in-sdf-format.spec.ts-snapshots/API-for-replace-Library-Case-6-Replace-whole--436c0-h-library-of-3000-Nucleotides-monomers-inside-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/API/api-for-update-monomer-library-in-sdf-format.spec.ts-snapshots/API-for-update-Library-Case-15-Replace-whole--322eb-de-with-ketcher-replaceMonomersLibrary-method-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/API/api-for-update-monomer-library-in-sdf-format.spec.ts-snapshots/API-for-update-Library-Case-5-Verify-adding-n-9f0f4-ary-with-ketcher-updateMonomersLibrary-method-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-28---Un-2f202--nucleotide-monomer---system-throws-exception-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-8-Sense-and-antise-3ec84--places-during-editing-based-on-monomer-count-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-11-RNA-Builder-sec-b7823-rresponding-monomer-in-library-on-first-click-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-18-Adding-monomer--e669e-eft-position-of-antisense-chain-works-correct-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-18-Check-t-adb07--arrow-for-a-monomer-preset-a-tooltip-appear-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/27-Verify-that-Aromatize-button-converts-sele-3aabc-erts-selected-aromatic-rings-into-Kekule-form-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/32-Verify-that-multiple-toolbar-actions-can-be-used-consecutively-without-errors-7-chromium-popup-linux.png
Due: none

fix playwright test
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts
Due: prettier --write

fix test screenshot getting part
  ketcher-autotests/tests/specs/Chromium-popup/API/api-for-update-monomer-library-in-sdf-format.spec.ts-snapshots/API-for-update-Library-Case-15-Replace-whole--1e829-de-with-ketcher-replaceMonomersLibrary-method-5-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-18-Check-t-6f8de--arrow-for-a-monomer-preset-a-tooltip-appear-5-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation4.spec.ts-snapshots/32-Verify-that-multiple-toolbar-actions-can-be-used-consecutively-without-errors-8-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts-snapshots/7-Check-that-the-user-can-remove-a-modification-type-after-it-is-set-1-chromium-popup-linux.png
Due: prettier --write

fix playwright test fail
  ketcher-autotests/tests/specs/Chromium-popup/API/api-for-update-monomer-library-in-sdf-format.spec.ts-snapshots/API-for-update-Library-Case-15-Replace-whole--d9d07-de-with-ketcher-replaceMonomersLibrary-method-6-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-11-RNA-Builder-sec-10040-rresponding-monomer-in-library-on-first-click-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts-snapshots/21-Check-that-the-HELM-alias-section-in-the-attributes-panel-can-be-expanded-and-collapsed-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts-snapshots/7-Check-that-the-user-can-remove-a-modification-type-after-it-is-set-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts-snapshots/8-Verify-that-the-modification-type-section-in-the-attributes-panel-can-be-expanded-and-collapsed-1-chromium-popup-linux.png
Due: prettier --write

fix playwright test fail
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts
Due: prettier --write

fix playwright screenshots
  ketcher-autotests/tests/specs/Chromium-popup/API/api-for-update-monomer-library-in-sdf-format.spec.ts-snapshots/API-for-update-Library-Case-15-Replace-whole--798c8-de-with-ketcher-replaceMonomersLibrary-method-7-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-11-RNA-Builder-sec-87065-rresponding-monomer-in-library-on-first-click-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts-snapshots/21-Check-that-the-HELM-alias-section-in-the-attributes-panel-can-be-expanded-and-collapsed-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts-snapshots/8-Verify-that-the-modification-type-section-in-the-attributes-panel-can-be-expanded-and-collapsed-2-chromium-popup-linux.png
Due: none

fix test-id getting for the helm alias-s input close icon
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizardFields.tsx
  packages/ketcher-react/src/types/ketcher-macromolecules.d.ts
Due: prettier --write

#11763 - rise nodejs to v24200 (#11765)
  .github/workflows/ci.yml
  .nvmrc
  DEVNOTES.md
  example-ssr/package-lock.json
  ketcher-autotests/Dockerfile-ketcher
  package-lock.json
  package.json
  packages/ketcher-core/jest.config.js
  packages/ketcher-core/package.json
  packages/ketcher-macromolecules/jest.config.js
  packages/ketcher-macromolecules/package.json
  packages/ketcher-react/README.md
  packages/ketcher-react/jest.config.js
  packages/ketcher-react/package.json
  packages/ketcher-standalone/package.json
Due: prettier --write

f5
  packages/ketcher-core/rollup.config.mjs
  packages/ketcher-macromolecules/rollup.config.mjs
  packages/ketcher-react/rollup.config.mjs
  packages/ketcher-standalone/rollup.config.mjs
Due: none

#11261 - Refactor: react-hooks/exhaustive-deps rule violation clean up from packages\ketcher-react\src\script\ui\views\modal\components\process\Check\Check.tsx file
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.tsx
Due: prettier --write

fix: address review — unify mount/button options path and scope effect to mount-only
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/Check.tsx
Due: prettier --write
