Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "*.{css,less}": ["stylelint --formatter verbose --fix --allow-empty-input"]
}

Revert unnecessary CSS changes to subscript/superscript styles
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Text-Tool/text-formating.spec.ts-snapshots/Text-tools-test-cases-Applying-styles---Subscript-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Text-Tool/text-formating.spec.ts-snapshots/Text-tools-test-cases-Applying-styles---Superscript-1-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/modal/components/Text/Text.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#2818 – Periodic Table: P, F, Cs atoms weight is out of the box (#10669)
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/AtomInfo/AtomInfo.module.less
Due: stylelint --formatter verbose --fix --allow-empty-input

#7128 – Molecular formula letters not same level in Macromolecule Properties (#10461)
  ketcher-autotests/package-lock.json
  ketcher-autotests/package.json
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-26-Limit-size-of-structures-in-preview-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-49-System-not-coun-341fa-ot-part-of-a-nucleotide-nucleoside-as-RNA-DNA-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-50-Melting-temperature-value-is-missed-if-UPC-or-NAC-value-set-to-zero-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-50-Melting-temperature-value-is-missed-if-UPC-or-NAC-value-set-to-zero-2-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-50-Melting-temperature-value-is-missed-if-UPC-or-NAC-value-set-to-zero-3-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.6.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-6-0-Case-18-Input-fields-fo-d608f-active-after-entering-excessively-long-number-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-12-Check-that-39656-ecific-properties-set-to-blank-and-greyed-out-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-12-Check-that-f65cf-ecific-properties-set-to-blank-and-greyed-out-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-14-Check-that-1e43d-propriate-number-next-to-the-natural-analogue-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-15-Check-that-346f7-he-selection-the-appropriate-card-grayed-out-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-16-Check-that-ad320-t-contains-at-least-one-nucleotide-nucleoside-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-17-Check-that-3aa5b-d-with-a-base-on-the-other-chain-via-a-H-bond-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-18-Verify-if--b61d1-f-the-RNA-DNA-tab-set-to-blank-and-grayed-out-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-20-Check-that-7e7d9-reset-values-are-140mM-and-200μM-respectively-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-20-Check-that-a1186-reset-values-are-140mM-and-200μM-respectively-4-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-20-Check-that-cdbbd-reset-values-are-140mM-and-200μM-respectively-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-20-Check-that-d392a-reset-values-are-140mM-and-200μM-respectively-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-23-Check-Calc-dbe36--R2-R1-connected-monomers-with-microstructure-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-3-Verify-afte-c8194-selection-to-Indigo-and-the-selection-remain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-4-Check-if-on-28c9c-ened-Ketcher-send-the-whole-canvas-to-Indigo-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-55-Check-that-graph-remains-readable-for-532-amino-acids-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-56-Check-that-graph-remains-readable-for-1240-amino-acids-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-6-Check-that--229dc-e-Select-monomer-chain-or-part-of-a-chain-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-6-Check-that--6171c-e-Select-monomer-chain-or-part-of-a-chain-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts-snapshots/Calculate-Properties-tests-Case-7-Check-that--3498d-ino-acids-Then-the-default-tab-is-RNA-DNA-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-AmMC6T-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-Cys-Bn-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-DOTA-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-FMOE-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-MOE-A-P-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-bP-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  package-lock.json
  package.json
  packages/ketcher-macromolecules/src/components/macromoleculeProperties/MacromoleculePropertiesWindow.tsx
Due: prettier --write

fixes
  ketcher-autotests/package-lock.json
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-21---In-1c1fd--does-not-open-dropdown-menu-as-in-Micro-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-21---In-43ea5--does-not-open-dropdown-menu-as-in-Micro-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-24---Pr-6bd4f-r-chain-of-CHEMs-works-wrong-in-sequence-mode-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-25---5N-c30ba--should-be-shown-as-X-symbol-instead-of-one-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-35---System-adds-broken-Preset-to-the-library-part2-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-36---indigoSaveCdxml-does-not-support-reaction-molecules-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-37---Sy-e578a-LM-alias-for-bases-on-monomer-load-to-Library-1-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/monomer-collapse-expand-state-expected.mol
  ketcher-autotests/tests/test-data/SDF-V2000/monomers-for-bug-3292-expected.sdf
Due: prettier --write

f2
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.11.0-bugs.spec.ts-snapshots/Bugs-ketcher-3-11-0-—-first-trio-Case-21---In-43ea5--does-not-open-dropdown-menu-as-in-Micro-mode-2-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/monomer-collapse-expand-state-expected.mol
  ketcher-autotests/tests/test-data/SDF-V2000/monomers-for-bug-3292-expected.sdf
Due: prettier --write

#6056 - Regenerate hydrogen-bonds ambiguous-monomer baselines (CI-exact in-container) for reviewer's sugar-band change
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-base-A-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-nucleotide-5hMedC-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-peptide-A-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-base-and-unresolved-monomer-Unknown-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-peptide-and-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-peptide-and-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-peptide-and-base-A-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-peptide-and-nucleotide-5hMedC-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-peptide-and-peptide-A-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-ambiguous-peptide-and-unresolved-monomer-Unknown-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-base-A-and-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-base-A-and-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-nucleotide-5hMedC-and-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-nucleotide-5hMedC-and-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-peptide-A-and-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-peptide-A-and-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-unresolved-monomer-Unknown-and-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/hydrogen-bonds-for-monomers.spec.ts-snapshots/1-Connect-with-hydrogen-bond-unresolved-monomer-Unknown-and-ambiguous-peptide-1-chromium-linux.png
Due: none

#9549 Color Picker UI (#10371)
  .claude/skills/add-localstorage-setting/SKILL.md
  .claude/skills/split-component/SKILL.md
  ketcher-autotests/tests/specs/Macromolecule-editor/Calculate-Properties/calculate-properties.spec.ts
  package-lock.json
  packages/ketcher-core/src/application/settings/schema.ts
  packages/ketcher-core/src/application/settings/types.ts
  packages/ketcher-react/jest.setup.js
  packages/ketcher-react/package.json
  packages/ketcher-react/src/hooks/__tests__/useSettings.test.tsx
  packages/ketcher-react/src/hooks/useSettings.ts
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.constants.ts
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.module.less
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.test.js
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.test.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.utils.test.ts
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPicker.utils.ts
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorPickerContent.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorSlider.test.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/ColorSlider.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/CustomColorEditor.test.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/CustomColorEditor.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/CustomColorSwatches.test.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/CustomColorSwatches.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/PresetGrid.test.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/PresetGrid.tsx
  packages/ketcher-react/src/script/ui/component/form/colorPicker/__snapshots__/ColorPicker.test.tsx.snap
  packages/ketcher-react/src/script/ui/component/form/colorPicker/index.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#10326- upd fonts to match snapshots
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/styles.ts
  packages/ketcher-react/src/script/ui/views/toolbars/ArrowScroll/ArrowScroll.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#10326 - upd fonts to match snapshots
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryGroup/__snapshots__/MonomerGroup.test.tsx.snap
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryList/__snapshots__/MonomerList.test.tsx.snap
Due: none

fix: cancel merge preview on hotkey press when setting atom
  packages/ketcher-react/src/script/ui/state/hotkeys.ts
Due: prettier --write

Update subscript/superscript baselines for font-size scaling behavior
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Text-Tool/text-formating.spec.ts-snapshots/Text-tools-test-cases-Applying-styles---Subscript-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Text-Tool/text-formating.spec.ts-snapshots/Text-tools-test-cases-Applying-styles---Superscript-1-chromium-linux.png
Due: none

#2950 - No warning message after entering 0 in some numeric fields in Settings
  packages/ketcher-react/src/script/ui/component/form/MeasureInput/measure-input.tsx
  packages/ketcher-react/src/script/ui/component/form/form/form.tsx
Due: prettier --write

Fixes
  ketcher-autotests/package-lock.json
  ketcher-autotests/tests/pages/molecules/canvas/StructureLibraryDialog.ts
Due: prettier --write

chore: improve styling
  packages/ketcher-react/src/script/ui/component/form/MeasureInput/measure-input.module.less
  packages/ketcher-react/src/script/ui/component/form/MeasureInput/measure-input.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Enhance setStereoLabelsToAtoms to include rgroup attachment points
  packages/ketcher-core/src/domain/entities/struct.ts
Due: prettier --write

#10326 - upd fonts to match snapshots
  packages/ketcher-macromolecules/src/components/monomerLibrary/monomerLibraryItem/styles.ts
Due: prettier --write

selection-tool.spec.ts updates
  ketcher-autotests/package-lock.json
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-horizontally-o-29cdc--structure-and-save-paste-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-horizontally-o-77359--structure-and-save-paste-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-vertically-of--3fcba--structure-and-save-paste-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Selection-Tool/selection-tool.spec.ts-snapshots/Selection-tools-Verify-flipping-vertically-of--bcfc8--structure-and-save-paste-in-MOL-V3000-format-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/flipping-horizontally-monomers-expected.ket
  ketcher-autotests/tests/test-data/KET/flipping-vertically-monomers-expected.ket
  ketcher-autotests/tests/test-data/KET/flipping-vertically-one-monomer-expected.ket
  ketcher-autotests/tests/test-data/Molfiles-V3000/flipping-horizontally-monomers-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/flipping-vertically-monomers-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/flipping-vertically-one-monomer-expected.mol
Due: prettier --write

#10470 - fixing playwrite text
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.14.0-bugs.spec.ts
Due: prettier --write

rna-library.spec.ts updates
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-CHEM-tab-check-at-Library-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-Phosphates-component-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-Sugars-component-1-chromium-linux.png
Due: prettier --write

part 1
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Add-to-Favorites-section--a53db--and-CHEMs-then-switch-to-Micro-mode-and-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-the-pop-up-window-a-b78ff-en-mode-after-clicking-the-“Open-Save”-button-2-chromium-linux.png
Due: none

macro-micro-switcher.spec.ts update
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Add-to-Favorites-section--a53db--and-CHEMs-then-switch-to-Micro-mode-and-back-1-chromium-linux.png
Due: none

#3840 fix:Updated TopToolbar.tsx so toolbar collapse logic dynamically accounts for hidden controls.
  packages/ketcher-react/src/script/ui/views/toolbars/TopToolbar/TopToolbar.tsx
Due: prettier --write

macro-micro-switcher2.spec.ts updates
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Add-to-Favorites-section-ef359-ide-Library-and-switch-to-Micro-mode-and-back-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Verify-that-the-property-of-an-atom-is-non-editable-in-macromolecules-mode-1-chromium-linux.png
Due: prettier --write

new-library.spec.ts updates
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/5-Verify-that-RNA-tab-redesign-include-change-in-the-appearance-of-library-cards-2-chromium-linux.png
Due: prettier --write

#10326- upd fonts and snapshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts-snapshots/Macro-Micro-Switcher-Check-the-pop-up-window-a-b78ff-en-mode-after-clicking-the-“Open-Save”-button-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Peptides/peptide-monomer-library.spec.ts-snapshots/Peptide-library-testing-Validate-that-Monomers-c3a4f-moved-from-favourites-when-clicking-star-sign-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/add-custom-preset.spec.ts-snapshots/Macromolecules-custom-presets-Add-new-preset-and-duplicate-it-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/add-default-presets.spec.ts-snapshots/Macromolecules-default-presets-Check-Guanine-in-default-presets-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-Check-that-After-reloading-the-pag-b4e4e--added-to-the-Favorites-section-not-disappear-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/RNA-Builder/rna-library.spec.ts-snapshots/RNA-Library-It-is-possible-to-add-remove-RNA-presets-into-the-Favourite-library-1-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/modal/components/InfoModal/InfoModal.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/components/FormulaInput/FormulaInput.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/process/Analyse/components/FormulaInput/FormulaInput.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

copy-cut-paste.spec.ts update
  ketcher-autotests/tests/specs/User-Interface/Editing-Tools/Copy-Cut-Paste/copy-cut-paste.spec.ts-snapshots/Copy-Cut-Paste-Actions-Paste-button-2-chromium-linux.png
Due: none

f1
  ketcher-autotests/tests/specs/API/view-only-mode.spec.ts-snapshots/Tests-for-API-setMolecule-getMolecule-Hotkeys--5c040-y-that-hotkey-Alt-c-triggers-Calculate-values-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-3.1.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-1-0-Case-7-Color-schema-for-13e5d-A-Library-is-like-in-the-library-for-Peptides-1-chromium-linux.png
Due: none

f2
  ketcher-autotests/tests/specs/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-3-Tooltip-not-appears-behind-monomer-icons-in-the-library-1-chromium-linux.png
Due: none

f3
  ketcher-autotests/tests/pages/molecules/canvas/StructureLibraryDialog.ts
Due: prettier --write

#1804 – Opening Ket file with 4 S-groups, last one getting lost
  packages/ketcher-core/__tests__/domain/serializers/ket/KetSerializer.test.ts
  packages/ketcher-core/__tests__/domain/serializers/ket/fixtures/toStruct.ts
  packages/ketcher-core/src/domain/serializers/ket/fromKet/moleculeToStruct.ts
Due: prettier --write

chore: fix test
  packages/ketcher-react/src/script/ui/component/form/form/form.tsx
Due: prettier --write

2947 fix: resolved issue with repeat count field
  packages/ketcher-react/src/script/ui/component/form/Input/Input.tsx
  packages/ketcher-react/src/script/ui/component/form/form/form.tsx
  packages/ketcher-react/src/script/ui/dialog/toolbox/sgroup.test.tsx
Due: prettier --write

#7863 - Allow for setting of IDT alias in the monomer creation wizard
  packages/ketcher-core/__tests__/application/editor/Editor.test.ts
  packages/ketcher-core/__tests__/utilities/monomers.test.ts
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-core/src/utilities/monomers.ts
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.constants.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.types.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizardFields.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizardFields.utils.test.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizardFields.utils.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetAttachmentPointsVisibility.test.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/RnaPresetTabs.test.tsx
Due: prettier --write

#4451 – Macro: Unable to move sequence (on Flex mode) by holding Ctrl+grabbing single monomer is impossible
  packages/ketcher-core/src/application/editor/tools/select/SelectBase.ts
Due: prettier --write

fix zoom too sharp using touchpad
  packages/ketcher-react/src/script/ui/views/components/StructEditor/StructEditor.tsx
Due: prettier --write

user-templates.spec.ts updates
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts-snapshots/Click-User-Templates-on-canvas-Check-a-warning-message-about-localStorage-to-template-window-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts-snapshots/Click-User-Templates-on-canvas-Check-a-warning-message-about-unique-name-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts-snapshots/Click-User-Templates-on-canvas-Check-scrollba-38d21-tructure-field-is-present-for-long-structures-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts-snapshots/Click-User-Templates-on-canvas-Check-scrollbar-6edb8-tructure-field-is-present-for-long-structures-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts-snapshots/Click-User-Templates-on-canvas-Empty-Molecule-name-field-validation-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts-snapshots/Click-User-Templates-on-canvas-Molecule-Name-field-length-validation-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts-snapshots/Templates-field-lenght-validations-Check-a-warning-message-about-localStorage-to-template-window-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts-snapshots/Templates-field-lenght-validations-Check-a-warning-message-about-unique-name-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts-snapshots/Templates-field-lenght-validations-Check-scrol-ab8d9-tructure-field-is-present-for-long-structures-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts-snapshots/Templates-field-lenght-validations-Empty-Molecule-name-field-validation-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts-snapshots/Templates-field-lenght-validations-Molecule-Name-field-length-validation-1-chromium-linux.png
Due: prettier --write

template-library.spec.ts updates
  ketcher-autotests/tests/specs/Templates/Template-Library/template-library.spec.ts
  ketcher-autotests/tests/specs/Templates/Template-Library/template-library.spec.ts-snapshots/Templates---Template-Library-Edit-templates---name-field-with-no-character-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Template-Library/template-library.spec.ts-snapshots/Templates---Template-Library-Edit-templates-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Template-Library/template-library.spec.ts-snapshots/Templates---Template-Library-Text-field-128-characters-limit-test-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/User-Templates/user-templates.spec.ts
Due: prettier --write
