Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

install unzip step
  .github/workflows/sonar.yml
Due: none

testing self hosted runner
  .github/workflows/sonar.yml
Due: none

- added sonar job config for github actions
  .github/workflows/sonar.yml
  sonar-project.properties
Due: none

added curl step
  .github/workflows/sonar.yml
Due: none

test test runner for sonar
  .github/workflows/sonar.yml
Due: none

added workflow dispatch to the sonar workflow
  .github/workflows/sonar.yml
Due: none

test runner
  .github/workflows/sonar.yml
Due: none

- fixed sonar workflow
  .github/workflows/sonar.yml
Due: none

- added unzip
  .github/workflows/sonar.yml
Due: none

- fixed closest atom detection
  packages/ketcher-core/src/application/editor/shared/closest.js
  packages/ketcher-react/src/script/editor/shared/closest.ts
Due: prettier --write

- added sonar quality gates to workflow
  .github/workflows/sonar.yml
Due: none

- added install jq
  .github/workflows/sonar.yml
Due: none

- changed project name
  sonar-project.properties
Due: none

- added sonar job config for github actions (#4685)
  .github/workflows/sonar.yml
  sonar-project.properties
Due: none

Third
  ketcher-autotests/tests/pages/molecules/IndigoFunctionsToolbar.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-Base-type-S-Group-creation-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-Phosphate-type-S-Group-creation-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-Sugar-Base-and-Phosphate-type-S-Group-export-to-KET-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-Sugar-Base-and-Phosphate-type-S-Group-on-Macromolecules-cavas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-Sugar-type-S-Group-creation-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/S-Groups/All types of Nucleotide Componets S-Groups.ket
  ketcher-autotests/tests/test-data/KET/S-Groups/LayoutCheck-expacted.ket
  ketcher-autotests/tests/test-data/KET/S-Groups/LayoutCheck.ket
  ketcher-autotests/tests/utils/common/loaders/waitForIndigoToLoad.ts
Due: prettier --write

4
  ketcher-autotests/tests/specs/API/api-set-get-molecule.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Check-switching-to-Macro-mo-7cef5-r-structure-with-added-Nucleotides-components-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-Sugar-Base-and-Phosphate-type-S-Group-Undo-Redo-removal-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-Sugar-Base-and-Phosphate-type-S-Group-Undo-Redo-removal-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-Sugar-Base-and-Phosphate-type-S-Group-Undo-Redo-removal-3-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Verify-that-Delete-removes--7a88f-roup-and-then-it-can-be-restored-by-Undo-Redo-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Verify-that-Delete-removes--80e4b-roup-and-then-it-can-be-restored-by-Undo-Redo-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Verify-that-Delete-removes--a1d98-roup-and-then-it-can-be-restored-by-Undo-Redo-3-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts
  ketcher-autotests/tests/specs/Templates/Functional-Groups/Functional-Group-Tools/functional-group-tools.spec.ts
  ketcher-autotests/tests/specs/Templates/Functional-Groups/functional-groups.spec.ts
  ketcher-autotests/tests/test-data/KET/S-Groups/LayoutCheck-expected.ket
  ketcher-autotests/tests/utils/common/loaders/waitForIndigoToLoad.ts
Due: prettier --write

Final
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-Sugar-Base-and-Phosphate-type-S-Group-Undo-Redo-removal-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-Sugar-Base-and-Phosphate-type-S-Group-export-to-KET-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-Sugar-Base-and-Phosphate-type-S-Group-on-Macromolecules-cavas-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-Sugar-Base-and-Phosphate-type-S-Group-on-Macromolecules-cavas-3-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Verify-appearance-of-Base-Sugar-and-Phosphate-on-canvas-in-zoomed-in-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Verify-appearance-of-Base-Sugar-and-Phosphate-on-canvas-in-zoomed-out-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Verify-that-Delete-removes--80e4b-roup-and-then-it-can-be-restored-by-Undo-Redo-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Verify-that-multiple-components-can-be-marked-in-one-structure-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/S-Groups/LayoutCheck-expected.ket
  ketcher-autotests/tests/test-data/KET/S-Groups/No Nucleotide Componets.ket
Due: prettier --write

- refactoring tests; - update screenshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Case-47-Verify-that-arr-e82dd-be-moved-on-the-canvas-in-macromolecules-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Case-53-Verify-that-und-706f2--after-changing-their-positions-in-Macro-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Case-53-Verify-that-und-f2648--after-changing-their-positions-in-Macro-mode-4-chromium-linux.png
  ketcher-autotests/tests/utils/canvas/arrow-signes/getArrow.ts
  ketcher-autotests/tests/utils/canvas/types.ts
Due: prettier --write

- update screenshot
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher2.spec.ts-snapshots/Macro-Micro-Switcher2-Case-44-Horizontal-flip-arrows-in-Micro-mode-and-switch-to-Macro-mode-2-chromium-linux.png
Due: none

Final 2
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-An-atom-is-created-with-the-name-Test-and-the-value-8-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-export-to-CDX-of-Sugar-Base-and-Phosphate-type-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-export-to-CDXML-of-Sugar-Base-and-Phosphate-type-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-export-to-CML-of-Sugar-Base-and-Phosphate-type-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-export-to-KET-of-Sugar-Base-and-Phosphate-type-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-export-to-MOL-v2000-of-Sugar-Base-and-Phosphate-type-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-export-to-MOL-v3000-of-Sugar-Base-and-Phosphate-type-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-export-to-PNG-of-Sugar-Base-and-Phosphate-type-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts-snapshots/S-Group-Properties-Checking-export-to-SVG-of-Sugar-Base-and-Phosphate-type-S-Group-1-chromium-linux.png
  ketcher-autotests/tests/test-data/CDX/S-Groups/Nucleotides and Superatoms-expected.cdx
  ketcher-autotests/tests/test-data/CDXML/S-Groups/Nucleotides and Superatoms-expected.cdxml
  ketcher-autotests/tests/test-data/CML/S-Groups/Nucleotides and Superatoms-expected.cml
  ketcher-autotests/tests/test-data/KET/S-Groups/Nucleotides and Superatoms.ket
  ketcher-autotests/tests/test-data/Molfiles-V2000/S-Groups/Nucleotides and Superatoms-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/S-Groups/Nucleotides and Superatoms-expected.mol
Due: prettier --write

Fixes
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Data-S-Group-Tool/s-group-click-atom-bond.spec.ts
Due: prettier --write

f3
  ketcher-autotests/tests/specs/API/api-set-get-molecule.spec.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/S-Group-Tool/Superatom-S-Group-Tool/superatom-s-group-tool.spec.ts
  ketcher-autotests/tests/specs/Templates/Functional-Groups/Functional-Group-Tools/functional-group-tools.spec.ts
  ketcher-autotests/tests/specs/Templates/Functional-Groups/functional-groups.spec.ts
Due: prettier --write

- add tests; - add test files; - add screenshots
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts-snapshots/Open-and-Save-file-Case-69-Import-corrupted-or-invalid-MOL-file-e-g-broken-atom-block-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts-snapshots/Open-and-Save-file-Case-70-Export-mapped-monomer-to-MOL-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts-snapshots/Open-and-Save-file-Case-71-Export-custom-unmapped-monomer-to-MOL-1-chromium-linux.png
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts-snapshots/Open-and-Save-file-Case-72-Export-structure-containing-both-mapped-and-custom-monomers-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/Different Structure Peptide-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/corrupted-atom-block.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/different-class-peptide-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/structure-containing-both-mapped-and-custom-monomers-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/structure-containing-both-mapped-and-custom-monomers.mol
Due: prettier --write

- fixed bug with leaving groups
  packages/ketcher-core/src/domain/entities/atom.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
Due: prettier --write

- fixed bug valence calculation
  packages/ketcher-core/src/domain/entities/atom.ts
  packages/ketcher-core/src/domain/entities/bond.ts
  packages/ketcher-core/src/domain/entities/struct.ts
  packages/ketcher-core/src/domain/serializers/ket/ketSerializer.ts
  packages/ketcher-react/src/script/ui/state/server/index.js
Due: prettier --write

#7371 – Mouse cursor doesn't positioned at the top left corner of preset
  packages/ketcher-macromolecules/src/components/DragGhost/DragGhost.tsx
  packages/ketcher-macromolecules/src/components/DragGhost/svg/GhostRnaPreset.tsx
Due: prettier --write

#7273 only the current active renderer can create DOM elements, eliminating the duplication issue while preserving the async retry functionality for delayed atom data loading
  packages/ketcher-core/src/application/render/renderers/MonomerToAtomBondRenderer.ts
Due: prettier --write

#6150 - Add the star atom (*) to the special nodes section of the extended table
  packages/ketcher-core/src/application/editor/actions/bond.ts
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-core/src/domain/constants/generics.ts
  packages/ketcher-react/src/script/ui/action/atoms.js
  packages/ketcher-react/src/script/ui/views/modal/components/ExtendedTable/components/GenericGroups/GenSet.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/ExtendedTable/components/GenericGroups/components/ButtonGenSet/ButtonGenSet.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- fixed getGroupIdFromAtomId
  packages/ketcher-core/src/domain/entities/struct.ts
Due: prettier --write

- applied several optimizations (need self-review)
  packages/ketcher-core/src/application/render/restruct/reatom.ts
  packages/ketcher-core/src/domain/entities/atom.ts
Due: prettier --write

- fixed undo/redo
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

- fixed build
  packages/ketcher-react/src/script/editor/tool/eraser.ts
  packages/ketcher-react/src/script/editor/tool/sgroup.ts
Due: prettier --write

#7351 - Profiling and optimization for many monomers on molecules canvas
  packages/ketcher-core/src/domain/entities/struct.ts
Due: prettier --write

- fixed bug leving groups - updated screenshots
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/Open-File/Load-Fragment/load-fragment.spec.ts-snapshots/load-as-fragment-Add-to-Canvas-srtuctures-fr-1e7e2-ort-structure-as-a-KET-file---create-KET-file-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/Atoms/atoms-settings.spec.ts-snapshots/Atom-Settings-Display-Special-nodes-Deuterium-ba8fc-Show-hydrogen-labels-Terminal-and-Hetero-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts-snapshots/Atom-Tool-Periodic-table-selecting-Atom-in-palette-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts-snapshots/Atom-Tool-Select-Bromine-and-drag-on-Benzene-ring-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts-snapshots/Atom-Tool-Select-Carbon-and-drag-on-Benzene-ring-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts-snapshots/Atom-Tool-Select-Chlorine-and-drag-on-Benzene-ring-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts-snapshots/Atom-Tool-Select-Fluorine-and-drag-on-Benzene-ring-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts-snapshots/Atom-Tool-Select-Hydrogen-and-drag-on-Benzene-ring-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts-snapshots/Atom-Tool-Select-Iodine-and-drag-on-Benzene-ring-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts-snapshots/Atom-Tool-Select-Nitrogen-and-drag-on-Benzene-ring-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts-snapshots/Atom-Tool-Select-Oxygen-and-drag-on-Benzene-ring-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts-snapshots/Atom-Tool-Select-Phosphorus-and-drag-on-Benzene-ring-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/atom-tool.spec.ts-snapshots/Atom-Tool-Select-Sulfur-and-drag-on-Benzene-ring-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-nodes-D-button-is-present-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-nodes-H--button-is-present-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-nodes-Pol-button-is-present-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-nodes-R-button-is-present-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Tool/special-nodes.spec.ts-snapshots/Special-nodes-T-button-is-present-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-reaction-queries-attributes-in-SMARTS-6c4b9-hecking-SMARTS-with-S-Group-with-two-elements-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Reaction-queries-attributes/reaction-queries-attributes.spec.ts-snapshots/Checking-reaction-queries-attributes-in-SMARTS-format-Checking-SMARTS-with-Arrow-Open-Angle-1-chromium-linux.png
  ketcher-autotests/tests/specs/Templates/Template-Manipulations/Template-manipulations.spec.ts-snapshots/Template-Manupulations-Templates---Manipulations-with-Erase-Tool-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/periodic-table.spec.ts-snapshots/Open-Ketcher-Check-atoms-Bromine-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/periodic-table.spec.ts-snapshots/Open-Ketcher-Check-atoms-Carbon-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/periodic-table.spec.ts-snapshots/Open-Ketcher-Check-atoms-Chlorine-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/periodic-table.spec.ts-snapshots/Open-Ketcher-Check-atoms-Fluorine-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/periodic-table.spec.ts-snapshots/Open-Ketcher-Check-atoms-Hydrogen-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/periodic-table.spec.ts-snapshots/Open-Ketcher-Check-atoms-Iodine-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/periodic-table.spec.ts-snapshots/Open-Ketcher-Check-atoms-Nitrogen-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/periodic-table.spec.ts-snapshots/Open-Ketcher-Check-atoms-Oxygen-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/periodic-table.spec.ts-snapshots/Open-Ketcher-Check-atoms-Phosphorus-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/periodic-table.spec.ts-snapshots/Open-Ketcher-Check-atoms-Sulfur-1-chromium-linux.png
  packages/ketcher-core/src/domain/entities/struct.ts
Due: prettier --write

#7351 – Disable failing unit test
  packages/ketcher-core/__tests__/application/editor/actions/bond.test.ts
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
Due: prettier --write

#7351 – Fix unit test failures, show loader on file loading
  packages/ketcher-core/__tests__/application/editor/actions/bond.test.ts
  packages/ketcher-core/src/application/render/restruct/resgroup.ts
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/Open.tsx
Due: prettier --write

#7351 – Add map get check
  packages/ketcher-core/src/domain/entities/functionalGroup.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
