Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix: fixed following recommendations after review
  packages/ketcher-macromolecules/src/components/modal/save/Save.tsx
Due: prettier --write

- add tests; - add test files; - add screenshots
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-14-Check-t-21e5e-rs-Bases-Phosphates-Nucleotides-and-CHEMs-6-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-14-Check-t-25912-rs-Bases-Phosphates-Nucleotides-and-CHEMs-7-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-14-Check-t-5030e-rs-Bases-Phosphates-Nucleotides-and-CHEMs-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-14-Check-t-bff14-rs-Bases-Phosphates-Nucleotides-and-CHEMs-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-14-Check-t-cd0ac-rs-Bases-Phosphates-Nucleotides-and-CHEMs-5-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-14-Check-t-cffe6-rs-Bases-Phosphates-Nucleotides-and-CHEMs-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-14-Check-t-d4ae7-rs-Bases-Phosphates-Nucleotides-and-CHEMs-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-15-Check-t-15639-rs-Bases-Phosphates-Nucleotides-and-CHEMs-7-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-15-Check-t-75ab2-rs-Bases-Phosphates-Nucleotides-and-CHEMs-5-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-15-Check-t-92ad5-rs-Bases-Phosphates-Nucleotides-and-CHEMs-6-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-15-Check-t-b772a-rs-Bases-Phosphates-Nucleotides-and-CHEMs-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-15-Check-t-bdeb3-rs-Bases-Phosphates-Nucleotides-and-CHEMs-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-15-Check-t-c599d-rs-Bases-Phosphates-Nucleotides-and-CHEMs-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-15-Check-t-f328c-rs-Bases-Phosphates-Nucleotides-and-CHEMs-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-16-Check-t-0bd51-rs-Bases-Phosphates-Nucleotides-and-CHEMs-4-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-16-Check-t-196c8-rs-Bases-Phosphates-Nucleotides-and-CHEMs-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-16-Check-t-4e067-rs-Bases-Phosphates-Nucleotides-and-CHEMs-5-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-16-Check-t-4f6c0-rs-Bases-Phosphates-Nucleotides-and-CHEMs-7-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-16-Check-t-914ab-rs-Bases-Phosphates-Nucleotides-and-CHEMs-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-16-Check-t-a923a-rs-Bases-Phosphates-Nucleotides-and-CHEMs-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Library/arrow-button-on-library-cards.spec.ts-snapshots/Arrow-button-on-Library-cards-Case-16-Check-t-ea43c-rs-Bases-Phosphates-Nucleotides-and-CHEMs-6-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/KET/rap.ket
Due: prettier --write

#7609 – Symbol uniqueness validation is missing in Monomer Wizard (no error, no highlight)
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
Due: prettier --write

- updated tests
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-1-Verify-that-ghost-image-of-AmMC6T-is-rend-d39f3-ement-after-click-but-before-drag-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-1-Verify-that-ghost-image-of-Cys-Bn-is-rend-7b893-ement-after-click-but-before-drag-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-1-Verify-that-ghost-image-of-DOTA-is-render-a0164-ement-after-click-but-before-drag-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-1-Verify-that-ghost-image-of-FMOE-is-render-f0847-ement-after-click-but-before-drag-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-1-Verify-that-ghost-image-of-MOE-A-P-is-ren-bdf80-ement-after-click-but-before-drag-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-1-Verify-that-ghost-image-of-bP-is-rendered-13f28-ement-after-click-but-before-drag-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/side-chain-connections.spec.ts-snapshots/Side-chain-connections-15-Verify-copy-paste-of-a-structure-with-side-chain-connections-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Snake-Mode/snake-bond-tool.spec.ts-snapshots/Snake-Bond-Tool-Create-snake-bond-for-mix-chains-with-nucleotides-and-peptides-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Scroll-canvas-by-mouse-wheel-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Scroll-canvas-horizontally-with-Shift-pressed-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-monomer-with-menu-buttons-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-monomer-with-menu-buttons-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-monomer-with-menu-buttons-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-monomer-with-mouse-wheel-and-CTRL-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-monomer-with-mouse-wheel-and-CTRL-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Zoom-Tool/zoom-tool.spec.ts-snapshots/Zoom-Tool-Zoom-In-Out-monomer-with-mouse-wheel-and-CTRL-3-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/AmMC6T-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/Cys_Bn-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/DOTA-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/FMOE-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/MOE(A)P-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/bP-on-canvas-validation.mol
  packages/ketcher-core/src/application/editor/EditorHistory.ts
Due: prettier --write

5
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts-snapshots/15-Verify-export-import-of-structures-containing-the-star-atom-in-the-Mol-v2000-format-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts-snapshots/16-Verify-export-import-of-structures-containing-the-star-atom-in-the-Mol-v3000-format-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts-snapshots/17-Verify-export-import-of-structures-containing-the-star-atom-in-the-SMARTS-format-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts-snapshots/18-Verify-export-import-of-structures-containing-the-star-atom-in-the-SMILES-format-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts-snapshots/19-Verify-export-import-of-structures-containing-the-star-atom-in-the-Extended-SMILES-format-1-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V2000/Star-Atom/Export to Mol-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Star-Atom/Export to Mol-expected.mol
  ketcher-autotests/tests/test-data/SMARTS/Star-Atom/Export to SMARTS-expected.smarts
  ketcher-autotests/tests/test-data/SMILES/Star-Atom/Export to Extended SMILES-expected.cxsmi
  ketcher-autotests/tests/test-data/SMILES/Star-Atom/Export to SMILES-expected.smi
  ketcher-autotests/tests/utils/files/receiveFileComparisonData.ts
Due: prettier --write

#7576 – Create monomer wizard is available for structures containing S-groups, R-groups, or extended table atoms
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

- updated tests
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-2-Verify-that-ghost-image-of-AmMC6T-is-rend-7fae8-ent-after-click-but-before-drag-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-2-Verify-that-ghost-image-of-Cys-Bn-is-rend-7afb8-ent-after-click-but-before-drag-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-2-Verify-that-ghost-image-of-DOTA-is-render-7b609-ent-after-click-but-before-drag-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-2-Verify-that-ghost-image-of-FMOE-is-render-4a497-ent-after-click-but-before-drag-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-2-Verify-that-ghost-image-of-MOE-A-P-is-ren-dca81-ent-after-click-but-before-drag-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/24-2-Verify-that-ghost-image-of-bP-is-rendered-37581-ent-after-click-but-before-drag-Snake-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Right-Click-Menu/right-click-menu-macro.spec.ts-snapshots/7-Verify-Undo-Redo-after-using-Copy-Paste-from-right-click-menu-3-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Undo-Redo/undo-redo.spec.ts-snapshots/Undo-Redo-tests-Press-Undo-Redo-after-copy-pasting-Sugar-Base-Phosphate-structure-on-canvas-1-chromium-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/AmMC6T-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/Cys_Bn-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/DOTA-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/FMOE-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/MOE(A)P-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/bP-on-canvas-validation.mol
Due: prettier --write

#7601 – Wizard allows editing atoms and bonds via right-click menu without showing an error
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/ContextMenuTrigger.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.constants.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.types.ts
Due: prettier --write

bring back html reporter
  ketcher-autotests/playwright.config.ts
Due: prettier --write

Final
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts-snapshots/22-Verify-the-star-atom-remains-visible-and-functional-after-switching-between-modes-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts-snapshots/22-Verify-the-star-atom-remains-visible-and-functional-after-switching-between-modes-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts-snapshots/22-Verify-the-star-atom-remains-visible-and-functional-after-switching-between-modes-3-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts-snapshots/23-Verify-the-alignment-of-the-star-atom-with-various-bond-types-when-connected-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts-snapshots/24-Verify-that-the-star-atom-retains-its-properties-when-the-structure-is-rotated-on-the-canvas-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts-snapshots/25-Verify-the-behavior-of-the-star-atom-when-the-structure-is-mirrored-or-flipped-horizontally-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts-snapshots/26-Verify-the-behavior-of-the-star-atom-when-the-structure-is-mirrored-or-flipped-vertically-1-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/KET/Star-Atom/LayoutValidation.ket
Due: prettier --write

Second
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Simple-Objects/simple-objects-draw-rectangle.spec.ts
  ketcher-autotests/tests/utils/clicks/index.ts
Due: prettier --write

Added the fixtures Changed the autotests
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Actions-With-Structures/Attachment-Point-Tool/attachment-point-tool.spec.ts
Due: prettier --write

Fix 2
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Molecules-editor/star-atom.spec.ts-snapshots/24-Verify-that-the-star-atom-retains-its-properties-when-the-structure-is-rotated-on-the-canvas-1-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/Molfiles-V2000/Star-Atom/Export to Mol-expected.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Star-Atom/Export to Mol-expected.mol
  ketcher-autotests/tests/utils/clicks/index.ts
Due: prettier --write

Improve visuals on validation and make uniqueness check more correct
  packages/ketcher-core/src/application/editor/Editor.ts
  packages/ketcher-react/src/script/ui/component/form/Select/Select.module.less
  packages/ketcher-react/src/script/ui/component/form/Select/Select.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/NaturalAnaloguePicker/NaturalAnaloguePicker.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#7624 – Created Sugars and Phosphates via wizard are not added to Macro library
  packages/ketcher-core/src/domain/serializers/ket/helpers.ts
  packages/ketcher-react/src/script/editor/Editor.ts
Due: prettier --write

#6747 fix: prevent R-groups from appearing on occupied attachment points
  packages/ketcher-core/src/application/editor/actions/sgroup.ts
Due: prettier --write

Improve visuals
  packages/ketcher-react/src/script/editor/Editor.ts
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.module.less
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/MonomerCreationWizard.tsx
  packages/ketcher-react/src/script/ui/views/components/MonomerCreationWizard/components/Notification/Notification.module.less
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

fix multiple report types work
  .github/workflows/run-tests-popup.yml
  .github/workflows/run-tests.yml
  ketcher-autotests/playwright.config.ts
Due: prettier --write

fix fixtures work through internal object instead of 'page'
  ketcher-autotests/tests/fixtures/canvas/flexCanvasFixtures.ts
  ketcher-autotests/tests/fixtures/canvas/moleculesCanvasFixtures.ts
  ketcher-autotests/tests/fixtures/canvas/sequenceCanvasFixtures.ts
  ketcher-autotests/tests/fixtures/canvas/snakeCanvasFixtures.ts
Due: prettier --write

remove default 'page' usage
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts
Due: prettier --write

remove missed default 'page' usage
  ketcher-autotests/tests/specs/File-Management/Open-And-Save-Files/MOL-Files/mol-files.spec.ts
Due: prettier --write

fix 3
  ketcher-autotests/tests/pages/macromolecules/Library.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/pages/macromolecules/MacromoleculesTopToolbar.ts
Due: prettier --write

#7512 - Library doesn't fit view port in Sequence mode in Popup mode
  example/src/index.css
  packages/ketcher-macromolecules/src/Editor.tsx
  packages/ketcher-macromolecules/src/components/Layout/Layout.tsx
  packages/ketcher-macromolecules/src/components/menu/subMenu/SubMenu.tsx
  packages/ketcher-macromolecules/src/components/menu/subMenu/styles.ts
  packages/ketcher-macromolecules/src/components/monomerLibrary/styles.ts
  packages/ketcher-react/src/script/index.ts
  packages/ketcher-react/src/script/ui/views/toolbars/ArrowScroll/ArrowScroll.module.less
  packages/ketcher-react/src/script/ui/views/toolbars/ArrowScroll/ArrowScroll.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/LeftToolbar/LeftToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/RightToolbar/RightToolbar.tsx
  packages/ketcher-react/src/script/ui/views/toolbars/ToolbarGroupItem/ToolbarMultiToolItem/usePortalStyle.ts
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

- fixed tests
  ketcher-autotests/tests/pages/common/CommonLeftToolbar.ts
Due: prettier --write

attempt to save solution artifacts after run
  .github/workflows/run-tests-popup.yml
  .github/workflows/run-tests.yml
Due: none

Fix 4
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-0-0-Case-7-Bond-length-is-d-5ef40-onomers-loaded-from-HELM-and-from-the-library-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-5-Monomer-framing-should-disappear-if-monomer-selected-but-not-hovered-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.3.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-3-0-Case-5-Monomer-framing-should-disappear-if-monomer-selected-but-not-hovered-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.4.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.4.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-4-0-Case-27-System-not-remo-27751-etcher-in-embedded-mode-custom-style-iframe-1-chromium-popup-linux.png
Due: prettier --write

minor upds
  .github/workflows/run-tests-popup.yml
  .github/workflows/run-tests.yml
Due: none

minor uos
  .github/workflows/run-tests-popup.yml
  .github/workflows/run-tests.yml
Due: none

upd 3
  .github/workflows/run-tests-popup.yml
  .github/workflows/run-tests.yml
Due: none

new-library.spec.ts done
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-1-Check-DOTA-monomer-s-ghost-image-initiall-a6790-s-canvas-scale-while-hovered-over-Flex-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/21-2-Check-MOE-A-P-monomer-s-ghost-image-initi-4dbdf--canvas-scale-while-hovered-over-Snake-mode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/23-1-Verify-that-dropped-Cys-Bn-appears-exactly-at-the-cursor-location-on-the-canvas-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/23-1-Verify-that-dropped-MOE-A-P-appears-exactly-at-the-cursor-location-on-the-canvas-Flex-mode-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/32-Verify-that-dropped-AmMC6T-monomer-visible-in-Sequence-mode-and-in-Micromode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/32-Verify-that-dropped-Cys-Bn-monomer-visible-in-Sequence-mode-and-in-Micromode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/32-Verify-that-dropped-DOTA-monomer-visible-in-Sequence-mode-and-in-Micromode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/32-Verify-that-dropped-FMOE-monomer-visible-in-Sequence-mode-and-in-Micromode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/32-Verify-that-dropped-MOE-A-P-monomer-visible-in-Sequence-mode-and-in-Micromode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/32-Verify-that-dropped-bP-monomer-visible-in-Sequence-mode-and-in-Micromode-2-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-AmMC6T-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-Cys-Bn-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-DOTA-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-FMOE-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-MOE-A-P-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Library/new-library.spec.ts-snapshots/33-Verify-that-dropped-bP-can-be-calculated-by-using-Calculate-Properties-button-1-chromium-linux.png
  ketcher-autotests/tests/test-data/KET/Library/MOE(A)P-on-canvas-validation.ket
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/AmMC6T-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/Cys_Bn-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/DOTA-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/FMOE-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/MOE(A)P-on-canvas-validation.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/Library/bP-on-canvas-validation.mol
Due: none

ambiguous-monomer-add-to-canvas.spec.ts done
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-1-X-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-10-Y-ambiguous-DNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-11-N-ambiguous-RNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-12-B-ambiguous-RNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-13-H-ambiguous-RNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-14-K-ambiguous-RNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-15-W-ambiguous-RNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-16-Y-ambiguous-RNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-17-M-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-18-R-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-19-S-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-2-B-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-20-V-ambiguous-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-3-J-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-4-Z-ambiguous-peptide-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-5-N-ambiguous-DNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-6-B-ambiguous-DNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-7-H-ambiguous-DNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-8-K-ambiguous-DNA-base-1-chromium-linux.png
  ketcher-autotests/tests/specs/Macromolecule-editor/Ambiguous-Monomers/ambiguous-monomer-add-to-canvas.spec.ts-snapshots/Put-ambiguous-monomer-on-the-canvas-from-library-9-W-ambiguous-DNA-base-1-chromium-linux.png
Due: none

- removed smooth open menu
  packages/ketcher-macromolecules/src/components/menu/subMenu/SubMenu.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
