Repository epam/ketcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

Clean up quotation marks in mol file
  ketcher-autotests/tests/test-data/Molfiles-V3000/one-unknown-superatom-expanded.mol
Due: none

Remove extra quotes from one-functional-group-expanded.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/one-functional-group-expanded.mol
Due: none

Update functional-groups-expanded-contracted.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/functional-groups-expanded-contracted.mol
Due: none

f1
  ketcher-autotests/tests/specs/API/api-set-get-molecule.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/specs/Templates/Functional-Groups/functional-groups.spec.ts
Due: prettier --write

f7
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-preview/monomer-preview.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-preview/monomer-preview.spec.ts-snapshots/4-Check-that-the-properties-arranged-in-the-order-1-chromium-popup-linux.png
  ketcher-autotests/tests/utils/clicks/index.ts
Due: prettier --write

Disable "Change direction" and "Attach S-Group..." for bonds between monomers (#8604)
  ketcher-autotests/tests/pages/molecules/canvas/CreateMonomerDialog.ts
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.0.0-bugs.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts-snapshots/22-Check-that-hovering-over-R1-for-sugars-give-5-on-the-tooltip-preview-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts-snapshots/22-Check-that-hovering-over-R1-for-sugars-give-5-on-the-tooltip-preview-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts-snapshots/23-Check-that-hovering-over-R1-for-nucleotides-give-5-on-the-tooltip-preview-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts-snapshots/23-Check-that-hovering-over-R1-for-nucleotides-give-5-on-the-tooltip-preview-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts-snapshots/23-Check-that-hovering-over-R1-for-phosphates-give-5-on-the-tooltip-preview-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-creation/monomer-creation5.spec.ts-snapshots/23-Check-that-hovering-over-R1-for-phosphates-give-5-on-the-tooltip-preview-2-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-preview/monomer-preview.spec.ts
  ketcher-autotests/tests/specs/Chromium-popup/Monomer-preview/monomer-preview.spec.ts-snapshots/4-Check-that-the-properties-arranged-in-the-order-1-chromium-popup-linux.png
  ketcher-autotests/tests/utils/clicks/index.ts
  packages/ketcher-macromolecules/src/components/TopMenuComponent/TopMenuComponent.tsx
  packages/ketcher-react/src/script/ui/views/components/ContextMenu/menuItems/BondMenuItems.tsx
  packages/ketcher-react/src/script/ui/views/components/StructEditor/InfoTooltip.tsx
Due: prettier --write

Update one-unknown-superatom-expanded.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/one-unknown-superatom-expanded.mol
Due: none

Remove extraneous quotes from mol file
  ketcher-autotests/tests/test-data/Molfiles-V2000/functional-groups-expanded-contracted.mol
Due: none

Update one-unknown-superatom-contracted.mol
  ketcher-autotests/tests/test-data/Molfiles-V2000/one-unknown-superatom-contracted.mol
Due: none

Remove unnecessary quotes from mol file
  ketcher-autotests/tests/test-data/Molfiles-V2000/unknown-superatom-expanded-contracted.mol
Due: none

Remove unnecessary characters from MOL file
  ketcher-autotests/tests/test-data/Molfiles-V2000/one-functional-group-expanded.mol
Due: none

Clean up quotation marks in mol file
  ketcher-autotests/tests/test-data/Molfiles-V2000/one-functional-group-contracted.mol
Due: none

Clean up quotation marks in mol file
  ketcher-autotests/tests/test-data/Molfiles-V3000/one-functional-group-contracted.mol
Due: none

Remove extraneous quotes from mol file
  ketcher-autotests/tests/test-data/Molfiles-V3000/one-unknown-superatom-contracted.mol
Due: none

Update unknown-superatom-expanded-contracted.mol
  ketcher-autotests/tests/test-data/Molfiles-V3000/unknown-superatom-expanded-contracted.mol
Due: none

f1
  ketcher-autotests/tests/specs/API/api-set-get-molecule.spec.ts
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/specs/Templates/Functional-Groups/functional-groups.spec.ts
Due: prettier --write

f2
  ketcher-autotests/tests/specs/Macromolecule-editor/Macro-Micro-Switcher/macro-micro-switcher.spec.ts
  ketcher-autotests/tests/specs/Reagents/reagents-molecule-above-arrow.spec.ts-snapshots/Reagents-molecule-above-arrow-Open-File-CDXML-with-reagent-NH3-above-arrow-1-chromium-linux.png
Due: prettier --write

- fixed tests
  ketcher-autotests/tests/specs/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-29-Correct-R1-attachment-atom-for-natural-Ribose-R-in-the-library-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-3.2.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-3-2-0-Case-29-Correct-R1-attachment-atom-for-natural-Ribose-R-in-the-library-1-chromium-popup-linux.png
  ketcher-autotests/tests/test-data/KET/Antisense-Chains/Antisense-expected.mol
Due: none

#8590 Refactor: Remove all methods from SmilesFormatter class except one - isContainsCoordinates (#8610)
  packages/ketcher-core/src/application/formatters/smilesFormatter.ts
  packages/ketcher-core/src/domain/serializers/index.ts
  packages/ketcher-core/src/domain/serializers/smi/__tests__/dfs.test.js
  packages/ketcher-core/src/domain/serializers/smi/__tests__/smiles.test.js
  packages/ketcher-core/src/domain/serializers/smi/cis_trans.js
  packages/ketcher-core/src/domain/serializers/smi/dfs.js
  packages/ketcher-core/src/domain/serializers/smi/index.ts
  packages/ketcher-core/src/domain/serializers/smi/smi.types.ts
  packages/ketcher-core/src/domain/serializers/smi/smiSerializer.ts
  packages/ketcher-core/src/domain/serializers/smi/smiles.js
  packages/ketcher-core/src/domain/serializers/smi/stereocenters.js
Due: prettier --write

#8567 Refactor: Deprecated APIs should not be used (part 5) (#8569)
  packages/ketcher-react/src/script/editor/tool/templatePreview.ts
Due: prettier --write

fix: Selection tool icon open dropdown menu as in Micro mode
  packages/ketcher-macromolecules/src/components/LeftMenuComponent/LeftMenuComponent.tsx
Due: prettier --write

fix: Delete option is available when right-clicking on a bond in macro mode
  packages/ketcher-macromolecules/src/components/contextMenu/SelectedMonomersContextMenu/SelectedMonomersContextMenu.tsx
Due: prettier --write

test: update snapshots
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-the-context-menu-with-the-Edit-At-050d2--appears-when-the-user-right-clicks-on-a-bond-1-chromium-linux.png
Due: none

f1
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-23-Set-a-new-name-for-the-button-ACS-style-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-8-Default-values--ae5ab--for-bond-not-corrupted-and-not-become-wrong-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-23-Set-a-new-name-for-the-button-ACS-style-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-8-Default-values--ae5ab--for-bond-not-corrupted-and-not-become-wrong-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Enhanced-Stereochemistry/enhanced-stereochemistry.spec.ts-snapshots/Enhanced-Stereochemistry-Tool-Label-display-styles---IUPAC-style-selected-by-default-in-settings-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-ACS-Style-button-and-setting-after-clicking-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-ACS-Style-button-and-setting-after-clicking-2-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-default-settings-after-clicking-ACS-Style-button-and-after-that-on-Reset-2-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-default-settings-after-clicking-ACS-Style-button-and-after-that-on-Reset-3-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/Atoms/atoms-settings.spec.ts-snapshots/Atom-Settings-”Terminal-and-Hetero”-is-set-for-default-for-“Show-hydrogen-labels”-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/Bonds/bonds-settings.spec.ts-snapshots/Bonds-Settings-Verify-Bonds-setting-menu-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/General/default-settings-verification.spec.ts-snapshots/General-Settings-Verify-value-with-up-to-2-decimal-places-cm-in-the-setting-Sub-font-size-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/General/default-settings-verification.spec.ts-snapshots/Verify-Ketcher-settings-panel-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Add-incorrect-Isotope-in-modal-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Add-incorrect-negative-Isotope-in-modal-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Add-to-canvas---Generic-Groups-and-click-on-it-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Change-Atom-Label-on-structure-to-incorrect-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Check-Atom-Properties-modal-window-by-double-click-on-atom-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Check-Atom-Properties-modal-window-by-hovering-and-press-hotkey-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Dialog---Atom-type---List-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Dialog---Atom-type---Special-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Dialog---Number-of-Atom-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Dialog---Number-of-Atom-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Dialog---Number-of-Atom-3-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Double-click-on-the-selected-atom-do-not-create-error-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Type-in-the-Charge-field-any-incorrect-data-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Type-in-the-Charge-field-number-bigger-than-maximum-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-f-c9bd1-all-query-specific-attributes-to-custom-query-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-f-dfb33-ion-count-and-ring-bond-count-to-custom-query-1-chromium-linux.png
  ketcher-autotests/tests/specs/User-Interface/Toolbar/toolbar.spec.ts-snapshots/Toolbar-palette-and-settings-Settings-UI-verification-1-chromium-linux.png
Due: none

f2
  ketcher-autotests/tests/pages/molecules/canvas/AtomPropertiesDialog.ts
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Visual-check/visual-check.spec.ts
Due: prettier --write

fix: Context menu remains visible after creating cyclic structure via right-click menu (#8601)
  packages/ketcher-macromolecules/src/components/contextMenu/SelectedMonomersContextMenu/SelectedMonomersContextMenu.tsx
Due: prettier --write

#7326 - Preview: Delete option is unavailable when right-clicking on a bond in macro mode (#8636)
  ketcher-autotests/tests/specs/Macromolecule-editor/Polymer-Bond-Tool/polymer-bond-tool.spec.ts-snapshots/Verify-that-the-context-menu-with-the-Edit-At-050d2--appears-when-the-user-right-clicks-on-a-bond-1-chromium-linux.png
  packages/ketcher-macromolecules/src/components/contextMenu/SelectedMonomersContextMenu/SelectedMonomersContextMenu.tsx
Due: prettier --write

fix: Selection tool icon open dropdown menu as in Micro mode (#8621)
  packages/ketcher-macromolecules/src/components/LeftMenuComponent/LeftMenuComponent.tsx
Due: prettier --write

#8612 Refactor: Prefer tag over ARIA role (part 4) (#8615)
  ketcher-autotests/tests/pages/molecules/canvas/AtomPropertiesDialog.ts
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-23-Set-a-new-name-for-the-button-ACS-style-1-chromium-linux.png
  ketcher-autotests/tests/specs/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-8-Default-values--ae5ab--for-bond-not-corrupted-and-not-become-wrong-1-chromium-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-23-Set-a-new-name-for-the-button-ACS-style-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Chromium-popup/Bugs/ketcher-2.26.0-bugs.spec.ts-snapshots/Ketcher-bugs-in-2-26-0-Case-8-Default-values--ae5ab--for-bond-not-corrupted-and-not-become-wrong-1-chromium-popup-linux.png
  ketcher-autotests/tests/specs/Indigo-Tools/Enhanced-Stereochemistry/enhanced-stereochemistry.spec.ts-snapshots/Enhanced-Stereochemistry-Tool-Label-display-styles---IUPAC-style-selected-by-default-in-settings-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-ACS-Style-button-and-setting-after-clicking-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-ACS-Style-button-and-setting-after-clicking-2-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-default-settings-after-clicking-ACS-Style-button-and-after-that-on-Reset-2-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/ACS Style/acs-style-settings.spec.ts-snapshots/ACS-Style-Settings-Verify-default-settings-after-clicking-ACS-Style-button-and-after-that-on-Reset-3-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/Atoms/atoms-settings.spec.ts-snapshots/Atom-Settings-”Terminal-and-Hetero”-is-set-for-default-for-“Show-hydrogen-labels”-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/Bonds/bonds-settings.spec.ts-snapshots/Bonds-Settings-Verify-Bonds-setting-menu-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/General/default-settings-verification.spec.ts-snapshots/General-Settings-Verify-value-with-up-to-2-decimal-places-cm-in-the-setting-Sub-font-size-1-chromium-linux.png
  ketcher-autotests/tests/specs/Settings/General/default-settings-verification.spec.ts-snapshots/Verify-Ketcher-settings-panel-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Add-incorrect-Isotope-in-modal-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Add-incorrect-negative-Isotope-in-modal-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Add-to-canvas---Generic-Groups-and-click-on-it-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Change-Atom-Label-on-structure-to-incorrect-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Check-Atom-Properties-modal-window-by-double-click-on-atom-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Check-Atom-Properties-modal-window-by-hovering-and-press-hotkey-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Dialog---Atom-type---List-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Dialog---Atom-type---Special-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Dialog---Number-of-Atom-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Dialog---Number-of-Atom-2-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Dialog---Number-of-Atom-3-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Double-click-on-the-selected-atom-do-not-create-error-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Type-in-the-Charge-field-any-incorrect-data-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/Atom/Atom-Properties/atom-properties.spec.ts-snapshots/Atom-Properties-Type-in-the-Charge-field-number-bigger-than-maximum-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-f-c9bd1-all-query-specific-attributes-to-custom-query-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Query-specific-attributes/query-specific-attributes.spec.ts-snapshots/Checking-query-specific-attributes-in-SMARTS-f-dfb33-ion-count-and-ring-bond-count-to-custom-query-1-chromium-linux.png
  ketcher-autotests/tests/specs/Structure-Creating-&-Editing/SMARTS-attributes/Visual-check/visual-check.spec.ts
  ketcher-autotests/tests/specs/User-Interface/Toolbar/toolbar.spec.ts-snapshots/Toolbar-palette-and-settings-Settings-UI-verification-1-chromium-linux.png
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/OpenOptions.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/document/Open/components/OpenOptions.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Accordion/Accordion.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/meta/Settings/Accordion/Accordion.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.module.less
  packages/ketcher-react/src/script/ui/views/modal/components/toolbox/Atom/Atom.tsx
Due: prettier --write, stylelint --formatter verbose --fix --allow-empty-input

#8504 Refactor: Variables are missing in props validation (let's rewrite JS to TS) 7 (#8616)
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/TypeChoice/TypeChoice.tsx
Due: prettier --write

#8619 Refactor: Expected a for-of loop instead of a for loop with this simple iteration (part 4) (#8620)
  packages/ketcher-core/src/domain/serializers/mol/utils.js
Due: prettier --write

#8563 Refactor: Mark the props of the component as read-only (#8622)
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/AtomInfo/AtomInfo.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/PeriodTable/components/ElementsTable/components/OutinerRow.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/meta/About/About.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Check/components/ErrorsCheck.tsx
  packages/ketcher-react/src/script/ui/views/modal/components/process/Recognize/Recognize.tsx
Due: prettier --write

#8626 Refactor: Variables are missing in props validation (let's rewrite JS to TS) 18 (#8632)
  packages/ketcher-react/src/script/ui/component/form/buttonlist.tsx
Due: prettier --write

#8627 Refactor: Variables are missing in props validation (let's rewrite JS to TS) 19 (#8633)
  packages/ketcher-react/src/script/ui/component/form/combobox/__snapshots__/combobox.test.tsx.snap
  packages/ketcher-react/src/script/ui/component/form/combobox/combobox.test.tsx
  packages/ketcher-react/src/script/ui/component/form/combobox/combobox.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  stylelint --formatter verbose --fix --allow-empty-input: any of: *.{css,less}
